BODY {
	MARGIN-TOP: 0px; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
password {
	FONT-SIZE: 12px
}
.s02 {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge; FONT-SIZE: 9pt; BORDER-LEFT: #ffffff 1px ridge; BORDER-BOTTOM: 1px ridge; BACKGROUND-COLOR: #cccccc
}
A {
	COLOR: #0f0cbf; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.a1 {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.a1:hover {
	COLOR: #eeeeee; TEXT-DECORATION: underline
}
A.noline {
	TEXT-DECORATION: none
}
A.Black {
	COLOR: #000000; TEXT-DECORATION: none
}
A.Black:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.White {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.White:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: ו
}
.topmidcol UL {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FLOAT: left; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; PADDING-TOP: 0px
}
.topmidcol LI {
	PADDING-LEFT: 0px; LINE-HEIGHT: 157%; LIST-STYLE-TYPE: none
}
.date {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; FLOAT: right; COLOR: #808080; MARGIN-RIGHT: 5px; TEXT-ALIGN: right
}
.date LI {
	LINE-HEIGHT: 180%
}
#readTopmain {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 0px solid; FONT-SIZE: 14px; MARGIN: 0px auto; BORDER-LEFT: gray 0px solid; WIDTH: 760px; BORDER-BOTTOM: gray 1px solid; WORD-WRAP: break-word
}
.topmain {
	CLEAR: both; FONT-SIZE: 14px; MARGIN: 0px auto; WIDTH: 760px
}
.topleftcol {
	FLOAT: left; WIDTH: 255px
}
.topmidcol {
	FLOAT: left; MARGIN-LEFT: 4px; WIDTH: 327px; LINE-HEIGHT: 140%; TEXT-ALIGN: left
}
.toprightcol {
	FLOAT: right; WIDTH: 170px
}
.main {
	MARGIN-TOP: 5px; FONT-SIZE: 14px; MARGIN-BOTTOM: 5px; WIDTH: 760px
}
.leftcol {
	FLOAT: left; WIDTH: 150px; BACKGROUND-COLOR: #eaeaea
}
.midcol {
	FLOAT: left; MARGIN-LEFT: 4px; WIDTH: 400px; LINE-HEIGHT: 140%
}
.rightcol {
	FLOAT: right; WIDTH: 170px; BACKGROUND-COLOR: #eff5f8
}
.graybox {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 3px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100%; BORDER-BOTTOM: #cccccc 1px solid
}
.spacer10 {
	HEIGHT: 10px
}
.spacer3 {
	HEIGHT: 3px
}
.redline {
	HEIGHT: 3px; BACKGROUND-COLOR: #d00000
}
.line760 {
	CLEAR: both; HEIGHT: 3px
}
.topbar {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; PADDING-TOP: 2px; BACKGROUND-COLOR: #ff6100; TEXT-ALIGN: left
}
.rightbar {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; PADDING-TOP: 5px; HEIGHT: 22px
}
.rightbars {
	MARGIN-TOP: 5px; FONT-SIZE: 12px; MARGIN-BOTTOM: 5px; WIDTH: 100%; HEIGHT: 22px; BACKGROUND-COLOR: #e0e0e0; TEXT-ALIGN: center
}
.bluedbline {
	BACKGROUND-IMAGE: url(../images/dbline_03.gif)
}
.yellodbline {
	BACKGROUND-IMAGE: url(../images/dbline_06.gif)
}
.greendbline {
	BACKGROUND-IMAGE: url(../images/dbline_08.gif)
}
.brownbline {
	BACKGROUND-IMAGE: url(../images/dbline_10.gif)
}
.dblinebar {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; WIDTH: 100%; HEIGHT: 14px
}
.dblinebar H1 {
	PADDING-LEFT: 10px; FONT-SIZE: 14px; FLOAT: left; MARGIN: 0px; WIDTH: 75px
}
.dblinebar H2 {
	MARGIN-TOP: -2px; FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 200px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 18px
}
.bluebar {
	COLOR: #ffffff; LINE-HEIGHT: 120%; HEIGHT: 18px; BACKGROUND-COLOR: #e0e0e0
}
.bluebar H1 {
	FONT-SIZE: 12px; FLOAT: left; MARGIN: 0px; WIDTH: 83px; PADDING-TOP: 2px; HEIGHT: 18px; BACKGROUND-COLOR: #5f07f7; TEXT-ALIGN: center
}
.redbar {
	COLOR: #ffffff; LINE-HEIGHT: 120%; HEIGHT: 18px; BACKGROUND-COLOR: #e0e0e0
}
.redbar H1 {
	FONT-SIZE: 12px; FLOAT: left; MARGIN: 0px; WIDTH: 83px; PADDING-TOP: 2px; HEIGHT: 18px; BACKGROUND-COLOR: #ff3d00; TEXT-ALIGN: center
}
.yellowbar {
	COLOR: #ffffff; LINE-HEIGHT: 120%; HEIGHT: 18px; BACKGROUND-COLOR: #e0e0e0
}
.yellowbar H1 {
	FONT-SIZE: 12px; FLOAT: left; MARGIN: 0px; WIDTH: 83px; PADDING-TOP: 2px; HEIGHT: 18px; BACKGROUND-COLOR: #ff9900; TEXT-ALIGN: center
}
.greenbar {
	COLOR: #ffffff; LINE-HEIGHT: 120%; HEIGHT: 18px; BACKGROUND-COLOR: #e0e0e0
}
.greenbar H1 {
	FONT-SIZE: 12px; FLOAT: left; MARGIN: 0px; WIDTH: 83px; PADDING-TOP: 2px; HEIGHT: 18px; BACKGROUND-COLOR: #40cb34; TEXT-ALIGN: center
}
.divSmallFont {
	FONT-SIZE: 12px
}
.classTitle {
	MARGIN-TOP: 10px; FONT-SIZE: 12px; FLOAT: none; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 10px; WIDTH: 100%; COLOR: #c60800; TEXT-ALIGN: left
}
.autoList {
	WIDTH: 405px
}
.autoList LI {
	CLEAR: both; LIST-STYLE-TYPE: none
}
.autoList DIV.item {
	FLOAT: left; MARGIN: 0px 0px 0px 5px; WIDTH: 300px; LINE-HEIGHT: 150%; TEXT-ALIGN: left
}
.autolist DIV.date {
	FLOAT: left; WIDTH: 100px; TEXT-ALIGN: left
}
LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: none
}
.FocusPicture {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 5px; TEXT-ALIGN: center
}
.FocusPictureTitle {
	MARGIN-TOP: 5px; FONT-SIZE: 12px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 3px; LINE-HEIGHT: 150%; TEXT-ALIGN: left
}
.picture8060 {
	FONT-SIZE: 12px; MARGIN: 10px 0px 10px 10px; LINE-HEIGHT: 180%; TEXT-ALIGN: left
}
.picture12090 {
	MARGIN: 10px 0px 0px; TEXT-ALIGN: center
}
.picture12090Title {
	MARGIN: 5px 5px 5px 0px; TEXT-ALIGN: center
}
.picture12090Title LI {
	FONT-SIZE: 12px; LINE-HEIGHT: 180%
}
.spanMessagePre {
	DISPLAY: none
}
.picturearea {
	BORDER-RIGHT: #cbcbcb 1px solid; BORDER-TOP: #cbcbcb 1px solid; FLOAT: left; MARGIN: 0px 0px 0px 3px; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 246px; BORDER-BOTTOM: #cbcbcb 1px solid; HEIGHT: 237px; TEXT-ALIGN: center
}
.picture {
	MARGIN: 3px; WIDTH: 240px; HEIGHT: 180px
}
.TitleMark {
	FLOAT: left; MARGIN: 3px 3px 3px 0px; WIDTH: 20px; HEIGHT: 42px
}
.Title {
	FLOAT: left; WIDTH: 220px; PADDING-TOP: 8px; HEIGHT: 20px; TEXT-ALIGN: left
}
.spacer {
	HEIGHT: 5px
}
.bar {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #4a4a4a; PADDING-TOP: 3px; BACKGROUND-COLOR: #b8d9ea
}
.graybar {
	FONT-SIZE: 12px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BACKGROUND-COLOR: #f1f1f1
}
.box {
	BORDER-RIGHT: #d2d7da 1px solid; BORDER-TOP: #d2d7da 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #d2d7da 1px solid; WIDTH: 150px; BORDER-BOTTOM: #d2d7da 1px solid; HEIGHT: 14px; BACKGROUND-COLOR: white
}
A.bigfont {
	FONT-SIZE: 14px
}
.rightcolbar {
	MARGIN-TOP: 5px; FONT-SIZE: 12px; MARGIN-BOTTOM: 5px; COLOR: black; PADDING-TOP: 5px; HEIGHT: 20px; BACKGROUND-COLOR: #b8d9ea
}
A.menu {
	COLOR: black; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: red
}
UL.Form_Advance {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.Form_Advance LI {
	CLEAR: both; MARGIN-BOTTOM: 0px; WIDTH: 100%
}
UL.Form_Advance LI.Seperator {
	CLEAR: both; BORDER-TOP: #eee 1px solid; FONT-SIZE: 0px; WIDTH: 100%; HEIGHT: 0px
}
UL.Form_Advance LI.Seperator HR {
	DISPLAY: none
}
UL.Form_Advance LI DIV.Left {
	FLOAT: left
}
UL.Form_Advance LI DIV.Middle {
	FLOAT: left
}
UL.Form_Advance LI DIV.Right {
	FLOAT: right
}
.tdphoto {
	BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid; WIDTH: 133px; BORDER-BOTTOM: #c9c9c9 1px solid; HEIGHT: 103px; BACKGROUND-COLOR: #ffffff
}
.tdphoto1 {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
.tdphoto2 {
	FONT-SIZE: 12px; COLOR: #666; PADDING-TOP: 4px
}
.tablephoto {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
.tablephoto1 {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 7px 0px 0px; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
A.classTitle:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.classTitle:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.classTitle:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.classTitle:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.photoTitle:link {
	COLOR: #0f0cbf; TEXT-DECORATION: none
}
A.photoTitle:visited {
	COLOR: #0f0cbf; TEXT-DECORATION: none
}
A.photoTitle:active {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.photoTitle:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
