.commentRow1{
 background-color:#f1f1f1;
}                      
.commenttitle{
 background-color:#f1f1f1;
font-size:14px;
border-color:#cccccc;
border-style:solid;
border-width:1px;
}
.sub{
font-size:14px;
padding:8px;
border-color:#cccccc;
border-style:solid;
border-width:1px;
}