BODY {
	SCROLLBAR-FACE-COLOR: #086db5; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #006000; SCROLLBAR-3DLIGHT-COLOR: #005100; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #e0e0e0; SCROLLBAR-DARKSHADOW-COLOR: #004000
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 140%
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #0000cc; LINE-HEIGHT: 150%; FONT-FAMILY: ו; TEXT-ALIGN: center
}
.myinput {
	BORDER-RIGHT: black 1px inset; BORDER-TOP: #cccccc 1px inset; BORDER-LEFT: #cccccc 1px inset; BORDER-BOTTOM: black 1px inset
}
.myinput3 {
	BORDER-RIGHT: #78b471 1px solid; BORDER-TOP: #78b471 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #78b471 1px solid; BORDER-BOTTOM: #78b471 1px solid
}
.myinput2 {
	BORDER-RIGHT: #096eb2 1px solid; BORDER-TOP: #096eb2 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #096eb2 1px solid; BORDER-BOTTOM: #096eb2 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #8dc9f1
}
.myselect {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #ebebeb
}
.myinput4 {
	BORDER-RIGHT: #ffffff thin; BORDER-TOP: #ffffff thin; FONT-SIZE: 12px; BORDER-LEFT: #ffffff thin; COLOR: #ff0000; BORDER-BOTTOM: #ffffff thin; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.mytextarea {
	BORDER-RIGHT: #096eb2 1px solid; BORDER-TOP: #096eb2 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #096eb2 1px solid; LINE-HEIGHT: 150%; BORDER-BOTTOM: #096eb2 1px solid; BACKGROUND-COLOR: #8dc9f1
}
.myimg {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.ln120 {
	LINE-HEIGHT: 150%
}
.b9t {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Tahoma
}
.content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.8264g {
	COLOR: #ffffff
}
.tbleline {
	BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #666666; BORDER-LEFT: #666666 1px solid; BORDER-TOP-COLOR: #666666; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #666666
}
.f14black {
	FONT-SIZE: 14px; COLOR: #000000
}
