/* CSS Document */
body{ margin:0; padding:0; font-size:12px;}

ul,li{ margin:0; padding:0; list-style:none;}

form,select{ margin:0; padding:0;}

.newsNavOn{ width:70px; height:23px; background:url(../images/on.jpg) no-repeat; float:left; text-align:center; padding-top:6px; margin-left:-1px; cursor:pointer;}
.newsNavdnow{width:70px; height:23px; background:url(../images/dnow.jpg) no-repeat; float:left; text-align:center; padding-top:6px;margin-left:-1px;cursor:pointer;}

.clear{ clear:both;}

.index_wrap{ width:776px; margin:auto;}

.index_head{ text-align:left;}

.indexAd1{ margin-top:4px; border:1px solid #CCC;}

.indexAd2{margin-top:4px; border:1px solid #CCC;}

.indexAd3{ margin-top:4px;}

.indexAd4{ margin-top:4px;border:1px solid #CCC;}

.indexAd4 img{ margin-bottom:-4px; padding-bottom:-4px;}

.indexAd5{ margin-top:4px;border:1px solid #CCC;}

.indexAd6{ margin-top:4px;border:1px solid #CCC;}

.indexAd7{ margin-top:4px;border:1px solid #CCC;}

.indexAd8{ margin-top:4px;border:1px solid #CCC;}

.indexAd9{ margin-top:4px;border:1px solid #CCC;}

.indexAd10{ margin-top:4px;border:1px solid #CCC;}

.indexImages{ margin-top:4px;border:1px solid #CCC; background:#F1F1F1;}

.index_1{ margin-top:4px;}

.index_1_height{ border:1px solid #CCC; background:#F4F4F4; height:110px;}

.index_1_height li{ margin:7px 6px 5px 6px;}

.index_1_left{ float:left; width:182px;}

.index_1_mid{float:left; width:398px; margin-left:6px;}

.index_1_mid_height{border:1px solid #ccc; background:#f4f4f4;}

.index_1_right{ float:right; width:183px;}

.index_2{ margin-top:4px;}

.index_2_height{ border:1px solid #CCC; background:#F4F4F4; padding:0 0 3px 0;}

.index_2_left{ float:left; width:182px;}

.index_2_left_AD{ border-bottom:1px solid #CCC; padding:3px;}

.index_2_left_AD2{padding:3px; text-align:center;}

.index_2_left_1{ border-bottom:1px solid #CCC; padding:2px 0 4px 0;}

.index_2_left_1 li{margin:5px 4px 0px 4px;}

.index_2_left_2 li{margin:5px 4px 0px 4px;}

.index_2_mid{float:left; width:398px; margin-left:6px; border:1px solid #CCC; background:#F4F4F4;}

.index_2_mid_1{ clear:both;}

.index_2_mid_1_1{ text-align:center; margin:5px 0 0 0;}

.index_2_mid_1_2{ text-align:center;margin:5px 0 0 0;}

.index_2_mid_1_3{ text-align:center;margin:5px 0 0 0;}

.index_2_mid_2{ background:#FFF; clear:both; padding:10px 0 10px 0;}

.newsNav{ padding-left:4px;}

.newsNav_line{border-bottom:1px solid #999999; height:1px; font-size:1px; margin-top:-4px; clear:both;}

.newsList{ margin-top:2px; background:#FFF;}

.newsList li{height:22px; line-height:22px; overflow:hidden;}

.index_2_mid_AD{}

.index_2_mid_3{ margin-top:6px; background:#FFF;}

.index_2_mid_3 li{ height:18px; line-height:18px; overflow:hidden;}

.index_2_right{ float:right; width:183px;}

.index_2_right_AD{ border-bottom:1px solid #CCC; padding:3px;}

.index_2_right_AD2{padding:3px;}

.index_2_right_1{ border-bottom:1px solid #CCC; padding:2px 0 4px 0;}

.index_2_right_1 li{margin:5px 4px 0px 4px;}

.index_2_right_2 li{margin:4px 4px 0px 4px;}

.index_3{ margin-top:4px;}

.index_3_height{ border:1px solid #CCC; background:#F4F4F4;}

.index_3_left{ float:left; width:182px;}

.index_3_left_1

.index_3_left_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_3_left_1_2{ padding:4px 0 4px 0;}

.index_3_left_1_2 li{ height:20px; line-height:20px; overflow:hidden;}

.index_3_left_AD{ border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:3px;}

.index_3_left_2

.index_3_left_2_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_3_left_2_2{ padding:4px 0 4px 0;}

.index_3_left_2_2 li{ height:20px; line-height:20px; overflow:hidden;}

.index_3_mid{float:left; width:398px; margin-left:6px;}

.index_3_mid_1{ border:1px solid #CCC;}

.index_3_mid_1_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_3_mid_1_2{ padding:6px 0 6px 4px;}

.index_3_mid_1_2 li{ height:22px; line-height:22px; overflow:hidden;}

.index_3_mid_AD{ border:1px solid #CCC; text-align:center; margin-top:4px;}

.index_3_right{ float:right; width:183px;}

.index_3_right_1{ background:#FFF;}

.index_3_right_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_3_right_1_2{ background:#FFF; margin-top:0px; padding:0px;}

.index_3_right_1_2_1{text-align:center; margin-top:4px;}

.index_3_right_1_2_2{ padding:0; text-align:center; margin-top:5px;}

.index_3_right_1_2_1 em{ font-style:normal; text-align:center;}

.index_3_right_1_2_1 em span{ margin:0 5px 0 5px;}

.index_3_right_1_2_1_1{ padding:4px 0 4px 3px;; width:auto;border-bottom:1px solid #CCC; border-right:1px solid #CCC; background:#FFF; height:14px;}

.index_3_right_AD{ padding:3px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; text-align:center;}

.index_3_right_AD2{ padding:3px;border-bottom:1px solid #CCC; text-align:center;}

.index_3_right_2{ padding:6px 0 5px 0;}

.index_3_right_2 li{ height:20px; line-height:20px; overflow:hidden; margin:0 0 0 4px;}

.index_4{ margin-top:4px;}

.index_4_height{ border:1px solid #CCC; background:#F4F4F4;}

.index_4_left{ float:left; width:182px;}

.index_4_left_1

.index_4_left_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_4_left_1_2{ padding:4px 0 4px 0;}

.index_4_left_1_2 li{ height:20px; line-height:20px; overflow:hidden;}

.index_4_left_AD{border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:3px;}

.index_4_left_2

.index_4_left_2_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_4_left_2_2{ padding:4px 0 4px 0;}

.index_4_left_2_2 li{ height:20px; line-height:20px; overflow:hidden;}

.index_4_mid{float:left; width:398px; margin-left:6px;}

.index_4_mid_1{ border:1px solid #CCC;}

.index_4_mid_1_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_4_mid_1_2{ padding:9px 0 8px 4px;}

.index_4_mid_1_2 li{ height:22px; line-height:22px; overflow:hidden;}

.index_4_mid_AD{ border:1px solid #CCC; text-align:center; margin-top:4px;}

.index_4_mid_2{ border:1px solid #CCC; margin-top:4px;}

.index_4_mid_2_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_4_mid_2_2{ padding:9px 0 9px 4px;}

.index_4_mid_2_2 li{ height:22px; line-height:22px; overflow:hidden;}

.index_4_right{ float:right; width:183px;}

.index_4_right_1{ background:#FFF;}

.index_4_right_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_4_right_1_2{ background:#FFF; margin-top:0px; padding:0px;}

.index_4_right_1_2_1{  text-align:center; margin-top:4px;}

.index_4_right_1_2_2{ padding:0; text-align:center; margin-top:5px;}

.index_4_right_1_2_1 em{ font-style:normal; text-align:center;}

.index_4_right_1_2_1 em span{ margin:0 5px 0 5px;}

.index_4_right_1_2_1_1{ padding:4px 0 4px 3px;; width:auto;border-bottom:1px solid #CCC; border-right:1px solid #CCC; background:#FFF; height:14px;}

.index_4_right_2{ background:#FFF; margin-top:4px;}

.index_4_right_2_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC; border-top:1px solid #CCC;}

.index_4_right_2_2{ background:#FFF; margin-top:0px; padding:0 0 0 1px;}

.index_4_right_2_2 li{ margin:14px 0 14px 0;}

.index_4_right_2_2 li em{ border:1px solid #cc0000; padding:2px 4px 2px 4px; margin:2px; background:#EDEDED; font-style:normal;}

.index_4_right_AD{border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:3px; margin-top:4px;}

.index_4_right_3{ background:#FFF;}

.index_4_right_3_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_4_right_3_2{ background:#FFF; margin-top:0px; padding:0px;}

.index_4_right_3_2_1{text-align:center; margin-top:4px;}

.index_4_right_3_2_2{ padding:0; text-align:center; margin-top:5px;}

.index_4_right_3_2_1 em{ font-style:normal; text-align:center;}

.index_4_right_3_2_1 em span{ margin:0 5px 0 5px;}

.index_4_right_3_2_1_1{ padding:4px 0 4px 3px;; width:auto;border-bottom:1px solid #CCC; border-right:1px solid #CCC; background:#FFF; height:14px;}

.index_4_right_4{ margin-top:4px;}

.index_4_right_4_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;border-top:1px solid #CCC;}

.index_4_right_4_2{ padding:9px 0 9px 4px;}

.index_4_right_4_2 li{ height:22px; line-height:22px; overflow:hidden;}


.index_5{ margin-top:4px;}

.index_5_height{ border:1px solid #CCC; background:#F4F4F4;}

.index_5_left{ float:left; width:182px;}

.index_5_left_1

.index_5_left_1_1{
	background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF;
	border-bottom:1px solid #CCC;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 25px;
}

.index_5_left_1_2{ padding:4px 0 4px 0;}

.index_5_left_1_2 li{ height:20px; line-height:20px; overflow:hidden;}

.index_5_left_AD{border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:3px;}

.index_5_left_2

.index_5_left_2_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_5_left_2_2{ padding:4px 0 4px 0;}

.index_5_left_2_2 li{ height:20px; line-height:20px; overflow:hidden;}

.index_5_mid{float:left; width:398px; margin-left:6px;}

.index_5_mid_1{ border:1px solid #CCC;}

.index_5_mid_1_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_5_mid_1_2{ padding:9px 0 9px 4px;}

.index_5_mid_1_2 li{ height:22px; line-height:22px; overflow:hidden;}

.index_5_mid_AD{ border:1px solid #CCC; text-align:center; margin-top:4px;}

.index_5_mid_2{ border:1px solid #CCC; margin-top:4px;}

.index_5_mid_2_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_5_mid_2_2{ padding:10px 0 10px 4px;}

.index_5_mid_2_2 li{ height:22px; line-height:22px; overflow:hidden;}

.index_5_right{ float:right; width:183px;}

.index_5_right_1

.index_5_right_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_5_right_1_2{ padding:4px 0 4px 4px;}

.index_5_right_1_2 li{ height:20px; line-height:20px; overflow:hidden;}

.index_5_right_AD{ padding:3px; border-bottom:1px solid #CCC;border-top:1px solid #CCC;}

.index_5_right_2{ margin-top:4px; background:#FFF;}

.index_5_right_2_1{background:url(/img/i123.gif) no-repeat 10px 6px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;border-top:1px solid #CCC;}

.index_5_right_2_2_1{ padding:9px; line-height:1.5;}

.index_5_right_2_2_2{ text-align:center; padding:10px;}

.index_5_right_2_2_2 span{ width:auto; padding:11px; border:1px solid #999; background:#EEE;}

.index_5_right_2_2_2 span img{ width:108px; height:144px; border:0;}

.index_5_right_2_2_3{ text-align:center; padding:6px 0 0px 0;}

.index_6{ margin-top:4px;}

.index_6_height{ border:1px solid #CCC; background:#F4F4F4;}

.index_6_left{ float:left; width:182px;}

.index_6_left_1

.index_6_left_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_6_left_1_2{ padding:10px 0 10px 0;}

.index_6_mid{float:left; width:398px; margin-left:6px;}

.index_6_mid_1{ border:1px solid #CCC;}

.index_6_mid_1_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_6_mid_1_2{ padding:5px 0 5px 4px;}

.index_6_mid_1_2 li{ height:22px; line-height:22px; overflow:hidden;}

.index_6_right{ float:right; width:183px;}

.index_6_right_1

.index_6_right_1_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}

.index_6_right_1_2{ background:#FFF; margin-top:0px; padding:0px;}

.index_6_right_1_2_2{ padding:0; text-align:center; margin-top:5px;}

.index_6_right_AD{ padding:3px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; margin-top:4px;}

.index_6_right_2{ padding:8px 4px 6px 4px;}

.index_7{ margin-top:4px; border:1px solid #CCC; clear:both;}

.index_7_1{ background:#F7F5EF; padding:6px 4px 4px 4px; border-bottom:1px solid #CCC;}

.index_7_1_left{ float:left; margin-left:15px; font-weight:bold;}

.index_7_1_mid{ float:right; margin-right:200px;}

.index_7_1_right{ float:right; margin-right:10px;}

.index_7_2{ clear:both;}

.img_wrap{ float:left; margin:5px 9px 5px 9px;}

.img_img{ width:130px; height:90px;}

.img_img img{ border:1px solid #CCC;}

.img_desc{ text-align:center; padding:5px 0 5px 0;}

.emapty{ height:4px; font-size:4px;}

.index_8{ margin-top:4px;}

.index_8_1{ background:#F1F1F1}

.index_8_1_left{ float:left; padding:5px; font-weight:bold;}

.index_8_1_right{ float:left; padding:5px; line-height:1.5}

.index_8_2{ background:#4599D7;}

.index_8_2_left{ float:left; padding:5px; color:#FFF; font-weight:bold}

.index_8_2_right{ float:left; padding:5px; line-height:1.5; color:#FFF;}
