/* CSS Document */
body{ margin:0; padding:0; font-size:12px; text-align:center; background:url(/moban/mpolympicbg.jpg) no-repeat top center;}
ul,li{ margin:0; padding:0; list-style:none;}
form,select{ margin:0; padding:0;}
em{ font-style:normal;}
a{ font-size:12px; color:#000000; text-decoration:none;}
a:hover{ text-decoration:underline;}
td {font-size: 12px;line-height: 150%;}
.newsNavOn{ width:70px; height:20px!important; height:23px; background:url(../images/on.jpg) no-repeat; float:left; text-align:center; padding-top:6px; margin-left:-1px; cursor:pointer;}
.newsNavdnow{width:70px; height:20px!important; height:23px; background:url(../images/dnow.jpg) no-repeat; float:left; text-align:center; padding-top:6px;margin-left:-1px;cursor:pointer;}
.clear{ clear:both;}
.index_wrap{ width:776px; margin:auto;}
.index_head{ text-align:left; background:#FFFFFF;}
.indexAd3{ margin-top:4px;}
.indexAd4{ margin-top:4px;border:1px solid #CCC;}
.indexAd4 img{ margin-bottom:-4px; padding-bottom:-4px;}
.indexAd8{ margin-top:4px;border:1px solid #CCC;}
.indexImages{ margin-top:4px;border:1px solid #CCC; background:#F1F1F1;}
.index_1{ margin-top:4px;}
.index_1_height{ border:1px solid #CCC; background:#F4F4F4; height:110px;}
.index_1_height li{ margin:7px 6px 5px 6px;}
.index_1_left{ float:left; width:182px;}
.index_1_mid{float:left; width:398px; margin-left:6px; border:#CCC solid 1px;}
.index_1_right{ float:right; width:183px;}
.index_2{ margin-top:4px;}
.index_2_height{ border:1px solid #CCC; background:#F4F4F4; padding:0 0 3px 0;}
.index_2_left{ float:left; width:182px;}
.index_2_left_AD{ border-bottom:1px solid #CCC; padding:3px;}
.index_2_left_AD2{padding:3px; text-align:center;}
.index_2_left_1{ border-bottom:1px solid #CCC; padding:2px 0 4px 0;}
.index_2_left_1 li{margin:5px 4px 0px 4px;}
.index_2_left_2 li{margin:5px 4px 0px 4px;}
.index_2_mid{float:left; width:398px; margin-left:6px; border:1px solid #CCC; background:#F4F4F4;}
.index_2_mid_1{ clear:both;}
.index_2_mid_2{ background:#FFF; clear:both; padding:6px 0 10px 0;}
.newsNav{ padding-left:4px; border-bottom:#999 solid 1px;}
.newsList{ margin-top:2px; background:#FFF;}
.newsList li{height:22px; line-height:22px; overflow:hidden;}
.index_2_mid_AD{}
.index_2_mid_3{ margin-top:6px; background:#FFF; height:48px;}
.index_2_right{ float:right; width:183px;}
.index_2_right_AD{ border-bottom:1px solid #CCC; padding:3px;}
.index_2_right_AD2{padding:3px;}
.index_2_right_1{ border-bottom:1px solid #CCC; padding:2px 0 4px 0;}
.index_2_right_1 li{margin:5px 4px 0px 4px;}
.index_2_right_2 li{margin:5px 4px 0px 4px!important; margin:4px 4px 0px 4px;}
.index_3{ margin-top:4px;}
.index_3_height{ border:1px solid #CCC; background:#F4F4F4;}
.index_3_left{ float:left; width:182px;}
.index_3_left_1
.index_3_left_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_3_left_1_2{ padding:4px 0 4px 0;}
.index_3_left_1_2 li{ height:20px; line-height:20px; overflow:hidden;}
.index_3_left_AD{ border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:3px;}
.index_3_left_2
.index_3_left_2_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_3_left_2_2{ padding:4px 0 3px 0!important; padding:4px 0 4px 0; }
.index_3_left_2_2 li{ height:20px; line-height:20px; overflow:hidden;}
.index_3_mid{float:left; width:398px; margin-left:6px;}
.index_3_mid_1{ border:1px solid #CCC;}
.index_3_mid_1_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_3_mid_1_2{ padding:6px 0 6px 4px;}
.index_3_mid_1_2 li{ height:22px; line-height:22px; overflow:hidden;}
.index_3_mid_AD{ border:1px solid #CCC; text-align:center; margin-top:4px;}
.index_3_right{ float:right; width:183px;}
.index_3_right_1{ background:#FFF;}
.index_3_right_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_3_right_1_2{ background:#FFF; margin-top:0px; padding:0px;}
.index_3_right_1_2_1{text-align:center; margin-top:4px;}
.index_3_right_1_2_2{ padding:0; text-align:center; margin-top:10px;}
.index_3_right_1_2_1_1{ padding:4px 0 4px 3px; width:auto;border-bottom:1px solid #CCC; border-right:1px solid #CCC; background:#FFF; height:14px;}
.index_3_right_AD{ padding:3px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; text-align:center; margin-top:10px!important; margin-top:3px;}
.index_3_right_AD2{ padding:3px;border-bottom:1px solid #CCC; text-align:center; margin-top:1px;}
.index_3_right_2{ padding:6px 0 5px 0;}
.index_3_right_2 li{ height:20px; line-height:20px; overflow:hidden; margin:0 0 0 4px;}
.index_4{ margin-top:4px;}
.index_4_height{ border:1px solid #CCC; background:#F4F4F4;}
.index_4_left{ float:left; width:182px;}
.index_4_left_1
.index_4_left_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_4_left_1_2{ padding:4px 0 4px 0;}
.index_4_left_1_2 li{ height:20px; line-height:20px; overflow:hidden;}
.index_4_left_AD{border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:3px;}
.index_4_left_2
.index_4_left_2_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_4_left_2_2{ padding:4px 0 4px 0;}
.index_4_left_2_2 li{ height:20px; line-height:20px; overflow:hidden;}
.index_4_mid{float:left; width:398px; margin-left:6px;}
.index_4_mid_1{ border:1px solid #CCC;}
.index_4_mid_1_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_4_mid_1_2{ padding:9px 0 8px 4px;}
.index_4_mid_1_2 li{ height:22px; line-height:22px; overflow:hidden;}
.index_4_mid_AD{ border:1px solid #CCC; text-align:center; margin-top:4px;}
.index_4_mid_2{ border:1px solid #CCC; margin-top:4px;}
.index_4_mid_2_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_4_mid_2_2{ padding:8px 0 8px 4px;}
.index_4_mid_2_2 li{ height:22px; line-height:22px; overflow:hidden;}
.index_4_right{ float:right; width:183px;}
.index_4_right_1{ background:#FFF;}
.index_4_right_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_4_right_1_2{ background:#FFF; margin-top:0px; padding:0px;}
.index_4_right_2{ background:#FFF; margin-top:4px;}
.index_4_right_2_2{ background:#FFF; margin-top:0px; padding:0 0 0 1px;}
.index_4_right_AD{border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:3px; margin-top:4px;}
.index_4_right_3{ background:#FFF;}
.index_4_right_3_2{ background:#FFF; margin-top:0px; padding:0px;}
.index_4_right_4{ margin-top:4px;}
.index_4_right_4_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;border-top:1px solid #CCC;}
.index_4_right_4_2{ padding:2px 0 6px 1px!important; padding:9px 0 8px 4px;}
.index_4_right_4_2 li{ height:22px; line-height:22px; overflow:hidden;}
.indexAd5{ margin-top:5px; border:#CCCCCC solid 1px;}
.index_5{ margin-top:4px;}
.index_5_height{ border:1px solid #CCC; background:#F4F4F4;}
.index_5_left{ float:left; width:182px;}
.index_5_left_1
.index_5_left_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF;border-bottom:1px solid #CCC;padding-top: 5px;padding-right: 0px;padding-bottom: 4px;padding-left: 25px;}
.index_5_left_1_2{ padding:4px 0 4px 0;}
.index_5_left_1_2 li{ height:20px; line-height:20px; overflow:hidden;}
.index_5_left_AD{border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:3px;}
.index_5_left_2
.index_5_left_2_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_5_left_2_2{ padding:4px 0 4px 0;}
.index_5_left_2_2 li{ height:20px; line-height:20px; overflow:hidden;}
.index_5_mid{float:left; width:398px; margin-left:6px;}
.index_5_mid_1{ border:1px solid #CCC;}
.index_5_mid_1_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_5_mid_1_2{ padding:9px 0 9px 4px;}
.index_5_mid_1_2 li{ height:22px; line-height:22px; overflow:hidden;}
.index_5_mid_AD{ border:1px solid #CCC; text-align:center; margin-top:4px;}
.index_5_mid_2{ border:1px solid #CCC; margin-top:4px;}
.index_5_mid_2_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_5_mid_2_2{ padding:10px 0 10px 4px;}
.index_5_mid_2_2 li{ height:22px; line-height:22px; overflow:hidden;}
.index_5_right{ float:right; width:183px;}
.index_5_right_1
.index_5_right_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_5_right_1_2{ padding:8px 0 4px 8px!important; padding:4px 0 4px 4px;}
.index_5_right_1_2 li{ height:20px; line-height:20px; overflow:hidden;}
.index_5_right_AD{ padding:3px; border-bottom:1px solid #CCC;border-top:1px solid #CCC;}
.index_5_right_2{ margin-top:4px; background:#FFF;}
.index_5_right_2_1{background:url(/img/i123.gif) no-repeat 10px 6px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;border-top:1px solid #CCC;}
.index_5_right_2_2_1{ padding:9px; line-height:1.5;}
.index_5_right_2_2_2{ text-align:center; padding:10px;}
.index_5_right_2_2_2 span{ width:auto; padding:11px; border:1px solid #999; background:#EEE;}
.index_5_right_2_2_2 span img{ width:108px; height:144px; border:0;}
.index_5_right_2_2_3{ text-align:center; padding:6px 0 0px 0;}
.index_6{ margin-top:4px;}
.index_6_height{ border:1px solid #CCC; background:#F4F4F4;}
.index_6_left{ float:left; width:182px;}
.index_6_left_1
.index_6_left_1_1{background:url(/img/i7.gif) no-repeat 10px 4px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_6_left_1_2{ padding:11px 0 10px 0; background:#FFFFFF;}
.index_6_mid{float:left; width:398px; margin-left:6px;}
.index_6_mid_1{ border:1px solid #CCC;}
.index_6_mid_1_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_6_mid_1_2{ padding:5px 0 5px 4px;}
.index_6_mid_1_2 li{ height:22px; line-height:22px; overflow:hidden;}
.index_6_right{ float:right; width:183px;}
.index_6_right_1
.index_6_right_1_1{background:url(/img/i9.gif) no-repeat 10px 5px #F7F5EF; padding:5px 10px 4px 27px; border-bottom:1px solid #CCC;}
.index_6_right_1_2{ background:#FFF; margin-top:0px; padding:0px;}
.index_6_right_1_2_2{ padding:0; text-align:center; margin-top:5px;}
.index_6_right_AD{ padding:3px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; margin-top:4px;}
.index_6_right_2{ padding:6px 4px 6px 4px!important; padding:8px 4px 6px 4px;}
.index_7{ width:774px!important; width:776px; margin-top:4px; border:1px solid #CCC; clear:both;}
.index_7_1{ background:#F7F5EF; padding:6px 4px 4px 4px; border-bottom:1px solid #CCC;}
.index_7_1_left{ float:left; margin-left:15px; font-weight:bold;}
.index_7_1_mid{ float:right; margin-right:200px;}
.index_7_1_right{ float:right; margin-right:10px;}
.index_7_2{ clear:both;}
.img_wrap{ float:left; margin:5px 9px 5px 9px;}
.img_img{ width:130px; height:90px;}
.img_img img{ border:1px solid #CCC;}
.img_desc{ text-align:center; padding:5px 0 5px 0;}
.emapty{ height:4px; font-size:4px;}
.index_8{ margin-top:4px;}
.index_8_1{ background:#F1F1F1}
.index_8_1_left{ float:left; padding:5px; font-weight:bold;}
.index_8_1_right{ float:left; padding:5px; line-height:1.5}
.index_8_2{ background:#4599D7;}
.index_8_2_left{ float:left; padding:5px; color:#FFF; font-weight:bold}
.index_8_2_right{ float:left; padding:5px; line-height:1.5; color:#FFF;}
/*首页时间的文字颜色*/
.timetext {background-color: #4d4d4d;padding-top: 4px;padding-bottom: 4px;}
/*首页导航的样式*/
.index_daohang1 {background-color: #f3f3f3;border: 1px solid #CCCCCC;font-size: 12px;line-height: 22px;padding-top: 6px;padding-right: 8px;padding-bottom: 6px;padding-left: 8px;}
/*首页导航2的样式*/
.index_daohang2 {background-color: #f3f3f3;border: 1px solid #CCCCCC;}
/*首页导航3的样式*/
.index_daohang3 {background-color: #f3f3f3;border: 1px solid #CCCCCC;margin-bottom:4px;padding-top:2px;padding-bottom:2px;}
/*首页导航的链接颜色*/
a.daohangtext:link {color: #FF0000;text-decoration: none;}
a.daohangtext:visited {color: #FF0000;text-decoration: none;}
a.daohangtext:hover {color: #000000;text-decoration: none;}
/*顶部logo与上部FLASH之间的距离*/
.topbian {margin-top: 4px;}
/*登山频道文章搜索外边框的样式*/
.topd {
	height: 24px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #005ca9;
	border-right-color: #005ca9;
}
/*登山导航菜单的填充色及字体样式*/
.daohang {background-color: #005ca9;padding-top: 6px;padding-bottom: 6px;}
/*登山导航菜单的填充色及字体样式*/
.daohang_h1 {font-size: 12px;font-weight: bold;color: #FFFFFF;text-align: center;}
/*登山导航栏目间隔的虚线*/
.xuxian {background-image: url(/moban/climb/images/climb_xuxian1.gif);
background-repeat: repeat-y;height: 14px;width: 1px;}
/*登山头部导航链接*/
a.top:link {color: #FFFFFF;text-decoration: none;}
a.top:visited {color: #FFFFFF;text-decoration: none;}
/*登山专题样式*/
.zhuanti {width:220px;}
/*******************************地区样式*********************************/
.place{ width:767px!important; width:776px; border:#eeeeee 1px solid; background:#e2f4fc; margin-top:5px; padding:5px 0px 5px 8px!important; padding:5px 0px 5px 4px; }
.place li{ width:68px!important; width:70px; margin:3px 3px 3px 3px; float:left; height:20px; line-height:20px; overflow:hidden;  border:#CCCCCC 1px solid; text-align:center;}
.place a{color:#666666; font-size:12px; text-decoration:none}
.place a:hover{ color:#666666; font-size:12px; text-decoration:underline;}
.specialplace{ width:68px!important; width:70px; height:20px; line-height:20px; overflow:hidden; text-align:center;  font-size:12px; font-weight:bold; float:left; background:#f2f3df;}
.placetitle{ width:146px!important;width:146px; float:left; height:18px!important; height:19px; padding-top:3px; font-size:12px; background: #A93AA6; text-align:center; margin:3px 3px 0 3px;color:#FFFFFF; font-weight:bold;}
/**********/
.index_wrap{ text-align:left;}
.content55{ width:134px; height:114px; float:left; margin:10px 7px 5px 10px;}
.content56{ width:104px; height:74px; float:left; margin:12px 7px 7px 13px;}
.content57{ width:144px; float:left; margin:12px 1px 7px 6px;}
.title55{ width:98px; height:31px; line-height:31px; overflow:hidden; background:url(/images/title1.jpg) no-repeat; text-align:center; float:left; font-size:14px;}
.title56{ width:98px; height:31px; line-height:31px; overflow:hidden; background:url(/images/title2.jpg) no-repeat; text-align:center; float:left; font-size:14px;}
.title57{ width:378px!important; width:384px; height:31px; border-bottom:#c3c3c3 solid 1px; float:right; text-align:right; font-size:14px; line-height:31px;padding-right:5px;}
