img{
border:none;
}
.pingluntd1 {
	PADDING-BOTTOM: 4px; PADDING-TOP: 8px; font-size:12px;}
.pingluntd1_1{
	PADDING-BOTTOM: 4px; PADDING-TOP: 8px;padding-left:40px; font-size:12px;}
.pingluntd2 {
word-break:break-all;word-wrap:break-word;PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 6px; BACKGROUND-COLOR: #e7e7e7; font-size:12px;}
.pingluntd3 {word-break:break-all;word-wrap:break-word;text-align:left;PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; MARGIN-LEFT: 10px; COLOR: #000000; LINE-HEIGHT: 150%; MARGIN-RIGHT: 10px; PADDING-TOP: 6px; font-size:12px;}
.pingluntd4 {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #e7e7e7; font-size:12px;}
.lefttd24 {PADDING-RIGHT: 10px; BORDER-TOP: #e3e3e3 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 4px; BORDER-BOTTOM: #e3e3e3 1px solid; BACKGROUND-COLOR: #f4f4f4; font-size:12px;}
.lefttd25 {BACKGROUND-POSITION: 0px 4px; PADDING-LEFT: 26px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/images/1024/read_title_ion.gif); COLOR: #cc0000; PADDING-TOP: 4px; BACKGROUND-REPEAT: no-repeat;}