BODY {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
A.TopLink:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A.TopLink:active {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A.TopLink:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A.TopLink:hover {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A.TopLink2:link {
	FONT-SIZE: 12px; COLOR: #434343; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A.TopLink2:active {
	FONT-SIZE: 12px; COLOR: #434343; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A.TopLink2:visited {
	FONT-SIZE: 12px; COLOR: #434343; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A.TopLink2:hover {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.TopNavigate {
	FONT-SIZE: 12px; COLOR: white
}
.TopNavigate {
	FONT-SIZE: 12px; COLOR: white
}
.TopNavigate2 {
	FONT-SIZE: 12px; COLOR: #434343
}
.TopInputButton {
	FONT-SIZE: 12px
}
.TopTDPadding {
	PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.TopNavTable {
	BORDER-RIGHT: #cccccc 1px; BORDER-TOP: #cccccc 1px; FONT-SIZE: 12px; MARGIN-BOTTOM: 4px; BORDER-LEFT: #cccccc 1px; BORDER-BOTTOM: #cccccc 1px; FONT-FAMILY: 宋体; BORDER-COLLAPSE: collapse
}
.TopInput {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #808080 1px solid; WIDTH: 90px; BORDER-BOTTOM: #808080 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.unnamed1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #000000 1px solid; WIDTH: 90%; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 1px; BACKGROUND-COLOR: #cccccc
}
A.blue14:link {
	FONT-SIZE: 14px; COLOR: #0f0cbf; TEXT-DECORATION: underline
}
A.blue14:active {
	FONT-SIZE: 14px; COLOR: #0f0cbf; TEXT-DECORATION: none
}
A.blue14:visited {
	FONT-SIZE: 14px; COLOR: #0f0cbf; TEXT-DECORATION: underline
}
A.blue14:hover {
	FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.hotlink:link {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.hotlink:active {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.hotlink:visited {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.hotlink:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.hotlink2:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.hotlink2:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.hotlink2:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.hotlink2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.black12:link {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A.black12:active {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A.black12:visited {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A.black12:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A.blue12:link {
	FONT-SIZE: 12px; COLOR: #0f0cbf; TEXT-DECORATION: underline
}
A.blue12:active {
	FONT-SIZE: 12px; COLOR: #0f0cbf; TEXT-DECORATION: none
}
A.blue12:visited {
	FONT-SIZE: 12px; COLOR: #0f0cbf; TEXT-DECORATION: underline
}
A.blue12:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.font_orange_14_b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #dc6d00
}
.font_orange_12 {
	FONT-SIZE: 12px; COLOR: #dc6d00
}
.font_green_14_b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #009d07
}
.font_green_12 {
	FONT-SIZE: 12px; COLOR: #009d07
}
.font_black_12 {
	FONT-SIZE: 12px; COLOR: black
}
.font_red2_14_b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #c11f00
}
.font_red2_12 {
	FONT-SIZE: 12px; COLOR: #c11f00
}
.font_white_12 {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.font_white_12_b {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff
}
.font_blue_14_b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #004d8f
}
.font_blue2_12 {
	FONT-SIZE: 12px; COLOR: #004d8f
}
.font_white_14_b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff
}
.font_red_14_b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000
}
.font_blue_12 {
	FONT-SIZE: 12px; COLOR: #0f0cbf
}
.font_gray_12 {
	FONT-SIZE: 12px; COLOR: gray
}
.table_pic_top {
	BORDER-RIGHT: #9b9b9b 3px solid; BORDER-TOP: 0px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f2f2f2
}
.RelBar {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.RelList {
	FONT-SIZE: 14px; LINE-HEIGHT: 150%
}
.RelList A:link {
	COLOR: #0f0cbf; TEXT-DECORATION: none
}
.RelList A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
#divSubClass {
	MARGIN-LEFT: 65px
}
