<style>
	.dfxlcon{float: left;margin-top: 13px;margin-left: 10px;}
	.dfxlcon a{ color:#585858; text-decoration:none;}
	.dfxlcon a:hover{ color:#162833; text-decoration:none;}
</style>
<div class="dfxlcon">
<!--{if $xianluAD_difang}-->
	<a href="http://www.zaiwai.com/xianlu-{$xianluAD_difang[goods_id]}?utm_source=s14363562&utm_campaign=p15027560" target="_blank" title="{echo diconv($xianluAD_difang[title],'UTF-8','GBK')}">{echo cutstr(diconv($xianluAD_difang[title],'UTF-8','GBK'), 40)}</a>
<!--{/if}-->
</div>
