/* CSS Document */
* { word-wrap:normal; font-family:"ו";}
em { font-style:normal;}
.top44 { width:958px; border:#ccc solid 1px; position:relative;}
.headtopn { width:946px; height:25px; padding:14px 0px 0px 10px; background:url(/template/8264/css/moban/indexnew/images/header_foot.png) 0px -13px repeat-x; color:#FFFFFF; text-align:left; margin:0 auto;}
.headtopn a { color:#FFFFFF; font-size:12px; text-decoration:none;}
.headtopn a:hover { color:#ffff99; font-size:12px; text-decoration:underline; }
.navalln { width:958px; padding:0px 0px 5px 0px; background:url(/template/8264/css/moban/indexnew/images/header_foot.png) 0 84px repeat-x;}




.logon {
    float: left;
    padding: 0px 0 0;
    text-align: center;
    width: 184px;
}

.logon img { width:139px; height:45px;}


.zixunimg a {
    background: url("/template/8264/css/moban/indexnew/images/header_foot.png") no-repeat scroll -3px -103px transparent;
    display: block;
    float: left;
    height: 34px;
    margin: 3px 10px 3px 0;
    width: 25px;
}
.shangyeimg a {
    background: url("/template/8264/css/moban/indexnew/images/header_foot.png") no-repeat scroll 0 -156px transparent;
    display: block;
    float: left;
    height: 34px;
    margin: 3px 10px 3px 0;
    width: 32px;
}
.chuxingimg a {
    background: url("/template/8264/css/moban/indexnew/images/header_foot.png") no-repeat scroll 0 -210px transparent;
    display: block;
    float: left;
    height: 34px;
    margin: 3px 10px 3px 0;
    width: 32px;
}
.gouwuimg a {
    background: url("/template/8264/css/moban/indexnew/images/header_foot1.png") no-repeat scroll 0 -262px transparent;
    display: block;
    float: left;
    height: 34px;
    margin: 3px 10px 3px 0;
    width: 32px;
}
.hudongimg a {
    background: url("/template/8264/css/moban/indexnew/images/header_foot.png") no-repeat scroll 0 -314px transparent;
    display: block;
    float: left;
    height: 34px;
    margin: 3px 10px 3px 0;
    width: 32px;
}
.navn {
    float: right;
    width: 770px;
	margin-top:10px;
}
.navn li {
    display: inline;
    float: left;
    margin: 1px 12px 1px 0;
    white-space: nowrap;
}
.navn li a {
    font-size: 12px;
}
.navn li a:hover {
    font-size: 12px;
}
.navdiv1ns {
    border-right: 1px solid #CCCCCC;
    float: left;
    padding: 0;
    width: 220px;
}
.navdiv2ns {
    border-right: 1px solid #CCCCCC;
    float: left;
    padding: 0 0 0 12px;
    width: 115px;
}
.navdiv3ns {
    border-right: 1px solid #CCCCCC;
    float: left;
    padding: 0 0 0 12px;
    width: 90px;
}
.navdiv4ns {
    border-right: 1px solid #CCCCCC;
    float: left;
    padding: 0 0 0 12px;
    width: 80px;
}
.navdiv5ns {
    float: left;
    padding: 0 0 0 12px;
    width: 140px;
}




















.headtopn .new {background-position: 0 50%;background-repeat: no-repeat;color: #FFFF99;font-weight: 700;padding-left: 20px;}
.p_pop a, .p_pop a:hover {font-size:12px;}
.ciytorz{ width:958px; height:30px; border:#dadada solid 1px; border-top:0; background:url(/template/8264/css/moban/indexnew/images/header_foot.png) 0 -56px repeat-x; margin:0px auto; position:relative; font-size:12px;}
.ciytorz a{ color:#333; text-decoration:none; font-size:12px;}
.ciytorz a:hover{ color:#333; font-size:12px;}
.ciytorzul{}
.ciytorzul li{ float:left; display:inline; margin:8px 5px 0px 5px;}
.ciytorzul span{ float:left; display:inline; margin:8px 0px 0px 15px;}
.arroworz{ padding-right:10px; background:url(/template/8264/css/moban/indexnew/images/header_foot.png) 30px -372px no-repeat;}
.arroworz1{ padding-right:10px; background:url(/template/8264/css/moban/indexnew/images/header_foot.png) 25px -375px no-repeat;}
.cityout{ width:50px; position:absolute; right:-1px; top:0; border-bottom:#dadada solid 1px; background:#fff;}
.cityouttop{ height:22px; padding:8px 0px 0px 6px; background:url(/template/8264/css/moban/indexnew/images/header_foot.png) 0 -56px repeat-x; text-align:left; border-right:#dadada solid 1px;}
.cityout li{ height:25px; text-align:center; border:#dadada solid 1px; border-top:0; border-bottom:0;}
.cityout li a{ height:20px; padding:7px 0px 0px 0px; text-align:center; display:block; }
.cityout li a:hover{ height:19px; padding:6px 0px 0px 0px; text-align:center; background:url(/template/8264/css/moban/indexnew/images/header_foot.png) 0px -80px repeat-x; border-top:#dadada solid 1px; border-top:#dadada solid 1px;}
.bottom{ width:960px; margin:0px auto;}
.bottom a{text-decoration:none; color:#333333; font-size:12px;}
.bottom a:hover{text-decoration:underline; color:#5c8b17; font-size:12px;}
.bottom1{border:#cfdab8 solid 1px; height:30px;}
.bottom1 a{ color:#686868; font-size:12px;}
.bottom1 a:hover{ font-size:12px; color:#5c8b17;}
.bottom2{ width:960px; color:#53792e; line-height:2; padding-top:5px; text-align:center;}
.bottom2 a{ font-size:12px;}
.bottom2 a:hover{ font-size:12px; color:#686868;}


.youfu{ width:20px; height:81px; position:absolute; top:34px; right:-20px;}

