/*
[name]蓝砖坊[/name]
[iconbgcolor]#006699[/iconbgcolor]
Powered by 瞧瞧影视 www.qiaoqiao.net
*/
body { background: #000 url(bgimg.jpg) repeat-x 50% 0; }
#wp { background:#fff; color:#000;}
.mn { color:#000;}
.mn a { color:#000;}
.bm { color:#000;}
#ct {  padding:5px 5px; color:#FFF;}
#um { color:#FFF;}
#mu li a { color:#000;}
#plugin_menu li a { color:#000;}
#hd a { color:#FFF;}
#hd span { color:#FFF}
#qiaoqiao_extcreditmenu_menu a { color:#000;}
#qmenu_menu a { color:#000;}
#managemenu_menu a { color:#000;}
#nv { background-color: #006699; background-image: url(nv.png); }
	#nv li { background-image: url(nv_a.png) !important; }
	#nv li.a { background: #006699 url(nv_a.png) no-repeat 0 100%; }
	#qmenu { background-image: url(qmenu.png); }

		.ct2 .sd { width:210px; overflow:hidden;}
		.ct3_a .sd { float: right; margin-left: 15px; width: 220px; }
		.appl { color:#000; float: left; overflow: hidden; margin-bottom: 10px; padding: 6px 10px; width: 100px; border: 1px solid {COMMONBORDER}; {SIDEBGCODE}; }
		.sd .tns th, .sd .tns td { width: 100px !important; }
.fl .bm_h { border-color: #C5E6DF; background: #EBF5F6 url(titlebg.png) repeat-x 0 0; }

/* 重定义 {SPECIALBG} */
.appl, .bmn, .bm_h, .pn, td.pls, .ad td.plc, div.exfm, .tb a, .tb_h, .ttp li.a a, div.uo a, input#addsubmit_btn, #gh .bm .bm_h { background-color: #EBF5F6; }

/* 重定义 {SPECIALBORDER} */
.bmn, .pg a, .pgb.a, .pg strong, .card, .card .o, div.exfm  { border-color: #C5E6DF; }
.pg strong { background-color: #C5E6DF; }
.pn { border-color: #C5E6DF #666 #666 #C5E6DF; }


.ad td.pls { background-color: #C5E6DF; }

/* 重定义字体 */
.fl .bm_h h2 a, .xi1, #um .new, .topnav .new, .sch .new, .el .ec .qiaoqiao_hot em, .pll .s a.joins { color: #429296; }
.pll .s a.go { color: #FFF; }
.xi2, .xi2 a { color: #000; }

/* 重定义按钮 */
.pgs #newspecial, .pgs #newspecialtmp { float: left; background: url(pn_post.png) no-repeat 0 0; }
#post_reply, #post_replytmp { float: left; background: url(pn_reply.png) no-repeat 0 0; }
	#newspecial img, #newspecialtmp img, #post_reply img, #post_replytmp img { opacity: 0; filter: alpha(opacity=0); }
.moodfm_btn { background-image: url(mood_input_btn.png) !important; }
#create_group_btn { display: block; background: url(create_group.png) no-repeat 0 0; }
	#create_group_btn img { opacity: 0; filter: alpha(opacity=0); }
.tb .o, .tb .o a { background-image: url(pnp2.png); }
.el .ec .qiaoqiao_hot { background-image: url(hotspot.gif); }
.pll .s { background-image:url(polljoins.gif); }

#ft { background: #FFF; padding:10px 0;}
#ft #flk { padding:0 10px; }
#ft #frt { padding:0 10px;}