<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>2012中国户外产业年度评选</title>
<link rel="stylesheet" type="text/css" href="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/css/style.css"/>
<script src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/js/jquery-1.6.1.min.js" type="text/javascript"></script>
</head>
<!--[if IE 6]>
<script src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/js/DD_belatedPNG_0.0.8a.js"></script>
<script src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/js/DD_belatedPNG_css.js"></script>
<![endif]-->
<body>
<div class="wap">
	<div class="top">
    	<div class="wap_960 clearfix">
        	<div class="top_l fl"><a href="#" class="top_hover">首页</a><a href="http://www.8264.com/portal-topic-topicid-1437.html"target="_blank">公布</a></div>
            <div class="top_r fr"><a href="http://www.8264.com/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/8264logo.png" /></a></div>
        </div>
    </div>
    <div class="wap_960  top_logo clearfix">
    	<div class="fl"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/lvbei.png" /></div>
        <div class="fr"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/jianchi.png" /><br /><br /><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/pand.png" /><br /><br /><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/shij.png" /></div>
    </div>
	<div class="nav">
    	<ul>
        	<li>
            	<a class="pinp"></a>
            	<div class="nav_xl">
                	<ul>
                    	<li><a href="javascript:void(0)">年度综合类实力品牌奖</a></li>
                        <li><a href="javascript:void(0)">年度单品类实力品牌奖</a></li>
                        <li><a href="javascript:void(0)">年度创新品牌奖</a></li>
                        <li><a href="javascript:void(0)">年度最受驴友喜爱品牌奖</a></li>
                    </ul>
                </div>
            </li>
        	<li>
            	<a class="qudao"></a>
            	<div class="nav_xl">
                	<ul>
                    	<li><a href="javascript:void(0)">年度实力户外店奖</a></li>
                    </ul>
                
                </div>
            </li>
			<li>
            	<a class="congyezhe"></a>
            	<div class="nav_xl">
                	<ul>
                    	<li><a href="javascript:void(0)">年度户外经理人奖</a></li>
                    </ul>
                </div>
            </li>
			<li>
            	<a class="zhuangbei"></a>
            	<div class="nav_xl">
                	<ul>
                    	<li><a href="javascript:void(0)">年度国产装备奖——服装类</a></li>
                        <li><a href="javascript:void(0)">年度国产装备奖——鞋类</a></li>
						<li><a href="javascript:void(0)">年度国产装备奖——背包类</a></li>
						<li><a href="javascript:void(0)">年度国产装备奖——帐篷类</a></li>
						<li><a href="javascript:void(0)">年度国产装备奖——睡袋类</a></li>
						<li><a href="javascript:void(0)">年度国产装备奖——其他类</a></li>
                    </ul>
                </div>
            </li>
            
        </ul>
    </div>
    <div class="mian">
    	<div class="mian_top"></div>
        <div class="mian_mid">
        	<div class="clearfix">
                <div class="mian_midL fl">
                    <div class="mian_midL1">
                        <div class="tiao">
                            <img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/biaot1.png" />
                        </div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;时光如白驹过隙，转眼已至年末，由8264（8264.com）主办的“尊驴奖”——2012中国户外产业年度评选活动如约而至。即将过去的2012年，产业中徘徊在商业低谷的企业不在少数，更多的企业在拼搏进取，超越自我，奔向明日的辉煌。今年评选的主题就是：<span style="color:#FF0000">坚持，超越！</span> </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;随着专题页面的正式上线，评选活动已正式拉开帷幕。评选的奖项分为品牌、渠道、人物、装备四大类。</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;相较于往年，此次评选在奖项的设置和规则上都有了较大的改变，将更多倾听业内人士和驴友的声音，以真实的反映行业现况，为户外行业及相关群体带来更多的惊喜与价值，代表了户外行业真正的呼声。</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;希望您能更多的参与到本次评选活动中，共同见证户外产业蓬勃发展的每一天。</p>
                    </div>
                    <div class="mian_midL2">
                    	<div class="tiao2" style="border-bottom:3px solid #999; padding:0 0 10px 10px;">
                            <img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/biao4.png" />
                        </div>
                        <div class="tab_menu clearfix">
                              <ul>
                                  <li class="selected"><a><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/biaopp.png" /></a></li>
                                  <li><a><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/biaoqd.png" /></a></li>
                                  <li><a><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/biaocy.png" /></a></li>
                                  <li><a><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/biaozb.png" /></a></li>
                              </ul>
                        </div>
                        <div class="tab_box"> 
                             <div class="selected">
                             	<div class="jiangp_box">
                                	<div class="tit">年度综合类实力品牌奖</div>
                                    <p>在2012年度，品牌在整个产业中，无论是年销售额、终端店铺数量都名列前茅，产品特点鲜明， 并且在行业内和市场上有一定的口碑，综合实力较强。</p>
									<p>该奖项意评选出综合实力较强的品牌。</p>
                                    <b>提名及自荐方法</b>
                                    <p><span>第三方网友提名请</span> &nbsp;<a href="http://bbs.8264.com/thread-1531664-1-1.html" target="_blank">点击在线报名</a> 品牌自荐请点击 &nbsp;<a href="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/timingbiao/2012_China_Outdoor_Industry_Awards_Brands1.xls" target="_blank">下载自荐表格</a> <span>表格填写完毕请回传至邮箱：</span><span style="color:#0000FF">liyan@8264.com</span></p>
                                </div>
								<div class="jiangp_box">
                                	<div class="tit">年度单品类实力品牌奖</div>
                                    <p>在2012年度，品牌在某一产品品类上有着很高的市场占有率、并在年销售额、终端店铺数量上都名列前茅、并且在行业内和市场上有一定的口碑。</p>
									<p>该奖项意在评选某一单品品类上突出实力的品牌。</p>
                                    <b>提名及自荐方法</b>
                                    <p><span>第三方网友提名请</span> &nbsp;<a href="http://bbs.8264.com/thread-1531669-1-1.html" target="_blank">点击在线报名</a> 品牌自荐请点击 &nbsp;<a href="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/timingbiao/2012_China_Outdoor_Industry_Awards_Brands2.xls" target="_blank">下载自荐表格</a> <span>表格填写完毕请回传至邮箱：</span><span style="color:#0000FF">liyan@8264.com</span></p>
                                </div>
                                <div class="jiangp_box">
                                	<div class="tit">年度创新品牌奖</div>
                                    <p>在2012年度，品牌在产品设计及研发、市场营销推广或者渠道建设等任意方面有创新性尝试，并取得一定成果。</p>
									<p>可以是首创的商业运营模式、独特的产品设计思路和理念，也可以是具有先锋性质的市场推广方式等。</p>
									<p>该奖项意在鼓励勇于创新的品牌。</p>
                                    <b>提名及自荐方法</b>
                                    <p><span>第三方网友提名请</span> &nbsp;<a href="http://bbs.8264.com/thread-1531692-1-1.html" target="_blank">点击在线报名</a> 品牌自荐请点击 &nbsp;<a href="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/timingbiao/2012_China_Outdoor_Industry_Awards_BrandsNew.xls" target="_blank">下载自荐表格</a> <span>表格填写完毕请回传至邮箱：</span><span style="color:#0000FF">liyan@8264.com</span></p>
                                </div>
								<div class="jiangp_box">
                                	<div class="tit">年度驴友最喜爱品牌奖</div>
                                    <p>截止目前，8264品牌俱乐部已入驻657家国内外专业户外品牌。每天，都有众多驴友通过这个窗口，了解各个品牌的最新情况，并为自己熟悉的品牌打分。
今年的评选，评委会将以8264品牌俱乐部2012年11月28日前，驴友对各品牌的综合打分情况，品牌专区的访问量、评论数量，进行综合考量，评选出“年度驴友最喜爱品牌奖”。
</p>
									<p>该奖项不设提名</p>
                                    <div style="clear:both"></div>
                                </div>
                             </div>
                             <div class="hide">
                             	<div class="jiangp_box">
                                	<div class="tit">年度实力户外店奖</div>
                                    <p>在2012年度，店铺的销售量、营业面积等方面在所处地区专业户外店中名列前茅，其经营品牌均为主流户外品牌，驴友口碑良好，并具有一定的行业影响力。</p>
									<p>该奖项意在评选出各地区专业户外店渠道的领先店铺。</p>
                                    <b>提名及自荐方法</b>
                                    <p><span>第三方网友提名请</span> &nbsp;<a href="http://bbs.8264.com/thread-1531714-1-1.html" target="_blank">点击在线报名</a> 店铺自荐请点击 &nbsp;<a href="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/timingbiao/2012_China_Outdoor_Industry_Awards_Stores.xls" target="_blank">下载自荐表格</a> <span>表格填写完毕请回传至邮箱：</span><span style="color:#0000FF">liyan@8264.com</span></p>
                                </div>
                             </div>
                             <div class="hide">
                             	<div class="jiangp_box">
                                	<div class="tit">年度户外经理人奖</div>
                                    <p>无论是品牌公司的总经理、市场总监、产品设计总监，还是俱乐部经理、亦或是公关公司，只要从事的是户外运动行业，只要符合下列评选标注的职业经理人都可以参加年度户外经理人的评选。</p>
									<b>提名标准</b>
									<p>带领团队取得经营上突破性或转折性进展；</p>
									<p>在自己所从事的工作领域中出类拔萃，并被广泛熟知；</p>
									<p>对行业的挚爱及深度理解；</p>
									<p>良好的文化修养，较高的职业操守，独特的人格魅力；</p>
									<p>在2012年度为中国户外运动的发展写下了精彩的一笔。</p><br><br>
                                    <b>提名及自荐方法</b>
                                    <p><span>第三方网友提名请</span> &nbsp;<a href="http://bbs.8264.com/thread-1531677-1-1.html" target="_blank">点击在线报名</a> 品牌商及店铺自荐请点击 &nbsp;<a href="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/timingbiao/2012_China_Outdoor_Industry_Awards_Managers.xls" target="_blank">下载自荐表格</a> <span>表格填写完毕请回传至邮箱：</span><span style="color:#0000FF">liyan@8264.com</span></p>
                                </div>
                             </div>
                             <div class="hide">
                             	<div class="jiangp_box">
                                	<div class="tit">年度国产装备奖</div>
                                    <p>奖项意在评选2012年度国产装备中设计、工艺、材料、功能性等方面均达到国际一流水平的产品。奖项将分为服装、户外鞋、背包、帐篷、睡袋、配件等六大类进行评选。参选产品应符和如下标准：</p>
                                    <p>1、国内品牌自主研发产品。</p>
									<p>2、应为2012年1月1日后上市的产品。</p>
									<b>提名及自荐方法</b>
                                    <p><span>第三方网友提名请</span> &nbsp;<a href="http://bbs.8264.com/thread-1531686-1-1.html" target="_blank">点击在线报名</a> 品牌自荐请点击 &nbsp;<a href="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/timingbiao/2012_China_Outdoor_Industry_Awards_Gears.xls" target="_blank">下载自荐表格</a> <span>表格填写完毕请回传至邮箱：</span><span style="color:#0000FF">liyan@8264.com</span></p>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="mian_midR fr">
                        <div class="m15">
                            <div class="tiao">
                                    <img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/biaot2.png" />
                            </div>
                            <ul>
							 <li><a href="http://www.8264.com/viewnews-81424-page-1.html" target="_blank">2012年度盘点 国产装备奖项手电领域厮杀正酣</a></li>
                                <li><a href="http://www.8264.com/viewnews-81025-page-1.html" target="_blank">2012年度实力综合品牌奖期盼黑马 将花落谁家？</a></li>
                                <li><a href="http://www.8264.com/viewnews-81455-page-1.html" target="_blank">2012年度盘点 创新性引领户外品牌立足市场</a></li>
								<li><a href="http://www.8264.com/portal.php?mod=view&aid=80812" target="_blank">“坚持 超越”2012中国户外产业年度评选开启</a></li>
                                <li><a href="http://www.8264.com/viewnews-81158-page-1.html" target="_blank">8264中国户外产业年度评选 受到各方关注 </a></li>
                            </ul>
                        </div>
                        <div class="m15">
                            <div class="tiao clearfix">
                                    <div class="fl"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/biaot3.png" /></div>
                                    <a href="http://www.8264.com/portal-list-catid-489.html" target="_blank" style=" float:right; margin-right:10px;"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/more.png" /></a>
                            </div>
                            <ul>  
                                <li><a href="http://bbs.8264.com/thread-1531741-1-1.html" target="_blank" style="color:#FF0000">2012年度中国户外市场调研文章汇总</a></li>
								<li><a href="http://www.8264.com/viewnews-81184-page-1.html" target="_blank">老驴看户外之花褂子： 中国户外"井喷"将至</a></li>
                                <li><a href="http://www.8264.com/viewnews-81209-page-1.html" target="_blank">老驴看户外之铁丐：新品牌需要更深刻的思考</a></li>
								<li><a href="http://www.8264.com/viewnews-81245-page-1.html" target="_blank">2012年度大盘点 BLACKYAK年度发展 环保见证</a></li>
                                <li><a href="http://www.8264.com/viewnews-81215-page-1.html" target="_blank">2012大盘点 CARAVA以市场为导向 稳步调整渠道</a></li>
                                <li><a href="http://www.8264.com/viewnews-81248-page-1.html" target="_blank">2012大盘点 深圳火狐狸苦练内功 向百货渠道拓展</a></li>
                                <li><a href="http://www.8264.com/viewnews-81255-page-1.html" target="_blank">老驴看户外之史瑞克：平民户外时代到来了</a></li>
                                <li><a href="http://www.8264.com/viewnews-81262-page-1.html" target="_blank">老驴看户外之老尹：本性能耐寒 风霜其奈何</a></li>
                                <li><a href="http://www.8264.com/viewnews-81282-page-1.html" target="_blank">2012年大盘点 成都山岳户外商场持平 电商发展</a></li>
                                <li><a href="http://www.8264.com/viewnews-81260-page-1.html" target="_blank">2012年大盘点 体博会招展形势及户外行业的发展</a></li>
								<li><a href="http://www.8264.com/viewnews-81259-page-1.html" target="_blank">2012年大盘点 全民户外形势下 三夫户外稳健发展</a></li>
								<li><a href="http://www.8264.com/viewnews-81353-page-1.html" target="_blank">2012年大盘点 GORE-TEX品牌发展进入新阶段</a></li>
								<li><a href="http://www.8264.com/viewnews-81401-page-1.html" target="_blank">2012大盘点 火枫一年推出20多种新品丰富产品线</a></li>
								<li><a href="http://www.8264.com/viewnews-81375-page-1.html" target="_blank">老驴看户外之车夫：门店？网店？何去何从</a></li>
								<li><a href="http://www.8264.com/viewnews-81312-page-1.html" target="_blank">老驴看户外之MHW：创新vs保守？奋前vs停滞？</a></li>
								<li><a href="http://www.8264.com/viewnews-81399-page-1.html" target="_blank">2012年大盘点 瑞典北极狐品牌优势助力销售增长</a></li>
								<li><a href="http://www.8264.com/viewnews-81367-page-1.html" target="_blank">2012年大盘点 思凯乐增幅超160% 门店达260家</a></li>
								<li><a href="http://www.8264.com/viewnews-81356-page-1.html" target="_blank">2012年大盘点 天伦天品牌销售业绩增长60%强</a></li>
								<li><a href="http://www.8264.com/viewnews-81355-page-1.html" target="_blank">2012年大盘点 FENIX专注户外照明 口碑著称于世</a></li>
								<li><a href="http://www.8264.com/viewnews-81346-page-1.htmll" target="_blank">2012年大盘点 图途户外销售业绩约2.5亿人民币</a></li>
								<li><a href="http://www.8264.com/viewnews-81305-page-1.html" target="_blank">2012年大盘点 秦皇岛兴龙户外街开辟全新模式</a></li>
								<li><a href="http://www.8264.com/viewnews-81332-page-1.html" target="_blank">2012年大盘点 HIGHROCK品牌销售增长近100% </a></li>
								<li><a href="http://www.8264.com/viewnews-79969-page-1.html" target="_blank">户外调研深圳站 行业格局独特 品牌层次中偏高 </a></li>
								<li><a href="http://www.8264.com/viewnews-80638-page-1.html" target="_blank">户外调研深圳站 深圳喜马拉雅公司的专业户外精神 </a></li>
								<li><a href="http://www.8264.com/viewnews-80754-page-1.html" target="_blank">户外调研西安站 记绿蚂蚁全体员工月度启动大会</a></li>
								<li><a href="http://www.8264.com/viewnews-80933-page-1.html" target="_blank">户外调研西安站 伟宇国际在秦直道上强悍前行</a></li>
								<li><a href="http://www.8264.com/viewnews-81410-page-1.html" target="_blank">2012年大盘点 徐如林回首2012 对户外业者有建议 </a></li>
								<li><a href="http://www.8264.com/viewnews-81411-page-1.html" target="_blank">2012大盘点 参展ISPO BEIJING 2013品牌过六百 </a></li>
								<li><a href="http://www.8264.com/viewnews-81443-page-1.html" target="_blank">2012年大盘点：Patagonia 着重开拓商场渠道 </a></li>
								<li><a href="http://www.8264.com/viewnews-81448-page-1.html" target="_blank">2012年大盘点：Gregory 销售额同比增长50% </a></li>
								<li><a href="http://www.8264.com/viewnews-81158-page-1.html" target="_blank">2012年大盘点 户外自驾露营装备品牌KingCamp</a></li>
								<li><a href="http://www.8264.com/viewnews-81450-page-1.html" target="_blank">地方版主谈市场 上海：中高端品牌购买力强劲</a></li>
								<li><a href="http://www.8264.com/viewnews-81413-page-1.html" target="_blank">地方版主谈市场 山东：门店火爆 市场需引导</a></li>
								<li><a href="http://www.8264.com/viewnews-81477-page-1.html" target="_blank">地方版主谈市场 江苏：宁扬百里路 市场两重天</a></li>
								<li><a href="http://www.8264.com/viewnews-81450-page-1.html" target="_blank">地方版主谈市场 上海：中高端品牌购买力强劲</a></li>
								<li><a href="http://www.8264.com/viewnews-81413-page-1.html" target="_blank">地方版主谈市场 山东：门店火爆 市场需引导</a></li>
								<li><a href="http://www.8264.com/viewnews-81497-page-1.html" target="_blank">老驴看户外之19：蹩脚的宣传就是绊脚石</a></li>
								<li><a href="http://www.8264.com/viewnews-81537-page-1.html" target="_blank">品牌故事：“自由之魂” 原创设计才有活力</a></li>
								<li><a href="http://www.8264.com/viewnews-81549-page-1.html" target="_blank">2012年盘点 山脉户外三条业务线拉动100%增长率</a></li>
								<li><a href="http://www.8264.com/viewnews-81447-page-1.html" target="_blank">2012年大盘点 极星品牌增长实现预期的50%以上</a></li
                            ></ul>
                        </div>
                </div>
            </div>
            <div class="tiao1"></div>
            
            <div class="wap_940" style=" display:none;">
            	<div class="tiao">
                	<img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/pinweihui.png" />
                </div>
                <div class="pw_box clearfix">
					<div class="fl" style="margin-right:30px;width:110px;">
                    	主办方：
                    </div>
                    <div class="fl">
                    	<div>
                        	<a href="http://www.8264.com/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/8264log.jpg" /><br />8264</a>
                        </div>
                    </div>
                </div>
                
                <div class="pw_box clearfix">
					<div class="fl" style="margin-right:30px; width:110px;">
                    	特别支持单位：
                    </div>
                    <div class="fl clearfix">
                    	<div>
                        	<a href="http://www.8264.com/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/8264log.jpg" /><br />8264</a>
                            <a href="http://www.8264.com/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/8264log.jpg" /><br />8264</a>
                            <a href="http://www.8264.com/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/8264log.jpg" /><br />8264</a>
                        </div>
                    </div>
                </div>
                
                <div class="pw_box clearfix">
					<div class="fl" style="margin-right:30px; width:110px;">
                    	合作媒体：
                    </div>
                    <div class="fl clearfix" style="width:750px;">
                    	<div>
                        	<a href="http://www.8264.com/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/8264log.jpg" /><br />8264</a>
                            <a href="http://www.8264.com/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/8264log.jpg" /><br />8264</a>
                            <a href="http://www.8264.com/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/8264log.jpg" /><br />8264</a>
                            <a href="http://www.8264.com/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/8264log.jpg" /><br />8264</a>
                            <a href="http://www.8264.com/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/8264log.jpg" /><br />8264</a>
                            <a href="http://www.8264.com/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/8264log.jpg" /><br />8264</a>
                            <a href="http://www.8264.com/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/8264log.jpg" /><br />8264</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wap_940">
            	<div class="tiao">
                	<img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/mtzhichi.png" />
                </div>
                <div class="mtzc clearfix">
                	<a href="http://www.cntmedia.cn/" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/dpd/zhongguoguojialvyou.jpg" width="100" height="50" border="0" /><br />中国国家旅游</a>
					<a href="http://qicai.fengniao.com/338/3387450.html"target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/dpd/fengniao.jpg" /><br />蜂鸟网</a>
					<a href="http://bbs.tuniu.com/thread-245889-0.html" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/2011dapandian1/images/mt/mt84.jpg" width="100" height="50" border="0" /><br />途牛旅游网</a>
					<a href="http://travel.21cn.com/news/express/2012/12/04/13888313.shtml" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/dpd/21cn.jpg" width="100" height="50" border="0" /><br />21cn旅游</a>
					<a href="http://www.yododo.com/news/013B5FC4B1080DAAFF8080813B5E808D" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/dpd/youduoduo.jpg" width="100" height="50" border="0" /><br />游多多</a>
                    <a href="http://www.cntauto.com/a/show/2011/11231342.html" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/2011dapandian1/images/mt/mt75.jpg" width="100" height="50" border="0" /><br />中国旅游汽车网</a>
                    <a href="http://go.huanqiu.com/"target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/dpd/huanqiuwang.JPG" width="100" height="50" border="0" /><br />环球旅游</a>
					 <a href="http://news.cncn.com/182027.html"target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/2011dapandian1/images/mt/mt77.jpg" width="100" height="50" border="0" /><br />欣欣旅游网</a>
					 <a href="http://www.onlinesd.cn/tour/ly/2012-12-07/8975.html"target="_blank"><img src="http://image.8264.com//oldcms/moban/zt/20121128_dapandian/images/dpd/szlogo.jpg" width="100" height="50" border="0" /><br />山东在线</a>
					 <a href="http://www.21rv.com/news/guonei/2012-12/11/15014090508.htm" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/dpd/21rv100x50.jpg" width="100" height="50" border="0" /><br />21世纪房车网</a>
					 <a href="http://media.ifeng.com/partner/detail_2011_11/25/10910445_0.shtml" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/2011dapandian1/images/mt/mt65.jpg" width="100" height="50" border="0" /><br />凤凰网</a>
					  <a href="http://bbs.tiexue.net/post_6477632_1.html" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/2009pandian/images/mt/mt17.jpg" width="100" height="50" border="0" /><br />铁血论坛</a>  
                    <a href="http://in.daqi.com/article/3218567.html" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/2009pandian/images/mt/mt14.jpg" width="100" height="50" border="0" /><br />大旗网</a>
                    <a href="#"><img src="http://image.8264.com/oldcms/moban/zt/2009pandian/images/mt/mt6.jpg" width="100" height="50" border="0" /><br />北方网</a>
                    <a href="#"><img src="http://image.8264.com/oldcms/moban/zt/2011dapandian1/images/mt/mt79.jpg" width="100" height="50" border="0" /><br />《华夏地理》杂志</a>             
					<a href="#"><img src="http://image.8264.com/oldcms/moban/zt/2011dapandian1/images/mt/mt73.jpg" width="100" height="50" border="0" /><br />艺龙旅游指南</a>
                    <a href="http://gb.cri.cn/27824/2011/11/22/4646s3445623.htm" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/2009pandian/images/mt/mt26.jpg" width="100" height="50" border="0" /><br />CRI国际在线</a>
                    <a href="http://travel.ce.cn" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/2011dapandian1/images/mt/mt58.jpg" width="100" height="50" border="0" /><br />中国经济网</a>
                    <a href="http://www.51766.com/xinwen/11024/1102478367.html" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/2009pandian/images/mt/mt24.jpg" width="100" height="50" border="0" /><br />中国通用旅游网</a>
                    <a href="http://www.tvtour.com.cn/news/html/china/2011/1124/74338.html" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/2011dapandian1/images/mt/mt80.jpg" width="100" height="50" border="0" /><br />环视旅游网</a>
                    <a href="http://www.lotour.com/news/20111122/641539.shtml" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/2011dapandian1/images/mt/mt61.jpg" width="100" height="50" border="0" /><br />乐途旅游</a>
                </div>
				<div style="text-align:center; font-weight:bold; margin-top:10px; color:#999">媒体合作请联系：李小姐  qq 107120557   电话022-23708264转826</div>
            </div>
            
          	<div class="tiao wap_940">
                	<img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/images/wqhuigu.png" />
            </div>
            <div class="wqhg">
            		<div class="gun" id="de">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td id="de1">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                        	<!--滚动图片添加开始-->
                                            <!--第一张开始-->
											<td>
                                                <div class="imgall"><a href="http://www.8264.com/portal-topic-topicid-1386.html" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/wq_img6.jpg"/><br />2011年评选回顾</a></div>
                                            </td>
                                            <td>
                                                <div class="imgall"><a href="http://www.8264.com/portal-topic-topicid-1343.html" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/wq_img1.jpg"/><br />2010年评选回顾</a></div>
                                            </td>
                                            <!--第一张结束-->
                                            <td>
                                                <div class="imgall"><a href="http://www.8264.com/portal-topic-topicid-1288.html" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/wq_img2.jpg"/><br />2009年评选回顾</a></div>
                                            </td>
                                            <td>
                                                <div class="imgall"><a href="http://www.8264.com/portal-topic-topicid-1203.html" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/wq_img3.jpg"/><br />2008年评选回顾</a></div>
                                            </td>
                                            <td>
                                                <div class="imgall"><a href="http://www.8264.com/portal-topic-topicid-1066.html" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/wq_img4.jpg"/><br />2007年评选回顾</a></div>
                                            </td>
                                            <td>
                                                <div class="imgall"><a href="http://www.8264.com/20386.html" target="_blank"><img src="http://image.8264.com/oldcms/moban/zt/20121128_dapandian/img/wq_img5.jpg"/><br />2006年评选回顾</a></div>
                                            </td>

                                            <!--滚动图片添加结束-->
                                        </tr>
                                    </table>
                                </td>
                                <td id="de2">&nbsp;</td>
                            </tr>
                        </table>
                        <SCRIPT language=JavaScript type=text/javascript>
                            function GetObj01(objName){
                                if(document.getElementById){
                                    return eval('document.getElementById("' + objName + '")');
                                }else if(document.layers){
                                    return eval("document.layers['" + objName +"']");
                                }else{
                                    return eval('document.all.' + objName);
                                }
                            }
                              var speed01=20//速度数值越大速度越慢
                              GetObj01("de2").innerHTML=GetObj01("de1").innerHTML
                              function Marquee01(){
                                  if(GetObj01("de").scrollLeft<=0)
                                  GetObj01("de").scrollLeft=GetObj01("de1").offsetWidth
                                  else{
                                    GetObj01("de").scrollLeft--
                                  }
                              }
                              var MyMar01=setInterval(Marquee01,speed01)
                              GetObj01("de").onmouseover=function() {clearInterval(MyMar01)}
                              GetObj01("de").onmouseout=function() {MyMar01=setInterval(Marquee01,speed01)}
                              </SCRIPT>
					</div>
            </div>
            
        </div>
        <div class="mian_fot"></div>
    </div>
	<div class="bottom">
    	<div class="bottom2"><a href="http://www.8264.com/about-index.html" target="_blank">8264简介</a>&nbsp;|&nbsp;<a href="http://www.8264.com/about-contact.html" target="_blank">联系我们</a>&nbsp;|&nbsp;<a href="http://www.8264.com/about-adservice.html" target="_blank">广告服务</a>&nbsp;|&nbsp;<a href="http://www.8264.com/zhuanti" target="_blank">户外热点</a>&nbsp;|&nbsp;<a href="http://www.8264.com/link/" target="_blank">户外网址大全</a>&nbsp;|&nbsp;<a href="http://www.8264.com/sitemap" target="_blank">网站地图</a><br><a href="http://bx.8264.com" target="_blank"><span>户外活动有风险，8264提醒您购买</span></a> <a href="http://bx.8264.com/?8264com"><span>户外保险</span></a><br>          除了脚印什么都不留下 除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。8264&nbsp;版权所有   <a href="http://www.miibeian.gov.cn/" target="_blank">津ICP备05004140号-1</a>&nbsp;&nbsp;&nbsp;<a href="/template/8264/image/icp.jpg" target="_blank">ICP证 津B2-20110106</a></div>
	</div>

</div>
<script type="text/javascript">
	jQuery.noConflict();
	;(function($){    
		$(".nav ul li:has(div.nav_xl)").hover(function(){
			$(this).children("div.nav_xl").stop(true,true).show();
		},function(){
			$(this).children("div.nav_xl").stop(true,true).hide();
		});
		$(".mian_midL2 .tab_menu ul li").hover(function(){
				$(this).addClass("selected")
				.siblings().removeClass("selected");
		var index=$(".mian_midL2 .tab_menu ul li").index(this);
		$(".mian_midL2 .tab_box>div").eq(index).show().siblings().hide();
		})
	})(jQuery);	
</script>

</body>
</html>
