<html>
<head>
<title>2006铁马环球行</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<META content=2006铁马环球行. name=description>
<META content=2006铁马环球行 name=keywords>
<link href="/css/igenus.css" rel="stylesheet" type="text/css">
<link href="/css/css.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.f14b {	font-size:14px;
	color:#333333;
	line-height: 150%;
	font-weight: bold;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
</head>

<body>
<table width="776"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="27" background="http://static.8264.com/oldcms/images/index1(1)_02.gif"><div align="center">
        <table width="776" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="221"><div align="center" class="td" style="text-align:center;">
                <div align="center" style="text-align:center;">                
                  <SCRIPT language=JavaScript>
<!--
calendar1 = new Date();
day = calendar1.getDay();
month = calendar1.getMonth();
date = calendar1.getDate();
year = calendar1.getYear();
if (year< 100) year = 1900 + year;
cent = parseInt(year/100);
g = year % 19;
k = parseInt((cent - 17)/25);
i = (cent - parseInt(cent/4) - parseInt((cent - k)/3) + 19*g + 15) % 30;
i = i - parseInt(i/28)*(1 - parseInt(i/28)*parseInt(29/(i+1))*parseInt((21-g)/11));
j = (year + parseInt(year/4) + i + 2 - cent + parseInt(cent/4)) % 7;
l = i - j;
emonth = 3 + parseInt((l + 40)/44);
edate = l + 28 - 31*parseInt((emonth/4));
emonth--;
var dayname = new Array ("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
var monthname = new Array ("1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月" );
document.write("<span class=font9><font color=#000000>"+year +"年");
document.write(monthname[month]);
document.write(date + "日  ");
document.write(dayname[day]+" "+"</font></span>");
// January(1月份节日，以下同。)
if ((month == 0) && (date == 1)) document.write("元旦");
if ((month == 4) && (date == 1)) document.write("国际劳动节");
if ((month == 4) && (date == 4)) document.write("青年节");
if ((month == 5) && (date == 1)) document.write("国际儿童节");
if ((month == 11) && (date == 25)) document.write("圣诞节");
document.write("</font>");
//-->
                  </SCRIPT>
                  <SCRIPT>
var SMDay= new Array (0,31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
var a=0;
var b,c,d;
var today=new Date();
yy=today.getYear();
SMonth=today.getMonth()+1;
SDay=today.getDate();
weekday=today.getDay();
if ((yy%4==0) & (yy%100!=0) | (yy%400==0)) SMDay[2] = 29;
for (i=0;i<SMonth;i++)
{
a=SMDay[i]+a;
}
a=a+SDay;
b=(7+a-weekday)%7;
d=7-b;
c=(a+d-weekday+7)/7;
document.write("<font color=#000000>","第",c,"周","</font>");
                  </SCRIPT>
</div>
            </div></td>
            <td><div align="center" class="td">
                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="92%"><a href="http://www.8844shop.com" target="_blank"><font color=red>户外用品</font></a>·<a href="http://www.yododo.com.cn/" target="_blank"><font color="0000ff">游多多自助游</font></a>·<a href="http://www.91ski.com" target="_blank">就要滑雪网</a>·<a href="http://bbs.8264.com/forum-174-1.html" target="_blank">打折促销</a>·<a href="http://bbs.8264.com/forum-163-1.html" target="_blank">问答</a>·<a href="http://home.8264.com/" target="_blank">驴友之家</a>/<a href="http://travel.elong.com/flights/Default.aspx?Campaign_ID=4050879" target="_blank">机票</a>·<a href="http://so.8264.com" target="_blank">搜索</a>·<a href="/list/588" target="_blank">杂志</a>·<a href="http://www.8264.net" target="_blank">English</a></td>
                  </tr>
                </table>
            </div></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td><div align="center">
        <table width="776" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="215" height="60"><div align="left"><a href="/"><img src="http://static.8264.com/oldcms/images/logo1.gif" width="205" height="60" border="0" /></a></div></td>
            <td width="561"><div align="center">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="25" background="http://static.8264.com/oldcms/images/index1(1)_06.gif"><div align="center" style="text-align:center;">
                        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="13%"><div align="center" style="text-align:center;"><a href="http://osm.8264.com" target="_blank">户外经理人</a></div></td>
                            <td width="9%"><div align="center" style="text-align:center;"><a href="http://dian.8264.com" target="_blank">户外店</a></div></td>
							<td width="8%"><div align="center" style="text-align:center;"><a href="http://u.8264.com/brand.php/" target="_blank"><font color="#FF0000">品牌</font></a></div></td>
                            <td width="11%"><div align="center" style="text-align:center;"><a href="http://pk.8264.com" target="_blank" >户外讨论</a><a href="http:/pk.8264.com" target="_blank"></a></div></td>
                            <td width="13%"><div align="center" style="text-align:center;"><span class="td"><a href="/ziliao/face2face" target="_blank">名家面对面</a></span></div></td>
                            <td width="12%"><div align="center" style="text-align:center;"><span class="td"><a href="http://www.8264.com/list/751/" target="_blank">商业频道</a></span></div></td>
                            <td width="11%"><div align="center" style="text-align:center;"><a href="http://bbs.8264.com/forum-156-1.html" target="_blank">招聘求职</a></div></td>
                            <td width="23%"><div align="center" style="text-align:center;"><a href="http://www.8844shop.com" target="_blank"><img src="http://static.8264.com/oldcms/images/index1_09.gif" width="116" height="18" border="0" /></a></div></td>
                          </tr>
                        </table>
                    </div></td>
                  </tr>
                  <tr>
                    <td height="26" background="http://static.8264.com/oldcms/images/index1(1)_08.gif"><div align="center" class="td" style="text-align:center;"><a href="/list/204" target="_blank">户外装备</a> - <a href="/list/224" target="_blank">登山频道</a> - <a href="/list/232" target="_blank">攀岩频道</a> - <a href="/list/251" target="_blank">游记攻略</a> - <a href="/list/243" target="_blank">经典线路</a> - <a href="/list/238" target="_blank">户外知识</a> - <a href="/list/389" target="_blank">滑翔</a> - <a href="/list/545" target="_blank">自驾</a> - <a href="/list/566" target="_blank">救援</a> - <a href="/list/576" target="_blank">环保</a></div></td>
                  </tr>
                </table>
            </div></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td height="23" bgcolor="A2A25E"><div align="center">
        <table width="100%" height="23"  border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="130"><div align="center" style="text-align:center;">户外资料--一网打尽</div></td>
            <td width="519" class="td"><div align="left"><a href="/">首页</a> | <a href="/list/201" target="_blank">新闻</a> | <a href="http://pp.8264.com" target="_blank"><font color="0000ff">美女图片</font></a> | <a href="/picnews_list/" target="_blank">图文</a> | <a href="http://u.8264.com/activity.php" target="_blank">同行</a> | <a href="/topic_list/" target="_blank">专题</a> | <a href="http://u.8264.com/activity.php" target="_blank">活动</a><a href="http://u.8264.com/activity.php" target="_blank"><img src="http://static.8264.com/oldcms/img/new2.gif" width="28" height="11" border="0" /></a> | <a href="/sitelink/index.html" target="_blank">户外网址</a> | <a href="http://u.8264.com/" target="_blank">驴友录</a> | <a href="http://bbs.8264.com" target="_blank"><font color="0000ff">社区论坛</font></a> </div></td>
            <td width="127" class="td"><div align="center" style="text-align:center;"><a href="http://home.8264.com/" target="_blank"><img alt="驴友之家" src="http://static.8264.com/oldcms/img/8264gg/2008/lvyou2.gif" width="111" height="19" border="0" /></a></div></td>
          </tr>
        </table>
    </div></td>
  </tr>
</table>
<div align="center">
    <table width="776" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="776" height="80">
            <param name="movie" value="/img/8264.swf">
            <param name="quality" value="high">
            <embed src="http://static.8264.com/oldcms/img/8264.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="776" height="80"></embed>
        </object></td>
      </tr>
    </table>
    <table width="776" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="768" valign="top"><TABLE width=777 height=23 border=0 align="center" cellPadding=0 cellSpacing=0>
            <TBODY>
              <TR>
                <TD width=12 background=http://static.8264.com/oldcms/img/2006/index_37.gif></TD>
                <TD vAlign=top width=630>
                  <TABLE height=23 cellSpacing=0 cellPadding=0 width="100%" 
      background=http://static.8264.com/oldcms/img/2006/index_63.gif border=0>
                    <TBODY>
                      <TR>
                        <TD align=middle width="26%"><div align="center"><a href="2006a.asp"><IMG height=14 src="http://static.8264.com/oldcms/img/2006/menu_01.gif" border=0></a></div></TD>
                        <TD align=middle width="24%"><div align="center"><IMG src="http://static.8264.com/oldcms/img/2006/menu_03.gif" height="14" 
          border=0></div></TD>
                        <TD align=middle width="26%"><div align="center"><IMG height=14 src="http://static.8264.com/oldcms/img/2006/menu_04.gif" border=0></div></TD>
                        <TD align=middle width="24%"><div align="center"><IMG height=14 src="http://static.8264.com/oldcms/img/2006/menu_02.gif" border=0></div></TD>
                      </TR>
                    </TBODY>
                </TABLE></TD>
                <TD vAlign=top background=http://static.8264.com/oldcms/img/2006/index_60.gif><IMG height=1 
      src="http://static.8264.com/oldcms/img/2006/shim.gif" width=1></TD>
                <TD width=8 background=http://static.8264.com/oldcms/img/2006/index_23.gif 
  height=3></TD>
              </TR>
            </TBODY>
        </TABLE></td>
      </tr>
    </table>
    <table width="776" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="768" valign="top"><TABLE width=777 border=0 align="center" cellPadding=0 cellSpacing=0 bgcolor="#FFFFFF">
            <TBODY>
              <TR>
                <TD width=15 background=http://static.8264.com/oldcms/img/2006/index_37.gif height=555></TD>
                <TD vAlign=top bgColor=#a51313 height=555>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD width="4%"> </TD>
                        <TD width="12%"> </TD>
                        <TD width="13%"> </TD>
                        <TD width="14%"> </TD>
                        <TD width="14%"> </TD>
                        <TD width="12%"> </TD>
                        <TD width="13%"> </TD>
                        <TD width="12%"> </TD>
                        <TD width="6%"> </TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD width=24><IMG height=9 src="http://static.8264.com/oldcms/img/2006/index_25.gif" 
            width=24></TD>
                        <TD width=91><IMG height=9 src="http://static.8264.com/oldcms/img/2006/index_26.gif" 
            width=91></TD>
                        <TD width=95><IMG height=9 src="http://static.8264.com/oldcms/img/2006/index_27.gif" 
            width=95></TD>
                        <TD width=108><IMG height=9 src="http://static.8264.com/oldcms/img/2006/index_28.gif" 
            width=108></TD>
                        <TD width=72><IMG height=9 src="http://static.8264.com/oldcms/img/2006/index_29.gif" 
            width=72></TD>
                        <TD bgColor=#000000><IMG src="http://static.8264.com/oldcms/img/2006/shim.gif"></TD>
                        <TD width=45><IMG height=9 src="http://static.8264.com/oldcms/img/2006/index_31.gif" 
            width=45></TD>
                        <TD width=15><IMG height=9 src="http://static.8264.com/oldcms/img/2006/index_32.gif" 
            width=15></TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                  <TABLE height=447 cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD vAlign=top width=28 background=http://static.8264.com/oldcms/img/2006/index_bg.gif 
          height=457><IMG height=72 src="http://static.8264.com/oldcms/img/2006/index_33.gif" 
            width=28><BR>
                            <IMG height=84 src="http://static.8264.com/oldcms/img/2006/index_40.gif" 
            width=28></TD>
                        <TD width=705 height=457>
                          <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                            <TBODY>
                              <TR>
                                <TD height=450><table height=50 cellspacing=0 cellpadding=0 width=705 align=center 
bgcolor=#000000 border=0>
                                    <tbody>
                                      <tr>
                                        <td valign=top align=right width=30><img height=13 
      src="http://static.8264.com/oldcms/img/2006/016.gif" width=15></td>
                                        <td width=699 height=50 rowspan=2>　<font color="#FFFFFF">
                                          <marquee onMouseOver=stop(); onMouseOut=start(); scrollamount=1 
      scrolldelay=80 direction=up height=40 scrollleft="0" 
      scrolltop="0">
                                      每年的滇藏公路上，都会出现一些骑自行车的人们，他们来自不同国度，说着不同的语言，怀着不同的信念，从公路的一端到另一端，孤独地寻求着自己的方向。并，记录下了一些动人的文字...... <br>
                                      ...上天是公平的，最美丽的奇景都在那些人迹罕至的地方，那里鲜有人甚至生命的痕迹，却美得让人产生为之痴狂的心痛... ...滇藏公路路经几座大江几座大山。公路是在山壁上凿出的几米宽的小路。下面就是深不见底的深谷，山体不时出现塌方。他们曾经到过一家客栈。老板说，他的亲戚一家三口曾沿滇藏路去看亲戚，可回来的路上就遇到塌方，全家坠入深渊...... <br>
                                      ...这里总有转山的人，他们沿着特定的方向围绕着山转圈。每一步都虔诚地叩拜。得转八圈才算完成。一般的山一圈子得二三十公里。转山的人就背着行李与食品，用以支持他剩下的路程...... <br>
                                      ...传说，文成公主嫁到此处的时候，勘测到吐蕃的地形极像一个魔女。而拉萨城的中心卧塘湖是魔女的心脏，湖水系魔女的血液，应在此填土塞其血液，建神庙以镇之。所建寺庙为今天的大昭寺。拉萨从那时起逐渐成为西藏的政治文化及藏传佛教的圣地...... <br>
                                      ...在这里，他们都号称是"环保旅游"。他们骑着自行车，硬是沿着滇藏公里一路骑到拉萨。实在累得不行了，就休息一会儿。养足精神后再骑车走。他们对一些中国内地来的人都坐飞机或坐汽车来觉得奇怪--他们认为骑车才是最好的享受...... <br>
                                      ... 西藏，那里有枯骨，有野生的藏羚羊，有独特风俗的村落。让人常常回味的是那份荒凉与神秘，一点一滴都让人难以忘记......
                                          </marquee>
                                          </font>
                                            <marquee onMouseOver=stop(); onMouseOut=start(); scrollamount=1 
      scrolldelay=80 direction=up height=40 scrollleft="0" 
      scrolltop="0">
                                          </marquee></td>
                                        <td valign=top width=30><img height=12 src="http://static.8264.com/oldcms/img/2006/018.gif" 
    width=18></td>
                                      </tr>
                                      <tr>
                                        <td height="50" valign=bottom>　</td>
                                        <td valign=bottom>　</td>
                                      </tr>
                                      <tr>
                                        <td height="16" align=right valign=bottom><img height=16 src="http://static.8264.com/oldcms/img/2006/017.gif" 
      width=14></td>
                                        <td>　</td>
                                        <td valign=bottom><img height=12 src="http://static.8264.com/oldcms/img/2006/019.gif" 
  width=18></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                    <TABLE width=705 align=center bgColor=#000000 border=0>
                                      <TBODY>
                                        <TR>
                                          <TD width=753>
                                            <HR align=center width=700 color=#dc973c SIZE=1>
                                            <TABLE width="100%" border=0>
                                              <TBODY>
                                                <TR>
                                                  <TD vAlign=top width=380>
                                                    <TABLE width="100%" border=0>
                                                      <TBODY>
                                                        <TR>
                                                          <TD width="6%">　</TD>
                                                          <TD width="31%"><IMG height=22 src="http://static.8264.com/oldcms/img/2006/010.gif" 
                  width=24><STRONG><font color="#FFFFFF"> 聚 焦</font></STRONG></TD>
                                                          <TD width="63%">
                                                            <DIV align=right>> > <font color="#ffcc66">更多</font> . . .</DIV></TD>
                                                        </TR>
                                                        <TR>
                                                          <TD>　</TD>
                                                          <TD colSpan=2>
                                                            <TABLE width="100%" border=0>
                                                              <TBODY>
                                                                <TR>
                                                                  <TD width=10>　</TD>
                                                                  <TD vAlign=center height=20><font color="#999999">·金永刚圆满完成铁马滇藏行</font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·</font><font color="#ffcc66"><A 
                        href="http://www.8264.com/4109.html" 
                        target=_blank><font color="#999999">在等待与期望中-回眸金永刚<三></font></A>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·<A 
                        href="http://www.8264.com/4110.html" 
                        target=_blank><font color="#999999">在等待与期望中 回眸金永刚<二></font></A> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·</font><font color="#0000FF"><A 
                        href="http://www.8264.com/4111.html" 
                        target=_blank><font color="#999999">在等待与期望中 回眸金永刚<一></font></A> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·</font><font color="#0000FF"><A 
                        href="http://www.8264.com/4108.html" 
                        target=_blank><font color="#999999">金永刚单骑到拉萨</font></A> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#666666">·</font><font color="#0000FF"><A 
                        href="http://www.8264.com/4107.html" 
                        target=_blank><font color="#999999">金永刚：骑行路上不慎摔伤</font></A> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#666666">·</font><font color="#0000FF"><a href="http://www.8264.com/4102.html"><font color="#999999">铁马单骑走滇藏</font></a> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#666666">·</font><font color="#0000FF"><A 
                        href="http://www.8264.com/4106.html" 
                        target=_blank><font color="#999999">亲历“2003铁马滇藏行”</font></A> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·</font><font color="#0000FF"><A 
                        href="http://www.8264.com/4105.html" 
                        target=_blank><font color="#999999">昆明青年金永刚“铁马”进西藏</font></A> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·<A 
                        href="http://www.8264.com/4104.html" 
                        target=_blank><font color="#999999">昆明青年金永刚立志骑车环游全球</font></A> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·<font color="#0000FF"><A 
                        href="http://www.8264.com/4103.html" 
                        target=_blank><font color="#999999">年轻的金永刚今日踏上滇藏路</font></A></font></font><IMG 
                        src="http://static.8264.com/oldcms/img/2006/photo.txt" alt=图像 width="15" height="14" border=0> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD 
                  height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                    </TABLE></TD>
                                                                </TR>
                                                              </TBODY>
                                                          </TABLE></TD>
                                                        </TR>
                                                      </TBODY>
                                                    </TABLE>
                                                    <TABLE width="100%" border=0>
                                                      <TBODY>
                                                        <TR>
                                                          <TD width="6%">　</TD>
                                                          <TD width="43%"><IMG height=22 src="http://static.8264.com/oldcms/img/2006/010.gif" 
                  width=24><STRONG> <font color="#FFFFFF">骑车出游小常识</font></STRONG></TD>
                                                          <TD width="51%">
                                                            <DIV align=right>> > . . .</DIV></TD>
                                                        </TR>
                                                        <TR>
                                                          <TD>　</TD>
                                                          <TD colSpan=2>
                                                            <TABLE width="100%" border=0>
                                                              <TBODY>
                                                                <TR>
                                                                  <TD width=10>　</TD>
                                                                  <TD vAlign=center height=20><font color="#999999">·<A 
                        href="http://www.8264.com/4118.html" 
                        target=_blank><font color="#999999">特殊的地形的行车技巧</font></A></font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·</font><font color="#0000FF"><A 
                        href="http://www.8264.com/4112.html" 
                        target=_blank><font color="#999999">野外骑行安全问题处理方法</font></A> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·</font><font color="#0000FF"><A 
                        href="http://www.8264.com/4113.html" 
                        target=_blank><font color="#999999">爬坡轻快技巧</font></A> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·</font><font color="#0000FF"><A 
                        href="http://www.8264.com/4114.html" 
                        target=_blank><font color="#999999">自行车旅游的准备</font></A> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·<font color="#0000FF"><A 
                        href="http://www.8264.com/4115.html" 
                        target=_blank><font color="#999999">城市休闲--自行车旅游</font></A></font></font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD 
                  height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                    </TABLE></TD>
                                                                </TR>
                                                              </TBODY>
                                                          </TABLE></TD>
                                                        </TR>
                                                      </TBODY>
                                                  </TABLE></TD>
                                                  <TD width=1 bgColor=#ffcc66></TD>
                                                  <TD vAlign=top width=380>
                                                    <TABLE width="100%" border=0>
                                                      <TBODY>
                                                        <TR>
                                                          <TD width="6%">　</TD>
                                                          <TD width="94%"><IMG height=22 src="http://static.8264.com/oldcms/img/2006/010.gif" 
                  width=24> <font color="#FFFFFF"><STRONG>期 待</STRONG></font></TD>
                                                        </TR>
                                                        <TR>
                                                          <TD>　</TD>
                                                          <TD><FONT 
                  color=#ffcc66>　　金永刚告诉我们，如果条件允许，他将把路途中所见拍成图片；把路途中所感整理成文，以地域划分，分四段（云南段；西藏段；尼泊尔段；回程）传给我们，传给大家。。。请登陆8264，和我们一起关注金永刚。。。</FONT></TD>
                                                        </TR>
                                                      </TBODY>
                                                    </TABLE>
                                                    <TABLE width="100%" border=0>
                                                      <TBODY>
                                                        <TR>
                                                          <TD width="6%">　</TD>
                                                          <TD width="36%"><IMG height=22 src="http://static.8264.com/oldcms/img/2006/010.gif" 
                  width=24><STRONG><font color="#FFFFFF"> 图 集</font></STRONG></TD>
                                                          <TD width="58%">
                                                            <DIV align=right>> > <A 
                  href="http://pic.8264.com" target="_blank"><font color="#999999">更多</font></A> . . .</DIV></TD>
                                                        </TR>
                                                        <TR>
                                                          <TD>　</TD>
                                                          <TD colSpan=2>
                                                            <TABLE width="100%" border=0>
                                                              <TBODY>
                                                                <TR>
                                                                  <TD colspan="3"><font color="#999999">·</font><A 
                        href="http://pic.8264.com" 
                        target=_blank><font color="#0000FF"><font color="#999999">金永刚西藏段图集[四]</font> </font></A><font color="#0000FF"><IMG 
                        src="http://static.8264.com/oldcms/img/2006/photo.txt" alt=图像 width="15" height="14" border=0> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·</font><font color="#0000FF"><A 
                        href="http://pic.8264.com" 
                        target=_blank><font color="#999999">金永刚西藏段图集[三]</font> </A><IMG 
                        src="http://static.8264.com/oldcms/img/2006/photo.txt" alt=图像 width="15" height="14" border=0> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·</font><font color="#0000FF"><A 
                        href="http://pic.8264.com" 
                        target=_blank><font color="#999999">金永刚西藏段图集[二]</font> </A><IMG 
                        src="http://static.8264.com/oldcms/img/2006/photo.txt" alt=图像 width="15" height="14" border=0> </font>
                                                                      <TABLE cellSpacing=0 cellPadding=0 width="10%" 
                          border=0>
                                                                        <TBODY>
                                                                          <TR>
                                                                            <TD height=3></TD>
                                                                          </TR>
                                                                        </TBODY>
                                                                      </TABLE>
                                                                      <font color="#999999">·</font><font color="#0000FF"><A 
                        href="http://pic.8264.com" 
                        target=_blank><font color="#999999">金永刚西藏段图集[一]</font> </A><IMG 
                        src="http://static.8264.com/oldcms/img/2006/photo.txt" alt=图像 width="15" height="14" border=0></font> </TD>
                                                                </TR>
                                                              </TBODY>
                                                          </TABLE></TD>
                                                        </TR>
                                                      </TBODY>
                                                    </TABLE>
                                                    <div align="center"><br>
                                                        <br>
                                                  </div></TD>
                                                </TR>
                                              </TBODY>
                                          </TABLE></TD>
                                        </TR>
                                      </TBODY>
                                  </TABLE></TD>
                              </TR>
                            </TBODY>
                        </TABLE></TD>
                        <TD vAlign=top width=15 background=http://static.8264.com/oldcms/img/2006/index_bgr.gif 
          height=457><IMG height=52 src="http://static.8264.com/oldcms/img/2006/index_36.gif" 
            width=19><BR>
                            <IMG height=54 src="http://static.8264.com/oldcms/img/2006/index_39.gif" 
            width=19></TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                      <TR>
                        <TD vAlign=top align=right width=28 bgColor=#a51313><IMG height=4 
            src="http://static.8264.com/oldcms/img/2006/index_49.gif" width=4></TD>
                        <TD width=698 background=http://static.8264.com/oldcms/img/2006/index_51.gif></TD>
                        <TD vAlign=top align=left width=19 bgColor=#a51313><IMG height=4 
            src="http://static.8264.com/oldcms/img/2006/index_53.gif" width=4></TD>
                      </TR>
                    </TBODY>
                </TABLE></TD>
              </TR>
            </TBODY>
        </TABLE></td>
      </tr>
    </table>
  <table width="776" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><script language="javascript" src="/include/js/utility.js"></script>
<script language="javascript" src="/comment.js"></script>
<script language="javascript">
var CommentSrc= "/topic/413/";
if(!Page){	//如果在别的包含页面中已经包含过了，就不要再有了
	var Page = {	//使用该page对象,可以得到一些page信息
				ver:1.0	//版本号
	}
}
</script>
<style type="text/css">
<!--
#loginDiv { text-align:left; padding:0 10px 0 10px;}
#loginDiv a{width:40px; border:1px solid #7F9DB9; background:#EFEFEF; padding:0 3px 0 3px;; color:#000; font-size:12px; text-decoration:none; text-align:center; height:18px; line-height:18px; overflow:hidden;}
#loginDiv span{padding:0 10px 0 10px;}
-->
</style>
<center>
 <span style="padding-bottom:4px;padding-top:4px;"><a href="#" name="commentfocus" id="commentfocus"></a></span>
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td  style="padding-bottom:2px;padding-top:4px;"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="background-color:#f4f4f4; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 5px; PADDING-bottom: 2px;BORDER-BOTTOM: #ddd 1px solid; "><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="13%" align="left" class="lefttd25">驴友评论</td>
                          <td width="47%" align="left" class="pingluntd1" id="pageInfo"></td>
                          <td width="40%"  id="pageNav" align="right"></td>
                        </tr>
                    </table></td>
                  </tr>
              </table></td>
            </tr>
          </table>	
		  
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr><td  class="lefttd15">
  
<div id=allcomments ></div>

  </td>
  </tr>
</table>	  
	    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td style="background-color:#f4f4f4; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 5px; PADDING-bottom: 2px;BORDER-BOTTOM: #ddd 1px solid; "><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="13%" ></td>
			  <td width="47%" class="pingluntd1" align="left" id="pageInfo2"></td>
              <td width="40%"  id="pageNav2"  align="right"></td>
            </tr>
        </table></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <form action='' method="post" name="reform" id="reform">
            <td style="padding-top:10px">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="background-color:#f4f4f4; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 6px; PADDING-bottom: 4px;BORDER-BOTTOM: #ddd 1px solid; ">
				    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="20%" align="left"  class="lefttd25">发表评论<a name="recom">&nbsp;</a></td>
                        <td width="80%"  class="pingluntd1"><input name="type" type="hidden" id="type" value="add" />
                            <input name="id0" type="hidden" id="id0" value="413" />
                            <span id="relabel" style="display:none;"> <font color="ff0000">引用回复成功，请输入您的评论！</font>
                            <input name="reid" id="reid" type="hidden"  value="0" />
                          <a href="#recom" onClick="unrecomment()">取消</a> </span> </td>
                      </tr>
                    </table>
				  </td>
                </tr>
              </table>
			      </td>
			     </tr>
			  <tr>
			    <td class="pingluntd4">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pingluntd5">
                    <tr>
                      <td width="10%" align="right">&nbsp;</td>
                      <td width="20%"><input  name="username" id="username" type="hidden" size="16" class="formtd2" disabled="disabled"/></td>
                      <td width="10%" align="right">&nbsp;</td>
                      <td width="5%">&nbsp;</td>
                      <td width="55%"><div id="loginDiv" style=" color:#990033"></div></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="70%" align="center" class="pingluntd4"><textarea  name="content" id="content" cols="80" rows="10"></textarea></td>
                    <td width="30%" align="left" class="pingluntd4"><table width="66%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="pingluntd3">请您发言时务必尊重网上道德与我国相关法律法规!</td>
                        </tr>
                        <tr>
                          <td align="center" class="righttd14"><input type="button" onClick="sendComment(CommentSrc,'topic')" title="Ctrl+Enter" value="提交" />[Ctrl+Enter]</td>
                        </tr>
                    </table></td>
                  </tr>
              </table>
			    </td>
			  </tr>
			  </table>
			  </td>
          </form>
        </tr>
      </table>
	  </center>
<script language="javascript">
goPage(CommentSrc,1);
</script>
<script src="/login/isLogin.js"></script>
<script src="/login/logout.js"></script>
<script language=javascript>
//ctrl+enter提交评论
ie = (document.all)? true:false;
if (ie){
	function ctlent(){
		if(event.ctrlKey && window.event.keyCode==10){
			sendComment(CommentSrc,'topic');
		}
	}
	window.document.onkeypress = ctlent;
}
//设置不同页面的兼容性
function init_comment(){	//这里可以初始化页面的更多特性
	var content = document.getElementById('content');
	if(Page.size==1024){
		content.cols=110;
	}else if(Page.size==776){
	
		content.cols=80;
	}
	//add by QGL
	checkLogin();
}
function checkLogin(){
	var response = isLogin();
	var loginDiv = document.getElementById('loginDiv');
	var str = '';
	if(response.result==0){
		UserInfo = response.data;
		document.getElementById('username').value = UserInfo.UserName;	
		str = '您好!' + UserInfo.UserName + ' 欢迎光临8264　　';
		str += '<a href="javascript:void(0)" onclick="logout();window.location.reload();">登出</a>';
	}else{
		//reurl = escape(location.href);
		//alert(reurl);
		//str = '<a href="http://www.8264.com/login/?forward='+location.href+'#commentfocus">登录</a>|<a href="http://shop.8264.com/index.php?gOo=cmVnaXN0ZXJfMS5kd3Q=&forward='+escape(location.href)+'#commentfocus">注册</a>后发表评论';
		hrefto = location.href;
		reurl = hrefto+'#commentfocus';
		reurl = escape(reurl);
		//reurl = escape(location.href+#commentfocus);
		//alert(reurl);
		str = '<a href="http://www.8264.com/login/?forward='+reurl+'">登录</a>　<a href="http://shop.8264.com/index.php?gOo=cmVnaXN0ZXJfMS5kd3Q=&forward='+escape(location.href)+'%23commentfocus">注册</a><span>后发表评论</span>';
	}
	loginDiv.innerHTML = str;
}
var UserInfo = {};
try{init_comment();}catch(e){}
</script>

</td>
    </tr>
  </table>
</div>
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="24" background="http://static.8264.com/oldcms/images/index1_93.gif"><div align="center">
        <table width="750" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><a href="/ziliao/about/aboutus.php" target="_blank">关于我们</a> | <a href="/list/531" target="_blank">联系我们</a> |  <a href="/ziliao/sitemap.html" target="_blank">网站地图</a> |  <a href="http://www.8264.com/tougao.php" target="_blank">我要投稿</a> | <a href="/ziliao/about/ad2.php" target="_blank">广告服务</a> | <a href="/list/531" target="_blank">编辑部的故事</a> | <a href="/sitelink/index.html" target="_blank"><font color="red">友情连接</font></a></td>
          </tr>
        </table>
    </div></td>
  </tr>
</table>
<div align="center">
<div align="center" style="width:776px; text-align:left; margin-left:auto; margin-right:auto;">
  <div align="center" style="width:776px; line-height:150%;padding-top:6px; text-align:center;" class="td"><a href="/8954.html" target="_blank"><font color="#0000ff">若发现本站有任何错误，请留言告诉我们</font></a> | <a href="http://bbs.8264.com/thread-35885-1-1.html" target="_blank"><font color="#0000ff">免费申请8264队旗和不干胶贴</font></a> | <a href="http://home.8264.com/" target="_blank"><font color="#0000ff">驴友之家</font></a><br>
      除了脚印什么都不留下 除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。<br>
      <a href="/ziliao/about/ad2.php"><font color="red"><b>广告联系：022-23708264-818</b></font></a> Mail:admin<img src="http://static.8264.com/oldcms/images/mail.gif" width="10" height="10" border="0">8264.com <a href="http://www.miibeian.gov.cn" target="_blank">津ICP备05004140号-1</a>

      <br>
    <font color="#5F8C00">户外运动有风险，8264提醒您务必注意出行安全</font></div>
</div>
</div> 
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #004a9c;color: #004a9c;
padding-top: 6px;padding-right: 10px;padding-bottom: 4px;padding-left: 10px;margin-top:15px;text-align:center;">
    <tr>
      <td>合作项目：<a href="/">8264</a> | <a href="http://osm.8264.com/" target="_blank">户外经理人</a> | <a href="http://www.91ski.com/" target="_blank">就要滑雪网</a> | <a href="http://www.yododo.com.cn/" target="_blank">游多多旅行网</a> | <a href="http://bbs.8264.com/" target="_blank">驴友论坛</a> | <a href="http://www.8844shop.com/" target="_blank">户外用品商城</a> | <a href="http://u.8264.com/" target="_blank">驴友开心网</a> | <a href="http://www.8264.com/pp/" target="_blank">美女图片</a>  </td>
    </tr>
</table>
<span style="display:none;"><script src="http://v10.cnzz.com/stat.php?id=1629072&web_id=1629072" language="JavaScript" charset="gb2312"></script>
<script src="http://s94.cnzz.com/stat.php?id=30025&web_id=30025" language="JavaScript" charset="gb2312"></script>
</span></body>
</html>