<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>雪花勇闯天涯河北选拔赛招募</title>
<link href="http://static.8264.com/oldcms/moban/zt/2014snow_hb/style/style.css" rel="stylesheet" type="text/css">
<script src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/js/jquery.js" type="text/javascript"></script>
</head>

<body>
<div class="branner"></div>
<div class="layout">
	<div class="p_r con1">
		<div class="shipin"><embed width="502" height="312" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://player.youku.com/player.php/sid/XNzM3NTYwNzY4/v.swf" loop="true" play="true" quality="best" menu="true"></div>
		<div class="info">
			<p class="infoup">如果你体能强健、身体素质过硬；如果你崇尚环保、践行低碳；如果你渴望打破樊笼、重归自然；如果你有一旦踏上旅程就绝不回头意志力……那就请接受这份自然的召唤，感受一份从未有过的户外挑战之旅！</p>
			<p class="infodown">2014雪花勇闯天涯河北区域“城市挑战”活动<span>6月</span>起正式启动，活动辐射石家庄、保定、沧州、唐山、秦皇岛五大地市，<span>7月-8月</span>，城市分站赛集中选拔。每个城市分站赛的前5名选手将挑战河北省勇闯天涯决赛，<span>9月</span>河北省第一名将代表河北参与勇闯天涯挑战未登峰全国赛，角逐真正的勇士！</p>
		</div>
		<div class="b_arrow"></div>
	</div>
	<div class="clear_b pt40">
		<div class="w392 f_l">
			<div class="title33_blue">
				<span>参赛资格<em>Eligibility</em></span>
			</div>
			<div class="w_info pt17">区域选拔赛报名选手<span>年龄20-45岁</span>，具有户外活动经验的消费者、啤酒爱好者，有三次以上的户外经历且无不适宜户外活动的重大疾病。</div>
			<div class="g_info">
				<span>河北省决赛：</span>
				分站赛前5名参与河北省决赛，共计25人。地点待定。<br>
				<span>勇闯天涯挑战未登峰全国：</span>
				河北省一等奖参与全国决赛，共计1人。
				<em>以上赛程如遇恶劣天气等不可抗力因素或将酌情调整，敬请关注活动网站动态信息。</em>
			</div>
		</div>
		<div class="w392 f_r">
			<div class="title33_blue">
				<span>参赛方式<em>Entry  way</em></span>
			</div>
			<div class="w_info pt17">
				<em>1、点击“<span>××站</span>”，填写相应的信息，并跟帖提交一张能体现“勇闯”主题的照片以及“勇闯”口号。</em>
				<em>2、新浪微博、微信公众平台搜索“河北雪花啤酒”，了解活动详情，获取报名表。</em>
				<em>3、雪花勇闯天涯啤酒销售终端，现场填写报名卡。</em>
				<em>4、报名电话：022-58599298</em>
			</div>
			<div class="zdlink clear_b p_r">
				<a href="http://bbs.8264.com/thread-2177414-1-1.html" target="_blank" class="d_1">
					<span>7.27</span>
					<em>保定站</em>
					<i>易县云蒙山</i>
				</a>
				<a href="http://bbs.8264.com/thread-2177395-1-1.html" target="_blank" class="d_2">
					<span>8.2</span>
					<em>石家庄站</em>
					<i>天桂山</i>
				</a>
				<a href="http://bbs.8264.com/thread-2177406-1-1.html" target="_blank" class="d_3">
					<span>8.3</span>
					<em>沧州站</em>
					<i>满城卧龙山</i>
				</a>
				<a href="http://bbs.8264.com/thread-2177389-1-1.html" target="_blank" class="d_4">
					<span>8.9</span>
					<em>秦皇岛站</em>
					<i>五泉山</i>
				</a>
				<a href="http://bbs.8264.com/thread-2177351-1-1.html" target="_blank" class="d_5">
					<span>8.10</span>
					<em>唐山站</em>
					<i>迁西景忠山</i>
				</a>
				<a href="javascript:void(0)" class="jsbg"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/jsbg.png" width="21" height="56"/></a>
			</div>
		</div>
	</div>
	<div class="clear_b pt40">
		<div class="title33_blue title33_orange">
			<span>奖品设置<em>Prizes</em></span>
		</div>
		<div class="clear_b">
			<div class="w392 f_l">
				<div class="no1title">城市分站赛奖品设置</div>
				<div class="g_info">
					<span class="block">所有参赛选手都可获得：勇闯天涯T恤、帽子、头巾+勇闯天涯330ml听装六连包</span>
					<span class="block">城市分站赛前5名：将获得勇闯天涯整箱啤酒</span>
					<span class="lpicon mt20">第一名：<b>5</b> 箱雪花啤酒</span>
					<span class="lpicon">第二名：<b>4</b> 箱雪花啤酒</span>
					<span class="lpicon">第三名：<b>3</b> 箱雪花啤酒</span>
					<span class="lpicon">第四名：<b>2</b> 箱雪花啤酒</span>
					<span class="lpicon">第五名：<b>1</b> 箱雪花啤酒</span>
				</div>
			</div>
			<div class="w392 f_r">
				<div class="no2title">河北省决赛奖品设置</div>
				<div class="g_info pt14">
					<span class="lwcion_o">
						<i>冠军（1名）</i>
						<i class="f14">全国赛名额+勇闯户外装备套装+勇闯天涯啤酒全年版</i>
					</span>
					<span class="lwcion_o">
						<i>亚军（1名）</i>
						<i class="f14">勇闯户外装备套装+ 勇闯天涯啤酒6箱</i>
					</span>
					<span class="lwcion_o">
						<i>季军（1名）</i>
						<i class="f14">勇闯户外装备套装+ 勇闯天涯啤酒3箱</i>
					</span>
					注：勇闯户外装备套装（帐篷、背包、睡袋、登山杖）<br>
       				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;勇闯天涯啤酒全年版：365听（15箱零5听）
				</div>
			</div>
		</div>
	</div>
	<div class="clear_b pt40">
		<div class="title_t_snow">比赛内容</div>
		<div class="title_blue_arrow">每站活动开展竞赛初步设定为：徒步负重穿越、户外生存技能打绳结计时竞赛、户外露营等项目。</div>
		<div class="smbg">“雪花啤酒 勇闯天涯”活动是由华润雪花啤酒（中国）有限公司独立创新的具有原创性的品牌推广活动，<br>
它不仅是国内啤酒品牌最大规模、区域最广泛的一次全国范围的品牌推广活动，<br>
更是雪花啤酒为回馈中国消费者所创立的一个独特的文化品牌。<br></div>
	</div>
	<div class="clear_b pt40">
		<div class="title33_blue">
			<span>分赛图集<em>Atlas</em></span>
		</div>
		<div class="title_q clear_b">
			<div class="w900">
			<a href="#" class="zhong">保定</a>
			<a href="#">石家庄</a>
			<a href="#">沧州</a>
			<a href="#">秦皇岛</a>
			<a href="#">唐山</a>
			
			</div>
		</div>
		<div class="imglist">
			<ul>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t2.jpg"/></a><span>活动现场赛前集合</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t3.jpg"/></a><span>活动开始 队员激情踊跃</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t4.jpg"/></a><span>途中风景秀丽</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t5.jpg"/></a><span>保定站 气势山河</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t6.jpg"/></a><span>参赛队员合影留念</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t7.jpg"/></a><span>颁奖现场 气氛活跃</span></li>
			</ul>
			<ul>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t9.jpg"/></a><span>活动现场队员集合准备</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t10.jpg"/></a><span>开赛前队员做热身活动</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t11.jpg"/></a><span>勇者整装待发 加油</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t12.jpg"/></a><span>女中豪杰勇闯天涯</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t13.jpg"/></a><span>扎帐环节 速度为先</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t14.jpg"/></a><span>颁奖现场 气氛高昂</span></li>
			</ul>
			<ul>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t15.jpg"/></a><span>赛前集合讲话</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t16.jpg"/></a><span>活动打响 激情进取</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t17.jpg"/></a><span>途中勇者肩并肩前进着</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t18.jpg"/></a><span>熟练的进行着扎帐项目</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t19.jpg"/></a><span>颁奖典礼气场高昂</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t20.jpg"/></a><span>勇者齐聚 雪花闯天涯</span></li>
			</ul>
			<ul>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t27.jpg"/></a><span>勇者集结 秦皇岛站</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t28.jpg"/></a><span>跑步 攀岩获奖现场</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t29.jpg"/></a><span>众勇者 赛前热身</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t30.jpg"/></a><span>准备就绪 勇闯天涯</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t31.jpg"/></a><span>勇者们互相帮助 继续前进</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t32.jpg"/></a><span>选手激情挥旗 有你有我</span></li>
			</ul>
			<ul>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t21.jpg"/></a><span>唐山站 合影留念</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t22.jpg"/></a><span>颁奖现场 气氛活跃</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t23.jpg"/></a><span>参赛各小组 激情高昂</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t24.jpg"/></a><span>勇者举旗 挑战未登峰</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t25.jpg"/></a><span>追逐终点 勇者态度</span></li>
				<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/t26.jpg"/></a><span>完成目标 齐手同庆</span></li>
			</ul>
		</div>
	</div>
	<div class="clear_b pt40" style="display:none">
		<div class="title33_blue">
			<span>总决赛图集<em>Atlas</em></span>
		</div>
		<div class="mt20"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_hb/images/bottomimg.jpg"></div>
	</div>
</div>
<div class="bottom">
	<div class="bottomcon">
    	<p class="footer_l">津ICP备05004140号-10 ICP证 津B2-20110106<br><a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
    	<p class="footer_r"><a href="http://www.8264.com/about-index.html" target="_blank">8264简介</a>
		|
		<a href="http://www.8264.com/about-contact.html" target="_blank">联系我们</a>
		|
		<a href="http://www.8264.com/about-adservice.html" target="_blank">广告服务</a>
		|
		<a href="http://www.8264.com/link/" target="_blank">户外网址大全</a>
		|
		<a href="http://www.8264.com/sitemap" target="_blank">网站地图</a>
		</p>
        <div class="bottomcoin"></div>
    </div>
</div>
</body>
</html>
