<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>$topic['title']</title>
<link href="http://static.8264.com/oldcms/moban/zt/fox2013/style/style.css" rel="stylesheet" type="text/css" />
<script src="http://static.8264.com/oldcms/moban/zt/fox2013/js/jquery-1.3.1.js" type="text/javascript"></script>
<!--[if IE 6]>
<script src="http://static.8264.com/oldcms/moban/zt/fox2013/js/DD_belatedPNG_0.0.8a.js"></script>
<script src="http://static.8264.com/oldcms/moban/zt/fox2013/js/DD_belatedPNG_css.js"></script>
<![endif]-->
</head>

<body>
<div class="warper">
	<div class="branner"></div>
	<div class="mid1">
		<div class="left1">
			<ul>
				<li><a href="http://e.weibo.com/2240106545/zrLBdhoTw" target="_blank">&#8226;&nbsp;2013瑞典北极狐极地穿越微博有奖转发</a></li>
				<li><a href="http://bbs.8264.com/thread-1680545-1-1.html" target="_blank">&#8226;&nbsp;参与瑞典北极狐极地穿越活动赢取G-1000精美礼品</a></li>
				<li><a href="http://v.youku.com/v_show/id_XNTQ2Mzk2MDgw.html" target="_blank">&#8226;&nbsp;Fjallraven瑞典北极狐极地穿越—蔚蓝的天空第三天【视频】</a></li>
                <li><a href="http://www.8264.com/viewnews-84877-page-1.html" target="_blank">&#8226;&nbsp;Fjallraven瑞典北极狐极地穿越—真正雪地露营第四天【视频】</a></li>
                <li><a href="http://v.youku.com/v_show/id_XNTQ2NDAwMTYw.html" target="_blank">&#8226;&nbsp;瑞典北极狐极地穿越—顺利抵达终点第五天【视频】</a></li>
               	<li><a href="http://www.8264.com/viewnews-84948-page-1.html" target="_blank">&#8226;&nbsp;瑞典北极狐极地穿越之4月11日-营地上空的极光</a></li>
                <li><a href="http://v.youku.com/v_show/id_XNTQzMjI2NDEy.html" target="_blank">&#8226;&nbsp;2013瑞典北极狐极地穿越4月10日队员进入极地冻土地【视频】</a></li>
                <li><a href="http://v.youku.com/v_show/id_XNTQxMzI5NjAw.html" target="_blank">&#8226;&nbsp;4月9日,瑞典北极狐极地穿越队员抵达挪威,准备启程【视频】</a></li>
                <li><a href="http://www.8264.com/viewnews-85173-page-1.html" target="_blank">&#8226;&nbsp;"穿条内裤去北极" 瑞典北极狐极地穿越装备概览</a></li>
                </ul>
		</div>
		<div class="right1">
			<embed width="424" height="278" wmode="opaque" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="http://player.youku.com/player.php/sid/XNTM3MjgwODQ0/v.swf"> 
		</div>
	</div>
	<div class="mid2">
		<div><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/tiao.jpg"></div>
		<div class="mid2con">
			<div class="mid2con_l">
				<h2>Fj&auml;llr&auml;ven  Polar<br>
					北极狐极地穿越 路线介绍</h2>
				<p> Fj&auml;llr&auml;ven  Polar 北极狐极地穿越全程地处北极圈以北，起点位于挪威海岸Signaldalen，终点位于瑞典Lapland山区的Jukkasjarvi村庄，全程330公里, 至今仍罕有人类踏足，景色壮观。这是北极狐在Fj&auml;llr&auml;ven  Classic，即北极狐经典穿越打造了巨大影响力之后的又一重要品牌活动，于2012年4月11-14日首次举办(2013年穿越行程为4月10-13日)。<br>
					Fj&auml;llr&auml;ven Polar北极狐极地穿越呈现给您北极圈以北300多公里极地气候多变、景色壮观的极地美景。途径北冰洋海岸、横贯极地冻土山脉、穿越北极地区的寒带草原、路过低海拔的山岭、邂逅冰雪覆盖的原始森林，最终到达瑞典境内拉普兰山区Jukkasj&auml;rvi区域。每日的行程以及营地的选择会根据地形、地面条件以及当时的天气情况做适当调整。<a href="http://www.fjallraven.cn/outdoorlife/fjallraven-polar/" target="_blank">&gt;&gt;&gt;&gt;了解更多</a></p>
			</div>
			<div class="mid2con_r"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/map.jpg"/></div>
		</div>
	</div>
	<div class="mid3">
		<div><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/tiao.jpg"></div>
		<div class="mid3con">
			<div class="mid3one"> <img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/test.jpg"/>
				<div class="mid3tan"> <a href="http://www.fjallraven.cn/outdoorlife/fjallraven-polar/fjallraven-polar/" target="_blank">第一天：挪威海岸Signaldalen启程</a> </div>
			</div>
			<div class="mid3one"> <img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/test2.jpg"/>
				<div class="mid3tan"> <a href="http://www.fjallraven.cn/outdoorlife/fjallraven-polar/fjallraven-polar1/" target="_blank">第二天：穿越极地冻土地带</a> </div>
			</div>
			<div class="mid3one"> <img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/test3.jpg"/>
				<div class="mid3tan"> <a href="http://www.fjallraven.cn/outdoorlife/fjallraven-polar/fjallraven-polar2/" target="_blank">第三天：沿 Tornetrask湖驶向终点Jukkasjarv</a> </div>
			</div>
			<div class="mid3one"> <img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/test4.jpg"/>
				<div class="mid3tan"> <a href="http://www.fjallraven.cn/outdoorlife/fjallraven-polar/fjallraven-polar3/" target="_blank">第四天：经过冰雪覆盖的森林，抵达穿越终点Jukkasjarvi</a> </div>
			</div>
		</div>
	</div>
	<div class="mid4">
		<div style="padding:15px 0px;"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/tiao.jpg"></div>
		<img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/mid3.jpg" border="0" usemap="#Map"/>
		<map name="Map" id="Map">
			<area shape="rect" coords="220,21,653,61" href="http://www.hanwag.de/schuh-detail.php?shoe_id=77" target="_blank" />
			<area shape="rect" coords="1,237,363,302" href="http://www.fjallraven.cn/equipment/4/fjallraven-polar-parka" target="_blank" />
			<area shape="rect" coords="398,423,718,471" href="http://www.fjallraven.cn/equipment/10/eco-tour-trousers" target="_blank" />
		</map>
	</div>
	<div class="mid5">
		<div style="padding:15px 0px;"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/tiao.jpg"></div>
		<h2>Fj&auml;llr&auml;ven&nbsp;&nbsp;Activities&nbsp;&nbsp;活动集锦</h2>
		<div class="mid5con">
			<div class="mid5oneblacke"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/a11.jpg" /></div>
			<div class="mid5oneblacke"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/a12.jpg" /></div>
			<div class="mid5oneblacke"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/a13.jpg" /></div>
			<div class="mid5oneblacke"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/a14.jpg" /></div>
			<div class="mid5oneblacke"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/a15.jpg" /></div>
			<div class="mid5oneblacke"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/a16.jpg" /></div>
			<div class="mid5oneblacke"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/a17.jpg" /></div>
			<div class="mid5oneblacke"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/a18.jpg" /></div>
			<div class="mid5oneblacke"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/a19.jpg" /></div>
			<div class="mid5oneblacke"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/a20.jpg" /></div>
		</div>
	</div>
	<div class="mid6"><img src="http://static.8264.com/oldcms/moban/zt/fox2013/images/fnslogo.jpg"/></div>
</div>
<div class="footer">
	<div class="footercon">
		<p class="footer_l">8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106<br>
			<a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
		<p class="footer_r"><a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a> | <a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a> | <a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a> | <a target="_blank" href="http://www.8264.com/link/">户外网址大全</a> | <a target="_blank" href="http://www.8264.com/sitemap">网站地图</a></p>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
jQuery(".mid3one").mouseover(function(){
		jQuery(".mid3tan",this).show();
	}).mouseout(function(){
		jQuery(".mid3tan",this).hide();
	});
</script> 
<script type="text/javascript">
jQuery(".mid5con div").mouseover(function(){
		jQuery(this).addClass("mid5one");
	}).mouseout(function(){
		jQuery(this).removeClass("mid5one");
	});
</script>
</body>
</html>
