<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>美女江湖钓鱼争霸赛</title>
<link href="http://static.8264.com/oldcms/moban/zt/diaoyu/style/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
.STYLE3 {
	color: #FF0000;
	font-weight: bold;
	font-size: 14px;
}
-->
</style>
</head>

<body>
<div class="warpper">
	<div class="banner"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/banner.jpg" width="1000" height="446" border="0" /></div>
    <div class="mid">
    	<div class="left">
        	<div class="title_l"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/lefttitle1.jpg" width="717" height="40" border="0" /></div>
          <div class="con_l1">
            <p class="STYLE3">8264首届美女钓鱼大赛已经于10月17日完满结束！更多精彩敬请留意8264钓鱼版<a href="http://bbs.8264.com/forum-179-1.html">http://bbs.8264.com/forum-179-1.html</a></p>
              <p class="STYLE1"><strong>【美女钓鱼再爆好消息】感谢trackman自游人户外提供超级大奖（详见后面更新）</strong></p>
              <p>【大赛提要】<br />
                据闻垂钓者多为男性，尤其老者居多。窃不以为然，美女钓鱼者也不少，且甚为疯狂。美女者，美人鱼也。对鱼儿乃可实施美人计，众鱼儿蜂拥而至，遂丰收，帅哥们更是闻风而动。<br />
                特此，开展首届8264美女钓鱼“江湖”争霸赛。近水楼台先得月，第一站天津美女钓鱼“江湖”争霸赛即将隆重上线。</p>
              <p>【大赛口号】<br />
                美女钓鱼也疯狂！</p>
              <p>【参与资格】<br />
                1、钓鱼爱好者即可，不管您是菜鸟还是江湖高手，会那杆子就行，来者不拒。<br />
                2、男女不限，女的为参赛先手，男的为拉拉队——这回该男人为女人加油喝彩啦！<br />
                3、原则上为天津及附近钓友，因为毕竟是“江湖”争霸赛：天津站。<br />
                4、当然欢迎其他地方各界人士踊跃参加。其他地方站随后也即将开通，敬请关注。</p>
              <p>【大赛主题】<br />
                本次大赛不为别的，就为了发现钓友中的美女，挖掘美女钓友高手，并以此共享众多青春帅气的帅锅！<br />
                当然，更为美女钓友们提供一个展现才能的“江湖”平台！</p>
              <p>【大赛介绍】<br />
                1、本着娱乐为上，竞技第二的宗旨。<br />
                2、主办方提供全部钓鱼工具，当然更多钓友喜欢用自带的。<br />
                3、邀请众多摄影界高手现场全程拍摄，并设立摄影大奖。<br />
                4、邀请相关钓友高手讲解钓鱼技巧，共同学习。<br />
                5、由8264负责指定钓鱼场地。</p>
              <p>【大赛规则】<br />
                1、本次大赛纯娱乐休闲，不作竞技比拼。<br />
                2、参加钓鱼方式不限，随意各种钓法。<br />
                3、最终钓鱼多者为胜，钓友共同评判。</p>
              <p>【奖项设立】<br />
                1、美女钓鱼“霸主”奖<br />
                ——此奖为综合所有因数最终获得者，收获鱼的数量必须是最多。<br />
                2、最美貌美女钓鱼奖<br />
                ——由所有人共同投票得出最美貌者获得此奖。<br />
                3、最多粉丝美女钓鱼奖<br />
                ——直截了当，谁的支持者多谁就摘下此奖。<br />
                4、最专业美女钓鱼奖<br />
                ——可能不是最美貌的，可能不是最有人气的，可能不是钓鱼最多的，但是全副钓鱼装备最齐全者，将获得此殊荣。<br />
                5、另外设立摄影大奖待定。</p>
              <p><strong>本次大赛奖品暂时保密，必定让你惊喜万分。 </strong></p>
              <p>【大赛报名】<br />
                1、即日起开始报名，报名者需到一下指定地点提交报名，人数不限，男女不限，女的为参赛先手，男的为拉拉队——这回该男人为女人加油喝彩啦！欢迎建立帅哥拉拉队。<br />
                2、另外经过一段时间的征集及推广，综合网友提出的建议做出以下调整（网友有好建议欢迎分享）：<br />
                <strong>活动时间定在：10</strong><strong>月17</strong><strong>日，即十一后回来的第二个周六。</strong><br />
                ——因为十一刚回来，给点时间大家调整调整。<br />
                <strong>活动到场时间：中午12</strong><strong>点30</strong><strong>至13</strong><strong>点，13</strong><strong>点后正式开始。</strong><br />
                ——因为考虑到10月中旬天气稍微有点凉了，中午过后阳光温暖，气候适宜。<br />
              </p>
              <p><strong>报名地址<a href="http://bbs.8264.com/thread-262381-1-1.html" target="_blank">http://bbs.8264.com/thread-262381-1-1.html</a></strong><br />
                  <strong>报名请按以下格式（如果你太懒了直接大书——“我要报名”也未尝不可^_^</strong><strong>）： </strong><br />
                8264ID：江南忆龄<br />
                所在城市：天津（其他地方也欢迎，到时能赶来就行了）<br />
                喜欢钓鱼方式：野钓<br />
                喜欢钓鱼环境：湖泊、水库、大海。</p>
              <p>【注意事项】<br />
                1、参赛者身体健康，得起码拉得起条大鱼嘛。<br />
                2、需注意个人防晒措施。<br />
                3、其他个人注意事项等。</p>
              <p>【主办单位】<br />
                8264?钓鱼论坛（<a href="http://bbs.8264.com/forum-179-1.html" target="_blank">http://bbs.8264.com/forum-179-1.html</a>）<br />
                中国驴友论坛（<a href="http://bbs.8264.com" target="_blank">http://bbs.8264.com</a>） <br />
                驴友开心网（<a href="http://u.8264.com" target="_blank">http://u.8264.com</a>）</p>
<p><strong>如有任何建议请联系： </strong><br />
                邮箱：<a href="mailto:wu.dibao@8264.com">wu.dibao@8264.com</a> <br />
                留言：<a href="mailto:wu.dibao@8264.com">http://vip.8264.com</a> <br />
                Q Q ：229549776</p>
              <p align="center" class="STYLE1">【美女钓鱼再爆好消息】感谢trackman自游人户外提供超级大奖</p>
              <p>美女钓鱼惊喜多多，trackman自游人户外（http://www.trackman.cn）将提供三套大奖，并且凡当日参加现场活动的人员均可得到由自游人提供的8264纪念版防水袋一个！</p>
              <p>大奖一：<br />
                美嘉拉200 超柔徒步棉睡袋<br />
                详见：<a href="http://www.trackman.cn/show_product_222.html">http://www.trackman.cn/show_product_222.html</a></p>
              <p>大奖二：天竺葵 军绿加厚自驾露营垫<br />
                详见：<a href="http://www.trackman.cn/show_product_55.html">http://www.trackman.cn/show_product_55.html</a> </p>
              <p>大奖三：天箭座 经典徒步露营互拼垫<br />
                <a href="http://www.trackman.cn/show_product_42.html">http://www.trackman.cn/show_product_42.html</a></p>
              <p><span class="STYLE1"><strong>钓大鱼，看美女，拿大奖，玩FB</strong><strong>！大家赶紧行动啦！ </strong></span></p>
              <p>首届8264美女钓鱼大赛专题<br />
                <a href="http://www.8264.com/topic/1274.html">http://www.8264.com/topic/1274.html</a></p>
              <p>活动主题帖：<br />
                【强势出击】首届8264美女钓鱼大赛：天津站（最后更新）<br />
  <a href="http://bbs.8264.com/thread-262381-1-1.html">http://bbs.8264.com/thread-262381-1-1.html</a> </p>
            <p>相关征集活动：<br />
              北京版征集：北京驴友助威8264美女钓鱼争霸赛天津站—天津8264总部一日游<br />
  <a href="http://bbs.8264.com/thread-275508-1-1.html">http://bbs.8264.com/thread-275508-1-1.html</a><br />
              活动版征集：<br />
              【驴友论坛北京版联合逍遥户外】10月17日（星期六）北京驴友助威8264美女钓鱼争霸赛天津站—天津8264总部一日游活<br />
  <a href="http://u.8264.com/activity-view-id-4322-page-2.html">http://u.8264.com/activity-view-id-4322-page-2.html</a></p>
          </div>
            <div class="title_l2"><a href="http://bbs.8264.com/thread-262381-1-1.html" target="_blank">更多>></a></div>
            <div class="con_l2">
            	<div class="con_l2imgall">
                	<div class="con_l2img"><a href="http://bbs.8264.com/thread-278227-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/1.jpg" alt="点击查看更多" width="160" height="110" border="0" /></a></div>
                    <div class="con_l2wen">【号外、号外，钓鱼活动精彩内容】云姐看到人家美女保镖所钓滴鱼，赶紧抢过来秀一秀再说，看俺就得瑟给你们看，哈哈哈……</div>
                    <div style="clear:both;"></div>
                </div>
                <div class="con_l2imgall">
                	<div class="con_l2img"><a href="http://bbs.8264.com/thread-278126-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/2.jpg" alt="点击查看更多" width="160" height="110" border="0" /></a></div>
                    <div class="con_l2wen">【美女钓鱼，爷们拍美女】无奈，又是一条鱼苗……美女我都钓了半天了，咋奥滴？总上来小鱼苗……嘿嘿，老大们都哪去了？放生吧……</div>
                    <div style="clear:both;"></div>
                </div>
                <div class="con_l2imgall">
                	<div class="con_l2img"><a href="http://bbs.8264.com/thread-277737-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/3.jpg" alt="点击查看更多" width="160" height="110" border="0" /></a></div>
                    <div class="con_l2wen">【感谢各界驴友钓友】8264首届美女钓鱼大赛完满结束（持续更新中）：驴友们手抓自游人防水袋及8264旗帜，现场热闹非凡……</div>
                    <div style="clear:both;"></div>
                </div>
                <div class="con_l2imgall">
                	<div class="con_l2img"><a href="http://u.8264.com/space-33709677.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/4.jpg" alt="点击查看更多" width="160" height="110" border="0" /></a></div>
                    <div class="con_l2wen">【探访8264总部-50名驴友天津站钓鱼大比拼】2009年10月17日的天津钓友大聚会在50余名来自各地驴友及8264工作人员精心安排下于昨日圆满结束……</div>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="title_l3"><a href="http://bbs.8264.com/forum-179-1.html" target="_blank">更多>></a></div>
            <div class="con_l3">
            	<div class="con_l3imgall">
                	<div class="con_l3img"><a href="http://u.8264.com/space-33698022-do-album-picid-926924.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/yunjie.jpg" width="160" height="110" border="0" /></a></div>
                    <div class="con_l3wen"><a href="http://u.8264.com/space-33698022-do-album-picid-926924.html" target="_blank">傻二钓到累垮</a></div>
                </div>
                <div class="con_l3imgall">
                	<div class="con_l3img"><a href="http://u.8264.com/space-33749752-do-album-picid-927143.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/kaoyu.jpg" width="160" height="110" border="0" /></a></div>
                    <div class="con_l3wen"><a href="http://u.8264.com/space-33749752-do-album-picid-927143.html" target="_blank">看美女烤鱼多香呀</a></div>
                </div>
                <div class="con_l3imgall">
                	<div class="con_l3img"><a href="http://u.8264.com/space-33733225-do-album-picid-926631.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/dayu2.jpg" width="160" height="110" border="0" /></a></div>
                    <div class="con_l3wen"><a href="http://u.8264.com/space-33733225-do-album-picid-926631.html" target="_blank">收获大鱼！</a></div>
                </div>
                <div class="con_l3imgall">
                	<div class="con_l3img"><a href="http://u.8264.com/space-16730029-do-album-id-42960-page-2.html"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/xiaonvhai.jpg" width="160" height="110" border="0" /></a></div>
                    <div class="con_l3wen"><a href="http://u.8264.com/space-16730029-do-album-id-42960-page-2.html" target="_blank">现场最小的钓鱼小美女！</a></div>
                </div>
                <div class="con_l3imgall">
                	<div class="con_l3img"><a href="http://u.8264.com/space-33676400-do-album-picid-924340.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/zhongrenle.jpg" width="160" height="110" border="0" /></a></div>
                    <div class="con_l3wen"><a href="http://u.8264.com/space-33676400-do-album-picid-924340.html" target="_blank">众人齐齐欢乐</a></div>
                </div>
				<div class="con_l3imgall">
                	<div class="con_l3img"><a href="http://u.8264.com/space-125851-do-album-picid-924215.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/gege.jpg" width="160" height="110" border="0" /></a></div>
                    <div class="con_l3wen"><a href="http://u.8264.com/space-125851-do-album-picid-924215.html" target="_blank">美女保镖帮忙拉上个巨型鱼</a></div>
                </div>
                <div class="con_l3imgall">
                	<div class="con_l3img"><a href="http://u.8264.com/space-16808541-do-album-picid-924357.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/dayu2.jpg" width="160" height="110" border="0" /></a></div>
                    <div class="con_l3wen"><a href="http://u.8264.com/space-16808541-do-album-picid-924357.html" target="_blank">再获得大鱼，多兴奋哦</a></div>
                </div>
				<div class="con_l3imgall">
                	<div class="con_l3img"><a href="http://u.8264.com/space-16833956-do-album-picid-927738.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/shaer.jpg" width="160" height="110" border="0" /></a></div>
                    <div class="con_l3wen"><a href="http://u.8264.com/space-16833956-do-album-picid-927738.html" target="_blank">男女搭配干活不累</a></div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="title_l"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/lefttitle4.jpg" width="717" height="40" border="0" /></div>
            <div class="con_l4">
            	<div><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/con4top.jpg" width="712" height="11" border="0" /></div>
                <div class="con_l4wen">
                  <p><strong><a href="http://bbs.8264.com/thread-260427-1-1.html" target="_blank">我跟“大师”钓鲢鳙<br />
                  </a></strong> 我有个很好的老哥，为人不错技术也不错，人送外号“管大师”。下面写的就是在大师钓鲢鳙时偷学的一点小知识和我学钓鲢鳙时候遇见的问题，晒出来给大家看看。 </p>
                  <p><strong><a href="http://bbs.8264.com/thread-259478-1-1.html" target="_blank">台钓调漂的小窍门</a></strong><br />
                    一、 基本调钓方式：<br />
                    (1)、以全标示杆的目数一半为调目，调目的一半为钓目<br />
                    (2)、以全标示杆的目数或一半为调目，分别挂单钩和双钩饵半水记取目数，以半水单钩的目数为钓目。<br />
                    (3)、双钩双饵半水调平水，然后延长水线，使漂上升一目，此时一目即为钓目，去掉双饵标示杆所显出的目数即为调目。<br />
                    (4)、单钩挂饵调平水，去掉后标示杆的目数为调目，双钩上饵到底露出的目数即为钓目。一般都是使用两目的。 </p>
                  <p><strong><a href="http://bbs.8264.com/thread-246767-1-1.html" target="_blank">野钓如何选择钓鱼钓点</a></strong><br />
                    野外钓鱼的钓点，自我看法。<br />
                    第一条.鱼喜欢草,所以尽量选择在有草的地方相对要好一点;<br />
                    第二条.根据天气情况,春秋两季鱼喜欢眼光直接照射的地方,朝阳处应该好些;<br />
                    第三条.鱼鱼喜欢嘻水,所以,回水弯处是好的钓点;<br />
                  第四条.春天鱼要板籽,有草且浅滩处鱼较多,应是好的地方.</p>
                  <p><strong><a href="http://bbs.8264.com/thread-264821-1-1.html" target="_blank">钓鱼谚语大全(</a></strong><a href="http://bbs.8264.com/thread-264821-1-1.html"><strong>经典收藏)</strong></a><strong></strong><br />
                    自古以来钓鱼为千万人所爱好，实践出真知，人们将这些在实践中摸索出的经验总结成经典钓鱼谚语，流传下来。我们钓鱼了解熟悉这些谚语就能少走弯路。这些钓鱼谚语一方面是我们钓鱼的指导，令一方面我们也可以通过实践不断去检验它的准确性，这何尝不是一种求知与实践的乐趣呢？<br />
                    <br />
  <strong><a href="http://bbs.8264.com/thread-263241-1-1.html" target="_blank">休闲垂钓的论述（转）</a></strong><br />
                    钓鱼活动发展到今天，渔人不论对钓鱼活动的理解，钓技的掌握和对各种鱼类生活习性及环境的认知上，都日趋成熟。现如今，鱼越来越难钓了，对如何能钓到鱼，钓好鱼，人们进行了更深入的研究，各种钓具的更新换代，技法的提高，各种极具杀伤力的铒料，以及钓鱼独特的魅力，更增添了钓鱼的乐趣和吸引力。
                    <br />
                    <br />
  <strong><a href="http://bbs.8264.com/thread-260583-1-1.html" target="_blank">【小春子学钓鱼】告诉你三个聚鱼的方法，不看终身后悔</a> </strong><br />
                    告诉你一些聚鱼的方法，保证管用：<br />
                    一、买一两斤韭菜，切碎，到钓点用泥和在一齐，用一半打窝，其余的用来续窝，一会就有鱼来了。主聚鲤、鲫。<br />
                    二、平时弑猪弑鸡的血与花生麸和在一齐发酵，老婆开始骂人时就说明做好了，投到钓点，注意：窝铒一定要用纱布包好，防止鱼儿吃饱走人，鱼儿只闻其味，见有食饵即咬。主聚鲤、鲫、草、鲢鳙。<br />
                  三、将豆腐渣用塑料袋装好扎紧，也是放到老婆想骂人时就好了。主聚鲢鳙、鲶鱼、塘虱鱼。<br />
                  <br />
                  <a href="http://bbs.8264.com/forum-179-1.html" target="_blank"><strong>更多精彩继续添加中。更详细钓鱼技巧点击请进！</strong></a></p>
                  <p><br />
                  </p>
                </div>
            </div>
            <div class="title_l5" style="margin-top:10px;"><a href="http://bbs.8264.com/forum-179-1.html" target="_blank">更多>></a></div>
          <div class="con_l5">
            	<ul>
                	<li>&#8226;&nbsp;&nbsp;<a href="http://bbs.8264.com/thread-258081-1-2.html" target="_blank">7大钓技绝密招式</a></li>
                    <li>&#8226;&nbsp;&nbsp;<a href="http://bbs.8264.com/thread-257710-1-2.html" target="_blank">钓鱼怎能不说邓刚，走近邓刚</a></li>
                    <li>&#8226;&nbsp;&nbsp;<a href="http://bbs.8264.com/thread-264010-1-1.html" target="_blank">原创：墨西哥钓鱼－实地见闻录</a></li>
                    <li>&#8226;&nbsp;&nbsp;<a href="http://bbs.8264.com/thread-265399-1-1.html" target="_blank">第三届“喜曼多”杯</a></li>
                    <li>&#8226;&nbsp;&nbsp;<a href="http://bbs.8264.com/thread-259989-1-1.html" target="_blank">上海钓友出差到天津的一些感受</a></li>
                    <li>&#8226;&nbsp;&nbsp;<a href="http://bbs.8264.com/thread-265879-1-1.html" target="_blank">我们要做个爱护环境的“钓鱼驴”</a></li>
                    <li>&#8226;&nbsp;&nbsp;<a href="http://bbs.8264.com/thread-266389-1-1.html" target="_blank">2009龙虎山国际溪流钓大赛</a></li>
                    <li>&#8226;&nbsp;&nbsp;<a href="http://bbs.8264.com/thread-260339-1-1.html" target="_blank">钓鱼大赛上鱼精彩瞬间图片</a></li>
                    <li>&#8226;&nbsp;&nbsp;<a href="http://bbs.8264.com/thread-232726-1-2.html" target="_blank"> 世界上最奇特的钓鱼方式</a></li>
            	</ul>
          </div>
        </div>
        <div class="right">
        	<div><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/righttitle1.jpg" width="230" height="37" border="0" /></div>
            <div class="right1con">
              <p>【大赛报名】<br />
1、即日起开始报名，报名者需到一下指定地点提交报名，人数不限，男女不限，女的为参赛先手，男的为拉拉队——这回该男人为女人加油喝彩啦！欢迎建立帅哥拉拉队。<br />
2、<strong>另外经过一段时间的征集及推广，综合网友提出的建议做出以下调整：</strong><strong>活动时间定在：10月17日，即十一后回来的第二个周六。活动到场时间：中午12点30至13点，13点后正式开始。</strong><br />
                <br />
3、请按照要求格式报名。如果你太懒了直接大书——“我要报名”也未尝不可，呵呵。<br />
报名地址：<a href="http://bbs.8264.com/thread-262381-1-1.html" target="_blank">http://bbs.8264.com/thread-262381-1-1.html</a><strong><br />
          <br />
          </strong>【注意事项】<br />
                1、参赛者身体健康，得起码拉得起条大鱼嘛。<br />
                2、需注意个人防晒措施。<br />
              3、其他个人注意事项等。</p>
          </div>
            <div><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/righttitle2.jpg" width="230" height="35" border="0" /></div>
            <div style="margin-top:10px;"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/righttitle2_1.jpg" width="230" height="18" border="0" /></div>
            <div>
            	<div class="logo"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/zhongchuiwanglogo.jpg" width="100" height="50" border="0" /></div>
                <div class="logo"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/yamaxunlogo.jpg" width="100" height="50" border="0" /></div>
                <div class="logo"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/zhongdiaoluntanlogo.gif" width="100" height="50" border="0" /></div>
                <div class="logo"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/tianjindiaoyuluntanlogo.gif" width="100" height="50" border="0" /></div>
				<div class="logo"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/track man.gif" width="100" height="50" border="0" /></div>
                <div style="clear: both;"></div>
            </div>
            <div style="margin-top:10px;"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/righttitle2_2.jpg" width="230" height="18" border="0" /></div>
            <div class="logolist">
            	<ul>
                	<li>&#8226;&nbsp;&nbsp;8264钓鱼驴友圈</li>
                    <li>&#8226;&nbsp;&nbsp;龙翔猎鹰钓鱼俱乐部</li>
                    <li>&#8226;&nbsp;&nbsp;<a href="#" target="_blank"></a>龙虎山国际溪钓大赛</li>
                    <li>&#8226;&nbsp;&nbsp;南宁老纪钓鱼在线</li>
                    <li>&#8226;&nbsp;&nbsp;更多添加中……</li>
            	</ul>
                <div style="clear:both;"></div>
          </div>
            <div style="margin-top:10px;"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/righttitle3.jpg" width="230" height="35" border="0" /></div>
            <div class="">
            	<div class="img_rall">
                	<div class="img_r"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/tjlogo.jpg" width="160" height="110" border="0"/></div>
                    <div class="img_r_wen">8264天津站</div>
                </div>
                <div class="img_rall">
                	<div class="img_r"><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/bjlogo.jpg" width="160" height="110" border="0"/></a></div>
                    <div class="img_r_wen"><a href="#" target="_blank">8264北京站</a></div>
                </div>
                <div class="img_rall">
                	<div class="img_r"><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/diaoyu/images/test.jpg" width="160" height="110" border="0"/></a></div>
                    <div class="img_r_wen"><a href="#" target="_blank">更多添加中……</a></div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="bottom"><a href="http://www.8264.com/ziliao/about/aboutus.php" target="_blank">关于我们</a> | <a href="http://www.8264.com/ziliao/about/aboutus.php" target="_blank">联系我们</a> | <a href="http://www.8264.com/8954.html">给我留言</a> |  <a href="http://www.8264.com/ziliao/sitemap.html" target="_blank">网站地图</a> | <a href="http://www.8264.com/ziliao/ggservice/index.html" target="_blank">广告服务</a> | <a href="http://www.8264.com/list/531/" target="_blank">编辑部的故事</a> | <a href="http://u.8264.com/job-viewpos-pid-2-op-inc.html" target="_blank" style="color:#FF0000;">8264招聘</a> | <a href="http://www.8264.com/sitelink/index.html" target="_blank">友情连接</a><br>服务热线：022-23708264 | 传真：022-23708323 | 地址：天津市新技术产业园区华天道8号海泰信息广场C座1001号<br>除了脚印什么都不留下除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn" target="_blank">津ICP备05004140号-1</a></div>
</div>
</body>
</html>
