<html>
<head>
<title>Sympatex详细介绍</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<META content=Sympatex详细介绍  name=description>
<META content=Sympatex详细介绍  name=keywords>
<link href="/css/igenus.css" rel="stylesheet" type="text/css">
<link href="/css/css.css" rel="stylesheet" type="text/css">
<link href="/css/talk.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.f14b {font-size:14px;
	color:#333333;
	line-height: 150%;
	font-weight: bold;
}
.f14BWW {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 160%
}
.title2 {
	font-size: 15px;
	font-weight: bold;
	color: #FF0000;
}
-->
</style>
</head>

<body>
<DIV align=center>
  <TABLE cellSpacing=0 cellPadding=0 width=776 border=0>
      <TBODY>
        <TR>
          <TD bgColor=#00376F height=80>
          <DIV align=center><img src="http://static.8264.com/oldcms/moban/sympatex/img/sympatex.jpg" width="776" height="423"></DIV></TD>
        </TR>
      </TBODY>
  </TABLE>
    <table width="776"  border="0" cellpadding="0" cellspacing="0" bgcolor="00376F">
      <tr>
        <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><div align="center"><a href="http://www.8264.com/12245.html" target="_blank"><img src="http://image1.8264.com/portal/photo/200507/20050711010708.jpg" width="100" height="100" border="0"></a></div></td>
              <td><div align="center"><a href="http://www.8264.com/12246.html" target="_blank"><img src="http://image1.8264.com/portal/photo/200507/20050711-1/e500hangtag.jpg" width="100" height="100" border="0"></a></div></td>
              <td><div align="center"><a href="http://www.8264.com/12247.html" target="_blank"><img src="http://image1.8264.com/portal/photo/200507/20050711-1/high2out_hangtag.jpg" width="100" height="100" border="0"></a></div></td>
              <td><div align="center"><a href="http://www.8264.com/12248.html" target="_blank"><img src="http://image1.8264.com/portal/photo/200507/20050711-1/phaseable_hangtag.jpg" width="100" height="100" border="0"></a></div></td>
              <td><div align="center"><a href="http://www.8264.com/12249.html" target="_blank"><img src="http://image1.8264.com/portal/photo/200507/20050711-1/professional_hangtag.jpg" width="100" height="100" border="0"></a></div></td>
              <td><div align="center"><a href="http://www.8264.com/12250.html" target="_blank"><img src="http://image1.8264.com/portal/photo/200507/20050711-1/reflexion_hangtag.jpg" width="100" height="100" border="0"></a></div></td>
              <td><div align="center"><a href="http://www.8264.com/12251.html" target="_blank"><img src="http://image1.8264.com/portal/photo/200507/20050711-1/windmaster_hangtag.jpg" width="100" height="100" border="0"></a></div></td>
            </tr>
        </table></td>
      </tr>
    </table>
    <table width="776"  border="0" cellpadding="0" cellspacing="0" bgcolor="00376F">
      <tr>
        <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="50%" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="top"><blockquote>
                  <p><span class="title2">了解新保适</span><br>
                          <a href="http://www.8264.com/12122.html" target="_blank"><font color=#FFFFFF>Sympatex 循环测试控制</font></a><br>
                          <a href="http://www.8264.com/12240.html" target="_blank"><font color=#FFFFFF>Sympatex的防水透气原理</font></a><br>
                          <a href="http://www.8264.com/12241.html" target="_blank"><font color=#FFFFFF>Sympatex的三大领先技术</font></a><br>
                      <a href="http://www.8264.com/12121.html" target="_blank"><font color=#FFFFFF>SYMPATEX品牌故事</font></a><br>
                      <a href="http://www.8264.com/12242.html" target="_blank"><font color=#FFFFFF>Sympatex是如何炼成的</font></a><br>
                      <a href="http://www.8264.com/12243.html" target="_blank"><font color=#FFFFFF>Sympatex鞋六大特点六大优势</font></a><br>
                      <a href="http://www.8264.com/12244.html" target="_blank"><font color=#FFFFFF>新保适名字探究</font></a></p>
                    </blockquote></td>
                </tr>
              </table></td>
              <td valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="82642"><blockquote>
                      <p><span class="title2">有问必答</span><br>
                        <a href="http://www.8264.com/12253.html" target="_blank"><font color=#FFFFFF>超强舒爽面料HIGH2OUT 常见问题解答</font></a><br>
                        <a href="http://www.8264.com/12254.html" target="_blank"><font color=#FFFFFF>Sympatex常见问题解答</font></a><br>
                      <a href="http://www.8264.com/12255.html" target="_blank"><font color=#FFFFFF>全面了解 “功能性”</font></a><br>
                      <a href="http://www.8264.com/12252.html" target="_blank"><font color=#FFFFFF>谈谈全天候保护系统</font></a><br>
                      <a href="http://www.8264.com/12257.html" target="_blank"><font color=#FFFFFF>新保适的保养指南</font></a><br>
                      <a href="http://www.8264.com/12258.html" target="_blank"><font color=#FFFFFF>Sympatex测试数据大公开</font></a><br>
                      <a href="http://www.8264.com/12259.html" target="_blank"><font color=#FFFFFF>SYMPATEX各项参数</font></a></p>
                    </blockquote></td>
                </tr>
              </table></td>
            </tr>
        </table></td>
      </tr>
    </table>
<TABLE cellSpacing=1 cellPadding=0 width=776 align=center bgColor=#7b6939 border=0>
      <TBODY>
        <TR>
          <TD background="http://static.8264.com/oldcms/images/8264_03.gif" height=20><SPAN class=td><STRONG>　<FONT color=#ffffff>『 新 闻 』</FONT> </STRONG></SPAN></TD>
        </TR>
        <TR>
          <TD bgColor=#dad1aa>
            <DIV align=center>
              <TABLE cellSpacing=0 cellPadding=0 width=750 border=0>
                <TBODY>
                  <TR>
                    <TD>
                      <P class=f14BWW align=left>　<span class="g4">
                    </span>　</P></TD>
                  </TR>
                </TBODY>
              </TABLE>
          </DIV></TD>
        </TR>
      </TBODY>
    </TABLE>
</DIV>
</body>
</html>