<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>2007中国户外运动行业年度评选--8264</title>
<link href="/css/pinglun20070313.css" rel="stylesheet" type="text/css">
<link href="http://static.8264.com/oldcms/moban/zt/2007dapandian/style/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	background-color: #333333;
}
.globalNav {
	CLEAR: both;  MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 960px; HEIGHT: 50px
}
.globalNav .logo {
	FLOAT: left; MARGIN: 3px 0px 0px; WIDTH: 170px; TEXT-ALIGN: left
}
.globalNav .menu {
	FLOAT: left; MARGIN: 12px 0px 0px; WIDTH: 780px
}
.globalNav .menu UL {
	CLEAR: both
}
.globalNav .menu LI {
	BACKGROUND: url(http://static.8264.com/oldcms/moban/zt/2007dapandian/images/nav_bg1.gif) no-repeat right 0px; FLOAT: left; WIDTH: 52px; HEIGHT: 21px
}
.globalNav .menu .active {
	COLOR: #bc2931
}
.globalNav A {
	COLOR: #000
}
.globalNav A:visited {
	COLOR: #000
}
.globalNav A:hover {
	COLOR: #bc2931
}
.globalNav A:active {
	COLOR: #bc2931
}
.cRed {
	COLOR: red
}
A.cRed:link {
	COLOR: red
}
A.cRed:visited {
	COLOR: red
}

-->
</style></head>

<body>
<table width="980" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="BORDER-left: #E5E5E5 1px solid;BORDER-right: #E5E5E5 1px solid;BORDER-top: #E5E5E5 1px solid;BORDER-bottom: #E5E5E5 1px solid;background:#F8F8F8;padding-bottom:4px;"><div class="globalNav">
<div class="logo">
  <a href="http://www.8264.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2007dapandian/images/index1_logo.gif" alt="8264" width="153" height="40" border="0" style="padding-top:5px;padding-left:5px;"/></a>
</div>
<div class="menu">
<ul>
		<li><a href="http://www.8264.com/list/201">新闻</a></li>
		<li><a href="http://www.8264.com/list/204">装备</a></li>
		<li><a href="http://www.8264.com/list/224">登山</a></li>
		<li><a href="http://www.8264.com/list/232">攀岩</a></li>
		<li><a href="http://www.8264.com/list/251">游记</a></li>
		<li><a href="http://www.8264.com/list/545">自驾</a></li>
		<li><a href="http://www.8264.com/list/566">救援</a></li>
		<li><a href="http://www.8264.com/list/389">滑翔</a></li>
		<li><a href="http://www.8264.com/ziliao/face2face/index.html">专访</a></li>
		<li><a href="http://pk.8264.com/">讨论</a></li>
		<li><a href="http://shop.8264.com/ ">商城</a></li>
		<li><a href="http://www.8264.com/pic_list/">图库</a></li>
		<li><a href="http://www.8264.com/sitelink/index.html">网址</a></li>
		<li><a href="http://osm.8264.com/">经理人</a></li>
		<li class="end"><a href="http://blog.8264.com">博客</a></li>
		<li><a href="http://www.8264.com/company">商业</a></li>
		<li><a href="http://www.8264.com/brand/">品牌</a></li>
		<li><a href="http://www.8264.com/list/238">驴友</a></li>
		<li><a href="http://www.8264.com/picnews_list/">图文</a></li>
		<li><a href="http://www.8264.com/list/243">线路</a></li>
		<li><a href="http://bbs.8264.com/forum-163-1.html">问答</a></li> 
		<li><a href="http://bbs.8264.com/forum-5-1.html">活动</a></li>
		<li><a href="http://job.8264.com/">人才</a></li>
		<li><a href="http://www.91ski.com">滑雪</a></li>
		<li><a href="http://so.8264.com/">搜索</a></li>
		<li><a href="http://www.8264.net">英文</a></li>
		<li><a href="http://www.8264.com/list/588">杂志</a></li>
		<li><a href="http://www.8264.com/topic_list/">专题</a></li>
		<li><a href="http://dian.8264.com/">户外店</a></li>
		<li class="end"><a href="http://bbs.8264.com"><span class="cRed">论坛</span></a></li>
</ul>
</div>
</div></td>
  </tr>
</table>
<table width="980" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td colspan="2"><img src="http://static.8264.com/oldcms/moban/zt/2007dapandian/images/banner.jpg" width="980" height="176" /></td>
  </tr>
  <tr>
    <td width="612"><table width="600" border="0" align="right" cellpadding="0" cellspacing="0">
      <tr>
        <td><table width="600" border="0" cellspacing="0" cellpadding="0" style="border-top:#C10707 solid 3px; margin-top:5px;">
          <tr>
            <td width="388" align="right" valign="top"><script type="text/javascript">

          var swf_width=386;
          var swf_height=293;
          // 0xffffff:文字颜色|1:文字位置|0x0066ff:文字背景颜色|60:文字背景透明度|0xffffff:按键文字颜色|0x0066ff:按键默认颜色|0x000033:按键当前颜色|8:自动播放时间(秒)|2:图片过渡效果|1:是否显示按钮|_blank:打开窗口
          var swf_config = "|2|||0xFFFFFF|0xFF6600||4|3|1|_blank"

          document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
          document.write('<param name="movie" value="http://static.8264.com/oldcms/img/flash/bcastr.swf?bcastr_xml_url=http://static.8264.com/oldcms/moban/zt/2007dapandian/turnsphp.php"><param name="quality" value="high">');
          document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
          document.write('<param name="FlashVars" value="bcastr_config='+swf_config+'">');
          document.write('<embed src="http://static.8264.com/oldcms/img/flash/bcastr.swf?bcastr_xml_url=http://static.8264.com/oldcms/moban/zt/2007dapandian/turnsphp.php" wmode="opaque" FlashVars="bcastr_config='+swf_config+'" menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); 
          document.write('</object>'); 

          </script></td>
            <td width="212" align="center" valign="top"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="left" valign="top" style="line-height:1.5; border-bottom:#CCCCCC dotted 1px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="33" align="left" style="font-size:13px;">&nbsp;&nbsp;<b>主办单位</b></td>
                    </tr>
                    <tr>
                      <td height="55" align="left">&nbsp;&nbsp;<a href="http://www.8264.com" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2007dapandian/images/logo8264.jpg" width="120" height="35" border="0" /></a></td>
                    </tr>
                  </table></td>
                </tr>
                
                <tr>
                  <td height="53" align="left" style="font-weight:bold; line-height:1.8;"><strong>&nbsp;&nbsp;支持单位：<br />
                  </strong>&nbsp;&nbsp;全国户外俱乐部联盟</td>
                </tr>
            </table></td>
          </tr>
        </table>
          <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-top:#c10506 solid 3px; margin-top:5px;">
            <tr>
              <td height="20" colspan="2" align="left" valign="top" bgcolor="#CCCCCC" style="background:url(http://static.8264.com/oldcms/moban/zt/2007dapandian/images/no1title.jpg) no-repeat left top; font-size:13px; font-weight:bold; color:#333333; padding-top:2px;">评选背景</td>
            </tr>
            <tr>
              <td width="402" align="left" valign="top"><table width="97%" height="3" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td></td>
                </tr>
              </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="3">
                <tr>
                  <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;“中国户外运动行业年度评选”已经举办了两届。2005年的评选背影还是那么诚惶诚恐，2006年就搞得姿态怡人。我们伟大的祖国正经历着千年不遇的巨变，我们的户外运动产业也在这股巨变中，支流凝聚，不安分的奋勇向前。<br />
                        <br />
&nbsp;&nbsp;&nbsp;&nbsp;今天，2007的年度评选再次拉开帷幕，纵然还是那么稚嫩，却也日渐妖娆，自然是行业的给养充分，国人的奋发图强。评选的本身就是一次洗礼，感谢并感动于行业的精英，何妨先驱抑或先烈，更不论榜上与榜下，唯有向前之精神划一。<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;“机遇中的中国户外运动产业”，落笔之处总是那么让人动情。我们的品牌，我们的店铺，我们的从业者，经过了一轮轮竞争的洗礼，如今更是焕发出勃勃生机，2007年度，他们大展身手，大有作为。人才在向他们偏移，资本在向他们侧目，他们用高超的技巧，过人的胆识，睿智的视觉，阐释着对行业的见解，对未来的把握。他们，是行业的领先者，是行业的英雄。新的机遇，他们必将带来新的精彩。</td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
              <td align="center" valign="top"><table width="50%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </table>
                <table width="175" border="0" align="center" cellpadding="0" cellspacing="0" style=" border-left:#b0b0b0 solid 1px; border-right:#b0b0b0 solid 1px; border-top:#b0b0b0 solid 1px;">
                <tr>
                  <td height="25" align="left" style="color:#2fa4d9; font-size:13px; font-weight:bold;">&nbsp;如何报名&gt;&gt;</td>
                </tr>
                <tr>
                  <td align="left" style="line-height:1.5; padding:3px 3px 3px 3px;"><table width="90%" border="0" align="center" cellpadding="5" cellspacing="0">
                    <tr>
                      <td>&gt; <a href="http://www.8264.com/ziliao/research/fillsurvey.php?sid=89" target="_blank">网上提名</a><br />
&gt; <a href="http://static.8264.com/oldcms/moban/zt/2007dapandian/tjb.doc">候选推荐表</a><br />
&gt;
                    <a href="http://static.8264.com/oldcms/moban/zt/2007dapandian/wj.doc">候选人物问卷</a></td>
                    </tr>
                  </table>                    </td>
                </tr>

                <tr>
                  <td height="45" align="center" valign="middle"><a href="#"><img src="http://static.8264.com/oldcms/moban/zt/2007dapandian/images/pingxuan.jpg" width="136" height="27" border="0" /></a></td>
                </tr>
              </table>
                <table width="175" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="9" style="background:url(http://static.8264.com/oldcms/moban/zt/2007dapandian/images/bottom.jpg) center top no-repeat;"></td>
                  </tr>
                </table></td>
            </tr>
          </table></td>
      </tr>
      <tr>
        <td><table width="600" border="0" cellspacing="0" cellpadding="0" style="border-top:#8d8d8d solid 3px; margin-top:5px;">
          <tr>
            <td height="25" colspan="2" align="left" valign="middle" style="border-bottom:#CCCCCC dotted 1px; font-size:13px; font-weight:bold; color:#d4261f;">评选主题</td>
            </tr>
          <tr>
            <td width="400" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
              <tr>
                <td><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0" style="border-bottom:#CCCCCC dotted 1px;">
                  <tr>
                    <td width="36%" height="21" valign="bottom" style=" color:#317ad9; font-size:13px;"><b><a href="http://static.8264.com/oldcms/moban/zt/2007dapandian/pp.php" target="_blank" style=" color:#317ad9; font-size:13px;">2007年户外十大品牌</a>&nbsp;</b></td>
                    <td width="64%" valign="bottom" style=" color:#317ad9"><b><img src="http://static.8264.com/oldcms/moban/zt/2007dapandian/images/icon.jpg" width="17" height="13" /></b></td>
                  </tr>
                  <tr>
                    <td colspan="2" style="line-height:1.8;"> 评选标准<br>
                      在过去一年中，企业获得了高于行业平均水平的经营绩效，这种绩效与企业的创新活动密切相关，并导致了： <br />
                      销售收入或者利润的增长； <br />
                      获得竞争优势强化等战略性收益。 <br />
                      品牌在以下几个方面达到行业中较高水平，并且在其中一个或多个方面有杰出表现： <br />
                      市场营销； <br />
                      产品研发； <br />
                      渠道设立。 <br />
                      企业的创新实践对中国市场的其它企业具有借鉴意义。<br> 

					</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:#CCCCCC dotted 1px;">
                  <tr>
                    <td width="36%" height="21" valign="bottom" style=" color:#317ad9; font-size:13px;"><b><a href="http://static.8264.com/oldcms/moban/zt/2007dapandian/dp.php" target="_blank" style=" color:#317ad9; font-size:13px;">2007年户外十大店铺</a>&nbsp;</b></td>
                    <td width="64%" valign="bottom" style=" color:#317ad9"><b><img src="http://static.8264.com/oldcms/moban/zt/2007dapandian/images/icon.jpg" width="17" height="13" /></b></td>
                  </tr>
                  <tr>
                    <td colspan="2" style="line-height:1.8;"> 评选标准<br />
                      在过去一年中，企业获得了高于行业平均水平的经营绩效：<br />
                      销售收入或者利润的增长<br />
                      店铺在以下几个方面达到行业中较高水平，并且在其中一个或多个方面有杰出表现：
                      店铺形象；
                      行业地位；
                      市场口碑。<br />
                      企业的创新实践对中国市场的其它企业具有借鉴意义。<br />
                    </td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="27%" height="21" valign="bottom" style=" color:#317ad9; font-size:13px;"><b>2007年度人物&nbsp;</b></td>
                    <td width="73%" valign="bottom" style=" color:#317ad9"><b><img src="http://static.8264.com/oldcms/moban/zt/2007dapandian/images/icon.jpg" width="17" height="13" /></b></td>
                  </tr>
                  <tr>
                    <td colspan="2" style="line-height:1.8;"> 评选标准<br />
                      有过艰辛的创业经历，如今还在为更远大的梦想而继续打拼；<br />
对行业的挚爱及深度理解；<br />
成功的管理经验或者商业业绩；<br />
不断挑战的勇气、不缺战斗的激情；<br />
在2007年度为中国户外运动的发展写下了精彩的一笔。<br />
                    </td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
            <td width="200" align="center" valign="top"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td width="181" height="77" align="left" valign="top" style="background:url(http://static.8264.com/oldcms/moban/zt/2007dapandian/images/testbg.jpg) no-repeat center center; padding-top:15px; padding-left:13px;"><br>
                  <br><br><span style="color:#FFFFFF; font-weight:bold;">07.11.28-08.1.10</span></td>
              </tr>
              <tr>
                <td><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style=" border-left:#b0b0b0 solid 1px; border-right:#b0b0b0 solid 1px; border-top:#b0b0b0 solid 1px;">
                  <tr>
                    <td height="25" align="left" style="color:#2fa4d9; font-size:13px; font-weight:bold;">候选者要求:</td>
                  </tr>
                  <tr>
                    <td align="left" style="line-height:1.5; padding:3px 3px 3px 3px;">&#8226;所有参加评选的公司或者个人都同意接受8264相关人员的面访</td>
                  </tr>
                  <tr>
                    <td align="left" style="line-height:1.5; padding:3px 3px 3px 3px;">&#8226;欢迎历届获奖者参加本年度评选</td>
                  </tr>
                  <tr>
                    <td height="10" align="center" valign="middle">&nbsp;</td>
                  </tr>
                </table>
                  <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="9" style="background:url(http://static.8264.com/oldcms/moban/zt/2007dapandian/images/bottom.jpg) center top no-repeat;"></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td><table width="98%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="25" align="left" valign="middle"  style=" color:#a71214; font-weight:bold;">&nbsp;&nbsp;网络投票</td>
                  </tr>
                  <tr>
                    <td><table width="98%" border="0" cellspacing="0" cellpadding="0" style="border:#CCCCCC dotted 1px;">
                      <tr>
                        <td height="74" align="center" valign="middle"><a href="http://static.8264.com/oldcms/moban/zt/2007dapandian/dp.php" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2007dapandian/images/test4.jpg" width="165" height="65" border="0" /></a></td>
                      </tr>
                      <tr>
                        <td height="70" align="center" valign="middle"><a href="http://static.8264.com/oldcms/moban/zt/2007dapandian/pp.php" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2007dapandian/images/test2.jpg" width="165" height="66" border="0" /></a></td>
                      </tr>
                      <tr>
                        <td height="74" align="center" valign="middle"><a href="http://www.8264.com/ziliao/research/fillsurvey.php?sid=89" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2007dapandian/images/test5.jpg" width="165" height="65" border="0" /></a></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      
      
    </table></td>
    <td width="368" valign="top"><table width="98%" border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td height="12" align="left"><img src="http://static.8264.com/oldcms/moban/zt/2007dapandian/images/righttop.jpg" height="12" width="350"/></td>
      </tr>
      <tr>
        <td style=" background:#f1f1f1;"><table width="95%" border="0" cellspacing="0" cellpadding="0" style="border:#cccccc solid 1px; margin-top:8px; background:#FFFFFF;">
          <tr>
            <td height="95" align="center" valign="top" style="padding-top:10px;"><a href="http://osm.8264.com" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2007dapandian/images/logomm.jpg" border="0" /></a></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="382" style=" background:#f1f1f1;"><table width="95%" border="0" cellspacing="0" cellpadding="0" style=" border:#CCCCCC solid 1px; margin-top:8px; background:#FFFFFF;">
          <tr>
            <td height="25" align="left" style=" font-size:13px; font-weight:bold; color:#9a0b05">&nbsp;&nbsp;评选程序</td>
          </tr>
          <tr>
            <td align="left" style="line-height:1.8; padding:5px 5px 5px 5px;"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td>评选活动分四阶段进行。<br />
                  <b>阶段一：</b>网友提名（11.28-12.4）。网友提名心目中的候选名单，请同时说明推荐理由。或发邮件至marketing@8264.com，标题请注明：2007中国户外运动行业年度评选。<br />
                  <b>阶段二：</b>初选。在用户评论的基础上，8264评委会确定初选名单，并在网站公布。12月5日公布名单，同时开启投票功能。<br />
                  <b>阶段三：</b>投票及调研（12.5-12.31）。用户对候选者自由投票，投票截止日为12月30日；同期，8264的编辑团队将对候选者进行详细调查和现场访谈，并在后期向评审团提出调查报告； <br />
                  <b>阶段四：</b>评审团打分（1.1-1.10）由国内优秀的户外运动行业从业人士组成专家评审团，对候选结果评定。1月10日，获奖名单出炉。 <br />
活动时间：07.11.28-08.1.10</td>
              </tr>
            </table>
              <br></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style=" background:#f1f1f1;"><table width="95%" border="0" cellspacing="0" cellpadding="0" style=" border:#CCCCCC solid 1px; margin-top:5px; background:#FFFFFF; margin-bottom:5px;">
          <tr>
            <td height="25" align="left" style=" font-size:13px; font-weight:bold; color:#9a0b05">&nbsp;&nbsp;奖励规则</td>
          </tr>
          <tr>
            <td align="left" style="line-height:1.8; padding:5px 5px 5px 5px;"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td>8264将挑选出“最踊跃参与”及“见解最深刻”用户各一名予以奖励。获奖用户将获得8264送出的精致礼品，以示感谢。 （请在本网的用户注册信息中留下完整的邮寄地址，以便奖品发放。发放地区仅限中国大陆。 ）<br />
                  <span style="color:#88221e"><b>注明：</b>本活动所有评论均来自网友发言。本网不对用户言论负责，但禁止恶意评论。本网对此次活动保有最终解释权。</span></td>
              </tr>
            </table>
              </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style=" background:#f1f1f1;"><table width="95%" border="0" cellspacing="0" cellpadding="0" style=" border:#CCCCCC solid 1px; margin-top:5px; background:#FFFFFF; margin-bottom:5px;">
          <tr>
            <td height="25" align="left" style=" font-size:13px; font-weight:bold; color:#9a0b05">&nbsp;&nbsp;往期回顾</td>
          </tr>
          <tr>
            <td align="left" style="line-height:1.8; padding:5px 5px 5px 5px;">
              <table width="98%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>&nbsp;&nbsp;&gt; <a href="http://www.8264.com/20386.html" target="_blank">2006年度中国户外产业大盘点结果正式公布</a></td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&gt; <a href="http://www.8264.com/14951.html" target="_blank">2005中国户外产业大盘点活动成功举行</a></td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&gt; <a href="http://www.8264.com/14952.html" target="_blank">2005中国户外产业盘点颁奖礼成功举行[组图]</a></td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&gt; <a href="http://www.8264.com/13812.html" target="_blank">2005年中国户外产业盘点发布会在京召开[组图]</a></td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&gt; <a href="http://www.8264.com/199.html" target="_blank">中国户外运动背包大盘点</a>
                      
                    </td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&gt; <a href="http://www.8264.com/20392.html" target="_blank">2006年度户外行业盘点奖牌将到获奖者手[组图]</a></td>
                </tr>
              </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style=" background:#f1f1f1;"><table width="95%" border="0" cellspacing="0" cellpadding="0" style=" border:#CCCCCC solid 1px; margin-top:5px; background:#FFFFFF; margin-bottom:5px;">
          <tr>
            <td height="25" align="left" style=" font-size:13px; font-weight:bold; color:#9a0b05">&nbsp;&nbsp;联系我们</td>
          </tr>
          <tr>
            <td align="left" style="line-height:1.8; padding:5px 5px 5px 5px;"><table width="97%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td>联系人：李胜华&nbsp;&nbsp;&nbsp;袁娜 <br />
地&nbsp;&nbsp;址：天津市新技术产业园区华天道8号海泰信息广场&nbsp;&nbsp;C座1001号<br />
邮&nbsp;&nbsp;编：300384<br />
电话：022-23708325&nbsp;&nbsp;传&nbsp;&nbsp;真：022-23708323<br />
E-mail：yuanna@8264.com；lishenghua@8264.com<br />
Q Q：13123768   329978874<BR>
MSN :  yuanna@8264.com<strong></strong></td>
              </tr>
            </table>            </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="980" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><DIV style="width:960px; margin-top:6px; border-left:#CCCCCC solid 1px; border-right: solid #cccccc 1px;"><script language="javascript" src="/include/js/utility.js"></script>
<script language="javascript" src="/comment.js"></script>
<script language="javascript">
var CommentSrc= "/topic/1066/";
if(!Page){	//如果在别的包含页面中已经包含过了，就不要再有了
	var Page = {	//使用该page对象,可以得到一些page信息
				ver:1.0	//版本号
	}
}
</script>
<style type="text/css">
<!--
#loginDiv { text-align:left; padding:0 10px 0 10px;}
#loginDiv a{width:40px; border:1px solid #7F9DB9; background:#EFEFEF; padding:0 3px 0 3px;; color:#000; font-size:12px; text-decoration:none; text-align:center; height:18px; line-height:18px; overflow:hidden;}
#loginDiv span{padding:0 10px 0 10px;}
<!--.textarea123{ background: url(/img/8264logo.gif) center center no-repeat;}-->
-->
</style>
<center>
 <span style="padding-bottom:4px;padding-top:4px;"><a href="#" name="commentfocus" id="commentfocus"></a></span>
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td  style="padding-bottom:2px;"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="background-color:#f4f4f4; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; PADDING-TOP: 5px; PADDING-bottom: 2px;BORDER-BOTTOM: #ddd 1px solid; "><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="13%" align="left" class="lefttd25">驴友评论</td>
                          <td width="47%" align="left" class="pingluntd1" id="pageInfo"></td>
                          <td width="40%"  id="pageNav" align="right"></td>
                        </tr>
                    </table></td>
                  </tr>
              </table></td>
            </tr>
          </table>	
		  
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr><td  class="lefttd15">
  
<div id=allcomments ></div>

  </td>
  </tr>
</table>	  
	    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td style="background-color:#f4f4f4; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; PADDING-TOP: 5px; PADDING-bottom: 2px;BORDER-BOTTOM: #ddd 1px solid; "><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="13%" ></td>
			  <td width="47%" class="pingluntd1" align="left" id="pageInfo2"></td>
              <td width="40%"  id="pageNav2"  align="right"></td>
            </tr>
        </table></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <form action='' method="post" name="reform" id="reform">
            <td style="padding-top:10px">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="background-color:#f4f4f4; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; PADDING-TOP: 6px; PADDING-bottom: 4px;BORDER-BOTTOM: #ddd 1px solid; ">
				    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="20%" align="left"  class="lefttd25">发表评论<a name="recom">&nbsp;</a></td>
                        <td width="80%"  class="pingluntd1"><input name="type" type="hidden" id="type" value="add" />
                            <input name="id0" type="hidden" id="id0" value="1066" />
                            <span id="relabel" style="display:none;"> <font color="ff0000">引用回复成功，请输入您的评论！</font>
                            <input name="reid" id="reid" type="hidden"  value="0" />
                          <a href="#recom" onClick="unrecomment()">取消</a> </span> </td>
                      </tr>
                    </table>
				  </td>
                </tr>
              </table>
			      </td>
			     </tr>
			  <tr>
			    <td class="pingluntd4">
                  <table width="100%" height="20" border="0" cellpadding="0" cellspacing="0" class="pingluntd5">
                    <tr>
                      <td width="10%" align="right" style="padding-top:6px;">昵称：</td>
                      <td width="14%"><input  name="username" id="username" type="text" size="16" class="formtd2"/></td>
                      <td width="6%" align="right" style="padding-top:6px;">匿名：</td>
                      <td width="3%"><input id="chkDefaultName" type="checkbox" name="checkbox" onClick="useDefaultNick(this)" value="checkbox" class="formtd2"/></td>
                      <!--td width="67%" align="left" style="padding-top:6px;"> 匿名发表不用填写昵称</td-->
					   <td width="50%" align="left"><div id="loginDiv"></div></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="70%" align="center" class="pingluntd4"><textarea  name="content" id="content" cols="80" rows="10" style="background: url(/img/8264logo.gif) center center no-repeat; background-color:#FFFFFF;"></textarea></td>
                    <td width="30%" align="left" class="pingluntd4"><table width="66%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="pingluntd3">请您发言时务必尊重网上道德与我国相关法律法规!</td>
                        </tr>
                        <tr>
                          <td align="center" class="righttd14"><input type="button" onClick="sendComment(CommentSrc,'topic')" title="Ctrl+Enter" value="提交" />[Ctrl+Enter]</td>
                        </tr>
                    </table></td>
                  </tr>
              </table>
			    </td>
			  </tr>
			  </table>
			  </td>
          </form>
        </tr>
      </table>
	  </center>
<script language="javascript">
goPage(CommentSrc,1);
</script>
<script src="/login/isLogin.js"></script>
<script src="/login/logout.js"></script>
<script language=javascript>
//ctrl+enter提交评论
ie = (document.all)? true:false;
if (ie){
	function ctlent(){
		if(event.ctrlKey && window.event.keyCode==10){
			sendComment(CommentSrc,'topic');
		}
	}
	window.document.onkeypress = ctlent;
}
//设置不同页面的兼容性
function init_comment(){	//这里可以初始化页面的更多特性
	var content = document.getElementById('content');
	if(Page.size==1024){
		content.cols=110;
	}else if(Page.size==776){
	
		content.cols=80;
	}
	//add by QGL
	checkLogin();
}
function checkLogin(){
	var response = isLogin();
	var loginDiv = document.getElementById('loginDiv');
	var str = '';
	if(response.result==0){
		UserInfo = response.data;
		document.getElementById('username').value = UserInfo.UserName;	
		str = '您好!' + UserInfo.UserName + ' 欢迎光临8264　　';
		str += '<a href="javascript:void(0)" onclick="logout();window.location.reload();">登出</a>';
	}else{
		//reurl = escape(location.href);
		//alert(reurl);
		//str = '<a href="http://www.8264.com/login/?forward='+location.href+'#commentfocus">登录</a>|<a href="http://shop.8264.com/index.php?gOo=cmVnaXN0ZXJfMS5kd3Q=&forward='+escape(location.href)+'#commentfocus">注册</a>后发表评论';
		hrefto = location.href;
		reurl = hrefto+'#commentfocus';
		reurl = escape(reurl);
		//reurl = escape(location.href+#commentfocus);
		//alert(reurl);
		str = '<a href="http://www.8264.com/login/?forward='+reurl+'">登录</a>　<a href="http://shop.8264.com/index.php?gOo=cmVnaXN0ZXJfMS5kd3Q=&forward='+escape(location.href)+'%23commentfocus">注册</a><span>后发表评论</span>';
	}
	loginDiv.innerHTML = str;
}
var UserInfo = {};
try{init_comment();}catch(e){}
</script>

</DIV>
</div></td>
  </tr>
</table>
</body>
</html>
