<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- 此处以上不可变化，否则会影响页面效果 -->
<head>
<title>十年徒步古丝绸之路第四站——西宁至格尔木</title>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
<script language="JavaScript" type="text/javascript" src="js/zt.js"></script><!-- 导入页面脚本文件 仅用于幻灯图，如页面中没有幻灯图，可取下-->
<link href="http://static.8264.com/oldcms/moban/zt/ztnissan/css/css.css" rel="stylesheet" type="text/css" id="csssheet" /><!-- 导入样式表 -->
<meta name="keywords" content="这里写本专题的关键字">
<meta name="description" content="这里写关于本专题的介绍">
<style type="text/css">
<!--
.STYLE1 {
	font-size: 12px;
	font-weight: bold;
}
.STYLE3 {font-weight: bold; background-color:#FFFFFF}
.STYLE4 {font-size: 12px}
.STYLE5 {font-family: Arial, Helvetica, sans-serif}
-->
</style>
</head>
<body>

<div class="bgcol">
<strong>
<!-- 顶部导航 开始 -->
<!-- 顶部导航 结束 -->
<!-- 顶部形象图 开始 -->
</strong>
<div class="kj STYLE3" id="top_banner">
	<div class="banner">
	  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="962" height="230"><img src="http://static.8264.com/oldcms/moban/zt/ztnissan/img/banner1.jpg" width="962" height="230" /></td>
        </tr>
      </table>
	</div>
</div>
<strong>
<!-- 顶部形象图 结束 -->
<!--=================================================================================================================================-->
<!--框架1 开始 -->
</strong>
<div class="kj">

<table width="23%" border="0" align="right" cellpadding="0" cellspacing="0">
  <tr>
    <td><div class="g1_right1">
	<!--框架1>侧边>上 开始 -->
	<div class="rtitle"><h1>栏目标题</h1></div>
    <div class="up">
	<div class="pic1">
		<a href="http://www.nissan.com.cn//minisite/silk-road/list.php" title="" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ztnissan/img/3.jpg" width="80" height="80" border="0" title=""></a>	</div>
	<div class="list2">
		<a href="http://www.nissan.com.cn//minisite/silk-road/list.php" title="" target="_blank">NISSAN绿色宣言</a>
		<div>不敢想象，再过100年，我们赖以生存的地球将会变成怎样？</div>
	</div>
    </div>
	<!--框架1>侧边>上 结束 -->

	<!--框架1>侧边>下 开始 -->

	<div class="pic1">
		<a href="http://www.nissan.com.cn//minisite/silk-road/8Donation.html" title="" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ztnissan/img/2.jpg" width="80" height="80" border="0" title=""></a>	</div>
	<div class="list2">
		<a href="http://www.nissan.com.cn//minisite/silk-road/8Donation.html" title="" target="_blank">NISSAN爱心捐赠</a>
		<div>相信大家一定还记得十七年前那双触痛人心的“大眼睛”；十七年后，“大眼睛”</div>
	</div>

	<!--框架1>侧边>下 结束 -->
</div></td>
  </tr>
  <tr>
    <td><a href="http://www.nissan.com.cn//minisite/silk-road/home.php" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ztnissan/img/122.jpg" width="209" height="57" border="0" /></a></td>
  </tr>
</table>
<strong>
<!--框架1>第一列 开始 -->
</strong>
<div class="g1_left1">
<strong>
<!--框架1 第一列 焦点变换图 开始 -->
</strong>
<div class="single">
<strong>
<!-- tj1 到 tj8 分别表示1到8的图片以及文字 -->
</strong>
<div class="jtitle2">
  <div align="center" class="STYLE1">Nissan十年徒步丝绸之路媒体播报</div>
</div>
<span>
<div class="btu">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="353" height="285">
    <param name="movie" value="http://static.8264.com/oldcms/moban/zt/ztnissan/img/ad-02.swf" />
    <param name="quality" value="high" />
    <embed src="http://static.8264.com/oldcms/moban/zt/ztnissan/img/ad-02.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="353" height="285"></embed>
    </object>
</div>
</span></div>
<!--框架1>第一列>焦点变换图 结束 -->
</div>
<!--框架1>第一列 结束 -->

<!--框架1>第二列 开始 -->
<div class="g1_left2">
<!--框架1>第二列>头条 开始 -->
<div class="single">
	<div class="hotline">
		<h2><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2517" title="" target="_blank">十年古丝绸之路再次启程 第四站西宁格尔木</a></h2>
		<div class="hotlinelist">
		    <span><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2511" target="_blank">[参加条件] </a><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2514" target="_blank">[线路介绍]</a> <a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2515" target="_blank">[<span class="hotlinelist">大学生</span>选拔安排]</a></span>
		    <span><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2574" target="_blank">[每日具体行程安排]</a><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2559" target="_blank">[大学生招募]</a><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2526" target="_blank">[社会人士如何参加]</a><a href="http://www.mrqh.com/ks1/" target="_blank">[大学生点此报名]</a></span><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2525" target="_blank">[<span class="STYLE4">Nissan绿色环保宣言征集</span>]</a></div>
	</div>
	<div class="list1">
		<h2><a href="#" title="" target="_blank">主题新闻列表</a></h2>
		<ul>
			<li><a href="http://www.nissan.com.cn//minisite/silk-road/8Donation.html" target="_blank">NISSAN十年徒步古丝绸之路“捐赠招募”活动</a></li>
			<li><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2516" title="" target="_blank">国际市民体育联盟中国总部秘书长新闻发布会上激情发言</a></li>
			<li><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2517" title="" target="_blank">丝绸之路寻踪再启程</a></li>
			<li><a href="" title="" target="_blank">中日大学生招募盛夏火热进行中 </a></li>
	        <li><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2563" target="_blank">中日大学生丝路再较量</a></li>
		</ul>
	</div>
</div>
<!--框架1>第二列>头条 结束 -->
</div>
<!--框架1>第二列 结束 -->

<!--框架1>侧边 开始 -->

<!--框架1>侧边 结束 -->
<p style="clear:both;"></p>
</div>
<!--框架1 结束 -->
<!--=================================================================================================================================-->
<!--框架2 开始 -->
<div class="kj2">
	<div class="title"><h1>栏目标题</h1></div>
    <!--框架2>第一行 开始-->
	<div class="c1">
	<!--框架2>c1 r1 开始-->
	<div class="c-l">
			<div class="pic_border">
			  <a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2561" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ztnissan/img/Pass (5).jpg" width="270" height="170" border="0" title="" /></a> </div>
		<div class="txttitle"><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2561" target="_blank">花香</a></div>
		<div class="txt">巍巍城墙上 清风漫漫 断垣残壁里 野花香趣 遥想蜿蜒古道 一路西去 待望见 黄沙余 瑟瑟如雨天河转 星幕垂 旧时明月旧时关...<a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2561" target="_blank">[全文]</a></div>
	</div>
	<!--框架2>c1 r2 开始-->
	<div class="c-l">
		    <div class="pic_border">
		      <a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2555" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ztnissan/img/Pass (3).jpg" width="270" height="170" border="0" title="" /></a> </div>
	    <div class="txttitle"><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2555" target="_blank">我们再次出发</a></div>
	    <div class="txt">十年徒步丝绸之路的第三年，我们又上路了。不同的路线，不同的风景，但不变的是同样的激情昂扬，同样的意气风发...<a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2555" target="_blank">[全文]</a></div>
	</div>
	<!--框架2>c1 r3 开始-->
	<div class="c-r">
		    <div class="pic_border">
		      <a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2558" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ztnissan/img/Pass (1).jpg" width="270" height="170" border="0" title="" /></a> </div>
	    <div class="txttitle"><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2558" target="_blank">在路上</a></div>
	    <div class="txt">茫茫沙漠，漫漫征程，狂风中被沙粒撕扯的旌旗，展示出不同于丝绸般柔弱的强悍线条，昭示着生命的力量和韧性，追随着旗帜的一线人马...<a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2558" target="_blank">[全文]</a></div>
	</div>
	<p style="clear:both;"></p>
	</div>
	<!--框架2>第一行 结束-->

	<!--框架2>第二行 开始-->
	<div class="c2">
	<!--框架2>c2 r1 开始-->
	<div class="c-l">
			<div class="pic_border">
			  <a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2560" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ztnissan/img/Pass (2).jpg" width="270" height="170" border="0" title="" /></a> </div>
		<div class="txttitle">
		  <p><strong><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2560" target="_blank">路上，撒下我们的爱心</a></strong> </p>
		</div>
		<div class="txt">在“十年徒步丝绸之路第三站”的行程中，我们来到甘南藏族自治区的一所汉藏混居小学。给我们印象最深的是...<a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2560" target="_blank">[全文]</a></div>
	</div>
	<!--框架2>c2 r2 开始-->
	<div class="c-l">
		<div class="pic_border">
		  <a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2552" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ztnissan/img/Pass (8).jpg" width="270" height="170" border="0" title="" /></a> </div>
	<div class="txttitle">
	  <p><strong><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2552" target="_blank">荒漠中与沙共舞</a> </strong></p>
	</div>
	<div class="txt">当沙漠近在咫尺时，惯常的印象中，漫卷黄沙肆虐暴戾地吞噬绿地的画面渐渐隐去，双手成为唯一收获直观感受的来源...<a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2552" target="_blank">[全文]</a></div>
	</div>
	<!--框架2>c2 r3 开始-->
	<div class="c-r">
		<div class="pic_border">
		  <a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2556" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ztnissan/img/Pass.jpg" width="270" height="170" border="0" title="" /></a> </div>
	<div class="txttitle">
	  <p><strong><a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2556" target="_blank">山西恒山悬空寺</a></strong> </p>
	</div>
	<div class="txt">悬空寺又名玄空寺，悬挂在北岳恒山金龙峡西侧翠屏峰的半崖峭壁间，始建于北魏太和15年(公元491年)，迄今已有1400多年的历史...<a href="http://www.chinawalking.net.cn/sites/hdxx.php?sortid=53&amp;contentid=2556" target="_blank">[全文]</a></div>
	</div>
	<!--框架2>第二行 结束-->
	<p style="clear:both;"></p>
	</div>
</div>
<!--框架2 结束 -->
<!--=================================================================================================================================-->
<!--框架3 开始-->
<!--框架3 结束-->
<!--=================================================================================================================================-->
<!--框架4 开始-->
<!--框架4 结束-->
<!--=================================================================================================================================-->
<!--框架5 开始-->
<div class="kj">
<!--框架5> 栏目1 开始-->
<div class="g5_l1" style="width: 255px;">
	<div class="g5_l1_title">
	  <h1>主办及合作单位</h1>
	</div>
	<div class="g5_l1_cont">
	    <ul>
	        <li>青海体育局</li>
            <li>青海旅游局</li>
	        <li>国际市民体育联盟</li>
	        <li>国际市民体育联盟中国总部</li>
	        <li>日产（中国）投资有限公司</li>
	        <li>中国联合财产保险公司北京分公司</li>
	        <li>《人民日报·健康时报》</li>
	        <li>《国家地理》杂志</li>
	        <li>日本东京徒步协会</li>
	        <li>早稻田大学</li>
	    </ul>
	</div>
</div>
<!--框架5> 栏目1 结束-->
<!--框架5> 栏目2 开始-->
<div class="g5_l2">
    <div class="g5_l2_title"><h1>我要留言</h1></div>
    <div class="g5_l2_cont">
<FORM name=ly action=book/add.php method=post>
        <span> 昵称：</span>
        <input
            type="text" id="name" name="name" style="width: 57px" maxlength="10" /> 
        <span class="g5_l2_cont"><span class="STYLE5">QQ</span>:        </span>
        <input name="qq"
            type="text" id="qq" style="width: 57px" maxlength="10" />
        <span class="STYLE4">Email:</span> 
        <input name="email"
            type="text" id="email" style="width: 57px" maxlength="35" />
         <br />
        <textarea id="ly" name="ly" rows="" cols="" style="width: 425px; height: 115px"></textarea><br /><input name="xxx" class=textfield type="hidden" value="qq/1.jpg" />
      <input id="Button1" type="submit" value="提交" /></form>
    </div>
</div>
<!--框架5> 栏目2 结束-->
<!--框架5> 栏目3 开始-->
<div class="g5_l3">
    <div class="g5_l3_title">
      <h1>媒体支持</h1>
    </div>
    <div class="g5_l3_cont">
        <ul>
            <li><a href="http://www.8264.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ztnissan/img/logo1.gif" width="88" height="31" border="0" /></a></li>
        </ul>
    </div>
</div>
<!--框架5> 栏目3 结束-->
<p style="clear:both;"></p>
</div>
<!--框架5 结束-->
<div class="ge"></div>
<!-- 页脚 开始 -->
<!-- 页脚 结束 -->
</div>
</body>
</html>