<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>2015户外传奇装备 极客汇</title>
<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/brandzb/style/style.css">
<script src="http://static.8264.com/oldcms/moban/zt/brandzb/js/jquery-1.9.1.min.js"></script>
</head>

<body>
<div class="branner">
	<div class="lunbobigimg">
    	<li class="branner1"></li>
        <li class="branner2"></li>
        <li class="branner3"></li>
        <li class="branner4"></li>
    </div>
    <div class="brannercon">
    	<div class="zbicondq"><img src="http://static.8264.com/oldcms/moban/zt/brandzb/images/zbicondq.png"/></div>
    </div>
</div>
<div class="wbox clear_b">
    <div class="kdkz">
        <!--单条开始-->
        <div class="productone">
        	<a href="http://www.8264.com/viewnews-102401-page-1.html" target="_blank">
                <div class="productimg"><img src="http://static.8264.com/oldcms/moban/zt/brandzb/images/p1.jpg"/></div>
                <div class="productname">Fjallraven品牌</div>
                <div class="productinfo">风靡全球的Kanken包</div>
			</a>
            <div class="productprice"><a href="https://detail.tmall.com/item.htm?id=38406708181&ali_refid=a3_430583_1006:1109265580:N:kanken%20%E5%8C%85:db4782a275dc3f032e9cb11123d6f0f7&ali_trackid=1_db4782a275dc3f032e9cb11123d6f0f7&spm=a230r.1.14.1.2KzQbh&sku_properties=10537981:30187193" target="_blank">立即购买</a></div>
        </div>
        <!--单条结束-->
        <div class="productone">
        	<a href="http://www.8264.com/viewnews-102477-page-1.html" target="_blank">
                <div class="productimg"><img src="http://static.8264.com/oldcms/moban/zt/brandzb/images/p2.jpg"/></div>
                <div class="productname">CAMEl骆驼户外</div>
                <div class="productinfo">明星款三合一冲锋衣</div>
            </a>    
            <div class="productprice"><a href="https://detail.tmall.com/item.htm?spm=a1z10.5-b.w4011-11976185023.145.awv6j5&id=40739381675&rn=dc84be1b5ff22bbf36468e9b2aec7cfd&abbucket=18" target="_blank">立即购买</a></div>
            
        </div>
        <div class="productone">
        	<a href="http://www.8264.com/viewnews-102689-page-1.html" target="_blank">
                <div class="productimg"><img src="http://static.8264.com/oldcms/moban/zt/brandzb/images/p3.jpg"/></div>
                <div class="productname">JACK WOLFSKIN</div>
                <div class="productinfo">14THPEAK登山夹克</div>
            </a>
            <div class="productprice"><a href="http://www.8264.com/zhuangbei-2047031-1.html" target="_blank">爱点评</a></div>
        </div>
        
        
        <div class="productone">
        	<a href="http://www.8264.com/viewnews-102838-page-1.html" target="_blank">
                <div class="productimg"><img src="http://static.8264.com/oldcms/moban/zt/brandzb/images/p4.jpg"/></div>
                <div class="productname">Arcteryx始祖鸟</div>
                <div class="productinfo">Alpha SVJacket冲锋衣</div>
            </a>
            <div class="productprice"><a href="https://detail.tmall.com/item.htm?spm=a1z10.3-b.w4011-8158493990.78.zl1LtJ&id=22203179973&rn=7b8998b6053ad2ae2dc348dca4dace83&abbucket=18" target="_blank">立即购买</a></div>
        </div>
        <div class="productone">
        	<a href="http://www.8264.com/viewnews-102951-page-1.html" target="_blank">
                <div class="productimg"><img src="http://static.8264.com/oldcms/moban/zt/brandzb/images/p5.jpg"/></div>
                <div class="productname">火枫户外</div>
                <div class="productinfo">BoRe泡茶器</div>
            </a>
            <div class="productprice"><a href="https://detail.tmall.com/item.htm?spm=a220m.1000858.1000725.6.BcECHv&id=39144949632&skuId=69467876743&areaId=120100&cat_id=2&rn=f2aa8b11965997f5d1ad227887f605d6&user_id=579603181&is_b=1" target="_blank">立即购买</a></div>
        </div>
        <div class="productone">
        	<a href="http://www.8264.com/viewnews-103057-page-1.html" target="_blank">
                <div class="productimg"><img src="http://static.8264.com/oldcms/moban/zt/brandzb/images/p6.jpg"/></div>
                <div class="productname">Garmin佳明</div>
                <div class="productinfo">fenix3 功能手表</div>
            </a>
            <div class="productprice"><a href="https://detail.tmall.com/item.htm?spm=a220m.1000858.1000725.8.ooppRy&id=44315322189&skuId=81190782669&areaId=120100&cat_id=2&rn=e42f10419ffee236eb24fd4a4af6e8b2&user_id=1660875242&is_b=1" target="_blank">立即购买</a></div>
        </div>
        <div class="productone">
        	<a href="http://www.8264.com/viewnews-103084-page-1.html" target="_blank">
                <div class="productimg"><img src="http://static.8264.com/oldcms/moban/zt/brandzb/images/p7.jpg"/></div>
                <div class="productname">NEXTORCH纳丽德</div>
                <div class="productinfo">TA10 户外手电</div>
            </a>
            <div class="productprice"><a href="https://detail.tmall.com/item.htm?spm=a220m.1000858.1000725.1.YnNoUA&id=520903281148&skuId=3104189155874&areaId=120100&cat_id=2&rn=9fd5d9f28a732f58491a8ccadabd0294&user_id=2145258248&is_b=1" target="_blank">立即购买</a></div>
        </div>
        <div class="productone">
        	<a href="http://www.8264.com/viewnews-103175-page-1.html" target="_blank">
                <div class="productimg"><img src="http://static.8264.com/oldcms/moban/zt/brandzb/images/p8.jpg"/></div>
                <div class="productname">HASKI户外</div>
                <div class="productinfo">三合一冲锋衣</div>
            </a>
            <div class="productprice"><a href="https://detail.tmall.com/item.htm?spm=a1z10.3-b.w4011-12140686036.67.5Ceq6z&id=521844304400&rn=c26a85cf6460dc1da1d2bea85d426226&abbucket=18" target="_blank">立即购买</a></div>
        </div>
        <div class="productone">
        	<a href="http://www.8264.com/viewnews-103226-page-1.html" target="_blank">
                <div class="productimg"><img src="http://static.8264.com/oldcms/moban/zt/brandzb/images/p9.jpg"/></div>
                <div class="productname">OUNCE遨游仕</div>
                <div class="productinfo">T1 全地形登山鞋</div>
            </a>
            <div class="productprice"><a href="http://www.8264.com/zhuangbei-1979486-1.html" target="_blank">爱点评</a></div>
        </div>
        <div class="productone">
        	<a href="http://www.8264.com/viewnews-103285-page-1.html" target="_blank">
                <div class="productimg"><img src="http://static.8264.com/oldcms/moban/zt/brandzb/images/p10.jpg"/></div>
                <div class="productname">THE NORTH FACE</div>
                <div class="productinfo">ThermoBall聚热球夹克</div>
            </a>
            <div class="productprice"><a href="http://www.8264.com/zhuangbei-2245554-1.html" target="_blank">爱点评</a></div>
        </div>
        <div class="productone">
        	<a href="http://www.8264.com/viewnews-103285-page-1.html" target="_blank">
                <div class="productimg"><img src="http://static.8264.com/oldcms/moban/zt/brandzb/images/p11.jpg"/></div>
                <div class="productname">BLACK YAK</div>
                <div class="productinfo">极限系列冲锋衣</div>
            </a>
            <div class="productprice"><a href="http://www.8264.com/zhuangbei-5162070-1.html" target="_blank">爱点评</a></div>
        </div>
    </div>
</div>

<div class="footer">
	<div class="footercon clear_b">
		<p class="footer_l">8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106<br>
			<a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
		<p class="footer_r"><a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a> | <a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a> | <a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a> | <a target="_blank" href="http://www.8264.com/link/">户外网址大全</a> | <a target="_blank" href="http://www.8264.com/sitemap">网站地图</a></p>
	</div>
</div>
<script>
// 轮播开始
$(function(){
	 var shuliang = $(".lunbobigimg li").size();
	 var lunbotime;
	 var index = 0;
	 	$(".branner").append("<div class='shuzi_1'></div>"); 
		for ( i=0 ; i< shuliang ;i){
		i++	
		$(".shuzi_1").append("<span></span>"); 	
		};
		$(".shuzi_1 span").eq(0).addClass("tsshuzi");
	$(".shuzi_1 span").mouseenter(function(){	
		var index = $(this).index();
		$(this).addClass("tsshuzi").siblings().removeClass("tsshuzi");
		$(".lunbobigimg li").eq(index).fadeIn().siblings().hide(0);
	});	
	$(".branner").hover(
		function(){
			clearInterval(lunbotime);		
		},function(){
			lunbotime = setInterval(function(){	
				$(".shuzi_1 span").eq(index).addClass("tsshuzi").siblings().removeClass("tsshuzi");
				$(".lunbobigimg li").eq(index).fadeIn().siblings().hide(0);	
				index++;
				if(index == shuliang ){
					index=0;
				};		
			},3000);					
		}).trigger("mouseleave");
});

// 轮播结束
</script>
</body>
</html>
