<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>激情体验--09水上运动装备PK</title>
<link href="http://static.8264.com/oldcms/moban/zt/09shuishang/style/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="http://static.8264.com/oldcms/moban/zt/09shuishang/js/ScrollText.js"></script>
<script language="javascript" type="text/javascript">
    window.onload = function()
    {
        var marquee = new ScrollText("listmarquee");
        marquee.LineHeight = 60;
        marquee.Amount = 1;
        marquee.Timeout = 30;
        marquee.Delay = 30;
        marquee.Start();
    }
    </script>
</head>

<body>
<div class="warpper">
	<div class="mid">
    	<div class="midnew">
        	<div class="lunbo">
            	<!--<script type="text/javascript">
          var swf_width=400;
          var swf_height=265;
          // 0xffffff:文字颜色|1:文字位置|0x0066ff:文字背景颜色|60:文字背景透明度|0xffffff:按键文字颜色|0x0066ff:按键默认颜色|0x000033:按键当前颜色|8:自动播放时间(秒)|2:图片过渡效果|1:是否显示按钮|_blank:打开窗口
          var swf_config = "|2|||0xFFFFFF|0xFF6600||4|3|1|_blank"

          document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
          document.write('<param name="movie" value="http://static.8264.com/oldcms/img/flash/bcastr.swf?bcastr_xml_url=http://static.8264.com/oldcms/moban/zt/09shuishang/turnsphp.php"><param name="quality" value="high">');
          document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
          document.write('<param name="FlashVars" value="bcastr_config='+swf_config+'">');
          document.write('<embed src="http://static.8264.com/oldcms/img/flash/bcastr.swf?bcastr_xml_url=http://static.8264.com/oldcms/moban/zt/09shuishang/turnsphp.php" wmode="opaque" FlashVars="bcastr_config='+swf_config+'" menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); 
          document.write('</object>'); 
          </script>-->
          	<a href="http://u.8264.com/space-16733402-do-blog-id-59957.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/test11.jpg" width="400" height="265" border="0"/></a>
            </div>
            <div class="newall">
            	<div><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/newtop.jpg" width="557" height="18" border="0" /></div>
                <div>
                	<div class="new_l">
                    	<h1><a href="#" target="_blank">水上运动资讯</a></h1>
                    	<ul>
                        	<li>&#8226;&nbsp;&nbsp;<a href="http://u.8264.com/space-16733402-do-blog-id-59957.html" target="_blank">第7届Teva Mountain Games图片集--皮划艇比赛</a></li>
                            <li>&#8226;&nbsp;&nbsp;<a href="http://www.8264.com/43247.html" target="_blank">建德一小伙皮划艇漂流下班 漂过几次同事也上瘾</a></li>
                            <li>&#8226;&nbsp;&nbsp;<a href="/42649.html" target="_blank">美国小伙乘皮划艇冲下57米瀑布 超越世界纪录</a></li>
                            <li>&#8226;&nbsp;&nbsp;<a href="/42463.html" target="_blank">长三角漂流联谊会成立大会暨临海首届漂流节开幕</a></li>
                            <li>&#8226;&nbsp;&nbsp;<a href="/43287.html" target="_blank">中国伊春首届国际自然水域漂流大赛12日举行</a></li>
							<li>&#8226;&nbsp;&nbsp;<a href="/43097.html" target="_blank">湖南国际漂流大赛浏阳开幕 百名漂流爱好者参加</a></li>
							<li>&#8226;&nbsp;&nbsp;<a href="/42925.html" target="_blank">虹口漂流再次开漂路线增长1倍 可看到地震遗迹</a></li>	
							<li>&#8226;&nbsp;&nbsp;<a href="/42319.html" target="_blank">漂流扎堆涌现 “第一漂”江湖争霸无序竞争埋隐患</a></li>							
                        </ul>
                    </div>
                    <div class="new_r">
                    	<h1><a href="#" target="_blank">相关产品测评文章</a></h1>
                    	<ul>
                        	<li>&#8226;&nbsp;&nbsp;<a href="http://u.8264.com/space-33715545-do-blog-id-66963.html" target="_blank">Clorts（洛弛）水陆两栖鞋初体验</a></li>
                            <li>&#8226;&nbsp;&nbsp;<a href="/42293.html" target="_blank">KingCamp09款速干衣体验报告</a></li>
                            <li>&#8226;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-228.html" target="_blank">Shehe(极星)女装玛尼快干衬衫体验</a></li>
                            <li>&#8226;&nbsp;&nbsp;<a href="/33204.html" target="_blank">TEVA女式溯溪徒步鞋体验</a></li>
                            <li>&#8226;&nbsp;&nbsp;<a href="/42122.html" target="_blank">ACME 2009新款女速干裤体验</a></li>
                            <li>&#8226;&nbsp;&nbsp;<a href="/41768.html" target="_blank">伊思佳快干裤体验报告</a></li>
                            <li>&#8226;&nbsp;&nbsp;<a href="/38966.html" target="_blank">步行者速干裤体验报告</a></li>
							<li>&#8226;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-325.html" target="_blank">HIGHROCK 竹炭速干拆分裤体验</a></li>
                        </ul>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/newbottom.jpg" width="557" height="18" border="0" /></div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="mid" style="margin-top:15px;">
            <div class="title"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/title1.jpg" width="987" height="36" border="0"/></div>
            <div class="con1">
                <div class="con_l"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/coin_l.jpg" width="20" height="66" border="0" /></div>
                <div class="con_m" id="de">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td id="de1">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <div class="imgall">
                                                <div class="img"><a href="/43046.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tb/1.jpg" width="170" height="220" border="0" /></a></div>
                                                <div class="wen"><a href="/43046.html" target="_blank">特别推荐：步行者速干裤</a></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="imgall">
                                                <div class="img"><a href="/43049.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tb/2.jpg" width="170" height="220" border="0" /></a></div>
                                                <div class="wen"><a href="/43049.html" target="_blank">特别推荐：步行者手机袋</a></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="imgall">
                                                <div class="img"><a href="/43039.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tb/3.jpg" width="170" height="220" border="0" /></a></div>
                                                <div class="wen"><a href="/43039.html" target="_blank">特别推荐：洛弛溯溪鞋</a></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="imgall">
                                                <div class="img"><a href="/43061.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tb/4.jpg" width="170" height="220" border="0" /></a></div>
                                                <div class="wen"><a href="/43061.html" target="_blank">特别推荐：诺诗兰装备</a></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="imgall">
                                                <div class="img"><a href="/43041.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tb/5.jpg" width="170" height="220" border="0" /></a></div>
                                                <div class="wen"><a href="/43041.html" target="_blank">特别推荐：探路者溯溪鞋</a></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="imgall">
                                                <div class="img"><a href="/43442.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tb/6.jpg" width="170" height="220" border="0" /></a></div>
                                                <div class="wen"><a href="/43442.html" target="_blank">TEVA 男款两栖鞋 sunkosi</a></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="imgall">
                                                <div class="img"><a href="/43440.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tb/7.jpg" width="170" height="220" border="0" /></a></div>
                                                <div class="wen"><a href="/43440.html" target="_blank">TEVA 女款两栖鞋 Aravalli</a></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td id="de2">&nbsp;</td>
                        </tr>
                    </table>
                    <SCRIPT language=JavaScript type=text/javascript>
                    function GetObj01(objName){
                        if(document.getElementById){
                            return eval('document.getElementById("' + objName + '")');
                        }else if(document.layers){
                            return eval("document.layers['" + objName +"']");
                        }else{
                            return eval('document.all.' + objName);
                        }
                    }
                      var speed01=20//速度数值越大速度越慢
                      GetObj01("de2").innerHTML=GetObj01("de1").innerHTML
                      function Marquee01(){
                          if(GetObj01("de").scrollLeft<=0)
                          GetObj01("de").scrollLeft=GetObj01("de1").offsetWidth
                          else{
                            GetObj01("de").scrollLeft--
                          }
                      }
                      var MyMar01=setInterval(Marquee01,speed01)
                      GetObj01("de").onmouseover=function() {clearInterval(MyMar01)}
                      GetObj01("de").onmouseout=function() {MyMar01=setInterval(Marquee01,speed01)}
                      </SCRIPT>
                </div>
                <div class="con_r"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/coin_r.jpg" width="20" height="66" border="0" /></div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="mid2">
        	<div class="title1"><span style="float:right; margin:7px 25px 0px 0px;"><a href="http://www.8264.com/topic/1264a/index.html" target="_blank">more</a></span></div>
            <div class="con2">
            	<div class="con2_l">
                	<div class="con2all">
                    	<div class="con2allimg"><a href="/43511.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj1.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen">
                        	<div class="con2title"><a href="/43511.html" target="_blank">洛弛男款溯溪鞋</a></div>
                            <div class="con2wen">针对河床、戈壁、溪谷等复杂的涉水环境，专业设计。不管您是专业涉溪，还是日常生活</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="con2all">
                    	<div class="con2allimg"><a href="/43047.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj2.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen">
                        	<div class="con2title"><a href="/43047.html" target="_blank">诺诗兰速干钓鱼马甲</a></div>
                            <div class="con2wen">PRO-DRY排汗快干梭织面料。面料强度高、重量轻，具有良好快干、排汗透湿特性。高强度抗UV，易打理。前片大立体口袋+双层口袋设计</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="con2all">
                    	<div class="con2allimg1"><a href="/43059.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj3.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen1">
                        	<div class="con2title"><a href="/43059.html" target="_blank">思凯乐吸湿快干女T恤</a></div>
                            <div class="con2wen">采用吸湿快干面料,增加3M公司Scotchgard(思高洁)防污保护剂，衣物自然抗污去污,环保,保持亮丽,保证穿着舒适,透气。</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="con2all">
                    	<div class="con2allimg1"><a href="/43060.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj4.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen1">
                        	<div class="con2title"><a href="/43060.html" target="_blank">天石速干拆分裤女款</a></div>
                            <div class="con2wen">100%尼龙，吸湿快干，抗紫外线。使用抗紫外线、吸湿速干面料/*人体工学裁剪,膝部完全适合运动/*附送外置腰带。</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="con2all">
                    	<div class="con2allimg"><a href="/43067.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj5.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen">
                        	<div class="con2title"><a href="/43067.html" target="_blank">ACME女款长袖速干衬衣</a></div>
                            <div class="con2wen">采用最新的吸湿排汗，抗静电防撕裂尼龙面料，专为长途旅行和野外活动设计。长袖卷起后用袖袢固定可变成短袖，实现一衣两用</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="con2all">
                    	<div class="con2allimg"><a href="/43040.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj6.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen">
                        	<div class="con2title"><a href="/43040.html" target="_blank">TEVA男款凉鞋 omnium</a></div>
                            <div class="con2wen">SpiderRubber橡胶防滑大底快干材料鞋面；设有快速解除鞋扣系统；综合保护脚趾；采用环保Microban防菌防霉处理，防菌除臭
</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="con2all">
                    	<div class="con2allimg1"><a href="/43070.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj7.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen1">
                        	<div class="con2title"><a href="/43070.html" target="_blank">宝驼男款透气徒步鞋</a></div>
                            <div class="con2wen">面料：PU+网布。内里：不防水。鞋底：MD/RB。用途：旅行、休闲。</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="con2all">
                    	<div class="con2allimg1"><a href="/43077.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj8.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen1">
                        	<div class="con2title"><a href="/43077.html" target="_blank">哥伦布男款溯溪鞋</a></div>
                            <div class="con2wen">鞋面单层抗撕裂透水网布和鞋底冲孔设计构成了全方位的排水系统。既可当徒步鞋，又可当凉鞋穿着。MD鞋底的组合，轻便，透气。弹力丈巾快
</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
					<div class="con2all">
                    	<div class="con2allimg"><a href="/43080.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj9.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen">
                        	<div class="con2title"><a href="/43080.html" target="_blank">Shehe女装玛尼快干衬衫</a></div>
                            <div class="con2wen">功能装备/女性特别曲线设计/排汗快干通爽/抗紫外线/手感柔软/时尚水印图案/下摆隐形拉链袋/内置可调节袖襻/参考重量：M码 165克。</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
					<div class="con2all">
                    	<div class="con2allimg"><a href="/43068.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj10.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen">
                        	<div class="con2title"><a href="/43068.html" target="_blank">探路者布鲁克溯溪鞋</a></div>
                            <div class="con2wen">高强度、高韧性的橡胶大底上包延伸至鞋面，与后跟构成功能性整体，鞋底漏水孔设计保证足部干爽舒适。经典爪装结构像一双强有力的手保护足部，增加了运动的安全性。
</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
					<div class="con2all">
                    	<div class="con2allimg1"><a href="/43064.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj11.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen1">
                        	<div class="con2title"><a href="/43064.html" target="_blank">ttiss男款溯溪鞋</a></div>
                            <div class="con2wen">ttiss男款溯溪鞋；颜色：迷彩、灰色；尺码：40-44</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
					<div class="con2all">
                    	<div class="con2allimg1"><a href="/43071.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj12.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen1">
                        	<div class="con2title"><a href="/43071.html" target="_blank">傲峰雪溯溪鞋</a></div>
                            <div class="con2wen">溯溪鞋，轻便舒适，也可用于日常穿着，透气性佳，防滑性能好.</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
					<div class="con2all">
                    	<div class="con2allimg"><a href="/43073.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj13.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen">
                        	<div class="con2title"><a href="/43073.html" target="_blank">kailas男款快干两节裤</a></div>
                            <div class="con2wen">*弹力快干锦纶*面料经微皱感处理，质感更干爽*防泼水处理*可调节型腰围、彩色腰带设计*多袋设计*裤管可拆卸成为短裤**采用DURAFLEX扣件*</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
					<div class="con2all">
                    	<div class="con2allimg"><a href="/42293.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj14.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen">
                        	<div class="con2title"><a href="/42293.html" target="_blank">KingCamp09新款速干衣</a></div>
                            <div class="con2wen">徒步探险，旅游，露营， 休闲运动，海滩漫步，城市旅游；经过IQ工艺处理，迅速排除人体由运动或炎热气候产生的大量汗气，保证身体的干爽。</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
					<div class="con2all">
                    	<div class="con2allimg1"><a href="/43065.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj15.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen1">
                        	<div class="con2title"><a href="/43065.html" target="_blank">ttiss女款分合腿裤</a></div>
                            <div class="con2wen">吸湿快干面料，面料内部的凹凸结构与皮肤表面构成了空气循环空间，更快地将体温对外传导，使汗水进一步加速传递到面料表层。</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
					<div class="con2all">
                    	<div class="con2allimg1"><a href="/41115.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/tj/tj16.jpg" width="166" height="120" border="0" /></a></div>
                        <div class="con2allwen1">
                        	<div class="con2title"><a href="/41115.html" target="_blank">BACKPACKER 速干衣</a></div>
                            <div class="con2wen">面料特点：PRO-DRY；功能：速干，防紫外线UPF50+， 防污，高强度（耐磨，抗撕拉）</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>	
                </div>
                <div class="con2_r">
                	<div><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/san1.gif" width="200" height="61" border="0" /></div>
                	<div id="listmarquee">
                        <div class="conimgall2">
                            <div class="conimg2"><a href="/43036.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/pj/1.jpg" width="170" height="120" border="0" /></a></div>
                            <div class="conwen2"><a href="/43036.html" target="_blank">风爽一次性清洗绵</a></div>
                    	</div>
                        <div class="conimgall2">
                            <div class="conimg2"><a href="/43042.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/pj/2.jpg" width="170" height="120" border="0" /></a></div>
                            <div class="conwen2"><a href="/43042.html" target="_blank">Trackman海马多功能水盆</a></div>
                    	</div>
                    	<div class="conimgall2">
                            <div class="conimg2"><a href="/43045.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/pj/3.jpg" width="170" height="120" border="0" /></a></div>
                            <div class="conwen2"><a href="/43045.html" target="_blank">Trackman剑鱼TPU防水压缩袋</a></div>
                    	</div>
                        <div class="conimgall2">
                            <div class="conimg2"><a href="/43048.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/pj/4.jpg" width="170" height="120" border="0" /></a></div>
                            <div class="conwen2"><a href="/43048.html" target="_blank">步行者超轻X-LIGHT系列防水袋</a></div>
                    	</div>
                        <div class="conimgall2">
                            <div class="conimg2"><a href="/43052.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/pj/5.jpg" width="170" height="120" border="0" /></a></div>
                            <div class="conwen2"><a href="/43052.html" target="_blank">步行者防水背包</a></div>
                    	</div>
                        <div class="conimgall2">
                            <div class="conimg2"><a href="/43056.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/pj/6.jpg" width="170" height="120" border="0" /></a></div>
                            <div class="conwen2"><a href="/43056.html" target="_blank">步行者新型环保水盆</a></div>
                    	</div>
						<div class="conimgall2">
                            <div class="conimg2"><a href="/43443.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/pj/7.jpg" width="170" height="120" border="0" /></a></div>
                            <div class="conwen2"><a href="/43443.html" target="_blank">步行者 防水地图袋</a></div>
                    	</div>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div class="mid3">
        	<div class="title"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/title3.jpg" width="987" height="36" border="0"/></div>
            <div class="con3">
            	<div class="imgall3">
                	<div class="img3"><a href="http://static.8264.com/oldcms/moban/zt/09shuishang/game/pihuating.swf" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/game/g1.jpg" width="130" height="90" border="0" /></a></div>
                    <div class="wen3"><a href="http://static.8264.com/oldcms/moban/zt/09shuishang/game/pihuating.swf" target="_blank">激流皮划艇</a></div>
                </div>
                <div class="imgall3">
                	<div class="img3"><a href="http://static.8264.com/oldcms/moban/zt/09shuishang/game/chonglang2.swf" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/game/g2.jpg" width="130" height="90" border="0" /></a></div>
                    <div class="wen3"><a href="http://static.8264.com/oldcms/moban/zt/09shuishang/game/chonglang2.swf" target="_blank">超级大冲浪</a></div>
                </div>
				<div class="imgall3">
                	<div class="img3"><a href="http://static.8264.com/oldcms/moban/zt/09shuishang/game/chonglang.swf" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/game/g3.jpg" width="130" height="90" border="0" /></a></div>
                    <div class="wen3"><a href="http://static.8264.com/oldcms/moban/zt/09shuishang/game/chonglang.swf" target="_blank">海上冲浪</a></div>
                </div>
				<div class="imgall3">
                	<div class="img3"><a href="http://static.8264.com/oldcms/moban/zt/09shuishang/game/huachuan.swf" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/game/g4.jpg" width="130" height="90" border="0" /></a></div>
                    <div class="wen3"><a href="http://static.8264.com/oldcms/moban/zt/09shuishang/game/huachuan.swf" target="_blank">划船大赛</a></div>
                </div>
				<div class="imgall3">
                	<div class="img3"><a href="http://static.8264.com/oldcms/moban/zt/09shuishang/game/saizhou.swf" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/game/g5.jpg" width="130" height="90" border="0" /></a></div>
                    <div class="wen3"><a href="http://static.8264.com/oldcms/moban/zt/09shuishang/game/saizhou.swf" target="_blank">海岛赛舟</a></div>
                </div>
				<div class="imgall3">
                	<div class="img3"><a href="http://static.8264.com/oldcms/moban/zt/09shuishang/game/f1.swf" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/09shuishang/images/game/g6.jpg" width="130" height="90" border="0" /></a></div>
                    <div class="wen3"><a href="http://static.8264.com/oldcms/moban/zt/09shuishang/game/f1.swf" target="_blank">F1摩托艇</a></div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="bottom"><a href="http://www.8264.com/ziliao/about/aboutus.php" target="_blank">关于我们</a> | <a href="http://www.8264.com/ziliao/about/aboutus.php" target="_blank">联系我们</a> | <a href="http://www.8264.com/8954.html">给我留言</a> |  <a href="http://www.8264.com/ziliao/sitemap.html" target="_blank">网站地图</a> | <a href="http://www.8264.com/ziliao/ggservice/index.html" target="_blank">广告服务</a> | <a href="http://www.8264.com/list/531/" target="_blank">编辑部的故事</a> | <a href="http://www.8264.com/sitelink/index.html" target="_blank">友情连接</a><br>服务热线：022-23708264 | 传真：022-23708323 | 地址：天津市新技术产业园区华天道8号海泰信息广场C座1001号<br>除了脚印什么都不留下除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn" target="_blank">津ICP备05004140号-1</a></div>
	</div>
</div>
</body>
</html>
