<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>去钓鱼岛露营你准备好了吗？</title>
</head>
<style type="text/css">
body { margin:0; padding:0; background:#000;}
img { border:0;}
.wap { height:1080px; margin:auto; overflow:hidden; text-align:center;}
</style>
<body>
<div class="wap"><img src="http://static.8264.com/oldcms/moban/zt/20120920_dyd/imgage/dyd1.jpg" /><img src="http://static.8264.com/oldcms/moban/zt/20120920_dyd/imgage/dyd2.jpg" border="0" usemap="#Map" /><map name="Map" id="Map">
    <area shape="rect" coords="97,38,245,188" href="http://www.8264.com/portal.php?mod=view&aid=78827"  target="_blank"/>
    <area shape="rect" coords="270,40,418,185" href="http://www.8264.com/portal.php?mod=view&aid=76714" target="_blank"/>
    <area shape="rect" coords="448,38,591,185" href="http://www.8264.com/portal.php?mod=view&amp;aid=79177" target="_blank"/>
    <area shape="rect" coords="620,39,767,185" href="http://www.8264.com/portal.php?mod=view&aid=77158" target="_blank"/>
    <area shape="rect" coords="794,41,941,186" href="http://www.8264.com/portal.php?mod=view&aid=75202" target="_blank"/>
    <area shape="rect" coords="98,211,244,354" href="http://www.8264.com/portal.php?mod=view&aid=78980" target="_blank"/>
    <area shape="rect" coords="271,211,417,354" href="http://www.8264.com/portal.php?mod=view&aid=78775" target="_blank"/>
    <area shape="rect" coords="446,209,592,358" href="http://www.8264.com/portal.php?mod=view&aid=78932" target="_blank"/>
    <area shape="rect" coords="620,209,769,354" href="http://www.8264.com/zb-1326500" target="_blank"/>
    <area shape="rect" coords="794,208,940,354" href="http://www.8264.com/viewnews-79584-page-1.html" target="_blank"/></map>
</div>
</body>
</html>
