<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>哥仑步“发现”之旅</title>
<link href="http://static.8264.com/oldcms/moban/zt/columbus/style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div style="width:940px; height:560px; margin:0px auto;">
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="940" height="560"><param name="movie" value="http://static.8264.com/oldcms/moban/zt/columbus/images/home3.swf"><param name="wmode" value="transparent"><embed src="http://static.8264.com/oldcms/moban/zt/columbus/images/home3.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="940" height="560"></embed></object>
</div>
</body>
</html>
