<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>第二届火枫户外美食烹饪大赛 </title>
<meta name="description" content="第二届火枫户外美食烹饪大赛 ">
<meta name="keywords" content="火枫,烹饪">
<link href="/css/igenus.css" rel="stylesheet" type="text/css" />
<link href="/css/css.css" rel="stylesheet" type="text/css" />
<link href="/css/8264css.css" rel="stylesheet" type="text/css" />
<link href="/css/pinglun20070313.css" rel="stylesheet" type="text/css" />
<link href="http://static.8264.com/oldcms/moban/2007ispo/ispocss.css" rel="stylesheet" type="text/css" />
<link href="http://static.8264.com/oldcms/moban/zt/firemaple/ind.css" rel="stylesheet" type="text/css" />
<style type="text/css">

<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	background-image: url(http://static.8264.com/oldcms/moban/zt/firemaple/img/bg.jpg);
}
-->
</style>
<link href="ind.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="http://static.8264.com/oldcms/moban/zt/firemaple/img/top21.jpg" width="980" /></td>
  </tr>
  
  <tr>
    <td><img src="http://static.8264.com/oldcms/moban/zt/firemaple/img/top22.jpg" width="980" /></td>
  </tr>
  <tr>
    <td><img src="http://static.8264.com/oldcms/moban/zt/firemaple/img/top23.jpg" width="980" /></td>
  </tr>
  <tr>
    <td height="92" align="center" background="http://static.8264.com/oldcms/moban/zt/firemaple/img/topdd.jpg"><table width="92%" border="0" cellspacing="3" cellpadding="0">
      <tr>
        <td class="tit14_white" align="left">&nbsp;&nbsp;&nbsp;&nbsp;2006年由火枫公司和8264主办的“<a href="http://bbs.8264.com/thread-39412-1-1.html" target="_blank"><font color="#FF6600">第一届火枫户外美食烹饪征稿大赛</font></a>”成功举办，大赛得到了广大驴友的广泛支持。2007年第二届火枫户外美食烹饪大赛在众驴友的期待中拉开了序幕，我们期待大家的积极参与。</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="980" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr>
    <td width="38" valign="top">&nbsp;</td>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="32"><img src="http://static.8264.com/oldcms/moban/zt/firemaple/img/fire.jpg" width="30" height="26" /></td>
        <td align="left"><img src="http://static.8264.com/oldcms/moban/zt/firemaple/img/tt3.jpg" width="85" height="30" /></td>
        <td width="140" align="left"><a href="#"></a></td>
      </tr>
    </table>
      <table width="703" height="217" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" background="http://static.8264.com/oldcms/moban/zt/firemaple/img/d1.gif"><iframe width=98% height=185 frameborder=0 allowtransparency="true" src="http://static.8264.com/oldcms/moban/zt/firemaple/ym1.html"></iframe></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="32"><img src="http://static.8264.com/oldcms/moban/zt/firemaple/img/fire.jpg" width="30" height="26" /></td>
          <td align="left"><img src="http://static.8264.com/oldcms/moban/zt/firemaple/img/tt4.jpg" width="85" height="30" /></td>
        </tr>
      </table>
      <table width="703" height="217" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" background="http://static.8264.com/oldcms/moban/zt/firemaple/img/d1.gif"><iframe width=670 height=185 frameborder=0 allowtransparency="true" src="http://static.8264.com/oldcms/moban/zt/firemaple/ym2.html"></iframe></td>
        </tr>
      </table></td>
    <td width="230"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="http://static.8264.com/oldcms/moban/zt/firemaple/img/tt1.jpg" width="226" height="146" border="0" usemap="#Map" /></td>
      </tr>
      <tr>
        <td><img src="http://static.8264.com/oldcms/moban/zt/firemaple/img/tt2.jpg" width="226" height="320" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="980" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr>
    <td width="38">&nbsp;</td>
    <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="32"><img src="http://static.8264.com/oldcms/moban/zt/firemaple/img/fire.jpg" width="30" height="26" /></td>
        <td align="left"><img src="http://static.8264.com/oldcms/moban/zt/firemaple/img/tt5.jpg" width="85" height="30" /></td>
        <td width="60"><a href="/topic/1018a/index.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/firemaple/img/tt6.jpg" width="55" height="25" border="0" /></a></td>
      </tr>
    </table>
        <table width="930" height="165" border="0" cellpadding="0" cellspacing="0">
		
          <tr>
            <td align="center" background="http://static.8264.com/oldcms/img/d2.gif"><table width="97%" border="0" cellspacing="0" cellpadding="2">
                <tr>                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/26334.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200710/1191998775iTjr6q.jpg" title='洛河滩“叫花鱼”制作成功！' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/26334.html title='洛河滩“叫花鱼”制作成功！' target='_blank'>
                                  <div align='center' class="tit14_white">洛河滩“叫花鱼”</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/26321.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200710/1191913705UgtvYA.jpg" title='皮蛋瘦肉粥--黑牛谷穿越 溯溪的2日早餐' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/26321.html title='皮蛋瘦肉粥--黑牛谷穿越 溯溪的2日早餐' target='_blank'>
                                  <div align='center' class="tit14_white">皮蛋瘦肉粥--黑牛</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/26320.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200710/1191910500xJLuGE.jpg" title='简单营养美食--萝卜牛腩腩汤' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/26320.html title='简单营养美食--萝卜牛腩腩汤' target='_blank'>
                                  <div align='center' class="tit14_white">简单营养美食--萝</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/26302.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200710/11918299818S8rmw.jpg" title='令你流口水的--烤全羊[组图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/26302.html title='令你流口水的--烤全羊[组图]' target='_blank'>
                                  <div align='center' class="tit14_white">令你流口水的--烤</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/26234.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1191123995DJpDKk.jpg" title='野外包饺子—这些算不算美食' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/26234.html title='野外包饺子—这些算不算美食' target='_blank'>
                                  <div align='center' class="tit14_white">野外包饺子—这些</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/26165.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1190873805nJJogX.jpg" title='户外就讲究个简单----简单.简单.再简单&#33;皮蛋瘦肉粥一碗' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/26165.html title='户外就讲究个简单----简单.简单.再简单&#33;皮蛋瘦肉粥一碗' target='_blank'>
                                  <div align='center' class="tit14_white">户外就讲究个简单</div>
                                </a></td>
                      </tr>
                    </table></td>
                </tr><tr>				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/26122.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1190693224shWO3A.jpg" title='非常简单的韩式泡菜----超级方便+超级下饭+超级美味！' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/26122.html title='非常简单的韩式泡菜----超级方便+超级下饭+超级美味！' target='_blank'>
                                  <div align='center' class="tit14_white">非常简单的韩式泡</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/26099.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1190600112vIdLb4.jpg" title='当海恋上山，晚风中飘来了鱼的味道' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/26099.html title='当海恋上山，晚风中飘来了鱼的味道' target='_blank'>
                                  <div align='center' class="tit14_white">当海恋上山，晚风</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/26063.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1190355086lFBdlv.jpg" title='烹调＋创意＝美食--我们的户外河鲜大餐' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/26063.html title='烹调＋创意＝美食--我们的户外河鲜大餐' target='_blank'>
                                  <div align='center' class="tit14_white">烹调＋创意＝美食</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/26053.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1190341978dS3dA1.jpg" title='自制高山乌冬面' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/26053.html title='自制高山乌冬面' target='_blank'>
                                  <div align='center' class="tit14_white">自制高山乌冬面</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/26033.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1190254695aSPWK3.jpg" title='户外美食DIY——地钉烤鸡翅' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/26033.html title='户外美食DIY——地钉烤鸡翅' target='_blank'>
                                  <div align='center' class="tit14_white">户外美食DIY——地</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/26029.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1190253095Xxaz25.jpg" title='滋味饭团——户外美食DIY' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/26029.html title='滋味饭团——户外美食DIY' target='_blank'>
                                  <div align='center' class="tit14_white">滋味饭团——户外</div>
                                </a></td>
                      </tr>
                    </table></td>
                </tr><tr>				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/25999.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/11901053564TkIQQ.jpg" title='来秀一下洛阳牡丹燕菜[组图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/25999.html title='来秀一下洛阳牡丹燕菜[组图]' target='_blank'>
                                  <div align='center' class="tit14_white">来秀一下洛阳牡丹</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/25997.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1190085874jJfixr.jpg" title='紫奕篡改天下第一帮之美味叫花鸡' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/25997.html title='紫奕篡改天下第一帮之美味叫花鸡' target='_blank'>
                                  <div align='center' class="tit14_white">紫奕篡改天下第一</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/25913.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1189760435SB6wqZ.jpg" title='超级FB！浪漫烛光晚餐[组图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/25913.html title='超级FB！浪漫烛光晚餐[组图]' target='_blank'>
                                  <div align='center' class="tit14_white">超级FB！浪漫烛光</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/25901.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1189664757giJO02.jpg" title='靠海吃海 户外海边美食DIY--超级海胆早餐面[组图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/25901.html title='靠海吃海 户外海边美食DIY--超级海胆早餐面[组图]' target='_blank'>
                                  <div align='center' class="tit14_white">靠海吃海 户外海边</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/25864.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1189494254RJFgAB.jpg" title='香港东龙岛露营+腐败[组图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/25864.html title='香港东龙岛露营+腐败[组图]' target='_blank'>
                                  <div align='center' class="tit14_white">香港东龙岛露营+腐</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/25833.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1189402643yBgxX3.jpg" title='小非当“家”--户外美食套餐[组图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/25833.html title='小非当“家”--户外美食套餐[组图]' target='_blank'>
                                  <div align='center' class="tit14_white">小非当“家”--户</div>
                                </a></td>
                      </tr>
                    </table></td>
                </tr><tr>				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/25832.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1189403142q8dzI0.jpg" title='将漆油腐败进行到底[组图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/25832.html title='将漆油腐败进行到底[组图]' target='_blank'>
                                  <div align='center' class="tit14_white">将漆油腐败进行到</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/25830.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1189397930wCde8p.jpg" title='家里从不做饭 到了外面勤快得很[组图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/25830.html title='家里从不做饭 到了外面勤快得很[组图]' target='_blank'>
                                  <div align='center' class="tit14_white">家里从不做饭 到了</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/25829.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1189396094TuuRdc.jpg" title='在户外炒鸡蛋的全过程[组图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/25829.html title='在户外炒鸡蛋的全过程[组图]' target='_blank'>
                                  <div align='center' class="tit14_white">在户外炒鸡蛋的全</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/24786.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200707/1185873908WEjUUC.jpg" title='户外美食凉菜海鲜烩菜[组图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/24786.html title='户外美食凉菜海鲜烩菜[组图]' target='_blank'>
                                  <div align='center' class="tit14_white">户外美食凉菜海鲜</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/24701.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200707/1185770301owadcg.gif" title='户外美食大餐七菜一汤[组图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/24701.html title='户外美食大餐七菜一汤[组图]' target='_blank'>
                                  <div align='center' class="tit14_white">户外美食大餐七菜</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/24499.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200707/1185089656bIulfc.jpg" title='游四姑娘山 做蘑菇浓汤[图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/24499.html title='游四姑娘山 做蘑菇浓汤[图]' target='_blank'>
                                  <div align='center' class="tit14_white">游四姑娘山 做蘑菇</div>
                                </a></td>
                      </tr>
                    </table></td>
                </tr><tr>				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/24478.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200709/1189406620Y2pSaI.jpg" title='自己动手制作“三明治”[图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/24478.html title='自己动手制作“三明治”[图]' target='_blank'>
                                  <div align='center' class="tit14_white">自己动手制作“三</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/17575.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200707/11858763216tW28k.jpg" title='无帐篷露营[组图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/17575.html title='无帐篷露营[组图]' target='_blank'>
                                  <div align='center' class="tit14_white">无帐篷露营[组图]</div>
                                </a></td>
                      </tr>
                    </table></td>
                				                  <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="taab_bor">
                      <tr>
                        <td><a href="/17508.html" target='_blank'><img height=90 width=130 src="http://image1.8264.com/portal/upload/old_cms/data_article/200707/1185875712dJzzLd.jpg" title='户外自制皮萨[图]' border=0></a></td>
                      </tr>
                  </table>
                    <table width="90%" border="0" cellspacing="0" cellpadding="3">
                      <tr>
                        <td align="center"><a href=/17508.html title='户外自制皮萨[图]' target='_blank'>
                                  <div align='center' class="tit14_white">户外自制皮萨[图]</div>
                                </a></td>
                      </tr>
                    </table></td>
                								</tr>
            </table>	
			</td>
          </tr>
        </table>
      <table width="40%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
          </tr>
      </table></td>
    <td width="18">&nbsp;</td>
  </tr>
</table>
   <table width="980" border="0" align="center" cellpadding="0" cellspacing="0"  >
    <tr>
	 <td bgcolor="#FFFFFF" align="center"><table width="800" border="0" align="center" cellpadding="0" cellspacing="0" class="bottomtd2">
    <tr>
      <td><a href="/">8264</a> | <a href="http://osm.8264.com/" target="_blank">户外经理人</a> | <a href="http://www.91ski.com/" target="_blank">就要滑雪网</a> | <a href="http://www.yododo.com/" target="_blank">游多多自助旅行网</a> | <a href="http://bbs.8264.com/" target="_blank">驴友论坛</a> | <a href="http://www.8844shop.com/" target="_blank">户外用品商城</a> | <a href="http://blog.8264.com/" target="_blank">驴志Blog</a>  </td>
    </tr>
  </table>
  
  <div align="center" style="width:966px; text-align:left; margin-left:auto; margin-right:auto;background-color:#ffffff">
    <table width="840" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
            <td class="bottomtd1"><a href="/ziliao/about/aboutus.php" target="_blank">关于我们</a> | <a href="/list/531" target="_blank">联系我们</a> | <a href="/8954.html#pl" target="_blank">意见反馈</a> |  <a href="/ziliao/sitemap.html" target="_blank">网站地图</a> |  <a href="http://bbs.8264.com/forum-160-1.html" target="_blank">我要投稿</a> | <a href="/ziliao/about/ad2.php" target="_blank">广告服务</a> | <a href="/list/531" target="_blank">编辑部的故事</a> | <a href="/sitelink/index.html" target="_blank"><font color="red">友情连接</font></a></td>
          </tr>
    </table>
    <div align="center" style="width:940px; line-height:150%;padding-top:6px; text-align:center;" class="td"><a href="/8954.html" target="_blank"><font color="#0000ff">若发现本站有任何错误，请留言告诉我们</font></a> | <a href="http://bbs.8264.com/thread-35885-1-1.html" target="_blank"><font color="#0000ff">免费申请8264队旗和不干胶贴</font></a> | <a href="http://bbs.8264.com/thread-53588-1-1.html" target="_blank"><font color="#0000ff">8264户外QQ群联盟</font></a><br />
        除了脚印什么都不留下 除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。<br />
      <a href="/ziliao/about/ad2.php"><font color="red"><b>广告联系：022-58697206-85</b></font></a> Mail：admin<img src="http://static.8264.com/oldcms/images/mail.gif" width="10" height="10" border="0" />8264.com <a href="http://www.miibeian.gov.cn" target="_blank">津ICP备05004140号-1</a>

      <br />
      <font color="#5F8C00">户外是有风险的运动，8264提醒您务必注意安全问题</font><br />
    </div>
  </div>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1805684-1";
urchinTracker();
</script>
<!-- 8264.com -->
</td>
	 </tr>
  </table>

<map name="Map" id="Map"><area shape="rect" coords="15,10,210,127" href="http://bbs.8264.com/forum-146-1.html" target="_blank" />
</map></body>
</html>
