<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>沃德第三站骑车环台登雪山</title>
<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/201409vaude/style/style.css">
<script src="http://static.8264.com/oldcms/moban/zt/201409vaude/js/jquery-1.9.1.min.js"></script>
<script src="http://static.8264.com/oldcms/moban/zt/201409vaude/js/jquery.js"></script>
</head>

<body>
	<div class="branner1"></div>
	<div class="branner2">
		<div class="w1000 pr brannercon2">
			<a href="http://www.vaude.com.cn" class="w108_106" target="_blank"></a>
			<a href="http://www.vaude.com.cn" class="logo1" target="_blank"></a>
			<div class="logo2">
				<a href="http://www.maogear.com" class="img1" target="_blank"></a>
				<a href="http://www.3m.com.cn/thinsulate" class="img2" target="_blank"></a>
			</div>
		</div>
	</div>
	<div class="navbg">
		<div class="w1000">
			<a href="javascript:void(0)">首页</a>
			<a href="#q2">活动回顾</a>
			<a href="#q3">活动介绍</a>
			<a href="#q4">赞助物品</a>
			<a href="#q5">活动报名</a>
		</div>
	</div>
	<div class="warpten">
		<div class="w1000">
			<div class="textc"><img src="http://static.8264.com/oldcms/moban/zt/201409vaude/images/title1.png"></div>
			<div class="clear_b">
				<div class="fl w240">
					<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=1890295130&verifier=296b9670&dpc=1"></iframe>
				</div>
				<div class="fr"><img src="http://static.8264.com/oldcms/moban/zt/201409vaude/images/right1.png"/></div>
			</div>
			<div class="textc"><a name="q2"></a><img src="http://static.8264.com/oldcms/moban/zt/201409vaude/images/title2.png"></div>
			<div class="clear_b con2">
				<div class="lunbocon11">
					<ul class="lunboimg">
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409vaude/images/1.jpg"/></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409vaude/images/2.jpg"/></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409vaude/images/3.jpg"/></li>
					</ul>
				</div>
				<div class="newslist">
					<ul>
						<li><a href="http://www.vaude.com.cn/article/view/65.html" target="_blank">VAUDE沃德环保先锋系列活动【骑车去登山】队员招募中</a></li>
						<li><a href="http://www.vaude.com.cn/article/view/47.html" target="_blank">VAUDE骑车去登山第二站-哈巴雪山 招募 & 参与者名单公布</a></li>
						<li><a href="http://www.700bike.com/27291.html" target="_blank">狂暴哈巴 骑车去登山第二站活动纪实 作者：陆阳</a></li>
						<li><a href="http://www.700bike.com/27244.html" target="_blank">骑游记：从嘉峪关到七一冰川 骑车去登山 作者：陆阳</a></li>
						<li><a href="http://bbs.8264.com/thread-2018602-1-1.html" target="_blank">骑车去登山—哈巴雪山 8264精华帖 作者：晓风</a></li>
						<li><a href="http://bbs.8264.com/thread-1785791-1-1.html" target="_blank">VAUDE 骑车去登山（环保绿色）第一站—七一冰川</a></li>
						<li><a href="http://v.youku.com/v_show/id_XNzAxODQ1MDg0.html" target="_blank">VAUDE骑车去登山第二站"相约哈巴雪山最美季节"</a></li>
						<li><a href="http://www.vaude.com.cn" target="_blank">了解更多</a></li>
					</ul>
				</div>
			</div>
			<div class="textc"><a name="q3"></a><img src="http://static.8264.com/oldcms/moban/zt/201409vaude/images/title3.png"></div>
			<div class="con3"></div>
			<div class="textc"><a name="q4"></a><img src="http://static.8264.com/oldcms/moban/zt/201409vaude/images/title4.png"></div>
			<div class="con4 pr">
				<a href="http:www.vaude.com.cn" target="_blank" class="more1"></a>
				<a href="http://3m.tmall.com/?q=%BB%A4%B6%E0%C0%D6&type=p&from=.shop.pc_2_searchbutton&search=y&newHeader_b=s_from&searcy_type=item&spm=0.15.a2227oh.d101" target="_blank" class="more2"></a>
				<a href="http://www.maogear.com/" target="_blank" class="more3"></a>
			</div>
			<div class="textc"><a name="q5"></a><img src="http://static.8264.com/oldcms/moban/zt/201409vaude/images/title5.png"></div>
			<div class="con5 pr">
				<a href="http://static.8264.com/oldcms/moban/zt/201409vaude/bmb.pdf" target="_blank" class="more1"></a>
				<a href="http://www.vaude.com.cn/article/view/65.html " target="_blank" class="more2"></a>
			</div>
		</div>
	</div>
	<div class="end">
		<div class="w1000 pr h787">
			<div class="hz1">
				<a href="http://www.vaude.com.cn/" class="wdlogo" target="_blank"></a>
				<a href="http://www.3m.com.cn/thinsulate" class="wdlogo1"></a>
				<a href="http://www.maogear.com/" class="wdlogo2"></a>
			</div>
			<div class="hz2"></div>
			<div class="copy"></div>
		</div>
	</div>
</body>
</html>
