<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>中国石嘴山星海湖 -2013 全国露营大会 | 露营 | 走扁带 | 山地车 | 徒步</title>
<link href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/style/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/js/DD_belatedPNG_0.0.8a.js"></script>
<script src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/js/DD_belatedPNG_css.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/lib/jquery.ad-gallery.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/lib/jquery.ad-gallery.js"></script>
<script type="text/javascript">
$(function() {
  var galleries = $('.ad-gallery').adGallery(); 
});
</script>



</head>

<body>
<div class="top"></div>
<div class="branner"></div>
<div class="nav">
	<div class="navlist">
    	<a href="http://www.8264.com/" target="_blank" class="one"></a>
        <a href="#a2" class="two"></a>
        <a href="#a3" class="three"></a>
        <a href="#a4" class="four"></a>
        <a href="#a5" class="five"></a>
        <a href="#a6" class="six"></a>
        <a href="http://www.mytentlife.com/camping/19.html" class="seven" target="_blank"></a>
        <a href="http://bbs.8264.com/" class="eight" target="_blank"></a>
    </div>
</div>
<div class="midcon">
	<div class="mid1">
    	<div class="lunbo">
        	<iframe src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/lunbo.html" frameborder="0"  scrolling="no" height="280" width="385" marginheight="0" marginwidth="0"></iframe>
        </div>
        <div class="left_1">
        	<div class="title1"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/title1.jpg"/><a name="a2"></a></div>
            <div class="con1">
本次露营大会集多种户外运动形式于一体，辅以饮食等服务，把旅游、文化、全民
健身、商贸相结合——专业与大众结合、运动与产业的结合、旅游与户外的结合。[详细]<br>

项目名称：中国石嘴山星海湖——2013 年全国露营大会<br>
项目主题：活力石嘴山 相聚星海湖<br>
项目位置：宁夏回族自治区石嘴山市星海湖<br>
项目时间：2013 年 7 月 19 日至 2013 年 7 月 21 日<br>
批准单位：国家体育总局<br>
主办单位：国家体育总局登山运动管理中心、宁夏回族自治区旅游局、 宁夏回族自治区体育局、石嘴山市人民政府 <br>
承办单位：石嘴山市文化广播电视旅游局、石嘴山市大武口区人民政府 <br>
执行单位：大武口区文化旅游局、尼奥（北京）公关策划有限公司、宁夏山地运动协会<br>
赞助单位：KAILAS 品牌 、 GIBBON 品牌，以及其他赞助品牌<br>
            </div>
        </div>
    </div>
    <div class="mid1">
    	<div class="left2">
        	<div><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/title2.jpg"/></div>
            <div class="con1">宁夏户外运动发达，有很深厚的露营活动基
础。露营大会露营场地设置在星海湖，湖边绿树
环抱，风景及其优美，是不可多得的户外露营地。
面向全国招募 1500-2000 名露营爱好者，800 顶
帐篷以上。露营爱好者需要19 日报到（报到处位
于露营地入口处，报到时间为 19 日中午 12 点至
晚 12 点），19-2日露营两天，21 日上午拔营，
活动结束。
            </div>
            <div style="padding-top:30px;"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/title3.jpg"/></div>
            <div class="con1">营地为星海湖中屿湖心的钓鱼岛。岛上为平整沙丘，覆盖少量植被。营地阳光充足。景色优
美。 营地占地约 80 亩。划分成露营区，饮食服
务区、活动区。营区配套卫生间、垃圾站、洗漱
点、舞台、报到处，指挥中心等设施。</div>
        </div>
        <div class="right2">
        	<div><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/title4.jpg"/></div>
          <div class="con1">
                一、千人露营<br>
                二、星海湖钓鱼岛露营地规划示意图（如下）<br><br>
                <a href="http://www.mytentlife.com/notice/71.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/test.jpg" border="0"/></a> </div>
        </div>
	</div>
    <div class="mid1"><a name="a3"></a>
    	<div><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/title5.jpg"/></div>
        <div class="pbl">
        	<div class="pbl_l">
            	<div class="pbl_one">
                	<a href="http://www.mytentlife.com/notice/71_2.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/huodong/1.jpg"></a>
                    <div class="pbl_one_con">
                    	<a href="http://www.mytentlife.com/notice/71_2.html" target="_blank">1、全国青少年"攀岩希望之星"推广活动石嘴山分赛场</a>
                        <span>7月20日上午 09：30-12：00，下午14：00-18：00</span>
                        <p>地    点：营地北侧<br>参与人数：青少年 200 人、成年不限人数。<br>报名方式：参加正式比赛必须为专业运动员，以个人形<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;式参加。参与体验的队员现场报名。<br><br>活动说明：<br><br>石嘴山地区青少年A\B\C\D各组的免费攀岩体验和推广活动。设成年男子组、成年女子组、中年男子组、中年女子组登顶赛，成功登顶即可领取奖品。</p>
                    </div>
                </div>
                <div class="pbl_one">
                	<a href="http://www.mytentlife.com/notice/71_5.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/huodong/4.jpg"></a>
                    <div class="pbl_one_con">
                    	<a href="http://www.mytentlife.com/notice/71_5.html" target="_blank">4、露营技能</a>
                        <span>7 月 20 日上午 09:30-12:00</span>
                        <p>地    点：营地南侧小岛<br>
                          规模：16 队，64 人。<br>报名方式：以队伍形式参加，每队4人，至少一名异性<br><br>活动说明：<br><br>以队伍形式参赛，以网上报名为主，现场也可组队参加。<br>
活动分两个环节，第一个环节为装睡袋。场地有四个睡袋，要求每队队员人手一个装好。装好的队员马上进行下一环节搭帐篷，4 人要搭好 2 顶帐篷。搭好帐篷后，举手意识，裁判停表计时。 计时赛，取用时最少的前 8 个队伍。给予户外装备奖励及颁发中登山协会证书。</p>
                  </div>
                </div>
				<div class="pbl_one">
                	<a href="http://www.mytentlife.com/notice/71_9.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/huodong/7.jpg"></a>
                    <div class="pbl_one_con">
                    	<a href="http://www.mytentlife.com/notice/71_9.html" target="_blank">7、 趣味袋鼠跳</a>
                        <span>7 月 20 日下午 14：00-18:00</span>
                        <p>地    点：营地西侧草地<br>规模：以队伍形式参赛，每队4人，至少一名异性，总<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计16 队，64人<br>报名方式：以队伍形式参加。预先网络报名为主，人员<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未满的情况下接受现场报名。<br><br>活动说明：<br><br>在营地东侧湖边沙滩选取 6*30 米一片区域。每次出发两支队伍，采取4 人接力的形式。每个参赛选手必须双脚套进布袋跳 30 米。采取单局淘汰赛制，率先到达终点者获胜，总计选 8 支优胜队伍给予奖励，晚会发奖品和证书。</p>
                    </div>
                </div>
                
            </div>
            <div class="pbl_l">
            	<div class="pbl_one">
                	<a href="http://www.mytentlife.com/notice/71_3.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/huodong/2.jpg"></a>
                    <div class="pbl_one_con">
                    	<a href="http://www.mytentlife.com/notice/71_3.html" target="_blank">2、星海湖赛艇</a>
                        <span>7月20日上午 09:30-12:00，下午 14：00-18:00</span>
                        <p>地    点：主营地东向湖面<br>参赛规模：60 队，120 人。<br>报名方式：以队伍形式参加，每队 2 人，1 男 1 女。<br><br>活动说明：<br><br>两人一艇，在主席台东向的湖面入水，划橡皮艇约100米到折返点，绕过浮标，然后返回。每次出发两只队伍，计时赛。<br>
考虑到露营岛上天气较热，所以这个项目全天开赛。按照报名的顺序比赛。如果时间允许可以酌情增加队伍。<br>
要求队员必须着救生衣。为了保证安全，尼奥会聘请职业赛艇运动员现场管理比赛。<br>
计时赛，取用时最少的前 10 名队伍给予户外装备奖励，颁发中登协证书。<br></p>
                    </div>
                </div>
                <div class="pbl_one">
                	<a href="http://www.mytentlife.com/notice/71_6.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/huodong/5.jpg"></a>
                    <div class="pbl_one_con">
                    	<a href="http://www.mytentlife.com/notice/71_6.html" target="_blank">5、全区第二届环星海湖山地自行车赛</a>
                        <span>7 月 20 日下午 14：00-15:30</span>
                        <p>骑行路线：顺时针环星海湖一周<br>报名方式：以个人形式参加。报名方式以网上预先报名<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为主。自带装备可以现场报名。<br><br>活动说明：<br><br>以营地为起点，在引导车带领下顺时针环星海湖一圈，距离约 30 公里，设置关门时间 1 小时 20 分钟，在关门时间内完成比赛且具有完整打卡记录点的队员可以参加晚会抽奖。<br>
为保证参赛队员安全，所有涉及公路路段、交叉路段需要用明显标示隔离赛道，并且安排警力在规定时间维持交通秩序。要求参加的队员必须自备山地车，自备头盔手套等护具。所有队员在导航车带领下按照既定路线前行。导航车全程导航。路口插路线旗。队尾配备后勤车。</p>
                    </div>
                </div>
                <div class="pbl_one">
                	<a href="http://www.mytentlife.com/notice/71_8.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/huodong/8.jpg"></a>
                    <div class="pbl_one_con">
                    	<a href="http://www.mytentlife.com/notice/71_8.html" target="_blank">8、星海湖垂钓</a>
                        <span>7 月 20 日下午 14：00-18:00</span>
                        <p>地    点：营地东侧湖面<br>参与人数：40 人<br>报名方式：以个人形式参加。预先网络报名为主，人员<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未满的情况下接受现场报名。<br><br>活动说明：<br><br>以个人形式参赛，自带渔具，鱼饵。渔具必须为手竿，4.5 米以内。在湖边用网围栏围起宽 8 米，长 40 米的水域，投放 200 尾鲫鱼苗（2 两重）。40 名队员分两轮进行比赛，抽签排位，每轮比赛 1 小时。在一个小时内钓得鱼的尾数多的参赛选手获胜，每轮取前 4 名，总计取前 8 名给予奖励。</p>
                    </div>
                </div>
            </div>
            <div class="pbl_r">
            	<div class="pbl_one">
                	<a href="http://www.mytentlife.com/notice/71_4.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/huodong/3.jpg"></a>
                    <div class="pbl_one_con">
                    	<a href="http://www.mytentlife.com/notice/71_4.html" target="_blank">3、环星海湖徒步</a>
                        <span>7 月 20 日上午 09:30-12:00</span>
                        <p>地    点：星海湖中屿一周<br>参与人数：不限人数<br>报名方式：以个人形式参加。报名方式以网上预先报<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名为主，现场补报为辅。<br><br>活动说明：<br><br>开幕式结束后，参加的队员立即到位于营地的起点处检录，发枪后。以营地为起点，在领队的带领下按顺时针环星海湖中屿一圈，距离 10 公里，所有队员在领行员的带领下按照既定路线前行。不得超过领行员。<br>
设置关门时间为 2 小时。<br>
所有在关门时间内完成全程徒步且没有违规的队员获得纪念品1份，中登协颁发的证书，还可获得晚会上抽奖的资格。</p>
                    </div>
                </div>
                <div class="pbl_one">
                	<a href="http://www.mytentlife.com/notice/71_7.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/huodong/6.jpg"></a>
                    <div class="pbl_one_con">
                    	<a href="http://www.mytentlife.com/notice/71_7.html" target="_blank">6、角斗士</a>
                        <span>7 月 20 日下午 14：00-18:00</span>
                        <p>地    点：营地主活动场地<br>规模：以队伍为单位参加，每队3人，两男1女 . 总计<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12个队伍<br>报名方式：预先网络报名为主，人员未满的情况下接受<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;现场报名。<br><br>活动说明：<br><br>主活动场地划定区域，边长 4 米的正方形区域。参赛队员用双手抱住脚，单腿跳动，用膝盖撞击对方腰部以下位置。击倒或者出圈即为失败。<br>
每个队伍出三名队员，男对男，女对女。三局两胜。<br>
第一轮单场淘汰，取出 6 个队伍继续比赛。 第二轮继续采用单场淘汰赛制取 3 个队伍，再采用循环赛决出 123 名。前三个队伍奖励户外装备及中登协证书。</p>
                    </div>
                </div>
                <div class="pbl_one">
                	<a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/huodong/9.jpg"></a>
                    <div class="pbl_one_con">
                    	<a href="#" target="_blank">9、走扁带</a>
                        <span>7 月 20 日下午 14：00-18:00</span>
                        <p>地    点：营地南侧湖边树林<br>参与人数：以个人形式参赛，60 人<br>报名方式：以个人形式参加。预先网络报名为主，人员<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未满的情况下接受现场报名。<br><br>活动说明：<br><br>赛道长 8 米，扁带距离地面 1 米。扁带规格为 50mm 宽、3mm 厚，两端在树木上固定，赛道下放垫子，且有人员保护。每个队员有两次行走机会，第一次为体验，第二次正式计算成绩。取行走距离最远的前 8 名给予奖励。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mid1"><a name="a5"></a>
    	<div><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/title6.jpg"/></div>
        <div class="jqcon">
        	<div class="jqone_1">
            	<span>1.星海湖景区</span>星海湖旅游区所属位置为历史上古沙<br>
            	湖遗址（考证出自《北门关记》作者：<br>明?齐之鸾），据《平罗县志》记载，明清<br>时期，湖面曾达300平方公里，是宁夏平原
"<br>七十二连湖"的主要水系组成部分，碧波荡漾、芦<br>苇丛生。<a href="http://www.mytentlife.com/scape/78.html" target="_blank">【详细】</a>
            </div>
            <div class="jqone_2">
            	<span>2.宁夏沙湖景区</span>“湖润金沙，沙抱翠湖；湖水如海，<br>柔纱似绸；水天一色，苇丛若画”，这就<br>是镶嵌在美丽富饶的宁夏平原上的一颗璀璨<br>明珠——宁夏沙湖生态旅游区，是中国35个王牌<br>景点、国家首批AAAAA级旅游景区、中国十大魅力休闲旅游湖泊、中国百强旅游景区、国家级水利风景区。 <a href="http://www.mytentlife.com/scape/81.html" target="_blank">【详细】</a>
            </div>
            <div class="jqone_3">
            	<span>3.北武当旅游区</span>在宁夏的北部，有一座隐在山林的古<br>刹，它辉映贺兰山的气脉，总束银川的<br>佳境。它就是西北著名的寺院——北武当庙。<br>北武当生态旅游区因北武当庙而得名，位于石嘴<br>山市大武口区贺兰山东麓洪积扇上的一处集山、林、庙、地质遗址和军事体验等为一体的综合性旅游景区，2009年12月被评为国家AAA级旅游景区<a href="http://www.mytentlife.com/scape/80.html" target="_blank">【详细】</a>
            </div>
            <div class="jqone_4">
            	<span>4.五七干校</span>国务院直属口五七干校博物馆始建于<br>2007年，于2008年8月29日开馆。总占<br>地面积5.1万平方米，其中综合馆建筑面积<br>1200平方米，原址馆建筑面积1200平方米<br>（三排60间旧房），文化产业园（原造纸厂旧址）3.6万平方米。博物馆共陈列出了2000多件不同类型的实物及600多幅照片和大量的文史资料<a href="http://www.mytentlife.com/scape/77.html" target="_blank">【详细】</a>
            </div>
            <div class="jqone_5">
            	<span>5.平罗玉皇阁景区</span>平罗玉皇阁景区位于平罗县城北大街，<br>是县境内继沙湖之外的又一处较具规模<br>和成熟的旅游景区，同时，也是自治区级文<br>明景区、国家重点文物保护单位、国家AAA级景区。 平罗玉皇阁始建于明代永乐年间，距今已有580多年。占地面积36000平方米，建筑面积4400平方米。<a href="http://www.mytentlife.com/scape/79.html" target="_blank">【详细】</a>
            </div>
            <div class="jqone_6">
            	<span>6.西夏离宫遗址</span>沿110国道北上平罗县上庙乡沿西侧<br>路口上行到贺兰山大水沟沟口。沟口右侧<br>有一高66米，底宽133.2米的土筑平台，当地<br>老百姓称之为“穆桂英点将台”。据专家考证为<br>西夏时期李元昊离宫遗址。<a href="http://www.mytentlife.com/scape/102.html" target="_blank">【详细】</a>
            </div>
        </div>
    </div>
    <div class="mid1">
    	<div><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/title7.jpg"/></div>
        <div id="container">
            <div id="gallery" class="ad-gallery">
              <div class="ad-image-wrapper"></div>
              <div class="ad-nav">
                <div class="ad-thumbs">
                    <ul class="ad-thumb-list">
                        <li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/1.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/1.jpg" class="image0"></a></li>
                        <li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/2.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/2.jpg" class="image1"></a></li>
                        <li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/3.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/3.jpg" class="image2"></a></li>
                        <li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/4.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/4.jpg" class="image3"></a></li>
                        <li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/5.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/5.jpg" class="image4"></a></li>
                        <li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/6.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/6.jpg" class="image5"></a></li>
                        <li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/7.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/7.jpg" class="image6"></a></li>
                        <li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/8.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/8.jpg" class="image7"></a></li>
                        <li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/9.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/9.jpg" class="image8"></a></li>
                        <li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/10.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/10.jpg" class="image9"></a></li>
                        <li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/11.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/11.jpg" class="image10"></a></li>
						<li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/12.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/12.jpg" class="image11"></a></li> 
						<li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/13.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/13.jpg" class="image12"></a></li> 
						<li><a href="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/14.jpg"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/14.jpg" class="image13"></a></li> 
                    </ul>
                </div>
              </div>
            </div>
        </div>
	</div>
    <div class="mid1"><a name="a7"></a>
    	<div><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/title8.jpg"/></div>
        <div class="jtcon">
        	<div class="jt_l">
石嘴山市到露营地距离约为 5 公里，
石嘴山火车站到露营地距离 8 公里，道路
宽阔，但没有公交车。<br>
因到达露营地交通不便，为了保证交
通顺畅，特制定了如下交通方案：<br>
1. 所有私家车可以直接开到露营地统一
   停车场。<br>
2. 安排石嘴山火车站到露营地公交车辆，
   不开车的队员携带行李乘坐大巴车（公
   交车）。有偿乘坐，非免费。<br>
3.20 日下午 14:00-15：30，环星海湖自
  行车赛进行。确保确保非机动车道或应
  急车道归比赛队员专用，确保路口有交
  警维持秩序，保证队员安全。<br>
            </div>
            <div class="jt_r"><img src="http://www.mytentlife.com/zhuanti/shizuishanzhuanti2013/images/jtanpai2.jpg"/></div>
            <div class="lianxian"></div>
        </div>
    </div>
    <div class="mid1"><a name="a4"></a>
    	<div><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/title9.jpg"/></div>  
        <div class="zycon">
			<b>一、饮食用水</b>营地为星海湖中屿湖心的钓鱼岛。岛上为平整沙丘，覆盖少量植被。营地阳光充足。景色优美。 营地占地约 80 亩。 划分成露营区，饮食服务区、活动区。营区配套卫生间、垃圾站、洗漱点、舞台、报到处，指挥中心等设施。营员可以到相应服务区使用配套服务设施。
			<b>二、携带物质</b>
        防晒衣物：皮肤风衣，雨衣，冲锋衣、抓绒衣裤等（具体可根据自己体质和气温携带，宁多勿少，湖边晚上凉）<br>
        露营装备：帐篷（防雨）、睡袋、防潮垫、地席、头灯、枕头等<br>
        野炊装备：气炉、套锅，筷子、盆碗等，准备烧烤的带上烤炉和木炭（不要忘带引火炭）<br>
        各种食物：自己喜欢吃的各种食品，水果等夏季适合保存的食物。<br>
        医药用品：治疗感冒、上火、发烧、肠胃病、擦伤等常备药物；花露水、驱蚊露等物品必带，景区蚊虫比较多。<br>
        生活用品：防晒霜、墨镜、魔术头巾、手套、涉水鞋等。<br>
			<b>三、其他注意事项</b>
        1.帐篷、睡袋、防潮垫、头灯等需要自带，营地没有租售服务；<br>
        2.餐饮，可提供盒饭或者桌餐，但需要提前预定；
    	</div>
        <div class="zy_next_con">
        	<div class="zy_next_l">
            	
                <b>● 报名须知</b>
1、参加活动无需任何报名费，到
   活动现场领取项目参与卡即可
   参与体验。<br>

2、报名人员要求与注意事项：<br>

3、参会人员年龄18-55岁，身体健
   康，无高血压、心脏病等其它
  疾病；<br>

4、参会人员报到时需现场办理活
   动期间的人身意外伤害保险或
   签署免责声明书；<br>

5、各项目参加人员自行准备活动
   的必要装备；
            </div>
            <div class="zy_next_r">
            	<b>● 招募对象</b>
招募对象主要面对：<br>
    国内外户外俱乐部、体育运动俱乐部、车友会、自行车协会、汽协、摄影协会等各类团体组织，以及企事业单位团
体，及所有户外运动爱好者。<br>
<b>● 报名方式</b>
1、活动报名方式有网络、电话、传真等形式；<br>                    
2、露营生活网直接报名或电话报名、QQ报名。<br>
3、网  络：登录露营生活网：www.mytentlife.com 或通过QQ：958978597、1937674333进行报名。 <br>
4、电  话：010-87103553  67187509  13141379032  13488794128   <br>          
5、联系人：刺猬    <br>                                          
6、传  真：010-87103553 <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;报名方式 ：以个人形式参加。报名方式以网上预先报名为主。自带装备可以现场报名。其它未尽事宜，另行通知，本方案最终解释权属露营生活网！
            </div>
        </div>
    </div>
</div>
<div class="fsmq">
	<a name="a6"></a>
	<div class="fsmqcon">
        <a href="http://www.mytentlife.com/notice/73.html" target="_blank" class="fsmqone_1"></a>
        <a href="http://www.mytentlife.com/notice/74.html" target="_blank" class="fsmqone_2"></a>
        <a href="http://www.mytentlife.com/notice/75.html" target="_blank" class="fsmqone_3"></a>
        <a href="http://www.mytentlife.com/notice/76.html" target="_blank" class="fsmqone_4"></a>
    </div>
</div>

<div class="footer">
	<div class="footercon">
        <p class="footer_l">8264 版权所有 津ICP备05004140号-1 ICP证 津B2-20110106<br>
			<a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
		<p class="footer_r"><a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a> | <a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a> | <a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a> | <a target="_blank" href="http://www.8264.com/link/">户外网址大全</a> | <a target="_blank" href="http://www.8264.com/sitemap">网站地图</a></p>
    </div>
</div>

</body>
</html>
