<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>步行者精品测评集锦</title>
<link href="http://static.8264.com/oldcms/moban/zt/backpackersgear/style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
	<div><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/banner.jpg" width="960" height="329" border="0" /></div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/bianzhetit.jpg" width="960" height="59" border="0" /></div>
    <div class="bianzhetxt">
&nbsp;&nbsp;
广州步行者户外主要研发在自助旅行和户外探险活动中使用的功能性服装，防水装备和物品收纳系统。每件产品均是他们的尽心之作，人性化的设计，精细的做工，确保使用者能放心的在各种户外环境下体验自然和人文之美。同时还为各类体验极限的户外探险团队和个人量身体裁各种户外装备，提供专业的定制服务。很多产品都是在使用者的反馈中去改良优化他们的产品。2009年对新品进行了广泛的测评，在测评中不少驴友从不同角度对产品作出了真实的评价，我们将这些精品测评汇集在本专题中供大家参考。
    </div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/jingpintit.jpg" width="960" height="59" border="0" /></div>
    <div class="jingpinarea">
    	<div style="float:left"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/arrow_l.jpg" width="42" height="244" border="0" /></div>
      <DIV id=de class=gundong>
<TABLE border=0 cellSpacing=0 cellPadding=0 width="100%">
  <TBODY>
  <TR>
    <TD id=de1>
      <TABLE border=0 cellSpacing=0 cellPadding=0 width="100%">
        <TBODY>
        <TR>
          <TD>
            <DIV class=imgall>
            <A 
            href="http://www.8264.com/viewnews-50143.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/a.jpg" border="0" /></A>
            <div class="wen"><a>BG-P08 防紫外线快干衣</a></div>
            </DIV>
            </TD>
          <TD>
            <DIV class=imgall>
            <A 
            href="http://www.8264.com/viewnews-50143-page-3.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/b.jpg" border="0" /></A>
            <div class="wen"><a> BG-P22快干直筒裤</a></div>
            </DIV>
            </TD>
            <TD>
            <DIV class=imgall>
            <A 
            href="http://www.8264.com/viewnews-50143-page-2.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/c.jpg" border="0" /></A>
            <div class="wen"><a>BG-P21 快干两节裤</a></div>
            </DIV>
            </TD>
            <TD>
            <DIV class=imgall>
            <A 
            href="http://www.8264.com/38782.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/d.jpg" border="0" /></A>
            <div class="wen"><a>快干裤</a></div>
            </DIV>
            </TD>
            <TD>
            <DIV class=imgall>
            <A 
            href="http://www.8264.com/43056.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/e.jpg" border="0" /></A>
            <div class="wen"><a>新型环保水盆</a></div>
            </DIV>
            </TD>
			<TD>
            <DIV class=imgall>
            <A 
            href="http://www.8264.com/37852.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/f.jpg" border="0" /></A>
            <div class="wen"><a>四季型休闲裤</a></div>
            </DIV>
            </TD>
			<TD>
            <DIV class=imgall>
            <A 
            href="http://www.8264.com/38026.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/g.jpg" border="0" /></A>
            <div class="wen"><a>多功能背心</a></div>
            </DIV>
            </TD>
			<TD>
            <DIV class=imgall>
            <A 
            href=" http://www.8264.com/viewnews-40597.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/h.jpg" border="0" /></A>
            <div class="wen"><a>标准防水袋</a></div>
            </DIV>
            </TD>
			<TD>
            <DIV class=imgall>
            <A 
            href="http://www.8264.com/viewnews-40597-page-4.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/i.jpg" border="0" /></A>
            <div class="wen"><a>防水压缩袋</a></div>
            </DIV>
            </TD>
			<TD>
            <DIV class=imgall>
            <A 
            href="http://www.8264.com/41403.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/j.jpg" border="0" /></A>
            <div class="wen"><a>多规格选择水袋</a></div>
            </DIV>
            </TD>
			<TD>
            <DIV class=imgall>
            <A 
            href="http://www.8264.com/viewnews-42438-page-4.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/k.jpg" border="0" /></A>
            <div class="wen"><a>双面整体袋</a></div>
            </DIV>
            </TD>
			<TD>
            <DIV class=imgall>
            <A 
            href=" http://www.8264.com/viewnews-42438.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/l.jpg" border="0" /></A>
            <div class="wen"><a>多功能储存袋</a></div>
            </DIV>
            </TD>
			<TD>
            <DIV class=imgall>
            <A 
            href="http://www.8264.com/viewnews-42438-page-3.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/m.jpg" border="0" /></A>
            <div class="wen"><a>化妆包</a></div>
            </DIV>
            </TD>
			<TD>
            <DIV class=imgall>
            <A 
            href=" http://www.8264.com/viewnews-43572.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/n.jpg" border="0" /></A>
            <div class="wen"><a>BG-T06直筒裤</a></div>
            </DIV>
            </TD>
			<TD>
            <DIV class=imgall>
            <A 
            href="http://www.8264.com/43889.html" 
            target=_blank><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/o.jpg" border="0" /></A>
            <div class="wen"><a>多功能背心</a></div>
            </DIV>
            </TD>
          </TR></TBODY></TABLE></TD>
    		<TD id=de2>&nbsp;</TD></TR></TBODY></TABLE>
		<SCRIPT language=JavaScript type=text/javascript>
                    function GetObj01(objName){
                        if(document.getElementById){
                            return eval('document.getElementById("' + objName + '")');
                        }else if(document.layers){
                            return eval("document.layers['" + objName +"']");
                        }else{
                            return eval('document.all.' + objName);
                        }
                    }
                      var speed01=20//速度数值越大速度越慢
                      GetObj01("de2").innerHTML=GetObj01("de1").innerHTML
                      function Marquee01(){
                          if(GetObj01("de").scrollLeft<=0)
                          GetObj01("de").scrollLeft=GetObj01("de1").offsetWidth
                          else{
                            GetObj01("de").scrollLeft--
                          }
                      }
                      var MyMar01=setInterval(Marquee01,speed01)
                      GetObj01("de").onmouseover=function() {clearInterval(MyMar01)}
                      GetObj01("de").onmouseout=function() {MyMar01=setInterval(Marquee01,speed01)}
                      </SCRIPT>
	  </DIV>
      <div style="float:right"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/arrow_r.jpg" width="42" height="244" border="0" /></div>
        <div style="clear:both;"></div>
    </div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/fuzhuangtit.jpg" width="960" height="59" border="0" /></div>
    <div class="fuzhuangcon">
    	<div class="blklqianrshen">
        	<div style="float:left; display:inline;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_lqian.jpg" width="6" height="134" border="0" /></div>
            <div class="blklqianarea">
                <div class="blklqianpic"><a href="http://www.8264.com/48704.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/1.jpg" width="140" height="120" border="0" /></a></div>
              	<div class="blklqiantit"><a href="http://www.8264.com/48704.html" target="_blank">BG-T1双件套冲锋衣</a></div>
                <div class="blklqiantxt">
这款两件套冲锋衣设计中规中矩又不失活泼，很多细节设计的比较人性化，色彩的搭配时尚、热烈，服装的做工很细致。
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/48704.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
            <div class="blkrshenarea">
            	<div class="blkrshenpic"><a href="http://www.8264.com/46563.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/2.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blkrshentit"><a href="http://www.8264.com/46563.html" target="_blank">BG-T06冲锋裤</a></div>
                <div class="blkrshentxt">
自带可调裤腰带。这是我比较喜欢的设计之一。腰围大小可以自由调节，让我不用为裤子的腰围偏大而烦恼，腰围一圈
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/46563.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
            <div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_rshen.jpg" width="6" height="134" border="0" /></div>
            <div style="clear:both;"></div>
        </div>
        
        <div class="blklshenrqian">
        	<div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_lshen.jpg" width="6" height="134" border="0" /></div>
            <div class="blklshenarea">
            	<div class="blklshenpic"><a href="http://www.8264.com/34665.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/3.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blklshentit"><a href="http://www.8264.com/34665.html" target="_blank">BackPackers抓绒衣</a></div>
                <div class="blklshentxt">
帽子和胸袋，前胸采用半开拉链式。方便活动中调节体温。衣服整体采用平滑的缝合，减少运动时和身体摩擦，胸袋上用
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/34665.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
            <div class="blkrqianarea">
            	<div class="blkrqianpic"><a href="http://www.8264.com/viewnews-43018.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/4.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blkrqiantit"><a href="http://www.8264.com/viewnews-43018.html" target="_blank">BG-P17速干裤</a></div>
                <div class="blkrqiantxt">
防紫外线速干面料PRO-DRY的使用，使得皮肤在户外得到充分的保护，此为这款速干裤的亮点之一，立体裁剪与缝纫技术
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/viewnews-43018.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
            <div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_rqian.jpg" width="6" height="134" border="0" /></div>
            <div style="clear:both;"></div>
        </div>
        
        <div class="blklqianrshen">
        	<div style="float:left; display:inline;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_lqian.jpg" width="6" height="134" border="0" /></div>
		    <div class="blklqianarea">
            	<div class="blklqianpic"><a href="http://www.8264.com/46299.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/5.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blklqiantit"><a href="http://www.8264.com/46299.html" target="_blank">BG-T1三穿两件套冲锋衣</a></div>
                <div class="blklqiantxt">
冲锋衣美观大方，轻便舒适，防水透气效果都不错，功能也比较多。抓绒衣美观时尚，厚实保暖。整体性价比不错，可满足
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/46299.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
		    <div class="blkrshenarea">
            	<div class="blkrshenpic"><a href="http://www.8264.com/43950.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/6.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blkrshentit"><a href="http://www.8264.com/43950.html" target="_blank">BG-P16速干裤</a></div>
                <div class="blkrshentxt">
裤脚通过魔术贴和橡筋，可方便调节松紧程度，在穿越徒步等活动有比较实际的作用。在使用中感觉该魔术帖的“不抓毛”
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/43950.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
            <div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_rshen.jpg" width="6" height="134" border="0" /></div>
            <div style="clear:both;"></div>
        </div>
        
        <div class="blklshenrqian">
        	<div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_lshen.jpg" width="6" height="134" border="0" /></div>
		    <div class="blklshenarea">
            	<div class="blklshenpic"><a href="http://www.8264.com/47135.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/7.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blklshentit"><a href="http://www.8264.com/47135.html" target="_blank">BG-T10冲锋衣</a></div>
                <div class="blklshentxt">
步行者此款BG-T10 冲锋衣防水表现也是不错的。首先我采用了常规测试方法，直接用水冲衣服外部面料和接缝处，结果
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/47135.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
		    <div class="blkrqianarea">
            	<div class="blkrqianpic"><a href="http://www.8264.com/47135.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/8.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blkrqiantit"><a href="http://www.8264.com/47135.html" target="_blank">BG-P17速干裤</a></div>
                <div class="blkrqiantxt">
这次穿着此款快干裤旅游，感觉轻松，方便。腰带的调也非常的灵活，如果改为内置腰带个人觉得会更好；拆卸式裤脚也
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/47135.html" target="_blank">详细</a>&nbsp;>>>
                </div>
            </div>
            <div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_rshen.jpg" width="6" height="134" border="0" /></div>
            <div style="clear:both;"></div>
        </div>

    </div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/peijiantit.jpg" width="960" height="59" border="0"  /></div>
    <div class="peijiancon">
    	<div class="blklqianrshen">
        	<div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_lqian.jpg" width="6" height="134" border="0" /></div>
            <div class="blklqianarea">
                <div class="blklqianpic"><a href="http://www.8264.com/viewnews-46665.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/11.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blklqiantit"><a href="http://www.8264.com/viewnews-46665.html" target="_blank">ER6003多功能整理袋</a></div>
                <div class="blklqiantxt">
可有效储存您的梳洗物品或是分类您的随身电器的缆线或转换接口等等，有限的空间，迎合您无限的储物需求！小口袋&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/viewnews-46665.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
            <div class="blkrshenarea">
            	<div class="blkrshenpic"><a href="http://www.8264.com/38785.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/12.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blkrshentit"><a href="http://www.8264.com/38785.html" target="_blank">BackPackers防水压缩袋</a></div>
                <div class="blkrshentxt">
　这袋子所有线缝都进行了压胶处理。从雨里收进来，又开始倒腾。把袋子翻过来装了4千克的水，想瞧瞧水
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/38785.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
            <div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_rshen.jpg" width="6" height="134" border="0" /></div>
            <div style="clear:both;"></div>
        </div>
        
        <div class="blklshenrqian">
        	<div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_lshen.jpg" width="6" height="134" border="0" /></div>
            <div class="blklshenarea">
            	<div class="blklshenpic"><a href="http://www.8264.com/49366.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/13.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blklshentit"><a href="http://www.8264.com/49366.html" target="_blank">ER5002标准雪套</a></div>
                <div class="blklshentxt">
210D NYLON 面料，结实、硬挺，能够保证在长时间穿着时不变形。防水10000mm  polyurthane涂层则保证了
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/49366.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
            <div class="blkrqianarea">
            	<div class="blkrqianpic"><a href="http://www.8264.com/46073.htm" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/14.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blkrqiantit"><a href="http://www.8264.com/46073.htm" target="_blank">BackPackers防水袋</a></div>
                <div class="blkrqiantxt">
把你需要防潮、防水的物品放入袋中，贴合封口顺方向卷摺三次或以上将插口反方面插好才能最大限度的保证防水效果。
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/46073.htm" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
            <div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_rqian.jpg" width="6" height="134" border="0" /></div>
            <div style="clear:both;"></div>
        </div>
        
        <div class="blklqianrshen">
        	<div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_lqian.jpg" width="6" height="134" border="0" /></div>
		    <div class="blklqianarea">
            	<div class="blklqianpic"><a href="http://www.8264.com/45295.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/15.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blklqiantit"><a href="http://www.8264.com/45295.html" target="_blank">多用途水盆</a></div>
                <div class="blklqiantxt">
所有线缝处进行了压胶处理，使得水盆能够滴水不漏。水盆在装了半盆水的情况下，两个半小时后观察，底部和
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/45295.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
		    <div class="blkrshenarea">
            	<div class="blkrshenpic"><a href="http://www.8264.com/viewnews-45706-page-5.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/16.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blkrshentit"><a href="http://www.8264.com/viewnews-45706-page-5.html" target="_blank">肩挂手机带</a></div>
                <div class="blkrshentxt">
袋内侧为细绒布，两侧布料弹性很好，除了多普达D900那样的怪兽手机，其他的手机装进去应该不成问题，另外也可以装
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/viewnews-45706-page-5.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
            <div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_rshen.jpg" width="6" height="134" border="0" /></div>
            <div style="clear:both;"></div>
        </div>
        
        <div class="blklshenrqian">
        	<div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_lshen.jpg" width="6" height="134" border="0" /></div>
		    <div class="blklshenarea">
            	<div class="blklshenpic"><a href="http://www.8264.com/45857.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/17.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blklshentit"><a href="http://www.8264.com/45857.html" target="_blank">多功能储存包</a></div>
                <div class="blklshentxt">
该款步行者多功能储存包设计简约大方，做工精细。面料方面采用了高强度的450D尼龙格子蓝色面料， 完全保证
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/45857.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
		    <div class="blkrqianarea">
            	<div class="blkrqianpic"><a href="http://www.8264.com/45187.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/18.jpg" width="140" height="120" border="0" /></a></div>
                <div class="blkrqiantit"><a href="http://www.8264.com/45187.html" target="_blank">BackPackers水桶</a></div>
                <div class="blkrqiantxt">
桶身材料是用70D软质NYLON/PVC造成，柔软轻薄，有效地减轻了水桶的自重；软质PVC的一个优点就是相当
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/45187.html" target="_blank">详细</a>&nbsp;>>>
                </div>
        	</div>
            <div style="float:left;"><img src="http://static.8264.com/oldcms/moban/zt/backpackersgear/images/border_rqian.jpg" width="6" height="134" border="0" /></div>
        </div>
        <DIV class=bottom>
            <A href="http://www.8264.com/ziliao/about/aboutus.php" 
    target=_blank>关于我们</A> | <A href="http://www.8264.com/ziliao/about/aboutus.php" 
    target=_blank>联系我们</A> | <A href="http://www.8264.com/8954.html">给我留言</A> | <A 
    href="http://www.8264.com/ziliao/sitemap.html" target=_blank>网站地图</A> | <A 
    href="http://www.8264.com/ziliao/ggservice/index.html" target=_blank>广告服务</A> | 
    <A href="http://www.8264.com/list/531/" target=_blank>编辑部的故事</A> | <A 
    href="http://www.8264.com/sitelink/index.html" 
    target=_blank>友情连接</A><BR>服务热线：022-23708264 | 传真：022-23708323 | 
    地址：天津市新技术产业园区华天道8号海泰信息广场C座1001号<BR>除了脚印什么都不留下除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。&nbsp;&nbsp;&nbsp;&nbsp;<A 
    href="http://www.miibeian.gov.cn/" 
    target=_blank>津ICP备05004140号-1</A>
        </DIV>
    </div>
</div>
</body>
</html>
