<!doctype html>
<html>
<head>
	<meta charset="gb2312">
	<title>$topic['title']</title>
	<link href="http://static.8264.com/oldcms/moban/zt/2013kroceus/css/reset.css" rel="stylesheet" type="text/css">
	<link href="http://static.8264.com/oldcms/moban/zt/2013kroceus/css/style.css?20130716.1" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/2013kroceus/css/grid-accordion.css" media="screen">
	<!--[if IE 6]>
	<script src="http://static.8264.com/oldcms/moban/zt/2013kroceus/js/png.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="topSide"></div>
	<div class="bg_yellow">
		<div class="layout">
			<div class="picTop">
				<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/bg_slide_1.png">
			</div>
			<div class="intro">
				<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/logo_254x254.jpg" class="pic">
				<p>自由、探索、感动、激情、体验、放松。。。。</p>
				<p>户外与音乐，精神上高度的契合，我们享受着非独自远行的精神旅程</p>
				<p>寻觅中、探索中，我们将深化那21g的灵魂</p>
				<p>音乐，户外，我们非独自运行</p>
				<p>
					今夏福利，阳光、沙滩、音乐、美女，户外与音乐约会，各路文青、潮人、怪咖速来报道，KROCEUS科诺修思互动秀，尖叫破表中，啊~~~！！！7月19日-7月21日，我们在金山沙滩等待你的加入。
				</p>
				<p>
					<a href="http://kroceus.tmall.com" target="_blank" class="cRed floatR">更多>></a>
					科诺修思，支持中国的原创精神，鼓励追寻梦想。
				</p>
			</div>
			<div class="bg_tit1">
				<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/bg_tit1.png"></div>
			<div class="layCont">
				<div class="midL">
					<div class="poster">
						<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/poster_pic.jpg">
						<span class="top"></span>
					</div>
					<div class="comment">
						<div class="text">
							<p>“中国音乐节的先驱者”——Forbes.com（福布斯）</p>
							<p>
								“热波证实了中国有真正的音乐节”——Vice杂志（美国）
								<p>“一场夏日的盛大派对”——Global Times（环球时报）</p>
								7月19日—21日星尚热波音乐节将再次于金山城市沙滩掀起音乐热浪。KROCEUS作为人文户外的倡导者，成为了音乐节活动唯一指定户外品牌，鼓励更多的都市人走出去，享受户外的乐趣。我们支持中国原创精神，鼓励中国原创的音乐，支持有梦想的中国音乐人，让更多的享受在路上的快乐，与音乐同远行。
							</p>
						</div>
						<a href="http://static.8264.com/oldcms/moban/zt/2013kroceus/about_more.html?20130716" title="_blank" class="more">了解更多</a>
					</div>
					<h2 class="musicTit">热波音乐节抢票进行中……</h2>
					<div class="countDown">
						<div class="countText">
							<a href="http://bbs.8264.com/thread-1802549-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/link.gif" /></a>
						</div>
					</div>
				</div>
				<div class="midR">
					<div class="aboutTop">
						<h2 class="hd"></h2>
						<div class="bd">
							<p>
								今夏福利，阳光、沙滩、音乐、美女，户外与音乐约会，各路文青、潮人、怪咖速来到KROCEUS科诺修思互动秀， 7月19日-7月21日，我们在金山沙滩等待你的加入。沙滩、美女、音乐，阳光，狂欢，组成了所有海滩的happy元素，烈日炎炎，防晒清凉，告别汗水，KROCEUS特推出人气海滩装备，让你尽情享受音乐节海边乐趣。
							</p>
							<a href="http://static.8264.com/oldcms/moban/zt/2013kroceus/comment_more.html?20130716" title="_blank" class="more">了解更多</a>
						</div>
					</div>
					<div class="slideList">
						<div class="slideBox">
							<ul>
								<li>
								  <img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test8.jpg"></li>
								<li>
								  <img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test9.jpg"></li>
								<li>
								  <img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test10.jpg"></li>
								<li>
								  <img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test11.jpg"></li>
								<li>
									<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test12.jpg"></li>
								<li>
									<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test13.jpg"></li>
								<li>
									<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test14.jpg"></li>
                                <li>
									<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test15.jpg"></li>
                                <li>
									<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test16.jpg"></li> 
                                <li>
									<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test17.jpg"></li>         
							</ul>
						</div>
				</div>
			</div>
			<div class="aboutUs">
				<div class="hd">
					<h2>ABOUT KROCEUS</h2>
					<h3>KROCEUS致力于改善中国消费者的户外身心体验，突破传统户外往往等同极限挑战的印象</h3>
					<h3>KROCEUS支持中国原创精神，鼓励追寻梦想。倡导更多都市人群走出户外，非独自远行</h3>
					<h3>KROCEUS品质时尚度与功能性兼顾，品质卓越</h3>
				</div>
				<div class="bd">
					<ul class="accordion">
						<li>
							<a href="http://www.kroceus.com/">
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test31.jpg" alt=""></a>
						  <div class="caption"></div>
						</li>
						<li>
							<a href="http://www.myzmf.com/2013rbcd/">
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test32.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test33.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test34.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test35.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test36.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test37.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test38.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test39.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test40.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test41.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test42.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test43.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test44.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test45.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test46.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test47.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test48.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test49.jpg" alt=""></a>
					  </li>
						<li>
							<a>
								<img src="http://static.8264.com/oldcms/moban/zt/2013kroceus/images/test50.jpg" alt=""></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="shopList">
		<div class="layout">
			<h2>KROCEUS全国主要店铺</h2>
			<dl>
				<dt>东北地区</dt>
				<dd class="name">
					<p>沈阳卓展店</p>
					<p>沈阳中街新玛特店</p>
					<p>长春卓展店</p>
					<p>大连麦凯乐店</p>
					<p>大连新玛特店</p>
					<p>抚顺百货大楼店</p>
				</dd>
				<dd class="add">
					<p>地址：辽宁省沈阳市沈河区北京街7-1号沈阳卓展5楼</p>
					<p>地址：沈阳市大东区小东路1号中街新玛特6楼</p>
					<p>地址：长春市朝阳区重庆路1255号长春卓展C座5楼</p>
					<p>地址：辽宁省大连市中山区青泥洼街57号大连麦凯乐6楼</p>
					<p>地址：辽宁省大连市青三街1号大连新玛特4楼</p>
					<p>地址：抚顺市新抚区新一路四号抚顺百货大楼4楼</p>
				</dd>
			</dl>
			<dl>
				<dt>华北地区</dt>
				<dd class="name">
					<p>北京金源新燕莎店</p>
					<p>北京牡丹园翠微店</p>
					<p>北京当代商城店</p>
				</dd>
				<dd class="add">
					<p>地址：北京市海淀区远大路1号金源新燕莎3楼3079号</p>
					<p>地址：北京市海淀区牡丹园花园路2号牡丹园翠微3楼</p>
					<p>地址：北京市海淀区中关村大街40号当代商城5楼</p>
				</dd>
			</dl>
			<dl>
				<dt>西北地区</dt>
				<dd class="name">
					<p>西安西大街百盛店</p>
					<p>西安东二环百盛店</p>
					<p>兰州国芳店</p>
				</dd>
				<dd class="add">
					<p>地址：西安市莲湖区西大街百盛购物广场4楼</p>
					<p>地址：西安市碑林区金花南路59号东二环百盛购物广场4楼</p>
					<p>地址：兰州市城关区东方红广场南4-6兰州国芳百货5楼</p>
				</dd>
			</dl>
			<dl>
				<dt>华东地区</dt>
				<dd class="name">
					<p>上海久光百货店</p>
					<p>上海港汇广场店</p>
					<p>杭州大厦店</p>
					<p>合肥百大CBD店</p>
					<p>青岛麦凯乐店</p>
				</dd>
				<dd class="add">
					<p>地址：上海市南京西路1618号久光百货6楼</p>
					<p>地址：上海市徐汇区虹桥路1号港汇广场B1楼</p>
					<p>地址：浙江省杭州市下城区武林广场1号杭州大厦D座4楼</p>
					<p>地址：合肥市庐阳区长江中路367号百大CBD 4楼</p>
					<p>地址：青岛市市南区香港中路69号青岛麦凯乐4楼</p>
				</dd>
			</dl>
		</div>
	</div>
	<div class="footer">
		<div class="layout">
			<p class="copyRight">
				8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106
				<br>
				户外有风险，8264提醒您购买
				<a href="http://bx.8264.com" target="_blank" class="bx">户外保险</a>
			</p>
			<p class="link">
				<a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a>
				|
				<a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a>
				|
				<a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a>
				|
				<a target="_blank" href="http://www.8264.com/link/">户外网址大全</a>
				|
				<a target="_blank" href="http://www.8264.com/sitemap">网站地图</a>
			</p>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<!-- 方格效果 Start -->
	<script type="text/javascript" src="http://static.8264.com/oldcms/moban/zt/2013kroceus/js/jquery.gridAccordion.min.js"></script>
	<script type="text/javascript">
	// 方格效果
	jQuery(document).ready(function($) {
		$('.accordion').gridAccordion({
			width: 960,
			height: 680,
			columns: 5,
			distance: 2,
			closedPanelWidth: 10,
			closedPanelHeight: 10,
			alignType: 'centerCenter',
			slideshow: true,
			panelProperties: {
				0: {
					captionWidth: 200,
					captionHeight: 35,
					captionTop: 30,
					captionLeft: 30
				},
				4: {
					captionWidth: 150,
					captionHeight: 100,
					captionTop: 30,
					captionLeft: 650
				},
				7: {
					captionWidth: 310,
					captionHeight: 35,
					captionTop: 350,
					captionLeft: 40
				},
				8: {
					captionWidth: 300,
					captionHeight: 40,
					captionTop: 150,
					captionLeft: 35
				},
				11: {
					captionWidth: 150,
					captionHeight: 120,
					captionTop: 300,
					captionLeft: 30
				},
				14: {
					captionWidth: 300,
					captionHeight: 40,
					captionTop: 30,
					captionLeft: 50
				},
				16: {
					captionWidth: 150,
					captionHeight: 120,
					captionTop: 150,
					captionLeft: 10
				},
				18: {
					captionWidth: 300,
					captionHeight: 40,
					captionTop: 130,
					captionLeft: 50
				}
			}
		});
	});
	</script>
	<script type="text/javascript">
	// 向上滚动

	jQuery(function() {
		var jQuerythis = jQuery(".slideBox");
		var scrollTimer;
		jQuerythis.hover(function() {
			clearInterval(scrollTimer);
		}, function() {
			scrollTimer = setInterval(function() {
				scrollNews(jQuerythis);
			}, 2000);
		}).trigger("mouseout");
	});

	function scrollNews(obj) {
		var jQueryself = obj.find("ul:first");
		var lineHeight = jQueryself.find("li:first").height();
		jQueryself.animate({
			"margin-top": -lineHeight + "px"
		}, 600, function() {
			jQueryself.css({
				"margin-top": "0px"
			}).find("li:first").appendTo(jQueryself);
		})
	}
	</script>
	<!-- 方格效果 End -->
</body>
</html>
<!-- By Andes -->