<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="gb2312">
	<title>穿诺诗兰“旅冲”，做天生旅人</title>
	<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/style/style.css">
	<script type="text/javascript" src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/js/jquery-1.9.1.min.js"></script>
</head>
<body>
	<div id="pageContain">
		<div id="header">
			<div class="banner">
				<div class="banner-content">
					<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/banner_main.png" alt="">
					<a href="http://bbs.8264.com/thread-5340468-1-1.html" class="btn-pce"></a>
				</div>
			</div>
		</div>

		<div id="content">
			<div class="mod-main">
				<div class="wrap-slide">
					<ul class="lunbobigimg">
						<li>
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/5da.jpg" alt="">
						</li>
						<li>
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/3da.jpg" alt="">
						</li>
						<li>
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/2da.jpg" alt="">
						</li>
						<li>
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/bigimg1.jpg" alt="">
						</li>
						<li>
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/4da.jpg" alt="">
						</li>
						<li>
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/1da.jpg" alt="">
						</li>
					</ul>
					<div class='shuzi_1'>
						<li>
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/5xiao.jpg" alt="">
						</li>
						<li>
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/3xiao.jpg" alt="">
						</li>
						<li>
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/2xiao.jpg" alt="">
						</li>
						<li>
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/smallimg1.jpg" alt="">
						</li>
						<li>
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/4xiao.jpg" alt="">
						</li>
						<li>
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/1xiao.jpg" alt="">
						</li>
					</div>
				</div>
				<div class="wrap-floor-li">
					<div class="brand-tabs">
						<h1 class="title">
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/brand.png" alt="">
						</h1>
						<div class="tabs-content">
							<div class="brand-main">
								<a href="http://www.northland-pro.com.cn/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/pinpai.jpg" alt=""></a>
							</div>
						</div>
					</div>
					<div class="fun-tabs">
						<h1 class="title">
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/fun.png" alt="">
						</h1>
						<div class="tabs-content">
							<div class="fun-main">
								<ul>
									<li>
										<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/funimg11.jpg" alt="">
										<a href="javascript:void(0);" class="arrow"></a>
										<div class="info">
											<p><strong>时尚设计 旅行必备-旅行必须时尚，要带上最好看衣服去看风景</strong></p>
											<p>a.色彩：跳脱出鲜艳的大色块拼接组合，采用印花或素色设计，不论是山间丛林，还是现代都市，轻松转换场景自然配搭；</p>
											<p>b.款式：中长款式剪裁设计，时尚外观，腰部抽绳的人性化设计，收腰后轻松灵便，穿着更贴合人体曲线。</p>
										</div>
									</li>
									<li>
										<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/funimg2.jpg" alt="">
										<a href="http://bbs.8264.com/thread-5340468-1-1.html" class="arrow"></a>
										<div class="info">
											<p><strong>轻易收纳  轻松随行-旅行必须轻松，要带上最少的行李去看更多的风景</strong></p>
											<p>a.易收纳：配置专属收纳袋，不占空间，可轻松收纳放进任意背包或行李箱中； </p>
											<p>b.易装物：附有多功能口袋，更有贴心的口袋翻盖设计，适合在旅行随身物品的分类收纳储藏。</p>
										</div>
									</li>
									<li class="last">
										<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/funimg3.jpg" alt="">
										<a href="http://bbs.8264.com/thread-5340468-1-1.html" class="arrow"></a>
										<div class="info">
											<p><strong>专业面料  防风 防水 透气-旅行必须尽兴，要带上最全面的衣服应对突发其来的变化</strong></p>
											<p>单品使用GORE-TEX&#174; 或EXOTHERM&#174;专业面料，防风、防水、透气，保证出行时刻干爽舒适，更可随心所欲搭配任一内胆，应对对不同天气的变化。 </p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="wrap-floor-li">
					<div class="req-tabs">
						<h1 class="title">
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/req.png" alt="">
						</h1>
						<div class="tabs-content">
							<div class="req-main">
								<ul>
									<li>
										<div class="pic">
											<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/reqimg1.jpg" alt="">
											<a href="http://bbs.8264.com/thread-5340468-1-1.html" target="_blank" class="btn-sq"></a>
										</div>
										<div class="info">
											<h3>艾米莉GORE-TEX&#174;女式冲锋衣</h3>
											<p>卖点：</p>
											<p>1、GORE-TEX&#174;面料防风、防水、透气，保证出行时刻干爽舒适；</p>
											<p>2、中长款设计，门襟纽扣、口袋袋盖等休闲设计风格；</p>
											<p>3、印花设计、色彩素雅，时尚款型适合旅行时穿着；</p>
											<p>4、多功能口袋解决旅行置物难题；</p>
											<p>5、专属收纳包，轻松收纳，便携占地小；</p>
											<p>6、时尚又具功能性的冲锋衣，旅行箱中必备单品。</p>
										</div>
									</li>
									<li>
										<div class="pic">
											<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/reqimg2.jpg" alt="">
											<a href="http://bbs.8264.com/thread-5340468-1-1.html" target="_blank" class="btn-sq"></a>
										</div>
										<div class="info">
											<h3>罗娜西GORE-TEX&#174;女式冲锋衣</h3>
											<p>卖点：</p>
											<p>1、GORE-TEX&#174;面料防风、防水、透气，保证出行时刻干爽舒适；</p>
											<p>2、短款设计，门襟纽扣、口袋袋盖等休闲设计风格；</p>
											<p>3、素色设计、色彩素雅，时尚款型适合旅行时穿着；</p>
											<p>4、多功能口袋解决旅行置物难题；</p>
											<p>5、专属收纳包，轻松收纳，便携占地小；</p>
											<p>6、时尚又具功能性的冲锋衣，旅行箱中必备单品。</p>
										</div>
									</li>
									<li>
										<div class="pic">
											<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/reqimg3.jpg" alt="">
											<a href="http://bbs.8264.com/thread-5340468-1-1.html" target="_blank" class="btn-sq"></a>
										</div>
										<div class="info">
											<h3>卡萨帕GORE-TEX&#174;男式冲锋衣</h3>
											<p>卖点：</p>
											<p>1、GORE-TEX&#174;面料防风、防水、透气，保证出行时刻干爽舒适；</p>
											<p>2、中长款设计，门襟纽扣、口袋袋盖等休闲设计风格；</p>
											<p>3、印花设计、色彩素雅，时尚款型适合旅行时穿着；</p>
											<p>4、多功能口袋解决旅行置物难题；</p>
											<p>5、专属收纳包，轻松收纳，便携占地小；</p>
											<p>6、时尚又具功能性的冲锋衣，旅行箱中必备单品。</p>
										</div>
									</li>
									<li>
										<div class="pic">
											<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/reqimg4.jpg" alt="">
											<a href="http://bbs.8264.com/thread-5340468-1-1.html" target="_blank" class="btn-sq"></a>
										</div>
										<div class="info">
											<h3>霍夫GORE-TEX&#174;男式冲锋衣</h3>
											<p>卖点：</p>
											<p>1、GORE-TEX&#174;面料防风、防水、透气，保证出行时刻干爽舒适；</p>
											<p>2、短款设计，门襟纽扣、口袋袋盖等休闲设计风格；</p>
											<p>3、素色设计、色彩素雅，时尚款型适合旅行时穿着；</p>
											<p>4、多功能口袋解决旅行置物难题；</p>
											<p>5、专属收纳包，轻松收纳，便携占地小；</p>
											<p>6、时尚又具功能性的冲锋衣，旅行箱中必备单品。</p>
										</div>
									</li>
									<li>
										<div class="pic">
											<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/reqimg5.jpg" alt="">
											<a href="http://bbs.8264.com/thread-5340468-1-1.html" target="_blank" class="btn-sq"></a>
										</div>
										<div class="info">
											<h3>迪兰ⅡGORE-TEX&#174;女式三穿冲锋衣</h3>
											<p>卖点：</p>
											<p>1、采用知名的GORE-TEX&#174;面料，具有优秀的防水透气性，持久防风，保证出行时刻干爽舒适；</p>
											<p>2、全压胶防水处理，进一步增加防水性，保障无渗漏；</p>
											<p>3、衣帽可脱卸设计，适应不同场合穿着；</p>
											<p>4、人体在运动过程中，腋下容易积聚热量和湿气，打开腋下透气拉链，可有效实现腋下与外界热交换，平衡体温，保持身体干爽；</p>
											<p>5、采用防水拉链，避免拉链处雨水渗漏，增强产品防水性能；</p>
											<p>6、内搭PRO100抓绒内胆可脱卸设计，轻量保暖，柔软舒适，针对不同环境可选择单穿内胆或冲锋衣外壳，亦可配穿着，随心应对外界变化。</p>
										</div>
									</li>
									<li>
										<div class="pic">
											<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/reqimg6.jpg" alt="">
											<a href="http://bbs.8264.com/thread-5340468-1-1.html" target="_blank" class="btn-sq"></a>
										</div>
										<div class="info">
											<h3>迪特ⅡGORE-TEX&#174;男式三穿冲锋衣</h3>
											<p>卖点：</p>
											<p>1、采用知名的GORE-TEX&#174;面料，具有优秀的防水透气性，持久防风，保证出行时刻干爽舒适；</p>
											<p>2、全压胶防水处理，进一步增加防水性，保障无渗漏；</p>
											<p>3、衣帽可脱卸设计，适应不同场合穿着；</p>
											<p>4、人体在运动过程中，腋下容易积聚热量和湿气，打开腋下透气拉链，可有效实现腋下与外界热交换，平衡体温，保持身体干爽；</p>
											<p>5、采用防水拉链，避免拉链处雨水渗漏，增强产品防水性能；</p>
											<p>6、内搭PRO100抓绒内胆可脱卸设计，轻量保暖，柔软舒适，针对不同环境可选择单穿内胆或冲锋衣外壳，亦可配穿着，随心应对外界变化。</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="wrap-floor-li">
					<div class="pingc-tabs">
						<h1 class="title">
							<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/pingc.png" alt="">
						</h1>
						<div class="tabs-content">
							<div class="pingc-main">
								<ul>
									<li>
										<div class="item">
											<a href="http://bbs.8264.com/thread-5340336-1-1.html" target="_blank">
												<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/ce1.jpg" alt="" height="300">
												<div class="info">
													<h3>ID:北陵-顺子</h3>
													<p>旅行的意义，从来都是由心而定</p>
													<p>罗娜西GORE-TEX(R)冲锋衣</p>
												</div>
											</a>
										</div>
										<div class="item">
											<a href="http://www.8264.com/viewnews-113853-page-1.html" target="_blank">
												<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/ce7.jpg" alt="" height="400">
												<div class="info">
													<h3>8264编辑：faye</h3>
													<p>最爱travel</p>
													<p>艾米莉GORE-TEX(R)冲锋衣</p>
												</div>
											</a>
										</div>
									</li>
									<li>
	                                        <div class="item">
											<a href="http://bbs.8264.com/thread-5339586-1-1.html" target="_blank">
												<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/ce3.jpg" alt="" height="400">
												<div class="info">
													<h3>ID:NSEWSINCENOW</h3>
													<p>引领户外趋势 回溯自然本性</p>
													<p>霍夫GORE-TEX(R)男式冲锋衣</p>
												</div>
											</a>
										</div>
										<div class="item">
											<a href="http://www.8264.com/viewnews-113337-page-1.html" target="_blank">
												<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/ce8.jpg" alt="" height="300">
												<div class="info">
													<h3>8264编辑:seal2o46（兆玺）</h3>
													<p>有型出行</p>
													<p>霍夫GORE-TEX(R)男式冲锋衣</p>
												</div>
											</a>
										</div>
									</li>
									<li>
                                            <div class="item">
											<a href="http://bbs.8264.com/thread-5340833-1-1.html" target="_blank">
												<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/ce2.jpg" alt="" height="300">
												<div class="info">
													<h3>ID:门徒、</h3>
													<p>衣见钟情</p>
													<p>霍夫GORE-TEX(R)男式冲锋衣</p>												
                                                 </div>
											</a>
										</div>
										<div class="item">
											<a href="http://bbs.8264.com/thread-5344159-1-1.html" target="_blank">
												<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/ce9.jpg" alt="" height="400">
												<div class="info">
													<h3>ID:yzw1978</h3>
													<p>为旅行而生 时尚大方</p>
													<p>霍夫GORE-TEX(R)男式冲锋衣</p>
												</div>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="sidebar-float">
			<img src="http://static.8264.com/oldcms/moban/zt/201609nuoshilan/images/qrcode.png" alt="">
		</div>

		<div class="bottomNav">
			<div class="layout">
				<div class="copyright">
					<p>津ICP备05004140号-10 ICP证 津B2-20110106&nbsp;&nbsp;&nbsp;天津信一科技有限公司版权所有</p>
					<p>
						户外有风险，8264提醒您购买
						<a href="http://bx.8264.com/?8264com" target="_blank">户外保险</a>
					</p>
				</div>
				<div class="someLink">
					<a target="_blank" href="http://bbs.8264.com/member-clearcookies-formhash-d64f4f90.html" rel="nofollow">清除COOKIE</a>
					|
					<a target="_blank" href="http://bbs.8264.com/misc-stat.html" rel="nofollow">站点统计</a>
					|
					<a target="_blank" href="http://www.8264.com/about-contact.html" rel="nofollow">联系我们</a>
					|
					<a href="http://www.8264.com/about-contact.html#q4" rel="nofollow">8264招聘</a>
					|
					<a href="http://bbs.8264.com/misc-faq.html" rel="nofollow">帮助</a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".fun-main .arrow").hover(function() {
				// var _li = $(this).parents("li");
				// $(_li).addClass("expand-mode").siblings().removeClass("expand-mode");
				var el = $(this).parents("li").find(".info"),
			    curHeight = el.height(),
			    autoHeight = el.css('height', 'auto').height();
				el.height(curHeight).animate({height: autoHeight}, 400);
			},function(){
				var el = $(this).parents("li").find(".info"),
			    curHeight = el.height(),
			    autoHeight = el.css('height', 'auto').height();
				el.height(curHeight).animate({height: autoHeight}, 400);
				el.height(curHeight).animate({height: 180}, 400);
			});
			$(".req-main .pic").hover(function() {
				$(this).find(".btn-sq").show();
			}, function() {
				$(this).find(".btn-sq").hide();
			});
			var shuliang = $(".lunbobigimg li").size();
			var lunbotime;
			var index = 0;
			$(".shuzi_1 li").eq(0).addClass("current");
			$(".shuzi_1 li").mouseenter(function(){	
				var index = $(this).index();
				$(this).addClass("current").siblings().removeClass("current");
				$(".lunbobigimg li").eq(index).fadeIn().siblings().hide(0);
			});	
			$(".wrap-slide").hover(
				function(){
					clearInterval(lunbotime);
				},function(){
					lunbotime = setInterval(function(){	
						$(".shuzi_1 li").eq(index).addClass("current").siblings().removeClass("current");
						$(".lunbobigimg li").eq(index).fadeIn().siblings().hide(0);	
						index++;
						if(index == shuliang ){
							index=0;
						};
					},3000);
				}).trigger("mouseleave");
		});
	</script>
</body>
</html>