<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>明星户外探险 《秘境》揭秘</title>
<link href="http://static.8264.com/oldcms/moban/zt/2014scaler/style/style.css" rel="stylesheet" type="text/css">
<script src="http://static.8264.com/oldcms/moban/zt/2014scaler/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="http://static.8264.com/oldcms/moban/zt/2014scaler/js/jquery.js" type="text/javascript"></script>
</head>

<body>
<div class="lunbowarpten">
	<div class="lunbocon">
		<ul class="lunboimg">
			<li><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/l1.jpg"></a></li>
			<li><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/l2.jpg"></a></li>
			<li><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/l3.jpg"></a></li>
			<li><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/l4.jpg"></a></li>
			<li><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/l5.jpg"></a></li>
		</ul>
	</div>
</div>
<div class="con980">
	<div class="clear_b">
		<div class="f_l w632 p_r">
			<a href="http://bbs.8264.com/thread-2159560-1-1.html">点击进入</a>
		</div>
		<div class="f_r w350">
			<span class="title_black">秘境在线</span>
			<div class="shipin"><embed src="http://player.video.qiyi.com/50e3ea183984ce18f70189c0b8f75819/0/0/v_19rrhsffyk.swf-albumId=240159200-tvId=240159200-isPurchase=0-cnId=6" allowFullScreen="true" quality="high" width="350" height="236" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></div>
			<div class="qishu">
				<ul>
					<li>
						<span>第一期</span>
						<a href="http://www.iqiyi.com/v_19rrhsffyk.html?src=frbdaldjunest&vfm=bdvtx&kwid=9930
" target="_blank">秘境之神农架惊情不断，沙宝亮深山寻野人</a>
					</li>
					<li>
						<span>第二期</span>
						<a href="http://www.iqiyi.com/v_19rrhruaik.html?src=frbdaldjunest&vfm=bdvtx&kwid=9930
" target="_blank">大有镇探险李维嘉遭遇野外生存训练</a>
					</li>
					<li>
						<span>第三期</span>
						<a href="http://www.iqiyi.com/v_19rrhzw5l0.html?src=frbdaldjunest&vfm=bdvtx&kwid=9930
" target="_blank">黑竹沟险象环生，矢野浩二高山反应窒息</a>
					</li>
					<li>
						<span>第四期</span>
						<a href="http://www.iqiyi.com/v_19rrhziohg.html?src=frbdaldjunest&vfm=bdvtx&kwid=9930
" target="_blank">穿越四川死亡谷李维嘉重伤</a>
					</li>
					<li>
						<span>第五期</span>
						<a href="http://www.iqiyi.com/v_19rrhy2hso.html?src=frbdaldjunest&vfm=bdvtx&kwid=9930
" target="_blank">探秘西双版纳，李维嘉再次被伤害</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clear_b pt3">
		<div class="f_l w735">
			<ul>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t.jpg"/></li>
				<li><a href="http://scaler.tmall.com/p/rd335022.htm?spm=a1z10.1.w5001-6516159484.11.l3CBtO&scene=taobao_shop" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t2.jpg"/></a><span>王栎鑫</span></li>
				<li><a href="http://www.scaler.com.cn/newsview.aspx?newsid=282" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t3.jpg"/></a><span>范逸臣</span></li>
				<li><a href="http://www.scaler.com.cn/newsview.aspx?classid=13&newsid=278" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t4.jpg"/></a><span>沙宝亮</span></li>
				<li><a href="http://scaler.tmall.com/p/rd335022.htm?spm=a1z10.1.w5001-6516159484.11.l3CBtO&scene=taobao_shop" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t5.jpg"/></a><span>幕岩</span></li>
				<li><a href="http://scaler.tmall.com/p/rd335022.htm?spm=a1z10.1.w5001-6516159484.11.l3CBtO&scene=taobao_shop" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t6.jpg"/></a><span>浩二</span></li>
				<li><a href="http://scaler.tmall.com/p/rd335022.htm?spm=a1z10.1.w5001-6516159484.11.l3CBtO&scene=taobao_shop" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t7.jpg"/></a><span>马丁</span></li>
				<li><a href="http://scaler.tmall.com/p/rd335022.htm?spm=a1z10.1.w5001-6516159484.11.l3CBtO&scene=taobao_shop" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t8.jpg"/></a><span>杨迪</span></li>
				<li><a href="http://www.scaler.com.cn/newsview.aspx?classid=13&newsid=283" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t9.jpg"/></a><span>强子</span></li>
				<li><a href="http://www.scaler.com.cn/newsview.aspx?classid=13&newsid=285" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t10.jpg"/></a><span>李维嘉</span></li>
				<li><a href="http://scaler.tmall.com/p/rd335022.htm?spm=a1z10.1.w5001-6516159484.11.l3CBtO&scene=taobao_shop" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t11.jpg"/></a><span>徐睿</span></li>
				<li><a href="http://scaler.tmall.com/p/rd335022.htm?spm=a1z10.1.w5001-6516159484.11.l3CBtO&scene=taobao_shop" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t12.jpg"/></a><span>王倩一</span></li>
				<li><a href="http://scaler.tmall.com/p/rd335022.htm?spm=a1z10.1.w5001-6516159484.11.l3CBtO&scene=taobao_shop" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t13.jpg"/></a><span>李波儿</span></li>
				<li><a href="http://scaler.tmall.com/p/rd335022.htm?spm=a1z10.1.w5001-6516159484.11.l3CBtO&scene=taobao_shop" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t14.jpg"/></a><span>李斯羽</span></li>
				<li><a href="http://scaler.tmall.com/p/rd335022.htm?spm=a1z10.1.w5001-6516159484.11.l3CBtO&scene=taobao_shop" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t15.jpg"/></a><span>商侃</span></li>
				<li><a href="http://scaler.tmall.com/p/rd335022.htm?spm=a1z10.1.w5001-6516159484.11.l3CBtO&scene=taobao_shop" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/t16.jpg"/></a><span>赵奕欢</span></li>
			</ul>
		</div>
		<div class="f_r w242">
			<span class="title_black">精彩互动</span>
			<div class="qishunews">
				<a href="http://www.scaler.com.cn/newsview.aspx?classid=9&newsid=281
" target="_blank">第一期：秘境大吐槽 明星户外混帐好温暖</a>
				<a href="http://www.scaler.com.cn/newsview.aspx?classid=12&newsid=287
" target="_blank">第二期：秘境主持爱上户外</a>
				<a href="http://huati.weibo.com/1053380?from=home_my_topic
" target="_blank">第三期：秘境明星装备你最喜欢哪一款</a>
				<a href="http://weibo.com/p/100808cf93567e14b186724f54fc445449ee37?k=%E7%A7%98%E5%A2%83%E6%9C%80%E7%BE%8E%E9%
" target="_blank">第四期：秘境最美镜头</a>
				<a href="http://huati.weibo.com/1082473?from=home_my_topic
" target="_blank">第五期：不一样的秘境</a>
			</div>
			<a href="http://weibo.com/p/100808c6e940822c9400b8d7da4c6071362278?k=%E7%A7%98%E5%A2%83%E6%98%8E%E6%98%9F%E4%BA%A7%E5%93%81%E6%8E%A8%E8%8D%90&from=huati_topic
" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/indexweibo.jpg" /></a>
		</div>
	</div>
	<div class="title_black">精彩图集 秘境幕前幕后那些事</div>
	<div class="bqlist clear_b">
		<span class="zhong">第一期花絮</span>
		<span>第二期明星主持爱上户外</span>
		<span>第三期最爱明星装备互动</span>
		<span>第四期最美秘境</span>
		<span>第五期不一样秘境</span>
		<span>幕后工作</span>
	</div>
	<div class="imglist">
		<ul>
			<li><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/q1.jpg"></li>
			<li><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/q2.jpg"></li>
			<li><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/q3.jpg"></li>
			<li><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/q4.jpg"></li>
			<li><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/q5.jpg"></li>
			<li><img src="http://static.8264.com/oldcms/moban/zt/2014scaler/images/q6.jpg"></li>
		</ul>
	</div>	
</div>
<div class="footer">
		<div class="footercon clear_b">
			<p class="footer_l">8264 版权所有 津ICP备05004140号-1 ICP证 津B2-20110106<br>
				<a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
			<p class="footer_r"><a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a> | <a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a> | <a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a> | <a target="_blank" href="http://www.8264.com/link/">户外网址大全</a> | <a target="_blank" href="http://www.8264.com/sitemap">网站地图</a></p>
		</div>
	</div>
</body>
</html>
