<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>2010第六届龙虎山国际帐篷节暨户外音乐节</title>
<link href="http://static.8264.com/oldcms/moban/zt/2010longhushan/style/style.css" rel="stylesheet" type="text/css" />
<link href="style/style.css" rel="stylesheet" type="text/css" />
<link href="../2010longhushan/style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
	<div><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/banner.jpg" width="961" height="517" border="0" /></div>
    <div class="toparea">
        	<div class="lunboarea">
                <div id="focus_turn">
                    <ul id="focus_pic">
                    <li class="current"><a href="http://bbs.8264.com/thread-525115-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/lunbo/lb3.jpg" border="0"/></a></li>
					<li class="normal"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=17&fromuid=16717046#pid10206705" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/lunbo/lb4.jpg" border="0"/></a></li>
                    <li class="normal"><a href="http://bbs.8264.com/thread-525115-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/lunbo/lb1.jpg" border="0"/></a></li>
					<li class="normal"><a href="http://u.8264.com/space-16717046-do-album-id-96365.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/lunbo/lb2.jpg" border="0"/></a></li>
                    </ul>
                    <ul id="focus_tx">
					<li class="current"><a href="http://bbs.8264.com/thread-525115-1-1.html" target="_blank" title="1">2010龙虎山国际帐篷节暨金秋户外音乐节报圆满落幕</a></li>
                    <li class="normal"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=17&fromuid=16717046#pid10206705" target="_blank" title="2">音乐节晚会精彩掠影</a></li>
					<li class="normal"><a href="http://bbs.8264.com/thread-525115-1-1.html" target="_blank" title="1">2010龙虎山国际帐篷节暨金秋户外音乐节报名中...</a></li>
					<li class="normal"><a href="http://u.8264.com/space-16717046-do-album-id-96365.html" target="_blank" title="2">江西鹰潭龙虎山风光</a></li>
                    </ul>
                </div>
            </div>
            <div class="introarea">
        	<p>
自从2006年以来，每到最适合露营的季节，总有一次国际性的帐篷盛会，驴友们从全国各地集结而来，欢聚在龙虎山这片美丽山水之中，尽情欢乐，享受这个属于驴友们自己的节日。去参加龙虎山国际帐篷节，已经成为许多驴友的一种习惯，成为驴友们每年的期待。
        	</p>
            <p>
我们怎能忘记那些闪亮的日子？那片美丽的原野？还有驴友们那亲切热情的笑容？每每回想，那万众云集、激情澎湃的场景仍历历在目，那欢乐的笑声还萦绕耳畔……
        	</p>
       	    </div>
            <div class="wangjie"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/wangjie.jpg" border="0" usemap="#Map" /><map name="Map" id="Map"><area shape="rect" coords="4,6,132,70" href="http://www.longhushan.com.cn/dzs/zpj/index.html" /><area shape="rect" coords="5,76,132,137" href="http://bbs.longhushan.com.cn/index.asp?boardid=31" /><area shape="rect" coords="4,144,133,208" href="/topic/1106.html" /><area shape="rect" coords="5,215,134,281" href="/topic/1170.html" /></map></div>
        	<div style="clear:both;"></div>
  </div>
    <div class="content">
    	<div><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/fengjiaotit.jpg" width="945" height="87" border="0" /></div>
        <div class="fengjiaoarea">
        	<div class="feng">
            	<div class="fengimgall">
                	<div class="fengimg"><a href="http://u.8264.com/space-16717046-do-album-picid-2155752.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/fengji/fj1.jpg" width="175" height="105" border="0" /></a></div>
                    <h3>水岩2-夏程琳</h3>
                </div>
                <div class="fengimgall">
                	<div class="fengimg"><a href="http://u.8264.com/space-16717046-do-album-picid-2155667.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/fengji/fj2.jpg" width="175" height="105" border="0" /></a></div>
                    <h3>灿若明霞-夏程琳</h3>
                </div>
                <div class="fengimgall">
                	<div class="fengimg"><a href="http://u.8264.com/space-16717046-do-album-picid-2155669.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/fengji/fj3.jpg" width="175" height="105" border="0" /></a></div>
                    <h3>丹山碧水-易继忠</h3>
                </div>
                <div class="fengimgall">
                	<div class="fengimg"><a href="http://u.8264.com/space-16717046-do-album-picid-2155683.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/fengji/fj4.jpg" width="175" height="105" border="0" /></a></div>
                    <h3>九曲洲朝霞-盘子</h3>
                </div>
                <div class="fengimgall">
                	<div class="fengimg"><a href="http://u.8264.com/space-16717046-do-album-picid-2155756.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/fengji/fj5.jpg" width="175" height="105" border="0" /></a></div>
                    <h3>水映排衙-夏程琳</h3>
                </div>
                <div class="fengimgall">
                	<div class="fengimg"><a href="http://u.8264.com/space-16717046-do-album-picid-2155850.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/fengji/fj6.jpg" width="175" height="105" border="0" /></a></div>
                    <h3>云山入画来-夏程琳</h3>
                </div>
                <div style="clear:both;"></div>
            </div>
          <div class="jiao">
龙虎山位于赣东交通枢纽鹰潭市西南20公里处，交通极为便捷。<br />
<b>铁路：</b>鹰潭位于浙赣、皖赣、鹰厦三条铁路干线的交汇处，乘火车可直达北京、上海、广州、重庆、武汉、杭州、福州、厦门、南京、南昌、九江等大城市。<br />
<b>公路：</b>206国道（烟台-汕头）、320国道（上海-瑞丽）经过鹰潭，到龙虎山的交通也因此而方便。<br />
<b>航空：</b>龙虎山到福建武夷山机场116公里，距南昌机场120公里。<br />
<b>水路：</b>乘船可到达鄱阳湖。
<h3><a href="http://bbs.8264.com/thread-106808-1-1.html" target="_blank">>>查看更多线路</a></h3>
            </div>
            <div style="clear:both;"></div>
        </div>
    	<div><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/huodongtit.jpg" width="945" height="82" border="0" /></div>
        <div class="huodongarea">
        	<div class="huodongleft">
            <b>报名方法</b><br />
为了帐篷节的顺利举行，我们要求参与者必须填写报名表，办理报名手续,并支付报名费。<br />
<b>报名费：</b>20元<br />
<b>开户行：</b>建设银行<br />
<b>帐号：2071109980110250752</b><br />
<b>户名：彭丽莎</b><br />
（如果您是个人方式报名，请提供您的姓名、地址、联系方式，参与项目；如果您是以俱乐部方式报名，请提供您所在俱乐部的名称、领队姓名、地址、联系方式、报名人数，详细人员名单以供现场确认之用）<br />
报名时间：即日起——2010.10.3<br />
在线报名地址：<br />
1、龙虎山旅游网（官方网站）<br />
http://www.longhushan.com.cn/lyzt/<br />
2、鹰潭户外网www.520701.com<br />
QQ群：江西龙虎山户外群21695610<br />
咨询电话：<br />
龙虎山风景区：<br />
0701—6656815<br />
手机：<br />
13870187798叶子<br />
13507012890张先生<br />
13437017980沈先生<br />
13907018882谢先生<br />
更多详情，请随时留意官网更新！
          </div>
            <div class="huodongright">
            <b>2010第六届龙虎山国际帐篷节暨龙虎山户外音乐节&nbsp;吹响集结号</b><br />
			<p>
2010年的金秋之季，让我们再聚首，天下驴友，大家一起背上行囊、暂时抛却烦心的俗事凡尘，相聚龙虎山！在这个丰收的季节里，一起收获幸福，拾取快乐，伴着歌声与欢笑，共度一个激情难忘的户外盛典……
			</p>
            <table width="570" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/picleft.jpg" width="260" height="125" border="0" /></td>
    <td><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/picright.jpg" width="260" height="125" border="0" /></td>
  </tr>
</table>
一、活动概况<br />
			<p>
<b>报到时间：</b>10月5日14：30——10月6日上午11：00
            </p>
            <p>
<b>活动时间：</b>2010年10月5日——10月7日
            </p>
            <p>
<b>活动地点：</b>龙虎山仙水岩桃花洲
            </p>
            <p>
<b>报到地点：</b>龙虎山游客中心
            </p>
            <p>
<b>主办单位：</b>龙虎山风景名胜区管委会
            </p>
            <p>
<b>承办单位：</b>江西龙虎山旅游（集团）有限责任公司
            </p>
            <p>
<b>特别支持：</b>奖品由河北省高碑店市冀威旅游制品有限责任公司提供
            </p>
二、主要活动项目<br />
<p>为您制造双重惊喜，为您倾力打造“驴友运动会、激情四溢户外音乐节”两大版块及中国首个户外希望小学挂牌仪式。</p>
<p><b>1、驴友运动会：</b></p>
<p>1）、泸溪风暴——疯狂泼水节</p>
<p>2）、莲花争霸——与美女进行水上拔河比赛，是英雄难过美人关，还是勇夺比赛大奖，尽在您的选择</p>
<p>3）、共渡今生——泸溪河情侣竹筏比赛</p>
<p>4）、垂直极限——龙虎山水岩峰徒手攀绳挑战赛</p>
<p>5）、食神有道——户外美食评选</p>
<p>6）、激情碰撞——与美女进行草地排球比赛</p>
<p>7）、看我飞翔——乘坐热气球，俯看200里龙虎山秀美山川</p>
<p>8）、“红灯区”—— 为情侣倾心打造 ，泸溪河畔，凤尾竹下，红红灯笼映照她绯红的脸庞，伴着蛙虫的呢喃，细述彼此情怀，升华绵绵情意</p>
<p>9）、耳鬓厮磨—耳朵拔河大赛</p>
<p>丰富多彩的其他户外游戏</p>
<p><b>2、户外音乐节：</b></p>
<p>缤纷的礼花、炫丽的灯光、美妙的夜景、精彩的节目为您打造一台户外音乐盛典</p>
<p>1）、仙乐飘飘——龙虎山大型户外音乐晚会：国内优秀乐队、“明星”亲临！</p>
<p>2）、绝代双骄——龙虎山情侣K歌大赛音乐晚会</p>
<p>3）、仙茶迎宾——龙虎山道姑茶艺表演</p>
<p>晚会期间还将为您呈上精彩龙虎山千年民俗—鸬鹚捕鱼表演及龙虎山婚俗表演</p>
<p><b>3、龙虎山户外历山希望小学挂牌仪式</b></p>
<p>我们：龙虎山国际帐篷节组委会，以及我们的合作伙伴们共同发起龙虎山户外历山希望小学基金，我们打算用3年左右的时间，帮助历山小学建起一个教学楼，所募集的资金大概为20万元左右，今年，在广大户外驴友和各界人士以及景区政府的支持之下，我们已经完成了我们的目标，这是广大户外驴友爱心与坚持的结晶。因此，让我们来共同见证……</p>
四、参与者费用与待遇<br />
<p>参与者通过龙虎山旅游网（官方网站）等网站及论坛在线跟帖报名，报名获确认之后，即可享受如下待遇：</p>
<p>1. 参与活动期间各项活动、比赛（事先报名）、户外活动趣味体验、行业交流、相关晚会、派对、摄影活动，当然您也可以不参加任何互动项目，只是过来看看。</p>
<p><b>2.活动期间凭身份证及报名记录可购买￥100元/人的龙虎山景区优惠门票（景区全程门票总价值为￥225元，包括龙虎山观光车、仙水岩竹筏、象鼻山、天师府、大上清宫），优惠票有效期：2010年10月6日至7日</b></p>
五、参与者条件与注意事项<br />
<p>面向群体以及要求：</p>
<p>1) 户外爱好者、音乐爱好者、美食爱好者、喜欢秀色可餐的朋友（能遵纪守法）</p>
<p>2) 必须先通过网络或者电话报名；报到时凭报名记录，在龙虎山游客中心现场发放活动门票。</p>
<p>3)现场报到时应有表明户外身份的相关装备或车辆、器材。如登山包、帐篷、摄影器材等至少一样，并随身携带身份证以便确认。</p>
<p>4)活动参与者需自带帐篷等露宿装备。</p>
<p>5)保证在活动期间能够遵守组委会的各项规章与安排。</p>
<p><b>注：报到时请一定携带好您的身份证，以便确认！</b></p>
<p><b>报到地点到活动地点因路程较远(3公里左右)，因此组委会将分别在报到日与活动结束时安排接送各一次。</b></p>
			</div>
            <div style="clear:both; height:0px; overflow:hidden;"></div>
        </div>
        <div><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/yanchu.jpg" width="945" height="711" border="0" usemap="#Map2" /><map name="Map2" id="Map2"><area shape="rect" coords="13,80,320,301" title="夏日部落乐团" href="javascript:void(0)" /><area shape="rect" coords="332,82,594,427" title="瑞糖乐队" href="javascript:void(0)" /><area shape="rect" coords="607,82,927,309" title="雅乐团" href="javascript:void(0)" /><area shape="rect" coords="15,312,318,705" title="湖南卫视《天天向上》舞蹈队" href="javascript:void(0)" /><area shape="rect" coords="334,442,591,704" title="迈克杰克逊模仿秀" href="javascript:void(0)" /><area shape="rect" coords="609,325,928,496" title="Cake Free乐团" href="javascript:void(0)" /><area shape="rect" coords="607,511,928,704" title="弹簧乐队" href="javascript:void(0)" /></map></div>
        <div><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/shunjiantit.jpg" width="945" height="90" border="0" /></div>
        <div class="shunjianarea">
        	<div class="shunjianimgall">
            	<div class="shunjianimg"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=4&fromuid=16717046#pid10149470" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/shunjian/sj11.jpg" width="220" height="135" border="0" /></a></div>
                <div class="shunjiantxt"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=4&fromuid=16717046#pid10149470" target="_blank">8264在龙虎山</a></div>
            </div>
            <div class="shunjianimgall">
            	<div class="shunjianimg"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=5&fromuid=16717046#pid10149636" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/shunjian/sj22.jpg" width="220" height="135" border="0" /></a></div>
                <div class="shunjiantxt"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=5&fromuid=16717046#pid10149636" target="_blank">泸溪河漂流</a></div>
            </div>
            <div class="shunjianimgall">
            	<div class="shunjianimg"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=5&fromuid=16717046#pid10149755" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/shunjian/sj33.jpg" width="220" height="135" border="0" /></a></div>
                <div class="shunjiantxt"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=5&fromuid=16717046#pid10149755" target="_blank">无蚊村掠影</a></div>
            </div>
            <div class="shunjianimgall">
            	<div class="shunjianimg"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=6&fromuid=16717046#pid10150168" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/shunjian/sj44.jpg" width="220" height="135" border="0" /></a></div>
                <div class="shunjiantxt"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=6&fromuid=16717046#pid10150168" target="_blank">悬棺表演</a></div>
            </div>
            <div class="shunjianimgall">
            	<div class="shunjianimg"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=13&fromuid=16717046#pid10202098" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/shunjian/sj55.jpg" width="220" height="135" border="0" /></a></div>
                <div class="shunjiantxt"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=13&fromuid=16717046#pid10202098" target="_blank">营地全景篇</a></div>
            </div>
            <div class="shunjianimgall">
            	<div class="shunjianimg"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=13&fromuid=16717046#pid10202744" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/shunjian/sj66.jpg" width="220" height="135" border="0" /></a></div>
                <div class="shunjiantxt"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=13&fromuid=16717046#pid10202744" target="_blank">水上拔河大赛</a></div>
            </div>
            <div class="shunjianimgall">
            	<div class="shunjianimg"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=11&fromuid=16717046#pid10193925" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/shunjian/sj77.jpg" width="220" height="135" border="0" /></a></div>
                <div class="shunjiantxt"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=11&fromuid=16717046#pid10193925" target="_blank">个性帐帖篇</a></div>
            </div>
            <div class="shunjianimgall">
            	<div class="shunjianimg"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=17&fromuid=16717046#pid10206705" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/shunjian/sj88.jpg" width="220" height="135" border="0" /></a></div>
                <div class="shunjiantxt"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=17&fromuid=16717046#pid10206705" target="_blank">音乐节晚会精彩掠影</a></div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/jizhetit.jpg" width="945" height="82" border="0" /></div>
        <div class="jizhearea">
        	<div class="touarea">
            	<div class="touimgall">
                	<div class="touimg"><a href="http://bbs.8264.com/thread-525115-1-1.html" target="_blank"><img src="http://ucenter.8264.com/images/noavatar_small.gif" width="48" height="48" border="0" /></a></div>
                    <div class="toutxt"><a href="http://bbs.8264.com/thread-525115-1-1.html" target="_blank"><span style="color:#FF0000">我要报名</span></a></div>
                </div>
              <div class="touimgall">
                	<div class="touimg"><a href="http://u.8264.com/space-127363.html" target="_blank"><img src="http://ucenter.8264.com/data/avatar/000/12/73/63_avatar_small.jpg" width="48" height="48" border="0" /></a></div>
                    <div class="toutxt"><a href="http://u.8264.com/space-127363.html" target="_blank">老尹</a></div>
              </div>
                <div class="touimgall">
                	<div class="touimg"><a href="http://u.8264.com/space-33753516-do-blog-id-280091.html" target="_blank"><img src="http://ucenter.8264.com/data/avatar/033/75/35/16_avatar_small.jpg" width="48" height="48" border="0" /></a></div>
                    <div class="toutxt"><a href="http://u.8264.com/space-33753516-do-blog-id-280091.html" target="_blank">拉巴</a></div>
                </div>
                <div class="touimgall">
                	<div class="touimg"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=12&fromuid=16717046#pid10196976" target="_blank"><img src="http://ucenter.8264.com/data/avatar/033/69/14/71_avatar_small.jpg" width="48" height="48" border="0" /></a></div>
                    <div class="toutxt"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=12&fromuid=16717046#pid10196976" target="_blank">LONXIN</a></div>
                </div>
              <div class="touimgall">
                	<div class="touimg"><a href="http://u.8264.com/space-34172959.html" target="_blank"><img src="http://ucenter.8264.com/data/avatar/034/17/29/59_avatar_small.jpg" width="48" height="48" border="0" /></a></div>
                    <div class="toutxt"><a href="http://u.8264.com/space-34172959.html" target="_blank">温暖的娃娃</a></div>
              </div>
                <div class="touimgall">
                	<div class="touimg"><a href="http://u.8264.com/space-33816355.html" target="_blank"><img src="http://ucenter.8264.com/data/avatar/033/81/63/55_avatar_small.jpg" width="48" height="48" border="0" /></a></div>
                    <div class="toutxt"><a href="http://u.8264.com/space-33816355.html" target="_blank">naiwohe</a></div>
                </div>
                <div class="touimgall">
                	<div class="touimg"><a href="http://u.8264.com/space-34143033.html" target="_blank"><img src="http://ucenter.8264.com/data/avatar/034/14/30/33_avatar_small.jpg" width="48" height="48" border="0" /></a></div>
                    <div class="toutxt"><a href="http://u.8264.com/space-34143033.html" target="_blank">任性娃娃</a></div>
                </div>
                <div class="touimgall">
                	<div class="touimg"><a href="http://u.8264.com/space-33814778.html" target="_blank"><img src="http://ucenter.8264.com/data/avatar/033/81/47/78_avatar_small.jpg" width="48" height="48" border="0" /></a></div>
                    <div class="toutxt"><a href="http://u.8264.com/space-33814778.html" target="_blank">孙姝嬏</a></div>
                </div>
                <div class="touimgall">
                	<div class="touimg"><a href="http://u.8264.com/space.php?uid=3553181" target="_blank"><img src="http://ucenter.8264.com/data/avatar/003/55/31/81_avatar_small.jpg" width="48" height="48" border="0" /></a></div>
                    <div class="toutxt"><a href="http://u.8264.com/space.php?uid=3553181" target="_blank">我都是瞎说</a></div>
                </div>
                <div class="touimgall">
                	<div class="touimg"><a href="http://u.8264.com/space-34105193.html" target="_blank"><img src="http://ucenter.8264.com/data/avatar/034/10/51/93_avatar_small.jpg" width="48" height="48" border="0" /></a></div>
                    <div class="toutxt"><a href="http://u.8264.com/space-34105193.html" target="_blank">um782</a></div>
                </div>
                <div class="touimgall">
                	<div class="touimg"><a href="http://u.8264.com/space-33725544.html" target="_blank"><img src="http://ucenter.8264.com/data/avatar/033/72/55/44_avatar_small.jpg" width="48" height="48" border="0" /></a></div>
                    <div class="toutxt"><a href="http://u.8264.com/space-33725544.html" target="_blank">牧马人DM</a></div>
                </div>
                <div class="touimgall">
                	<div class="touimg"><a href="http://u.8264.com/space-16717046.html" target="_blank"><img src="http://ucenter.8264.com/data/avatar/016/71/70/46_avatar_small.jpg" width="48" height="48" border="0" /></a></div>
                    <div class="toutxt"><a href="http://u.8264.com/space-16717046.html" target="_blank">大鹏</a></div>
                </div>
                <div style="clear:both;"></div>
          </div>
          <div class="jizhepics">
            	<div class="jizheimgall">
                	<div class="jizheimg"><a href="http://u.8264.com/space-33753516-do-blog-id-280091.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/lvyou/ly11.jpg" width="185" height="115" border="0" /></a></div>
                    <h3><a href="http://u.8264.com/space-33753516-do-blog-id-280091.html" target="_blank">帐篷节偶遇8264版主
</a></h3>
                </div>
                <div class="jizheimgall">
                	<div class="jizheimg"><a href="http://u.8264.com/space-33753516-do-blog-id-280224.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/lvyou/ly22.jpg" width="185" height="115" border="0" /></a></div>
                    <h3><a href="http://u.8264.com/space-33753516-do-blog-id-280224.html" target="_blank">2010年江西龙虎山帐篷节片段</a></h3>
            </div>
                <div class="jizheimgall">
                	<div class="jizheimg"><a href="http://bbs.8264.com/thread-532918-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/lvyou/ly33.jpg" width="185" height="115" border="0" /></a></div>
                    <h3><a href="http://bbs.8264.com/thread-532918-1-1.html" target="_blank">在奇山丽水间瞎混</a></h3>
                </div>
                <div class="jizheimgall">
                	<div class="jizheimg"><a href="http://u.8264.com/space-33753516-do-blog-id-280091.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/lvyou/ly44.jpg" width="185" height="115" border="0" /></a></div>
                    <h3><a href="http://u.8264.com/space-33753516-do-blog-id-280091.html" target="_blank">神奇的悬棺表演</a></h3>
                </div>
                <div class="jizheimgall">
                	<div class="jizheimg"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=12&fromuid=16717046#pid10196992" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/lvyou/ly55.jpg" width="185" height="115" border="0" /></a></div>
                    <h3><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=12&fromuid=16717046#pid10196992" target="_blank">帐篷大军</a></h3>
                </div>
                <div class="jizheimgall">
                	<div class="jizheimg"><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=12&fromuid=16717046#pid10197067" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2010longhushan/images/lvyou/ly66.jpg" width="185" height="115" border="0" /></a></div>
                    <h3><a href="http://bbs.8264.com/viewthread.php?tid=525115&page=12&fromuid=16717046#pid10197067" target="_blank">美女道姑也是8264网友</a></h3>
                </div>
                <div style="clear:both;"></div>
          </div>
          <div class="jizhebtm"></div>
        </div>
        <DIV class=bottom>
            <A href="http://www.8264.com/ziliao/about/aboutus.php" 
    target=_blank>关于我们</A> | <A href="http://www.8264.com/ziliao/about/aboutus.php" 
    target=_blank>联系我们</A> | <A href="http://www.8264.com/8954.html">给我留言</A> | <A 
    href="http://www.8264.com/ziliao/sitemap.html" target=_blank>网站地图</A> | <A 
    href="http://www.8264.com/ziliao/ggservice/index.html" target=_blank>广告服务</A> | 
    <A href="http://www.8264.com/list/531/" target=_blank>编辑部的故事</A> | <A 
    href="http://www.8264.com/sitelink/index.html" 
    target=_blank>友情连接</A><BR>服务热线：022-23708264 | 传真：022-23708323 | 
    地址：天津市新技术产业园区华天道8号海泰信息广场C座1001号<BR>除了脚印什么都不留下除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。&nbsp;&nbsp;&nbsp;&nbsp;<A 
    href="http://www.miibeian.gov.cn/" 
    target=_blank>津ICP备05004140号-1</A>
      </DIV>
  </div>
</div>
</body>
<script src="js/common.js" type="text/javascript" language="javascript"></script>
</html>
