<!doctype html>
<html>
<head>
<meta charset="gb2312">
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<title>NORTHLAND徒步涉</title>
<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/201704northland/style/style.css?12">
<script src="http://static.8264.com/oldcms/moban/zt/201704northland/js/jquery-1.9.1.min.js"></script>
<script src="http://static.8264.com/oldcms/moban/zt/201704northland/js/jqueryfunction.js"></script>
</head>

<body>
<div class="brannner">
	<div class="navbox">
    	<a href="#q1">徒步涉</a>
        <a href="#q2">当季新品</a>
        <a href="#q3">装备测试</a>
        <a href="#q4">活动资讯</a>
        <a href="#q5">精彩游记</a>
    </div>
</div>
<div class="w1200">
	<!--第一部分开始-->
	<div class="clear_b mt-20"><a name="q1"></a>
    	<div class="shipinbox">
        	<div class="shipintitle"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/shipintitle.png"/></div>
            <div class="shipincon">
                <div class="shipin">


                <video width="412" height="257" controls muted autoplay loop>
                	<source src="http://static.8264.com/oldcms/moban/zt/201704northland/images/12.mp4" type="video/mp4">
                </video>

                </div>
                <div class="shipinbg"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/shipinbg1.jpg"/></div>
                <a href="http://i.youku.com/u/UMzk3Mzc5MDEwMA==?spm=a2h0k.8191405.0.0"target="_blank" class="shipinmore">+MORE</a>
            </div>
        </div>
        <div class="shipinfr">
        	<b>2017</b>
           	<p>奥地利户外品牌—NORTHLAND携手8264<br>
联合打造新一季“徒步涉”活动，<br>
期待召集更多的人回归自然，<br>
通过户外徒步、旅行的方式感受户外的魅力，<br>
享受自然户外所带来的真正愉悦。</p>
			<span>NORTHLAND“徒步涉”活动重磅来袭<br>丰厚大奖与你一起顺心而行</span>
            <a href="http://bbs.8264.com/thread-5436465-1-1.html"target="_blank" >查看详情</a>
        </div>
    </div>
    <!--第一部分结束-->
    <!--第二部分开始-->
    <div class="clear_b pr">
    	<div class="baomingbox">
            <div style="display:none;">
            	<b>REGISTRATION</b>
            	<span>领队报名</span>
                <p>
                <strong>参与方式：</strong>
                1、按照规定时间提交完整出行计划<br>
                2、按照规范模式提交出行计划<br>
                3、仅限有经验的领队及俱乐部申请
                <strong>出行计划要求：</strong>
                1）详细的活动行程      2）装备要求     3）注意事项      4）安全措施<br>
                </p>
                <em>赶快行动，为全队成员赢取NORTHLAND徒步装备！</em>
                <a href="http://bbs.8264.com/thread-5436465-1-1.html"target="_blank" class="ljbmlink">立即报名</a>
            </div>
            <div style="display:none;">
                <b>NOMINATED LINE</b>
                <span>入围线路</span>
                <div class="toupiaolist clear_b">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                <img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/t1.jpg">
                                <span style="display:none">点击投票</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/t2.jpg">
                                <span style="display:none">点击投票</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/t3.jpg">
                                <span style="display:none">点击投票</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/t4.jpg">
                                <span style="display:none">点击投票</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/t5.jpg">
                                <span style="display:none">点击投票</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="noticebox">&#8226;为最赞线路投票 赢取NORTHLAND户外装备</div>
            </div>
            <div style="margin:0px 0px 0px -29px; padding:30px 0px 0px 0px; display:;"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/ts1.png?123"/></div>
        </div>
        <a href="http://bbs.8264.com/thread-5400970-1-1.html" target="_blank" class="frimg"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/con2fr.jpg"/></a>
        <div style="position:absolute; top:-33px; left:530px; display:none;"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/ew.png"></div>
    </div>
    <!--第二部分结束-->
    <!--第三部分开始-->
    <div class="mt70">
    	<div class="bigtitle">
        	<span>PRIZE SETTINGS</span>
            <em>奖项设置</em>
            <a href="http://bbs.8264.com/thread-5436465-1-1.html"target="_blank" >+MORE</a>
        </div>
        <div class="jiangxiangbox clear_b">
        	<ul>
            	<li>
                	<b>获胜奖</b>
                    <span>1名/期</span>
                    <p>
                        领队装备：<br>
                        NORTHLAND速干衣裤1套<br>
                        LOWA徒步鞋1双<br>
                        LEKI登山杖1对<br>
                        队员装备：<br>
                        NORTHLAND速干衣裤1套/人<br>
                        *所有提交线路的领队均有机会获得<br>
                    </p>
                </li>
                <li>
                	<b>入围奖</b>
                    <span>4名/期</span>
                    <p>
                        NORTHLAND速干衣裤1套<br>
                        *所有提交线路的领队均有机会获得<br>
                    </p>
                </li>
                <li>
                	<b>参与奖</b>
                    <span>5名/期</span>
                    <p>
                        所有投票网友，每期随机抽取5人获得NORTHLAND溯溪鞋一双<br>
                        *所有投票网友均有机会获得<br>
                    </p>
                </li>
                <li>
                	<b>最佳游记奖</b>
                    <span>1名/期</span>
                    <p>
                        NORTHLAND 17春夏 旅行冲锋衣1件<br>
                        *所有提交游记的队员均有机会获得<br>
                    </p>
                </li>
                <li>
                	<b>最佳分享奖</b>
                    <span>2名/期</span>
                    <p>
                        NORTHLAND皮肤鞋1双<br>
                        *所有提交游记的队员均有机会获得<br>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!--第三部分结束-->
    <!--第三部分开始-->
    <div class="mt70"><a name="q2"></a>
    	<div class="bigtitle">
        	<span>AUTUMN WINTER 2017</span>
            <em>NORTHLAND当季新品</em>
            <a href="http://www.northland-pro.com.cn/"target="_blank">+MORE</a>
        </div>
        <div class="tujibox">
            <ul>
                <li class="hover"><a href="http://www.8264.com/zhuangbei-0-0-627-5-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/p1.jpg"></a></li>
                <li><a href="http://www.8264.com/zhuangbei-0-0-627-5-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/p2.jpg"></a></li>
                <li><a href="http://www.8264.com/zhuangbei-0-0-627-5-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/p9.jpg"></a></li>
                <li><a href="http://www.8264.com/zhuangbei-0-0-627-5-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/p4.jpg"></a></li>
                <li><a href="http://www.8264.com/zhuangbei-0-0-627-5-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/p5.jpg"></a></li>
                <li><a href="http://www.8264.com/zhuangbei-0-0-627-5-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/p6.jpg"></a></li>
                <li><a href="http://www.8264.com/zhuangbei-0-0-627-5-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/p7.jpg"></a></li>
                <li><a href="http://www.8264.com/zhuangbei-0-0-627-5-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/p8.jpg"></a></li>
                <li><a href="http://www.8264.com/zhuangbei-0-0-627-5-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/p3.jpg"></a></li>
            </ul>
        </div>
    </div>
    <!--第三部分结束-->
    <!--第四部分开始-->
    <div class="mt70"><a name="q3"></a>
    	<div class="bigtitle">
        	<span>PRODUCT TESTING</span>
            <em>装备测试</em>
        </div>
        <div class="clear_b mt30">
        	<div class="gundongbox">
            	<div class="ceshititle clear_b">
                	<span>申请试用<em>APPLY FOR TRIAL</em></span><a href="http://bbs.8264.com/thread-5403131-1-1.html"target="_blank">+MORE</a>
                </div>
                <div class=" clear_b mt16">
                	<div class="leftarrow" id="larrow"></div>
                    <div class="gundongcon">
                    	<div class="gundonglist" id="gundonglist">
                            <ul>
                                <li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/g1.jpg"/><a href="http://bbs.8264.com/thread-5403131-1-1.html" class="popbox" target="_blank"><em class="empinfo">NORTHLAND诺诗兰拉格女式低帮鞋深海军蓝色</em><span class="ljsqlink">立即申请</span></a></li>
                                <li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/g2.jpg"/><a href="http://bbs.8264.com/thread-5403131-1-1.html" class="popbox" target="_blank"><em class="empinfo">NORTHLAND诺诗兰拉格女式低帮鞋冰绿色</em><span class="ljsqlink">立即申请</span></a></li>
                                <li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/g3.jpg"/><a href="http://bbs.8264.com/thread-5403131-1-1.html" class="popbox" target="_blank"><em class="empinfo">NORTHLAND诺诗兰尚德男式低帮鞋</em><span class="ljsqlink">立即申请</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="rightarrow" id="rarrow"></div>
                </div>
            </div>
            <div class="gundongbox fr">
            	<div class="ceshititle clear_b">
                	<span>测评展示<em>EVALUATION DISPLAY</em></span><a href="http://www.northland-pro.com.cn/">+MORE</a>
                </div>
                <div class=" clear_b mt16">
                	<div class="leftarrow" id="larrow1"></div>
                    <div class="gundongcon">
                    	<div class="gundonglist" id="gundonglist1">
                            <ul>
                            <li><a href="http://bbs.8264.com/thread-5408645-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c10.jpg"/></a></li>
                            <li><a href="http://bbs.8264.com/thread-5405944-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c9.jpg"/></a></li>
                            <li><a href="http://bbs.8264.com/thread-5410082-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c13.jpg"/></a></li>
                            <li><a href="http://bbs.8264.com/thread-5405944-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c8.jpg"/></a></li>
                            <li><a href="http://bbs.8264.com/thread-5408645-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c7.jpg"/></a></li>
                            <li><a href="http://bbs.8264.com/thread-5403510-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c6.jpg"/></a></li>
                            <li><a href="http://bbs.8264.com/thread-5406384-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c11.jpg"/></a></li>
                            <li><a href="http://bbs.8264.com/thread-5400780-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c4.jpg"/></a></li>
                             <li><a href="http://bbs.8264.com/thread-5410851-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c12.jpg"/></a></li>
                            <li><a href="http://bbs.8264.com/thread-5400989-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c5.jpg"/></a></li>
                            <li><a href="http://bbs.8264.com/thread-5397331-1-1.html
" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c6.jpg"/></a></li>
                            <li><a href="http://www.8264.com/viewnews-124080-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c1.jpg"/></a></li>
                            <li><a href="http://bbs.8264.com/thread-5395101-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c2.jpg"/></a></li>
                            <li><a href="https://mp.weixin.qq.com/s/lKeFInKQjSWbDesLJTXPFg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/c3.jpg"/></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="rightarrow" id="rarrow1"></div>
                </div>
            </div>
        </div>
    </div>
    <!--第四部分结束-->
    <!--第五部分开始-->
    <div class="mt70">
    	<a href="https://northland.tmall.com/?spm=a1z10.3-b-s.1997427721.d4918089.46f16db05B2FiV" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/dianshangbanner.jpg"/></a>
    </div>
    <!--第五部分结束-->
    <!--第六部分开始-->
    <div class="mt70"><a name="q4"></a>
    	<div class=" clear_b zxbox">
        	<div class="newslistbox">
            	<div class="newstitle"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/zxtitle.png"/></div>
                <div class="newslist">
                	<ul>
                    	<li><a href="http://travel.qianlong.com/2017/0925/2057499.shtml"target="_blank">NORTHLAND跨界开了旅行解忧店</a></li>
                        <li><a href="https://mp.weixin.qq.com/s/1vFj-AXgkF0NF0KR_7qgjA" target="_blank">旅行中的这些问题你一定遇到过却还没解决</a></li>
                        <li><a href="http://mp.weixin.qq.com/s/KoQuTWmUV3je73r-89J7EA" target="_blank">最新户外时尚大片揭晓|NORTHLAND x 王珞丹 x ？</a></li>
                        <li><a href="https://mp.weixin.qq.com/s/6HQyBxpwRKegJoe-c9jIfA" target="_blank">与王珞丹一起去发现城市中不经意的风景</a></li>
                        <li><a href="http://mp.weixin.qq.com/s/zrddnAc7XEoNkyBqW6knpQ" target="_blank">旅行解忧店丨全面解析，旅行不留烦恼</a></li>
                        <li><a href="https://mp.weixin.qq.com/s/5OHyjvJitRcA_vewE1tQRQ" target="_blank">旅行必备，王珞丹奥地利演绎时尚旅人</a></li>
                        <li><a href="https://mp.weixin.qq.com/s/sbLkXtnkXKz9XXMv06BGWg" target="_blank">王珞丹演绎多款皮肤衣 你最IN哪一款？</a></li>
                    </ul>
                </div>
            </div>
            <div class="star_r_box">
            	<div class="startitle"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/startitle.png"></div>
            	<div class="star1"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/zx1.png"></div>
                <div class="star2"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/zx2.png"></div>
                <div class="star3"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/zx3.png"></div>
                <div class="star4"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/zx4.png"></div>
                <a href="http://www.northland-pro.com.cn/" target="_blank" class="starmore"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/starmore.png"></a>

            </div>
        </div>
    </div>
    <!--第六部分结束-->
    <!--第七部分开始-->
    <div class="mt70"><a name="q5"></a>
    	<div class="bigtitle">
        	<span>TRAVEL SHOW</span>
            <em>精彩游记</em>
        </div>
        <div class="youji1box clear_b">
        	<ul>
            	<li><a href="http://bbs.8264.com/thread-5404827-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/yj1.png"/></a></li>
                <li><a href="http://bbs.8264.com/thread-5412211-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/yj2.png"/></a></li>
                <li><a href="http://bbs.8264.com/thread-5428687-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/yj3.png"/></a></li>
                <li><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/yj4.png"/></a></li>
                <li><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/yj5.png"/></a></li>
            </ul>
        </div>
        <div style="text-align:center; padding:10px 0px;"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/yjtitle.png"/></div>
        <div class="youjibox clear_b">
        	<ul>
            	<li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/y1.jpg"/></a></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/y2.jpg"/></a></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/y3.jpg"/></a></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/y4.jpg"/></a></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/y5.jpg"/></a></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/y6.jpg"/></a></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/y7.jpg"/></a></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/y8.jpg"/></a></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/y9.jpg"/></a></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/y10.jpg"/></a></li>
            </ul>
        </div>
    </div>
    <!--第七部分结束-->
</div>


<div class="footerbox">
    <div class=" w1200 clear_b">
        <div class="footleftbox">
            <div class="foot_left_top">
                户外有风险，8264提醒您购买<a href="http://bx.8264.com/?8264com" target="_blank">户外保险</a>
                <a target="_blank" href="http://www.8264.com/about-contact.html" rel="nofollow">联系我们</a>
                |
                <a href="http://www.8264.com/about-contact.html#q4" rel="nofollow">8264招聘</a>
                |
                <a href="http://bbs.8264.com/misc-faq.html" rel="nofollow">帮助</a>
                |
                <a href="http://bbs.8264.com/thread-2317569-1-1.html">8264手机触屏版</a>
            </div>
            <div class="foot_left_bottom">津ICP备05004140号-10&nbsp;&nbsp;&nbsp;ICP证 津B2-20110106&nbsp;&nbsp;&nbsp;天津信一科技有限公司版权所有</div>
        </div>
    </div>
</div>

<!--二维码开始-->
<div style=" position:fixed; top:300px; left:0;  z-index:99999999;"><img src="http://static.8264.com/oldcms/moban/zt/201704northland/images/wm1.png"/></div>
<!--二维码结束-->
<a href="javascript:void(0)" class="gotop"></a>
</body>
</html>
