<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>雪花勇闯天涯天津选拔赛招募</title>
<link href="http://static.8264.com/oldcms/moban/zt/2014snow_tj/style/style.css" rel="stylesheet" type="text/css">
<script src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/js/jquery.js" type="text/javascript"></script>
</head>

<body>
<div class="nav">
	<div class="navcon">
		<a href="javascript:void(0)" class="hover">首页</a>
		<a href="javascript:void(0)">活动简介</a>
		<a href="javascript:void(0)">选拔赛招募</a> 
		<a href="javascript:void(0)">团队赛招募</a>  
		<a href="javascript:void(0)">攻略征集令</a>
		<a href="javascript:void(0)">选拔赛图集</a>
		<a href="javascript:void(0)">团队赛图集</a>
		<a href="javascript:void(0)">往届回顾</a>
	</div>
</div>
<div id="zhuti">
<!--首页开始-->
<div class="layout p_r">
	<div class="index_bg"></div>
	<div class="shipin_index">
		<embed width="324" height="210" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://player.youku.com/player.php/sid/XNzQ3NTM3OTY0/v.swf" loop="true" play="true" quality="best" menu="true">
	</div>
</div>
<!--首页结束-->
<!--活动开始-->
<div class="layout" style="display:none;">
	<div class="secondcon clear_b w_bgcon">
		<div class="f_l s_shipin">
			<embed width="417" height="287" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" src="http://player.youku.com/player.php/sid/XNzM3NTYwNzY4/v.swf" loop="true" play="true" quality="best" menu="true">
		</div>
		<div class="f_r secondwen">
			<img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/titlesecond.png"/>
			<p>作为国内啤酒业规模最大、区域最广泛的原创推广活动，2014年是雪花勇闯天涯的第十年。以“挑战未登峰”为主题的勇闯天涯活动，就是要对从来无人登顶的山峰进行挑战性开拓性的攀登。＂未登峰＂不仅意味着人类从未登顶的山峰，更象征着人类尚未完成的超越。挑战未知从而突破极限，对于所有热爱攀登的户外运动爱好者来说，无疑是一次令人期待的终极体验。</p>
<p>勇闯无边界，挑战无极限，勇士们要挑战的不仅仅是地理上的高峰，更是心理上的高峰。以＂未登峰＂为目标，不只是在大自然中挑战极限，也是不断开拓、永不止步的精神体现。每一次有未登峰被成功登顶，都象征着人类对世界认知的进一步推进，每一个踏上未登峰的足迹，也许就代表着人类的第一步！</p>
		</div>
	</div>
</div>
<!--活动结束-->
<!--选拔赛招募开始-->
<div class="layout" style="display:none;">
	<div class="thirdcon clear_b w_bgcon">
		<div class="thirdtitlebig">
			<p>本次活动将聚集钟爱户外运动、向往挑战极限、突破自我的广大户外运动爱好者，通过层层选拔，最终优<br>胜者将参与2014雪花勇闯天涯“挑战未登峰”活动。</p>
			<a href="http://bbs.8264.com/thread-2187434-1-1.html" target="_blank" class="thirdbm"></a>
		</div>
		<div class="third_sqwarpten">
			<div class="qtitle clear_b">
				<span class="hover">天津分赛区选拔赛初赛</span>
				<span>天津分赛区选拔赛决赛</span>
			</div>
			<div class="third_sqcon w_bgcon">
				<!--标签1内容开始-->
				<div class="clear_b p40_30">
					<div class="f_l w421">
						<p class="black_14" style="padding-top:0px;">
							比赛时间：2014年8月9日和8月16日 两场<br>
							比赛地点：杨柳青庄园<br>
							选拔方式：徒步穿越计时竞赛、设施挑战及户外技能比拼。<br>
						</p>
						<span>每场比赛参赛选手100名（8264选手名额：40名）</span>
						<span class="orangetitle16">报名要求</span>
						<p class="black_14">1、本次雪花勇闯天涯挑战未登峰天津分赛区选拔赛报名选手年龄18-45岁，具有户外活动经验的消费者、啤酒爱好者，有三次以上的户外经历且无不适宜户外活动的重大疾病。</p>
						<p class="black_14">2、报名人员须在活动网络报名平台报名时填写昵称、姓名、性别、年龄、身份证号码、联系方式等相关信息，用于入选后购买保险所用，并在报名帖内分享最深刻的户外穿越经历和照片；</p>
						<p class="black_14">3、评选标准：户外穿越经历和帖子评论热度；<br>（注：选拔标准男女比例为7：3，严格控制参赛者年龄，网络报名者仅限本人）</p>
					</div>
					<div class="f_r w420">
						<p class="black_14" style="padding-top:0px;">4、报名截止时间：2014年8月10日<br>
每场初赛活动将选取前15名优胜选手晋级天津分赛区选拔赛初赛参加在8月22日-24日举行的 “2014雪花勇闯天涯 挑战未登峰天津分赛区选拔赛”决赛阶段的比赛。</p>
						<span class="orangetitle16">参赛说明</span>
						<p class="black_14">
							1、统一着装：每位选手勇闯天涯T恤、帽子各一套； <br>
							2、每位参赛选手均可获得勇闯天涯听装产品一箱作为参赛奖品；<br>
						</p>
					</div>
				</div>
				<!--标签1内容结束-->
				<!--标签2内容开始-->
				<div class="clear_b p40_30" style="display:none">
					<div class="f_l w421">
						<p class="black_14" style="padding-top:0px;">
							活动时间：2014年8月22日-2014年8月24日；<br>
							活动地点：延庆海坨山<br>
							参赛选手：两场分站赛选出前15名选手参与选拔赛总决赛，共30人参加。<br>
						</p>
						<span class="orangetitle16" style="padding-top:28px;">活动形式</span>
						<p class="black_14">活动以负重徒步穿越、登山、野外露营、户外技能及团队协作竞赛为主线，赛程中设置负重徒步穿越计时赛以及户外露营技能比赛；</p>
						<p class="no1">
							徒步负重穿越计时赛--参赛者需按赛点设置进行单程10公里以上徒步负重穿越，并对每位选手穿越时间进行计时，前15名完成徒步赛段选手可参加第二环节户外技能竞赛；
						</p>
						<p class="no2">
							户外露营技能赛--在露营地点完成户外技能项目、户外知识问答及团队协作比赛，并对每位选手和每个团队竞赛结果进行计分，作为竞赛减时依据；
						</p>
					</div>
					<div class="f_r w420">
						<p class="no3">
							将徒步穿越总用时减去技能竞赛减时得出最后成绩进行最终排名。
						</p>
						<p class="no4">
							天津区域的冠军将代表天津区域参与勇闯天涯挑战未登峰全国活动，角逐真正的勇士！
						</p>
						<span class="orangetitle16 pb20">奖项设置</span>
						<p class="lipin">
							<span>冠军（1名）</span>
							获得总部活动名额+1000元装备基金+勇闯天涯产品5箱
						</p>
						<p class="lipin">
							<span>亚军（1名）</span>
							勇闯天涯背包+勇闯天涯帐篷+勇闯天涯登山杖+勇闯天涯产品3箱
						</p>
						<p class="lipin">
							<span>季军（1名）</span>		
							勇闯天涯背包+勇闯轻便折叠背包+勇闯天涯U盘+勇闯天涯产品1箱
						</p>
					</div>
				</div>
				<!--标签2内容结束-->
				
			</div>
		</div>
	</div>
</div>
<!--选拔赛招募结束-->
<!--团队赛开始-->
<div class="layout" style="display:none;">
	<div class="thirdcon clear_b w_bgcon">
		<div class="fourthtitlebig">
			<p>天津地区热爱户外运动的骑行团、驴友团、登山团无论你们是三五成群还是小队出行，<br>
赶快报上团队“勇者驴计划”，雪花啤酒勇者团队基金助你走天涯。最终参加本次活动优秀团队可推荐优秀队员获得参加<br>2014雪花“勇闯天涯 挑战未登峰”天津分赛区选拔赛分站赛名额。</p>
			<a href="http://bbs.8264.com/thread-2187452-1-1.html" target="_blank" class="thirdbm"></a>
		</div>
		<div class="w840">
		<span class="orangetitle16 pb20">报名方式</span>
		<div class="date"></div>
		<span class="orangetitle16 pb20">报名要求</span>
		<p class="black_14" style="padding-top:0px;">1、天津地区骑行团（15人以上）、驴友团（含徒步、登山，每支团队15人）共15个团队需提供近期两次活动和作业帖及7月至9月的出行活动计划并在9月20日前提供作业帖报告；</p>
		<p class="black_14">2、报名团队队员年龄18-45岁，具有户外活动经验的消费者、啤酒爱好者，有三次以上的户外经历且无不适宜户外活动的重大疾病。</p>
		<span class="orangetitle16 pb20">活动内容</span>
		<p class="black_14" style="padding-top:0px;">1、雪花啤酒向参与活动报名团队赞助勇闯天涯T恤、帽子、活动旗帜等物资，团队出行需统一着装，并在活动途中拍摄含有1*1.5米活动旗帜1个、T恤、帽子、旗帜、车队等含有赞助物资及主题活动信息、雪花勇闯天涯元素露出的团队合影照片；</p>
		<p class="black_14">2、所有接受赞助的活动团队在活动完成后须在所属地区论坛版块中提交活动作业帖，其中活动相关图片（含有雪花勇闯天涯元素）展示不少于20张照片展示，需在团队活动论坛、个人微博、微信等网络平台展示。</p>
		<p class="black_14">3、所有参与活动的户外团队在所提交作业帖检查通过后，由8264代表雪花啤酒向各团队发放由雪花啤酒提供的，骑行团、驴友团（含徒步、登山）每只团队1000元活动赞助金。</p>
		</div>
	</div>
</div>
<!--团队赛结束-->
<!--团队赛开始-->
<div class="layout" style="display:none;">
	<div class="thirdcon clear_b w_bgcon">
		<div class="fifthtitlebig">
			<a href="http://bbs.8264.com/thread-2191847-1-1.html" target="_blank" class="thirdbm"></a>
		</div>
		<div class="clear_b w840">
			<div class="f_l w420">
				<span class="orangetitle16 pb20">活动详情</span>
				<span>为配合京津冀地区2014年勇闯天涯“挑战未登峰”活动的进行，本活动“勇者无疆，驴行天下”攻略征集令征集京津冀地区的户外活动地点攻略。</span>
				<p class="blue_p" style=" padding-top:6px; margin-top:20px;">
					<span>参与方式</span>
					在本帖直接回复攻略内容及图片
				</p>
				<p class="blue_p">
					<span>内容要求</span>
					攻略内容，需有对应地区的配图（线路地图或风景图），大致的行程介绍，以及行程中的注意事项；
				</p>
				<p class="blue_p" style=" padding-top:6px;">
					<span>征集时间</span>
					2014年7月25日-9月30日
				</p>
				<p class="blue_p">
					<span>奖品支持</span>
					优秀线路将有机会获得勇闯天涯户外套装（帐篷、背包、登山杖、手电、野餐垫）
				</p>
			</div>
			<div class="f_r w420">
				<span class="orangetitle16 pb20">线路攻略<a href="http://bbs.8264.com/thread-2191847-1-1.html" class="more">更多》</a></span>
				<div class="gllist">
					<ul>
						<li>
							<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-2191847-pid-51024034.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test1.jpg"/></a>
							<p>
								<b>天津八仙山自驾游攻略</b>
								<span>天津八仙山保护区，是天津市地势最高、群峰汇集的地方，900米以上的山峰有19座，八仙山主峰海拔1046.8米，为天津市最高峰...</span>
							</p>
						</li>
						<li>
							<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-2191847-pid-51023670.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test2.jpg"/></a>
							<p>
								<b>天津太平寨自驾攻略</b>
								<span>位于黄崖关东南1.0公里小平安村海拔高度400～500米,东起半拉缸山，西至寡妇楼。西北接凤凰楼，西南接水关全长873米...</span>
							</p>
						</li>
						<li>
							<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-2191847-pid-51025018.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test3.jpg"/></a>
							<p>
								<b>天津蓟县盘山攻略线路</b>
								<span>位于天津蓟县城区西北，该景区史记于汉，盛建于唐，极于清，清乾隆皇帝，先后巡幸盘山32次，留下了歌咏盘山的诗作1366首...</span>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--团队赛结束-->
<!--选拔赛开始-->
<div class="layout" style="display:none">
	<div class="thirdcon clear_b w_bgcon">
		<div class="w840">
			<div class="bstitle clear_b">
				<a href="http://bbs.8264.com/thread-2199896-1-1.html" class="hover"  target="_blank">初赛--第一场</a>
				<a href="javascript:void(0)">初赛--第二场</a>
				<a href="javascript:void(0)">选拔赛决赛</a>
			</div>
			<div class="imglist">
				<div>
					<ul>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test6.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test7.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test8.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test9.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test10.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test11.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test12.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test13.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test14.jpg"/></a></li>
					</ul>
				</div>
				<div style="display:none">
					<ul>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test16.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test17.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test18.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test19.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test20.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test21.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test22.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test23.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test24.jpg"/></a></li>
					</ul>
				</div>
				<div style="display:none">
					<ul>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test25.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test26.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test27.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test28.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test29.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test30.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test31.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test32.jpg"/></a></li>
						<li><a><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test33.jpg"/></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--选拔赛结束-->
<!--图集开始-->
<div class="layout" style="display:none">
	<div class="thirdcon clear_b w_bgcon">
		<div class="w840" style="text-align:center; padding:20px 0px;">
			<div class="imglist">
				<div>
					<ul>
						<li><a href="http://bbs.8264.com/thread-2217374-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test40.jpg"/></a></li>
						<li><a href="http://bbs.8264.com/thread-2216368-2-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test41.jpg"/></a></li>
						<li><a href="http://bbs.8264.com/thread-2217555-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test42.jpg"/></a></li>
						<li><a href="http://bbs.8264.com/thread-2205530-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test43.jpg"/></a></li>
						<li><a href="http://bbs.8264.com/thread-2215777-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test44.jpg"/></a></li>
						<li><a href="http://bbs.8264.com/thread-2215845-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test45.jpg"/></a></li>
						<li><a href="http://bbs.8264.com/thread-2205362-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test46.jpg"/></a></li>
						<li><a href="http://bbs.8264.com/thread-2221081-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test47.jpg"/></a></li>
						<li><a href="http://bbs.8264.com/thread-2222675-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test48.jpg"/></a></li>
						<li><a href="http://bbs.8264.com/thread-2225558-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test49.jpg"/></a></li>
						<li><a href="http://bbs.8264.com/thread-2226240-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test50.jpg"/></a></li>
						<li><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test51.jpg"/></a></li>
						<li><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test51.jpg"/></a></li>
						<li><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test51.jpg"/></a></li>
						<li><a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2014snow_tj/images/test51.jpg"/></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--图集结束-->
<!--回顾开始-->
<div class="layout" style="display:none">
	<div class="thirdcon clear_b w_bgcon">
		<div class="w840 endbg">
			<p>“雪花啤酒 勇闯天涯”活动是由华润雪花啤酒（中国）有限公司独立创新的具有原创性的品牌推广活动，<br>
它不仅是国内啤酒品牌最大规模、区域最广泛的一次全国范围的品牌推广活动，<br>
更是雪花啤酒为回馈中国消费者所创立的一个独特的文化品牌。</p>
		</div>
	</div>
</div>
<!--回顾结束-->
</div>
</body>
</html>
