<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>2009百搭装备汇集	冬季1+衣</title>
<link href="http://static.8264.com/oldcms/moban/zt/2009winter/style/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {color: #990000}
-->
</style>
</head>

<body>
<div class="warpper">
	<div><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/banner.jpg" width="1000" height="430" border="0" /></div>
    <div class="mid1"><h2 class="STYLE1">本	 期	导	读</h2>
    寒风瑟瑟的冬天已经来临，各大商场、大小户外店都陈列出今冬独具品牌特色的新品，在款式设计和功能性上独具匠心，本季哪些装备最受关注？哪些装备又是本季的新宠呢？又有哪些混搭方式大肆流行呢？为此8264特编本专题，为大家推荐最前沿的户外装备，无论是您最关注的保暖系列，还是一直追求的轻量化系列，以及追星族的时尚、经典系列......，在这里都能找到您所要的；同时也为大家提供了部分装备的测评报告及产品选够指南，供参考 。</div>
    <div class="con2">
    	<div class="title2">
        	<div class="title2_bai"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/title2bai.jpg" width="193" height="30" border="0" /></div>
        </div>
        <div class="mid2">
            <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="250" align="right" valign="middle"><a href="/46506.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/001.jpg" width="165" height="203" border="0" /></a></td>
                <td width="220" align="right" valign="middle"><a href="http://www.mountainhardwear.com/Product.aspx?top=1827&prod=3711&cat=1836&viewAll=False" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/002.jpg" width="165" height="203" border="0" /></a></td>
                <td width="220" align="right" valign="middle"><a href="/46507.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/003.jpg" width="165" height="203" border="0" /></a></td>
                <td width="310" align="left" valign="top">
               	  <div style="float:left; width:170px; margin:20px 0px 0px 50px!important; margin:20px 0px 0px 25px; line-height:1.8;">
                  	&#8226;&nbsp;<a href="/45925.html" target="_blank">盘点八款极品户外羽绒服</a><br>
                    &#8226;&nbsp;<a href="/46153.html" target="_blank">选保暖内衣别被高科技迷了眼</a><br>
                    &#8226;&nbsp;<a href="/42231.html" target="_blank">PRIMALOFT顶级保暖纤维对比</a><br>
                    &#8226;&nbsp;<a href="/46625.html" target="_blank">KingCamp两件套保暖衣评测</a><br>
                    &#8226;&nbsp;<a href="/38701.html" target="_blank">男装双层保暖贴合布抓绒上衣</a><br>
                    &#8226;&nbsp;<a href="/ziliao/down-outerwear/" target="_blank">户外羽绒服完全手册</a><br>
                    &#8226;&nbsp;<a href="http://u.8264.com/space-4910-do-blog-id-88900.html" target="_blank">谈各种棉的保暖性对比方法</a><br>
                    &#8226;&nbsp;<a href="http://bbs.8264.com/viewthread.php?tid=273589&extra=page%3D1%26amp%3Borderby%3Ddateline" target="_blank">看图说话-HW羽绒马甲</a><br>
                  </div>
                </td>
              </tr>
          </table>
      	</div>
        <div class="bottom2"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="25%" align="right" valign="middle">
                    <div class="wen">肩部、手臂耐磨处理，袖口下摆可调，风帽可调	<a href="/46506.html" target="_blank">更多>></a></div>
                </td>
                <td width="22%" align="right" valign="middle">
                    <div class="wen">适合徒步旅行，手感柔软，穿着舒适，保暖效果好。<a href="http://www.mountainhardwear.com/Product.aspx?top=1827&prod=3711&cat=1836&viewAll=False" target="_blank">更多>></a></div></td>
                <td width="22%" align="right" valign="middle">
                    <div class="wen">根据Viloft黏胶吸汗后发热的特性，采用最新研发<a href="/46507.html" target="_blank">更多>></a></div>
                </td>
                <td width="31%">&nbsp;</td>
              </tr>
            </table>
            <div style="width:860px; line-height:1.6; text-align:left; margin:47px auto 0px auto;">“保暖性”在冬季这个特殊的季节总是备受推崇，特别是在恶劣的环境下进行相对专业的户外运动，我们对它的要求就更高了，质地轻柔、舒适、具有很强的防风保暖性，沃德的这款超保暖羽绒服适合在极限环境下，然而别在一味追求保暖同时，被高科技迷了眼。</div>
		</div>
    </div>
    <div class="feng"></div>
    <div class="con3">
    	<div class="title3">
        	<div class="title3_bai"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/title3bai.jpg" width="193" height="30" border="0" /></div>
        </div>
        <div class="mid3">
            <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="260"><div style="float:right; width:170px; margin:20px 0px 0px 0px!important; margin:20px 0px 0px 0px; line-height:1.8; text-align:left;">
                  	&#8226;&nbsp;<a href="http://u.8264.com/space-33785193-do-blog-id-76602.html" target="_blank">全部背负不足5公斤的PAK5</a><br>
                    &#8226;&nbsp;<a href="/22370.html" target="_blank">怎样选择最合适的轻量化装备</a><br>
                    &#8226;&nbsp;<a href="/22370.html" target="_blank">漫谈户外装备轻量化的想法</a><br>
                    &#8226;&nbsp;<a href="/45402.html" target="_blank">OUTDOOR RESEARCH冲锋裤</a><br>
                    &#8226;&nbsp;<a href="/45812.html" target="_blank">超轻羽绒服炫丽登场[组图]</a><br>
                    &#8226;&nbsp;<a href="/45851.html" target="_blank">NORTHLAND超轻羽绒服新体验</a><br>
                    &#8226;&nbsp;<a href="http://bbs.8264.com/thread-238202-1-1.html" target="_blank">聊装备—轻量化和安全性并重</a><br>
                    &#8226;&nbsp;<a href="/topic/1251.html" target="_blank">09轻量化装备购买指南</a><br>
                </div></td>
                <td width="217" align="right"><a href="/45925_3.html#news_text" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/004.jpg" width="165" height="203" border="0" /></a></td>
                <td width="220" align="right"><a href="/46508.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/005.jpg" width="165" height="203" border="0" /></a></td>
                <td width="217" align="right"><a href="/46509.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/006.jpg" width="165" height="203" border="0" /></a></td>
                <td width="86" align="left">&nbsp;</td>
              </tr>
            </table>
		</div>
        <div class="bottom3">
        	<table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="260">&nbsp;</td>
                <td width="217" align="right">
                	<div class="wen">采用顶级白鹅绒，达到最高蓬松度，超细尼龙66高<a href="/45925_3.html#news_text" target="_blank">更多>></a></div>
                </td>
                <td width="220" align="right">
                	<div class="wen">女款超轻防风夹克，超小包装尺寸，100%涤纶<a href="/46508.html" target="_blank">更多>></a></div>
                </td>
                <td width="217" align="right">
                	<div class="wen">全压胶设计的透气雨裤，配以两侧全长拉链，便于<a href="/46509.html" target="_blank">更多>></a></div>
                </td>
                <td width="86" align="left">&nbsp;</td>
              </tr>
            </table>
            <div style="width:860px; line-height:1.6; text-align:left; margin:47px auto 0px auto;">为了保暖一件件装备往上加，但是厚厚的装备重量会限制我们的行动，在保暖的基础上我们更要求重量轻一点，再轻一点，“轻”是我们出行中对装备永远关心的趋势，它让我们携带方便，行动自由；这就需要在产品设计上采用高科技面料和填充物，但也意味着在材料使用和设计上花费更多成本。</div>
        </div>
    </div>
    <div class="feng"></div>
    <div class="con4">
    	<div class="title4">
        	<div class="title4_bai"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/title4bai.jpg" width="193" height="30" border="0" /></div>
        </div>
        <div class="mid4">
        	<table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="250" align="right" valign="middle"><a href="/46693_1.html#news_text" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/007.jpg" width="165" height="203" border="0" /></a></td>
                <td width="220" align="right" valign="middle"><a href="/46510.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/008.jpg" width="165" height="203" border="0" /></a></td>
                <td width="220" align="right" valign="middle"><a href="/46514.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/009.jpg" width="165" height="203" border="0" /></a></td>
                <td width="310" align="left" valign="top">
               	  <div style="float:left; width:170px; margin:20px 0px 0px 40px!important; margin:20px 0px 0px 20px; line-height:1.8;">
                  	&#8226;&nbsp;<a href="/46254.html" target="_blank">六款女人味100%户外羽绒背心</a><br>
                    &#8226;&nbsp;<a href="/45665.html" target="_blank">户外生活今天你耍“裤”了吗</a><br>
                    &#8226;&nbsp;<a href="/46693.html" target="_blank">最具明星范儿的十款羽绒服</a><br>
                    &#8226;&nbsp;<a href="/45341.html" target="_blank">时尚情侣装让你“大变身”</a><br>
                    &#8226;&nbsp;<a href="/45091.html" target="_blank">时尚OR户外剑走偏锋[组图]</a><br>
                    &#8226;&nbsp;<a href="http://bbs.8264.com/viewthread.php?tid=269201&extra=page%3D1%26amp%3Borderby%3Ddateline" target="_blank">PATAGONIA 秋冬季服装秀</a><br>
                    &#8226;&nbsp;<a href="http://u.8264.com/space-16799956-do-thread-id-8375.html" target="_blank">思凯乐09秋冬时尚服装一览</a><br>
                    &#8226;&nbsp;<a href="/38112.html" target="_blank">白领的运动时尚—天石夹克</a><br>
                  </div>
                </td>
              </tr>
          </table>
        </div>
        <div class="jian4">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="25%" align="right" valign="middle">
                    <div class="wen">采用亮光油面布，连风帽设计，帽沿毛条可脱卸<a href="/46693_1.html#news_text" target="_blank">更多>></a></div>
                </td>
                <td width="22%" align="right" valign="middle">
                    <div class="wen">贴身之动作形裁剪，加上依手臂肩膊关节而裁剪<a href="/46510.html" target="_blank">更多>></a></div></td>
                <td width="22%" align="right" valign="middle">
                    <div class="wen">标准化电脑立体裁剪，依照中国人体形结构特点出<a href="/46514.html" target="_blank">更多>></a></div>
                </td>
                <td width="31%">&nbsp;</td>
              </tr>
            </table>
        </div>
        <div class="mid4_1">
            <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="364" align="right"><a href="/46254_4.html#news_text" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/010.jpg" width="165" height="203" border="0" /></a></td>
                <td width="272" align="center"><a href="http://www.kroceus.com/?from=8264" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/011.jpg" width="165" height="203" border="0" /></a></td>
                <td width="364" align="left"><a href="/46518.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/012.jpg" width="165" height="203" border="0" /></a></td>
              </tr>
			</table>
      	</div>
        <div class="bottom4">
        	<table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="364" align="right">
                	<div class="wen">采用时尚的花格子面料及高清洁90%白鸭绒<a href="/46254_4.html#news_text" target="_blank">更多>></a></div>
                </td>
                <td width="272" align="center">
                	<div class="wen">Power Stretch 高透气、快干，88%涤纶<a href="http://www.kroceus.com/?from=8264" target="_blank">更多>></a></div>
                </td>
                <td width="364" align="left">
                	<div class="wen">防水5000MM，透气5000MM/G/24hr，浅灰<a href="/46518.html" target="_blank">更多>></a></div>
                </td>
              </tr>
			</table>
            <div style="width:860px; line-height:1.6; text-align:left; margin:40px auto 0px auto;">   随着户外市场的扩大，户外将走向大众化，我们不仅要求最基本的户外功能，同时更加重视时尚、美观、部分户外装备走向休闲化、生活化，散发青春靓丽的气息，让户外也走在流行的前沿，畅想户外，尽情享受自然。</div>
        </div>
  	</div>
    <div class="feng"></div>
    <div class="con5">
    	<div class="title5"><div class="title5_bai"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/title5bai.jpg" width="193" height="30" border="0" /></div></div>
        <div class="mid5">
        	<table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="270">
                	<div style="float:right; width:170px; margin:20px 0px 0px 0px!important; margin:20px 0px 0px 0px; line-height:1.8;text-align:left;">
                  	&#8226;&nbsp;<a href="/43208.html#news_text" target="_blank">始祖鸟LEAFAlpha suit套装秀</a><br>
                    &#8226;&nbsp;<a href="/46858.html" target="_blank">HINature健行休闲系列上市</a><br>
                    &#8226;&nbsp;<a href="/40515.html" target="_blank">四款经典商务型hanwag徒步鞋</a><br>
                    &#8226;&nbsp;<a href="/44740.html" target="_blank">VAUDEevent高端风暴冲锋衣裤</a><br>
                    &#8226;&nbsp;<a href="http://u.8264.com/space-33785193-do-blog-id-82182.html" target="_blank">专家对Pak	Winter冲锋衣点评</a><br>
                    &#8226;&nbsp;<a href="/42782.html" target="_blank">Lowa09负重远足系列经典款</a><br>
                    &#8226;&nbsp;<a href="http://u.8264.com/space-16752722-do-blog-id-85851.html" target="_blank">经典时尚TEVA小童鞋再创新高</a><br>
                    &#8226;&nbsp;<a href="/45783.html" target="_blank">party animal系列多变异形帽</a><br>
                </div>
                </td>
                <td width="207" align="right"><a href="/46693.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/013.jpg" width="165" height="203" border="0" /></a></td>
                <td width="220" align="right"><a href="/46521.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/014.jpg" width="165" height="203" border="0" /></a></td>
                <td width="217" align="right"><a href="/46539.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/015.jpg" width="165" height="203" border="0" /></a></td>
                <td width="86" align="left">&nbsp;</td>
              </tr>
            </table>
        </div>
        <div class="jian5">
        	<table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="260">&nbsp;</td>
                <td width="217" align="right">
                	<div class="wen">选用高清洁白鹅绒膨松度达750，使衣服具有<a href="/46693.html" target="_blank">更多>></a></div>
                </td>
                <td width="220" align="right">
                	<div class="wen">轻薄舒适，方便户外和日常使用，优化女性<a href="/46521.html" target="_blank">更多>></a></div>
                </td>
                <td width="217" align="right">
                	<div class="wen">追求个性，引领时尚，亦不乏新潮、时尚、<a href="/46539.html" target="_blank">更多>></a></div>
                </td>
                <td width="86" align="left">&nbsp;</td>
              </tr>
            </table>
        </div>
        <div class="mid5_1">
        	<table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="364" align="right"><a href="/44210.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/016.jpg" width="165" height="203" border="0" /></a></td>
                <td width="272" align="center"><a href="/43978_5.html#news_text" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/017.jpg" width="165" height="203" border="0" /></a></td>
                <td width="364" align="left"><a href="/46522.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/018.jpg" width="165" height="203" border="0" /></a></td>
              </tr>
			</table>
        </div>
        <div class="bottom5">
        	<table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="364" align="right">
                	<div class="wen">专注于出色品质，功能强大，经典的设计风格<a href="/44210.html" target="_blank">更多>></a></div>
                </td>
                <td width="272" align="center">
                	<div class="wen">经典外观，全天候日常用健行鞋，柔韧性好<a href="/43978_5.html#news_text" target="_blank">更多>></a></div>
                </td>
                <td width="364" align="left">
                	<div class="wen">冬季Trekking系列裤子，材料为斜纹G-1000
<a href="/46522.html" target="_blank">更多>></a></div>
                </td>
              </tr>
			</table>
            <div style="width:860px; line-height:1.6; text-align:left; margin:40px auto 0px auto;">  在众多装备中总有那一些让驴友赞叹不已。也许它是皇家装备的“前生”，也许它的产品演绎着“美”的传说，也许它有着让你叹为观止的“工艺流程”，所折射出的品牌文化和外在风格及无可比拟的功能性都是首屈一指的，我们堪称为 “经典”。</div>
        </div>
    </div>
    <div class="feng"></div>
    <div class="con2">
    	<div class="title2">
        	<div class="title2_bai"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/title6bai.jpg" width="193" height="30" border="0" /></div>
        </div>
        <div class="mid2">
            <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="250" align="right" valign="middle"><a href="/46523.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/019.jpg" width="165" height="203" border="0" /></a></td>
                <td width="220" align="right" valign="middle"><a href="http://www.thefirstoutdoorgear.com/?from=8264" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/020.jpg" width="165" height="203" border="0" /></a></td>
                <td width="220" align="right" valign="middle"><a href="/44142.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/021.jpg" width="165" height="203" border="0" /></a></td>
                <td width="310" align="left" valign="top">
               	  <div style="float:left; width:170px; margin:20px 0px 0px 50px!important; margin:20px 0px 0px 25px; line-height:1.8;">
                  	&#8226;&nbsp;<a href="/45281.html" target="_blank">四款990元ACME 三合一冲锋衣</a><br>
                    &#8226;&nbsp;<a href="/43854.html" target="_blank">直接透气技术clorts户外鞋</a><br>
                    &#8226;&nbsp;<a href="/47134.html" target="_blank">男装二层压胶三合一冲锋衣</a><br>
                    &#8226;&nbsp;<a href="/46563.html" target="_blank">步行者BG-T06冲锋裤初体验</a><br>
                    &#8226;&nbsp;<a href="/47125.html" target="_blank">伊思佳四款超值时尚冲锋衣</a><br>
                    &#8226;&nbsp;<a href="/38421.html" target="_blank">思凯乐两层半超轻女款冲锋衣</a><br>
                    &#8226;&nbsp;<a href="http://www.sws-sh.com/productlei.asp?id=97" target="_blank">SWS(塞沃斯)09新款登山鞋</a><br>
                    &#8226;&nbsp;<a href="/46951.html" target="_blank">步行者BG-T06冲锋裤初体验</a><br>
                  </div>
                </td>
              </tr>
          </table>
      	</div>
        <div class="bottom6"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="25%" align="right" valign="middle">
                    <div class="wen">CLORTS依据人体工程学独创的UDFR助跑设计<a href="/46523.html" target="_blank">更多>></a></div>
                </td>
                <td width="22%" align="right" valign="middle">
                    <div class="wen">可完全阻隔雨雪和寒风，并将人体所散发出<a href="http://www.thefirstoutdoorgear.com/?from=8264" target="_blank">更多>></a></div></td>
                <td width="22%" align="right" valign="middle">
                    <div class="wen">可拆立体式风帽配合贴身剪裁更好的提升了<a href="/44142.html" target="_blank">更多>></a></div>
                </td>
                <td width="31%">&nbsp;</td>
              </tr>
            </table> 
		</div>
    </div>
    <div class="feng"></div>
    <div class="con3">
    	<div class="title3">
        	<div class="title3_bai"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/title7bai.jpg" width="193" height="30" border="0" /></div>
        </div>
        <div class="mid3">
            <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="260"><div style="float:right; width:170px; margin:20px 0px 0px 0px!important; margin:20px 0px 0px 0px; line-height:1.8;text-align:left;">
                  	&#8226;&nbsp;<a href="/38136.html" target="_blank">完美结合Northland滑雪服</a><br>
                    &#8226;&nbsp;<a href="/36739.html" target="_blank">国内“最贵”的十款滑雪服</a><br>
                    &#8226;&nbsp;<a href="/37022.html" target="_blank">TTISS双板经典滑雪服测评</a><br>
                    &#8226;&nbsp;<a href="/45999.html" target="_blank">2009-2010滑雪镜选购报告</a><br>
                    &#8226;&nbsp;<a href="/46752.html" target="_blank">五款最主流的超值滑雪服</a><br>
                    &#8226;&nbsp;<a href="/38062.html" target="_blank">Ttiss滑雪服良好的减震功能</a><br>
                    &#8226;&nbsp;<a href="/46531.html" target="_blank">细品Smith I/O顶级滑雪镜</a><br>
                    &#8226;&nbsp;<a href="/46928.html" target="_blank">NORTHLAND带来滑雪新体验</a><br>
                </div></td>
                <td width="217" align="right"><a href="/46526.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/022.jpg" width="165" height="203" border="0" /></a></td>
                <td width="220" align="right"><a href="/46527.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/023.jpg" width="165" height="203" border="0" /></a></td>
                <td width="217" align="right"><a href="/45783.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/024.jpg" width="165" height="203" border="0" /></a></td>
                <td width="86" align="left">&nbsp;</td>
              </tr>
            </table>
		</div>
        <div class="bottom3">
        	<table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="260">&nbsp;</td>
                <td width="217" align="right">
                	<div class="wen">为专业竞技滑雪设计的高端男款雪服，高科技的<a href="/46526.html" target="_blank">更多>></a></div>
                </td>
                <td width="220" align="right">
                	<div class="wen">科技感强，无论从感官还是内在功能设置都给人<a href="/46527.html" target="_blank">更多>></a></div>
                </td>
                <td width="217" align="right">
                	<div class="wen">专业设计，追求个性，引领时尚，演绎着欧洲的经典<a href="/45783.html" target="_blank">更多>></a></div>
                </td>
                <td width="86" align="left">&nbsp;</td>
              </tr>
            </table>
            <div style="width:860px; line-height:1.6; text-align:left; margin:45px auto 0px auto;">滑雪服是今年冬季最畅销的单品之一，打造“专业”的滑雪服是商家追求的宗旨。面料耐用且质地轻柔，适应雪场严酷的雪环境和寒冷气候；细节设计都充分考虑滑雪运动的特点，科技感强，无论从感官还是内在功能设置都给人以科技、专业的第一认知，穿着舒适，为您带来完美的舒适滑雪体验。</div>
        </div>
    </div>
    <div class="feng"></div>
    <div class="con2">
    	<div class="title2">
        	<div class="title2_bai"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/title8bai.jpg" width="193" height="30" border="0" /></div>
        </div>
        <div class="mid2">
            <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="250" align="right" valign="middle"><a href="http://www.vaude.com/epages/Vaude-de.sf/?ObjectPath=/Shops/Vaude/Products/06285/SubProducts/062855360600&Locale=zh_CN&NavSignature=4,4" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/025.jpg" width="165" height="203" border="0" /></a></td>
                <td width="220" align="right" valign="middle"><a href="/46529.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/026.jpg" width="165" height="203" border="0" /></a></td>
                <td width="220" align="right" valign="middle"><a href="http://u.8264.com/space-16752722-do-blog-id-85851.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/027.jpg" width="165" height="203" border="0" /></a></td>
                <td width="310" align="left" valign="top">
               	  <div style="float:left; width:170px; margin:20px 0px 0px 50px!important; margin:20px 0px 0px 25px; line-height:1.8;text-align:left;">
                  	户外童装以其独特的视角诠释着户外新气息，功能性与成人装备相比有过之而无不及 ，同时也增加了更多人性化的设计,款式和颜色搭配呈现出可爱活泼的活力，成为孩子冬季出行首选装备,随着户外市场的扩大，童装市场比例也将随之增加.<br>
                  </div>
                </td>
              </tr>
          </table>
      	</div>
        <div class="bottom6"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="25%" align="right" valign="middle">
                    <div class="wen">这款童裤采用高科技面料，立体裁剪<a href="http://www.vaude.com/epages/Vaude-de.sf/?ObjectPath=/Shops/Vaude/Products/06285/SubProducts/062855360600&Locale=zh_CN&NavSignature=4,4" target="_blank">更多>></a></div>
                </td>
                <td width="22%" align="right" valign="middle">
                    <div class="wen">对比色设计，2个覆盖式拉链口袋，双层挡边
<a href="/46529.html" target="_blank">更多>></a></div></td>
                <td width="22%" align="right" valign="middle">
                    <div class="wen">TEVA是一个产生在美国的户外品牌，产品线<a href="http://u.8264.com/space-16752722-do-blog-id-85851.html" target="_blank">更多>></a></div>
                </td>
                <td width="31%">&nbsp;</td>
              </tr>
            </table> 
		</div>
    </div>
    <div class="feng"></div>
    <div class="con3">
    	<div class="title3">
        	<div class="title3_bai"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/title9bai.jpg" width="193" height="30" border="0" /></div>
        </div>
        <div class="mid3">
            <table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="260"><div style="float:right; width:170px; margin:20px 0px 0px 0px!important; margin:20px 0px 0px 0px; line-height:1.8; text-align:left;">
                  	&#8226;&nbsp;<a href="/37742.html" target="_blank">OUTDOOR RESEARCH功能外衣</a><br>
                    &#8226;&nbsp;<a href="/37749.html" target="_blank">四款Fjallraven情侣装衬衣</a><br>
                    &#8226;&nbsp;<a href="/37752.html" target="_blank">奥索卡男女压胶冲锋裤[组图]</a><br>
                    &#8226;&nbsp;<a href="/37777.html" target="_blank">日高“情人”节服装展示[图]</a><br>
                    &#8226;&nbsp;<a href="/37765.html" target="_blank">KAILAS--当猎风遇上雨燕[图]</a><br>
                    &#8226;&nbsp;<a href="/37722.html" target="_blank">Vasque情侣户外鞋推荐[图]</a><br>
                    &#8226;&nbsp;<a href="/37740.html" target="_blank">Lowa AL-X系列徒步鞋[组图]</a><br>
                    &#8226;&nbsp;<a href="/45341.html" target="_blank">MANGROVE(曼哥夫)时尚情侣装</a><br>
                </div></td>
                <td width="217" align="right"><a href="/46535.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/028.jpg" width="165" height="203" border="0" /></a></td>
                <td width="220" align="right"><a href="/46534.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/029.jpg" width="165" height="203" border="0" /></a></td>
                <td width="217" align="right"><a href="/44755.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2009winter/images/030.jpg" width="165" height="203" border="0" /></a></td>
                <td width="86" align="left">&nbsp;</td>
              </tr>
            </table>
		</div>
        <div class="bottom9">
        	<table width="1000" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="260">&nbsp;</td>
                <td width="217" align="right">
                	<div class="wen">时尚格子面料抓绒服，并具有抗静电功能<a href="/46535.html" target="_blank">更多>></a></div>
                </td>
                <td width="220" align="right">
                	<div class="wen">标准化电脑立体裁剪，依照中国人体形结构特点<a href="/46534.html" target="_blank">更多>></a></div>
                </td>
                <td width="217" align="right">
                	<div class="wen">典型却不失女性温柔的户外拼色，增加了款式<a href="/44755.html" target="_blank">更多>></a></div>
                </td>
                <td width="86" align="left">&nbsp;</td>
              </tr>
            </table>
        </div>
    </div>
    <div class="bottom"><div class="bottom"><a href="/ziliao/about/aboutus.php" target="_blank">关于我们</a> | <a href="/ziliao/about/aboutus.php" target="_blank">联系我们</a> | <a href="/8954.html">给我留言</a> |  <a href="/ziliao/sitemap.html" target="_blank">网站地图</a> | <a href="/ziliao/ggservice/index.html" target="_blank">广告服务</a> | <a href="/list/531/" target="_blank">编辑部的故事</a> | <a href="http://u.8264.com/job-viewpos-pid-2-op-inc.html" target="_blank" style="color:#FF0000;">8264招聘</a> | <a href="/sitelink/index.html" target="_blank">友情连接</a><br>服务热线：022-23708264 | 传真：022-23708323 | 地址：天津市新技术产业园华苑产业区华天道8号海泰信息广场C座1001号<br>除了脚印什么都不留下除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn" target="_blank">津ICP备05004140号-1</a></div>
</div>
</div>
</body>
</html>
