<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>LOWA户外十年探索 永不止步</title>
<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/201505lowa/style/style.css">
<script src="http://static.8264.com/oldcms/moban/zt/201505lowa/js/jquery-1.9.1.min.js"></script>
</head>

<body>
<div class="branner">
	<ul class="brannercon">
		<li class="branner1"></li>
		<li class="branner2"><a href="http://detail.tmall.com/item.htm?spm=a1z10.3-b.w4011-8337146559.83.GPj3q0&id=38898172927&rn=02b956be20652f94eee270642256125b" target="_blank"></a></li>
		<li class="branner3"><a href="http://detail.tmall.com/item.htm?spm=a1z10.3-b.w4011-8337146559.66.GPj3q0&id=40315367616&rn=02b956be20652f94eee270642256125b&abbucket=16" target="_blank"></a></li>
	</ul>
	<div class="shuzi">
		<span class="ts"></span>
		<span></span>
		<span></span>
	</div>
</div>
<div class="con1">
	<div class="w980 pr h920">
		<div class="shipin"><embed src="http://player.youku.com/player.php/sid/XOTU2MTMxMzg4/v.swf" allowFullScreen="true" quality="high" width="568" height="346" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></div>
		<a href="http://bbs.8264.com/thread-2400811-1-1.html" class="bmbutton" target="_blank"></a>
	</div>
</div>
<div class="con2">
	<div class="w980">
		<div class="porductlist clear_b">
			<ul>
				<li>
					<a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.bj3JWA&id=39352649687&sku_properties=1627207:28335" target="_blank">
						<span class="pimg"><img src="http://static.8264.com/oldcms/moban/zt/201505lowa/images/1.jpg"/></span>
						<span class="pname">户外旅行休闲鞋透气轻便MOJA女式低帮鞋 L320772</span>
					</a>
				</li>
				<li>
					<a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.bj3JWA&id=39352473969" target="_blank">
						<span class="pimg"><img src="http://static.8264.com/oldcms/moban/zt/201505lowa/images/2.jpg"/></span>
						<span class="pname">户外休闲旅行鞋轻便透气MERION女式低帮鞋L320766</span>
					</a>
				</li>
				<li>
					<a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.bj3JWA&id=41169839750" target="_blank">
						<span class="pimg"><img src="http://static.8264.com/oldcms/moban/zt/201505lowa/images/3.jpg"/></span>
						<span class="pname">户外防水透气徒步鞋SIRKOS GTX男式低帮鞋L310652</span>
					</a>
				</li>
				<li>
					<a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.bj3JWA&id=18907247488" target="_blank">
						<span class="pimg"><img src="http://static.8264.com/oldcms/moban/zt/201505lowa/images/4.jpg"/></span>
						<span class="pname">德国大牌户外徒步鞋VIENNA GTX女式低帮鞋LTR12209</span>
					</a>
				</li>
				<li>
					<a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.WpYV5a&id=41304258816" target="_blank">
						<span class="pimg"><img src="http://static.8264.com/oldcms/moban/zt/201505lowa/images/5.jpg"/></span>
						<span class="pname">登山鞋户外鞋透气舒适GHIBLMESH女式低帮鞋LAT13210</span>
					</a>
				</li>
				<li>
					<a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.WpYV5a&id=41328137118" target="_blank">
						<span class="pimg"><img src="http://static.8264.com/oldcms/moban/zt/201505lowa/images/6.jpg"/></span>
						<span class="pname">户外旅行鞋防水徒步SEVILLA GTX女式低帮鞋LTR12251</span>
					</a>
				</li>
				<li>
					<a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.WpYV5a&id=22711360691" target="_blank">
						<span class="pimg"><img src="http://static.8264.com/oldcms/moban/zt/201505lowa/images/7.jpg"/></span>
						<span class="pname">户外休闲鞋牛皮鞋徒步鞋RIO女式低帮鞋 LTR12205</span>
					</a>
				</li>
				<li>
					<a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.WpYV5a&id=41304958211" target="_blank">
						<span class="pimg"><img src="http://static.8264.com/oldcms/moban/zt/201505lowa/images/8.jpg"/></span>
						<span class="pname">户外登山鞋INNOX GTX女式低帮鞋 LAT13217</span>
					</a>
				</li>
				<li>
					<a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.WpYV5a&id=36181692027" target="_blank">
						<span class="pimg"><img src="http://static.8264.com/oldcms/moban/zt/201505lowa/images/9.jpg"/></span>
						<span class="pname">牛皮户外鞋登山鞋KODY GTX男式中帮鞋LAT12508</span>
					</a>
				</li>
				<li>
					<a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.JUn5mP&id=41283783463" target="_blank">
						<span class="pimg"><img src="http://static.8264.com/oldcms/moban/zt/201505lowa/images/10.jpg"/></span>
						<span class="pname">男款秋冬防水户外鞋ZEPHYR GTX男式中帮鞋LAT13513</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="con3">
	<div class="w980 pt100">
		<object id="FlashID" width="100%" height="400" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
            <param value="http://static.8264.com/oldcms/moban/zt/201505lowa/flash/cover-flow.swf" name="movie">
            <param value="high" name="quality">
            <param value="transparent" name="wmode">
            <param value="http://static.8264.com/oldcms/moban/zt/201505lowa/flash/" name="base">
            <param value="6.0.65.0" name="swfversion">
            <param value="http://static.8264.com/oldcms/moban/zt/201505lowa/Scripts/expressInstall.swf" name="expressinstall">
            <object width="100%" height="400" data="http://static.8264.com/oldcms/moban/zt/201505lowa/flash/cover-flow.swf" type="application/x-shockwave-flash">
                <param value="high" name="quality">
                <param value="transparent" name="wmode">
                <param value="http://static.8264.com/oldcms/moban/zt/201505lowa/flash/" name="base">
                <param value="6.0.65.0" name="swfversion">
                <param value="http://static.8264.com/oldcms/moban/zt/201505lowa/Scripts/expressInstall.swf" name="expressinstall">
            </object>
        </object>
	</div>
</div>
<div class="con4">
</div>
<div class="footer">
	<div class="footercon">
		<p class="footer_l">8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106<br>
			<a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
		<p class="footer_r"><a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a> | <a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a> | <a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a> | <a target="_blank" href="http://www.8264.com/link/">户外网址大全</a> | <a target="_blank" href="http://www.8264.com/sitemap">网站地图</a></p>
		<div class="clear"></div>
	</div>
</div>

<script>
// 轮播开始
$(function(){
	 var shuliang = $(".brannercon li").size();
	 var lunbotime;
	 var index = 0;
	$(".shuzi span").mouseenter(function(){	
		var index = $(this).index();
		$(this).addClass("ts").siblings().removeClass("ts");
		$(".brannercon li").eq(index).show().siblings().hide(0);
	});	
	$(".branner").hover(
		function(){
			clearInterval(lunbotime);		
		},function(){
			lunbotime = setInterval(function(){	
				$(".shuzi span").eq(index).addClass("ts").siblings().removeClass("ts");
				$(".brannercon li").eq(index).show().siblings().hide(0);	
				index++;
				if(index == shuliang ){
					index=0;
				};		
			},3000);					
		}).trigger("mouseleave");
});
// 轮播结束
</script>

</body>
</html>
