<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>寻找，未曾发现的自己</title>
</head>

<body style="margin:0 auto;">
<div style="width:980px; margin:0 auto; padding:0px;">
	<div><img src="http://static.8264.com/oldcms/moban/zt/oad/images/1.jpg" width="980" height="151" border="0"/></div>
	<div><img src="http://static.8264.com/oldcms/moban/zt/oad/images/2.jpg" width="980" height="155" border="0"/></div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/oad/images/3.jpg" width="980" height="146" border="0"/></div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/oad/images/4.jpg" width="980" height="182" border="0"/></div>
</div>
</body>
</html>
