<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>kroceus</title>
<link href="http://static.8264.com/oldcms/moban/zt/kroceus/style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
	<div><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/banner.jpg" width="960" height="370" border="0" /></div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/guanfangtit.jpg" width="960" height="120" border="0" /></div>
    <div class="showareagf">
    <p>
KROCEUS上海嘉麟杰运动用品公司推出的品牌。
    </p>
    <p>
上海嘉麟杰运动用品有限公司系上海嘉麟杰纺织品股份有限公司全资子公司，是中国第一家成为世界上最严格的环保标准bluesign&nbsp;system合作伙伴。作为高新技术企业，关注户外产品研发、设计、制造，力争服装细节的完美，制造高品质优设计的产品。旨在为消费者提供质优、高性价比的商品和专业服务，向消费者开启户外、城市生活与自然间的真谛，享受KROCEUS服装“Anywear，Everywhere”的产品和心灵体验。
    </p>
	<p>
KROCEUS（科诺&#8226;修思）取大地的原色之意，寻求户外环保自然之真实，将高品质户外服装赋予享受户外的自然理念，追求自然和城市的平衡生活方式，拉近户外和城市之间的距离。KROCEUS品牌通过服装向消费者传递回归自然、返璞归真、与自然为友、与心相依的生活理念。作为中国造的KROCEUS，突破了传统户外冲锋衣的市场，更加关注户外中间层和内层。将质优舒适，并具环保意识、最自然的MERINO&nbsp;WOOL（运动羊毛）系列和世界第一抓绒并全面覆盖内层、中间层、内层的POLARTEC整合纳入KROCEUS的CHALLENGE（酷爱专业级）；ENCHANT（爱好户外级）；IGNITE（向往自然级）三大系列中。
    </p>
    <p>
在注重功能性的同时，KROCEUS最大化开发适合喜欢大自然、喜欢外出郊游、旅行的都市人的穿衣风格，将融合流行服饰趋势和理念的高品质的户外产品带给国内的消费者。因此，在设计开发、工艺制造上KROCEUS严格把控，采用世界领先的高品质原料，聘用日本、欧洲一流的的设计团队，控制生产流程，从色彩、工艺等各个细节为你呈现户外的时尚以及在都市不一样的风采，让“你和我”都能走出去，放松一下。追求自然和城市的平衡生活方式，拉近户外和城市之间的距离。
    </p>
    </div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/jingpintit.jpg" width="960" height="135" border="0" /></div>
    <div class="jingpinshow">
    	<div class="arrowl"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/arrowl.jpg" width="80" height="240" border="0" /></div>
        	<div class="gundong" id="de">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td id="de1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                	<div class="jpimgall">
                    	<div class="jpimg"><a href="http://www.kroceus.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/k1.jpg" width="170" height="225" border="0" /></a></div>
                    </div>
               	</td> 
                <td>
                	<div class="jpimgall">
                    	<div class="jpimg"><a href="http://www.kroceus.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/k2.jpg" width="170" height="225" border="0" /></a></div>
                    </div>
               	</td>
                <td>
                	<div class="jpimgall">
                    	<div class="jpimg"><a href="http://www.kroceus.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/k3.jpg" width="170" height="225" border="0" /></a></div>
                    </div>
               	</td>
                <td>
                	<div class="jpimgall">
                    	<div class="jpimg"><a href="http://www.kroceus.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/k4.jpg" width="170" height="225" border="0" /></a></div>
                    </div>
               	</td>
                <td>
                	<div class="jpimgall">
                    	<div class="jpimg"><a href="http://www.kroceus.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/k5.jpg" width="170" height="225" border="0" /></a></div>
                    </div>
               	</td>
                <td>
                	<div class="jpimgall">
                    	<div class="jpimg"><a href="http://www.kroceus.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/k6.jpg" width="170" height="225" border="0" /></a></div>
                    </div>
               	</td>
                <td>
                	<div class="jpimgall">
                    	<div class="jpimg"><a href="http://www.kroceus.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/k7.jpg" width="170" height="225" border="0" /></a></div>
                    </div>
               	</td>
                <td>
                	<div class="jpimgall">
                    	<div class="jpimg"><a href="http://www.kroceus.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/k8.jpg" width="170" height="225" border="0" /></a></div>
                    </div>
               	</td>
                <td>
                	<div class="jpimgall">
                    	<div class="jpimg"><a href="http://www.kroceus.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/k9.jpg" width="170" height="225" border="0" /></a></div>
                    </div>
               	</td>
                <td>
                	<div class="jpimgall">
                    	<div class="jpimg"><a href="http://www.kroceus.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/k10.jpg" width="170" height="225" border="0" /></a></div>
                    </div>
               	</td>
                <td>
                	<div class="jpimgall">
                    	<div class="jpimg"><a href="http://www.kroceus.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/k11.jpg" width="170" height="225" border="0" /></a></div>
                    </div>
               	</td>
                <td>
                	<div class="jpimgall">
                    	<div class="jpimg"><a href="http://www.kroceus.com/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/k12.jpg" width="170" height="225" border="0" /></a></div>
                    </div>
               	</td>             
              </tr>
            </table></td>
            <td id="de2">&nbsp;</td>
          </tr>
        </table>
        <script language=JavaScript type=text/javascript>
                    function GetObj01(objName){
                        if(document.getElementById){
                            return eval('document.getElementById("' + objName + '")');
                        }else if(document.layers){
                            return eval("document.layers['" + objName +"']");
                        }else{
                            return eval('document.all.' + objName);
                        }
                    }
                      var speed01=10//速度数值越大速度越慢
                      GetObj01("de2").innerHTML=GetObj01("de1").innerHTML
                      function Marquee01(){
                          if(GetObj01("de").scrollLeft<=0)
                          GetObj01("de").scrollLeft=GetObj01("de1").offsetWidth
                          else{
                            GetObj01("de").scrollLeft--
                          }
                      }
                      var MyMar01=setInterval(Marquee01,speed01)
                      GetObj01("de").onmouseover=function() {clearInterval(MyMar01)}
                      GetObj01("de").onmouseout=function() {MyMar01=setInterval(Marquee01,speed01)}
                      </script>
      </div>
        <div class="arrowr"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/arrowr.jpg" width="80" height="240" border="0" /></div>
        <div style="clear:both;"></div>
    </div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/chanpintit.jpg" width="960" height="135" border="0" /></div>
    	<div class="showareacp">
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-713.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/1.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>KRID25男式半襟拉链衫</h3>
                    <h2>经过实际的冬季户外自行车活动体验和近期的穿着感受，Kroceus&nbsp;KRID25确实是一块不错的抓绒，在作为Baselayer与皮肤直接接触时，提供了舒适的贴身感受，还能提供足够的保暖性能，可以作为保暖层满足&#8230;&#8230;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-713.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-634.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/2.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>KRID25男式半襟拉链衫</h3>
                    <h2>抓绒采用polartec&nbsp;classic&nbsp;micro面料，十分轻软，易于压缩，单层的保暖性一般，室内测试耐寒温度在十度以上，配合厚抓绒作为中间层打底，提高舒适性，和提升耐寒温度还是一个不错的选择。
或者用于春秋季骑行用途&#8230;&#8230;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-634.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-680.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/3.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>KRID47女式拉链风帽衫</h3>
                    <h2>衣服的整体感觉可以用四个字来形容：简洁，大方，这也正是我喜欢它的最主要的原因，颜色也是非常鲜亮的黑色，尤其是穿在身上，在太阳下会有亮晶晶的感觉，仿佛黑晶石般，呵呵，好像夸张了点，总之是&#8230;&#8230;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-680.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-705.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/4.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>KRID89男式镶拼防风外套</h3>
                    <h2>该衣服防风效果非常好，保暖性极佳，重量轻，细节设计好，面料非常不错，做工细致，穿着时尚。&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-705.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-819.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/5.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>KRID28男式HIGH&nbsp;LOFT抓绒衣</h3>
                    <h2>保暖性比一般100型抓绒衣稍好。游完跑步热身直到出汗，感觉透气性很好，没有汗气受阻感觉。第二天和朋友去骑车，同样着装，感觉依然。结论: 透气性好，防风性一般、保暖性较好。&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-819.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-786.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/6.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>KRID28男式HIGH&nbsp;LOFT抓绒衣</h3>
                    <h2>衣服后摆的设计我很喜欢，比前面长了不少，保证在大幅度运动的时候不会把后腰暴露出来，骑山地车的时候就显出这个设计的贴心之处了；下摆处用的是弹性收口，没有使用其他抓绒衣长用的抽绳收紧系统，前面的双拉链&#8230;&#8230;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-786.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-1006.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/7.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>SH124M&nbsp;男式休闲衬衫-设计师款</h3>
                    <h2>本款KROCEUS休闲衬衫，集户外与休闲于一身，兼顾功能与舒适。别处心裁的羊毛、polartec&nbsp;power&nbsp;dry结合；拉链与纽扣混搭设计，体现了该公司的设计理念，突破传统&#8230;&#8230;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-1006.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-1082.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/8.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>CT020L&nbsp;羊毛短袖连帽衫</h3>
                    <h2>浸泡后按压清水漂净，甩干，撑展开悬挂阴干，2小时后检查没有变形和缩水。我十分满意。美丽诺羊毛衫设计新颖，用料考究，手感顺滑富有弹性；利用纤细羊毛的柔软吸湿性强的特点，穿着舒适，人体曲&#8230;&#8230;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-1082.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-1113.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/9.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>CT063男士短袖Polo衫</h3>
                    <h2>衣服属于羊毛，特有档次，手感超好，衣服能锁定温度，据有调节功能，最大的优点是：可以水洗，而不需要你劳师动众的去干洗它，省钱啊！&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-1113.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-1086.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/10.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>CT063男士短袖Polo衫</h3>
                    <h2>在穿着kroceus羊毛运动衫跑步的时候，第一是因为吸湿性很强，衣服不会粘贴在身上，另外他的下垂感很好，也不会带走身上的全部热量，身体不会有很冰凉的感觉。南方天气闷热，出汗很多，其他的快干衣物，因为汗水&#8230;&#8230;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-1086.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-1122.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/11.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>CT019男式短袖半襟衫</h3>
                    <h2>羊毛强调具有良好的温度调节功能，是这次我重点去感受的，在满头大汗冲出球馆时候，室外温度不高甚至有点冷，在驾驶电动自行车途中有5分钟未穿着外套，在风中没有感到冷（也即是打冷颤）的感觉，相比&#8230;&#8230;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-1122.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-1187.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/12.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>CT060男式短袖圆领T-SHIRT</h3>
                    <h2>本款衣服的确速干，不会糊在身上。Polartec的排汗性能卓越。领口，袖口舒适。掖下的拼接布料也很不错，软，柔，不扎哈哈。颜色庄重，但是我认为黑色太吸热啦。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-1187.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-1133.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/13.jpg" width="175" height="160" border="0" /></a></div>
              <div class="chanpintxt">
                    <h3>CT060&nbsp;男式短袖圆领T-SHIRT</h3>
                    <h2>经典黑色，庄重。户外穿，也耐脏。布料柔软，尤其是腋下镶拼部分有一定的拉伸性，穿着很舒适。  透气性强，一般不太热天气感到凉爽，身上热量，汗挥发快，皮肤较干爽，没有燥热感。logo采用夜间反射功能，实测&#8230;&#8230;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-1133.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-1175.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/14.jpg" width="175" height="160" border="0" /></a></div>
                <div class="chanpintxt">
                    <h3>CT055L女式短袖圆领T-SHIRT</h3>
                    <h2>衣服做工一流，上档次；穿着舒适，出汗也不沾身；衣服的透气性值得称赞；洗后不变形，不缩水；水洗很简单易行；衣物垂度很好；感觉在城市或者是休闲游更适合。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-1175.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-1263.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/15.jpg" width="175" height="160" border="0" /></a></div>
              <div class="chanpintxt">
                <h3>CT060L 女式短袖圆领T-SHIRT</h3>
                  <h2>身上的KROCEUS（KR）女式Polartec&reg;Power&nbsp;Dry短袖圆领T-SHIRT也在一小时后湿透了，这个过程比别人穿着普通速干衣要来得更迟一些，这得益于其超强的排汗能力的缘故（实际上是采用特殊的双层针织面料&#8230;&#8230;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-1263.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div class="blkfl">
			<div class="chanpinblk">
            	<div class="chanpinpic"><a href="http://u.8264.com/sup-reportinfo-id-1223.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kroceus/images/16.jpg" width="175" height="160" border="0" /></a></div>
              <div class="chanpintxt">
                <h3>CT060L女式短袖圆领T-SHIRT</h3>
                  <h2>轻便、柔软、不起皱、垂性好、易于打理；整体做工很讲究，尤其是领口和掖下的布料拼接做工很不错；排汗性能卓越，不粘皮肤&#8230;&#8230;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u.8264.com/sup-reportinfo-id-1223.html" target="_blank">详细>>></a></h2>
                </div>
                <div style="clear:both; height:10px; overflow:hidden;"></div>
            </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    <DIV class=bottom>
            <A href="http://www.8264.com/ziliao/about/aboutus.php" 
    target=_blank>关于我们</A> | <A href="http://www.8264.com/ziliao/about/aboutus.php" 
    target=_blank>联系我们</A> | <A href="http://www.8264.com/8954.html">给我留言</A> | <A 
    href="http://www.8264.com/ziliao/sitemap.html" target=_blank>网站地图</A> | <A 
    href="http://www.8264.com/ziliao/ggservice/index.html" target=_blank>广告服务</A> | 
    <A href="http://www.8264.com/list/531/" target=_blank>编辑部的故事</A> | <A 
    href="http://www.8264.com/sitelink/index.html" 
    target=_blank>友情连接</A><BR>服务热线：022-23708264 | 传真：022-23708323 | 
    地址：天津市新技术产业园区华天道8号海泰信息广场C座1001号<BR>除了脚印什么都不留下除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。&nbsp;&nbsp;&nbsp;&nbsp;<A 
    href="http://www.miibeian.gov.cn/" 
    target=_blank>津ICP备05004140号-1</A>
            </DIV>
</div>
</body>
</html>
