<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>中国凉都-六盘水 2013全国露营大会 | 露营 | 户外运动 | 山地车 | 帐篷 | 六盘水 |</title>
<link href="http://static.8264.com/oldcms/moban/zt/sixpanshui/style/style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/sixpanshui/lib/jquery.ad-gallery.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://static.8264.com/oldcms/moban/zt/sixpanshui/lib/jquery.ad-gallery.js"></script>
<script type="text/javascript">
$(function() {
  var galleries = $('.ad-gallery').adGallery(); 
});
</script>




</head>

<body>
<div class="branner"></div>
<div class="mid">
    <div class="navcon">
        <a href="http://www.8264.com/" target="_blank">网站首页</a>
        <a href="#a2">活动概况</a>   
        <a href="#a3">活动项目</a>
        <a href="http://www.mytentlife.com/camping/22.html" target="_blank">报名须知</a>   
        <a href="http://www.mytentlife.com/notice/127.html" target="_blank">注意事项</a>
        <a href="#a6">中国凉都</a>  
        <a href="#a7">旅游景点</a>
        <a href="#a8">风俗民情</a>  
        <a href="http://www.mytentlife.com/camping/22.html" target="_blank">报名通道</a>
        <a href="http://bbs.8264.com/" target="_blank">官方论坛</a>
    </div>
    <div class="mid1"><a name="a2"></a>
    	<div class="lunbo">
            <iframe src="http://static.8264.com/oldcms/moban/zt/sixpanshui/lunbo.html" frameborder="0"  scrolling="no" height="264" width="396" marginheight="0" marginwidth="0"></iframe>
        </div>
        <div class="left1">
<p>中国凉都-六盘水 ·2013 全国露营大会是乘贵州旅发大会的东风，中国登山协会携手六
盘水市人民政府携手打造六盘水户外旅游新形象的最佳解决方案。具体形式为"大规模帐篷
露营+户外赛事+场地户外游戏+篝火晚会"，为期3天。16日报到，17日全天活动，18日活
动结束。</p>
<p>本次露营大会集多种户外运动形式于一体，辅以饮食等服务，把旅游、文化、全民健身、
商贸相结合——专业与大众结合、运动与产业的结合、旅游与户外的结合。<a href="http://www.mytentlife.com/camping/22.html" target="_blank">[详细]</a></p>
<p>
项目名称 ：中国凉都 -六盘水·2013 全国露营大会<br>
项目日期 ：2013 年8月16-18日，活动为期3天。<br>
项目地点 ：贵州省六盘水市野鸡坪<br>
批准单位 ：国家体育总局<br>
主办单位 ：国家体育总局登山运动管理中心    贵州省体育局    六盘水市人民政府<br>
承办单位 ：贵州省登山运动协会      六盘水市体育局  水城县人民政府<br>
执行单位 ：水城县文体广电旅游局    尼奥（北京）公关 策划有限公司</p>
        </div>
    </div>
    <div class="mid2">
        千人露营<br>
        <p>时间：2013年8月16-18日         营地选址：六盘水市水城县野鸡坪          露营规模：500-1000人          营地面积：约50亩</p>
        活动说明：<br>
        <p>以六盘水及附近地区为主，以全国其他省市为辅，招募500-1000人，总体帐篷数600顶以上。
        8月16日报到，报到处设置在营地的入口处。各个队伍在领队的带领下在报到处登记，在指定的营区露营。露营日期为16-17日两天晚上。
        17日上午开幕式，之后全天举行各种户外活动，晚上举行颁奖晚会。 
        爱好者免费参加，不收取报名费，不收取景区门票，只需要负责自己的饮食及饮用水费用。</p>
        营地规划：<br>
        <p> 营地为野鸡坪山谷中的一片高山草甸。营地平整，野花遍地，阳光充足，周围群山环抱，景色优美。   
        营地占地约50亩。划分成5个区域，分别为指挥安保区、工作人员露营区、会员露营区A\B\C。
        营区配套卫生间、垃圾站、洗漱点、舞台、报到处等。</p>
    </div>
</div>
<div class="mid3">
	<div class="pbl">
        <div class="pbl_l">
            <div class="pbl_one">
                <a href="http://www.mytentlife.com/compete/125.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/huodong/1.jpg"></a>
                <div class="pbl_one_con">
                    <a href="http://www.mytentlife.com/compete/125.html" target="_blank">1、10公里徒步越野</a>
                    <span>2013年8月17日上午9:00-11:30</span>
                    <p>徒步路线：顺时针穿越野鸡坪周边村庄。<br>规模：100-200人<br>报名方式：现场报名。<br><br><b>活动说明</b>：开幕式（8:20-8:50）结束后，参加的队员立即到位于营地的起点处检录，9:30准时发枪。所有队员在领行员的带领下按照既定路线前行。不得超过领行员。中途设置两处打卡点。设置关门时间为2小时分钟。所有在关门时间内完成全程徒步且没有违规的队员获得纪念品1份，并获得晚会上抽大奖的资格。
      比赛路线如图所示。</p>
                </div>
            </div>
            <div class="pbl_one">
                <a href="http://www.mytentlife.com/compete/125.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/huodong/3.jpg"></a>
                <div class="pbl_one_con">
                    <a href="http://www.mytentlife.com/compete/125.html" target="_blank">3、拼图寻宝</a>
                    <span>2013年8月17日上午9:00-11:30</span>
                    <p>地    点：营地西侧开阔谷地。<br>规模：16队，64人.<br>报名方式：现场报名。<br><br><b>活动说明</b>：每队4 人，至少一名异性。<br>两队同时出发，先拼图（六盘水风光图），再下到营地南小山寻宝（提前设好宝贝），之后再限定的时间内返回。找到宝物多者优胜，少者或超时者淘汰，取8组优胜的队伍奖励户外装备及证书。<br>宝物为两类，一类为标志牌，一个算1分，按照找到标志牌的多少计算成绩。另一类为当地提供的纪念品（核桃乳），不计成绩，归找到的队员所有。</p>
                </div>
            </div>
            <div class="pbl_one">
                <a href="http://www.mytentlife.com/compete/125.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/huodong/9.jpg"></a>
                <div class="pbl_one_con">
                    <a href="http://www.mytentlife.com/compete/125.html" target="_blank">6、走扁带</a>
                    <span>2013年8月17日下午13：30-17:30</span>
                    <p>地    点：营地主活动场地。<br>规模：开放性活动，不限人数.<br>报名方式：现场报名。<br><br><b>活动说明</b>：以个人形式参加。报名方式现场报名。<br>架设两条赛道。每条赛道长8 米，扁带距离地面1 米。扁带规格为50mm 宽、3mm 厚， 两端在树桩上固定，赛道下放垫子，且有人员保护。个队员有两次行走机会，第一次为体验，第二次正式计算成绩。取行走距离最远的前6名队员奖励户外装备及证书。</p>
                </div>
            </div>
        </div>
        <div class="pbl_l">
            <div class="pbl_one">
                <a href="http://www.mytentlife.com/compete/125.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/huodong/2.jpg"></a>
                <div class="pbl_one_con">
                    <a href="http://www.mytentlife.com/compete/125.html" target="_blank">2、八抬大轿</a>
                    <span>2013年8月17日上午9:00-11:30</span>
                    <p>地    点：营地东侧小山丘<br>比赛人数：16队，48人。<br>报名方式：现场报名。<br><br><b>活动说明</b>：每组三名队员参赛（两男一女），两名男队员面对面站立，双手交叉对握成“井”字形，做成“轿子”，女队员坐在轿子上，双手扶住男队员头部。比赛开始后，两名男队员抬着坐轿的女队员从起点出发，往前跑50米，率先到达终点者获胜，取8支优胜队伍奖励户外装备及证书。</p>
                </div>
            </div>
            <div class="pbl_one">
                <a href="http://www.mytentlife.com/compete/125.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/huodong/4.jpg"></a>
                <div class="pbl_one_con">
                    <a href="http://www.mytentlife.com/compete/125.html" target="_blank">4、土豆搬家</a>
                    <span>2013年8月17日上午9:00-11:30</span>
                    <p>地    点：主活动场地。<br>规模：16队，160人.<br>报名方式：现场报名。<br><br><b>活动说明</b>：     以队伍形式参加，每队10人。报名方式以网上预先报名为主，现场补报为辅。<br>准备一大堆土豆。10人纵向站成一排，队员间隔大概1米。比赛开始后，工作人员把土豆两个两个地传递给队首的队员，单序号队员（1、3、5、7、9号）从头上传递，双序号队员（2、4、6、8、10号）从腿下传递。最后一个队员把土豆放到自己身后的地上。 <br>运输的过程中队员的脚步不能移动，移动一次扣掉两个土豆。3分钟内，运输土豆多的队伍获胜。<br>取总成绩的前3个队伍，奖励户外装备及证书。</p>
                </div>
            </div>
            <div class="pbl_one">
                <a href="http://www.mytentlife.com/compete/125.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/huodong/4.jpg"></a>
                <div class="pbl_one_con">
                    <a href="http://www.mytentlife.com/compete/125.html" target="_blank">7、露营技能</a>
                    <span>2013年8月17日下午13：30-17:30</span>
                    <p>地    点：营地活动场地。<br>规模：16队，64人。<br>报名方式：以队伍形式参加，每队4人，至少一名异性。<br><br><b>活动说明</b>：以个人形式参赛，以网上报名为主，现场也可组队参加。<br>   活动分两个环节，第一个环节为装睡袋。场地有四个睡袋，要求每队队员人手一个装好。装好的队员马上进行下一环节搭帐篷，4人要搭好2顶帐篷。搭好帐篷后，举手示意，裁判停表计时。单场淘汰赛，抽签分组，取8个优胜队伍。给予户外装备奖励及颁发证书。</p>
                </div>
            </div>
        </div>
        <div class="pbl_r"><a name="a3"></a>
        	<div style=" padding-top:20px"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/logosix.jpg" /></div>
            <div class="pbl_one">
                <a href="http://www.mytentlife.com/compete/125.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013shizuishan/images/huodong/6.jpg"></a>
                <div class="pbl_one_con">
                    <a href="http://www.mytentlife.com/compete/125.html" target="_blank">5、高原角斗士</a>
                    <span>2013年8月17日下午13：30-17:30</span>
                    <p>地    点：营地主活动场地。<br>规模：以队伍为单位参加，每队3人，两男1女.总计12个队伍。<br>报名方式：现场报名。<br><br><b>活动说明</b>：主活动场地划定区域，边长4米的正方形区域。参赛队员用双手抱住脚，单腿跳动，用膝盖撞击对方腰部以下位置。击倒或者出圈即为失败。<br>每个队伍出三名队员，男对男，女对女。三局两胜。<br>上午举行预赛，单场淘汰，取出6个队伍参加下午决赛。<br>下午决赛，先采用单场淘汰赛制取3个队伍，再采用循环赛决出123名。前三个队伍奖励户外装备及证书。</p>
                </div>
            </div>
            <div class="pbl_one">
                <a href="http://www.mytentlife.com/compete/125.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/huodong/8.jpg"></a>
                <div class="pbl_one_con">
                    <a href="http://www.mytentlife.com/compete/125.html" target="_blank">8、趣味袋鼠跳</a>
                    <span>2013年8月17日下午13：30-17:30</span>
                    <p>地    点：营地活动场地。<br>规模：16队，64人.<br>报名方式：现场报名。<br><br><b>活动说明</b>：以队伍形式参加，每队4人，至少一名异性。<br>在主活动场地选取8*30 米区域，警戒带拦截，每次出发两支队伍，采取4 人接力的形式。每个参赛选手必须双脚套进布袋跳30 米。采取单局淘汰赛制，率先到达终点者获胜，总计选8支优胜队伍给予奖励，颁发奖品和证书。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mid3_bottom"></div>
<div class="mid">
	<div class="stitle">文化活动</div>
    <div class="mid pt20">
    	<div class="leftimg">
        	<a href="http://www.mytentlife.com/compete/125.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/huodong/d1.jpg"/></a>
            <div class="tan"></div>
            <a href="http://www.mytentlife.com/compete/125.html" target="_blank" class="tanname">文艺颁奖晚会17日晚20:30-22:00.组织户外爱好者
表演节目，节目提前报名</a>
        </div>
        <div class="rightimg">
        	<a href="http://www.mytentlife.com/compete/125.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/huodong/d2.jpg"/></a>
            <div class="tan"></div>
            <a href="http://www.mytentlife.com/compete/125.html" target="_blank" class="tanname">篝火锅庄舞17日文艺晚会结束后，组织所有露营大会
参与者围着篝火跳锅庄，大家一起载歌载舞，大联欢. 需
要当地政府邀请当地少数民族姑娘领舞.</a>
        </div>
    </div>
    <div class="title">
    	<div class="titleleft">交通安排</div>
        <div class="titleright">活动时间</div>
    </div>
    <div class="mid">
    	<div class="conleft">六盘水市到露营地距离约为40公里，道路狭窄。<br>考虑市区到露营地交通不便，为了保证交通顺畅，特制定了如下交通方案：<br>
        <p><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/map.jpg"/>
1. 所有私家车可以直接开到野鸡坪停车场。<br>2. 不开车的队员携带行李乘坐组委会统一安排的大巴车（公交车）。有偿乘坐，非免费。<br>
3. 活动期间，如果不施行交通管理措施，必将拥堵甚至发生事故。故活动期间的16日上下午17点-21点；18日上午9点至12点，在经常拥堵路段执行交通管理措施，必要时需要封路。<br>4. 队员到达营地会经过报到处，要在领队的带领下进行报到，安排露营位。</p>
       </div>
        <div class="conright"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/table.jpg" /></div>
    </div>
</div>
<div class="mid3">
	<div class="mid" style="padding:40px 0px 0px 0px;">
		<div class="title">营地规划</div>
        <div style="text-align:center; padding:30px 0px;"><a href="http://www.mytentlife.com/notice/127.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/map_1.jpg" border="0"/></a></div>
        <div class="title">中国凉都</div><a name="a6"></a>
        <div class="conimg" id="de">
            <table width="100%"  cellspacing="0" cellpadding="0">
                <tr>
                    <td id="de1">
                        <table width="100%"  cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                	<div class="imglistone">
                                    	<a href="http://www.mytentlife.com/notice/128.html" target="_blank"><img src="http://www.mytentlife.com/zhuanti/liupanshuizhuanti2013/images/liangdupic1.jpg" /></a>
                                        <p><b>中国凉都——六盘水</b><br>六盘水市位于贵州西部，与昆明、成都、重庆、贵阳、南宁五个省会城市的距离均在300-500 公里，是贵州省第三大城市。六盘水是西南地区重要的煤炭钢铁工业基地，有"江南煤都"之称。六盘水市地处云贵川交接，地理位置优越，"凉爽、舒适、滋润、清新、紫外辐射适中"兼备的六盘水，是当之无愧的"中国凉都"。</p>
                                    </div>
                                </td>
                                <td>
                                	<div class="imglistone">
                                    	<a href="http://www.mytentlife.com/notice/128.html" target="_blank"><img src="http://www.mytentlife.com/zhuanti/liupanshuizhuanti2013/images/liangdupic2.jpg" /></a>
                                        <p><b>“江南煤都”到“中国凉都”的战略转型</b><br>中国凉都的提出意味着六盘水的经济支柱产业将开始由工业向旅游休闲产业逐渐转型。随着连续九届消夏文化节的举办，中国凉都的品牌形象已经小成气候，2013年，乘着贵州省旅游发展大会的东风，六盘水市的旅游，户外休闲产业将成为全国关注的焦点。</p>
                                    </div>
                                </td>
                                <td>
                                	<div class="imglistone">
                                    	<a href="http://www.mytentlife.com/notice/128.html" target="_blank"><img src="http://www.mytentlife.com/zhuanti/liupanshuizhuanti2013/images/liangdupic3.jpg" /></a>
                                        <p><b>中国首个山地户外运动大省的打造</b><br>2011年，贵州省体育局制定了《中国贵州山
地户外运动大省专项建设规划》，明确提出打造贵州成为中国首个山地户外运动大省。在此机遇下，凭借良好的山地资源，六盘水将极力树立凉都独特的山地户外运动城市名片，大力发展户外运动。</p>
                                    </div>
                                </td>
                                <td>
                                	<div class="imglistone">
                                    	<a href="http://www.mytentlife.com/notice/128.html" target="_blank"><img src="http://www.mytentlife.com/zhuanti/liupanshuizhuanti2013/images/liangdupic4.jpg" /></a>
                                        <p><b>山地资源丰富</b><br> 六盘水境内岩溶地貌类型齐全，发育典型。
山峦众多，延绵起伏；沟壑纵横，深履险峻。地势西北高，东南低。地面最高点为乌蒙山脉的韭菜坪，海拔在2900.3米，人称“贵州屋脊”；最低点在六枝特区毛口乡北盘江河谷，海拔586米。境内平均海拔在1400-1900米之间。海拔1400米以上的山峰共1020座。  </p>
                                    </div>
                                </td>
                                <td>
                                	<div class="imglistone">
                                    	<a href="http://www.mytentlife.com/notice/128.html" target="_blank"><img src="http://www.mytentlife.com/zhuanti/liupanshuizhuanti2013/images/liangdupic5.jpg" /></a>
                                        <p><b>交通便捷</b> <br>目前，六盘水的立体交通网络已经基本完成，
缩短了与主要客源城市的距离。
    铁路—四省立交桥。贵昆铁路、株六复线横贯东西；南昆铁路、内昆铁路、水柏铁路南北连接。六盘水已经基本形成了北上四川入江、南下广西入海、东出湖南到华东华北、西进云南入东南亚的铁路“十”字大通道，成为西南地区重要的铁路交通枢纽。<br>
航空—六盘水水月照支线机场于2013年开航。<br>
公路—杭瑞高速、水盘高速、毕水兴高速跨境而过。</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td id="de2">&nbsp;</td>
                </tr>
            </table>
			<SCRIPT language=JavaScript type=text/javascript>
            function GetObj01(objName){
            if(document.getElementById){
            return eval('document.getElementById("' + objName + '")');
            }else if(document.layers){
            return eval("document.layers['" + objName +"']");
            }else{
            return eval('document.all.' + objName);
            }
            }
            var speed01=20//速度数值越大速度越慢
            GetObj01("de2").innerHTML=GetObj01("de1").innerHTML
            function Marquee01(){
            if(GetObj01("de").scrollLeft<=0)
            GetObj01("de").scrollLeft=GetObj01("de1").offsetWidth
            else{
            GetObj01("de").scrollLeft--
            }
            }
            var MyMar01=setInterval(Marquee01,speed01)
            GetObj01("de").onmouseover=function() {clearInterval(MyMar01)}
            GetObj01("de").onmouseout=function() {MyMar01=setInterval(Marquee01,speed01)}
            </SCRIPT>
    	</div>
        <div class="title">旅游景点</div><a name="a7"></a>
        <div id="container">
            <div id="gallery" class="ad-gallery">
              <div class="ad-image-wrapper"></div>
              <div class="ad-nav">
                <div class="ad-thumbs">
                    <ul class="ad-thumb-list">
                        <li><a href="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/1.jpg"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/1.jpg" class="image1"></a></li>
						<li><a href="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/2.jpg"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/2.jpg" class="image2"></a></li>
						<li><a href="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/3.jpg"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/3.jpg" class="image3"></a></li>
						<li><a href="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/4.jpg"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/4.jpg" class="image4"></a></li>
						<li><a href="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/5.jpg"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/5.jpg" class="image5"></a></li>
						<li><a href="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/6.jpg"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/6.jpg" class="image6"></a></li>
						<li><a href="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/7.jpg"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/7.jpg" class="image7"></a></li>
						<li><a href="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/8.jpg"><img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/fj/8.jpg" class="image8"></a></li>
                    </ul>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="mid3_bottom"></div>
<div class="mid">
	<div class="title">风俗民情</div><a name="a8"></a>
    <div class="fsmq">
    	<div class="fsmqone">
        	<span>1、折溪傩戏</span>
            <img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/ms1.jpg"/>
            <p>（农历正月初三至 三月初三）农历正月初三至三月初三 ，六枝折溪乡的彝族同胞在村里演出傩戏，以祭神驱鬼。集神、鬼、人于一体 的傩面具扮相生动，人物性格突出。每逢 演出，观者踊跃，热闹异常。<a href="http://www.mytentlife.com/notice/133.html" target="_blank">【详细】</a></p>
        </div>
		<div class="fsmqone">
        	<span>2、采花洞</span>
            <img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/ms2.jpg"/>
            <p>每年正月初一到十 五，滑石板村和邻 村邻县数千苗族同 胞聚集于村东侧的 一个洞前，唱情歌，吹芦笙、直箫，边吹边歌，人头涌动。不 少男女青年以这种方式谈情说爱，寻求对 象，故名“采花洞”。<a href="http://www.mytentlife.com/notice/133.html" target="_blank">【详细】</a></p>
        </div>
		<div class="fsmqone">
        	<span>3、跳花节</span>
            <img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/ms3.jpg"/>
            <p>水城县南开乡三口 塘每年都要举行当 地苗族（小花苗） 同胞最喜庆的传统 节日——“跳花坡”届时成千上万苗族同胞聚集在此，身着盛 装，载歌载舞，欢庆自己的节日。这是贵 州省规模最大的民族节日之一。<a href="http://www.mytentlife.com/notice/133.html" target="_blank">【详细】</a></p>
        </div>
		<div class="fsmqone">
        	<span>4、彝族火把节</span>
            <img src="http://static.8264.com/oldcms/moban/zt/sixpanshui/images/ms4.jpg"/>
            <p>玉舍乡海坪每年农 历六月二十四，都 要举行盛大的彝族 “火把节”。所有 活动均在篝火旁、月色中举行，所以又称为“晒月亮”。<a href="http://www.mytentlife.com/notice/133.html" target="_blank">【详细】</a></p>
        </div>
    </div>
</div>
<div class="footer">
	<div class="footercon">
        <p class="footer_l">8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106<br>
			<a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
		<p class="footer_r"><a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a> | <a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a> | <a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a> | <a target="_blank" href="http://www.8264.com/link/">户外网址大全</a> | <a target="_blank" href="http://www.8264.com/sitemap">网站地图</a></p>
    </div>
</div>
</body>
</html>
