<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>2014KAILAS阳朔攀岩节</title>
<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/201409kailas/style/style.css">
</head>
<body>
<div class="branner"></div>
<div class="w980 clear_b">
	<ul class="imglist">
		<li><a href="http://bbs.8264.com/forum.php?mod=viewthread&tid=2232854&extra=" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201409kailas/images/t1.jpg"></a></li>
		<li><a href="http://bbs.8264.com/thread-2250048-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201409kailas/images/t2.jpg"></a></li>
		<li><a href="http://bbs.8264.com/forum.php?mod=viewthread&tid=2248279&page=1&extra=#pid54810739" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201409kailas/images/t3.jpg"></a></li>
		<li><a href="http://www.rockclimbing.cn/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201409kailas/images/t4.jpg"></a></li>
		<li><a href="http://bbs.8264.com/thread-2242585-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201409kailas/images/t5.jpg"></a></li>
		<li><a href="http://www.rockclimbing.cn/join.php#start" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201409kailas/images/t6.jpg"></a></li>
	</ul>
</div>

<div class="footer">
	<div class="footercon">
		<p class="footer_l">8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106<br>
			<a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
		<p class="footer_r">
<a rel="nofollow" href="http://bbs.8264.com/misc-stat.html" target="_blank">站点统计</a>
|
<a rel="nofollow" href="http://www.8264.com/about-contact.html" target="_blank">联系我们</a>
|
<a rel="nofollow" href="http://bbs.8264.com/thread-2227420-1-1.html">8264招聘</a>
|
<a rel="nofollow" href="http://bbs.8264.com/misc-faq.html">帮助</a>
		</p>
		<div class="clear"></div>
	</div>
</div>


</body>
</html>
