<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>远征瑞士艾格峰北壁-THE NORTH FACE&reg;探索之旅</title>
<link href="http://static.8264.com/oldcms/moban/zt/sunbin/style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
	<div><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/nav.jpg" width="960" height="90" border="0" usemap="#Map" />
      <map name="Map" id="Map">
        <area shape="rect" coords="61,4,170,48" href="#jieshao" />
        <area shape="rect" coords="239,7,347,51" href="#zuopin" />
        <area shape="rect" coords="616,8,721,52" href="#pingwei" />
        <area shape="rect" coords="814,10,919,53" href="#jiangpin" />
      </map>
	</div>
    <div class="mid">
    	<div class="areal">
       	  <div><a name="jieshao"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/lefttop.jpg" width="295" height="31" border="0" /></a></div>
            <div class="gonggaotit">活动公告</div>
            <div class="gonggaoarea">
            <ul>
						<li>&nbsp;&#8226;&nbsp;<a href="http://www.8264.com/56310.html" target="_blank" style="color:#FF0000;">TNF助威团训练营结束 武陵狼榜上留名 </a></li>
						<li>&nbsp;&#8226;&nbsp;<a href="http://www.8264.com/56107.html" target="_blank" style="">TNF艾格峰助威团训练营结束 28日张榜 </a></li>
						<li>&nbsp;&#8226;&nbsp;<a href="http://www.8264.com/55793.html" target="_blank" style="">助威团6强出炉 选手准备接受攀登培训</a></li>
            </ul>
          </div>
            <div class="yaoqiutit">参赛要求</div>
            <div class="yaoqiuarea">
                <div class="txtblk">1、身体健康，喜欢登山、户外、旅游的广<br />&nbsp;&nbsp;&nbsp;大驴友；</div>
                <div class="txtblk">2、具备良好的图文写作能力，能够为大家<br />&nbsp;&nbsp;&nbsp;呈现优美的文章；</div>
                <div class="txtblk">3、活动开始后将自己的参赛旅行日志、旅<br />&nbsp;&nbsp;&nbsp;行印象、游记感受等以日志的形式发布<br />&nbsp;&nbsp;&nbsp;在驴友录个人空间，然后在活动的主题<br />&nbsp;&nbsp;&nbsp;帖（<a href="http://bbs.8264.com/thread-408416-1-1.html" target="_blank">点击报名</a>）下跟帖报名参赛并附上<br />&nbsp;&nbsp;&nbsp;自己参赛日志的地址；</div>
                <div class="txtblk">4、参赛日志文字内容不少于100字，图片不<br />&nbsp;&nbsp;&nbsp;少于10张；题目格式：<span>[THE&nbsp;NORTH<br />&nbsp;&nbsp;&nbsp;FACE探索之旅]&nbsp;xxxx</span></div>
                <div class="txtblk">5、邀请好友们点击该日志并“踩一脚”，<br />&nbsp;&nbsp;&nbsp;记做投票，参与网络评选；</div>
            </div>
            <div class="guizetit">评选规则</div>
            <div class="guizearea">
            	<div class="blktop">第一阶段（6月13日-7月12日）</div>
                <div class="blkbtm">&nbsp;&nbsp;&nbsp;&nbsp;主办方将根据日志人气（脚印数），选出排名前20名的驴友获得人气奖；<br />
7月13日公布 第一阶段20人获奖名单。</div>
				<div class="blktop">第二阶段（7月13日－7月16日）</div>
                <div class="blkbtm">&nbsp;&nbsp;&nbsp;&nbsp;由专家评审，在之前的20名驴友中再选取6名队员参加免费攀登训练营；<br />
7月17日公布 6人免费培训名单</div>
                <div class="blktop">第三阶段（7月24日－7月25日）</div>
                <div class="blkbtm">&nbsp;&nbsp;&nbsp;&nbsp;训练营结束后，所有队员发布日志回顾训练感受，根据训练营综合表现由专家组评选出一名助威团队员加入登山队。</div>
				<div class="blktop">助威团队员名单公布：<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2010年7月28日</div>
                <div class="blktop">伴随登山队远征艾格峰：<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2010年8月30日-9月10日</div>
            </div>
            <div class="jiangxiangtit">奖项设置</div>
            <div class="jiangxiangarea">
<b>人气奖：20名</b><br />（TNF T恤，市场价值200元）<br />
<b>训练营：6名</b><br />（免费攀登训练营培训+ TNF户外装备，市场价值8，000元）<br />
<b>助威团：1名</b><br />（免费瑞士游玩+ TNF全套顶级户外装备，市场价值40，000元）
            </div>
            <div class="pingweitit"><a name="pingwei">活动评委</a></div>
            <div class="pingweiarea">
孙拓：THE NORTH FACE&reg;品牌市场部副经理<br />
孙斌：北京爱巅峰总经理，TNF运动员<br />
紫笛依扬：北京爱巅峰市场品牌经理<br />
大鹏：8264编辑部主任<br />
马德民：《户外探险》杂志首席编辑<br />
彭晓龙：成都蜀山探险技术总监
            </div>
            <div class="zuzhi">
			<b>活动主办</b><br />
北京爱颠峰体育文化有限公司<br />
<b>活动支持</b><br />
			<div class="pinpai">
            	<div class="tnfimgall">
            	<div class="tnfimg"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/tnflogo.jpg" width="60" height="60" border="0" /></div>
                <div class="tnftxt"><a href="http://www.thenorthface.com.cn/" target="_blank">THE&nbsp;NORTH&nbsp;FACE&reg;</a></div>
                </div>
                <div class="lsimgall">
                <div class="lsimg"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/lslogo.jpg" width="90" height="60" border="0" /></div>
                <div class="lstxt"><a href="http://blog.sina.com.cn/lasportiva" target="_blank">LA&nbsp;SPORTIVA</a></div>
                </div>
            </div>
<b>独家媒体支持</b><br />
8264（www.8264.com）
            </div>
      </div>
        <div class="arear">
        	<div class="introtop">
&nbsp;&nbsp;&nbsp;&nbsp;中国新生代登山者，原中国国家登山队教练，THE NORTH FACE运动员孙斌8月远征瑞士，挑战攀登艾格峰北壁。<br />
&nbsp;&nbsp;&nbsp;&nbsp;从现在开始，加入我们---就有机会亲赴国家登山队基地参与攀登训练营！<br />
&nbsp;&nbsp;&nbsp;&nbsp;从现在开始，加入我们---就有机会跟随登山队共赴瑞士见证这一历史时刻！<br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;“攀登训练营”等待你的入选，“THE NORTH FACE艾格峰远征队”期待你的加入！<br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;即刻起，只要上传户外主题的图片，再配以精彩文字到个人驴友录空间，就有机会获得免费与“攀登训练营”机会，由前国家登山队教练孙斌亲自培训，更有机会最终获得跟随登山队一同出
征瑞士全额大奖加全套 THE NORTH FACE顶级户外装备，还等什么，赶紧报名吧！
            </div>
            <div class="introbtm"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/introbtm.jpg" width="630" height="60" border="0" usemap="#Map2" />
              <map name="Map2" id="Map2">
                <area shape="rect" coords="331,5,435,39" href="http://u.8264.com/space-home.html" target="_blank" />
                <area shape="rect" coords="455,2,563,34" href="http://bbs.8264.com/thread-408416-1-1.html" target="_blank" />
              </map>
          </div>
            <div class="pictxt">
            <div class="toptxtblk">
艾格峰位于瑞士因特拉肯市正南处，是瑞士境内的阿尔卑斯山脉群峰之一，海拔3970米，与著名的少女峰、僧侣峰并排耸立，构成了伯尔尼高地上最壮观的三道风景。它的北侧异常陡峭，刀削般的绝壁就连皑皑白雪也堆积不住，平均坡度70度，垂直落差1800米，敢于向这一组数字挑战的人……&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/29922.html" target="_blank">更多>>></a> <br>
<a href="http://bbs.8264.com/thread-157943-1-1.html" target="_blank" style="color:#FF0000;">瑞士，美丽不只一点点</a> </div>
            <div class="btmtxtblk">
1997年，孙斌加入山鹰社。此时的孙斌远远没有预料到12年后他还在从事登山这一运动，更不会预料到这一决定会对他今后的人生产生多么大的影响。好像冥冥之中自有安排，事实上，从那个时候开始，孙斌就选择了他一生都会热爱，并为之坚持奋斗的事业。从登协出来，孙斌办了自己的公司，孙斌说，公司刚刚起步，我还有很多事情要做……&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/viewnews-40279.html" target="_blank">更多>>></a>            </div>
            </div>
            <div class="zuopin"><a name="zuopin"></a>
                <img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopintit.jpg" width="618" height="33" border="0" />
                <div class="zuopinarea">
                    <div></div>
                    <div class="zuopinshow">
					    <div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33825031-do-blog-id-131276.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp70.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">太白“走一遭”不过是三个字</div>
                            <div class="txtbtm">作者：pthp8264</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16726628-do-blog-id-131491.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp69.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">我的东方海螺山之履</div>
                            <div class="txtbtm">作者：沧桑看云</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33699216-do-blog-id-132499.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp68.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">穿越莫溪沟峡谷</div>
                            <div class="txtbtm">作者：柳如烟</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33862766-do-blog-id-132664.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp67.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop"> 挺进太行山 踏上征服路 </div>
                            <div class="txtbtm">作者：~秋子~</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33789193-do-blog-id-132513.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp66.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop"> 徽杭古道发现之旅 </div>
                            <div class="txtbtm">作者：朝山暮水</div>
                        </div>
					    <div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16728414-do-blog-id-130828.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp65.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop"> 转山转水 边走边爱 </div>
                            <div class="txtbtm">作者：张排骨</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33699216-do-blog-id-132172.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp64.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop"> 莫溪沟营地的清晨</div>
                            <div class="txtbtm">作者：柳如烟</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-127268-do-blog-id-132351.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp63.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop"> 我眼中的阿里</div>
                            <div class="txtbtm">作者：neophyte</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16798763-do-blog-id-132262.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp62.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop"> 内乡县衙之旅</div>
                            <div class="txtbtm">作者：在外</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33699216-do-blog-id-132261.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp61.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop"> 莫溪沟艳丽的小海子</div>
                            <div class="txtbtm">作者：柳如烟</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16753185-do-blog-id-132249.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp60.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop"> 小游印尼G.Slamgt火山</div>
                            <div class="txtbtm">作者：因心一牛</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33713013-do-blog-id-132244.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp59.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop"> “北脸”陪我游云南</div>
                            <div class="txtbtm">作者：老橙子</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33825031-do-blog-id-131647.html###" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp58.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop"> 独行太白山</div>
                            <div class="txtbtm">作者：pthp8264</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-128656-do-blog-id-132099.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp57.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">不止的户外 泸沽湖8天感想</div>
                            <div class="txtbtm">作者：xxramones</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16758956-do-blog-id-131944.html###" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp56.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">行走在安娜普尔纳的日子</div>
                            <div class="txtbtm">作者：水....</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-127268-do-blog-id-131997.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp55.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">岗仁波齐风雪行（二）</div>
                            <div class="txtbtm">作者：neophyte</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-127268-do-blog-id-131992.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp54.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">岗仁波齐风雪行（一）</div>
                            <div class="txtbtm">作者：neophyte</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33718953-do-blog-id-132084.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp53.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">亲近大海独闯花岙岛</div>
                            <div class="txtbtm">作者：飘零忘川</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-101713-do-blog-id-132066.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp52.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">云簇三口浪 赤日走金沙</div>
                            <div class="txtbtm">作者：a60625</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-119523-do-blog-id-132068.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp51.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">紫色海岛的悠闲岁月</div>
                            <div class="txtbtm">作者：紫色王朝</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33743837-do-blog-id-132058.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp50.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">驴行的快乐</div>
                            <div class="txtbtm">作者：感悟与忍</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33784634-do-blog-id-132062.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp49.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">宁海登山健身步道重装徒步</div>
                            <div class="txtbtm">作者：薰衣草5</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16790203-do-blog-id-131945.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp48.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">平遥之行 回光千年前</div>
                            <div class="txtbtm">作者：至今不过奈何桥</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-34137780-do-blog-id-131993.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp47.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">后河的那些疯狂事</div>
                            <div class="txtbtm">作者：@云中子@</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33760735-do-blog-id-131940.html###" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp46.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">神山净土 梦天堂之行</div>
                            <div class="txtbtm">作者：夜雨萧香</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-34045601-do-blog-id-131756.html###" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp45.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">京西古道享受纯天然</div>
                            <div class="txtbtm">作者：城外的小屋</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33699216-do-blog-id-131858.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp44.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">莫溪沟的金色夕阳</div>
                            <div class="txtbtm">作者：柳如烟</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33699216-do-blog-id-131731.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp43.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">日乌且垭口的风雪与冰雹</div>
                            <div class="txtbtm">作者：柳如烟</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33699216-do-blog-id-131729.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp42.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">日乌且山道 触摸蓝天白云</div>
                            <div class="txtbtm">作者：柳如烟</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33699216-do-blog-id-131727.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp41.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">夹子峰下营地的晨曦</div>
                            <div class="txtbtm">作者：柳如烟</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33699216-do-blog-id-131645.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp40.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">绮丽的日乌且峡谷</div>
                            <div class="txtbtm">作者：柳如烟</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-97161-do-blog-id-131506.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp39.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">库不齐大漠风光</div>
                            <div class="txtbtm">作者：北方的雪龙</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33699216-do-blog-id-131628.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp38.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">金秋贡嘎 云集康定</div>
                            <div class="txtbtm">作者：柳如烟</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-97161-do-blog-id-131501.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp37.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">俄麦俄扎-雄鹰飞不过的山峰</div>
                            <div class="txtbtm">作者：北方的雪龙</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33699216-do-blog-id-131569.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp36.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">金秋贡嘎 云中漫步</div>
                            <div class="txtbtm">作者：柳如烟</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-34140217-do-blog-id-131047.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp35.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">寻找生命的焦点：桂林、阳朔、龙胜</div>
                            <div class="txtbtm">作者：蔓草湮路</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16823853-do-blog-id-128553.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp34.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">小五台两天重装穿越 四台连穿</div>
                            <div class="txtbtm">作者：四湖居士</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16720422-do-blog-id-131261.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp33.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">神龙谷寻找最后的疯狂</div>
                            <div class="txtbtm">作者：北地烛火</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-128140-do-blog-id-131252.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp32.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">藏地之行 不远的墨脱</div>
                            <div class="txtbtm">作者：沙洲</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16749778-do-blog-id-131079.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp31.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">飘在夏塔 向着梦进发</div>
                            <div class="txtbtm">作者：Yayio</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-34140217-do-blog-id-131022.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp30.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">大五台之行 只为途中与你相见</div>
                            <div class="txtbtm">作者：蔓草湮路</div>
                        </div>
					    <div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-119755-do-blog-id-130604.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp29.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">深秋小五台·西沟暴雪</div>
                            <div class="txtbtm">作者：yt007</div>
                        </div>
					    <div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-119755-do-blog-id-130582.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp28.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">穿越小五台·遍地金莲花</div>
                            <div class="txtbtm">作者：yt007</div>
                        </div>
                    	<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-112458-do-blog-id-128682.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp27.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">双桥沟的慵懒时光</div>
                            <div class="txtbtm">作者：边走边等</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-3559348-do-blog-id-128508.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp26.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">我的东极之行</div>
                            <div class="txtbtm">作者：sinbad</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16724249-do-blog-id-128516.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp25.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">墨脱，梦中的白玛岗 心中的莲花</div>
                            <div class="txtbtm">作者：兰笨熊</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33861807-do-blog-id-128538.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp24.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">我的旅行，我的脚步</div>
                            <div class="txtbtm">作者：盛开的格桑花</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16811112-do-blog-id-128437.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp23.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">探寻那份属于自己的灵魂空间</div>
                            <div class="txtbtm">作者：那夜清风</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16807324-do-blog-id-128433.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp22.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">走进神秘的香巴拉世界-扎尕那</div>
                            <div class="txtbtm">作者：兰州笑尘</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16823853-do-blog-id-128259.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp21.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">小五台四台连穿两天重装80公里</div>
                            <div class="txtbtm">作者：四湖居士</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33889257-do-blog-id-128018.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp20.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">四姑娘山三峰攀登归来</div>
                            <div class="txtbtm">作者：hmam</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-43032-do-blog-id-127344.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp19.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">白云飘过雀儿山</div>
                            <div class="txtbtm">作者：荼糜</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33944429-do-blog-id-128119.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp18.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">从现在开始修炼,不是妖精就是仙!</div>
                            <div class="txtbtm">作者：丁丁游走人间</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16706642-do-blog-id-127951.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp17.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">安娜普尔那小环线徒步札记</div>
                            <div class="txtbtm">作者：行天者sm</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16706642-do-blog-id-127947.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp16.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">2007玉珠峰登山日志</div>
                            <div class="txtbtm">作者：行天者sm</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16743643-do-blog-id-127956.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp15.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">博格达南峰4683攀登之旅</div>
                            <div class="txtbtm">作者：fire0351</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33944705-do-blog-id-127940.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp14.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">漫漫西行，悠悠我心</div>
                            <div class="txtbtm">作者：scarlettwindy</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16755700-do-blog-id-127907.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp13.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">老爷岭锵锵三人行~</div>
                            <div class="txtbtm">作者：Mark~</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16714061-do-blog-id-127831.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp12.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">塔尔寺，在生命中留下印记的地方</div>
                            <div class="txtbtm">作者：kyleyee</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16792469-do-blog-id-127731.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp11.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">记登顶半脊</div>
                            <div class="txtbtm">作者：江湖闲人</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16712175-do-blog-id-127677.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp10.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">贡嘎-----那一世的转山</div>
                            <div class="txtbtm">作者：旅行</div>
                        </div>
                        <div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-106708-do-blog-id-127670.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp9.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">五一扬扬拉措徒步三日记</div>
                            <div class="txtbtm">作者：土匪脸</div>
                        </div>
                        <div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16788926-do-blog-id-127518.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp8.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">小五台穿越—无名向导的背影</div>
                            <div class="txtbtm">作者：汗斯2008</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33718424-do-blog-id-127410.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp7.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">雪地里的等待--贡嘎</div>
                            <div class="txtbtm">作者：山鹰007</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-34106972-do-blog-id-127271.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp6.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">【一路向西■再见，拉萨。】</div>
                            <div class="txtbtm">作者：亦可。</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-33986771-do-blog-id-127266.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp5.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">藏北游历记忆片段（二）</div>
                            <div class="txtbtm">作者：自游网</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16751036-do-blog-id-127253.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp4.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">魂牵梦绕小五台</div>
                            <div class="txtbtm">作者：天堂鸟gol</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-34106972-do-blog-id-127241.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp3.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">【一路向西■郎木寺】</div>
                            <div class="txtbtm">作者：亦可。</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16810484-do-blog-id-127239.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp2.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">大美青海湖-跳跃之旅</div>
                            <div class="txtbtm">作者：海底深蓝</div>
                        </div>
						<div class="imgall">
                        	<div class="pic"><a href="http://u.8264.com/space-16742696-do-blog-id-127219.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/zuopin/zp1.jpg" width="150" height="112" border="0" /></a></div>
                            <div class="txttop">情迷川西的日子</div>
                            <div class="txtbtm">作者：武陵狼</div>
                        </div>
                    </div>
                </div>
          </div>
        </div>
        <div style="clear:both;"></div>
  </div>
    <div class="jiangpinarea">
        <div><a name="jiangpin"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/btmtit.jpg" width="919" height="31" border="0" /></a></div>
        <div class="jiangpinall">
        	<div class="arrowl"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/arrowleft.jpg" width="49" height="211" border="0" /></div>
            <div class="gundong" id="de">
  	    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  	      <tr>
  	        <td id="de1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  	          <tr>
  	            <td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp21.jpg" width="233" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp22.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp01.jpg" width="172" height="200" border="0" /></a></td>
  	            <td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp02.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp03.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp04.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp06.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp08.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp09.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp10.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp11.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp12.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp13.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp14.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp15.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp16.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp17.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp18.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp19.jpg" width="172" height="200" border="0" /></a></td>
				<td class="jiangpin"><a href="http://bbs.8264.com/viewthread.php?tid=408416&amp;page=1&amp;fromuid=16717046#pid7012522" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/jiangpin/jp20.jpg" width="172" height="200" border="0" /></a></td>
              </tr>
	          </table></td>
  	        <td id="de2">&nbsp;</td>
          </tr>
        </table>
  	    <script language=JavaScript type=text/javascript>
                    function GetObj01(objName){
                        if(document.getElementById){
                            return eval('document.getElementById("' + objName + '")');
                        }else if(document.layers){
                            return eval("document.layers['" + objName +"']");
                        }else{
                            return eval('document.all.' + objName);
                        }
                    }
                      var speed01=20//速度数值越大速度越慢
                      GetObj01("de2").innerHTML=GetObj01("de1").innerHTML
                      function Marquee01(){
                          if(GetObj01("de").scrollLeft<=0)
                          GetObj01("de").scrollLeft=GetObj01("de1").offsetWidth
                          else{
                            GetObj01("de").scrollLeft--
                          }
                      }
                      var MyMar01=setInterval(Marquee01,speed01)
                      GetObj01("de").onmouseover=function() {clearInterval(MyMar01)}
                      GetObj01("de").onmouseout=function() {MyMar01=setInterval(Marquee01,speed01)}
                      </script>
      </div>
            <div class="arrowr"><img src="http://static.8264.com/oldcms/moban/zt/sunbin/images/arrowright.jpg" width="50" height="211" border="0" /></div>
            <div style="clear:both;"></div>
        </div>
  </div>
  <div style="width:100%; height:15px;"></div>
</div>
<DIV class=bottom>
            <A href="http://www.8264.com/ziliao/about/aboutus.php" 
    target=_blank>关于我们</A> | <A href="http://www.8264.com/ziliao/about/aboutus.php" 
    target=_blank>联系我们</A> | <A href="http://www.8264.com/8954.html">给我留言</A> | <A 
    href="http://www.8264.com/ziliao/sitemap.html" target=_blank>网站地图</A> | <A 
    href="http://www.8264.com/ziliao/ggservice/index.html" target=_blank>广告服务</A> | 
    <A href="http://www.8264.com/list/531/" target=_blank>编辑部的故事</A> | <A 
    href="http://www.8264.com/sitelink/index.html" 
    target=_blank>友情连接</A><BR>服务热线：022-23708264 | 传真：022-23708323 | 
    地址：天津市新技术产业园区华天道8号海泰信息广场C座1001号<BR>除了脚印什么都不留下除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。&nbsp;&nbsp;&nbsp;&nbsp;<A 
    href="http://www.miibeian.gov.cn/" 
    target=_blank>津ICP备05004140号-1</A>
    </DIV>
<div style="display:none">
<script src="http://s14.cnzz.com/stat.php?id=2245304&web_id=2245304" language="JavaScript"></script>
</div>
</body>
</html>
