<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>2009 ispo 展会美女评选</title>
<link href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="warpper">
  <div class="banner"><img src="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/images/banner.jpg" width="960" height="520" border="0" /></div>
	<div class="banner"><img src="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/images/nav.jpg" width="960" height="77" border="0" usemap="#Map" /><map name="Map" id="Map"><area shape="rect" coords="69,11,141,58" href="http://www.8264.com/" target="_blank" /><area shape="rect" coords="825,13,885,55" href="http://www.8264.com/topic/1215.html"  target="_blank"/></map></div>
</div>
	<div class="mid">
    	    	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-179920.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235468089687916877.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16703247.html" target="_blank">小陈</a><br>
              得票数：78票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2904&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-179919.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235468058191122510.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16703247.html" target="_blank">小陈</a><br>
              得票数：79票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2903&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-179905.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235467798668019173.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16703247.html" target="_blank">小陈</a><br>
              得票数：68票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2902&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-179907.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235467732982932514.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16703247.html" target="_blank">小陈</a><br>
              得票数：79票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2901&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-179906.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235467657127342675.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16703247.html" target="_blank">小陈</a><br>
              得票数：89票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2899&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-16798292-do-album-picid-175498.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235462214703736190.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16798292.html" target="_blank">yqdxg</a><br>
              得票数：82票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2888&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-16798292-do-album-picid-175511-goto-down.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235461358359560887.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16798292.html" target="_blank">yqdxg</a><br>
              得票数：88票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2884&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-16798292-do-album-picid-175500.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235461593724645182.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16798292.html" target="_blank">yqdxg</a><br>
              得票数：78票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2886&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-16830031-do-album-picid-176126-goto-down.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235461261733852476.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16830031.html" target="_blank">czlion8727</a><br>
              得票数：78票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2883&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-173572.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235459745738506412.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://zhb001.8264.com" target="_blank">张波</a><br>
              得票数：196票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2877&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-174722.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235459661438243799.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16703247.html" target="_blank">小陈</a><br>
              得票数：75票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2875&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://bbs.8264.com/thread-186297-1-1.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200903/09beautyshow/1236133300463101653.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space.php?uid=106200" target="_blank">十八少</a><br>
              得票数：167票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2874&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://bbs.8264.com/thread-186297-1-1.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235459195972100690.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space.php?uid=106200" target="_blank">十八少</a><br>
              得票数：123票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2871&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-174720.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235459075304715604.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16703247.html" target="_blank">小陈</a><br>
              得票数：70票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2869&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-174719.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235459000905386017.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16703247.html" target="_blank">小陈</a><br>
              得票数：76票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2868&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-173579.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235458879059639108.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://zhb001.8264.com" target="_blank">张波</a><br>
              得票数：108票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2867&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-173581.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235458600993640884.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://zhb001.8264.com" target="_blank">张波</a><br>
              得票数：104票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2865&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-173580.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235458684375439515.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://zhb001.8264.com" target="_blank">张波</a><br>
              得票数：92票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2866&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://u.8264.com/space-125851-do-album-picid-173583.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235458452838437143.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://zhb001.8264.com" target="_blank">张波</a><br>
              得票数：112票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2864&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://www.8264.com/38068.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235458215939623368.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16717046.html" target="_blank">大鹏</a><br>
              得票数：84票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2863&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://www.8264.com/38068.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235458130027523945.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16717046.html" target="_blank">大鹏</a><br>
              得票数：90票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2861&action=vote"></a></div>
        </div>
            	<div class="imgall">
        	<div class="img"><a href="http://www.8264.com/38068.html" target="_blank"><img src="http://image1.8264.com/portal/upload/Image/2009/200902/09beautyshow/1235457948056466761.jpg" width="160" height="240" border="0"></a></div>
            <div class="wen">摄影：<a href="http://u.8264.com/space-16717046.html" target="_blank">大鹏</a><br>
              得票数：84票<br><a href="http://static.8264.com/oldcms/moban/zt/2009ispomeinv/content.php?id=2859&action=vote"></a></div>
        </div>
            </div>
    <div class="bottom"><a href="http://www.8264.com/ziliao/about/aboutus.php" target="_blank">关于我们</a> | <a href="http://www.8264.com/ziliao/about/aboutus.php" target="_blank">联系我们</a> | <a href="http://www.8264.com/8954.html">给我留言</a> |  <a href="http://www.8264.com/ziliao/sitemap.html" target="_blank">网站地图</a> | <a href="http://www.8264.com/ziliao/ggservice/index.html" target="_blank">广告服务</a> | <a href="http://www.8264.com/list/531/" target="_blank">编辑部的故事</a> | <a href="http://www.8264.com/sitelink/index.html" target="_blank">友情连接</a><br>服务热线：022-23708264 | 传真：022-23708323 | 地址：天津市新技术产业园区华天道8号海泰信息广场C座1001号<br>除了脚印什么都不留下除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn" target="_blank">津ICP备05004140号-1</a></div>
</body>
</html>