<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>ISPO BEIJING 2017亚洲运动运动用品与时尚展</title>
<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/201612ispo/style/style.css">
<script src="http://static.8264.com/oldcms/moban/zt/201612ispo/js/jquery-1.9.1.min.js"></script>
</head>

<body>
<div class="branner"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/branner.jpg"/></div>
    <div class="warpten">
        <div class="clear_b">
            <div class="helpbox">
                <a href="http://www.ispo.com.cn/page/04aJ2zP/beijing/VISITORS/OPENING-HOURS-AND-LOCATION.html" target="_blank" class="icon1"></a>
                <a href="http://www.ispo.com.cn/page/994J2zQ/beijing/VISITORS/Arrival-Accomodation.html" target="_blank" class="icon2"></a>
                <a href="http://www.ispo.com.cn/page/994J2zQ/beijing/VISITORS/Arrival-Accomodation.html" target="_blank" class="icon3"></a>
                <a href="http://www.ispo.com.cn/forum/schedule_list/b04J2EN.html#div_tabs1" target="_blank" class="icon4"></a>
                <a href="http://www.ispo.com.cn/forum/schedule_list/b04J2EN.html#div_tabs2" target="_blank" class="icon5"></a>
            </div>
            <!--新闻开始-->
            <div class="newslistcon">
                <div id="news_top_con" class="newstopcon">
                    <a class="newstop" target="_blank" href="http://www.8264.com/viewnews-123310-page-1.html">ISPO BEIJING 2017携700余品牌拉开帷幕</a>
                    <p>2017年2月15日，ISPO BEIJING 2017第十三届亚洲运动用品与时尚展再次携手ALPITEC CHINA 2017中国国际山地及冬季运动机械设备博览会正式拉开帷幕。</p>
                </div>
                <div class="newslist">
                    <ul id="newslist_con">
                        <li><a target="_blank" href="http://www.8264.com/viewnews-123301-page-1.html">ISPO BEIJING 2017新闻发布会在国家会议中心召开 </a><span> 2017-2-15 </span></li>
                        <li><a target="_blank" href="http://www.8264.com/viewnews-123303-page-1.html ">大咖说：双展联动 资源共享 共创盛举</a><span> 2017-2-15 </span></li>
                        <li><a target="_blank" href="http://www.8264.com/viewnews-123304-page-1.html ">ISPO BEIJING 2017发布会：嘉宾答记者问</a><span> 2017-2-15 </span></li>
                        <li><a target="_blank" href="http://www.8264.com/viewnews-123311-page-1.html "> ISPO首日看点：滑雪厂商数量增加、展台更具趣味性</a><span> 2017-2-15 </span></li>
                        <li><a target="_blank" href="http://www.8264.com/viewnews-123314-page-1.html ">思凯乐2017，一起玩“鲜” “户外大玩家”招募启动</a><span> 2017-2-15 </span></li>
                        <li><a target="_blank" href="http://www.8264.com/viewnews-123312-page-1.html ">ISPO 首日看点：抱团玩起来</a><span> 2017-2-15 </span></li>
                    </ul>
                </div>
            </div>
            <!--新闻结束-->
            <div class="newsrightcon">
                <div class="newrightimg"><a><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/newsimg.jpg"/></a></div>
                <div class="newsrightlist">
					<ul id="newslist_con_r">
                        <li><a target="_blank" href="http://www.8264.com/viewnews-123334-page-1.html "> 2016中国滑雪产业白皮书发布  </a></li>
                        <li><a target="_blank" href="http://www.8264.com/viewnews-123338-page-1.html
 ">窦骁携手GORE-TEX?品牌 分享登顶乞力马扎罗之旅</a></li>
                        <li><a target="_blank" href="http://www.8264.com/viewnews-123288-page-1.html "> 睿创无限共造非凡奈特科尔ISPO BEIJING亮点全揭秘 </a></li>
                        <li><a target="_blank" href="http://www.8264.com/viewnews-123317-page-1.html "> ISPO看点：现场论坛、研讨会座无虚席</a></li>
                        <li><a target="_blank" href="http://www.8264.com/viewnews-123316-page-1.html">探路者打造极致之路，崭新亮相ISPO</a></li>
                        <li><a target="_blank" href="http://www.8264.com/viewnews-123346-page-1.html "> 北京ISPO 2017年牧高笛迎来了户外圈的半壁江山 </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="title"><span>活动专区</span></div>
        <div class="xiangmubox clear_b">
        	<ul>
            	<li>
                	<a href="http://www.ispo.com.cn/forum/forum_list/36eL/b04J2EN.html#forum_832KWA" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/h1.jpg"/></a>
                	<div class="info">
                    	<span>ISPO BEIJING </span>
                        <em>中国新锐品牌区</em>
                    </div>
                </li>
                <li>
                	<a href="http://www.ispo.com.cn/forum/forum_list/36eL/b04J2EN.html#forum_832KWA " target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/h2.jpg"/></a>
                	<div class="info">
                    	<span>ISPO BEIJING </span>
                        <em class="icon2">ISPO 全球运动设计大奖专区</em>
                    </div>
                </li>
                <li>
                	<a href="http://www.ispo.com.cn/forum/forum_list/36eL/b04J2EN.html#forum_832KWA" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/h3.jpg"/></a>
                	<div class="info">
                    	<span>ISPO BEIJING </span>
                        <em class="icon3">ISPO 功能性纺织用品流行趋势发布会</em>
                    </div>
                </li>
                <li>
                	<a href="http://www.ispo.com.cn/forum/forum_list/36eL/b04J2EN.html#forum_832KWA" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/h4.jpg"/></a>
                	<div class="info">
                    	<span>ISPO BEIJING </span>
                        <em class="icon4">新品速递</em>
                    </div>
                </li>
            </ul>
        </div>
        <div class="xiangmubox clear_b" style="display:none;">
        	<ul class="xiangmusmall">
            	<li>
                	<a href="http://www.ispo.com.cn/page/f44JSwQ/shanghai/Exhibitor/ACTION-SPORTS.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/h5.jpg"/></a>
                	<div class="info">
                    	<span>ISPO SHANGHAI </span>
                        <em class="icon5">极限潮流专区</em>
                    </div>
                </li>
                <li>
                <a href="http://www.ispo.com.cn/page/c27JTwK/shanghai/Visitor/Featured-Area-And-Events/running-area.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/h6.jpg"/></a>
                	<div class="info">
                    	<span>ISPO SHANGHAI </span>
                        <em class="icon6">跑步专区</em>
                    </div>
                </li>
                <li>
                <a href="http://textrends.ispo.com/en/" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/h7.jpg"/></a>
                	<div class="info">
                    	<span>ISPO SHANGHAI </span>
                        <em class="icon7">TEXTRENDS发布区</em>
                    </div>
                </li>
                <li>
                <a href="http://www.ispo.com.cn/page/826J2BK/ISPO-AWARD.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/h8.jpg"/></a>
                	<div class="info">
                    	<span>ISPO SHANGHAI </span>
                        <em class="icon8">ISPO AWARD展示区</em>
                    </div>
                </li>
            </ul>
        </div>
        <div class="title"><span>8264现场</span></div>
    </div>
    <div class="newsbox">
        <div class="w980 pr">
            <div class="leftarrow"></div>
            <div class="gundong">
                <ul>
                    <li>
                        <a href="http://www.8264.com/viewnews-123331-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/h9.jpg"/></a>
                        <p>
                            <a href="http://www.8264.com/viewnews-123331-page-1.html" target="_blank">2016中国户外产业年度评选颁奖盛典圆满落幕</a>
                            <span>2月16日，北京国家会议中心，来自全国各地的户外运动爱好者参加了本年度中国户外圈最具影响力的户外盛事——“2016中国户外产业年度评选颁奖盛典”。百余名获奖者到场领奖，同时“斗鱼直播”对典礼全程进行直播，让远在天涯海角的户外运动爱好者也能感受到现场的热烈气氛。</span>
                        </p>
                    </li>
                    <li>
                        <a href="http://www.8264.com/viewnews-123333-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/news2.jpg"/></a>
                        <p>
                            <a href="http://www.8264.com/viewnews-123333-page-1.html" target="_blank">8264户外学校北京正式启动</a>
                            <span>2月16日，8264户外学校于ISPO BEIJING现场正式启动，来自全国各地的驴友，以及户外圈中各个领域的大咖共同见证了这一时刻。8264户外学校致力于让更多人了解、学习、参与、传播户外运动。 </span>
                        </p>
                    </li>
                    <li>
                        <a href="http://www.8264.com/viewnews-123146-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/news3.jpg"/></a>
                        <p>
                            <a href="http://www.8264.com/viewnews-123146-page-1.html" target="_blank">8264带您看现场：ISPO MUNICH 2017</a>
                            <span>一年一度的ISPO MUNICH展于2月5日在慕尼黑展览中心拉开帷幕，为期4天的展会将呈现出哪些新亮点，新趋势，又有哪些突破性产品面世？受慕尼黑主办方邀请，8264记者已飞抵现场，未来的几天，请跟随我们一起来看来自全球户外产业最前沿的新鲜报道！</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="rightarrow"></div>
        </div>
    </div>
    <div class="newstitle" style="padding:30px 0px 0px 0px">ISPO MUNICH 2017</div>
    <div class="eqlist clear_b">
        <ul id="ft_tw">
			<li>
                <a href="http://www.8264.com/viewnews-123146-page-1.html " target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/n1.jpg"></a>
                <a href="http://www.8264.com/viewnews-123146-page-1.html " target="_blank" class="name">8264带您看现场</a>
            </li>
            <li>
                <a href="http://www.8264.com/viewnews-123155-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/n2.jpg"></a>
                <a href="http://www.8264.com/viewnews-123155-page-1.html" target="_blank" class="name">JACK WOLFSKIN商务休闲风</a>
            </li>
            <li>
                <a href="http://www.8264.com/viewnews-123157-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/n3.jpg"></a>
                <a href="http://www.8264.com/viewnews-123157-page-1.html" target="_blank" class="name">“优选”中的品牌</a></li>
            <li>
                <a href="http://www.8264.com/viewnews-123158-page-1.html " target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/n4.jpg"></a>
                    <a href="http://www.8264.com/viewnews-123158-page-1.html " target="_blank" class="name">那些你熟悉的户外大牌</a>
            </li>
            <li>
                <a href="http://www.8264.com/viewnews-123174-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/n5.jpg"></a>
                <a href="http://www.8264.com/viewnews-123174-page-1.html" target="_blank" class="name">东利纺织让户外面料拥有更华丽的外观</a>
            </li>
            <li>
                <a href="http://www.8264.com/viewnews-123204-page-1.html " target="_blank"><img src="http://image1.8264.com/portal/201702/19/155732cncu20y02znhg0nq.jpg!t2w400h300"></a>
                <a href="http://www.8264.com/viewnews-123204-page-1.html " target="_blank" class="name">ActionFox演绎个性配饰</a>             
            </li>
            <li>
                <a href="http://www.8264.com/viewnews-123187-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/n7.jpg"></a>
                <a href="http://www.8264.com/viewnews-123187-page-1.html" target="_blank"  class="name">“中国制造”转型心得</a>
            </li>
            <li>
                <a href="http://www.8264.com/viewnews-123175-page-1.html " target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/n8.jpg"></a>
                <a href="http://www.8264.com/viewnews-123175-page-1.html " target="_blank"  class="name">展会亮点聚焦</a>
            </li>
            <li>
                <a href="http://www.8264.com/viewnews-123209-page-1.html " target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/n9.jpg"></a>
                <a href="http://www.8264.com/viewnews-123209-page-1.html " target="_blank"  class="name">TNF成为新科技典范</a>
            </li>
            <li>
                <a href="http://www.8264.com/viewnews-123160-page-1.html " target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/n10.jpg"></a>
                <a href="http://www.8264.com/viewnews-123160-page-1.html " target="_blank"  class="name">华懋多款产品入围TOP5</a>
            </li>            
        </ul>
    </div>
    <div class="newstitle">ISPO BEIJING 2017</div>
    <div class="eqlist clear_b">
        <ul id="ft_tw">
            <li><a target="_blank" href="http://www.8264.com/viewnews-123301-page-1.html "><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/225547ugduxqqgdpnndqpm.jpg "></a><a class="name" target="_blank" href="http://www.8264.com/viewnews-123301-page-1.html ">ISPO BEIJING 2017新闻发布会召开 </a></li>
            <li><a target="_blank" href="http://www.8264.com/viewnews-123303-page-1.html "><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/131425px3qe8hz8bky6kk0.jpg "></a><a class="name" target="_blank" href="http://www.8264.com/viewnews-123303-page-1.html ">大咖说：双展联动 资源共享 共创盛举 </a></li>
            <li><a target="_blank" href="http://www.8264.com/viewnews-123304-page-1.html "><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/232039wrc2t99ufushzh69.jpg "></a><a class="name" target="_blank" href="http://www.8264.com/viewnews-123304-page-1.html ">ISPO BEIJING 2017嘉宾答记者问 </a></li>
            <li><a target="_blank" href="http://www.8264.com/viewnews-123310-page-1.html "><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/072758elbhrt90yh6rzl90.jpg "></a><a class="name" target="_blank" href="http://www.8264.com/viewnews-123310-page-1.html ">滑雪厂商数量增加、展台更具趣味性 </a></li>
            <li><a target="_blank" href="http://www.8264.com/viewnews-123312-page-1.html "><img src="http://static.8264.com/oldcms/moban/zt/201612ispo/images/133852awia7q2723k7a33n.jpg "></a><a class="name" target="_blank" href="http://www.8264.com/viewnews-123312-page-1.html">ISPO 首日看点：抱团玩起来 </a></li>
            <li><a target="_blank" href="http://www.8264.com/viewnews-123369-page-1.html "><img src="http://image1.8264.com/portal/201702/19/155732cncu20y02znhg0nq.jpg!t2w400h300 "></a><a class="name" target="_blank" href="http://www.8264.com/viewnews-123369-page-1.html "> GORE-TEX（R）：科技是品牌核心 </a></li>
            <li><a target="_blank" href="http://www.8264.com/viewnews-123332-page-1.html "><img src="http://image1.8264.com/portal/201702/16/2017471o7a4ahj0wpowo0w.jpg!t2w400h300 "></a><a class="name" target="_blank" href="http://www.8264.com/viewnews-123332-page-1.html "> 瑞典飞耐时：2017中国市场 新的惊喜 </a></li>
            <li><a target="_blank" href="http://www.8264.com/viewnews-123353-page-1.html "><img src="http://image1.8264.com/portal/201702/19/0015086rjmpiimuwubrrrr.jpg!t2w400h300 "></a><a class="name" target="_blank" href="http://www.8264.com/viewnews-123353-page-1.html "> 产品品质是纳丽德的核心与追求 </a></li>
            <li><a target="_blank" href="http://www.8264.com/viewnews-123348-page-1.html "><img src="http://image1.8264.com/portal/201702/18/145704spim0p7pyo0sbpzg.jpg!t2w400h300 "></a><a class="name" target="_blank" href="http://www.8264.com/viewnews-123348-page-1.html "> SALEWA坚持品牌DNA 引导户外爱好者</a></li>
            <li><a target="_blank" href="http://www.8264.com/viewnews-123345-page-1.html"><img src="http://image1.8264.com/portal/201702/17/210340uhy1vuhde4h1m1mv.jpg!t2w400h300 "></a><a class="name" target="_blank" href="http://www.8264.com/viewnews-123345-page-1.html "> 2016年中国户外用品市场调研报告 </a></li>
        </ul>
    </div>
    <div class="bottomNav">
        <div class="w980 clear_b">
            <div class="copyright">
            <p>津ICP备05004140号-10 ICP证 津B2-20110106</p>
            <p>户外有风险，8264提醒您购买<a target="_blank" href="http://bx.8264.com/">户外保险</a></p>
            </div>
            <div class="someLink">
            <a rel="nofollow" href="http://bbs.8264.com/member-clearcookies-formhash-d64f4f90.html" target="_blank">清除COOKIE</a>
            |
            <a rel="nofollow" href="http://bbs.8264.com/misc-stat.html" target="_blank">站点统计</a> |
            <a rel="nofollow" href="http://www.8264.com/about-contact.html" target="_blank">联系我们</a>
            |
            <a rel="nofollow" href="http://www.8264.com/about-contact.html#q4">8264招聘</a>
            |
            <a rel="nofollow" href="http://bbs.8264.com/misc-faq.html">帮助</a>
            <span class="app">
            <a rel="nofollow" class="appIco_95x27" target="_blank" href="http://bbs.8264.com/thread-2317569-1-1.html"></a>
            </span>
            </div>
        </div>
    </div>
    <script>
    /*新闻大滚动*/
    $(function(){
    	var newsnum = $(".gundong li").size();
    	var i=0;
    	$(".rightarrow").click( function () { 
    		if( i < newsnum-1){
    			i++;
    			$(".gundong li").eq(i).show().siblings().hide();
    		}
    	});
    	$(".leftarrow").click( function () { 
    		if( i>0){
    			i--;
    			$(".gundong li").eq(i).show().siblings().hide();
    		}
    	});	
    });
    </script>
</body>
</html>
