<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>2011年KAILAS慕士塔格登山活动</title>
<link href="http://static.8264.com/oldcms/moban/zt/kailasds/style/style.css" rel="stylesheet" type="text/css" />
</head>



<body>
<div class="warpper">
	<div class="banner"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/branner.jpg" /></div>
    <div class="tiao"></div>
    <div class="mid">
    	<div class="l">
        	<div class="lin">
            	<div class="ltitle">攀登路线图</div>
                <div class="lcon lconmap"><a href="http://www.8264.com/portal.php?mod=view&aid=67329" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/map.jpg" border="0"/></a></div>
                <div class="ltitle">攀登日程安排</div>
                <div class="lcon lconanpai">活动将在慕峰的适宜攀登的季节设定2个攀登周期<br />
                  <strong>第一周期</strong><br />
                  6月20--22日：在新疆克孜勒苏柯尔克孜自治州阿图什市集合（距离喀什机场30公里），检查和补充个人装备；<br />
                  6月23日：从阿图什出发，当日抵达塔什库尔干县适应休整，住塔县；<br />
                  6月24日：进驻登山大本营；<br />
                  6月25—7月9日：登山活动（可能因天气情况延后行程，请做好假期安排）；<br />
                  7月10日：队员撤回到喀什，活动结束。<br />
                  <strong>第二周期</strong><br />
                  7月15--16日：在新疆克孜勒苏柯尔克孜自治州阿图什集合（距离喀什机场30公里），检查和补充个人装备；<br />
                  7月17日：从阿图什出发，当日抵达塔什库尔干县适应休整，住塔县；<br />
                  7月18日：进驻登山大本营；<br />
                  7月19—8月2日：登山活动（可能因天气情况延后行程，请做好假期安排）；<br />
                8月3日：队员撤回到喀什，活动结束。</div>
                <div class="ltitle">其他活动</div>
                <div class="lcon">
                	<!--单条循环开始-->
                    <div class="lconactall">
                    	<div class="lconacttitle"><a href="http://www.8264.com/portal-topic-topicid-1360.html" target="_blank">2011“Kailas杯”全国青年攀岩竞标赛</a></div>
                        <div class="lconactcon"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test14.jpg" />攀岩运动起源于上世纪五十年代的欧洲，是从登山运动中衍生出来的竞技体育运动。该运动于上世纪九十年代开始我国兴起，1993年攀岩比赛被国家体委列入正式比赛项目。2006年该项运动被列为全国体育大会正式竞赛项目。近年来随着攀岩运动的普及，攀岩运动爱好者人群不断壮大。攀岩运动以独特的魅......<br><a href="http://www.8264.com/portal-topic-topicid-1360.html" target="_blank">详细>></a></div>
                    </div>
                    <!--单条循环结束-->
                    <div class="lconactall">
                    	<div class="lconacttitle"><a href="http://www.kailas.com.cn/duty/index.asp" target="_blank">Kailas—负责任的旅行</a></div>
                        <div class="lconactcon"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test15.jpg" />我幸运地得到一笔赞助，踏上人生中第一次长途旅行，谁也无法确知一次陌生的旅程会给自己的生活带来怎样的影响，我带着满腹的疑惑和些许好奇从深圳出发，用半年的时间历经了从云南-西藏-尼泊尔-印度-巴基斯坦-新疆-甘肃-陕西20000公里的漫长旅程。在很多朋友的关心和鼓励下，我在这几年里利用节......<br><a href="http://www.kailas.com.cn/duty/index.asp" target="_blank">详细>></a></div>
                    </div>
                    <div class="lconactall">
                    	<div class="lconacttitle"><a href="http://www.kailas.com.cn/cn/html/News/20101218/201012181416291.html" target="_blank">Kailas预祝全国攀岩竞标赛圆满成功</a></div>
                        <div class="lconactcon"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test16.jpg" />一年一度的全国最高水平的攀岩赛事——“第十六届全国攀岩锦标赛”将于12月18日—20日在北京举行。本次赛事经国家体育总局批准，由中国登山协会主办，北京市登山协会协办，比赛设难度赛，攀石赛，速度赛，分为男女两组进行。来自各省、自治区、直辖市体育局，登山协会、行业体协、大专院校及相......<br><a href="http://www.kailas.com.cn/cn/html/News/20101218/201012181416291.html" target="_blank">详细>></a></div>
                    </div>
                    <div class="lconactall">
                    	<div class="lconacttitle"><a href="http://www.kailas.com.cn/cn/html/News/20101218/201012181404442.html" target="_blank">Kailas念青东段隐秘峰考察交流会召开</a></div>
                        <div class="lconactcon"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test17.jpg" />KAILAS念青东段隐秘山峰考察分享交流会即将召开 kailas 念青唐古拉东段隐秘山峰考察队将于12月15日在深圳举办分享交流会，届时考察队员将和来自深圳及周边地区的户外爱好者和部分户外登山及探险界人士进行深入的交流和探讨。做为KAILAS中国未登峰计划的之一的念青唐古拉东段隐秘山峰活动，在2008年9月中旬启动，经过20多天的考察在10月......<br><a href="http://www.kailas.com.cn/cn/html/News/20101218/201012181404442.html" target="_blank">详细>></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="r">
        	<div class="rin">
        		<div class="rtitle">山峰简介</div>
                <div class="rcon1"> 　　
                属西昆仑山脉-帕米尔高原东部高峰，山体巨大，面积达275平方公里，海拔7546米，东经75.1度，北纬38.5度，位于新疆。慕士塔格峰傲然峙立而又像白发苍苍的老者，当地人称之为“慕士塔格阿塔”，在维吾尔语中“慕士塔格”意为“冰山”，“阿塔”意为“父亲”。与西昆仑山脉最高峰公格尔峰（海拔7719米）、第二高峰公格尔九别（海拔7595米）三足鼎立，雄踞于昆仑山西段，被称为“昆仑三雄”、“东帕米尔高原三高峰”。慕士塔格峰峰顶浑圆，终年积雪，冰雪平均厚度达100~200米。雪线约海拔5200米处，冰山地貌发育出......&nbsp;&nbsp;<a href="http://www.8264.com/portal.php?mod=view&aid=67279" target="_blank">详细>></a></div>
                <div class="rtitle">攀登队员</div>
                <div class="rcon2">
                	<!--单条循环开始-->
                <div class="duiyuanall">
                    	<div class="duiyuanimg"><a href="http://www.8264.com/portal.php?mod=view&aid=67332" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/dy1.jpg" /></a></div>
                  <div class="duiyuancon">
                        	<h1><a href="#" target="_blank">总指挥：朱廷峰　　深圳市登山户外运动协会会长</a></h1>2000年，登顶6178米玉朱峰；<br />
2001年，登顶7546米慕士塔格峰；<br />2004年，攀登穷母岗日和桑丹康桑峰；<br /><a href="http://www.8264.com/portal.php?mod=view&aid=67332" target="_blank">详细>></a></div>
                        <div class="clear"></div>
                  </div>
                    <!--单条循环结束-->
                    <div class="duiyuanall">
                    	<div class="duiyuanimg"><a href="http://www.8264.com/portal.php?mod=view&aid=67332" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/dy2.jpg" /></a></div>
                      <div class="duiyuancon">
                        	<h1><a href="#" target="_blank">攀登队长：曹峻　　深圳市登山户外运动协会副会长</a></h1>1990年8月，青海玉珠峰登顶；<br />
1991年8月，新疆慕士塔格峰；<br />1992年7-8月，西藏念青唐古拉峰（7117m）<br /><a href="http://www.8264.com/portal.php?mod=view&aid=67332" target="_blank">详细>></a>                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="duiyuanall">
                    	<div class="duiyuanimg"><a href="http://www.8264.com/portal.php?mod=view&aid=67332" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/dy3.jpg" /></a></div>
                      <div class="duiyuancon">
                   	  <h1><a href="#" target="_blank">大本营总管：宋玉江　　新疆乔戈里高山探险独舞有限公司总经理</a></h1>
                   	  1998年国内首次登顶新疆博格达峰，海拔5445米。<br />
1999年冬季带队登顶新疆天格尔峰，海拔4481米。<br />
2002年 作为攀登队长攀登新疆慕士塔峰格至7400米，并协助陕西卫视拍摄“慕士塔格的风雪”<br /><a href="http://www.8264.com/portal.php?mod=view&aid=67332" target="_blank">详细>></a>                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="duiyuanall">
                    	<div class="duiyuanimg"><a href="http://www.8264.com/portal.php?mod=view&aid=67332" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/dy4.jpg" /></a></div>
                      <div class="duiyuancon">
                        	<h1><a href="#" target="_blank">领队：曹莉　　深圳登协领队</a></h1>2001年5月登顶6178米玉珠峰；<br />
2002年8月南北穿越太白山，全程4天；<br />
2003年9月攀登海拔7117米中央峰（到达6900米）；徒步墨脱，全程7天；<br><a href="http://www.8264.com/portal.php?mod=view&aid=67332" target="_blank">详细>></a></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="rtitle">攀登装备</div>
                <div class="rcon3">
					<div class="conimg" id="de">
                        <table width="100%"  cellspacing="0" cellpadding="0">
                            <tr>
                                <td id="de1">
                                    <table width="100%"  cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td><div class="img33"><a href="http://www.kailas.com.cn/cn/html/product/201101121840045.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/1.jpg"  /></a></div></td>
                                            <td><div class="img33"><a href="http://www.kailas.com.cn/cn/html/product/201101121504034.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/2.jpg"  /></a></div></td>
                                            <td><div class="img33"><a href="http://www.kailas.com.cn/cn/html/product/201101171119043.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/3.jpg"  /></a></div></td>
                                            <td><div class="img33"><a href="http://www.kailas.com.cn/cn/html/product/201102181741176.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/4.jpg"  /></a></div></td>
                                            <td><div class="img33"><a href="http://www.kailas.com.cn/cn/html/product/201101171530474.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/5.jpg"  /></a></div></td>
                                            <td><div class="img33"><a href="http://www.kailas.com.cn/cn/html/product/201101171618271.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/6.jpg"  /></a></div></td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="de2">&nbsp;</td>
                            </tr>
                        </table>
                        <SCRIPT language=JavaScript type=text/javascript>
                        function GetObj01(objName){
                        if(document.getElementById){
                        return eval('document.getElementById("' + objName + '")');
                        }else if(document.layers){
                        return eval("document.layers['" + objName +"']");
                        }else{
                        return eval('document.all.' + objName);
                        }
                        }
                        var speed01=20//速度数值越大速度越慢
                        GetObj01("de2").innerHTML=GetObj01("de1").innerHTML
                        function Marquee01(){
                        if(GetObj01("de").scrollLeft<=0)
                        GetObj01("de").scrollLeft=GetObj01("de1").offsetWidth
                        else{
                        GetObj01("de").scrollLeft--
                        }
                        }
                        var MyMar01=setInterval(Marquee01,speed01)
                        GetObj01("de").onmouseover=function() {clearInterval(MyMar01)}
                        GetObj01("de").onmouseout=function() {MyMar01=setInterval(Marquee01,speed01)}
                        </SCRIPT>
        			</div> 	
                </div>
                <div class="rtitle">活动新闻</div>
                <div class="rcon4">
                	<ul>
                    	<li>&#8226;&nbsp;<a href="http://www.8264.com/portal.php?mod=view&aid=67340" target="_blank">2011Kailas慕士塔格登山活动将在6月底拉开序幕</a></li>
                        <li>&#8226;&nbsp;<a href="http://www.8264.com/67872.html" target="_blank">2011 KAILAS慕士塔格登山活动首批队员成功登顶</a></li>
                        
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="rtitle">活动图片</div>
                <div class="rcon5">
                	<div class="rcon5img"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test1.jpg" /></div>
					<div class="rcon5img"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test3.jpg" /></div>
                    <div class="rcon5img"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test4.jpg" /></div>
                    <div class="rcon5img"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test6.jpg" /></div>
                    <div class="rcon5img"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test5.jpg" /></div>
                    <div class="rcon5img"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test10.jpg" /></div>
                    <div class="rcon5img"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test8.jpg" /></div>
                    <div class="rcon5img"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test2.jpg" /></div>
                    <div class="rcon5img"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test11.jpg" /></div>
					<div class="rcon5img"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test12.jpg" /></div>
					<div class="rcon5img"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test13.jpg" /></div>
                    <div class="rcon5img"><img src="http://static.8264.com/oldcms/moban/zt/kailasds/images/test7.jpg" /></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="tiao"></div>
    <div class="bottom"><a href="http://www.8264.com/template/8264/about/aboutus.htm" target="_blank">8264简介</a>&nbsp;|&nbsp;<a href="http://www.8264.com/template/8264/about/ggservice/index.html" target="_blank">广告服务</a>&nbsp;|&nbsp;<a href="http://www.8264.com/list/531/" target="_blank">编辑部的故事</a>&nbsp;|&nbsp;<a href="http://www.8264.com/template/8264/about/sitemap.html" target="_blank">站点地图</a>&nbsp;|&nbsp;<a href="http://www.8264.com/zhuanti" target="_blank">户外热点</a>&nbsp;|&nbsp;<a href="http://www.8264.com/template/8264/about/aboutus.htm" target="_blank">联系方式</a>&nbsp;|&nbsp;<a href="http://bbs.8264.com/plugin.php?id=drc_qqgroup:main" target="_blank">QQ群联盟</a>&nbsp;|&nbsp;<a href="http://8.8264.com/job/" target="_blank">8264招聘</a>&nbsp;|&nbsp;<a href="http://www.8264.com/link/" target="_blank">友情链接</a><br>
          服务热线：022-23708264&nbsp;|&nbsp;传真：022-23708323&nbsp;|&nbsp;地址：天津市新技术产业园华苑产业区华天道8号海泰信息广场C座1001号<br>
          <a href="http://bx.8264.com" target="_blank">户外活动有风险，8264提醒您购买</a> <a href="http://bx.8264.com">户外保险</a><br>
          除了脚印什么都不留下 除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。8264&nbsp;版权所有   <a href="http://www.miibeian.gov.cn/" target="_blank">津ICP备05004140号-10</a>&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/template/8264/image/icp.jpg" target="_blank">ICP证 津B2-20110106</a></div>
</div>
</body>
</html>
