<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>勇敢者总动员</title>
<link href="http://static.8264.com/oldcms/moban/zt/yongganzhe/style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="warpper">
	<!--<div><img src="http://static.8264.com/oldcms/moban/zt/yongganzhe/images/banner.jpg" width="1003" height="709" border="0" usemap="#Map" /><map name="Map" id="Map"><area shape="rect" coords="155,361,463,687" href="#" target="_blank" /><area shape="rect" coords="526,358,834,689" href="#" target="_blank" /></map>
	</div>-->
	<div><img src="http://static.8264.com/oldcms/moban/zt/yongganzhe/images/banner_01.jpg" width="1003" height="136" border="0" /></div>
  <div><img src="http://static.8264.com/oldcms/moban/zt/yongganzhe/images/banner_02.jpg" width="1003" height="227" border="0" /></div>
	<div><img src="http://static.8264.com/oldcms/moban/zt/yongganzhe/images/banner_03.jpg" width="1003" height="320" border="0" usemap="#Map" />
	  <map name="Map" id="Map">
	  <area shape="rect" coords="162,7,458,320" href="http://bbs.8264.com/thread-480302-1-1.html" target="_blank" />
	  <area shape="rect" coords="533,9,825,320" href="http://bbs.8264.com/thread-480302-1-1.html" target="_blank" />
	  </map>
  </div>
	<div style="_margin-top:-5px;+margin-top:-5px;"><img src="http://static.8264.com/oldcms/moban/zt/yongganzhe/images/banner_04.jpg" width="1003" height="26" border="0" /></div>
    <div class="mid">
    	<div><img src="http://static.8264.com/oldcms/moban/zt/yongganzhe/images/title.jpg" width="912" height="115" border="0" usemap="#Map2" /><map name="Map2" id="Map2"><area shape="rect" coords="55,66,180,112" href="http://u.8264.com/space-mtag-tagid-4136.html" target="_blank" /><area shape="rect" coords="708,46,894,66" href="http://www.cnbulin.com/" target="_blank" /></map></div>
        <!--整块循环大模块开始-->
        <div>
        	<!--单条循环开始-->
        	<iframe scrolling="no" height="800px" frameborder="0" width="912px" onload="iframeOnLoad()" src="http://static.8264.com/oldcms/moban/zt/yongganzhe/gallery/index.php" style="display: block;" id="galleryFrame"></iframe>
            <!--单条循环结束-->
           
          	<div style="clear:both"></div>
            <!--分页开始
            <table border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                	<td>
                    <div class="pages"><strong>1</strong><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">下一页</a></div>
                    </td>
                </tr>
            </table>-->
            <!--分页结束-->
        </div>
        <!--整块循环大模块结束-->
        <div><img src="http://static.8264.com/oldcms/moban/zt/yongganzhe/images/bottom.jpg" width="912" height="16" border="0" /></div>
    </div>
    <div class="bottom"><a href="/ziliao/about/aboutus.php" target="_blank">8264简介</a>&nbsp;|&nbsp;<a href="/ziliao/ggservice/index.html" target="_blank">广告服务</a>&nbsp;|&nbsp;<a href="yongganzhe/{S_URL}/list/531" target="_blank">编辑部的故事</a>&nbsp;|&nbsp;<a href="/ziliao/sitemap.html" target="_blank">站点地图</a>&nbsp;|&nbsp;<a href="/ziliao/about/aboutus.php" target="_blank">联系方式</a>&nbsp;|&nbsp;<a href="/email_list/all_list.php?TID=56" target="_blank">申请加入邮件列表</a>&nbsp;|&nbsp;<a href="http://www.8264.com/action-bbs" target="_blank">社区资讯</a>&nbsp;|&nbsp;<a href="http://u.8264.com" target="_blank">驴友录</a>&nbsp;|&nbsp;<a href="http://u.8264.com/job-compinfo-cid-20.html" target="_blank">8264招聘</a>&nbsp;|&nbsp;<a href="#action/site/type/link#" target="_blank">友情链接</a><br>服务热线：022-23708264&nbsp;|&nbsp;传真：022-23708323&nbsp;|&nbsp;地址：天津市新技术产业园华苑产业区华天道8号海泰信息广场C座1001号<br>
<a href="http://bx.8264.com" target="_blank">户外活动有风险，8264提醒您购买</a> <a href="http://bx.8264.com"><span style="color:#53792e;">户外保险</span></a><br>除了脚印什么都不留下 除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。8264&nbsp;版权所有   <a href="http://www.miibeian.gov.cn/" target="_blank">津ICP备05004140号-1</a></div>
</div>
</body>
</html>
