<html>
<head>
<title>溯溪，漂流,穿越海岸线，溪降----舒适快乐中过一个亲水的夏日户外</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<META content=溯溪，漂流,穿越海岸线，溪降  name=description>
<META content=溯溪，漂流,穿越海岸线，溪降  name=keywords>
<link href="/css/igenus.css" rel="stylesheet" type="text/css">
<link href="/css/css.css" rel="stylesheet" type="text/css">
<link href="/css/talk.css" rel="stylesheet" type="text/css">
<link href="/css/pinglun20070313.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.f14b {font-size:14px;
	color:#333333;
	line-height: 150%;
	font-weight: bold;
}
.style6 {	font-size: 24px;
	color: #FFFFFF;
}
.style7 {color: #0000FF}
.f14BWW {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 160%
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
</head>

<body>
<table width="776"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="27" background="http://static.8264.com/oldcms/images/index1(1)_02.gif"><div align="center">
        <table width="776" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="221"><div align="center" class="td" style="text-align:center;">
                <div align="center" style="text-align:center;">                
                  <SCRIPT language=JavaScript>
<!--
calendar1 = new Date();
day = calendar1.getDay();
month = calendar1.getMonth();
date = calendar1.getDate();
year = calendar1.getYear();
if (year< 100) year = 1900 + year;
cent = parseInt(year/100);
g = year % 19;
k = parseInt((cent - 17)/25);
i = (cent - parseInt(cent/4) - parseInt((cent - k)/3) + 19*g + 15) % 30;
i = i - parseInt(i/28)*(1 - parseInt(i/28)*parseInt(29/(i+1))*parseInt((21-g)/11));
j = (year + parseInt(year/4) + i + 2 - cent + parseInt(cent/4)) % 7;
l = i - j;
emonth = 3 + parseInt((l + 40)/44);
edate = l + 28 - 31*parseInt((emonth/4));
emonth--;
var dayname = new Array ("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
var monthname = new Array ("1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月" );
document.write("<span class=font9><font color=#000000>"+year +"年");
document.write(monthname[month]);
document.write(date + "日  ");
document.write(dayname[day]+" "+"</font></span>");
// January(1月份节日，以下同。)
if ((month == 0) && (date == 1)) document.write("元旦");
if ((month == 4) && (date == 1)) document.write("国际劳动节");
if ((month == 4) && (date == 4)) document.write("青年节");
if ((month == 5) && (date == 1)) document.write("国际儿童节");
if ((month == 11) && (date == 25)) document.write("圣诞节");
document.write("</font>");
//-->
                  </SCRIPT>
                  <SCRIPT>
var SMDay= new Array (0,31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
var a=0;
var b,c,d;
var today=new Date();
yy=today.getYear();
SMonth=today.getMonth()+1;
SDay=today.getDate();
weekday=today.getDay();
if ((yy%4==0) & (yy%100!=0) | (yy%400==0)) SMDay[2] = 29;
for (i=0;i<SMonth;i++)
{
a=SMDay[i]+a;
}
a=a+SDay;
b=(7+a-weekday)%7;
d=7-b;
c=(a+d-weekday+7)/7;
document.write("<font color=#000000>","第",c,"周","</font>");
                  </SCRIPT>
</div>
            </div></td>
            <td><div align="center" class="td">
                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="92%"><a href="http://www.8844shop.com" target="_blank"><font color=red>户外用品</font></a>·<a href="http://www.yododo.com.cn/" target="_blank"><font color="0000ff">游多多自助游</font></a>·<a href="http://www.91ski.com" target="_blank">就要滑雪网</a>·<a href="http://bbs.8264.com/forum-174-1.html" target="_blank">打折促销</a>·<a href="http://bbs.8264.com/forum-163-1.html" target="_blank">问答</a>·<a href="http://home.8264.com/" target="_blank">驴友之家</a>/<a href="http://travel.elong.com/flights/Default.aspx?Campaign_ID=4050879" target="_blank">机票</a>·<a href="http://so.8264.com" target="_blank">搜索</a>·<a href="/list/588" target="_blank">杂志</a>·<a href="http://www.8264.net" target="_blank">English</a></td>
                  </tr>
                </table>
            </div></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td><div align="center">
        <table width="776" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="215" height="60"><div align="left"><a href="/"><img src="http://static.8264.com/oldcms/images/logo1.gif" width="205" height="60" border="0" /></a></div></td>
            <td width="561"><div align="center">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="25" background="http://static.8264.com/oldcms/images/index1(1)_06.gif"><div align="center" style="text-align:center;">
                        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="13%"><div align="center" style="text-align:center;"><a href="http://osm.8264.com" target="_blank">户外经理人</a></div></td>
                            <td width="9%"><div align="center" style="text-align:center;"><a href="http://dian.8264.com" target="_blank">户外店</a></div></td>
							<td width="8%"><div align="center" style="text-align:center;"><a href="http://u.8264.com/brand.php/" target="_blank"><font color="#FF0000">品牌</font></a></div></td>
                            <td width="11%"><div align="center" style="text-align:center;"><a href="http://pk.8264.com" target="_blank" >户外讨论</a><a href="http:/pk.8264.com" target="_blank"></a></div></td>
                            <td width="13%"><div align="center" style="text-align:center;"><span class="td"><a href="/ziliao/face2face" target="_blank">名家面对面</a></span></div></td>
                            <td width="12%"><div align="center" style="text-align:center;"><span class="td"><a href="http://www.8264.com/list/751/" target="_blank">商业频道</a></span></div></td>
                            <td width="11%"><div align="center" style="text-align:center;"><a href="http://bbs.8264.com/forum-156-1.html" target="_blank">招聘求职</a></div></td>
                            <td width="23%"><div align="center" style="text-align:center;"><a href="http://www.8844shop.com" target="_blank"><img src="http://static.8264.com/oldcms/images/index1_09.gif" width="116" height="18" border="0" /></a></div></td>
                          </tr>
                        </table>
                    </div></td>
                  </tr>
                  <tr>
                    <td height="26" background="http://static.8264.com/oldcms/images/index1(1)_08.gif"><div align="center" class="td" style="text-align:center;"><a href="/list/204" target="_blank">户外装备</a> - <a href="/list/224" target="_blank">登山频道</a> - <a href="/list/232" target="_blank">攀岩频道</a> - <a href="/list/251" target="_blank">游记攻略</a> - <a href="/list/243" target="_blank">经典线路</a> - <a href="/list/238" target="_blank">户外知识</a> - <a href="/list/389" target="_blank">滑翔</a> - <a href="/list/545" target="_blank">自驾</a> - <a href="/list/566" target="_blank">救援</a> - <a href="/list/576" target="_blank">环保</a></div></td>
                  </tr>
                </table>
            </div></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td height="23" bgcolor="A2A25E"><div align="center">
        <table width="100%" height="23"  border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="130"><div align="center" style="text-align:center;">户外资料--一网打尽</div></td>
            <td width="519" class="td"><div align="left"><a href="/">首页</a> | <a href="/list/201" target="_blank">新闻</a> | <a href="http://pp.8264.com" target="_blank"><font color="0000ff">美女图片</font></a> | <a href="/picnews_list/" target="_blank">图文</a> | <a href="http://u.8264.com/activity.php" target="_blank">同行</a> | <a href="/topic_list/" target="_blank">专题</a> | <a href="http://u.8264.com/activity.php" target="_blank">活动</a><a href="http://u.8264.com/activity.php" target="_blank"><img src="/img/new2.gif" width="28" height="11" border="0" /></a> | <a href="/sitelink/index.html" target="_blank">户外网址</a> | <a href="http://u.8264.com/" target="_blank">驴友录</a> | <a href="http://bbs.8264.com" target="_blank"><font color="0000ff">社区论坛</font></a> </div></td>
            <td width="127" class="td"><div align="center" style="text-align:center;"><a href="http://home.8264.com/" target="_blank"><img alt="驴友之家" src="/img/8264gg/2008/lvyou2.gif" width="111" height="19" border="0" /></a></div></td>
          </tr>
        </table>
    </div></td>
  </tr>
</table>
  <DIV align=center>
    <TABLE cellSpacing=0 cellPadding=0>
<TBODY>
<TR>
<TD></TD></TR></TBODY></TABLE>
<TABLE width="776" border=0 align="center" cellPadding=0 cellSpacing=0>
<TBODY>
<TR>
<TD width="194"><div align="center">
  <table width="190" height="100" border="0" align="left" cellpadding="0" cellspacing="1" bgcolor="#666666">
    <tr>
      <td bgcolor="#FFFFFF"><div align="center"><IMG height=132 src="http://static.8264.com/oldcms/img/suoxi/4a.jpg" width=180></div></td>
    </tr>
  </table> 
  </div></TD>
<TD width="194"><table width="190" height="100" border="0" cellpadding="0" cellspacing="1" bgcolor="#666666">
  <tr>
    <td bgcolor="#FFFFFF"><div align="center"><IMG height=132 src="http://static.8264.com/oldcms/img/suoxi/1.jpg" width=180></div></td>
  </tr>
</table></TD>
<TD width="194"><table width="190" height="100" border="0" cellpadding="0" cellspacing="1" bgcolor="#666666">
  <tr>
    <td bgcolor="#FFFFFF"><div align="center"><IMG height=132 src="http://static.8264.com/oldcms/img/suoxi/2.jpg" width=180></div></td>
  </tr>
</table></TD>
<TD width="194"><table width="190" height="100" border="0" align="right" cellpadding="0" cellspacing="1" bgcolor="#666666">
  <tr>
    <td bgcolor="#FFFFFF"><div align="center"><IMG height=132 src="http://static.8264.com/oldcms/img/suoxi/11.jpg" width=180></div></td>
  </tr>
</table></TD>
</TR></TBODY></TABLE>
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td width="160">&nbsp;</td>
  </tr>
</table>
<TABLE width="776" align="center" cellPadding=0 cellSpacing=0>
<TBODY>
<TR>
<TD vAlign=top align=middle bgColor=#ffffff height=811>
<TABLE width="100%" border="0" cellPadding=0 cellSpacing=0>
<TBODY>
<TR>
<TD vAlign=top width=783 bgColor=#f7f7f7>
<DIV align=center><STRONG>舒适快乐度过一个亲水的夏日户外</STRONG></DIV></TD></TR>
<TR>
<TD vAlign=top bgColor=#f7f7f7>　　和煦，温柔的春天转瞬就过去了，炎热而多雨的夏季已经用他36度的高温来宣告他的存在了。山脊行军，沙漠穿越，这些可怕的字眼转瞬间从脑海中被抹杀掉了。溯溪，漂流,穿越海岸线，溪降,等众多活动突然涌出。让我们过一个亲水的夏季吧。<BR></TD></TR></TBODY></TABLE><IMG height=7 src="http://static.8264.com/oldcms/images/xian.gif" width=583> 
<TABLE width="100%" border="0" cellPadding=0 cellSpacing=0>
<TBODY>
<TR>
<TD vAlign=top width=783 bgColor=#f7f7f7><BR>　　所谓溯溪，是由峡谷溪流的下游向上游，克服地形上的各处障碍， 溯水之源而登山之巅的一项探险活动。<BR>　　溯溪运动（river tracing）原是欧洲阿尔卑斯的一种登山方式，现演变为相对独立的户外运动。上世纪60—70年代盛行于日本，各种团体组织众多，因脚踏草鞋而多名曰“××草鞋会”。 溯溪是一项可以结合登山、攀岩、露营、游泳、绳索操作、野外求生、定位运动、等综合性技术的户外活动。在溯溪过程中，溯行者须借助一定的装备，具备一定的技术，去克服诸如急流险滩、深潭飞瀑等许多艰难险阻，充满了挑战 。 也正是由于地形复杂，不同地方须以下同的装备和方式行进，因而使得这项活动富于变化而魅力无穷。溯溪活动需要同伴之间的密切配合，利用一种团队精神，去完成艰难的攀登，对于溯行者是一种考验，同时又得到一种信任和满足，一种克服困难后的自信与成就感。 <BR><A href="http://www.8264.com/7651.html" target=_blank><IMG height=11 src="http://image1.8264.com/portal/upload/article/2004ozoutdoor/gd.gif" width=44 border=0></A><BR></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0>
<TBODY>
<TR>
<TD align=middle><IMG height=7 src="http://static.8264.com/oldcms/images/xian.gif" width=583></TD></TR></TBODY></TABLE>
<TABLE border="0" cellPadding=0 cellSpacing=0>
<TBODY>
<TR>
<TD width="100%" bgColor=#ffffff>
<TABLE cellSpacing=5 cellPadding=0>
<TBODY>
<TR>
<TD class=onle180 rowSpan=2>
<DIV align=center><IMG src="http://image1.8264.com/portal/upload/article/newsimg/2004514223658734.jpg" width=200></DIV></TD>
<TD class=onle180 width="66%">
<DIV align=center><STRONG>溯溪专业知识</STRONG></DIV></TD></TR>
<TR>
<TD class=onle180>
<P>　　初级溯溪就是沿着溪谷，逆溯到溪的源头，其行程不受时间限制，路程多少不定，踩着清流碎石，缓步走入清幽宁静的溪谷中，不知不觉往上游走去，这就是溯溪的开始。　　 <BR>　　所谓的 “ 完全溯溪 ” 就是克服一切岩壁峡嶂，穿越无数急流深潭，再上蜿蜒登顶，然后依山径路线而下。　　 <BR>　　溯溪注意事项 　　 <BR>　　☆ 参加溯溪活动之前，应阅读有关溯溪技术的书籍，学习各项攀登技术。<BR>　　☆ 溯溪活动一定要组队结伴，切忌单独进入溪谷中。<BR>　　☆ 队员里有资深经验者的指导是非常重要的。。。。<BR><A href="http://www.8264.com/3482_1.html" target=_blank><IMG height=11 src="http://image1.8264.com/portal/upload/article/2004ozoutdoor/gd.gif" width=44 border=0></A> <BR>
</P></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE><IMG height=7 src="http://static.8264.com/oldcms/images/xian.gif" width=583> 
<TABLE border="0" cellPadding=0 cellSpacing=0>
<TBODY>
<TR>
<TD width="50%" bgColor=#f2f2f2><STRONG>溯溪二天（含）以上溯溪个人装备 </STRONG><BR><BR>1、头盔：保护头部，降低落石、坠落时头部冲击。应采用具有UIAA认证的岩盔 <BR>2、坐式吊带：采用不影响行进（脚环可调整且可拆式）、不易吸水、且装备挂环至少3环 <BR>3、梨型保险钩环(变大D型保险钩环)（ ×1 ~ 2）：用来联结坐式吊带与确保绳，建议使用开口大且无钩槽者以方便操作。使用2个则是方便联结自我确保系统及垂降、上升变化等 。。。。 <BR>
<TABLE cellSpacing=8 cellPadding=0>
<TBODY>
<TR>
<TD><A href="http://www.8264.com/2958.html" target=_blank><IMG height=11 src="http://image1.8264.com/portal/upload/article/2004ozoutdoor/gd.gif" width=44 border=0></A></TD>
</TR></TBODY></TABLE></TD>
<TD bgColor=#f2f2f2><STRONG>溯溪二天（含）以上（探勘行程）溯溪团体装备 </STRONG><BR><BR>1、 主绳（φ8 ~ 9.5mm ×40 ~ 50M） ×2：<BR>为最重要的团体攀登装备，长40~50M至少需备二条，其中一条可采用双盘式收绳，如此方便当作短绳使用。若人数较多，则可考虑加带一条20 ~ 25M之短绳。有下列二种可利用： (1)、φ9 ~ 9.5mm浮水绳： 弹性小、延展性低且能浮于水面，适用于深潭泳渡、垂降、岩面 边攀、短距（人工）攀登及拖拉系统，特别适合于峡谷、深潭遍布之中游溪谷 。。。。 
<TABLE cellSpacing=8 cellPadding=0>
<TBODY>
<TR>
<TD><A href="http://www.8264.com/2959_0.html" target=_blank><IMG height=11 src="http://image1.8264.com/portal/upload/article/2004ozoutdoor/gd.gif" width=44 border=0></A></TD>
</TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
<TABLE border="0" cellPadding=0 cellSpacing=0>
<TBODY>
<TR>
<TD><STRONG><A href="http://8264.com/655.html" target=_blank>Teva凉鞋与Coleman两栖鞋在溯溪中的比较</A></STRONG></TD>
<TD>
<DIV align=center><STRONG><A href="http://8264.com/12082.html" target=_blank>Chaco--经典两栖鞋和凉鞋</A></STRONG></DIV></TD>
<TD>
<DIV align=center><STRONG><A href="http://8264.com/12080.html" target=_blank>涧行的利器----溯溪鞋</A> </STRONG></DIV></TD>
<TD>
<DIV align=center><STRONG><A href="http://8264.com/12070.html" target=_blank>2005沙滩鞋综合评述</A> </STRONG></DIV></TD></TR>
<TR>
<TD width="25%">
<TABLE cellSpacing=0 cellPadding=0 align=center>
<TBODY>
<TR>
<TD vAlign=bottom align=right>
<TABLE cellSpacing=0 cellPadding=0>
<TBODY>
<TR>
<TD>
<DIV align=center><A href="http://8264.com/655.html" target=_blank><IMG height=100 src="http://image1.8264.com/portal/photo/200506/20050613050614.jpg" width=140 border=0></A></DIV></TD></TR></TBODY></TABLE></TD>
<TD vAlign=top align=left width=3 bgColor=#999999><IMG height=6 width=3></TD></TR>
<TR>
<TD bgColor=#999999 colSpan=2><IMG height=3 width=6></TD></TR></TBODY></TABLE></TD>
<TD width="25%">
<TABLE cellSpacing=0 cellPadding=0 align=center>
<TBODY>
<TR>
<TD vAlign=bottom align=right>
<TABLE cellSpacing=0 cellPadding=0>
<TBODY>
<TR>
<TD>
<DIV align=center><A href="http://8264.com/12082.html" target="_blank"><IMG height=100 src="http://image1.8264.com/portal/photo/200506/20050609-04/mens-z1MATRIXter.jpg" width=140 border=0></A></DIV></TD></TR></TBODY></TABLE></TD>
<TD vAlign=top align=left width=3 bgColor=#999999><IMG height=6 width=3></TD></TR>
<TR>
<TD bgColor=#999999 colSpan=2><IMG height=3 width=6></TD></TR></TBODY></TABLE>
<DIV align=center></DIV>
<DIV align=center></DIV></TD>
<TD width="25%">
<TABLE cellSpacing=0 cellPadding=0 align=center>
<TBODY>
<TR>
<TD vAlign=bottom align=right>
<TABLE cellSpacing=0 cellPadding=0>
<TBODY>
<TR>
<TD><A href="http://8264.com/12080.html" target=_blank><IMG height=100 src="http://image1.8264.com/portal/photo/200506/20050614040654.jpg" width=140 border=0></A></TD>
</TR></TBODY></TABLE></TD>
<TD vAlign=top align=left width=3 bgColor=#999999><IMG height=6 width=3></TD></TR>
<TR>
<TD bgColor=#999999 colSpan=2><IMG height=3 width=6></TD></TR></TBODY></TABLE></TD>
<TD width="25%">
<TABLE cellSpacing=0 cellPadding=0 align=center>
<TBODY>
<TR>
<TD vAlign=bottom align=right>
<TABLE cellSpacing=0 cellPadding=0>
<TBODY>
<TR>
<TD><A href="http://8264.com/12070.html" target=_blank><IMG height=100 src="http://image1.8264.com/portal/photo/200506/20050614040619.jpg" width=140 border=0></A></TD>
</TR></TBODY></TABLE></TD>
<TD vAlign=top align=left width=3 bgColor=#999999><IMG height=6 width=3></TD></TR>
<TR>
<TD bgColor=#999999 colSpan=2><IMG height=3 width=6></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
<TABLE width="100%" border="0" align=left cellPadding=0 cellSpacing=0>
<TBODY>
<TR>
<TD bgColor=#99cccc><STRONG>■ </STRONG></TD></TR>
<TR>
<TD vAlign=top></TD></TR>
<TR>
<TD><A href="http://www.8264.com/2988.html" target=_blank>溯溪运动的经验 </A></TD></TR>
<TR>
<TD><A href="http://www.8264.com/3440.html" target=_blank>安全溯溪活动的几个注意事项 </A></TD></TR>
<TR>
<TD><A href="http://www.8264.com/141.html" target=_blank>溯溪图的判读与绘制 </A></TD></TR>
<TR>
<TD><A href="http://www.8264.com/8670.html" target=_blank>溯溪之初体验：受伤的肢体幸福的心 </A></TD></TR>
<TR>
<TD><A href="http://www.8264.com/12089.html" target=_blank>溪谷活动伤害类型(溯溪) </A></TD></TR>
<TR>
<TD><A href="http://www.8264.com/3346.html" target=_blank>关于溯溪鞋</A></TD></TR>
<TR>
<TD><A href="http://www.8264.com/2961.html" target=_blank>溯溪装备选购与保养 </A></TD></TR>
<TR>
<TD><A href="/7907.html">湿绳和结冰的动力绳的强度 </A></TD></TR></TBODY></TABLE></TD>
<TD vAlign=top width=160 bgColor=#801c02>
<TABLE height=16 cellSpacing=1 cellPadding=0 width=159>
<TBODY>
<TR>
<TD align=left>
<DIV align=center><FONT color=#eeeeee>溯溪路线</FONT></DIV></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=1 cellPadding=3>
<TBODY>
<TR>
<TD bgColor=#f4e7d9>
<TABLE height=18 cellSpacing=1 cellPadding=0 width=150>
<TBODY>
<TR>
<TD align=middle width=146 bgColor=#f4e7d9>
<DIV align=center><STRONG><A href="http://www.8264.com/10000.html" target=_blank>叠翠谷溯溪登马峦山</A></STRONG></DIV></TD></TR></TBODY></TABLE></TD></TR>
<TR>
<TD bgColor=#ffffff>叠翠谷位于深圳市东部山区，因谷内溪流最终注入叠翠湖而得名。<BR><A href="http://www.8264.com/10000.html" target=_blank><IMG height=11 src="http://image1.8264.com/portal/upload/article/2004ozoutdoor/gd.gif" width=44 border=0></A></TD>
</TR>
<TR>
<TD class=style16 bgColor=#f4e7d9>
<TABLE cellSpacing=1 cellPadding=0>
<TBODY>
<TR>
<TD align=middle bgColor=#f4e7d9><A href="http://www.8264.com/9999.html" target=_blank><STRONG>坪山碧岭瀑布群溯溪探源</STRONG></A> </TD></TR></TBODY></TABLE></TD></TR>
<TR>
<TD class=style16 bgColor=#ffffff>　坪山碧岭瀑布群位于深圳坪山镇，那里植被覆盖率高，水流清澈，是深圳目前发现的最大瀑布群，最大瀑布高可达15米左右，而且呈连叠状分布 <BR><A href="http://www.8264.com/9999.html" target=_blank><IMG height=11 src="http://image1.8264.com/portal/upload/article/2004ozoutdoor/gd.gif" width=44 border=0></A></TD>
</TR></TBODY></TABLE>
<TABLE cellSpacing=1 cellPadding=3>
<TBODY>
<TR>
<TD bgColor=#f4e7d9>
<TABLE height=18 cellSpacing=1 cellPadding=0 width=150>
<TBODY>
<TR>
<TD align=middle width=146 bgColor=#f4e7d9>
<DIV align=center><STRONG><A href="http://www.8264.com/10001.html" target=_blank>广东溯溪路线：石门台</A> </STRONG></DIV></TD></TR></TBODY></TABLE></TD></TR>
<TR>
<TD bgColor=#ffffff>　石门台位于英德市北部，与有名的广州名山船底顶接壤，据说是广东省内最好的溯溪路线。溪流淙淙，瀑布长流不息，森林密布，清凉世界，是溯溪、露营避暑的好地方。<BR><A href="http://www.8264.com/10001.html" target=_blank><IMG height=11 src="http://image1.8264.com/portal/upload/article/2004ozoutdoor/gd.gif" width=44 border=0></A></TD>
</TR>
<TR>
<TD class=style16 bgColor=#f4e7d9>
<TABLE cellSpacing=1 cellPadding=0>
<TBODY>
<TR>
<TD align=middle bgColor=#f4e7d9><A href="http://www.8264.com/9999.html" target=_blank></A><A href="http://www.8264.com/8377.html"><STRONG>广州附近的三個溯溪场</STRONG></A> </TD></TR></TBODY></TABLE></TD></TR>
<TR>
<TD class=style16 bgColor=#ffffff>1、佛冈观音山<BR>2、龙门南昆山 <BR>3、肇庆鼎湖山西沟试验区<BR><A href="http://www.8264.com/8377.html" target=_blank><IMG height=11 src="http://image1.8264.com/portal/upload/article/2004ozoutdoor/gd.gif" width=44 border=0></A> </TD>
</TR></TBODY></TABLE>
<TABLE cellSpacing=1 cellPadding=3>
<TBODY>
<TR>
<TD bgColor=#f4e7d9>
<TABLE height=18 cellSpacing=1 cellPadding=0 width=150>
<TBODY>
<TR>
<TD align=middle width=146 bgColor=#f4e7d9>
<DIV align=center><STRONG><A href="http://www.8264.com/8707.html" target=_blank>龙井河-白马尖，溯溪、登山穿越 </A></STRONG></DIV></TD></TR></TBODY></TABLE></TD></TR>
<TR>
<TD bgColor=#ffffff>　龙井河位于安徽省西部边缘霍山县与岳西交界处附近，距大别山主峰白马尖15公里，景区内有大小瀑布十几处。 <BR><A href="http://www.8264.com/8707.html" target=_blank><IMG height=11 src="http://image1.8264.com/portal/upload/article/2004ozoutdoor/gd.gif" width=44 border=0></A></TD>
</TR>
<TR>
<TD class=style16 bgColor=#f4e7d9>
<TABLE cellSpacing=1 cellPadding=0>
<TBODY>
<TR>
<TD align=middle bgColor=#f4e7d9><A href="http://www.8264.com/12093.html"><STRONG>福州周边之康坂溪线路</STRONG></A></TD></TR></TBODY></TABLE></TD></TR>
<TR>
<TD class=style16 bgColor=#ffffff>　康坂溪下游位于闽安镇康坂村，汇入村前大溪（白眉水库下游），主溪上游在清娘洞下方，中游南北各有一条风景不错的支流。<BR><A href="http://www.8264.com/12093.html" target=_blank><IMG height=11 src="http://image1.8264.com/portal/upload/article/2004ozoutdoor/gd.gif" width=44 border=0></A> </TD>
</TR>
<TR>
<TD class=style16 bgColor=#ffffff><A href="/6597.html" target=_blank>南澳户外活动路线介绍－溯溪海岸线穿越野外攀岩 </A></TD></TR>
<TR>
<TD class=style16 bgColor=#ffffff>&nbsp;</TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
  <table width="776" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><script language="javascript" src="/include/js/utility.js"></script>
<script language="javascript" src="/comment.js"></script>
<script language="javascript">
var CommentSrc= "/topic/415/";
if(!Page){	//如果在别的包含页面中已经包含过了，就不要再有了
	var Page = {	//使用该page对象,可以得到一些page信息
				ver:1.0	//版本号
	}
}
</script>
<style type="text/css">
<!--
#loginDiv { text-align:left; padding:0 10px 0 10px;}
#loginDiv a{width:40px; border:1px solid #7F9DB9; background:#EFEFEF; padding:0 3px 0 3px;; color:#000; font-size:12px; text-decoration:none; text-align:center; height:18px; line-height:18px; overflow:hidden;}
#loginDiv span{padding:0 10px 0 10px;}
-->
</style>
<center>
 <span style="padding-bottom:4px;padding-top:4px;"><a href="#" name="commentfocus" id="commentfocus"></a></span>
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td  style="padding-bottom:2px;padding-top:4px;"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="background-color:#f4f4f4; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 5px; PADDING-bottom: 2px;BORDER-BOTTOM: #ddd 1px solid; "><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="13%" align="left" class="lefttd25">驴友评论</td>
                          <td width="47%" align="left" class="pingluntd1" id="pageInfo"></td>
                          <td width="40%"  id="pageNav" align="right"></td>
                        </tr>
                    </table></td>
                  </tr>
              </table></td>
            </tr>
          </table>	
		  
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr><td  class="lefttd15">
  
<div id=allcomments ></div>

  </td>
  </tr>
</table>	  
	    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td style="background-color:#f4f4f4; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 5px; PADDING-bottom: 2px;BORDER-BOTTOM: #ddd 1px solid; "><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="13%" ></td>
			  <td width="47%" class="pingluntd1" align="left" id="pageInfo2"></td>
              <td width="40%"  id="pageNav2"  align="right"></td>
            </tr>
        </table></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <form action='' method="post" name="reform" id="reform">
            <td style="padding-top:10px">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="background-color:#f4f4f4; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 6px; PADDING-bottom: 4px;BORDER-BOTTOM: #ddd 1px solid; ">
				    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="20%" align="left"  class="lefttd25">发表评论<a name="recom">&nbsp;</a></td>
                        <td width="80%"  class="pingluntd1"><input name="type" type="hidden" id="type" value="add" />
                            <input name="id0" type="hidden" id="id0" value="415" />
                            <span id="relabel" style="display:none;"> <font color="ff0000">引用回复成功，请输入您的评论！</font>
                            <input name="reid" id="reid" type="hidden"  value="0" />
                          <a href="#recom" onClick="unrecomment()">取消</a> </span> </td>
                      </tr>
                    </table>
				  </td>
                </tr>
              </table>
			      </td>
			     </tr>
			  <tr>
			    <td class="pingluntd4">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pingluntd5">
                    <tr>
                      <td width="10%" align="right">&nbsp;</td>
                      <td width="20%"><input  name="username" id="username" type="hidden" size="16" class="formtd2" disabled="disabled"/></td>
                      <td width="10%" align="right">&nbsp;</td>
                      <td width="5%">&nbsp;</td>
                      <td width="55%"><div id="loginDiv" style=" color:#990033"></div></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="70%" align="center" class="pingluntd4"><textarea  name="content" id="content" cols="80" rows="10"></textarea></td>
                    <td width="30%" align="left" class="pingluntd4"><table width="66%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="pingluntd3">请您发言时务必尊重网上道德与我国相关法律法规!</td>
                        </tr>
                        <tr>
                          <td align="center" class="righttd14"><input type="button" onClick="sendComment(CommentSrc,'topic')" title="Ctrl+Enter" value="提交" />[Ctrl+Enter]</td>
                        </tr>
                    </table></td>
                  </tr>
              </table>
			    </td>
			  </tr>
			  </table>
			  </td>
          </form>
        </tr>
      </table>
	  </center>
<script language="javascript">
goPage(CommentSrc,1);
</script>
<script src="/login/isLogin.js"></script>
<script src="/login/logout.js"></script>
<script language=javascript>
//ctrl+enter提交评论
ie = (document.all)? true:false;
if (ie){
	function ctlent(){
		if(event.ctrlKey && window.event.keyCode==10){
			sendComment(CommentSrc,'topic');
		}
	}
	window.document.onkeypress = ctlent;
}
//设置不同页面的兼容性
function init_comment(){	//这里可以初始化页面的更多特性
	var content = document.getElementById('content');
	if(Page.size==1024){
		content.cols=110;
	}else if(Page.size==776){
	
		content.cols=80;
	}
	//add by QGL
	checkLogin();
}
function checkLogin(){
	var response = isLogin();
	var loginDiv = document.getElementById('loginDiv');
	var str = '';
	if(response.result==0){
		UserInfo = response.data;
		document.getElementById('username').value = UserInfo.UserName;	
		str = '您好!' + UserInfo.UserName + ' 欢迎光临8264　　';
		str += '<a href="javascript:void(0)" onclick="logout();window.location.reload();">登出</a>';
	}else{
		//reurl = escape(location.href);
		//alert(reurl);
		//str = '<a href="http://www.8264.com/login/?forward='+location.href+'#commentfocus">登录</a>|<a href="http://shop.8264.com/index.php?gOo=cmVnaXN0ZXJfMS5kd3Q=&forward='+escape(location.href)+'#commentfocus">注册</a>后发表评论';
		hrefto = location.href;
		reurl = hrefto+'#commentfocus';
		reurl = escape(reurl);
		//reurl = escape(location.href+#commentfocus);
		//alert(reurl);
		str = '<a href="http://www.8264.com/login/?forward='+reurl+'">登录</a>　<a href="http://shop.8264.com/index.php?gOo=cmVnaXN0ZXJfMS5kd3Q=&forward='+escape(location.href)+'%23commentfocus">注册</a><span>后发表评论</span>';
	}
	loginDiv.innerHTML = str;
}
var UserInfo = {};
try{init_comment();}catch(e){}
</script>

</td>
    </tr>
  </table>
</div>
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="24" background="http://static.8264.com/oldcms/images/index1_93.gif"><div align="center">
        <table width="750" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><a href="/ziliao/about/aboutus.php" target="_blank">关于我们</a> | <a href="/list/531" target="_blank">联系我们</a> |  <a href="/ziliao/sitemap.html" target="_blank">网站地图</a> |  <a href="http://www.8264.com/tougao.php" target="_blank">我要投稿</a> | <a href="/ziliao/about/ad2.php" target="_blank">广告服务</a> | <a href="/list/531" target="_blank">编辑部的故事</a> | <a href="/sitelink/index.html" target="_blank"><font color="red">友情连接</font></a></td>
          </tr>
        </table>
    </div></td>
  </tr>
</table>
<div align="center">
<div align="center" style="width:776px; text-align:left; margin-left:auto; margin-right:auto;">
  <div align="center" style="width:776px; line-height:150%;padding-top:6px; text-align:center;" class="td"><a href="/8954.html" target="_blank"><font color="#0000ff">若发现本站有任何错误，请留言告诉我们</font></a> | <a href="http://bbs.8264.com/thread-35885-1-1.html" target="_blank"><font color="#0000ff">免费申请8264队旗和不干胶贴</font></a> | <a href="http://home.8264.com/" target="_blank"><font color="#0000ff">驴友之家</font></a><br>
      除了脚印什么都不留下 除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。<br>
      <a href="/ziliao/about/ad2.php"><font color="red"><b>广告联系：022-23708264-818</b></font></a> Mail:admin<img src="http://static.8264.com/oldcms/images/mail.gif" width="10" height="10" border="0">8264.com <a href="http://www.miibeian.gov.cn" target="_blank">津ICP备05004140号-1</a>

      <br>
    <font color="#5F8C00">户外运动有风险，8264提醒您务必注意出行安全</font></div>
</div>
</div> 
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #004a9c;color: #004a9c;
padding-top: 6px;padding-right: 10px;padding-bottom: 4px;padding-left: 10px;margin-top:15px;text-align:center;">
    <tr>
      <td>合作项目：<a href="/">8264</a> | <a href="http://osm.8264.com/" target="_blank">户外经理人</a> | <a href="http://www.91ski.com/" target="_blank">就要滑雪网</a> | <a href="http://www.yododo.com.cn/" target="_blank">游多多旅行网</a> | <a href="http://bbs.8264.com/" target="_blank">驴友论坛</a> | <a href="http://www.8844shop.com/" target="_blank">户外用品商城</a> | <a href="http://u.8264.com/" target="_blank">驴友开心网</a> | <a href="http://www.8264.com/pp/" target="_blank">美女图片</a>  </td>
    </tr>
</table>
<span style="display:none;"><script src="http://v10.cnzz.com/stat.php?id=1629072&web_id=1629072" language="JavaScript" charset="gb2312"></script>
<script src="http://s94.cnzz.com/stat.php?id=30025&web_id=30025" language="JavaScript" charset="gb2312"></script>
</span></body>
</html>