<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>OZARK ROCKS南北争锋攀岩赛</title>
<link href="http://static.8264.com/oldcms/moban/zt/ozark_rocks/style/style.css" rel="stylesheet" type="text/css" />
<script src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/common.js" type="text/javascript" language="javascript"></script>
</head>

<body>
<div class="wrapper">
	<div><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/banner.jpg" width="985" height="620" border="0" /></div>
	<h2><span>决赛改期通知:</span><br />
奥索卡2010“南北争锋”系列攀岩活动决赛因故改期，由原计划2010年9月18日改为2010年10月16日。此期间北京上海两地常规赛各加赛一场。作为本次活动的补充, 常规赛具体时间，请关注两地攀岩场公告。
</h2>
    <div class="midarea">
    	<div class="top">
            <div class="topleft">
                <div class="topleft1">
                	<div class="topleft1tit">《友谊；激情；超越》</div>
                    <div class="videoarea"><a href="http://www.8264.com/57022.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/pic1.jpg" width="250" height="145" border="0" /></a></div>
                </div>
                <div class="topleft2">
					<div class="lunboarea">
                    	<div id="focus_turn">
                            <ul id="focus_pic">
                            <li class="current"><a href="http://www.8264.com/54168.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/lunboimg/11.jpg" border="0" /></a></li>
							<li class="normal"><a href="http://u.8264.com/space-34142905-do-album-id-82762.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/lunboimg/4.jpg" border="0" /></a></li>
                            <li class="normal"><a href="http://u.8264.com/space-34142905-do-album-id-82765.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/lunboimg/22.jpg" border="0" /></a></li>
							<li class="normal"><a href="http://u.8264.com/space-34142905-do-album-id-82618.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/lunboimg/33.jpg" border="0" /></a></li>
							<li class="normal"><a href="http://u.8264.com/space-34142905-do-album-id-82618.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/lunboimg/1.jpg" border="0" /></a></li>
                            <li class="normal"><a href="http://u.8264.com/space-34142905-do-album-id-84084.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/lunboimg/2.jpg" border="0" /></a></li>
                            <li class="normal"><a href="http://u.8264.com/space-34142905-do-album-id-84084.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/lunboimg/3.jpg" border="0" /></a></li>
                            </ul>
                            <ul id="focus_tx">
                            <li class="current"><a href="http://www.8264.com/54168.html" target="_blank" title="1">OZARK ROCKS南北争锋对抗赛正式启动</a></li>
                            <li class="normal"><a href="http://u.8264.com/space-34142905-do-album-id-82762.html" target="_blank" title="4">北京站开幕</a></li>
                            <li class="normal"><a href="http://u.8264.com/space-34142905-do-album-id-82765.html" target="_blank" title="5">上海站开幕</a></li>
							<li class="normal"><a href="http://www.8264.com/54242.html" target="_blank" title="2">选手攀岩视频集锦</a></li>
                            <li class="normal"><a href="http://u.8264.com/space-34142905-do-album-id-82618.html" target="_blank" title="3">北京站6.19活动照片</a></li>
                            <li class="normal"><a href="http://u.8264.com/space-34142905-do-album-id-84084.html" target="_blank" title="6">上海站6.19活动照片</a></li>
                            <li class="normal"><a href="http://u.8264.com/space-34142905-do-album-id-84084.html" target="_blank" title="7">精彩瞬间回放</a></li>
                          	</ul>
                    	</div>
                    </div>
                </div>
            </div>
            <div class="topmid">
            	<div class="introtxt">
                <p>
  攀岩运动是从登山运动中衍生出来的竞技运动项目。在欧美、前苏联及亚洲的日本、韩国，攀岩运动已相当流行，在我国经过十多年，特别是近几年的发展已初具规模，并吸引了越来越多的年轻人参加。
                </p>
                <br />
				<p>
为了给广大攀岩爱好者提供一个同场交流、竞技的平台，OZARK GEAR 于2010年正式启动主题为“OZARK&nbsp;ROCKS南北争锋”这一攀岩活动，并希望这一活动能够吸引越来越多的攀岩及户外爱好者的关注和参与，使他们更加深入地了解、认识、热爱攀岩运动，同时，也希望能让更多的人们体验OZARK GEAR户外装备带给人们的专业保护。
                </p>
                <br />
				<p><strong>主办：OZARK&nbsp;GEAR(奥索卡）品牌</strong></p>
				<p><strong>承办：奥索卡&#8226;点石攀岩俱乐部 </strong></p>
				<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;奥索卡&#8226;上海岩舞空间攀岩馆</strong> </p>
            	</div>
            </div>
            <div class="topright">
                <div class="topright1">
                    <div class="topright1txt">
                    <p>OZARK&nbsp;GEAR(奥索卡)是一个专业户外运动装备品牌，由瑞士户外爱好者Hans&nbsp;Shallenberger在1996年建立。奥索卡之名来源于北美州一座未被污染的山脉，象征着OZARK&nbsp;GEAR (奥索卡)品牌自然、纯净的品质。OZARK GEAR (奥索卡)一直坚持"OZARK&nbsp;YOUR&nbsp;LIFE"的理念&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/41847.html" target="_blank">详细</a></p>
                  </div>
                </div>
                <div class="topright2">
                <a href="http://www.8264.com/52027.html" target="_blank">1.如何减少攀岩带来的伤痛</a><br />
                <a href="http://www.8264.com/30601.html" target="_blank">2.攀岩运动的难度定义及历史 </a><br />
                <a href="http://www.8264.com/30120.html" target="_blank">3.攀岩入门ABC：攀岩绳结视频教材</a><br />
                <a href="http://www.8264.com/27451.html" target="_blank">4.攀岩小贴士：教你如何去除攀岩鞋内异味</a><br />
                <a href="http://www.8264.com/24875.html" target="_blank">5.带你认识攀岩器材--保护器的分类及特点[组图]</a><br />
                <a href="http://www.8264.com/13231.html" target="_blank">6.攀岩常识--攀岩比赛的三种形式 [组图]</a><br />
                <a href="http://www.8264.com/10582.html" target="_blank">7.普及攀岩运动----各类岩壁介绍 [组图</a>
                </div>
            </div>
            <div style="clear:both;"></div>
     	</div>
        <div class="mid">
        	<div class="midleft">
            	<div class="pic"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/anpai.jpg" width="349" height="532" border="0" /></div>
            </div>
            <div class="midright">
            	<div class="midright1">
                	<div class="tbarea">
                    <table width="100%" height="100%" border="1" bordercolor="#FFFFFF" cellspacing="0" cellpadding="0">
                    <tr>
                    <th bgcolor="#404040" align="center" width="120">时间</th>
                    <th bgcolor="#404040" align="center" width="75">内容</th>
                    <th bgcolor="#404040" align="center" width="137">形式</th>
                    <th bgcolor="#404040" align="center" width="256">比赛地点</th>
                    </tr>
                    <tr>
                      <td align="center">2010年6月5号</td>
                      <td align="center">开幕战</td>
                      <td align="center">难度、dyno赛</td>
                      <td align="center">北京日坛公园攀岩场、上海岩舞空间攀岩馆</td>
                    </tr>
                    <tr>
                      <td align="center">2010年6月19号</td>
                      <td align="center">常规月赛</td>
                    <td align="center">速度赛、攀石</td>
                    <td align="center">北京日坛公园攀岩场、上海岩舞空间攀岩馆</td></tr>
                    <tr>
                      <td align="center">2010年7月10号</td><td align="center">常规月赛</td>
                    <td align="center">攀石、难度、</td><td align="center">北京日坛公园攀岩场、上海岩舞空间攀岩馆</td></tr>
                    <tr>
                      <td align="center">2010年7月24号</td><td align="center">常规月赛</td>
                    <td align="center">速度赛、难度、</td><td align="center">北京日坛公园攀岩场、上海岩舞空间攀岩馆</td></tr>
                    <tr>
                      <td align="center">2010年8月8号</td><td align="center">常规月赛</td>
                    <td align="center">攀石、dyno赛、</td><td align="center">北京日坛公园攀岩场、上海岩舞空间攀岩馆</td></tr>
                    <tr>
                      <td align="center">2010年8月21号</td><td align="center">常规月赛</td>
                    <td align="center">攀石、难度、</td><td align="center">北京日坛公园攀岩场、上海岩舞空间攀岩馆</td></tr>
                    <tr>
                      <td align="center">2010年10月16号</td>
                      <td align="center">总决赛</td>
                    <td align="center">速度赛、攀石、难度、</td><td align="center">北京日坛公园攀岩场（暂定）</td></tr>
                    <tr><td height="70" colspan="4" style="line-height:1.5em;">北京日坛公园攀岩场地址： 北京市建国门外日坛公园内<br />上海岩舞空间攀岩馆地址： 上海市虹口区花园路128号运动LOFT创意园区一街区A座1楼105室(近中山北路)
</td></tr>
                    </table>
                    </div>
                </div>
                <div class="midright2tit"></a></div>
                <div class="midright2con">
                	<div class="touleftarea">
                        <div class="touall">
                            <div class="tou"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/tou1.jpg" width="50" height="50" border="0" /></div>
                            <div class="txt">
                                <h3>边巴次仁</h3>
                                <h3>北京</h3>
                                <h3>第一</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="touall">
                            <div class="tou"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/tou5.jpg" width="50" height="50" border="0" /></div>
                            <div class="txt">
                                <h3>李可</h3>
                                <h3>北京</h3>
                                <h3>第一</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="touall">
                            <div class="tou"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/tou9.jpg" width="50" height="50" border="0" /></div>
                            <div class="txt">
                                <h3>杨京</h3>
                                <h3>北京</h3>
                                <h3>第二</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="touall">
                            <div class="tou"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/tou2.jpg" width="50" height="50" border="0" /></div>
                            <div class="txt">
                                <h3>范鹂敏</h3>
                                <h3>北京</h3>
                                <h3>第二</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="touall">
                            <div class="tou"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/tou6.jpg" width="50" height="50" border="0" /></div>
                            <div class="txt">
                                <h3>赵汝南</h3>
                                <h3>北京</h3>
                                <h3>第三</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="touall">
                            <div class="tou"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/tou10.jpg" width="50" height="50" border="0" /></div>
                            <div class="txt">
                                <h3>陈愉</h3>
                                <h3>北京</h3>
                                <h3>第三</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="tourightarea">
                    	<div class="touall">
                            <div class="tou"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/tou3.jpg" width="50" height="50" border="0" /></div>
                            <div class="txt">
                                <h3>汪必峰</h3>
                                <h3>上海</h3>
                                <h3>第一</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="touall">
                            <div class="tou"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/tou7.jpg" width="50" height="50" border="0" /></div>
                            <div class="txt">
                                <h3>周律 </h3>
                                <h3>上海</h3>
                                <h3>第一</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="touall">
                            <div class="tou"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/tou11.jpg" width="50" height="50" border="0" /></div>
                            <div class="txt">
                                <h3>于方</h3>
                                <h3>上海</h3>
                                <h3>第二</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="touall">
                            <div class="tou"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/tou4.jpg" width="50" height="50" border="0" /></div>
                            <div class="txt">
                                <h3>胡怡</h3>
                                <h3>上海</h3>
                                <h3>第二</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="touall">
                            <div class="tou"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/tou8.jpg" width="50" height="50" border="0" /></div>
                            <div class="txt">
                                <h3>张文均</h3>
                                <h3>上海</h3>
                                <h3>第三</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div class="touall">
                            <div class="tou"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/tou12.jpg" width="50" height="50" border="0" /></div>
                            <div class="txt">
                                <h3>温蓵姿</h3>
                                <h3>上海</h3>
                                <h3>第三</h3>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
			<div style="clear:both;"></div>
        </div>
        <div class="fenzhan">
        	<div class="beijing">
            	<div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-89469.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a13.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-89469.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a14.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-89469.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a15.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-89469.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a16.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-89469.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a17.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-89469.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a18.jpg" width="140" height="100" border="0" /></a></div>
                </div>
            </div>
            <div class="shanghai">
            	<div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-89471.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a19.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-89471.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a20.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-89471.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a21.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-89471.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a22.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-89471.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a23.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-89471.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a24.jpg" width="140" height="100" border="0" /></a></div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div style="clear:both;"></div>
        </div>
        <div class="fenzhan1">
        	<div class="beijing">
            	<div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-82618.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a1.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-82618.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a2.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-82618.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a3.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-82618.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a4.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-82618.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a5.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-82618.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a6.jpg" width="140" height="100" border="0" /></a></div>
                </div>
            </div>
            <div class="shanghai">
            	<div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-84084.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a7.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-84084.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a8.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-84084.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a9.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-84084.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a10.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-84084.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a11.jpg" width="140" height="100" border="0" /></a></div>
                </div>
                <div class="imgall">
                <div class="pic"><a href="http://u.8264.com/space-34142905-do-album-id-84084.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/ozark_rocks/images/a12.jpg" width="140" height="100" border="0" /></a></div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <DIV class=bottom>
            <A href="http://www.8264.com/ziliao/about/aboutus.php" 
    target=_blank>关于我们</A> | <A href="http://www.8264.com/ziliao/about/aboutus.php" 
    target=_blank>联系我们</A> | <A href="http://www.8264.com/8954.html">给我留言</A> | <A 
    href="http://www.8264.com/ziliao/sitemap.html" target=_blank>网站地图</A> | <A 
    href="http://www.8264.com/ziliao/ggservice/index.html" target=_blank>广告服务</A> | 
    <A href="http://www.8264.com/list/531/" target=_blank>编辑部的故事</A> | <A 
    href="http://www.8264.com/sitelink/index.html" 
    target=_blank>友情连接</A><BR>服务热线：022-23708264 | 传真：022-23708323 | 
    地址：天津市新技术产业园区华天道8号海泰信息广场C座1001号<BR>除了脚印什么都不留下除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。&nbsp;&nbsp;&nbsp;&nbsp;<A 
    href="http://www.miibeian.gov.cn/" 
    target=_blank>津ICP备05004140号-1</A>
    </DIV>
	</div>
</div>
</body>
</html>
