<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>2014adidas rockstars china</title>
<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/201409adidas/style/style.css">
<script src="http://static.8264.com/oldcms/moban/zt/201409adidas/js/jquery-1.9.1.min.js"></script>
<script src="http://static.8264.com/oldcms/moban/zt/201409adidas/js/jquery.js"></script>
</head>

<body>
<div class="branner"></div>
<div class="warpten">
	<div class="navall clear_b">
		<ul>
			<li><a href="#q1">活动详情</a></li>
			<li><a href="#q2"><s></s>新闻资讯</a></li>
			<li><a href="#q3">精彩瞬间</a></li>
			<li><a href="#q4">往期回顾</a></li>
		</ul>
	</div>
	<div class="con clear_b pt36"><a name="q1"></a>
		<div class="news">
			<div class="newsimg">
				<ul>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/t6.jpg"></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/t2.jpg"></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/t3.jpg"></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/t4.jpg"></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/t5.jpg"></li>
				</ul>
			</div>
			<div class="newslist">
				<ul>
					<li class="hover"><a href="http://www.8264.com/viewnews-96251-page-1.html">抱石与摇滚激情碰撞 adidas rockstars开启在即</a></li>
					<li><a href="http://www.8264.com/viewnews-96277-page-1.html">2014 adidas ROCKSTARS China大赛再袭中国</a></li>
					<li><a href="http://www.8264.com/viewnews-96278-page-1.html">2014 adidas ROCKSTARS首日戈尔明日之星诞生</a></li>
					<li><a href="http://www.8264.com/viewnews-96282-page-1.html">adidas ROCKSTARS 圆满落幕 专业组超霸诞生</a></li>
					<li><a href="http://www.8264.com/viewnews-96352-page-1.html">2014 adidas ROCKSTARS中国区大赛完满落幕</a></li>
				</ul>
			</div>
		</div>
		<div class="shipin"><embed align="middle" width="250" height="167" menu="true" quality="best" play="true" loop="true" src="http://player.youku.com/player.php/sid/XODAwMzM1NDM2/v.swf" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"></div>
	</div>
	<div class="pt36"><a name="q2"></a><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/con2.jpg"/></div>
	<div class="pt36"><a name="q3"></a>
		<div><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/title1.jpg"/></div>
		<div class="imglist pt36">
			<div class="bigimg">
				<ul>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/1.jpg"/></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/51.jpg"/></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/3.jpg"/></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/4.jpg"/></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/5.jpg"/></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/30.jpg"/></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/50.jpg"/></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/31.jpg"/></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/52.jpg"/></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/10.jpg"/></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/11.jpg"/></li>
					<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/12.jpg"/></li>
                    <li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/13.jpg"/></li>
                    <li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/14.jpg"/><span></span></li>
				</ul>
			</div>
			<div class="smallimg clear_b">
				<div class="leftarrow"></div>
				<div class="smalllist clear_b">
					<ul>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s1.jpg"/><span></span></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s51.jpg"/><span></span></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s3.jpg"/><span></span></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s4.jpg"/><span></span></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s5.jpg"/><span></span></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s30.jpg"/><span></span></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s50.jpg"/><span></span></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s31.jpg"/><span></span></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s52.jpg"/><span></span></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s10.jpg"/><span></span></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s11.jpg"/><span></span></li>
						<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s12.jpg"/><span></span></li>
                        <li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s13.jpg"/><span></span></li>
                        <li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/s14.jpg"/><span></span></li>
					</ul>
				</div>
				<div class="rightarrow"></div>
			</div>
		</div>
	</div>
	<div class="pt36"><a name="q4"></a>
		<div><a href="http://bbs.8264.com/thread-2234731-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/title2.jpg"/></a></div>
		<div class="pt36 hglist clear_b">
			<ul>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/h11.jpg"><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/h12.jpg"><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/h13.jpg"><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/h14.jpg"><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/h15.jpg"><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/h16.jpg"><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/h17.jpg"><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/h18.jpg"><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/h19.jpg"><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409adidas/imges/h20.jpg"><span></span></li>
			</ul>
		</div>
	</div>
</div>
<div class="footer">
	<div class="footercon">
		<p class="footer_l">8264 版权所有 津ICP备05004140号-1 ICP证 津B2-20110106<br>
			<a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
		<p class="footer_r">
<a rel="nofollow" href="http://bbs.8264.com/misc-stat.html" target="_blank">站点统计</a>
|
<a rel="nofollow" href="http://www.8264.com/about-contact.html" target="_blank">联系我们</a>
|
<a rel="nofollow" href="http://bbs.8264.com/thread-2227420-1-1.html">8264招聘</a>
|
<a rel="nofollow" href="http://bbs.8264.com/misc-faq.html">帮助</a>
		</p>
		<div class="clear"></div>
	</div>
</div>
</body>
</html>
