<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>KingCamp露营体验师巅峰对决</title>
<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/2013kingcamp/style/grid-accordion.css">
<link href="http://static.8264.com/oldcms/moban/zt/2013kingcamp/style/style.css" rel="stylesheet" type="text/css" />
<script src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/js/jquerytest.js" type="text/javascript"></script>
</head>

<body>
<div class="branner"></div>
<div class="top">
	<div class="topcon"></div>
</div>
<div class="mid">
	<div class="midcon">
    	<div class="s_l">
        	<p>露营体验师是KingCamp重磅推出的露营体验活动，KingCamp希望通过户外露营、体验装备、图文直播、微博分享等方式，让更多人使用专业优质的户外装备，体验"舒适、轻松、分享、环保"的户外生活。</p>    
<p>2013年3月初，KingCamp全面启动"露营体验师"主题活动，召集热爱着露营生活、渴望分享露营经历的朋友参与活动。凡根据活动要求申领成功的优秀体验者可荣获"KingCamp露营体验师"称号，并可得到KingCamp高性能户外装备的免费体验资格。</p>
<p>2013年8月20日，KingCamp"露营体验师"主题活动完美收官！活动得到100万网友的关注，约2000名资深户外运动爱好者参与评选，最终80位优胜者获得"露营体验师"称号，荣获KingCamp SEINE 塞纳帐篷的评选资格。</p>
<p>让更多的人体验KingCamp产品，体验美好的户外生活，这是KingCamp一直以来的活动宗旨，本次"露营体验师"的活动，是基于以往户外活动的一个提升，网友热烈反应坚定了KingCamp在推广户外露营活动方面的信心。KingCamp将继续通过举办各种体验活动来推广户外运动在国内的发展，让更多人体验"舒适、轻松、分享、环保"的户外生活！</p>

        </div>
        <div class="s_r">
        	<div class="shipin"><embed width="353" height="227" align="middle" menu="true" quality="best" play="true" loop="true" src="http://static.video.qq.com/TPout.swf?vid=l0116xeqjaw&auto=1" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"></div>
            <div class="news">
            	<ul>
                	<li>
                        <a href="http://www.kingcamp.com.cn/news/zhuti/3530.html" target="_blank" class="newsimg"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/21.jpg" width="68" height="47" /></a>
                    <p>KingCamp"露营体验师"主题活动圆满结束</p>
                    	<a href="http://www.kingcamp.com.cn/zhishi/pingce/" target="_blank" class="more">more</a>
                    </li>
                    <li>
                        <a href="http://www.kingcamp.com.cn/news/Enterprise/3542.html" target="_blank" class="newsimg"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/22.jpg" width="68" height="47" /></a>
                    <p>KingCamp亲情广告大片震撼登陆北京体育频道</p>
                    	<a href="http://www.kingcamp.com.cn/zhishi/pingce/" target="_blank" class="more">more</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="midcon"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/midimg1.jpg"></div>
</div>
<div class="flash">
	<div class="flashcon"><embed width="980" height="97" wmode="transparent" type="application/x-shockwave-flash" src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/flash_2.swf"></div>
</div>
<div class="mid">
	<div><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/a1.jpg"/></div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/a2.jpg"/></div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/a3.jpg"/></div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/a4.jpg"/></div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/a5.jpg"/></div>
    <div><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/a6.jpg"/></div>
    <div class="title_9">
        <b>名山大川 秀丽风光</b>
        <span>80位露营体验师的步伐遍布天南海北点击你就能身临其境</span>
    </div>
    <div class="midcon" style=" padding-top:18px;">
        <ul class="accordion">
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/46.jpg" /><div class="caption"></div></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/47.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/48.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/49.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/50.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/51.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/52.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/53.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/54.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/55.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/56.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/57.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/45.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/58.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/59.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/60.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/63.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/64.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/61.jpg" /></li>
            <li><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/62.jpg" /></li>
        </ul>
    </div>
    <div class="title_9" style=" padding:20px 0px 10px 0px;"><b>20篇优秀评测文章的精选</b></div>
    <div class="midcon">
        <div class="divbox_l">
            <!-- 单条开始 -->
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1717916-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/23.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1717916-1-1.html" target="_blank">[南通] KingCamp露营体验师体验报告</a>
                    <span>8264ID：奔奔的爸爸</span>
                </div>
                <p>外帐为绿色，内帐为黑黄色，颜色搭配特别亮丽非常喜欢；便利的内外式拉锁，外帐四角为快速插扣组装方便快捷；四角风绳为黄色黑点，非常亮</p>
            </div>
            <!-- 单条结束 -->
            <!-- 单条开始 -->
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1721668-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/26.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1721668-1-1.html" target="_blank">我的蓝色小屋 KingCamp露营体验师体验报告</a>
                    <span>8264ID：抽烟、赶寂寞</span>
                </div>
                <p> 金黄色账杆为铝合金材料非常漂亮，地钉为六角铝材料，便于携带。要是改为抽绳式的收纳袋更方便，地钉不容易散失。</p>
            </div>
             <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1716719-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/30.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1716719-1-1.html" target="_blank">一位KingCamp露营体验师的亲身体验报告</a>
                    <span>8264ID：蚂蚁桑</span>
                </div>
                <p> 通过这次实地测试，KingCamp抗风能力极佳。露营凤凰岛当夜，忽起一阵狂风，露营的八顶帐篷，由于KingCamp的内帐支架袖独特设计，使帐篷稳定而坚固。其他帐篷承受不住大风的冲击，东倒西歪，唯有KingCamp纹丝不动</p>
            </div>
             <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1716329-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/34.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1716329-1-1.html" target="_blank">[洛阳] 洛阳KingCamp露营体验师体验报告</a>
                    <span>8264ID：蓝天迷彩</span>
                </div>
                <p> 内帐内置口袋及顶部的纱网吊兜可用于存放随身物品；拉绳采用黄底黑点反光拉绳，既美观，又能起到防止夜行人被绊倒的效果；此款帐篷专门徒步探险，露营，旅游，休闲设计</p>
            </div>
             <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1720677-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/29.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1720677-1-1.html" target="_blank">阳光之下 蓝色的爱 KingCamp露营体验师体验报告</a>
                    <span>8264ID：清镇云海漫步</span>
                </div>
                <p> 防水性能、在收到帐篷的时候我打开来看了一下，那时候感觉完了， 防水效果应该不会很好，原因是那层防水图层胶质感太强，内帐与外帐之间容易起盗汗和露水，谁知道我估计错误了、带出去体验了一次以后感觉防水效果相当的棒</p>
            </div>
             <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1723644-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/37.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1723644-1-1.html" target="_blank">终于有房了-kingcamp塞纳露营体验师帐篷评测报告</a>
                    <span>8264ID：壹贰叁肆伍陆</span>
                </div>
                <p> 金黄色账杆为铝合金材料非常漂亮，地钉为六角铝材料，便于携带。要是改为抽绳式的收纳袋更方便，地钉不容易散失。</p>
            </div>
             <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1725098-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/40.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1725098-1-1.html" target="_blank">完美营帐—KingCamp塞纳</a>
                    <span>8264ID：鱼鱼—淘神</span>
                </div>
                <p> 接到帐篷就急不可耐的想晒晒 在朋友羡慕的眼神中打开了心慕已久的帐篷 比我想像中的要好  不管是颜色还是质量 
KingCamp"露营体验师"是国内的KingCamp联合8264推出的一项针对领队的"赛纳"帐篷体验活动</p>
            </div>
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1725098-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/44.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1725098-1-1.html" target="_blank">襄阳跋涉KingCamp双人帐篷体验</a>
                    <span>8264ID：襄阳跋涉</span>
                </div>
                <p>塞纳是KingCamp针对户外人群制作的一款帐篷，选用优质材料，防水、防风等各种性能均衡，整体性能出色，并且具备空间大，重量轻等优点；拉绳采用黄底黑点反光拉绳，既美观</p>
            </div>
            <!-- 单条结束 -->
        </div>
        <div class="divbox_m">
            <!-- 单条开始 -->
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1718255-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/24.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1718255-1-1.html" target="_blank">【上海】KingCamp（露营体验师）帐篷体验报告</a>
                    <span>8264ID：坏蛋咩咩</span>
                </div>
                <p>这款帐篷的功能定位基本上是在低海拔的徒步帐，休闲旅游帐篷，整体结构基本和我们在低海拔使用的金字塔帐篷相同，所以我在细节上比较注意它的不同之处，对不同的地方进行了着重描写。</p>
            </div>
            <!-- 单条结束 -->
            <!-- 单条开始 -->
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1715749-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/27.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1715749-1-1.html" target="_blank">[宣城绩溪] 暴雨夜体验塞纳帐篷</a>
                    <span>8264ID：紫金h</span>
                </div>
                <p>扎营清凉峰下永来村，夜住KingCamp塞纳KT3081（露营体验师定制版）帐篷，体验一晚大暴雨的洗礼；享受着雷声、雨声、河谷洪水声、驴友洒后打呼声--- 户外奏鸣曲、交响乐</p>
            </div>
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1704882-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/32.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1704882-1-1.html" target="_blank">[黄山] 去户外 学会爱 重装穿越五龙山 </a>
                    <span>8264ID：黄山绿树</span>
                </div>
                <p>我的kingcamp新帐蓬，这帐蓬我是这个周五才收到，现在算是开苞，帐蓬的设计和做工都是一流的，颜色也是我喜欢的，是我用过最好的帐蓬</p>
            </div>
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1719223-3-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/31.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1719223-3-1.html" target="_blank">KingCamp塞纳 KT3081 领队帐蓬体验报告</a>
                    <span>8264ID：tonnyx</span>
                </div>
                <p>经家里的磅秤实际测量，该帐蓬的重量为2.8kg，比官方的数据2.7kg略高。这个重量在走强大的自虐线路时，会略觉得它偏重，但考虑到它厚重的外帐能更防水，而且比别的帐蓬更宽大，所以还是可以接受的</p>
            </div>
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1715716-2-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/35.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1715716-2-1.html" target="_blank">[[扬州] 你若安好，便是晴天-KingCamp</a>
                    <span>8264ID：陈耕生</span>
                </div>
                <p> 双杆十字交叉支撑法很适合一个人完成，看，内帐单独展示在这个草坪上很扎眼，两个门像熊猫的俩眼睛圆睁，个人觉得双开的圆门略小了些，身材大一些的人得猫腰了</p>
            </div>
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1719197-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/38.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1719197-1-1.html" target="_blank">[攀枝花] 一路上有你-KingCamp塞纳帐篷</a>
                    <span>8264ID：卫士</span>
                </div>
                <p>俺先上这次五一木里长海子露营时的照片，这样有图有真相，才有说服力
  俺的帐篷搭在营地的第一位，非常醒目</p>
            </div>
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1714131-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/41.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1714131-1-1.html" target="_blank">[襄阳] 背起帐篷去野营-KingCamp塞纳体验报告</a>
                    <span>8264ID：拙行</span>
                </div>
                <p>帐篷骨架十分有柔性，且内部的松紧绳韧性极佳，很轻松就可以串联成一根帐骨。内帐的穿孔也很宽松，最值得提的是内帐四角的固定带十分结实。</p>
            </div>
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1716488-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/43.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1716488-1-1.html" target="_blank">[青岛] 向往自由 爱上露营</a>
                    <span>8264ID：嘟嘟飞</span>
                </div>
                <p>双层设计，提供优越的防雨，防风保护性；外帐采用防撕裂格子布，更高档结实耐用；两根铝合金支架设计，支架头内部有螺纹扣牢，防止支架头被拔出；内帐支架袖设计，使帐篷稳定而坚固</p>
            </div>
            <!-- 单条结束 -->
        </div>
        <div class="divbox_r">
            <!-- 单条开始 -->
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1717431-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/25.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1717431-1-1.html" target="_blank">火红的帐火红的心-塞纳领队帐蓬体验报告</a>
                    <span>8264ID：长夜无风</span>
                </div>
                <p>在广东高州三官顶的营地里，我们露营一晚，半夜遇上暴雨，经测试，该帐蓬防水性能良好，帐内非常干爽；在广东阳江海陵岛的海滩上，我们露营了一晚，同队的一名男生因帐蓬漏水，只能和我同帐，两个男生住这帐蓬，仍觉得非常宽敞</p>
            </div>
            <!-- 单条结束 -->
            <!-- 单条开始 -->
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1716562-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/28.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1716562-1-1.html" target="_blank">KingCamp（露营体验师定制版）SEINE 塞纳帐篷测评报告</a>
                    <span>8264ID：风火连城-北京</span>
                </div>
                <p>塞纳是KingCamp针对户外人群制作的一款帐篷，选用优质材料，防水、防风等各种性能均衡，整体性能出色，并且具备空间大，重量轻等优点；此款帐篷专门徒步探险，露营，旅游，休闲设计</p>
            </div>
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1714135-2-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/33.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1714135-2-1.html" target="_blank">[鞍山] KingCamp露营体验师体验报告</a>
                    <span>8264ID：纵横—嬉皮士</span>
                </div>
                <p>搭建好的帐篷，帐篷结构合理搭建起来特别便利，由于风沙很大帐篷下面用沙子压上了；很晚了，进屋休息下吧！内帐是圆形账门进出感觉特别方便</p>
            </div>
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1717803-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/36.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1717803-1-1.html" target="_blank">[青岛] 可移动的家－kingcamp 帐篷伴我走天下</a>
                    <span>8264ID：lovespace</span>
                </div>
                <p>收纳也非常简单，打开魔术贴后，将绳子收好放入进即可，大大方便了绳子的收纳，方便打理帐篷；帐篷四角拉条也设计的很科学，在拉条上设计有收纳层，方便收纳绳索；收纳也非常简单，打开魔术贴后，将绳子收好放入进即可，大大方便了绳子的收纳，方便打理帐篷</p>
            </div>
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1715210-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/39.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1715210-1-1.html" target="_blank">[南昌] kingcamp帐篷体验师来了</a>
                    <span>8264ID：daking</span>
                </div>
                <p>本人第一次写体验贴，写的不好请多见谅；与帐篷同时收到的还有一本荣誉证书和一面小旗子，下面开始放图了，让我慢慢展示这款帐篷。</p>
            </div>
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1716562-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/42.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1716562-1-1.html" target="_blank">王之营地—KingCamp塞纳帐篷</a>
                    <span>8264ID：无花∷</span>
                </div>
                <p>收到的帐篷为绿色，也和期望一样。一直在用橙色的TNF和红色的各式休闲帐篷，很期望得到绿色的。呵呵，这颜色是不是有点小清新？</p>
            </div>
            <div class="divonewarpten">
                <div class="imgone"><a href="http://bbs.8264.com/thread-1827344-1-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/images/65.jpg"/></a></div>
                <div class="name">
                    <a href="http://bbs.8264.com/thread-1827344-1-1.html" target="_blank">[宝鸡] 鳌太路上的移动之家-KingCamp塞纳帐篷</a>
                    <span>8264ID：bj杰米</span>
                </div>
                <p>经过5天鳌太穿越的体验，kingCamp塞纳帐篷以其宽敞的空间，舒适的功能，卓越的防雨，防风性能，堪称鳌太路上的温馨移动之家</p>
            </div>
            <!-- 单条结束 -->
        </div>
	</div>
</div>
<div class="footer">
	<div class="footercon">
		<p class="footer_l">8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106<br>
			<a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
		<p class="footer_r"><a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a> | <a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a> | <a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a> | <a target="_blank" href="http://www.8264.com/link/">户外网址大全</a> | <a target="_blank" href="http://www.8264.com/sitemap">网站地图</a></p>
		<div class="clear"></div>
	</div>
</div>


<!-- 方格效果 Start -->
<script type="text/javascript" src="http://static.8264.com/oldcms/moban/zt/2013kingcamp/js/jquery.gridAccordion.min.js"></script>
<script type="text/javascript">
// 方格效果
jQuery(document).ready(function($) {
    $('.accordion').gridAccordion({
        width: 960,
        height: 680,
        columns: 5,
        distance: 2,
        closedPanelWidth: 10,
        closedPanelHeight: 10,
        alignType: 'centerCenter',
        slideshow: true,
        panelProperties: {
            0: {
                captionWidth: 200,
                captionHeight: 35,
                captionTop: 30,
                captionLeft: 30
            },
            4: {
                captionWidth: 150,
                captionHeight: 100,
                captionTop: 30,
                captionLeft: 650
            },
            7: {
                captionWidth: 310,
                captionHeight: 35,
                captionTop: 350,
                captionLeft: 40
            },
            8: {
                captionWidth: 300,
                captionHeight: 40,
                captionTop: 150,
                captionLeft: 35
            },
            11: {
                captionWidth: 150,
                captionHeight: 120,
                captionTop: 300,
                captionLeft: 30
            },
            14: {
                captionWidth: 300,
                captionHeight: 40,
                captionTop: 30,
                captionLeft: 50
            },
            16: {
                captionWidth: 150,
                captionHeight: 120,
                captionTop: 150,
                captionLeft: 10
            },
            18: {
                captionWidth: 300,
                captionHeight: 40,
                captionTop: 130,
                captionLeft: 50
            }
        }
    });
});
</script>
<script type="text/javascript">
// 向上滚动
$(function() {
    var $this = $(".slideBox");
    var scrollTimer;
    $this.hover(function() {
        clearInterval(scrollTimer);
    }, function() {
        scrollTimer = setInterval(function() {
            scrollNews($this);
        }, 2000);
    }).trigger("mouseout");
});

function scrollNews(obj) {
    var $self = obj.find("ul:first");
    var lineHeight = $self.find("li:first").height();
    $self.animate({
        "margin-top": -lineHeight + "px"
    }, 600, function() {
        $self.css({
            "margin-top": "0px"
        }).find("li:first").appendTo($self);
    })
}

</script>
<!-- 方格效果 End -->




</body>
</html>
