<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>十大徒步人物评选活动</title>
</head>
<body style="margin:0 auto;">
<div style="margin:0px auto; width:987px;"><iframe style="display:block" src="http://www.chinawalking.net.cn/basic_display.php?A_id=1" frameBorder=0  scrolling="no" height="1870" width="987" marginheight="0" marginwidth="0"></iframe></div>
</body>
</html>
