<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>雪花勇闯天涯上海选拔赛招募</title>
<link href="http://static.8264.com/oldcms/moban/zt/2014snow/style/style.css" rel="stylesheet" type="text/css">
<script src="http://static.8264.com/oldcms/moban/zt/2014snow/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="http://static.8264.com/oldcms/moban/zt/2014snow/js/jquery.js" type="text/javascript"></script>
</head>
<body>
<div class="branner"></div>
<div class="layout">
	<div>
		<div class="title_q">
			<ul>
				<li class="hover">2005</li>
				<li>2006</li>
				<li>2007</li>
				<li>2008</li>
				<li>2009</li>
				<li>2010</li>
				<li>2011</li>
				<li>2012</li>
				<li>2013</li>
				<li>2014</li>
			</ul>
		</div>
		<div class="nianwarpten">
			<ul>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/2005.png"></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/2006.png"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/2007.png"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/2008.png"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/2009.png"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/2010.png"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/2011.png"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/2012.png"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/2013.png"/></li>
				<li class="s_2014">
					<b>2014年雪花勇闯天涯挑战未登峰上海区选拔活动</b>
					&nbsp;&nbsp;&nbsp;&nbsp;“雪花勇闯天涯挑战未登峰上海区选拔”活动，是继2013年“雪花勇闯天涯翻越喜马拉雅上海区选拔”活动之后，华润雪花啤酒（上海）有限公司主办的又一次“勇闯天涯”全国性主题品牌活动在上海地区的选拔。
				</li>
			</ul>
		</div>
	</div>
	<div>
        <div class="titlebg_817">挑战未登峰"上海区域选拔赛火热招募中<a href="http://www.snowbeer-sh.com/" target="_blank" class="wybm"></a></div> 
        <div class="wenzicon">
        	<h3>看不一样的风景 挑战未知的山峰  勇闯天涯 谁与争锋</h3>
			<p>今年“雪花勇闯天涯挑战未登峰”上海赛区活动6月正式启动！上海赛区优胜者将参加雪花勇闯天涯挑战队伍，踏上挑战未登峰之旅。以“挑战未登峰”为主题的2014勇闯天涯活动，将要对从来无人登顶的山峰进行挑战性开拓性的攀登！看不一样的风景，挑战未知的山峰，从而突破极限，挑战未登峰。这对于所有热爱攀登的户外运动爱好者来说，将是一次充满挑战的全新体验！你是我们要找的真勇士吗？快登录上海雪花勇闯天涯活动官网（http://www.snowbeer-sh.com）报名参与！</p>
			<span class="date">海选和复赛时间：2014年7月26日—7月27日（两天）</span>
			<span class="date">终极决赛时间：2014年8月16日— 8月17日（两天）</span>
			<span class="title_orange">报名须知：</span>
			<p>
				<span class="title_blue">1、报名条件：</span>
				18——45周岁中国公民，身体健康、热爱生活、具有创新挑战的进取精神；<br>
				参赛者应身体健康，热爱户外运动，经常性参加跑步锻炼或训练；<br>
				<span class="title_blue_zh">2、参与方式：</span>个人报名、团队报名皆可；<br>
				<span class="title_blue_zh">3、线上报名时间：</span>即日起至7月24日下午17:00<br>
				<span class="title_blue">4、报名方式：</span>
				网络报名：<a href="http://www.snowbeer-sh.com" target="_blank" class="link">http://www.snowbeer-sh.com</a>，通过官网填写报名资料，了解活动详情；<br>
				<span class="title_blue">5、活动赛程</span>
				海选：对每个选手的冲关的时间进行计时，运用末尾淘汰的机制，选总时间最短的前20名选手进入下一轮复赛；<br>
				复赛：通过复赛，选出前12名选手进军总决赛。<br>
				决赛：进入决赛的12位选手，将经历为期两天的户外生存考验，最后的获胜选手将代表上海参加“雪花勇闯天涯挑战未登峰”全国活动，进行终极挑战。<br>
			</p>
			<span class="title_orange">奖项设置：</span>
			<p class="clear_b">
				<span class="bluebg">海选</span>
				<em class="jxcon">入围选手均可获得参与纪念品<br>
				（雪花啤酒6听/人，雪花运动T恤一件）一份 </em>
			</p>
			<p class="clear_b">
				<span class="bluebg">总决赛</span>
				<em class="jxcon">
冠军：4999元/人+参加全国总决赛名额（1人）<br>
亚军：2000元/人（1人）<br>
季军：1000元/人（1人）<br>
纪念奖：500元/人（9人）<br>
（所有奖品以实物为准）<br>

				</em>
			</p>
        </div>
    </div>
	<div>
		<div class="titlebg_817">活动精彩图集</div> 
		
		<div class="imglist">
			<ul class="tabbar">
				<li class="active">初赛图集</li>
				<li>复赛图集</li>
			</ul>
			<div class="tabcont">
				<ul class="tablist">
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/tuji1_1.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/tuji1_2.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/tuji1_3.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/tuji1_4.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/tuji1_5.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/tuji1_6.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/tuji1_7.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/tuji1_8.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/tuji1_9.jpg" alt="">
					</li>
				</ul>
				<ul class="tablist" style="display:none;">
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/XXXi91lwX.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/XXXi91lwX.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/XXXi91lwX.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/XXXi91lwX.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/XXXi91lwX.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/XXXi91lwX.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/XXXi91lwX.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/XXXi91lwX.jpg" alt="">
					</li>
					<li>
						<img src="http://static.8264.com/oldcms/moban/zt/2014snow/images/XXXi91lwX.jpg" alt="">
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="bottom">
	<div class="bottomcon">
    	<p class="footer_l">8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106<br><a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
    	<p class="footer_r"><a href="http://www.8264.com/about-index.html" target="_blank">8264简介</a>
		|
		<a href="http://www.8264.com/about-contact.html" target="_blank">联系我们</a>
		|
		<a href="http://www.8264.com/about-adservice.html" target="_blank">广告服务</a>
		|
		<a href="http://www.8264.com/link/" target="_blank">户外网址大全</a>
		|
		<a href="http://www.8264.com/sitemap" target="_blank">网站地图</a>
		</p>
        <div class="bottomcoin"></div>
    </div>
</div>
</body>
</html>
