<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>$topic['title']</title>
<link href="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/js/myfocus-1.2.3.min.js"></script>
<script type="text/javascript">
myFocus.set({
	path:'http://static.8264.com/oldcms/moban/zt/2011_panzhihua/js/pattern/',
    id:'myFocus',//焦点图盒子ID
    pattern:'mF_fscreen_tb',//风格应用的名称
    time:3,//切换时间间隔(秒)
    trigger:'click',//触发切换模式:'click'(点击)/'mouseover'(悬停)
    width:952,//设置图片区域宽度(像素)
    height:200,//设置图片区域高度(像素)
    txtHeight:'default'//文字层高度设置(像素),'default'为默认高度，0为隐藏
});
</script>
</head>
<body>
<div class="warpper">
	<div class="slide">
		<div id="myFocus" style="visibility:hidden"><!--焦点图盒子-->
			<!--载入画面-->
			<ul class="pic">
				<!--内容列表-->
				<li>
					<a><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img1.jpg" thumb="" alt=" " text=" " /></a>
				</li>
				<li>
					<a><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img2.jpg" thumb="" alt=" " text=" " /></a>
				</li>
				<li>
					<a><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img3.jpg" thumb="" alt=" " text=" " /></a>
				</li>
				<li>
					<a><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img4.jpg" thumb="" alt=" " text=" " /></a>
				</li>
				<li>
					<a><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img5.jpg" thumb="" alt=" " text=" " /></a>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="mid1">
		<div class="mid_l">
			<img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img17.jpg" width="270" height="220" border="0" />
		</div>
		<div class="mid_m">
			<div class="mid_m_news">
				<h1>
					<a href="http://bbs.8264.com/thread-1071303-1-1.html" target="_blank">二滩至格萨拉全国山地徒步大会策划前言</a>
				</h1>
				盐边户外旅游资源得天独厚，丰富的山、水、林、石、洞资源是开展户外运动的天然圣地。厚重的历史文化，多姿的民族风情，独特的饮食文化，丰富的阳光生态资源，构成了盐边特色旅游。境内峡谷幽洞鳞次栉比，温泉奇石神奇各异，民族风情缤纷多彩
				<a href="http://bbs.8264.com/thread-1071303-1-1.html" target="_blank">详细>></a>
			</div>
			<div class="mid_m_news">
				<h1>
					<a href="http://bbs.8264.com/thread-1071303-1-1.html" target="_blank">二滩至格萨拉全国山地徒步大会招募信息</a>
				</h1>
				招募对象主要面对：国内外户外俱乐部、体育运动俱乐部、车友会、自行车协会、汽协、摄影协会等各类团体组织，企事业单位团体以及个人户外爱好者。每名参加徒步大会的队员组委会赠送价值200元的鲁滨逊手杖一副（报道时领取）
				<a href="http://bbs.8264.com/thread-1071303-1-1.html" target="_blank">详细>></a>
			</div>
		</div>
		<div class="mid_r">
			<div class="mid_rcontitle"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/images/new_left.jpg" border="0" /></div>
			<div class="mid_rtitle">最新资讯</div>
			<div class="mid_rcon">
				<ul>
					<li>&#8226;
						<a href="http://bbs.8264.com/thread-1071303-1-1.html" target="_blank">2011攀枝花欢乐阳光节全国山地徒步大会</a>
					</li>
					<li>&#8226;
						<a href="http://bbs.8264.com/forum-viewthread-tid-1109212-fromuid-34170351.html" target="_blank">“行走百里生态长廊”主题DV大赛征稿启事</a>
					</li>
					<li>&#8226;
						<a href="http://bbs.8264.com/forum-viewthread-tid-1109214-fromuid-34170351.html" target="_blank">“冬日盐边”风光摄影大赛征稿启事</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="mid2">
		<div class="titlebg">往届活动</div>
		<div class="mid2con">
			<div class="mid2conimgall">
				<div class="mid2conname">
					<a href="#" target="_blank">攀枝花欢乐阳光节</a>
				</div>
				<a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img6.jpg" /></a>
				<div class="mid2coninfor">"天上人间"<br>
				</div>
			</div>
			<div class="mid2conimgall">
				<div class="mid2conname">
					<a href="#" target="_blank">攀枝花欢乐阳光节</a>
				</div>
				<a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img7.jpg" /></a>
				<div class="mid2coninfor">营地红歌会<br>
				</div>
			</div>
			<div class="mid2conimgall">
				<div class="mid2conname">
					<a href="#" target="_blank">攀枝花欢乐阳光节</a>
				</div>
				<a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img8.jpg" /></a>
				<div class="mid2coninfor">大会沸腾时刻<br>
				</div>
			</div>
			<div class="mid2conimgall">
				<div class="mid2conname">
					<a href="#" target="_blank">攀枝花欢乐阳光节</a>
				</div>
				<a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img9.jpg" /></a>
				<div class="mid2coninfor">大家齐欢乐<br>
				</div>
			</div>
			<div class="mid2conimgall">
				<div class="mid2conname">
					<a href="#" target="_blank">攀枝花欢乐阳光节</a>
				</div>
				<a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img10.jpg" /></a>
				<div class="mid2coninfor">帐篷下的"舞动"<br>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="mid2">
		<div class="titlebg">盐边县风光</div>
		<div class="mid2con">
			<div class="mid3_l">
				<div class="mid3_ltitle">活动内容</div>
				<div class="mid3_lcon">报到及欢迎晚会，时间：2011年12月29日，地点：盐边县城⑴报到地址安排在接待中心。⑵报到时间为12月29日中午到晚上12点（攀枝花火车站最晚到站车次为昆明-攀枝花，到站时间为18:58，但考虑到包车游客及自驾游客，报道时间为中午12：00-到晚上00:00）。
					<a href="http://bbs.8264.com/thread-1071303-1-1.html" target="_blank">详细>></a>
				</div>
				<div class="mid3_ltitle">迎接新年第一缕阳光</div>
				<div class="mid3_lcon">迎接新年第一缕阳光，彝族毕摩（祭师）祈福驱邪。自愿参加。转运车辆把参加的队员运至高山牧场。请当地祭师做法式为队员祈福驱邪。早饭后活动结束。由转运车辆把队员运回盐边或攀枝花。
					<a href="http://bbs.8264.com/thread-1071303-1-1.html" target="_blank">详细>></a>
				</div>
			</div>
			<div class="mid3_r">
				<div class="lunbo_lall" id="sh_ce_p">
					<div class="lunbo_l" id="ce_pic1" onmousemove="slide_ty(1)">
						<a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img18.jpg" /></a>
					</div>
					<div class="lunbo_l" id="ce_pic2" onmousemove="slide_ty(2)">
						<a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img19.jpg" /></a>
					</div>
					<div class="lunbo_l" id="ce_pic3" onmousemove="slide_ty(3)">
						<a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img20.jpg" /></a>
					</div>
					<div class="lunbo_l" id="ce_pic4" onmousemove="slide_ty(4)">
						<a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img21.jpg" /></a>
					</div>
					<div class="lunbo_l" id="ce_pic5" onmousemove="slide_ty(5)">
						<a href="#" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/img22.jpg" /></a>
					</div>
				</div>
				<div class="lunbo_r">
					<div class="lunbo_title1" id="sh_tip1" onmousemove="slide_ty(1)">二滩（杨渝）</div>
					<div class="lunbo_title" id="sh_tip2" onmousemove="slide_ty(2)">格萨拉(万代荣)</div>
					<div class="lunbo_title" id="sh_tip3" onmousemove="slide_ty(3)">渔门岛（程显孟）</div>
					<div class="lunbo_title" id="sh_tip4" onmousemove="slide_ty(4)">格萨拉红土地（曾炳华）</div>
					<div class="lunbo_title" id="sh_tip5" onmousemove="slide_ty(5)">二滩（寇华春）</div>
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
				<script language="javascript">
                var _tnum;
                var tMyMar;
                var tSize=5;
                function slide_ty(v){
                for(i=1;i<=tSize;i++){
                document.getElementById("ce_pic"+i).style.display="none";
                document.getElementById("sh_tip"+i).className="lunbo_title";
                }
                document.getElementById("ce_pic"+v).style.display="";
                document.getElementById("sh_tip"+v).className="lunbo_title lunbo_title1";
                _tnum=v; 
                clearInterval(tMyMar);
                tMyMar=setInterval("tGunDong()",1000);
                }
                function tGunDong(){
                if((_tnum+1)>tSize)
                _tnum=1;
                else	
                _tnum=_tnum+1;
                slide_ty(_tnum);
                }
                slide_ty(1);
                </script>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="mid2">
		<div class="titlebg">现场图集</div>
		<div class="mid2con">
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-viewthread-tid-1122987-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test5.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-viewthread-tid-1122987-fromuid-1.html" target="_blank">大会启动仪式</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-viewthread-tid-1122987-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test6.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-viewthread-tid-1122987-fromuid-1.html" target="_blank">各大户外俱乐部欢聚</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16535581-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test7.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16535581-fromuid-1.html" target="_blank">活动现场</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16535640-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test8.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16535640-fromuid-1.html" target="_blank">激烈的比赛场景</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536002-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test9.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536002-fromuid-1.html" target="_blank">激情高昂的拉萨驴友</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536080-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test10.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536080-fromuid-1.html" target="_blank">“阳光盐边”文艺晚会</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536201-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test11.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536201-fromuid-1.html" target="_blank">大会相约阳光花城</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536226-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test12.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536226-fromuid-1.html" target="_blank">盐边代表队的横幅祝贺</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536236-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test13.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536236-fromuid-1.html" target="_blank">老驴们以秧歌舞庆贺</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536236-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test14.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536236-fromuid-1.html" target="_blank">驴友们展现户外的魅力</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536468-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test15.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536468-fromuid-1.html" target="_blank">大会开场仪式</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536500-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test16.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536500-fromuid-1.html" target="_blank">比赛现场吸引了众多当地的朋友</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536531-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test17.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536531-fromuid-1.html" target="_blank">户外运动年龄不是问题</a>
				</div>
			</div>
			<div class="imgall">
				<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536554-fromuid-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/2011_panzhihua/img/test18.jpg" /></a>
				<div class="imgname">
					<a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1122987-pid-16536554-fromuid-1.html" target="_blank">大部队陆续到来</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="bottom1"></div>
</div>
<div class="bottom">
	<a href="http://www.8264.com/template/8264/about/aboutus.htm" target="_blank">8264简介</a>
	&nbsp;|&nbsp;
	<a href="http://www.8264.com/template/8264/about/ggservice/index.html" target="_blank">广告服务</a>
	&nbsp;|&nbsp;
	<a href="http://www.8264.com/list/531/" target="_blank">编辑部的故事</a>
	&nbsp;|&nbsp;
	<a href="http://www.8264.com/template/8264/about/sitemap.html" target="_blank">站点地图</a>
	&nbsp;|&nbsp;
	<a href="http://www.8264.com/zhuanti" target="_blank">户外热点</a>
	&nbsp;|&nbsp;
	<a href="http://www.8264.com/template/8264/about/aboutus.htm" target="_blank">联系方式</a>
	&nbsp;|&nbsp;
	<a href="http://bbs.8264.com/plugin.php?id=drc_qqgroup:main" target="_blank">QQ群联盟</a>
	&nbsp;|&nbsp;
	<a href="http://8.8264.com/job/" target="_blank">8264招聘</a>
	&nbsp;|&nbsp;
	<a href="http://www.8264.com/link/" target="_blank">友情链接</a>
	<br>
	服务热线：022-23708264&nbsp;|&nbsp;传真：022-23708323&nbsp;|&nbsp;地址：天津市新技术产业园华苑产业区华天道8号海泰信息广场C座1001号<br>
	<a href="http://bx.8264.com" target="_blank"><span>户外活动有风险，8264提醒您购买</span></a>
	<a href="http://bx.8264.com">户外保险</a>
	<br>
	除了脚印什么都不留下 除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。8264&nbsp;版权所有
	<a href="http://www.miibeian.gov.cn/" target="_blank">津ICP备05004140号-1</a>
</div>
</body>
</html>
