<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>哥仑步城市定向巡回赛专题</title>
<link href="http://static.8264.com/oldcms/moban/zt/kolumb/style/style.css" rel="stylesheet" type="text/css" />
<script src="http://static.8264.com/oldcms/moban/zt/kolumb/common.js" type="text/javascript" language="javascript"></script>
</head>

<body>
<div class="wrapper">
	<div><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/banner.jpg" width="1000" height="553" border="0" /></div>
    <div><img style="display:block;" src="http://static.8264.com/oldcms/moban/zt/kolumb/images/nav.jpg" width="1000" height="39" border="0" usemap="#Map" />
<map name="Map" id="Map"><area shape="rect" coords="113,4,161,34" href="http://www.8264.com/topic/1322.html" /><area shape="rect" coords="193,4,252,35" href="http://www.8264.com/topic/1317.html" /><area shape="rect" coords="276,5,336,34" href="http://www.8264.com/topic/1320.html" /><area shape="rect" coords="366,5,430,36" href="http://www.8264.com/topic/1342.html" /><area shape="rect" coords="766,3,894,36" href="http://www.kolumb.cn/cn/default.htm" /></map>
    </div>
    <div class="wrapperall">
    	<div class="left">
   	        <div class="lefttop">
            	<div class="lefttopl">
                    <div class="org">
                        <div class="titqian">组织机构</div>
						<div class="lineblk"><b>主办单位：</b><br />福建哥仑步户外用品有限公司&nbsp;大连半岛晨报<br />大连市体育局</div>
                        <div class="lineblk"><b>支持单位：</b><br />
                          中国定向运动协会<img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/image002.jpg" width="60" height="45" border="0" /><br />辽宁省定向运动协会</div>
                        <div class="lineblk"><b>协办单位：</b><br />
                      大连电视台文体频道</div>
                        <div class="lineblk"><b>联合承办：</b><br />
福州市定向运动协会<br />大连阳光户外运动俱乐部</div>
                    </div>
                </div>
                <div class="lefttopr">
                	<div><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/titlunbo.jpg" width="376" height="22" border="0" /></div>
                    <div class="lunboarea">
                        <div id="focus_turn">
                            <ul id="focus_pic">
                            <li class="current"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/lunboimg/dalian/1big.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/lunboimg/dalian/1.jpg" border="0" /></a></li>
                            <li class="normal"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/lunboimg/dalian/2big.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/lunboimg/dalian/2.jpg" border="0" /></a></li>
                            <li class="normal"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/lunboimg/dalian/3big.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/lunboimg/dalian/3.jpg" border="0" /></a></li>
                            </ul>
                            <ul id="focus_tx">
                            <li class="current"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/lunboimg/dalian/1big.jpg" target="_blank" title="1">定向赛大连站精彩瞬间</a></li>
                            <li class="normal"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/lunboimg/dalian/2big.jpg" target="_blank" title="2">定向赛大连站精彩瞬间</a></li>
                            <li class="normal"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/lunboimg/dalian/3big.jpg" target="_blank" title="3">定向赛大连站精彩瞬间</a></li>
                          	</ul>
                      </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="leftmid">
            	<div class="leftmidl">
                    <div class="titqian">大连人文</div>
                    <div class="pictxt">
                        <div class="picarea"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/dalian/image009.jpg" width="130" height="100" border="0" /></div>
                        <div class="head">大连女骑警</div>
                        <div class="txt">
                        有“华夏警花第一骑”之誉的大连女子骑警大队成立于1994年12月，主要负责大连繁华场所路段的巡逻、大型商贸文体活动的执勤。&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/52008.html" target="_blank">详细>>></a>
                        </div>
                    </div>
                    <div class="pictxt">
                        <div class="picarea"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/dalian/image010.jpg" width="130" height="100" border="0" /></div>
                        <div class="head">旅顺军港</div>
                        <div class="txt">
                        旅顺口位于辽东半岛最南端、大连市的西南部，是大连下属的市辖区，著名的旅顺军港便在这里。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/52008.html" target="_blank">详细>>></a>
                        </div>
                    </div>
            	</div>
                <div class="leftmidr">
                	<div class="guichengtit">活动赛事规程</div>
                    <div class="guichengcon">
                    <h2>哥仑步（KOLUMB）城市定向挑战赛大连站</h2>
                    <h3>【举办时间】</h3>
<span>初赛：2010年4月24日（星期六）8：00—12：30</span><br />
（检录8：00；出发8：45；关门12：00；颁奖12：30）<br />
<span>决赛：2010年4月25 日（星期日）8：00—12：30</span><br />
（检录8：00；出发8：45；关门12：00；颁奖12：30）<br />
					<h3>【举办地点】</h3>
初赛：起点为罗斯福广场，终点为星海广场...<br />
决赛：起点为罗斯福广场，终点为罗斯福广场...
					<h3>【参赛方式】</h3>
初赛：自由组队，自创队名，每队3人（至少1名异性）...
					<h3>【活动规程】</h3>
一、活动项目：城市定向赛...
                    <h4><a href="http://www.8264.com/52010.html" target="_blank">更多详情请点击>>></a></h4>
					</div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="leftbtm1">
            	<div class="titbtm">精彩瞬间回放</div>
                <div class="btmcon">
                	<div class="showareatop">
                    <div class="gundong" id="de">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td id="de1">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                <div class="imgall">
                                    <div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d41.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d41s.jpg" width="130" height="100" border="0"></a></div>
                                </div>
                                </td>
                                <td>
                                <div class="imgall">
                                    <div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d44.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d44s.jpg" width="130" height="100" border="0"></a></div>
                                </div>
                                </td>
                                <td>
                                <div class="imgall">
                                    <div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d46.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d46s.jpg" width="130" height="100" border="0"></a></div>
                                </div>
                                </td>
                                <td>
                                <div class="imgall">
                                    <div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d49.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d49s.jpg" width="130" height="100" border="0"></a></div>
                                </div>
                                </td>
                                <td>
                                <div class="imgall">
                                    <div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d50.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d50s.jpg" width="130" height="100" border="0"></a></div>
                                </div>
                                </td>
                                <td>
                                <div class="imgall">
                                    <div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d52.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d52s.jpg" width="130" height="100" border="0"></a></div>
                                </div>
                                </td>
                                <td>
                                <div class="imgall">
                                    <div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d54.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d54s.jpg" width="130" height="100" border="0"></a></div>
                                </div>
                                </td>
                                <td>
                                <div class="imgall">
                                    <div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d58.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d58s.jpg" width="130" height="100" border="0"></a></div>
                                </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td id="de2">&nbsp;</td>
                </tr>
            </table>
            <SCRIPT language=JavaScript type=text/javascript>
                        function GetObj01(objName){
                            if(document.getElementById){
                                return eval('document.getElementById("' + objName + '")');
                            }else if(document.layers){
                                return eval("document.layers['" + objName +"']");
                            }else{
                                return eval('document.all.' + objName);
                            }
                        }
                          var speed01=20//速度数值越大速度越慢
                          GetObj01("de2").innerHTML=GetObj01("de1").innerHTML
                          function Marquee01(){
                              if(GetObj01("de").scrollLeft<=0)
                              GetObj01("de").scrollLeft=GetObj01("de1").offsetWidth
                              else{
                                GetObj01("de").scrollLeft--
                              }
                          }
                          var MyMar01=setInterval(Marquee01,speed01)
                          GetObj01("de").onmouseover=function() {clearInterval(MyMar01)}
                          GetObj01("de").onmouseout=function() {MyMar01=setInterval(Marquee01,speed01)}
                          </SCRIPT>
            </div>
                	</div>
                	<div class="showareabtm">
                    	<div class="gundong" id="de3">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td id="de4">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                    <div class="imgall">
                                    	<div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d8.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d8s.jpg" width="130" height="100" border="0" /></a></div>
                                    </div>
                                    </td>
                                    <td>
                                    <div class="imgall">
                                    	<div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d10.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d10s.jpg" width="130" height="100" border="0" /></a></div>
                                    </div>
                                    </td>
                                    <td>
                                    <div class="imgall">
                                    	<div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d12.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d12s.jpg" width="130" height="100" border="0" /></a></div>
                                    </div>
                                    </td>
                                    <td>
                                    <div class="imgall">
                                    	<div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d26.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d26s.jpg" width="130" height="100" border="0" /></a></div>
                                    </div>
                                    </td>
                                    <td>
                                    <div class="imgall">
                                    	<div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d30.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d30s.jpg" width="130" height="100" border="0" /></a></div>
                                    </div>
                                    </td>
                                    <td>
                                    <div class="imgall">
                                    	<div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d31.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d31s.jpg" width="130" height="100" border="0" /></a></div>
                                    </div>
                                    </td>
                                    <td>
                                    <div class="imgall">
                                    	<div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d35.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d35s.jpg" width="130" height="100" border="0" /></a></div>
                                    </div>
                                    </td>
                                    <td>
                                    <div class="imgall">
                                    	<div class="img"><a href="http://static.8264.com/oldcms/moban/zt/kolumb/images/bigimg/dalian/d38.jpg" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imgs/dalian/d38s.jpg" width="130" height="100" border="0" /></a></div>
                                    </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td id="de5">
                        </td>
                    </tr>
      		</table>
            <SCRIPT language=JavaScript type=text/javascript>
                    function GetObj02(objName){
                        if(document.getElementById){
                            return eval('document.getElementById("' + objName + '")');
                        }else if(document.layers){
                            return eval("document.layers['" + objName +"']");
                        }else{
                            return eval('document.all.' + objName);
                        }
                    }
                      var speed02=20//速度数值越大速度越慢
                      GetObj02("de5").innerHTML=GetObj02("de4").innerHTML
                      function Marquee02(){
                        var el =GetObj02("de3"); 
                        if(el.scrollLeft >= GetObj02("de4").offsetWidth){     
                          el.scrollLeft = 0;
                        };   
                        el.scrollLeft = el.scrollLeft+1; 
                      }
                      var MyMar02=setInterval(Marquee02,speed02)
                      GetObj02("de3").onmouseover=function() {clearInterval(MyMar02)}
                      GetObj02("de3").onmouseout=function() {MyMar02=setInterval(Marquee02,speed02)}
                      </SCRIPT>
      </div>
                    </div>
                </div>
            </div>
            <div class="leftbtm2">
            	<div class="titbtm">活动赛事视频</div>
                <div class="videoarea">
       	    	<table cellspacing="20">
                	<tr>
                    	<td><a href="http://www.8264.com/51969.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/1.jpg" border="0" /></a></td>
                        <td><a href="http://www.8264.com/51980.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/2.jpg" border="0" /></a></td>
                        <td><a href="http://www.8264.com/51980.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/3.jpg" border="0" /></a></td>
                        <td><a href="http://www.8264.com/51986.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/4.jpg" border="0" /></a></td>
                    </tr>
                    <tr>
                    	<td><a href="http://www.8264.com/51987.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/5.jpg" border="0" /></a></td>
                        <td><a href="http://www.8264.com/51988.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/6.jpg" border="0" /></a></td>
                        <td><a href="http://www.8264.com/51989.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/7.jpg" border="0" /></a></td>
                        <td><a href="http://www.8264.com/51990.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/8.jpg" border="0" /></a></td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    	<div class="right">
        	<div class="blk">
            	<div class="titrighttop">活动预告</div>
                <div class="yugaocon">
                <p>
第二站在长春时间是：<br />
第Ⅰ场（公园定向）：2010年5月15日（星期六）12：00—16：30（检录12：00；出发12：45；关门15：45；颁奖16：30）<br />
第Ⅱ场（汽车定向）：2010年4月25日（星期日）12：00—16：30（检录12：00；出发12：45；关门15：45；颁奖16：30）
                </p>
                <p>
【举办地点】<br />
第Ⅰ场（公园定向）：起点为欧亚商都，终点为南湖公园3号门，主赛场南湖公园。<br />
第Ⅱ场（汽车定向）：起点为欧亚卖场，终点为欧亚卖场，主赛场长春主城区内。
                </p>
                <p>
【参赛方式】<br />
第Ⅰ场（公园定向）：自由组队，自创队名，每队3人（至少1名异性），年龄20—50周岁；限报50队，额满截止。<br />
第Ⅱ场（汽车定向）：自由组队，自创队名，每队3人（至少1名异性），允许有1名队员年龄低于20岁但必须高于16周岁；仅限汽车作为交通工具；限报50队，额满截止。
                </p>
                <p>
【报名时间】<br />
2010年4月10日开始预报名登记；<br />
2010年5月5日—12日正式报名登记。
                </p>
              </div>
            </div>
            <div class="blk">
            	<div class="titright">定向知识</div>
                <div class="zhishicon">
                <h3><a href="http://www.8264.com/51825.html" target="_blank">1、定向运动技术和比赛程序</a></h3>
				<h3><a href="http://www.8264.com/51827.html" target="_blank">2、什么是定向知识？</a></h3>
                <h3><a href="http://www.8264.com/51828.html" target="_blank">3、定向运动的特点</a></h3>
                <h3><a href="http://www.8264.com/51829.html" target="_blank">4、定向运动的国内外发展情况</a></h3>
                <h3><a href="http://www.8264.com/51831.html" target="_blank">5、定向运动的优势</a></h3>
                <h3><a href="http://www.8264.com/51833.html" target="_blank">6、定向运动的分类</a></h3>
                <h3><a href="http://www.8264.com/51834.html" target="_blank">7、定向运动的起源和发展</a></h3>
                <h3><a href="http://www.8264.com/51836.html" target="_blank">8、定向运动的价值</a></h3>
              </div>
            </div>
            <div class="blk">
            	<div class="titright">赛事报道</div>
                <div class="baodaocon">
                <ul>
                <li>1、<a href="http://www.kolumb.cn/cn/news-488-2074.htm" target="_blank">哥仑步城市定向挑战赛大连站昨日启幕<br /></a></li>
                <li>2、<a href="http://www.kolumb.cn/cn/news-489-2074.htm" target="_blank">哥仑步城市定向赛大连站昨日落幕<br /></a></li>
                <li>3、<a href="http://www.8264.com/52634.html" target="_blank">有备而来型初赛后全队做按摩<br /></a></li>
                <li>4、<a href="http://www.8264.com/47013.html" target="_blank">如诗美景掣裙裾——哥仑步式杭州全接<br />
                &nbsp;&nbsp;&nbsp;触小记</a></li>
                <li>5、<a href="http://www.8264.com/46753.html" target="_blank">09哥仑步kolumb城市定向寻宝杭州站即<br />
                &nbsp;&nbsp;&nbsp;将拉开战幕</a></li>
				<li>6、<a href="http://www.8264.com/51986.html" target="_blank">2008中国旅游城市全能定向越野安徽池<br />
				 &nbsp;&nbsp;&nbsp;州平天湖站</a></li>
				<li>7、<a href="http://www.8264.com/51980.html" target="_blank">哥仑步2008全国定向锦标赛<br /></a></li>
				<li>8、<a href="http://www.8264.com/51989.html" target="_blank">2009哥仑步城市定向赛杭州站初赛<br /></a></li>
                </ul>
              </div>
            </div>
            <div class="blk">
            	<div class="titright">趣事趣闻</div>
                <div class="quwencon">
                	<div class="quwenblk">
                    <div class="quwenimg"><img src="http://static.8264.com/oldcms/moban/zt/kolumb/images/imagequwen.jpg" border="0" /></div>
                    <p>
有备而来型初赛后全队做按摩，“昨天初赛太累了，早上起来腿像灌了铅似的，都抬不起来了。”这是很多选手在决赛前的感受，有两组队员甚至因此而退出决赛。但有的队员显然是有备而来，比如第14组，这组队员在初赛之后集体去按摩院做按摩，决赛时轻松上阵。意气用事型“有人超过我就不爽”有的领头队员跑着跑着会“冲动”起来，以百米冲刺的速度奔跑，把队友远远抛在身后，连打卡都忘了。
&nbsp;&nbsp;&nbsp;<a href="http://www.8264.com/52634.html" target="_blank">详情>>></a>
					</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="bottomarea">
    <DIV class=bottom>
            <A href="http://www.8264.com/ziliao/about/aboutus.php" 
    target=_blank>关于我们</A> | <A href="http://www.8264.com/ziliao/about/aboutus.php" 
    target=_blank>联系我们</A> | <A href="http://www.8264.com/8954.html">给我留言</A> | <A 
    href="http://www.8264.com/ziliao/sitemap.html" target=_blank>网站地图</A> | <A 
    href="http://www.8264.com/ziliao/ggservice/index.html" target=_blank>广告服务</A> | 
    <A href="http://www.8264.com/list/531/" target=_blank>编辑部的故事</A> | <A 
    href="http://www.8264.com/sitelink/index.html" 
    target=_blank>友情连接</A><BR>服务热线：022-23708264 | 传真：022-23708323 | 
    地址：天津市新技术产业园区华天道8号海泰信息广场C座1001号<BR>除了脚印什么都不留下除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。&nbsp;&nbsp;&nbsp;&nbsp;<A 
    href="http://www.miibeian.gov.cn/" 
    target=_blank>津ICP备05004140号-1</A>
    </DIV>
    </div>
</div>
</body>
</html>
