<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>奥索卡2014年白河攀岩节</title>
<link href="http://static.8264.com/oldcms/moban/zt/2014ozark/style/style.css" rel="stylesheet" type="text/css">
<script src="http://static.8264.com/oldcms/moban/zt/2014ozark/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="http://static.8264.com/oldcms/moban/zt/2014ozark/js/jquery.js" type="text/javascript"></script>
</head>

<body>
<div class="branner"></div>
<div class="nav">
	<div class="navcon">
		<a href="#q1">活动内容</a>
		<a href="#q2">行程安排</a>
		<a href="#q3">运动员介绍</a>
		<a href="#q4">活动图集</a>
		<a href="http://bbs.8264.com/thread-2159300-1-1.html" target="_blank" class="wybm_nav">现场随拍</a>
	</div>
</div>
<div class="layout">
	<a name="q1"></a>
	<div class="mid">
		<div class="jianjiecon">白河攀岩基金用于推广普及攀岩运动，为广大攀岩爱好者开发自然攀岩场地。今年是白河攀岩基金成立十五周年，为此白河基金携手奥索卡并联合中国登山协会、旗云探险、与六月十三日至十四日在白河五道岭新岩区举办白河攀岩节。届时大会将招募志愿者进行攀岩场地环境清理、组织参与者开展趣味攀岩赛，并为初学者和渴望提高攀登技能的爱好者举办公开攀登课程。同时，在十四日晚会有一场盛大的白河攀岩基金晚会，啤酒、烧烤、音乐已经准备就绪，只等广大攀岩者的到来。</div>
		<div class="fgx"></div>
		<div class="actionjs">
			<span>活动地点：</span>
			密云县 石城镇 下张家坟村 ，距市区约110公里</br>
			<a href="http://bbs.8264.com/thread-2138732-1-1.html" class="wybm" target="_blank"></a>
		</div>
		<div class="actionjs">
			<span>参与方式：</span>
			无需提前报名；14-15日，随时欢迎驴友来现场参与活动；</br>
			自6月13日开始在密云县 石城镇 下张家坟村开始进行活动咨询与志愿者报到</br>
			参加本次攀岩节的爱好者需自行购买户外活动保险并现场签署免责声明书（详情请见免责声明）。</br>
		</div>
		<div class="actionjs">
			<span>活动注释：</span>
			1、活动时间2014年6月14日—15日请攀岩爱好者自行安排交通前往<br>
			2、活动预定地点在密云县 石城镇 下张家坟村 ，距市区约110公里<br>
			3、具体详情请咨询13801017549（竺学行）<br>
			4、活动本身不收取费用，并提供必要饮水。但晚会期间的饮品及食品需要向白河基金捐资换取（烧烤除外）。<br>
		</div>
		<a name="q2"></a>
	</div>
	<div><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/map.jpg"/></div>
	<div><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/title2.jpg"><a name="q3"></a></div>
	<div class="rwwarpten clear_b">
		<div class="bigimg">
			<ul>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/28.jpg" />
				<div class="tanchu">
					<span>邱洪树</span>
				  奥索卡赞助攀岩运动员，现役国家队队员，国家初级攀岩教练员，全国一级攀岩裁判员<br>
					2008年贵州全国攀岩精英赛第一名<br>
					2008年贵州全国山地攀石赛第四名<br>
					2008年全国锦标赛攀石第五名<br>
					2009年全国攀岩锦标赛难度赛第五名<br>
					2009年全国攀岩锦标赛攀石赛第五名<br>
					2010年广西全国攀岩精英攀石赛第二名<br>
					2010年北京OZARK ROCKS"南北争锋"活动总决赛冠军<br>
                    2011年重庆酉阳第十九届全国攀岩锦标赛抱石比赛第二名<br>
                    2011全国攀岩分站赛总决赛男子攀石赛冠军<br>
				</div>
				</li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/26.jpg" />
				<div class="tanchu">
					<span>蒋融</span>
					美国肌肉车，霸气太露。<br>
					2012年10月全国大学生锦标赛女子专业组抱石赛第一名<br>
				</div>
				</li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/30.jpg" />
				<div class="tanchu">
					<span>赵雷</span>
					国家攀岩队教练 2005年起一直担任OZARK（奥索卡）形象代言人<br>
					1994年赵雷接触攀岩<br>
					1995年进入北大山鹰社毕业后进入国家登山队<br>
					1998年攀岩赛中初露头角后成为攀岩界实力派人物<br>
					2000年 第八届全国攀岩锦标赛冠军<br>
					2001年9月亚洲杯攀岩赛速度赛第6名<br>
					2001年11月马来西亚站世界杯攀岩赛获得难度赛31名<br>
                    2002年2月代表中国国家队参加亚洲X-game获抱石赛第13名<br>
                    2006年应邀赴意大利的都灵参加第二十届冬奥会攀岩表演<br> 
				</div>
				</li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/32.jpg" />
				<div class="tanchu">
					<span>迪力夏提</span>
					新疆登山协会登山教练、高山向导 多次带领外国登山团队攀登慕士塔格峰<br>
					1996年：慕士塔格带队<br>
					1998年：慕士塔格带队<br>
					2001年：穹慕士塔格带队<br>
					2005年：博格达学习训练攀登<br>
					2007年5月玉珠峰 8月博格达峰<br>
					2008年6月连宝玉则峰 7月岗什卡峰 10月玉珠峰北坡<br>
					2009年5月玉珠峰北坡 7月慕士塔格峰 11月四姑娘幺妹峰<br>
                    2010年8月博格达峰 9月沙大王峰<br>
				</div>
				</li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/34.jpg" />
				<div class="tanchu">
					<span>李宗利</span>
					1992年至2004年在四川省体育局从事专业体育训练十年<br>
					2006年在中国登山协会的组织和选拔下，通过多项考核被四川省登山协会推荐参加了第一批的CMDI的培训学习，从此开始了自己的登山事业。<br>
					在2006年到2008年结束CMDI的学习以后才算明确了自己的人身目标并且自己也非常热爱和喜欢这项事业<br>
					在09年幺峰的攀登中，大脚指甲被冻掉了,这也是登山以来比较大的损伤<br>
				</div>
				</li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/36.jpg" />
				<div class="tanchu">
					<span>康华</span>
					职业登山教练、向导 西藏登山学校 技术指导 前CMDI(中国登山高山人才培训班) 教练<br>
					2002年-2006年西藏登山学校负责技术训练及活动运作<br>
					2006年–2010年中国登山高级人才培训班攀登教练负责技术攀登教学及活动运作<br>
					数十次喜马拉雅山脉、昆仑山脉，祁连山脉，欧洲阿尔卑斯山脉雪山山攀登经历<br>
					多次独立或参与运作大型高海拔登山及探险活动<br>
					多次在攀登户外旅游类媒体发表文章及照片<br>
				</div>
				</li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/38.jpg" />
				<div class="tanchu">
					<span>张睿</span>
                    热爱生活尊重生命 户外运动回归自然让我感到生命的价值<br>
					喜欢攀岩 啤酒  骑车 摩托 游泳 驾驶越野车 当然所有的运动都离不开手中的单反相机 发现户外运动和摄影就是天生的一对<br>
					从最初带着相机四处拍摄  到现在相机带着我走进一座座雪山<br>
					使用过的单反相机从最初的胶片机 虎丘 华山 珍妮特 奥林帕斯om-1 nikon fm2 Canon eos A2e  到 现在的Canon 1ds 和7d<br>
				</div>
				</li>
			</ul>
		</div>
		<div class="smallimg">
			<ul>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/29.jpg" /><span style="display:none;"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/27.jpg" /><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/31.jpg" /><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/33.jpg" /><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/35.jpg" /><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/37.jpg" /><span></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/39.jpg" /><span></span></li>
			</ul>
		</div>
	</div>
	<div><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/title3.jpg"></div>
	<div class="porduct">
		<div class="porductimg">
			<ul>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/10.jpg"><span class="blackbg"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/11.jpg"><span class="blackbg"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/12.jpg"><span class="blackbg"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/13.jpg"><span class="blackbg"></span></li>
			</ul>
		</div>
		<div class="porductinfo">
			<ul>
				<li>
					<span class="name">奥索卡2014春夏男款羊毛短袖T恤 款号：353434</span>
					功能恤衫，采用来自澳洲的美利诺羊毛，超细羊毛纤维，体感舒适，独具良好的调温性能，适合多种环境的户外运动<br>
					◆ 技术剪裁，为专业户外爱好者设计<br>
					◆ 胸前山峰图案印花，增加设计细节，提升视觉效果<br>
					主身面料：美丽诺针织羊毛面料<br>
				</li>
				<li>
					<span class="name">奥索卡2014春夏女款Cafe 短袖恤衫 款号：353405</span>
					功能恤衫，采用咖啡纱面料，吸湿速干的同时具备吸臭和抗紫外线功能，适合多种环境的户外运动<br>
					◆ 标准剪裁，为户外爱好者设计<br>
					◆ 精巧细密的彩色装饰线，突出了流畅的线条<br>
                    ◆ 胸前图案采用立体印花工艺，色调明快个性<br>
					主身面料：咖啡纱针织面料<br>
				</li>
				<li>
					<span class="name">奥索卡2014春夏男款银纤维短袖T恤 款号：353416</span>
					功能恤衫，采用银纤维面料，吸湿速干的同时具备卓越的吸臭、抗菌抑菌功能，适合多种环境的户外运动<br>
					◆ 技术剪裁，为专业户外爱好者设计<br>
					◆ 印花图案风格各异，提供丰富选择, 同时充分体现攀岩文化, 是ROCKS 系列的全新演绎<br>
					主身面料：美丽诺针织羊毛面料<br>
                    后肩拼接面料：咖啡纱针织面料<br>
				</li>
				<li>
					<span class="name">奥索卡2014春夏女款银纤维短袖T恤 款号：353421</span>
					功能恤衫，采用银纤维面料，吸湿速干的同时具备卓越的吸臭、抗菌抑菌功能，适合多种环境的户外运动<br>
					◆ 技术剪裁，为专业户外爱好者设计<br>
					◆ 印花图案风格各异，提供丰富选择, 同时充分体现攀岩文化, 是ROCKS 系列的全新演绎<br>
					主身面料：X-STATIC针织面料<br>
				</li>
			</ul>
		</div>
		<span class="close20"></span>
	</div>
	<div><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/title4.jpg"><a name="q4"></a></div>
	<div class="pblcon clear_b">
		<div class="l_223">
			<div class="one_223"><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/40.jpg"/></div>
			<div class="one_223"><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/43.jpg"/></div>
			<div class="one_223"><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/48.jpg"/></div>
		</div>
		<div class="l_223">
			<div class="one_223"><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/41.jpg"/></div>
			<div class="one_223"><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/44.jpg"/></div>
			<div class="one_223"><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/47.jpg"/></div>
		</div>
		<div class="l_223">
			<div class="one_223"><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/42.jpg"/></div>
			<div class="one_223"><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/46.jpg"/></div>
			<div class="one_223"><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/49.jpg"/></div>
		</div>
		<div class="r_223">
			<div class="one_223"><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/45.jpg"/></div>
			<div class="one_223"><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/47.jpg"/></div>
			<div class="one_223"><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/50.jpg"/></div>
		</div>
	</div>
	<div class="fgx_3"></div>
	<div><img src="http://static.8264.com/oldcms/moban/zt/2014ozark/images/friend.jpg"></div>
</div>
<div class="footer">
	<div class="footercon">
		<p class="footer_l">8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106<br>
			<a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
		<p class="footer_r"><a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a> | <a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a> | <a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a> | <a target="_blank" href="http://www.8264.com/link/">户外网址大全</a> | <a target="_blank" href="http://www.8264.com/sitemap">网站地图</a></p>
		<div class="clear"></div>
	</div>
</div>
</body>
</html>
