<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>2015年Kingcamp露营体验家</title>
<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/201504kingcamp/style/style.css">
<script src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/js/jquery-1.9.1.min.js"></script>
</head>

<body>
<div class="branner"></div>
<div class="midcon clear_b">
	<div class="leftbox w675 pr">
		<div class="f26">KingCamp 2015年度露营体验家</div>
		<div class="f20">大型主题活动温情开幕！<span class="orangebg">全家去露营，KingCamp来埋单！</span></div>
		<div class="actinfo">
			<ul>
				<li><span class="icon1">活动招募时间：</span><em>03.30-04.21</em></li>
				<li><span class="icon2">每期招募数量：</span><em>6名，全年四期</em></li>
				<li><span class="icon3">如何参与：</span></li>
			</ul>
		</div>
		<div class="cylist">
			<ul>
				<li><i>1</i>报名：请仔细填写报名资料</li>
				<li><i>2</i>通过组委会审核后，成为“KingCamp 2015年度露营体验家”,免费体验KingCamp套装，或露营帐篷KingCamp，提交评测报告</li>
				<li><i>3</i>参评最优秀露营体验家</li>
			</ul>
		</div>
		
		<div class="libmbox">
			<a href="http://bbs.8264.com/thread-2354381-1-1.html" target="_blank" class="bmbutton">立即报名</a>
			<p>价值2636元的超豪华家庭休闲套装，价值1999元的露营帐篷KingCamp，<br>duang落你头上--KingCamp 2015年度露营体验家第一期招募中，免费来拿吧！</p>
		</div>
	</div>
	<div class="rightbox w305">
		<div class="datelist clear_b">
			<span class="hover">第一期</span>
			<span>第二期</span>
			<span>第三期</span>
			<span>第四期</span>
		</div>
		<div id="porductcon">
			<!--第一期开始-->
			<div>
				<div class="pcon borderb clear_b">
					<img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test1.jpg"/>
					<p>
						<span>KingCamp露营帐篷</span>
						<span>共5顶</span>
						<em>价值<b>1999</b>元</em>
					</p>
				</div>
				<div class="pcon clear_b">
					<img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/>
					<p>
						<span>KingCamp超豪华家庭休闲套装</span>
						<span>共1套</span>
						<em>价值<b>2636</b>元</em>
					</p>
				</div>
			</div>
			<!--第一期结束-->
			<!--第二期开始-->
			<div style="display:none;">
				<div class="pcon borderb clear_b">
					<img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/>
					<p>
						<span>KingCamp超豪华家庭休闲套装</span>
						<span>共1套</span>
						<em>价值<b>2636</b>元</em>
					</p>
				</div>
				<div class="pcon clear_b">
					<img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/>
					<p>
						<span>KingCamp超豪华家庭休闲套装</span>
						<span>共1套</span>
						<em>价值<b>2636</b>元</em>
					</p>
				</div>
			</div>
			<!--第二期结束-->
			<!--第三期开始-->
			<div style="display:none;">
				<div class="pcon borderb clear_b">
					<img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/>
					<p>
						<span>KingCamp超豪华家庭休闲套装</span>
						<span>共1套</span>
						<em>价值<b>3636</b>元</em>
					</p>
				</div>
				<div class="pcon clear_b">
					<img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/>
					<p>
						<span>KingCamp超豪华家庭休闲套装</span>
						<span>共1套</span>
						<em>价值<b>2636</b>元</em>
					</p>
				</div>
			</div>
			<!--第三期结束-->
			<!--第四期开始-->
			<div style="display:none;">
				<div class="pcon borderb clear_b">
					<img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/>
					<p>
						<span>KingCamp超豪华家庭休闲套装</span>
						<span>共1套</span>
						<em>价值<b>4636</b>元</em>
					</p>
				</div>
				<div class="pcon clear_b">
					<img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/>
					<p>
						<span>KingCamp超豪华家庭休闲套装</span>
						<span>共1套</span>
						<em>价值<b>2636</b>元</em>
					</p>
				</div>
			</div>
			<!--第四期结束-->
		</div>
	</div>
</div>
<div class="con2">
	<div class="midcon clear_b">
		<img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/>
		<div class="brandinfo">
			<p>KingCamp，家庭户外的倡导者，户外自驾露营装备知名品牌。 自2002年创立以来，KingCamp始终致力于向全世界推广户外生活方式，以其“舒适、轻松、分享、环保”的户外理念、独特的设计、专业的品质和优质 的服务赢得全世界户外爱好者的青睐，产品畅销全球30多个国家。</p>
			<p>KingCamp的产品涵盖露营、徒步、旅行、休闲四个系列近千个品种。无论从产品设计、面料选择还是质量把控上，KingCamp品牌均严格执行国内外先进标准。</p>
			<p>KingCamp不仅是一个品牌，更代表一种健康、先进的生活方式，引导人们轻松舒适地享受户外，贴近自然。</p>
		</div>
	</div>
</div>
<div class="con3">
	<div class="midcon clear_b pr ptb3573">
		<ul class="porductlist">
			<li><a href="http://www.kingcamp.com.cn/Product/zhangpeng/124944.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p2.jpg"/></a><span>露营自动帐<b>￥1999</b></span></li>
			<li><a href="http://www.kingcamp.com.cn/Product/zhangpeng/124943.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p3.jpg"/></a><span>露营自动帐<b>￥1999</b></span></li>
			<li><a href="http://www.kingcamp.com.cn/Product/zhangpeng/1_2/1156.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p4.jpg"/></a><span>炫彩休闲自动帐<b>￥499</b></span></li>
			<li><a href="http://www.kingcamp.com.cn/Product/zhangpeng/3_4/1149.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p6.jpg"/></a><span>经典家庭露营帐<b>￥599</b></span></li>
			<li><a href="http://www.kingcamp.com.cn/Product/zhangpeng/3_4/1112.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p5.jpg"/></a><span>家庭自驾露营帐<b>￥1169</b></span></li>
			<li><a href="http://www.kingcamp.com.cn/Product/zhangpeng/3_4/1119.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p7.jpg"/></a><span>豪华家庭露营帐<b>￥3899</b></span></li>
			<!--这几个别删除啊开始-->
			<li></li>
			<li></li>
			<li></li>
			<!--这几个别删除啊结束-->
			<li><a href="http://www.kingcamp.com.cn/Product/zhangpeng/3_4/1115.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p8.jpg"/></a><span>家庭露营帐<b>￥1999</b></span></li>
			<li><a href="http://www.kingcamp.com.cn/Product/zhangpeng/5yishang/1126.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p9.jpg"/></a><span>豪华自驾露营帐<b>￥8899</b></span></li>
			<li><a href="http://www.kingcamp.com.cn/Product/zhangpeng/3_4/3737.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p10.jpg"/></a><span>多功能汽车帐<b>￥1269</b></span></li>
			<li><a href="http://www.kingcamp.com.cn/Product/huwaijiaju/fushouyi/1229.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p11.jpg"/></a><span>豪华扶手椅<b>￥519</b></span></li>
			<li><a href="http://www.kingcamp.com.cn/Product/huwaijiaju/xiuxianyi/124954.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p12.jpg"/></a><span>360°超轻铝旋转椅<b>￥499</b></span></li>
			<li><a href="http://www.kingcamp.com.cn/Product/huwaijiaju/jiajuqita/1235.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p13.jpg"/></a><span>豪华遮阳篷<b>￥1299</b></span></li>
		</ul>
		<div class="logo_p"></div>
	</div>
</div>
<div class="con4">
	<div class="midcon pt50">
		<div class="titleend"><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/titlebg2.png"/></div>
		<!--第一期开始-->
		<div>
			<div class="dqtitle">
				<span>往期回顾</span>
				<em>Old Timey</em>
			</div>
			<div class="seasoncon clear_b">
				<!--第一个开始-->
				<div class="seasonone clear_b" id="s1">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p14.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p16.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p18.jpg"/></li>
							</ul>
							<div class="tanchubox"><a href="http://bbs.8264.com/thread-2252677-1-1.html"target="_blank">专为家庭户外和好友小聚设计的四季帐，比起一般的帐篷，它有着更多的空间和功能区</a></div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p15.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p17.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p19.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">Kingcamp 大帐的露营野餐</div>
						<div class="namedate"><span>蔻蔻年华</span><em>2014-10-26</em></div>
					</div>
				</div>
				<!--第一个结束-->
				<!--第二个开始-->
				<div class="seasonone clear_b" id="s2">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p20.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p22.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p24.jpg"/></li>
							</ul>
							<div class="tanchubox"><a href="http://bbs.8264.com/thread-2261798-1-1.html"target="_blank">睡袋在领口位置有一个魔术贴，可以防止睡觉的时候，身体移动时把拉链拉开，流失睡袋内的暖气</a></div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p21.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p23.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p25.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">KingCamp 睡袋FAVOURER400体验</div>
						<div class="namedate"><span>取款机</span><em>2014-11-7</em></div>
					</div>
				</div>
				<!--第二个结束-->
				<!--第三个开始-->
				<div class="seasonone clear_b" id="s3">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p26.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p28.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p30.jpg"/></li>
							</ul>
							<div class="tanchubox"><a href="http://bbs.8264.com/forum.php?mod=viewthread&tid=2255934&page=1#pid55353615"target="_blank">致力于向全世界推广户外生活方式，让热爱生活的人们轻松舒适地享受户外，贴近自然</a></div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p27.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p29.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p31.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">COMPASS凯巴斯汽车篷体验</div>
						<div class="namedate"><span>cc688</span><em>2014-10-30</em></div>
					</div>
				</div>
				<!--第三个结束-->
				<!--第四个开始-->
				<div class="seasonone clear_b" id="s4">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p32.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p34.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p36.jpg"/></li>
							</ul>
							<div class="tanchubox"><a href="http://bbs.8264.com/forum.php?mod=viewthread&tid=2288615&page=1#pid57410432"target="_blank">充电装置充电时一目了然，充电时左侧红灯亮起，充满电后右侧绿灯亮起，基本上用不了一晚便可将电充满，并不用担心会影响之后活动</a></div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p33.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p35.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p37.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">KingCamp 可拆分营地灯体验</div>
						<div class="namedate"><span>狂野清风</span><em>2014-12-6</em></div>
					</div>
				</div>
				<!--第四个结束-->
				<!--第五个开始-->
				<div class="seasonone clear_b" id="s5">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p38.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p40.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p42.jpg"/></li>
							</ul>
							<div class="tanchubox"><a href="http://bbs.8264.com/thread-2200440-1-1.html"target="_blank">拥有此款营地灯，你就给了自己很多选择：拆开是手电筒，装上是营地灯；低档30LED亮，高档60LED亮</a></div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p39.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p41.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p43.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>-溜溜-</span><em>2014-8-11</em></div>
					</div>
				</div>
				<!--第五个结束-->
				<!--第六个开始-->
				<div class="seasonone clear_b" id="s6">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p44.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p46.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p48.jpg"/></li>
							</ul>
							<div class="tanchubox"><a href="http://bbs.8264.com/forum.php?mod=viewthread&tid=2198050&page=1#pid51394736"target="_blank">防潮垫外面有两条弹力皮筋收紧带可以把产品系牢固,收纳起来后，睡袋的体积小，重量只有1.0ＫＧ，非常易于携带</a></div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p45.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p47.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/p49.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">KingCamp 防潮垫测评报告</div>
						<div class="namedate"><span>夏天的海a</span><em>2014-8-7</em></div>
					</div>
				</div>
				<!--第六个结束-->
			</div>
		</div>
		<!--第一期结束-->
		<!--第二期开始-->
		<div style="display:none;">
			<div class="dqtitle">
				<span>第二期</span>
				<em>THE SECOND SEASON</em>
			</div>
			<div class="seasoncon clear_b">
				<!--第一个开始-->
				<div class="seasonone clear_b" id="s7">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></li>
							</ul>
							<div class="tanchubox">今年气候不是很正常，即使是四月份，北方依然很冷尤其是山里，温度会比城市里更低一些，白天大概是-5℃，夜晚会更低。</div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>韦不帅</span><em>2014-12-14</em></div>
					</div>
				</div>
				<!--第一个结束-->
				<!--第二个开始-->
				<div class="seasonone clear_b" id="s8">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></li>
							</ul>
							<div class="tanchubox">今年气候不是很正常，即使是四月份，</div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>韦不帅</span><em>2014-12-14</em></div>
					</div>
				</div>
				<!--第二个结束-->
				<!--第三个开始-->
				<div class="seasonone clear_b" id="s9">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></li>
							</ul>
							<div class="tanchubox">今年气候不是很正常，即使是四月份，</div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>韦不帅</span><em>2014-12-14</em></div>
					</div>
					
				</div>
				<!--第三个结束-->
				<!--第四个开始-->
				<div class="seasonone clear_b" id="s10">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></li>
							</ul>
							<div class="tanchubox">今年气候不是很正常，即使是四月份，</div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>韦不帅</span><em>2014-12-14</em></div>
					</div>
					
				</div>
				<!--第四个结束-->
				<!--第五个开始-->
				<div class="seasonone clear_b" id="s11">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></li>
							</ul>
							<div class="tanchubox">今年气候不是很正常，即使是四月份，</div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>韦不帅</span><em>2014-12-14</em></div>
					</div>
					
				</div>
				<!--第五个结束-->
				<!--第六个开始-->
				<div class="seasonone clear_b" id="s12">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></li>
							</ul>
							<div class="tanchubox">今年气候不是很正常，即使是四月份，</div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>韦不帅</span><em>2014-12-14</em></div>
					</div>
					
				</div>
				<!--第六个结束-->
			</div>
		</div>
		<!--第二期结束-->
		<!--第三期开始-->
		<div style="display:none;">
			<div class="dqtitle">
				<span>第三期</span>
				<em>THE THIRD SEASON</em>
			</div>
			<div class="seasoncon clear_b">
				<!--第一个开始-->
				<div class="seasonone clear_b" id="s13">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></li>
							</ul>
							<div class="tanchubox">今年气候不是很正常，即使是四月份，北方依然很冷尤其是山里，温度会比城市里更低一些，白天大概是-5℃，夜晚会更低。</div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>韦不帅</span><em>2014-12-14</em></div>
					</div>	
				</div>
				<!--第一个结束-->
				<!--第二个开始-->
				<div class="seasonone clear_b" id="s14">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></li>
							</ul>
							<div class="tanchubox">今年气候不是很正常，即使是四月份，</div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>韦不帅</span><em>2014-12-14</em></div>
					</div>
					
				</div>
				<!--第二个结束-->
				<!--第三个开始-->
				<div class="seasonone clear_b" id="s15">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></li>
							</ul>
							<div class="tanchubox">今年气候不是很正常，即使是四月份，</div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>韦不帅</span><em>2014-12-14</em></div>
					</div>
				</div>
				<!--第三个结束-->
				<!--第四个开始-->
				<div class="seasonone clear_b" id="s16">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></li>
							</ul>
							<div class="tanchubox">今年气候不是很正常，即使是四月份，</div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>韦不帅</span><em>2014-12-14</em></div>
					</div>
				</div>
				<!--第四个结束-->
				<!--第五个开始-->
				<div class="seasonone clear_b" id="s17">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></li>
							</ul>
							<div class="tanchubox">今年气候不是很正常，即使是四月份，</div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>韦不帅</span><em>2014-12-14</em></div>
					</div>
				</div>
				<!--第五个结束-->
				<!--第六个开始-->
				<div class="seasonone clear_b" id="s18">
					<div class="clear_b">
						<div class="bigimg">
							<ul>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></li>
								<li><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></li>
							</ul>
							<div class="tanchubox">今年气候不是很正常，即使是四月份，</div>
						</div>
						<div class="smallimg">
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/infologo.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/branner.jpg"/></span>
							<span><img src="http://static.8264.com/oldcms/moban/zt/201504kingcamp/images/test.jpg"/></span>
						</div>
					</div>
					<div class="seasoninfo">
						<div class="nametitle">迟到的Kingcamp帐篷体验报告</div>
						<div class="namedate"><span>韦不帅</span><em>2014-12-14</em></div>
					</div>
				</div>
				<!--第六个结束-->
			</div>
		</div>
		<!--第三期结束-->
	</div>
</div>

<div class="footer">
	<div class="footercon clear_b">
		<p class="footer_l">8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106<br><a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
		<p class="footer_r"><a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a> | <a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a> | <a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a> | <a target="_blank" href="http://www.8264.com/link/">户外网址大全</a> | <a target="_blank" href="http://www.8264.com/sitemap">网站地图</a></p>
	</div>
</div>
<script>
//	$(function(){
//		$(".datelist span").mouseenter(function(){	
//			var i  = $(this).index();
//			$(this).addClass("hover").siblings().removeClass("hover");
//			$("#porductcon > div").eq(i).fadeIn(0).siblings().hide(0);
//		});		
//	});
	
	
	
	$(function(){
		$("div[id^=s]").find(".smallimg span").mouseenter(function(){
			var i  = $(this).index();			
			$(this).parent().parent().find(".bigimg li").eq(i).fadeIn(0).siblings().hide(0);		
		});
				
		$("div[id^=s] .bigimg").hover(
			function () {
				$(this).parent().parent().find(".tanchubox").show();
			},
			function () {
				$(this).parent().parent().find(".tanchubox").hide();
			}
		);
	});
	
	
	
	
	
	
	
	
	
	
	
</script>
</body>
</html>
