<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>KingCamp2007年中国十大徒步人物评选</title>
<link href="http://static.8264.com/oldcms/moban/zt/tubu/style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="warpper">
	<div class="top"><style>
ul{ list-style:none; margin:auto 0px;letter-spacing:0;word-spacing:0; padding:0;}
.bbb{ width:794px; float:right;}
.bbb a:link{ color:#000000; text-decoration:none;}
.bbb a:visited{color:#000000; text-decoration:none;}
.bbb a:hover{color:#000000; text-decoration:underline;}
.bbb a:active{color:#000000; text-decoration:none;}
.bbb li{ width:52px; float:left; text-align:center; height:27px; line-height:27px; overflow:hidden; background:url(http://static.8264.com/oldcms/images/navtopbg.jpg) right center no-repeat;}
</style>
<body>
<table width="960" height="54" border="0" align="center" cellpadding="0" cellspacing="0" style=" background:#f8f8f8; border:#e5e5e5 solid 1px; font-size:12px;">
  <tr>
    <td width="162" height="54" rowspan="2" align="center" valign="middle"><a href="http://www.8264.com/"><img src="http://static.8264.com/oldcms/images/index2_logo.gif" width="153" height="40"  border="0"/></a></td>
    <td width="794" height="54">
		<div class="bbb">
			<ul>
				<li><a href="/list/201">新闻</a></li>
				<li><a href="/list/204">装备</a></li>
				<li><a href="/list/224">登山</a></li>
				<li><a href="/list/232">攀岩</a></li>
				<li><a href="/list/251">游记</a></li>
                <li><a href="/list/243">线路</a></li>
				<li><a href="/list/545">自驾</a></li>
				<li><a href="/list/566">救援</a></li>
				<li><a href="/list/389">滑翔</a></li>
				<li><a href="/ziliao/face2face/index.html">专访</a></li>
				<li><a href="/list/238">知识</a></li>              
				<li><a href="http://pp.8264.com/"><font color="#FF0000">图库</font></a></li>
                <li><a href="/topic_list/">专题</a></li>
				<li><a href="http://osm.8264.com/">经理人</a></li>
				<li class="end"><a href="http://blog.8264.com" style="color:red">博客</a></li>
				<li><a href="/company">商业</a></li>
				<li><a href="/brand/">品牌</a></li>
                <li><a href="http://www.8264.com/topic/1115.html">旅社</a></li>
                <li><a href="http://shop.8264.com/ ">商城</a></li>
				<li><a href="/picnews_list/">图文</a></li>
				<li><a href="http://bbs.8264.com/forum-163-1.html">问答</a></li> 
				<li><a href="http://bbs.8264.com/forum-161-1.html">活动</a></li>
				<li><a href="http://job.8264.com/">人才</a></li>
				<li><a href="/list/588">杂志</a></li>
				<li><a href="/sitelink/index.html">网址</a></li>
				<li><a href="http://bbs.8264.com" style="color:red">论坛</a></li>
                <li><a href="http://www.91ski.com">滑雪</a></li>
				<li><a href="http://so.8264.com/">搜索</a></li>
				<li><a href="http://dian.8264.com/">户外店</a></li>
                <li><a href="http://www.8264.net/">英文</a></li>
			</ul>
		</div>
	</td>
  </tr>
</table>
</div>
    <div class="top"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/banner.jpg" width="960" height="170" border="0"></div>
    <div class="mid">
    	<div class="mid1">
       	  <div class="mid1left">
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
               	  <tr>
					<td height="25" colspan="2" align="center" valign="middle">
                      	<table width="97%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-bottom:#c10707 solid 2px;">
							<tr>
                            	<td align="center" valign="middle"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/title.jpg" width="60" height="16" /></td>
                            	<td align="center" valign="middle"><span style="font-size:14px; font-weight:bold; color:#317ad9;">国际市民体育联盟暨第二届中国十大徒步人物评选及颁奖活动简介</span></td>
							</tr>
					  </table>
					</td>
                  </tr>
               	  <tr>
               	    <td width="45%" align="center" valign="top" style="padding-top:5px;"><table style="border:solid #CCCCCC 1px;"><tr><td><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/tu2.jpg" width="250" height="250" border="0" /></td></tr></table></td>
           	        <td width="55%" align="left" valign="top" style="padding-top:5px; padding-right:5px;"><span style=" line-height:1.5;">&nbsp;&nbsp;&nbsp;&nbsp;2008北京奥运是全世界都在关注的一个焦点，作为第二十九届奥运会的举办城市，北京已经准备好呈现给世界一个“人文奥运，绿色奥运”，几千年文化形态承载着东方和谐的历史内涵正积极迎接着全世界的目光，2008年8月由CVA主办的 “百年徒步活动”作为被北京奥组委批准的2008奥运城市文化活动项目将成为北京奥运会大众体育的亮点。<br>
&nbsp;&nbsp;&nbsp;&nbsp;在2008北京奥运会到来之际，徒步运动已经在我国掀起热浪，我们提出“以户外徒步运动增强国民身心素质，促进人与人、人与社会、人与自然和谐共存、共同发展”的理念。并在徒步运动中实践向人们“以亲近自然的户外自娱陶冶心灵、以寻访历史的探索目光弘扬文化、以挑战自我的坚强意志征服自然、以昂扬向上的进取心态培育精神、以关爱环境的责任意识倡导文明、以扶贫济困的慈善情怀奉献爱心、以资源互补的商务拓展开辟未来、以美好愿景的火热激情塑造生活”的倡导。<br>
           	        </span>
</td>
           	    </tr>
			  </table> 
          </div>
          <div class="mid1right">
				<table width="95%" border="0" cellspacing="0" cellpadding="0" style="border:#CCCCCC solid 1px; background:#FFFFFF; margin:5px 0 5px 0;">
<tr>
						<td width="11%" align="right" valign="middle" style="border-bottom:#cccccc 1px solid; padding-top:4px;">&nbsp;<img src="http://static.8264.com/oldcms/moban/zt/tubu/images/title.jpg" width="60" height="16" /></td>
			  <td width="89%" height="25" align="left" valign="middle" style="border-bottom:#cccccc 1px solid;">&nbsp;&nbsp;<span style="font-size:12px; font-weight:bold; color:#c10707;">活动相关新闻</span></td>
				  </tr>
					<tr>
						<td colspan="2">
                        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                            	<!--循环开始-->
                          		<tr>
                            		<td height="25" align="left" valign="middle">&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="http://www.8264.com/26987.html" target="_blank">寻找徒步先锋--第二届中国十大徒步人物评选启动</a></td>
                          		</tr>
                                <!--循环结束-->
                                <tr>
                            		<td height="25" align="left" valign="middle">&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="http://www.8264.com/28494.html" target="_blank">关于第二届中国十大徒步人物评选颁奖会序调整的公告</a></td>
                          		</tr>
                                 <tr>
                            		<td height="25" align="left" valign="middle">&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="http://www.8264.com/27488.html" target="_blank">2007国际市民古灵渠徒步大会户外精英论坛在桂举行</a></td>
                          		</tr>
                                 <tr>
                            		<td height="25" align="left" valign="middle">&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="http://www.8264.com/28282.html" target="_blank">谱写中国徒步运动新篇章 首届国际徒步论坛即将开幕</a></td>
                          		</tr>
                                 <tr>
                            		<td height="25" align="left" valign="middle">&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="http://www.8264.com/27487.html" target="_blank">2007中国桂林兴安国际市民徒步大会开幕盛况[组图]</a></td>
                          		</tr>
                                 <tr>
                            		<td height="25" align="left" valign="middle">&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="http://www.8264.com/28498.html" target="_blank">徒步运动发展新契机 中国徒步运动研究会即将成立</a></td>
                          		</tr>
                                 <tr>
                            		<td height="25" align="left" valign="middle">&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="http://www.8264.com/28497.html" target="_blank">徒步论坛活动快报抢先听 《玩儿家》广播紧相随</a></td>
                          		</tr>
                                 <tr>
                            		<td height="25" align="left" valign="middle">&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="http://www.8264.com/28499.html" target="_blank">国际市民体育联盟前任主席将出席首届国际徒步论坛</a></td>
                          		</tr>
                                 <tr>
                            		<td height="25" align="left" valign="middle">&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="http://www.8264.com/26989.html" target="_blank">推广中国徒步运动：首届中国国际徒步论坛活动将举行</a></td>
                          		</tr>
                                 <tr>
                            		<td height="25" align="left" valign="middle">&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href="http://www.8264.com/26988.html" target="_blank">国际市民体育联盟中国总部北京每日东方徒步运动中心</a></td>
                          		</tr>
                       	  </table>                        </td>
					</tr>
			  </table>
          </div>
           <div style="clear:both;"></div>
        </div>
        <div class="mid2">
        	<div class="mid2left">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
      					
						<td colspan="2" align="left" valign="middle" style="border-bottom:#CCCCCC dotted 1px;">
						  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="14%" align="right" valign="middle"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/title.jpg" /></td>
                              <td width="86%" height="25"><span style="font-size:14px; font-weight:bold; color:#317ad9;">&nbsp;首届国际徒步论坛</span></td>
                            </tr>
                          </table></td>
				  </tr>
					<tr>
                    	<td width="47%" align="center" valign="middle"><table style="border:#CCCCCC solid 1px;"><tr><td><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/tu3.jpg" width="200" height="174" border="0" /></td></tr></table></td>
					  <td width="53%" height="190" align="left" style="line-height:1.5; padding:3px 3px 0 0;"><b>首届国际徒步论坛主题：</b>探寻中国徒步运动的发展方向、借鉴国际徒运动的经验、让中国徒步运动与国际接轨，走出特色，走向未来。<br>
<b>时间：</b>1月20日上午<br>
<b>目的或意义：</b>通过徒步论坛汇聚户外俱乐部，厂家，专家，学者及徒步爱好者的智慧大家共同对今后徒步事业的发展、徒步运动的开展、徒步装备、户外徒步科学等问题进行讨论，出谋划策，共同来为推动中国徒步事业发展贡献自己的力量。</td>
				  </tr>
				</table>
            </div>
            <div class="mid2right">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
						<td colspan="2" align="left" valign="middle" style="border-bottom:#CCCCCC dotted 1px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="14%" align="right" valign="middle"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/title.jpg" /></td>
                              <td width="86%" height="25"><span style="font-size:14px; font-weight:bold; color:#317ad9;">&nbsp;第二届中国十大徒步人物评选</span></td>
                          </tr>
                          </table></td>
					</tr>
					<tr>
                    	<td width="46%" align="center" valign="middle"><table style="border:#CCCCCC solid 1px;"><tr><td><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/tu1.jpg" height="174" width="200" border="0"/></td></tr></table></td>
					  <td width="54%" height="190" align="left" style="line-height:1.5; padding:3px 5px 0 0;"><b>第二届中国十大徒步人物评选主题：</b>通过表彰徒步先锋，倡导全民健康理念，激励全民参与徒步，促进社会和谐发展<br>
<b>时间：</b>1月20日下午<br>
<b>目的或意义：</b>通过评选十大徒步人物，选出大家心中的徒步英雄和榜样，让老百姓有学习和实践的楷模，觉得徒步有专业方面的要求，有其科学性，但并不是那参与，大家都可以通过徒步来健身，使民众都来保护自己的健康，向徒步人物学习，鼓舞更多的人。
</td>
				  </tr>
				</table>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="mid5">
        	<div class="mid5title"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="4%" align="right" valign="middle"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/title.jpg" /></td>
    <td width="96%" height="25">&nbsp;2007中国十大徒步人物评选评选办法和标准</td>
  </tr>
</table></div>
            <div class="mid5con">&nbsp;&nbsp;&nbsp;&nbsp;从你生命中的第一步走起，你也可以创造奇迹--------“徒驴”正在招募中！几千年前的西方，阿基米德说，给我一个支点，我能撬起整个地球。几千年后的东方，一群“徒驴”用双脚证明，拥有一双矫健的双腿，我就能够丈量整个世界。2006年这群人用行走不断创造奇迹,他们是崔永元、王石、邹玉鳞、王铁男……，从零开始，一步一步，走遍世界。2007年国际市民体育联盟中国总部再度招募“徒驴”，把你的徒步世界，说给我们听。<br>
<b>一、评选目的：</b><br>&nbsp;&nbsp;&nbsp;&nbsp;1）阐释徒步理念以及徒步运动为社会所带来的丰富价值。特别是徒步运动在促进社会进步，提高民族精神，倡导健康生活，构建和谐社会方面的积极意义。<br>&nbsp;&nbsp;&nbsp;&nbsp;2）让人们了解徒步，关注徒步，参与徒步。<br>&nbsp;&nbsp;&nbsp;&nbsp;3）使全社会关注徒步运动的发展方向、认知认可并积极参与其中，全力打造和谐社会的健康环境，迎接2008年北京奥运，掀起全民健身新高潮。<br>
<b>二、评选标准：</b><br>
&nbsp;&nbsp;&nbsp;&nbsp;1）热心徒步运动，亲身实践，坚持不懈，事迹感人，在全国具有一定的影响力。<br>&nbsp;&nbsp;&nbsp;&nbsp;2）在徒步过程中，关爱自然，保护环境，宣传环保意识，为人类与自然的和睦相处、和谐发展付出了积极的努力。 <br>
&nbsp;&nbsp;&nbsp;&nbsp;3）通过参加或组织徒步活动，唤起大众参与体育锻炼的意识，倡导健康就在脚下的理念，为中国的全民健身运动做出了突出贡献。<br>&nbsp;&nbsp;&nbsp;&nbsp;4）在亲身参与的徒步活动中，支持慈善活动，热心公益事业，唤醒人们的爱心，为文明社会的创立和发展奠定基础。<br>&nbsp;&nbsp;&nbsp;&nbsp;5）把徒步运动作为生活中的一部分，坚持不懈，是普通老百姓中的优秀份子，以徒步这一简单而易行的运动方式验证幸福的理念。<br>&nbsp;&nbsp;&nbsp;&nbsp;6）积极参加具有深刻文化主题的团队徒步活动，引导和带领大众的视听参与，弘扬中华优秀传统文化，促进国际间的友好交流。<br>
&nbsp;&nbsp;&nbsp;&nbsp;7）通过徒步运动，积极宣传党和国家的英明政策，缅怀革命先辈的丰功伟绩，宣扬社会的进步和发展，增强人民对祖国的热爱和自豪感。<br>
<b>三、评选办法：</b><br>
&nbsp;&nbsp;&nbsp;&nbsp;<b>1、候选人的选择：</b><br>
&nbsp;&nbsp;&nbsp;&nbsp;（一）、候选人的举荐途径：<br>
&nbsp;&nbsp;&nbsp;&nbsp;（1）、在媒体公布《2007中国10大徒步人物评选办法和标准》，全社会可广泛参与推荐徒步精英人物。<br>
&nbsp;&nbsp;&nbsp;&nbsp;（2）、徒步界的精英或先锋自荐参与候选人。<br>
&nbsp;&nbsp;&nbsp;&nbsp;（3）、国际市民体育联盟—CVA中国区(总部)、北京每日东方徒步运动中心举荐候选人。<br>
&nbsp;&nbsp;&nbsp;&nbsp;（4）、网上投票<br>
&nbsp;&nbsp;&nbsp;&nbsp;（5）、短信投票<br>
&nbsp;&nbsp;&nbsp;&nbsp;（二）、候选人的参与办法：<br>
&nbsp;&nbsp;&nbsp;&nbsp;（1）、填表呈报：填写《第二届中国10大徒步人物评选推荐和自荐候选人登记表》（见附表），并以传真、电子邮件、邮寄等方式将候选人的自然情况、照片、主要事迹（300字以内）、联系方式等速报北京每日东方徒步运动中心（北京每日东方徒步运动中心地址：北京市朝阳区小关北里45号世纪嘉园1号楼17D ；邮编：100029；联系电话(010)84896319/20/21；传真(010)84896317；电子邮箱：ivv @ mrqh.com）。<br>
&nbsp;&nbsp;&nbsp;&nbsp;（2）、截 止日期：候选人的举荐和自荐截止日期为2007年12月31日。<br>
&nbsp;&nbsp;&nbsp;&nbsp;<b>2、候选人的确定：</b><br>
&nbsp;&nbsp;&nbsp;&nbsp;（1）、初选：推荐和自荐的候选人先由专家委员会进行初步筛选，选择30名入围候选人。<br>&nbsp;&nbsp;&nbsp;&nbsp;（2）、评选：根据候选人2007年度和过去的主要事迹，由专家委员会逐个打分评定出20名候选人，报大会组
委会审定，组委会再实行第二轮的评定，最后确定2007年度的“中国10大徒步人物”。<br>

            </div>
        </div>
        <div class="mid3">
			<div class="mid4title"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="4%" align="right" valign="middle"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/title.jpg" /></td>
    <td width="96%" height="25" align="left">&nbsp;徒步明星候选人</td>
  </tr>
</table></div>
            <div class="mid3con">
            		<div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
                    		<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r1.jpg" height="165" width="135" border="0"></td>
						</tr>
						<tr>
							<td height="25" align="center" valign="middle">陈凯峰</td>
						</tr>
			  		</table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
                    		<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r2.jpg" height="165" width="135" border="0"></td>
						</tr>
						<tr>
							<td height="25" align="center" valign="middle">陈亮法</td>
						</tr>
			  		</table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
                    		<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r3.jpg" height="165" width="135" border="0"></td>
						</tr>
						<tr>
							<td height="25" align="center" valign="middle">陈志文</td>
						</tr>
			  		</table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
                    		<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r4.jpg" height="101" width="135" border="0"></td>
						</tr>
						<tr>
							<td height="25" align="center" valign="middle">管祥麟</td>
						</tr>
			  		</table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
                    		<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r5.jpg" height="165" width="135" border="0"></td>
						</tr>
						<tr>
							<td height="25" align="center" valign="middle">郭学平</td>
						</tr>
			  		</table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
                    		<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r6.jpg" height="165" width="135" border="0"></td>
						</tr>
						<tr>
							<td height="25" align="center" valign="middle">乐荣华</td>
						</tr>
			  		</table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
                    		<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r7.jpg" height="165" width="135" border="0"></td>
						</tr>
						<tr>
							<td height="25" align="center" valign="middle">李长波</td>
						</tr>
					</table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
                    		<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r8.jpg" height="165" width="135" border="0"></td>
						</tr>
						<tr>
							<td height="25" align="center" valign="middle">李春华</td>
						</tr>
			  		</table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
                    		<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r9.jpg" height="165" width="135" border="0"></td>
						</tr>
						<tr>
							<td height="25" align="center" valign="middle">李东兵</td>
						</tr>
					</table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
                    		<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r10.jpg" height="165" width="135" border="0"></td>
						</tr>
						<tr>
							<td height="25" align="center" valign="middle">李新</td>
						</tr>
					</table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
						<tr>
                    		<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r11.jpg" height="151" width="135" border="0"></td>
						</tr>
						<tr>
							<td height="25" align="center" valign="middle">卢迅</td>
						</tr>
					</table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r12.jpg" height="165" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">罗红</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r13.jpg" height="103" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">彭戈侠</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r14.jpg" height="119" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">史国利</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r15.jpg" height="165" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">税晓洁</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r16.jpg" height="159" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">宋玉江</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r17.jpg" height="165" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">王秋杨</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r18.jpg" height="165" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">王莹</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r19.jpg" height="165" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">肖立新</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r20.jpg" height="165" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">肖秋成</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r21.jpg" height="139" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">杨顺德</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r22.jpg" height="101" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">张恒</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r23.jpg" height="165" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">张西奎</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r24.jpg" height="165" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">郑建伟</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r25.jpg" height="165" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">钟建民</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r26.jpg" height="165" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">朱哲琴</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r27.jpg" height="165" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">陈志文</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r28.jpg" height="101" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">李闻军</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r29.jpg" height="101" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">李俊</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r30.jpg" height="165" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">黄征</td>
					</tr>
			  </table>
              		</div>
                    <div class="mid3img">
            		<table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
					<tr>
                    	<td width="100%" height="175" align="center" valign="middle" style="border: #CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/r32.jpg" height="103" width="135" border="0"></td>
					</tr>
					<tr>
						<td height="25" align="center" valign="middle">北京城市乐水</td>
					</tr>
			  </table>
              		</div>
				<div style="clear:both;"></div>
            </div>
        </div>
        <div class="mid4">
        	<div class="mid4title"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="4%" align="right" valign="middle"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/title.jpg" /></td>
    <td width="96%" height="25" align="left" valign="middle">&nbsp;首届中国十大徒步人物评选回顾</td>
  </tr>
</table></div>
            <div class="mid4con">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
						<td width="31%" align="left" valign="top" style="line-height:1.8; padding:5px 2px 5px 10px;">“首届中国10大徒步人物”评选颁奖典礼在社会各界的大力支持下取得了圆满的成功，本次评选是中国徒步运动史上，由户外名流，专家评委共同参与、中国徒步精英汇聚一堂的最具规模和影响力的大盘点。本届中国10大徒步人物的是：崔永元、王石、杨勇、王铁男、胡东岳、雷殿生、李婉、樊永平、邹玉麟、吴立群。评选活动旨在阐释徒步理念以及徒步运动为社会所带来的丰富价值，特别是在促进社会进步，提高民族精神，倡导健康生活，构建和谐社会方面的积极意义，让更多的人们了解徒步、关注徒步，参与徒步，促使中国的徒步事业掀起新的历史一页。同时本次活动得到了中央电视台、北京电视台、中国体育报等媒体的大力报道。</td>
			  <td width="69%" align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:#CCCCCC solid 1px; margin-top:5px;">
                <tr>
                  <td height="25" align="left" valign="middle" style=" font-size:12px; font-weight:bold; color:#c10707; border-bottom:#CCCCCC dotted 1px;">&nbsp;&nbsp;首届经典瞬间</td>
                </tr>
                <tr>
                  <td style="background:url(http://static.8264.com/oldcms/moban/zt/tubu/images/bg.jpg) no-repeat bottom right;">
					<div class="mid4img">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="150" height="98" align="center" valign="middle" style="border:#CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/h1.jpg" width="140" height="88" border="0" /></td>
						  </tr>
							<tr>
								<td height="20" align="center" valign="middle">独行女侠--李婉 </td>
							</tr>
						</table>
					</div>
                    <div class="mid4img">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="150" height="98" align="center" valign="middle" style="border:#CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/h2.jpg" width="140" height="88" border="0" /></td>
						  </tr>
							<tr>
								<td height="20" align="center" valign="middle">走遍世界--邹玉麟</td>
							</tr>
						</table>
					</div>
                    <div class="mid4img">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
			    <tr>
								<td width="150" height="98" align="center" valign="middle" style="border:#CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/h3.jpg" width="140" height="88" border="0"></td>
						  </tr>
							<tr>
								<td height="20" align="center" valign="middle">奉献爱心--樊永平</td>
						  </tr>
						</table>
					</div>
                    <div class="mid4img">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
			    <tr>
								<td width="150" height="98" align="center" valign="middle" style="border:#CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/h4.jpg" width="140" height="88" border="0"></td>
						  </tr>
							<tr>
								<td height="20" align="center" valign="middle">寻根求源--雷殿生</td>
						  </tr>
						</table>
					</div>
                    <div class="mid4img">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
			    <tr>
								<td width="150" height="98" align="center" valign="middle" style="border:#CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/h5.jpg" width="140" height="88" border="0" /></td>
						  </tr>
							<tr>
								<td height="20" align="center" valign="middle">继往开来--崔永元</td>
						  </tr>
						</table>
					</div>
                    <div class="mid4img">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
			    <tr>
								<td width="150" height="98" align="center" valign="middle" style="border:#CCCCCC solid 1px;"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/h6.jpg" width="140" height="88" border="0"></td>
						  </tr>
							<tr>
								<td height="20" align="center" valign="middle">走出健康--吴立群 </td>
						  </tr>
						</table>
					</div>
                    <div style="clear:both;"></div>
                  </td>
                </tr>
              </table></td>
				  </tr>
				</table>
            </div>
        </div>
        <div class="mid6">
        	<div class="mid6title"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="4%" align="right" valign="middle"><img src="http://static.8264.com/oldcms/moban/zt/tubu/images/title.jpg" /></td>
    <td width="96%" height="25" align="left" valign="middle">&nbsp;特别鸣谢单位</td>
  </tr>
</table></div>
            <div class="mid6con"><b>主办单位：</b><br>8264&nbsp;&nbsp;&nbsp;国际徒步联盟&nbsp;&nbsp;&nbsp;北京师范大学体育学院&nbsp;&nbsp;&nbsp;户外探险杂志（outside中文版）&nbsp;&nbsp;&nbsp;新浪乐途旅游网&nbsp;&nbsp;&nbsp;绿野户外网&nbsp;&nbsp;&nbsp;国际市民体育联盟&nbsp;&nbsp;&nbsp;人民日报健康时报<br><b>协办节目：</b><br>北京体育广播《玩儿家》节目<br><b>支持单位：</b><br>西藏自治区体育局&nbsp;&nbsp;&nbsp;天津市体育局&nbsp;&nbsp;&nbsp;拉萨市旅游局&nbsp;&nbsp;&nbsp;日本徒步走协会&nbsp;&nbsp;&nbsp;&nbsp;韩国体育振兴会&nbsp;&nbsp;&nbsp;美国国际市民体育联盟&nbsp;&nbsp;&nbsp;奥地利国际市民体育联盟&nbsp;&nbsp;&nbsp;北京市社会体育指导中心<br><b>承办单位：</b><br>北京每日徒步运动中心<br></div>
        </div>
    </div>
    <div class="bottom"><style>
a{ text-decoration:none; color:#000000;}
a:hover{ text-decoration:underline;}
a.bbb{color: #000000;text-decoration:none;}
a.bbb:hover{color:#cc0000;text-decoration:underline;}

a.ccc{color:#1f3a87;text-decoration:none;}
a.ccc:hover{ color:#1f3a87; text-decoration:underline;}

a.ddd{color:#000000; text-decoration:none;}
a.ddd:hover{ color:#000000; text-decoration:underline;}
</style>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" style=" font-size:12px; margin-top:8px;">
  <tr>
    <td><table width="958" height="30" border="0" cellpadding="0" cellspacing="0" style="border-top:#686e5d solid 3px; background:#Cdd0c8;">
      <tr>
        <td align="center"><a href="http://www.8264.com/ziliao/about/aboutus.php"  >关于我们</a> | <a href="http://www.8264.com/list/531/" >联系我们</a> | <a href="http://www.8264.com/8954.html#pl"  >意见反馈</a> | <a href="http://www.8264.com/ziliao/sitemap.html"  >网站地图</a> | <a href="http://bbs.8264.com/forum-160-1.html"  >我要投稿</a> | <a href="http://www.8264.com/ziliao/about/ad2.php"  >广告服务</a> | <a href="http://www.8264.com/list/531/"  >编辑部的故事</a> | <a href="http://www.8264.com/sitelink/index.html" style="color:red">友情连接</a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" align="center" valign="middle"><a href="http://www.8264.com/ziliao/about/ad2.php" style="color:red; font-weight:bold;">广告联系：022-23708264-818</a> Mail:admin8264.com <a href="http://www.miibeian.gov.cn/">津ICP备05004140号-1</a>   </td>
  </tr>
  <tr>
    <td height="20" align="center" valign="middle" style="color:#5f8c00;"> 户外是有风险的运动，8264提醒您务必注意安全问题</td>
  </tr>
  <tr>
    <td><table width="958" height="30" border="0" cellpadding="0" cellspacing="0" style="border:#004a9c solid 1px;">
      <tr>
        <td align="center" valign="middle"><span style="color:#004a9c;">合作项目：</span><a href="/">8264</a> | <a href="http://osm.8264.com/" target="_blank">户外经理人</a> | <a href="http://www.91ski.com/" target="_blank">就要滑雪网</a> | <a href="http://www.yododo.com/" target="_blank">游多多自助旅行网</a> | <a href="http://bbs.8264.com/" target="_blank">中国驴友论坛</a> | <a href="http://www.8844shop.com/" target="_blank">户外用品商城</a> | <a href="http://u.8264.com/" target="_blank">驴友录</a> | <a href="http://www.8264.com/pp/" target="_blank">户外美女</a> </td>
      </tr>
    </table></td>
  </tr>
</table></div>
</div>
</body>
</html>
