<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>KAILAS中国未登峰攀登计划——倒沟山东、西峰连登</title>
<link href="http://static.8264.com/oldcms/moban/zt/kls_08daogou/style/style.css" rel="stylesheet" type="text/css" />
<script src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<link href="http://static.8264.com/oldcms/moban/zt/kls_08daogou/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript">
 <!--
  function killerr()
 {
    return true;
 }
 window.onerror = killerr;
 -->
</SCRIPT>
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="warpper">
    <div class="top"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/banner.jpg" height="398" width="960" border="0" /></div>
    <div class="mid">
   	  <div class="mid1">
        	<div class="mid1left">
            	<div class="mid1lunbo">
          <script type="text/javascript">

          var swf_width=330;
          var swf_height=230;
          // 0xffffff:文字颜色|1:文字位置|0x0066ff:文字背景颜色|60:文字背景透明度|0xffffff:按键文字颜色|0x0066ff:按键默认颜色|0x000033:按键当前颜色|8:自动播放时间(秒)|2:图片过渡效果|1:是否显示按钮|_blank:打开窗口
          var swf_config = "|2|||0xFFFFFF|0xFF6600||4|3|1|_blank"

          document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
          document.write('<param name="movie" value="http://static.8264.com/oldcms/img/flash/bcastr.swf?bcastr_xml_url=/moban/zt/kls_08daogou/turnsphp.php"><param name="quality" value="high">');
          document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
          document.write('<param name="FlashVars" value="bcastr_config='+swf_config+'">');
          document.write('<embed src="http://static.8264.com/oldcms/img/flash/bcastr.swf?bcastr_xml_url=/turnsphp.php" wmode="opaque" FlashVars="bcastr_config='+swf_config+'" menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); 
          document.write('</object>'); 

          </script>
</div>
                <div class="mid1date">
                	<div class="mid1orgtitle">行程安排</div>
                  <div class="mid1datecon"><table width="329" border="1" cellpadding="0" cellspacing="0">
  <tr height="19">
    <td width="82" height="30" align="center" bgcolor="#CCCCCC"><strong>时间</strong></td>
    <td width="241" height="30" align="center" bgcolor="#CCCCCC"><strong>地点及内容</strong></td>
  </tr>
  <tr height="19">
    <td height="19" align="center">10月15日</td>
    <td align="left">成都集合，办理登山注册，采购食品、燃料等</td>
  </tr>
  <tr height="19">
    <td height="19" align="center">10月16日</td>
    <td align="left">成都――日隆</td>
  </tr>
  <tr height="19">
    <td height="19" align="center">10月17日</td>
    <td align="left">日隆准备，高海拔适应</td>
  </tr>
  <tr height="19">
    <td height="19" align="center">10月18日</td>
    <td align="left">日隆――大本营</td>
  </tr>
  <tr height="19">
    <td height="19" align="center">10月19日</td>
    <td align="left">大本营――前进营地，高海拔适应，观察线路</td>
  </tr>
  <tr height="19">
    <td height="19" align="center">10月20日</td>
    <td align="left">攀登尝试，观察线路，返回前进营地</td>
  </tr>
  <tr height="19">
    <td height="19" align="center">10月21-22日</td>
    <td align="left">攀登东峰</td>
  </tr>
  <tr height="19">
    <td height="19" align="center">10月23日</td>
    <td align="left">下撤至前进营地</td>
  </tr>
  <tr height="19">
    <td height="19" align="center">10月24-25日</td>
    <td align="left">攀登西峰</td>
  </tr>
  <tr height="19">
    <td height="19" align="center">10月26日</td>
    <td align="left">下撤至前进营地</td>
  </tr>
  <tr height="19">
    <td height="19" align="center">10月27日</td>
    <td align="left">返回大本营</td>
  </tr>
    <tr height="19">
    <td height="19" colspan="2" align="right"><a href="/35093.html" target="_blank" style="color:red; font-size:12px;">[详细]</a></td>
    </tr>
</table>


</div>
                </div>
                <div class="mid1logo">
				  <div class="mid1orgtitle">品牌支持</div>
				  <div class="mid1orgcon">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="center" valign="middle"><a href="/brand/45.html"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/kailas_logo.jpg" alt="KAILAS品牌" width="175" height="62" border="0" /></a></td>
							</tr>
						</table>
                  </div>
                </div>
                <div class="mid1logo">
                	<div class="mid1orgtitle">媒体支持</div>
                    <div class="mid1logocon">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							  <tr>
									<td><a href="www.8264.com"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/8264.jpg" alt="8264" 											width="300" height="98" border="0" /></a></td>
							  </tr>
						</table>

                  </div>
              </div>
            </div>
            <div class="mid1right">
            	<div class="mid1newsone">
                	<div class="mid1newsonetitle">KAILAS 中国未登峰计划</div>
                    <div class="mid1newsonecon">
　　Kailas作为一个专业的登山及探险户外运动品牌，一直以来本着"致力推广民间登山及探险活动发展"的理念，关注并支持着我国的登山和探险事业的发展，自2006年启动中国未登峰计划以来，曾多次组队进行未登峰的考察和攀登包括了布达拉峰大岩壁攀登、素珠琏峰攀登、透明梦柯冰川攀登等等，为登山界贡献出不少的第一手山峰资料。本次活动的目的就是探寻念青唐古拉东段山区的隐秘山峰，完成10-20座山峰的资料收集整理。</div>
                </div>
                <div class="mid1news">
                	<div class="mid1newstitle"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/news1.jpg" width="567" height="50" border="0"></div>
                    <div class="mid1newscon">
                    	<ul>
                        	                        	<li>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href=/35773.html title='2008 KAILAS中国未登峰计划 倒沟山攀登报告' target='_blank'><font color=0000ff>2008 KAILAS中国未登峰计划 倒沟山攀登报告</font></a>
                            </li>
                                                    	<li>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href=/35359.html title='KAILAS中国未登峰计划 完成倒沟山西峰登顶' target='_blank'><font color=ff0000>KAILAS中国未登峰计划 完成倒沟山西峰登顶</font></a>
                            </li>
                                                    	<li>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href=/35093.html title='KAILAS未登峰 倒沟山攀登目标及相关日程介绍' target='_blank'>KAILAS未登峰 倒沟山攀登目标及相关日程介绍</a>
                            </li>
                                                    	<li>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href=/35073.html title='KAILAS中国未登峰计划 倒沟山攀登队员介绍' target='_blank'>KAILAS中国未登峰计划 倒沟山攀登队员介绍</a>
                            </li>
                                                    	<li>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href=/35072.html title='8264全球山峰资料之 四川倒沟山' target='_blank'>8264全球山峰资料之 四川倒沟山</a>
                            </li>
                                                    	<li>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href=/34812.html title='2008KAILAS四川倒沟山攀登队于10月中旬出征' target='_blank'><font color=ff0000>2008KAILAS四川倒沟山攀登队于10月中旬出征</font></a>
                            </li>
                                                    	<li>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;<a href=/34681.html title='KAILAS中国未登峰攀登计划—倒沟山东、西峰连登' target='_blank'>KAILAS中国未登峰攀登计划—倒沟山东、西峰连登</a>
                            </li>
                                                    </ul>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div class="mid1jieshao">
                	<div class="mid1jieshaotitle"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/news2.jpg" height="50" width="567" border="0"></div>
                    <div class="mid1jieshaocon">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td align="center" valign="middle" style=" line-height:1.5; padding: 5px 5px 5px 5px;"><table width="500" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="center" valign="middle"><a href="/35072.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/map.jpg" alt="点击看大图" width="500" height="392" border="0" style="border:#CCCCCC solid 1px;"></a></td>
                  </tr>
                  <tr>
                    <td align="center"><span style=" line-height:1.5; padding: 5px 5px 5px 5px"><strong>倒沟山东西二峰</strong>（图中左边的是东峰，右边的是西峰）</span></td>
                  </tr>
                </table></td>
						</tr>
			  <tr>
			    <td align="left" valign="top" style=" line-height:1.5; padding: 5px 5px 5px 5px">　　倒沟山在我国的西南山区，是邛崃山脉的四姑娘山的一个组成部分。它位于四川省阿坝州四姑娘山自然风景区境内长坪沟的尽头，是一座陡峭的刀刃状岩石型山峰。因为在长坪沟尽头倒转的位置，所以当地人称之为“倒沟山”。其吸引了不少国外的攀登者去尝试攀登，但至今仍无人登顶，并且国内登山者尚无人问津。<br>
　　倒沟山分为东、西两座山峰，图中左边的是东峰，右边的是西峰。两峰遥相呼应，中间隔着一道深谷，景色雄险壮丽。东峰海拔高度为5466米，是倒沟山的主峰；西峰海拔5422米。两峰如刀削斧劈，陡峭险峻，是典型的技术性岩石型山峰，对于攀登者是绝对的技术性考验。山峰无常年积雪，每年夏季或秋季是进行岩石攀登的理想季节，但高海拔山区会有不定性的降雪或冰雹，会给攀登带来极大的难度。<a href="/35072.html" target="_blank" style="color:red; font-size:12px">[详细]</a><a href="/35072.html" target="_blank"></a></td>
			    </tr>
						</table>
                    </div>
                </div>
                <div class="mid1video">
                	<div class="mid1videotitle"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/news3.jpg" width="567" height="50" border="0"></div>
					<div class="mid1videocon"><table width="100%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
    <td width="50%" height="25" align="left" valign="middle">·<a href="/topic/1172.html" target="_blank">KAILAS 2008念青唐古拉东段侦察活动</a></td>
    <td width="50%" height="25" align="left" valign="middle">·<a href="/topic/1113.html" target="_blank"> KAILAS中国未登峰计划之“团结峰”攀登</a></td>
  </tr>
					<tr>
    <td width="50%" height="25" align="left" valign="middle">·<a href="/topic/1038.html" target="_blank">Kailas十一期间再次组队出征四川省境内未登峰</a></td>
    <td width="50%" height="25" align="left" valign="middle">·<a href="/26365.html" target="_blank">KAILAS KAILAS 2007四川理县无名峰攀登计划报告</a></td>
  </tr>
  <tr>
    <td width="50%" height="25" align="left" valign="middle">·<a href="/topic/602.html" target="_blank">KAILAS2007未登峰计划之素珠琏峰攀登计划</a></td>
    <td width="50%" height="25" align="left" valign="middle">·<a href="/18666.html" target="_blank">KAILAS 2006未登峰计划--透明梦柯冰川攀登报告</a></td>
  </tr>
  <tr>
    <td width="50%" height="25" align="left" valign="middle">·<a href="/17666.html" target="_blank">KAILAS未登峰计划之尕义生都攀登计划书[组图]</a></td>
    <td width="50%" height="25" align="left" valign="middle">·<a href="/17648.html" target="_blank">KAILAS未登峰计划之大雪山攀登计划书[组图]</a></td>
  </tr>
  <tr>
    <td width="50%" height="25" align="left" valign="middle">·<a href="/17682.html" target="_blank">KAILAS大岩壁攀登之九月布达拉峰攀登[组图]</a></td>
    <td width="50%" height="25" align="left" valign="middle">·<a href="/15520.html" target="_blank">KAILAS未登峰计划之布达拉峰大岩壁攀登计划</a></td>
  </tr>
  <tr>
    <td width="50%" height="25" align="left" valign="middle">·<a href="/14881.html" target="_blank">KAILAS攀登队西山大岩壁攀登报告[组图]</a></td>
    <td width="50%" height="25" align="left" valign="middle">·<a href="/14872.html" target="_blank">KAILAS昆明西山大岩壁顺利登顶[组图]</a></td>
  </tr>
</table>
</div>
                     
                </div>
            </div>
            <div style="clear:both;"></div>
      </div>
    </div>
  <div class="mid2">
        	<!---  图片栏     <div class="mid2title"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/news4.jpg" width="960" height="50" border="0"></div>----->
           <!---- <div class="mid2conall">
            	<div class="mid2con">
               	  <div class="mid2con1">
						<div class="mid2img"><table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="113" style="border:#666666 solid 1px; background:#FFFFFF;"><a href="/33460.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/mount1.jpg" alt="Samarasa峰" width="150" height="100" border="0" /></a></td>
      </tr>
       <tr>
        <td height="20" align="center">Samarasa峰</td>
      </tr>
    </table>
						</div>
    					<div class="mid2img"><table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="113" style="border:#666666 solid 1px; background:#FFFFFF;"><a href="/33460_1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/mount2.jpg" alt="Lumbogangzegabo峰" width="150" height="108" border="0" /></a></td>
      </tr>
       <tr>
        <td height="20" align="center">Lumbogangzegabo峰</td>
      </tr>
    </table></div>
    					<div class="mid2img"><table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="113" style="border:#666666 solid 1px; background:#FFFFFF;"><a href="/33460_2.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/mount3.jpg" alt="Nenang峰" width="150" height="108" border="0" /></a></td>
      </tr>
       <tr>
        <td height="20" align="center">Nenang峰</td>
      </tr>
    </table></div>
    					<div class="mid2img"><table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="113" style="border:#666666 solid 1px; background:#FFFFFF;"><a href="/33460_3.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/mount4.jpg" alt="Chuchebo峰" width="150" height="108" border="0" /></a></td>
      </tr>
       <tr>
        <td height="20" align="center">Chuchebo峰</td>
      </tr>
    </table></div>
    					<div class="mid2img"><table width="160" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="113" style="border:#666666 solid 1px; background:#FFFFFF;"><a href="/33460_4.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/mount5.jpg" alt="Manamcho峰" width="150" height="108" border="0" /></a></td>
      </tr>
       <tr>
        <td height="20" align="center">Manamcho峰</td>
      </tr>
    </table></div>
                  </div>
                </div>
            </div>---->
  </div>
        <div style=" width:958px; border:#CCCCCC solid 1px; margin-top:5px;">
    	<div style="width:53px; height:55px; float:left;"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/logo_auto1.gif" width="53" height="55" border="0"></div>
        <div style="width:350px; height:55px; line-height:55px; overflow:hidden; float:left;">专题制作：大鹏&nbsp;022-23708264-816 邮箱：dapeng#8264.com </div>
        <div style="width:283px; height:41px; margin-top:5px; float:right;"><a href="http://www.8264.com/"><img src="http://static.8264.com/oldcms/moban/zt/kls_08daogou/images/logo_auto2.gif" width="283" height="41" border="0"></a></div>
    </div>
    <div class="bottom"><style>
a{ text-decoration:none; color:#000000;}
a:hover{ text-decoration:underline;}

.bbb a{ color: #000000;text-decoration:none;}
.bbb a:hover{color:#cc0000;text-decoration:underline;}

</style>
<table width="958" border="0" align="center" cellpadding="0" cellspacing="0" style=" font-size:12px; margin-top:8px;" class="bbb">
  <tr>
    <td><table width="958" height="30" border="0" cellpadding="0" cellspacing="0" style="border-top:#686e5d solid 3px; background:#Cdd0c8;">
      <tr>
        <td align="center"><a href="http://www.8264.com/ziliao/about/aboutus.php"  >关于我们</a> | <a href="http://www.8264.com/list/531/" >联系我们</a> | <a href="http://www.8264.com/8954.html#pl"  >意见反馈</a> | <a href="http://www.8264.com/ziliao/sitemap.html"  >网站地图</a> | <a href="http://bbs.8264.com/forum-160-1.html"  >我要投稿</a> | <a href="http://www.8264.com/ziliao/about/ad2.php"  >广告服务</a> | <a href="http://www.8264.com/list/531/"  >编辑部的故事</a> | <a href="http://www.8264.com/sitelink/index.html" style="color:red">友情连接</a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" align="center" valign="middle"><a href="http://www.8264.com/ziliao/about/ad2.php" style="color:red; font-weight:bold;">广告联系：022-23708264-818</a> Mail:admin8264.com <a href="http://www.miibeian.gov.cn/">津ICP备05004140号-1</a>   </td>
  </tr>
  <tr>
    <td height="20" align="center" valign="middle" style="color:#5f8c00;"> 户外是有风险的运动，8264提醒您务必注意安全问题</td>
  </tr>
  <tr>
    <td><table width="958" height="30" border="0" cellpadding="0" cellspacing="0" style="border:#004a9c solid 1px;">
      <tr>
        <td align="center" valign="middle"><span style="color:#004a9c;">合作项目：</span><a href="/">8264</a> | <a href="http://osm.8264.com/" target="_blank">户外经理人</a> | <a href="http://www.91ski.com/" target="_blank">就要滑雪网</a> | <a href="http://www.yododo.com/" target="_blank">游多多自助旅行网</a> | <a href="http://bbs.8264.com/" target="_blank">中国驴友论坛</a> | <a href="http://www.8844shop.com/" target="_blank">户外用品商城</a> | <a href="http://u.8264.com/" target="_blank">驴友录</a> | <a href="http://www.8264.com/pp/" target="_blank">户外美女</a> <div style="display:none;"><script src="http://js.tongji.cn.yahoo.com/141390/ystat.js" type="text/javascript"></script><noscript><a href="http://tongji.cn.yahoo.com"><img src="http://img.tongji.cn.yahoo.com/141390/ystat.gif"/></a></noscript></div></td>
      </tr>
    </table></td>
  </tr>
</table></div>
</div>
<script type="text/javascript">
<!--
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
//-->
</script>
</body>
</html>
