<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>遨游仕2014款T2远足徒步鞋</title>
<link href="http://static.8264.com/oldcms/moban/zt/201409ounce/style/style.css" rel="stylesheet" type="text/css">
<script src="http://static.8264.com/oldcms/moban/zt/201409ounce/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="http://static.8264.com/oldcms/moban/zt/201409ounce/js/jquerytest.js" type="text/javascript"></script>
</head>

<body>
<div class="branner">
	<a href="http://bbs.8264.com/thread-2215830-1-1.html" class="tylink">立刻体验</a>
</div>

<div class="warpten">
<div class="mid">

	<div class="conbig clear_b">
		<div class="bigimg">
			<ul>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/1.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/2.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/3.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/4.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/5.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/6.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/7.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/8.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/9.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/10.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/11.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/12.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/13.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/14.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/15.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/16.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/17.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/18.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/19.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/20.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/21.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/22.jpg"/></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/23.jpg"/></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/24.jpg"/></li>
			</ul>
		</div>
		<div class="smallimg con">
			<ul>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s1.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s2.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s3.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s4.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s5.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s6.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s7.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s8.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s9.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s10.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s11.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s12.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s13.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s14.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s15.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s16.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s17.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s18.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s19.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s20.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s21.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s22.jpg"/><span class="tan"></span></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s23.jpg"/><span class="tan"></span></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/s24.jpg"/><span class="tan"></span></li>
			</ul>
		</div>
	</div>
	<div style="padding-top:50px;"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/title.jpg"/></div>
	<div class="clear_b" >
		<div class="box">
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2251795-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test1.jpg"/></a>
				<div class="info">
					<span class="name">bj杰米</span>
					<p>说实在的，穿着崭新的鞋子实在不愿走这样的路，简易公路被重型拉矿石的卡车碾压的惨不忍睹，加上刚刚下过一个多月的阴雨，如果不是登山鞋，实在不好通过</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2261001-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test2.jpg"/></a>
				<div class="info">
					<span class="name">牛牛002</span>
					<p>本人深深体会到国内知名品牌OUNCE（遨游仕）的那种虚心改进、不断进取的态度和企业精神，本人也深深感到OUNCE品牌走入世界名牌企业之路不远了</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2240614-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test3.jpg"/></a>
				<div class="info">
					<span class="name">[酒疯子]</span>
					<p>UNCE--T2伴随着我，长途驾袭、穿越冰川、爬山涉水、重装徒步，一同穿越如痴如画的川西大地，让T2接受了真正的考验</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2280204-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test4.jpg"/></a>
				<div class="info">
					<span class="name">北陵-林子</span>
					<p>在崎岖的山路溪行走，着地感觉鞋的抓地力很好,没有发生碎石路面打滑，高帮部分很好的保护了脚踝,脚踝两边的填充物很充实</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2244963-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test5.jpg"/></a>
				<div class="info">
					<span class="name">-溜溜-</span>
					<p>T2鞋面的牛津布采用的是高强度的牛津布，搭配磨面牛皮的鞋面材料，用优质拼接线拼接以后，鞋面整体进行了深度防水的处理，这使整个鞋面的防水性大为增强</p>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2244714-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test6.jpg"/></a>
				<div class="info">
					<span class="name">门徒、</span>
					<p>鞋面的头层牛皮面料经过了防泼水处理，溅上鞋面的水珠会因为荷叶效应四散开</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2247713-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test7.jpg"/></a>
				<div class="info">
					<span class="name">鸿鹄义生兮</span>
					<p>考虑到鞋子的各项指标特点，自己选择了丹霞地貌为主要测试地点，通过高强度徒步穿越体验鞋子真正的性能</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2238328-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test8.jpg"/></a>
				<div class="info">
					<span class="name">驰骋雨中</span>
					<p>一双好鞋，对每一位户外爱好者来说极为重要。T2几乎做到了完美。其他测评人说的优点和长眼睛就能看到的优点</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2273386-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test9.jpg"/></a>
				<div class="info">
					<span class="name">轻松，</span>
					<p>OUNCE遨游仕T2升级版远足徒步鞋OUNCE遨游仕T2升级版远足徒步鞋，是在测试版T2款远足徒步鞋的基础上进行了多处工艺及技术的改进；在外观形状上并没有太大变化</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2246021-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test10.jpg"/></a>
				<div class="info">
					<span class="name">大同笨笨猫</span>
					<p>普通碎石路行走在普通碎石路上很轻松，脚也没感觉不舒服的地方，表现出良好的抓地性，防滑性能突出</p>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2251737-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test11.jpg"/></a>
				<div class="info">
					<span class="name">銑鉎。</span>
					<p>鞋口内侧支撑改为立体曲线裁剪设计，提高舒适性的同时加强对脚踝的自然贴合度；鞋帮内衬接缝全部改为合缝工艺，避免局部接缝对踝骨的压迫</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2254418-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test12.jpg"/></a>
				<div class="info">
					<span class="name">风火连城-北京</span>
					<p>收60%以上来自地面的冲击，冲击越大振动越强，能够持久发挥稳定的减震性能，降低负重行走或跑步时产生的振动对脚部和膝关节的伤害</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2252656-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test13.jpg"/></a>
				<div class="info">
					<span class="name">刘戈戈</span>
					<p>升级版远足徒步鞋采用了优质进口天然防水牛皮，皮面柔软细腻，光泽自然，耐磨透气，具有防泼水性能，能够承受恶劣的户外环境变化，持久耐磨</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2242897-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test14.jpg"/></a>
				<div class="info">
					<span class="name">漂流木DW</span>
					<p>进口优质天然防水牛皮（2.0-2.2mm），高强度牛津布，真的是防水的哦。这是在行进途中，经过沼泽地来着，踩着水过来的，除了一些泥泞外。水都不渗透进来，保持鞋里的干燥</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2241994-2-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test15.jpg"/></a>
				<div class="info">
					<span class="name">黄山绿树</span>
					<p>歙县毛塔重装露营，多云天气，气温21-28度。线路以村间石板路和山路为主，早晨露水重，对鞋子的防水等性能可以进行很好的测试</p>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2231928-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test16.jpg"/></a>
				<div class="info">
					<span class="name">拙行</span>
					<p>鞋底的MVC磁振动芯片的配置让穿着不但增加了舒适度，刚增加了趣味性，特别是踩踏在硬质地表后的那种回弹力，大大降低了对脚的反作用力。鞋帮的紧贴设计有效的保护了对于脚踝的保护，当拉紧鞋带后，整只脚被恰当的裹住，而且在下坡的时候，脚在鞋仓里没有移动，这样就不至于因为顶脚趾头而为难我们的双脚了</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2245676-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test17.jpg"/></a>
				<div class="info">
					<span class="name">小稻草人</span>
					<p>适合行走乡村小路,荒野及路线陡峭、地形复杂的山地,碎石等多地形复杂路面；适合在山地或乡村行走,适合中低强度登山或穿越等户外活动；在崎岖的山路溪水间行走，着地感觉鞋的抓地力很好,没有发生碎石路面打滑，高帮部分很好的保护了脚踝,脚踝两边的填充物很充实</p>
				</div>
			</div>
			<div class="onlyone">
				<a href="http://bbs.8264.com/thread-2238445-1-1.html"><img src="http://static.8264.com/oldcms/moban/zt/201409ounce/images/test18.jpg"/></a>
				<div class="info">
					<span class="name">海冬青</span>
					<p>为了更好的测试T2，做到客观公正的评测，特地一只脚穿上95新的某品牌徒步鞋，一只脚穿T2，让脚去感受不同的体验在水库边上进行防水测试，时长5分钟，一支烟功夫；遨游仕T2过了鞋舌位置，进了一点水，属于是我的失误右脚，某品牌的徒步鞋，湿了一大片，不比不知道一比吓一跳！</p>
				</div>
			</div>
		</div>
	</div>
	<div style="color:#fbba16; font-size:30px; text-align:center; padding:100px 0; display:none;">敬请期待！</div>
</div>
</div>
<div class="footer">
	<div class="footercon">
		<p class="footer_l">8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106<br>
			<a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
		<p class="footer_r"><a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a> | <a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a> | <a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a> | <a target="_blank" href="http://www.8264.com/link/">户外网址大全</a> | <a target="_blank" href="http://www.8264.com/sitemap">网站地图</a></p>
		<div class="clear"></div>
	</div>
</div>
</body>
</html>
