<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>KingCamp露营体验师"召集令"</title>
<script src="http://static.8264.com/oldcms/moban/zt/kingcamp/js/jquery-1.3.1.js" type="text/javascript"></script>
<link href="http://static.8264.com/oldcms/moban/zt/kingcamp/style/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script src="http://static.8264.com/oldcms/moban/zt/kingcamp/js/DD_belatedPNG_0.0.8a.js"></script>
<script src="http://static.8264.com/oldcms/moban/zt/kingcamp/js/DD_belatedPNG_css.js"></script>
<![endif]-->
</head>

<body>
<div class="warpper">
    <div class="banner"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/branner2.jpg"/></div>
    <div class="layout clear">
        <div class="l1">
            <div class="l1_title">
                <h2>KingCamp露营体验师 第四季</h2>
                <h3>春暖花开时节带队去驴行抢10顶KingCamp帐篷（领队专享）</h3>
            </div>
            <p><b>活动时间</b>：2013.7.20--2013.8.20</p>
			<p>如何参与：在活动要求的时间范围内在论坛地方版组织户外活动，在线报名人数在10人以上<span>（代报名无效）</span>，活动完成后发布活动作业。最后将活动时间范围内自己组织的所有活动报名帖和作业帖链接跟帖在此提交。<a href="http://bbs.8264.com/thread-1810481-1-1.html" target="_blank" style="color:#EB5405; font-size:15px; font-weight:bold;">参与活动</a></p>
			<p><b>评选标准</b>：</p>
			<p>
                1，活动数量（越多越好）<br>
                2，全部活动报名人数（保证安全的前提下越多越好）<br>
                3，活动线路精彩度（是否露营，线路有何特色）<br>
                4，作业精彩度（内容质量、数量）
			</p>
            <p><b>奖品数量</b>：10顶帐篷，评选出前10获奖领队获得</p>
            <p><b>奖品介绍</b>：KingCamp KT3081 SEINE 塞纳帐篷</p>
            <div class="zp"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/zp.jpg"/></div>
        </div>
        <div class="r1">
        	<div class="title clear"><span>新闻&nbsp;NEWS</span><a href="http://bbs.8264.com/thread-799145-1-1.html#comment" target="_blank">+更多</a></div>
            <div class="scrollnews">
            	<ul>
                	<li>
                    	<a href="http://www.8264.com/viewnews-85067-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/27.jpg"/></a>
                        <div class="news_r">
                            <h3><a href="http://www.8264.com/viewnews-85067-page-1.html" target="_blank">30名资深领队获得KingCamp露营体验师体验资格</a></h3>
                            <p><a href="http://www.8264.com/viewnews-85067-page-1.html" target="_blank"></a></p>
                        </div>
                    </li>
                    <li>
                    	<a href="http://www.8264.com/viewnews-85821-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/28.jpg"/></a>
                        <div class="news_r">
                            <h3><a href="http://www.8264.com/viewnews-85821-page-1.html" target="_blank">一顶帐篷去三十个地方 原来这个五一它最忙</a></h3>
                            <p><a href="http://www.8264.com/viewnews-85821-page-1.html" target="_blank"></a></p>
                        </div>
                    </li>
                    <li>
                    	<a href="http://www.8264.com/viewnews-85319-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/26.jpg"/></a>
                        <div class="news_r">
                            <h3><a href="http://www.8264.com/viewnews-85319-page-1.html" target="_blank">心系雅安KingCamp在行动 紧急调拨200顶帐篷</a></h3>
                            <p><a href="http://www.8264.com/viewnews-85319-page-1.html" target="_blank"></a></p>
                        </div>
                    </li>
                    <li>
                    	<a href="http://www.8264.com/viewnews-83914-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/1.jpg"/></a>
                        <div class="news_r">
                            <h3><a href="http://www.8264.com/viewnews-83914-page-1.html" target="_blank">8264领队专享 KingCamp露营体验师全面启动</a></h3>
                            <p><a href="http://www.8264.com/viewnews-83914-page-1.html" target="_blank"></a></p>
                        </div>
                    </li>
                    <li>
                    	<a href="http://www.8264.com/viewnews-83507-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/2.jpg"/></a>
                      <div class="news_r">
                            <h3><a href="http://www.8264.com/viewnews-83507-page-1.html" target="_blank">KingCamp ISPO 北京2013 户外是一种生活方式</a></h3>
                            <p><a href="http://www.8264.com/viewnews-83507-page-1.html" target="_blank"></a></p>
                        </div>
                    </li>
                    <li>
                    	<a href="http://www.8264.com/viewnews-83329-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/3.jpg"/></a>
                      <div class="news_r">
                            <h3><a href="http://www.8264.com/viewnews-83329-page-1.html" target="_blank">越轻越自然 KingCamp 春夏季新品轻盈上市</a></h3>
                            <p><a href="http://www.8264.com/viewnews-83329-page-1.html" target="_blank"></a></p>
                        </div>
                    </li>
                    <li>
                    	<a href="http://www.8264.com/viewnews-83245-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/4.jpg"/></a>
                      <div class="news_r">
                            <h3><a href="http://www.8264.com/viewnews-83245-page-1.html" target="_blank">2013北京ISPO KingCamp主推自驾露营生活方式</a></h3>
                            <p><a href="http://www.8264.com/viewnews-83245-page-1.html" target="_blank"></a></p>
                        </div>
                    </li>
                    <li>
                    	<a href="http://www.8264.com/viewnews-82741-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/5.jpg"/></a>
                      <div class="news_r">
                            <h3><a href="http://www.8264.com/viewnews-82741-page-1.html" target="_blank">KingCamp品牌再创新高 专卖店落户北京南站</a></h3>
                            <p><a href="http://www.8264.com/viewnews-82741-page-1.html" target="_blank"></a></p>
                        </div>
                    </li>
                    <li>
                    	<a href="http://www.8264.com/viewnews-82594-page-1.html" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/6.jpg"/></a>
                      <div class="news_r">
                            <h3><a href="http://www.8264.com/viewnews-82594-page-1.html" target="_blank">KingCamp金盾保护系统以军用级为目标</a></h3>
                            <p><a href="http://www.8264.com/viewnews-82594-page-1.html" target="_blank"></a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
				jQuery(function(){
				var jQuerythis = jQuery(".scrollnews");
				var scrollTimer;
				jQuerythis.hover(function(){
				clearInterval(scrollTimer);
				},function(){
				scrollTimer = setInterval(function(){
				 scrollNews( jQuerythis );
				}, 3000 );
				}).trigger("mouseleave");
				});
				function scrollNews(obj){
				var jQueryself = obj.find("ul:first"); 
				var lineHeight = jQueryself.find("li:first").height(); //获取行高
				jQueryself.animate({ "marginTop" : -lineHeight +"px" }, 600 , function(){
				jQueryself.css({marginTop:0}).find("li:first").appendTo(jQueryself); //appendTo能直接移动元素
				})
				}
			</script>
        </div>
    </div>
    <div class="layout">
    	<div class="title clear white"><span>品牌介绍&nbsp;Brand Introduction</span></div>
        <div class="brandinfo">
        	<div class="brandinfo_r">
                <p>KingCamp 家庭户外的倡导者，户外自驾露营装备知名品牌。 自2002年创立以来，KingCamp始终致力于向全世界推广户外生活方式，以其"舒适、轻松、分享、环保"的户外理念、独特的设计、专业的品质和优质 的服务赢得全世界户外爱好者的青睐，产品畅销全球30多个国家。</p>
                <p>KingCamp 的产品涵盖露营、徒步、旅行、休闲四个系列近千个品种。无论从产品设计、面料选择还是质量把控上，KingCamp品牌均严格执行国内外先进标准。 </p>
                <p>KingCamp 不仅是一个品牌，更代表一种健康、先进的生活方式，引导人们轻松舒适地享受户外，贴近自然。</p>
            </div>
        </div>
    </div>
    <div class="layout">
    	<div class="title clear white"><span>新品&nbsp;New Product</span><a href="http://www.kingcamp.com.cn/Product/" target="_blank">+更多</a></div>
        <div class="newproduct clear">
        	<div class="leftbuttom"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/left.jpg"/ class="goLeft"></div>
            <div class="scrollnewproductwarpten">
            	<div class="scrollnewproduct">
                	<ul>
                    	<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/7.jpg"/><div class="tan1"><a href="http://www.kingcamp.com.cn/Product/beibao/60yishang/1162.html" target="_blank">背包 PEAK 55+10<br>￥1299</a></div></li>
                        <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/8.jpg"/><div class="tan1"><a href="http://www.kingcamp.com.cn/Product/zhangpeng/1_2/2803.html" target="_blank">帐篷 SEIN E 塞纳<br>￥1049</a></div></li>
                        <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/9.jpg"/><div class="tan1"><a href="http://www.kingcamp.com.cn/Product/zhangpeng/5yishang/1126.html" target="_blank">帐篷 WAKAYA 6<br>￥8899</a></div></li>
                        <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/10.jpg"/><div class="tan1"><a href="http://www.kingcamp.com.cn/Product/zhangpeng/3_4/1119.html" target="_blank">帐篷 ROMA 4<br>￥3899</a></div></li>
                        <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/11.jpg"/><div class="tan1"><a href="http://www.kingcamp.com.cn/Product/peijian/dengshanzhang/2691.html" target="_blank">TREKKER LITE 碳纤维登山杖<br>￥799</a></div></li>
                        <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/12.jpg"/><div class="tan1"><a href="http://www.kingcamp.com.cn/Product/shuidai/mamishi/1935.html" target="_blank">睡袋 WARM 900<br>￥1399</a></div></li>
                        <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/13.jpg"/><div class="tan1"><a href="http://www.kingcamp.com.cn/Product/huwaijiaju/daoyanyi/1242.html" target="_blank">铝管便携导演椅<br>￥499</a></div></li>
                        <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/14.jpg"/><div class="tan1"><a href="http://www.kingcamp.com.cn/Product/huwaijiaju/zhumianzhuo/1481.html" target="_blank">竹面桌子（大号）<br>￥799</a></div></li>
                        <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/15.jpg"/><div class="tan1"><a href="http://www.kingcamp.com.cn/Product/beibao/60yishang/1161.html" target="_blank">背包 PEAK 65+10<br>￥1399</a></div></li>
                        <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/16.jpg"/><div class="tan1"><a href="http://www.kingcamp.com.cn/Product/dianzi/zidong/1142.html" target="_blank">自动充气垫 WAVE DELUX<br>￥598</a></div></li>
                        <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/17.jpg"/><div class="tan1"><a href="http://www.kingcamp.com.cn/Product/yecan/kaolu/2835.html" target="_blank">不锈钢便携烤炉<br>￥799</a></div></li>
                    </ul>
                </div>
            </div>
            <div class="rightbuttom"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/right.jpg"/ class="goRight"></div>
            <script type="text/javascript">
				jQuery(function(){
				var page = 1;
				var i = 5; //每版放4个图片
				var len = jQuery(".scrollnewproduct ul li").length;
				var page_count = Math.ceil(len / i) ;   //只要不是整数，就往大的方向取最小的整数
				var none_unit_width = jQuery(".scrollnewproductwarpten").width(); //获取框架内容的宽度,不带单位
				var jQueryparent = jQuery(".scrollnewproduct"); 
				//向右 按钮
				jQuery(".goRight").click(function(){ 
					if( !jQueryparent.is(":animated") ){
						if( page == page_count ){  //已经到最后一个版面了,如果再向后，必须跳转到第一个版面。
							jQueryparent.animate({ left : 0}, 800); //通过改变left值，跳转到第一个版面
							page = 1;
						}else{
							jQueryparent.animate({ left : '-='+none_unit_width}, 800);  //通过改变left值，达到每次换一个版面
							page++;
						}
					}
			   });
				//往左 按钮
				jQuery(".goLeft").click(function(){
					if( !jQueryparent.is(":animated") ){
						if( page == 1 ){  //已经到第一个版面了,如果再向前，必须跳转到最后一个版面。
							jQueryparent.animate({ left : '-='+none_unit_width*(page_count-1)}, 800); //通过改变left值，跳转到最后一个版面
							page = page_count;
						}else{
							jQueryparent.animate({ left : '+='+none_unit_width }, 800);  //通过改变left值，达到每次换一个版面
							page--;
						}
					}
				});
			});
			
			jQuery(".scrollnewproduct li").mouseover(function(){
				jQuery(".tan1",this).show();
			}).mouseout(function(){
				jQuery(".tan1",this).hide();
			});
			
		</script>
        </div>
    </div>
    <div class="layout white">
    	<div class="title clear"><span>科技&nbsp;Science and Technology</span><a href="http://www.kingcamp.com.cn/keji/list_268_1.html" target="_blank">+更多</a></div>
		
		<div style="float:left"><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/keji.jpg" width="220" height="250" /> </div>
		
        <div class="brand">
		<div style="margin-bottom:10px;text-indent:2em; margin-top:10px; margin-left:240px; margin-right:20px;line-height:150%; font-size:14px; background-color:#FFFFFF;">金盾保护系统，KingCamp独创的军用级保护系统，国内外团队多年合作研发成果，2012年秋冬开始广泛使用于KingCamp产品，为各种户外活动提供有效而且持久的保护。</div>
		<div style="margin-left:20px; margin-right:20px;">
        	<ul>
            	<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/2l.jpg"/><div class="tan3">Defender 2L</div></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/3l.jpg"/><div class="tan3">Defender 3L</div></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/soft2l.jpg"/><div class="tan3">Defender Softshell 2L</div></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/soft3l.jpg"/><div class="tan3">Defender Softshell 3L</div></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/classic.jpg"/><div class="tan3">Defender Classic</div></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/cotton.jpg"/><div class="tan3">Defender Cotton</div></li>
				                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/light15.jpg"/><div class="tan3">Defender Light 15</div></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/light15.jpg"/><div class="tan3">Defender Light 20</div></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/light15.jpg"/><div class="tan3">Defender Light 30</div></li>
            	<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/polar100.jpg"/><div class="tan3">Defender Polar 100</div></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/polar200.jpg"/><div class="tan3">Defender Polar 200</div></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/polar300.jpg"/><div class="tan3">Defender Polar 300</div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/100stretch.jpg"/><div class="tan3">Defender Stretch 100</div></li>
                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/200stretch.jpg"/><div class="tan3">Defender Stretch 100</div></li>
            </ul></div>
        </div>
        <script type="text/javascript">
        jQuery(".brand li").mouseover(function(){
				jQuery(".tan3",this).show();
			}).mouseout(function(){
				jQuery(".tan3",this).hide();
			});
		</script>
    </div>
    <div class="layout">
    	<div class="title clear white"><span>第一季体验师测评&nbsp;Experience</span><a href="http://www.kingcamp.com.cn/zhishi/pingce/list_38_1.html" target="_blank">+更多</a></div>
        <div class="porductimg clear">
        	<ul>
            	<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/29.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1704769-1-1.html" target="_blank">
通过在-5℃—-8℃的露营体验，体验者个人感觉，这是一款较为出色的户外帐篷。抗风型强，并且有良好的空气循环，内帐不凝露、滴水。地席防水能力超强，测试地点温度是零度以上，水汽很重，但是地席没有丝毫透水迹象。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/30.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1714135-1-1.html" target="_blank">
棚顶有挂钩（可挂帐篷灯）在挂钩的下面还有一层纱网（可放置无法挂置的灯具），帐篷头上还有两个储物袋（可用来放置怕压的东西）很人性化。看看我的帐篷外面满是雨水
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/31.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1714868-1-1.html" target="_blank">
12根六角铝合金地钉，还是个人看法，地丁不是很完美，作为领队帐，加上我这个经常招来极端天气的领队，这个地丁在盛夏时节用还可以，严冬时节我还是有些担心，关于地丁的搭配，在后面会说道
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/32.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1715679-1-1.html" target="_blank">
领队帐让我躲过了一场暴雨，没有湿身 晚上也落了些雨，地上没办法打地钉帐篷扎成这样的状况下，里面没有湿</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/33.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1715210-1-1.html" target="_blank">
帐篷内部，可以看到那个储物的小网袋，同事帐篷的前后也各有两个小袋子，两个对角还有两个三角形的袋子，足够放系些零零碎碎的小东西了；细节特写，还是要加强下，这个魔术贴都有点歪了 ，但是不影响使用 
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/34.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1715716-1-1.html" target="_blank">
帐填的前端设计很科学，和帐杆螺旋相连，避免了帐杆头有时会脱落的现象，小地方的改善，效果却很明显 内帐篷双开的拉链头上都印有公司的LOGO，特别定制，情有独钏
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/35.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1716488-1-1.html" target="_blank">
边缘用料十分厚实 从内帐往外及时根据自己需要调整大小以及角度 双层设计，提供优越的防雨，防风保护性；外帐采用防撕裂格子布，更高档结实耐用内帐内置口袋及顶部的纱网吊兜可用于存放随身物品
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/36.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1718518-1-1.html" target="_blank">
内帐储物设计方便实用 真正意义上的窗户设计到位 内帐的设计不推荐使用红色等亮色系颜色  因为飞虫类有向黄性   特别容易遭蚊虫外帐低端防水压胶处理  厚实</a></div></li>

                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/37.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1717431-1-1.html" target="_blank">
内帐的拉链采用里外双开、双拉链头的设计，非常方便帐蓬门的开合，使用起来非常顺畅 内帐两侧的入口均采用"O"形门设计，方便使用者的出入内帐的上部采用大面积纱网，加强了帐蓬的透气性，非常适合南方闷热的天气使用
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/38.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1718117-1-1.html" target="_blank">
内外帐的链接是很便利的卡扣，质量上等，使用方便 内帐上方的置物格，可以很方便的拆卸掉，上面还有可以挂营灯的挂钩。这个帐篷的设计真的是非常贴心的设计
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/39.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1717916-1-1.html" target="_blank">
四角风绳为黄色黑点，非常亮 气窗设计合理，防雨性很好 帐定有挂钩和一个网兜，可以很方便的放置小物件和帐篷灯。小的设计合理又便利虽然经过了武功山的狂风暴雨，但是当时没有好跑出来拍照。所以用人工雨补上
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/40.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1716329-1-1.html" target="_blank">
 帐杆很顺滑，很容易穿过，同时顶部预留了把手设计，方便搭建和移动帐篷 内帐的顶部设有挂钩，是用来钩挂帐篷灯的，但是下部有个悬挂式的网，可以将不方便的悬挂的灯放置在上边使用，真的很方便</a></div></li>
            </ul>
            <div class="clear"></div>
        </div>
        <script type="text/javascript">
        jQuery(".porductimg li").mouseover(function(){
				jQuery(".tan4",this).show();
			}).mouseout(function(){
				jQuery(".tan4",this).hide();
			});
		</script>
    </div>
    <div class="layout">
    	<div class="title clear white"><span>第二季体验师测评&nbsp;Experience</span><a href="http://www.kingcamp.com.cn/zhishi/pingce/list_38_1.html" target="_blank">+更多</a></div>
        <div class="porductimg clear">
        	<ul>
            	<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/50.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1766666-2-1.html" target="_blank">
帐顶加了一块网布，如果不方便挂的灯可以放在上面，并且可以摘下来，我把手电和头灯都放在了上面，方便。帐篷的收纳袋，没啥可装的，但很方便。三角袋可收纳内帐门，让帐篷利索起来，我没装帐篷门，睡觉时把手机放到了里面，方便取用。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/51.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1768170-2-1.html" target="_blank">
搭建好之后的效果，半纱帐，适合北方使用。内帐采用100%聚酯纤维透气绸顶部帐杆交叉处，穿杆部分采用纱网，防撕裂性能增加，重量减轻内帐开门处的双面拉链，拉链上有kingcamp的LOGO，尾部和帐篷防风绳一样，黑黄交织，方便使用
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/52.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1757099-4-1.html" target="_blank">
很多细节上周到的设计也是这款帐篷的亮点，收纳外帐门帘的锁扣和内帐顶部收纳袋、两端及门边侧袋的设计，他可以让我们的物品分类存放，且容易提取。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/53.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1771613-3-1.html" target="_blank">
把淋湿了的睡袋拿到农户们建的简单客栈烤了一下午，身上也暖和了。下午五点躺进帐篷，舒服睡了一觉，别人说帐篷里潮湿，我观察了我的帐篷，很清爽。</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/54.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1770761-2-1.html" target="_blank">
纱网吊兜可用于存放随身物品，支架头内部有螺纹扣牢，防止支架头被拔出，挂沟可以晚上挂营地灯。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/55.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1771385-1-1.html" target="_blank">
双层设计，提供优越的防雨，防风保护性；外帐采用防撕裂格子布，更高档结实耐用；两根铝合金支架设计，支架头内部有螺纹扣牢，防止支架头被拔出；内帐支架袖设计，使帐篷稳定而坚固。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/56.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1765929-1-1.html" target="_blank">
内帐篷双开的拉链头100%聚酯纤维透气绸，内帐的颜色很漂亮，：100%聚酯纤维耐磨牛津布，210T涤纶，做过防水处理，很厚实，耐磨
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/57.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1765267-3-1.html" target="_blank">
放好旗子"去户外 学会爱"！积极倡导"轻松 、舒适、分享、环保"的户外生活理念，外面景色不错，幽静的山谷窗口，气孔。</a></div></li>

                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/58.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1783418-1-1.html" target="_blank">
穿杆部分采用纱网，以此来减轻帐篷重量，内帐四角均有一个快插扣用于与外帐连接，内帐四角的50mm尼龙织带用于固定地钉所用，一个人3分钟很轻松的就将帐篷搭建完成。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/59.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1807304-1-1.html" target="_blank">
KingCamp塞纳KT3081外帐的通风口设计也很独特通风口外圈加厚的形式，并有有个软支架，能使通风口完全打开。四周各带有四根风绳，增强抗风能力
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/60.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1783048-2-1.html" target="_blank">
在两侧各有两个储物袋，可以放置一下怕挤压的小物品。在主门口处，有两个缝制的洗标，注明了保养方法，仔细看，这也是一个侧开的储物袋，可以放置手电等物品，便于夜晚出帐篷时候使用。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/61.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1768036-1-1.html" target="_blank">
 做为支架式帐篷设计，最大的优点就是便于搭建，一个人很轻松的就可以完成。非常的美观，两边开窗的哟这是外帐，这种浅红正是我的喜爱，会给我留下永久的红色的回忆的</a></div></li>
            </ul>
            <div class="clear"></div>
        </div>
        <script type="text/javascript">
        jQuery(".porductimg li").mouseover(function(){
				jQuery(".tan4",this).show();
			}).mouseout(function(){
				jQuery(".tan4",this).hide();
			});
		</script>
    </div>
    <div class="layout">
    	<div class="title clear white"><span>第三季体验师测评&nbsp;Experience</span><a href="http://bbs.8264.com/forum-redirect-goto-findpost-ptid-1810481-pid-32994536.html" target="_blank">+更多</a></div>
        <div class="porductimg clear">
        	<ul>
            	<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/70.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1827224-1-1.html" target="_blank">
12根铝合金地钉，100%聚酯纤维耐磨牛津布，防水压缩提袋；双层设计，提供优越的防雨，防风保护性；外帐采用防撕裂格子布，更高档结实耐用；内帐支架袖设计，使帐篷稳定而坚固。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/71.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1841381-2-1.html" target="_blank">
内帐入口"O"形门设计，门一侧有三角形网袋便于门的收纳；内帐大面积纱网，通透性极佳；黄色内帐，便于极度环境下求生时被人搜救；外帐门和内帐门之间设有宽敞门厅用于存放装备。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/72.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1820979-1-1.html" target="_blank">
内外都有拉手，使用很方便，值得称赞的是拉链头够大，好使；方便的接地插扣，人性化两边带支撑的大天窗，还是第一次看到，非常透气好用，估计在下雨天更能显示它的功效。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/73.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1827344-1-1.html" target="_blank">
角部起眼加梯扣调节结构，内帐大面积纱网，通透性极佳；黄色内帐，便于极度环境下求生时被人搜救；内帐支架袖设计，使帐篷稳定而坚固。</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/74.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1822875-1-1.html" target="_blank">
天窗很大，而且是两边对称，空气流通，换气效果非常好，帐中不会感到压抑；下了一夜的雨，第二天帐底非常干爽，没有涔水现象，所以帐篷防水性能没问题（没经过大雨体验，只是实际体验中雨。）
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/75.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1835800-2-1.html" target="_blank">
袋袋也是个亮点，可以放些，手机等等的小物件。除了中间两端有口袋，边上，还两个，真是体贴入微的设计。感谢设计师有这么好的产品。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/76.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1824807-2-1.html" target="_blank">
内帐里的小的挂钩设计，方便晚上露营将营地等等悬挂于帐篷内；在户外活动中这颜色能让队员一眼就能从所有帐篷中找到自己领队。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/77.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1833809-2-1.html" target="_blank">
这个铝合金支架触感很好，一拿起顺直，支架头就能自动扣牢；支架穿成十字交叉型，很容易完成。</a></div></li>

                <li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/78.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1821820-1-1.html" target="_blank">
2根直径为7.9mm铝合金支架，两根铝合金支架设计，支架头内部有螺纹扣牢，防止支架头被拔出；内帐大面积纱网，通透性极佳；黄色内帐，便于极度环境下求生时被人搜救；
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/79.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1830022-1-1.html" target="_blank">
拉绳采用黄底黑点反光拉绳，既美观，又能起到防止夜行人被绊倒的效果；此款帐篷专门徒步探险，露营，旅游，休闲设计.
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/80.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1846647-3-1.html" target="_blank">
外账卷帘门收纳别扣，与收纳别扣配合使用的固定绳，采用反光材料，便于夜间识别；帐篷门魔术贴设计，防风保暖外账卷帘门收纳别扣有夜光反光条，方便夜间识别。
</a></div></li>
				<li><img src="http://static.8264.com/oldcms/moban/zt/kingcamp/images/81.jpg"/><div class="tan4"><a href="http://bbs.8264.com/thread-1833809-2-1.html" target="_blank">
 内帐顶上有个挂钩，可以挂手电，晚上我挂了一个头灯，有个网纱，我把播放器放在上面，晚上听着小曲睡觉。</a></div></li>
            </ul>
            <div class="clear"></div>
        </div>
        <script type="text/javascript">
        jQuery(".porductimg li").mouseover(function(){
				jQuery(".tan4",this).show();
			}).mouseout(function(){
				jQuery(".tan4",this).hide();
			});
		</script>
    </div>
</div>
<div class="bottom">
	<div class="bottomcon">
    	<p class="footer_l">8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106<br><a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
    <p class="footer_r"><a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a> | <a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a> | <a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a> | <a target="_blank" href="http://www.8264.com/link/">户外网址大全</a> | <a target="_blank" href="http://www.8264.com/sitemap">网站地图</a></p>
    	<div class="clear"></div>
    </div>
</div>
</body>
</html>
