<html>
<head>
<title>《美军生存手册》 美军生存手册 野外生存手册 皇家野外生存手册 最佳员工生存手册 考研生存手册 生存手册下载 野外生存技术手册 美军野外生存手册 动物职场生存手册</title>
<meta name="description" content="《美军生存手册》 美军生存手册 野外生存手册 皇家野外生存手册 最佳员工生存手册 考研生存手册 生存手册下载 野外生存技术手册 美军野外生存手册 动物职场生存手册">
<meta name="keywords" content="生存手册">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="/css/igenus.css" rel="stylesheet" type="text/css">
<link href="/css/css.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.style3 {font-size: 9pt}
.title2 {font-size: 18px;font-weight: bolder;color: #FF0000;font-family: "黑体";}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
</head>

<body>
<table width="776"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="27" background="http://static.8264.com/oldcms/images/index1(1)_02.gif"><div align="center">
        <table width="776" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="221"><div align="center" class="td" style="text-align:center;">
                <div align="center" style="text-align:center;">                
                  <SCRIPT language=JavaScript>
<!--
calendar1 = new Date();
day = calendar1.getDay();
month = calendar1.getMonth();
date = calendar1.getDate();
year = calendar1.getYear();
if (year< 100) year = 1900 + year;
cent = parseInt(year/100);
g = year % 19;
k = parseInt((cent - 17)/25);
i = (cent - parseInt(cent/4) - parseInt((cent - k)/3) + 19*g + 15) % 30;
i = i - parseInt(i/28)*(1 - parseInt(i/28)*parseInt(29/(i+1))*parseInt((21-g)/11));
j = (year + parseInt(year/4) + i + 2 - cent + parseInt(cent/4)) % 7;
l = i - j;
emonth = 3 + parseInt((l + 40)/44);
edate = l + 28 - 31*parseInt((emonth/4));
emonth--;
var dayname = new Array ("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
var monthname = new Array ("1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月" );
document.write("<span class=font9><font color=#000000>"+year +"年");
document.write(monthname[month]);
document.write(date + "日  ");
document.write(dayname[day]+" "+"</font></span>");
// January(1月份节日，以下同。)
if ((month == 0) && (date == 1)) document.write("元旦");
if ((month == 4) && (date == 1)) document.write("国际劳动节");
if ((month == 4) && (date == 4)) document.write("青年节");
if ((month == 5) && (date == 1)) document.write("国际儿童节");
if ((month == 11) && (date == 25)) document.write("圣诞节");
document.write("</font>");
//-->
                  </SCRIPT>
                  <SCRIPT>
var SMDay= new Array (0,31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
var a=0;
var b,c,d;
var today=new Date();
yy=today.getYear();
SMonth=today.getMonth()+1;
SDay=today.getDate();
weekday=today.getDay();
if ((yy%4==0) & (yy%100!=0) | (yy%400==0)) SMDay[2] = 29;
for (i=0;i<SMonth;i++)
{
a=SMDay[i]+a;
}
a=a+SDay;
b=(7+a-weekday)%7;
d=7-b;
c=(a+d-weekday+7)/7;
document.write("<font color=#000000>","第",c,"周","</font>");
                  </SCRIPT>
</div>
            </div></td>
            <td><div align="center" class="td">
                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="92%"><a href="http://www.8844shop.com" target="_blank"><font color=red>户外用品</font></a>·<a href="http://www.yododo.com" target="_blank"><font color="0000ff">游多多自助游</font></a>·<a href="http://www.91ski.com" target="_blank">就要滑雪网</a>·<a href="http://bbs.8264.com/forum-174-1.html" target="_blank">打折促销</a>·<a href="http://bbs.8264.com/forum-163-1.html" target="_blank">问答</a>·<a href="http://home.8264.com/" target="_blank">驴友之家</a>/<a href="http://travel.elong.com/flights/Default.aspx?Campaign_ID=4050879" target="_blank">机票</a>·<a href="http://so.8264.com" target="_blank">搜索</a>·<a href="/list/588" target="_blank">杂志</a>·<a href="http://www.8264.net" target="_blank">English</a></td>
                  </tr>
                </table>
            </div></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td><div align="center">
        <table width="776" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="215" height="60"><div align="left"><a href="/"><img src="http://static.8264.com/oldcms/images/logo1.gif" width="205" height="60" border="0" /></a></div></td>
            <td width="561"><div align="center">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="25" background="http://static.8264.com/oldcms/images/index1(1)_06.gif"><div align="center" style="text-align:center;">
                        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="13%"><div align="center" style="text-align:center;"><a href="http://osm.8264.com" target="_blank">户外经理人</a></div></td>
                            <td width="9%"><div align="center" style="text-align:center;"><a href="http://dian.8264.com" target="_blank">户外店</a></div></td>
							<td width="8%"><div align="center" style="text-align:center;"><a href="http://www.8264.com/brand/" target="_blank"><font color="#FF0000">品牌</font></a></div></td>
                            <td width="11%"><div align="center" style="text-align:center;"><a href="http://pk.8264.com" target="_blank" >户外讨论</a><a href="http:/pk.8264.com" target="_blank"></a></div></td>
                            <td width="13%"><div align="center" style="text-align:center;"><span class="td"><a href="http://www.8264.com/ziliao/face2face" target="_blank">名家面对面</a></span></div></td>
                            <td width="12%"><div align="center" style="text-align:center;"><span class="td"><a href="/company" target="_blank">商业频道</a></span></div></td>
                            <td width="11%"><div align="center" style="text-align:center;"><a href="http://job.8264.com/" target="_blank">人力资源</a></div></td>
                            <td width="23%"><div align="center" style="text-align:center;"><a href="http://www.8844shop.com" target="_blank"><img src="http://static.8264.com/oldcms/images/index1_09.gif" width="116" height="18" border="0" /></a></div></td>
                          </tr>
                        </table>
                    </div></td>
                  </tr>
                  <tr>
                    <td height="26" background="http://static.8264.com/oldcms/images/index1(1)_08.gif"><div align="center" class="td" style="text-align:center;"><a href="/list/204" target="_blank">户外装备</a> - <a href="/list/224" target="_blank">登山频道</a> - <a href="/list/232" target="_blank">攀岩频道</a> - <a href="/list/251" target="_blank">游记攻略</a> - <a href="/list/243" target="_blank">经典线路</a> - <a href="/list/238" target="_blank">户外知识</a> - <a href="/list/389" target="_blank">滑翔</a> - <a href="/list/545" target="_blank">自驾</a> - <a href="/list/566" target="_blank">救援</a> - <a href="/list/576" target="_blank">环保</a></div></td>
                  </tr>
                </table>
            </div></td>
          </tr>
        </table>
    </div></td>
  </tr>
  <tr>
    <td height="23" bgcolor="A2A25E"><div align="center">
        <table width="100%" height="23"  border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="130"><div align="center" style="text-align:center;">户外资料--一网打尽</div></td>
            <td width="519" class="td"><div align="left"><a href="/">首页</a> | <a href="/list/201" target="_blank">新闻</a> | <a href="http://pp.8264.com" target="_blank"><font color="0000ff">精品图库</font></a> | <a href="/picnews_list/" target="_blank">图文</a> | <a href="http://static.8264.com/oldcms/moban/yododo/travel.php" target="_blank">同行</a> | <a href="/topic_list/" target="_blank">专题</a> | <a href="http://bbs.8264.com/forum-161-1.html" target="_blank">活动</a><a href="http://bbs.8264.com/forum-161-1.html" target="_blank"><img src="http://static.8264.com/oldcms/img/new2.gif" width="28" height="11" border="0" /></a> | <a href="/sitelink/index.html" target="_blank">户外网址</a> | <a href="http://u.8264.com/" target="_blank">驴友录</a> | <a href="http://bbs.8264.com" target="_blank"><font color="0000ff">社区论坛</font></a> </div></td>
            <td width="127" class="td"><div align="center" style="text-align:center;"><a href="http://home.8264.com/" target="_blank"><img alt="驴友之家" src="http://static.8264.com/oldcms/img/8264gg/2008/lvyou2.gif" width="111" height="19" border="0" /></a></div></td>
          </tr>
        </table>
    </div></td>
  </tr>
</table>
<div align="center">
    <table width="776" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="776" height="84">
          <param name="movie" value="/img/outdoor.swf">
          <param name="quality" value="high">
          <embed src="http://static.8264.com/oldcms/img/outdoor.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="776" height="84"></embed>
        </object></td>
      </tr>
    </table>
    <table width="776" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="168" valign="top" background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_left_03.gif"><div align="center">
            <table width="94%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table>
            <table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="21%" background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/index1_20.gif"><div align="left"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/index1_19.gif" width="33" height="25"></div></td>
                    <td width="53%" background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/index1_20.gif"><div align="center"><SPAN class=title_font><strong>内容序言</strong></SPAN></div></td>
                    <td width="26%" background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/index1_20.gif"><div align="right"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/index1_22.gif" width="4" height="25"></div></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td><table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><span class="td03">　　没有人比美军更懂得如何生存了，所以这本杰出的野外生存指南是同类书籍中最权威的。该书最初由陆军部制定，用以训练特种部队在各种气候及地形下的生存技能。中文版本定位在“最好的民用绝处求生指南”。</span></td>
                  </tr>
                </table></td>
              </tr>
            </table>
            <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td width="21%" background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/index1_20.gif"><div align="left"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/index1_19.gif" width="33" height="25"></div></td>
                <td width="53%" background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/index1_20.gif"><div align="center"><SPAN class=title_font><strong>相关书籍</strong></SPAN></div></td>
                <td width="26%" background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/index1_20.gif"><div align="right"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/index1_22.gif" width="4" height="25"></div></td>
              </tr>
            </table>
            <br>
            <TABLE align=center border=0 cellPadding=0 cellSpacing=0 width=98>
              <TBODY>
                <TR>
                  <TD><A href="/into_thin_air/416.html" target=_blank><IMG border=0 height=186 src="http://static.8264.com/oldcms/img/krakcover.gif" width=134></A></TD>
                </TR>
                <TR>
                  <TD height=30>
                    <DIV align=center> <a href="/into_thin_air/416.html" target="_blank">走进空气稀薄地带</a> </DIV></TD>
                </TR>
                <TR>
                  <TD><A href="http://www.8264.com/shengcun/" target=_blank><IMG border=0 height=186 src="http://www.8264.com/shengcun/sas.gif" width=134></A></TD>
                </TR>
                <TR>
                  <TD height=30> <div align="center"><a href="http://www.8264.com/shengcun/" target="_blank">生存手册</a></div></TD>
                </TR>
                <TR>
                  <TD height=30><A href="http://www.8264.com/maoxian/" target=_blank><IMG border=0 height=186 src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/maoxian.jpg" width=134></A></TD>
                </TR>
                <TR>
                  <TD height=30> <div align="center"><a href="http://www.8264.com/miaoxian">冒险图鉴</a></div></TD>
                </TR>
                <TR>
                  <TD height=30><A href="http://www.8264.com/travelbook/458.html" target=_blank><IMG border=0 height=186 src="http://static.8264.com/oldcms/moban/travelbook/images/3.jpg" width=134></A></TD>
                </TR>
                <TR>
                  <TD height=30> <div align="center"><a href="http://www.8264.com/travelbook/458.html">世界上最糟糕的旅行</a></div></TD>
                </TR>
              </TBODY>
            </TABLE>
        </div></td>
        <td valign="top" background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_02.gif"><div align="right">
            <table width="97%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="300" valign="top"><div align="center">
                    <table width="98%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
                    <table width="98%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="25"><div align="center">
                            <table width="92%"  border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="25"> <div align="center">
                                  <strong><font color="#ff0000">《美军生存手册》</font></strong></div></td>
                              </tr>
                            </table>
                        </div></td>
                      </tr>
                      <tr>
                        <td background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05_1.gif"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05.gif" width="30" height="9"></td>
                      </tr>
                      <tr>
                        <td height="150"><div align="center">
                          <TABLE align=center border=0 cellPadding=0 cellSpacing=0 width=100%>
                            <TBODY>
                              <TR vAlign=top>
                                <TD bgColor=#ffffff width=122>
                                  <TABLE border=0 cellPadding=0 cellSpacing=0 height=4 width=4>
                                    <TBODY>
                                      <TR bgColor=#d3f3e6>
                                        <TD height=1 width=1></TD>
                                        <TD width=1></TD>
                                        <TD width=1></TD>
                                        <TD width=1></TD>
                                      </TR>
                                      <TR>
                                        <TD bgColor=#d3f3e6 height=1></TD>
                                        <TD bgColor=#d3f3e6></TD>
                                        <TD></TD>
                                        <TD></TD>
                                      </TR>
                                      <TR>
                                        <TD bgColor=#d3f3e6 height=1></TD>
                                        <TD></TD>
                                        <TD></TD>
                                        <TD></TD>
                                      </TR>
                                      <TR>
                                        <TD bgColor=#d3f3e6 height=1></TD>
                                        <TD></TD>
                                        <TD></TD>
                                        <TD></TD>
                                      </TR>
                                    </TBODY>
                                </TABLE></TD>
                                <TD width=1></TD>
                                <TD bgColor=#ffffff>
                                  <TABLE align=right border=0 cellPadding=0 cellSpacing=0 height=4 width=4>
                                    <TBODY>
                                      <TR bgColor=#d3f3e6>
                                        <TD height=1 width=1></TD>
                                        <TD width=1></TD>
                                        <TD width=1></TD>
                                        <TD width=1></TD>
                                      </TR>
                                      <TR>
                                        <TD height=1></TD>
                                        <TD></TD>
                                        <TD bgColor=#d3f3e6></TD>
                                        <TD bgColor=#d3f3e6></TD>
                                      </TR>
                                      <TR>
                                        <TD height=1></TD>
                                        <TD></TD>
                                        <TD></TD>
                                        <TD bgColor=#d3f3e6></TD>
                                      </TR>
                                      <TR>
                                        <TD bgColor=#d3f3e6 height=1></TD>
                                        <TD></TD>
                                        <TD></TD>
                                        <TD></TD>
                                      </TR>
                                    </TBODY>
                                </TABLE></TD>
                              </TR>
                              <TR>
                                <TD bgColor=#ffffff>
                                  <DIV align=center><IMG src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/usa.jpg" width=100 height=140></DIV></TD>
                                <TD></TD>
                                <TD bgColor=#ffffff>
                                  <P>　　该书为露营者、徒步旅行者、探险者、向导以及其他需要熟悉野外活动的人士必备手册。该书配以清晰的图解说明，详细介绍了医疗、工具制造、寻找食物和水、搭建避身场所、辨别方向、发信号，以及其他种种技能。这些技能在人迹罕至的偏远地区可能会决定你的生死。同时，这本书也将给读者带来足不出户的冒险体验。<BR>
                                      <BR>
                                      　　 
                                      <STRONG>　陕西人民出版社出版</STRONG>　<STRONG>（美）美国陆军司令部　著</STRONG><BR>
                                      　　 <STRONG>　欢迎您来此</STRONG> <a href="/9075.html#pl" target="_blank"><font color="#ff0000">发表评论</font></a> <BR>
                                </P></TD>
                              </TR>
                              <TR vAlign=bottom>
                                <TD bgColor=#ffffff>
                                  <TABLE border=0 cellPadding=0 cellSpacing=0 height=4 width=4>
                                    <TBODY>
                                      <TR>
                                        <TD bgColor=#d3f3e6 height=1 width=1></TD>
                                        <TD width=1></TD>
                                        <TD width=1></TD>
                                        <TD width=1></TD>
                                      </TR>
                                      <TR>
                                        <TD bgColor=#d3f3e6 height=1></TD>
                                        <TD></TD>
                                        <TD></TD>
                                        <TD></TD>
                                      </TR>
                                      <TR>
                                        <TD bgColor=#d3f3e6 height=1></TD>
                                        <TD bgColor=#d3f3e6></TD>
                                        <TD></TD>
                                        <TD></TD>
                                      </TR>
                                      <TR bgColor=#d3f3e6>
                                        <TD height=1></TD>
                                        <TD></TD>
                                        <TD></TD>
                                        <TD></TD>
                                      </TR>
                                    </TBODY>
                                </TABLE></TD>
                                <TD></TD>
                                <TD bgColor=#ffffff>
                                  <TABLE align=right border=0 cellPadding=0 cellSpacing=0 height=4 width=4>
                                    <TBODY>
                                      <TR>
                                        <TD height=1 width=1></TD>
                                        <TD width=1></TD>
                                        <TD width=1></TD>
                                        <TD bgColor=#d3f3e6 width=1></TD>
                                      </TR>
                                      <TR>
                                        <TD height=1></TD>
                                        <TD></TD>
                                        <TD></TD>
                                        <TD bgColor=#d3f3e6></TD>
                                      </TR>
                                      <TR>
                                        <TD height=1></TD>
                                        <TD></TD>
                                        <TD bgColor=#d3f3e6></TD>
                                        <TD bgColor=#d3f3e6></TD>
                                      </TR>
                                      <TR bgColor=#d3f3e6>
                                        <TD height=1></TD>
                                        <TD></TD>
                                        <TD></TD>
                                        <TD></TD>
                                      </TR>
                                    </TBODY>
                                </TABLE></TD>
                              </TR>
                            </TBODY>
                          </TABLE>
                        </div></td>
                      </tr>
                    </table>
                    <table width="98%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="25"><table width="92%"  border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><strong>用意志克服困难</strong></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05_1.gif"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05.gif" width="30" height="9"></td>
                      </tr>
                      <tr>
                        <td><div align="center">
                          <TABLE align=center border=0 cellPadding=0 cellSpacing=0 width=100%>
                            <TBODY>
                              <TR>
                                <TD class=td07>　　 许多求生的案例表明，坚定、强烈的意志可以克服许多困难。有这样一个案例：一个男子被困在沙漠里八天，没有食物，没有水，他也没有接受过任何生存技能的训练，所以他没有做对一件事，可是他想活下去。就是靠着这个坚定的意志和信念，他活了下来。 <BR>
                                　　 训练、装备，再加上求生意志，你就能征服遇到的一切障碍，你就能生存。 </TD>
                              </TR>
                              <TR>
                                <TD class=td07><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td>
                                        <LI><A href="/9075.html" target=_blank ><FONT color=#0000ff>求生意志（1）</FONT></A>
                                        <LI><a href="/9106.html" target=_blank ><font color=#0000ff>生存计划（1）</font></a>
                                        <LI><a href="/9108.html" target=_blank ><font color=#0000ff>生存医学（1）</font></a> </LI></td>
                                    <td>
                                        <LI><A href="/9105.html" target=_blank ><FONT color=#0000ff>求生意志（2）</FONT></A>
                                        <LI><A href="/9107.html" target=_blank ><FONT color=#0000ff>生存计划（2）</FONT></A>
                                        <LI><A href="/9109.html" target=_blank><FONT color=#0000ff>生存医学（2）</FONT></A></LI>
                                    </td>
                                  </tr>
                                </table></TD>
                              </TR>
                            </TBODY>
                          </TABLE>
                        </div></td>
                      </tr>
                    </table>
                    <table width="98%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                       <td height="25">
                              <table width="92%"  border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td><strong>获得武器</strong></td>
                              </tr>
                              </table></td></tr>
                               <tr>
                        <td background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05_1.gif"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05.gif" width="30" height="9"></td>
                      </tr>
                      <tr>
                        <td><div align="center">
                          <TABLE align=center border=0 cellPadding=0 cellSpacing=0 width=100%>
                            <TBODY>
                              <TR>
                                <TD class=td07>　　 作为一个士兵，应该保管好自己的工具和武器，使之在需要时能够发挥最大的作用。尤其是刀，要保持锋利状态。在生存困境中，刀是最有用的工具之一。 <BR>
                                    　　 想像一下处于生存困境中除了一把刀没有任何其他武器的情形！这是很可能会发生的！甚至连刀都没有。所以你必须学会如何临时制造工具和武器。 <BR>
                                  　　 武器的主要用途是狩猎。一件野外应急的武器不仅能帮你却敌，还能扩大你的防御范围，同时也能给你带来安全感。 
                                  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td>
                                          <LI><A href="/9113.html" target=_blank ><FONT color=#0000ff>野外应急武器和工具（1）</FONT></A>
                                          <LI><a href="/9115.html" target=_blank ><font color=#0000ff>可食用的野生植物（1）</font></a>
                                          <LI><A href="/9112.html" target=_blank ><FONT color=#0000ff>水的获得</FONT></A></LI></td>
                                      <td valign="top">
                                          <LI><A href="/9114.html" target=_blank ><FONT color=#0000ff>野外应急武器和工具（2）</FONT></A>                                          <LI><A href="/9116.html" target=_blank ><FONT color=#0000ff>可食用的野生植物（2）</FONT></A> </LI>                                      </td>
                                    </tr>
                                  </table></TD>
                              </TR>
                            </TBODY>
                          </TABLE>
                        </div></td>
                      </tr>
                    </table>
                    <table width="98%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="25"><table width="92%"  border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td><strong>学习生存</strong></td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05_1.gif"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05.gif" width="30" height="9"></td>
                      </tr>
                      <tr>
                        <td><div align="center">
                            <TABLE align=center border=0 cellPadding=0 cellSpacing=0 width=100%>
                              <TBODY>
                                <TR>
                                  <TD class=td07>　　 不要忽略鸟蛋，新鲜鸟蛋是可以吃的，即使里面有胚胎。许多在地面坐窝的鸟类，如松鸡、火鸡、野鸡、以及水鸟要等到生了一窝蛋之后才开始孵。每隔几天去取一次蛋，但是要留下两三个，这样你会有一到两个星期的新鲜蛋的供应。            </TD>
                                </TR>
                                <TR>
                                  <TD class=td07><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td>
                                          <LI><A href="/9115.html" target=_blank ><FONT color=#0000ff>动物类食物（上）（1）</FONT></A>
                                          <LI><a href="/9117.html" target=_blank ><font color=#0000ff>动物类食物(下)（1）</font></a>
                                        <LI><a href="/9119.html" target=_blank ><font color=#0000ff>避身场所（1）</font></a> </LI></td>
                                        <td>
                                          <LI><A href="/9116.html" target=_blank ><FONT color=#0000ff>动物类食物（上）（2）</FONT></A>
                                          <LI><A href="/9118.html" target=_blank ><FONT color=#0000ff>动物类食物(下)（2）</FONT></A>
                                        <LI><A href="/9120.html" target=_blank><FONT color=#0000ff>避身场所（2）</FONT></A></LI></td>
                                      </tr>
                                  </table></TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                        </div></td>
                      </tr>
                    </table>
                    <table width="98%"  border="0" cellspacing="0" cellpadding="0"><tr></tr></table>
                    <table width="98%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="25"><table width="92%"  border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td><strong>和大自然共处</strong></td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05_1.gif"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05.gif" width="30" height="9"></td>
                      </tr>
                      <tr>
                        <td><div align="center">
                            <TABLE align=center border=0 cellPadding=0 cellSpacing=0 width=100%>
                              <TBODY>
                                <TR>
                                  <TD class=td07>　　 火有多种用途：给你温暖、保持你干爽、烹调食物、净化水以及发信号。但是当你身在敌方区域时，火也可能会给你带来麻烦。火产生的烟雾从很远的距离就可以闻到或看到；火光不管是白天还是黑夜都可以看到；生火的痕迹还会暴露你的行踪。记住，你在权衡生火的需要时，必须考虑是否能避开敌人的侦查</TD>
                                </TR>
                                <TR>
                                  <TD class=td07><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td width="50%">
                                          <LI><A href="/9121.html" target=_blank ><FONT color=#0000ff>取火（1）</FONT></A>
                                          <LI><a href="/9123.html" target=_blank ><font color=#0000ff>渡水（1）</font></a>
                                          <LI><a href="/9128.html" target=_blank ><font color=#0000ff>野外识别方向</font></a></LI></td>
                                        <td width="50%">
                                          <LI><A href="/9122.html" target=_blank ><FONT color=#0000ff>取火（2）</FONT></A>
                                          <LI><A href="/9124.html" target=_blank ><FONT color=#0000ff>渡水（2）</FONT></A>
                                        </td>
                                      </tr>
                                  </table></TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                        </div></td>
                      </tr>
                    </table>
                    <table width="98%"  border="0" cellspacing="0" cellpadding="0"><tr></tr></table>
                    <table width="98%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="25"><table width="92%"  border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td><strong>极地生存（一）</strong></td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05_1.gif"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05.gif" width="30" height="9"></td>
                      </tr>
                      <tr>
                        <td><div align="center">
                            <TABLE align=center border=0 cellPadding=0 cellSpacing=0 width=100%>
                              <TBODY>
                                <TR>
                                  <TD class=td07>　　 你也许会把热带想像成一个丛林密布的地区，人必须披荆斩棘才能开辟出一条道路，而且，丛林里步步危机。这是一个误解。热带大多数地区都开发过了，只有一小部分是丛林（雨林），最大的危险来自昆虫和陡峭的地形。雨林里大多数地上覆盖着次生植物，就像荒弃的田地里生长的植物一样。</TD>
                                </TR>
                                <TR>
                                  <TD class=td07><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td>
                                          <LI><A href="/9129.html" target=_blank ><FONT color=#0000ff>发信号（1）</FONT></A>
                                          <LI><a href="/9131.html" target=_blank ><font color=#0000ff>沙漠生存（1）</font></a>
                                          <LI><a href="/9133.html" target=_blank ><font color=#0000ff>热带生存（1）</font></a></LI></td>
                                        <td>
                                          <LI><A href="/9130.html" target=_blank ><FONT color=#0000ff>发信号（2）</FONT></A>
                                          <LI><A href="/9132.html" target=_blank ><FONT color=#0000ff>沙漠生存（2）</FONT></A>
                                          <LI><A href="/9134.html" target=_blank ><FONT color=#0000ff>热带生存（2）</FONT></A></LI></td>
                                      </tr>
                                  </table></TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                        </div></td>
                      </tr>
                    </table>
                    <table width="98%"  border="0" cellspacing="0" cellpadding="0"><tr></tr></table>
                    <table width="98%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="25"><table width="92%"  border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td><strong>极地生存（二）</strong></td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05_1.gif"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_main1_05.gif" width="30" height="9"></td>
                      </tr>
                      <tr>
                        <td><div align="center">
                            <TABLE align=center border=0 cellPadding=0 cellSpacing=0 width=100%>
                              <TBODY>
                                <TR>
                                  <TD class=td07>　　 在有些情况下，你可以洗雪浴。抓一把雪擦洗身体汗水容易积存的地方，如腋下、大腿根部、前胸、后背等，然后擦干身体。如果无法洗澡，定期擦拭身体的这些部位。如果条件允许，要每天洗脚，换上干净的袜子。每星期更换内衣至少两次。如果没有办法清洗内衣，脱下它之后，抖动几下，然后放在空气中晾一两个小时。 </TD>
                                </TR>
                                <TR>
                                  <TD class=td07><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td>
                                          <LI><A href="/9135.html" target=_blank ><FONT color=#0000ff>极地生存（1）</FONT></A>
                                          <LI><a href="/9137.html" target=_blank ><font color=#0000ff>极地生存（3）</font></a>
                                        <LI><a href="/9139.html" target=_blank ><font color=#0000ff>海上生存（2）</font></a>
                                          <LI><a href="/9141.html" target=_blank ><font color=#0000ff>绳结</font></a></LI></td>
                                        <td>
                                          <LI><A href="/9136.html" target=_blank ><FONT color=#0000ff>极地生存（2）</FONT></A>
                                          <LI><A href="/9138.html" target=_blank ><FONT color=#0000ff>海上生存（1）</FONT></A>
                                        <LI><A href="/9140.html" target=_blank ><FONT color=#0000ff>海上生存（3）</FONT></A></LI></td>
                                      </tr>
                                  </table></TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                        </div></td>
                      </tr>
                    </table>
                    <table width="98%"  border="0" cellspacing="0" cellpadding="0">
                      <tr></tr>
                    </table>
                    <table width="94%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
                </div></td>
              </tr>
            </table>
        </div></td>
      </tr>
      <tr>
        <td width="168" background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_left_03.gif"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/bottom_01.gif" width="168" height="39"></td>
        <td width="608" background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/bottom_02.gif"><div align="center"> </div></td>
      </tr>
      <tr>
        <td width="168" background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/story_left_03.gif"><img src="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/bottom_03.gif" width="168" height="70"></td>
        <td width="608" background="http://static.8264.com/oldcms/moban/u.s.army_survival_manual/images/bottom_04.gif">&nbsp;</td>
      </tr>
    </table>
  <table width="776" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><script language="javascript" src="/include/js/utility.js"></script>
<script language="javascript" src="/comment.js"></script>
<script language="javascript">
var CommentSrc= "/topic/435/";
if(!Page){	//如果在别的包含页面中已经包含过了，就不要再有了
	var Page = {	//使用该page对象,可以得到一些page信息
				ver:1.0	//版本号
	}
}
</script>
<style type="text/css">
<!--
#loginDiv { text-align:left; padding:0 10px 0 10px;}
#loginDiv a{width:40px; border:1px solid #7F9DB9; background:#EFEFEF; padding:0 3px 0 3px;; color:#000; font-size:12px; text-decoration:none; text-align:center; height:18px; line-height:18px; overflow:hidden;}
#loginDiv span{padding:0 10px 0 10px;}
-->
</style>
<center>
 <span style="padding-bottom:4px;padding-top:4px;"><a href="#" name="commentfocus" id="commentfocus"></a></span>
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td  style="padding-bottom:2px;padding-top:4px;"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="background-color:#f4f4f4; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 5px; PADDING-bottom: 2px;BORDER-BOTTOM: #ddd 1px solid; "><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="13%" align="left" class="lefttd25">驴友评论</td>
                          <td width="47%" align="left" class="pingluntd1" id="pageInfo"></td>
                          <td width="40%"  id="pageNav" align="right"></td>
                        </tr>
                    </table></td>
                  </tr>
              </table></td>
            </tr>
          </table>	
		  
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr><td  class="lefttd15">
  
<div id=allcomments ></div>

  </td>
  </tr>
</table>	  
	    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td style="background-color:#f4f4f4; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 5px; PADDING-bottom: 2px;BORDER-BOTTOM: #ddd 1px solid; "><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="13%" ></td>
			  <td width="47%" class="pingluntd1" align="left" id="pageInfo2"></td>
              <td width="40%"  id="pageNav2"  align="right"></td>
            </tr>
        </table></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <form action='' method="post" name="reform" id="reform">
            <td style="padding-top:10px">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="background-color:#f4f4f4; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 10px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 6px; PADDING-bottom: 4px;BORDER-BOTTOM: #ddd 1px solid; ">
				    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="20%" align="left"  class="lefttd25">发表评论<a name="recom">&nbsp;</a></td>
                        <td width="80%"  class="pingluntd1"><input name="type" type="hidden" id="type" value="add" />
                            <input name="id0" type="hidden" id="id0" value="435" />
                            <span id="relabel" style="display:none;"> <font color="ff0000">引用回复成功，请输入您的评论！</font>
                            <input name="reid" id="reid" type="hidden"  value="0" />
                          <a href="#recom" onClick="unrecomment()">取消</a> </span> </td>
                      </tr>
                    </table>
				  </td>
                </tr>
              </table>
			      </td>
			     </tr>
			  <tr>
			    <td class="pingluntd4">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="pingluntd5">
                    <tr>
                      <td width="10%" align="right">&nbsp;</td>
                      <td width="20%"><input  name="username" id="username" type="hidden" size="16" class="formtd2" disabled="disabled"/></td>
                      <td width="10%" align="right">&nbsp;</td>
                      <td width="5%">&nbsp;</td>
                      <td width="55%"><div id="loginDiv" style=" color:#990033"></div></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="70%" align="center" class="pingluntd4"><textarea  name="content" id="content" cols="80" rows="10"></textarea></td>
                    <td width="30%" align="left" class="pingluntd4"><table width="66%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="pingluntd3">请您发言时务必尊重网上道德与我国相关法律法规!</td>
                        </tr>
                        <tr>
                          <td align="center" class="righttd14"><input type="button" onClick="sendComment(CommentSrc,'topic')" title="Ctrl+Enter" value="提交" />[Ctrl+Enter]</td>
                        </tr>
                    </table></td>
                  </tr>
              </table>
			    </td>
			  </tr>
			  </table>
			  </td>
          </form>
        </tr>
      </table>
	  </center>
<script language="javascript">
goPage(CommentSrc,1);
</script>
<script src="/login/isLogin.js"></script>
<script src="/login/logout.js"></script>
<script language=javascript>
//ctrl+enter提交评论
ie = (document.all)? true:false;
if (ie){
	function ctlent(){
		if(event.ctrlKey && window.event.keyCode==10){
			sendComment(CommentSrc,'topic');
		}
	}
	window.document.onkeypress = ctlent;
}
//设置不同页面的兼容性
function init_comment(){	//这里可以初始化页面的更多特性
	var content = document.getElementById('content');
	if(Page.size==1024){
		content.cols=110;
	}else if(Page.size==776){
	
		content.cols=80;
	}
	//add by QGL
	checkLogin();
}
function checkLogin(){
	var response = isLogin();
	var loginDiv = document.getElementById('loginDiv');
	var str = '';
	if(response.result==0){
		UserInfo = response.data;
		document.getElementById('username').value = UserInfo.UserName;	
		str = '您好!' + UserInfo.UserName + ' 欢迎光临8264　　';
		str += '<a href="javascript:void(0)" onclick="logout();window.location.reload();">登出</a>';
	}else{
		//reurl = escape(location.href);
		//alert(reurl);
		//str = '<a href="http://www.8264.com/login/?forward='+location.href+'#commentfocus">登录</a>|<a href="http://shop.8264.com/index.php?gOo=cmVnaXN0ZXJfMS5kd3Q=&forward='+escape(location.href)+'#commentfocus">注册</a>后发表评论';
		hrefto = location.href;
		reurl = hrefto+'#commentfocus';
		reurl = escape(reurl);
		//reurl = escape(location.href+#commentfocus);
		//alert(reurl);
		str = '<a href="http://www.8264.com/login/?forward='+reurl+'">登录</a>　<a href="http://shop.8264.com/index.php?gOo=cmVnaXN0ZXJfMS5kd3Q=&forward='+escape(location.href)+'%23commentfocus">注册</a><span>后发表评论</span>';
	}
	loginDiv.innerHTML = str;
}
var UserInfo = {};
try{init_comment();}catch(e){}
</script>

</td>
    </tr>
  </table>
</div>
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="24" background="http://static.8264.com/oldcms/images/index1_93.gif"><div align="center">
        <table width="750" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center"><a href="/ziliao/about/aboutus.php" target="_blank">关于我们</a> | <a href="/list/531" target="_blank">联系我们</a> | <script type="text/javascript" src="http://js.tongji.yahoo.com.cn/0/276/78/ystat.js"></script><noscript><a href="http://js.tongji.yahoo.com.cn"><img src=http://js.tongji.yahoo.com.cn/0/276/78/ystat.gif></a></noscript> |  <a href="/ziliao/sitemap.html" target="_blank">网站地图</a> |  <a href="http://www.8264.com/tougao.php" target="_blank">我要投稿</a> | <a href="/ziliao/about/ad2.php" target="_blank">广告服务</a> | <a href="/list/531" target="_blank">编辑部的故事</a> | <a href="/sitelink/index.html" target="_blank"><font color="red">友情连接</font></a></td>
          </tr>
        </table>
    </div></td>
  </tr>
</table>
<div align="center">
<div align="center" style="width:776px; text-align:left; margin-left:auto; margin-right:auto;">
  <div align="center" style="width:776px; line-height:150%;padding-top:6px; text-align:center;" class="td"><a href="/8954.html" target="_blank"><font color="#0000ff">若发现本站有任何错误，请留言告诉我们</font></a> | <a href="http://bbs.8264.com/thread-35885-1-1.html" target="_blank"><font color="#0000ff">免费申请8264队旗和不干胶贴</font></a> | <a href="http://home.8264.com/" target="_blank"><font color="#0000ff">驴友之家</font></a><br>
      除了脚印什么都不留下 除了摄影什么都不带走，欢迎各种媒体转载我们的原创作品[转载请注明出处]。<br>
      <a href="/ziliao/about/ad2.php"><font color="red"><b>广告联系：022-23708264-818</b></font></a> Mail:admin<img src="http://static.8264.com/oldcms/images/mail.gif" width="10" height="10" border="0">8264.com <a href="http://www.miibeian.gov.cn" target="_blank">津ICP备05004140号-1</a>
      <br>
    <font color="#5F8C00">户外是有风险的运动，8264提醒您务必注意安全问题</font></div>
</div>
</div> 
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #004a9c;color: #004a9c;
padding-top: 6px;padding-right: 10px;padding-bottom: 4px;padding-left: 10px;margin-top:15px;text-align:center;">
    <tr>
      <td>合作项目：<a href="/">8264</a> | <a href="http://osm.8264.com/" target="_blank">户外经理人</a> | <a href="http://www.91ski.com/" target="_blank">就要滑雪网</a> | <a href="http://www.yododo.com/" target="_blank">游多多自助旅行网</a> | <a href="http://bbs.8264.com/" target="_blank">中国驴友论坛</a> | <a href="http://www.8844shop.com/" target="_blank">户外用品商城</a> | <a href="http://u.8264.com/" target="_blank">驴友录</a> | <a href="http://www.8264.com/pp/" target="_blank">户外美女</a>  </td>
    </tr>
</table>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1805684-1";
urchinTracker();
</script></body>
</html>