<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>2015年COA户外高峰论坛</title>
<link rel="stylesheet" type="text/css" href="http://static.8264.com/oldcms/moban/zt/201507coa/style/style.css">
<script src="http://static.8264.com/oldcms/moban/zt/201507coa/js/jquery-1.9.1.min.js"></script>
<script src="http://static.8264.com/oldcms/moban/zt/201507coa/js/jquery.js"></script>
</head>

<body>
<div class="nav">
	<div class="warpten clear_b">
        <span class="logo"></span>
        <a href="#q6">首页</a>
        <a href="#q1">关于COA</a>
        <a href="http://coa.asian-outdoor.com/index.php?m=People&a=index&id=3" target="_blank">嘉宾</a>
        <a href="#q3">新闻</a>
        <a href="#q4">交通住宿</a>
        <a href="#q5">关于我们</a>
    </div>
</div>
<div class="branner"></div>
<div class="con1">
	<div class="warpten">
    	<div class="title"><a name="q6"></a><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/title1.png"></div>
        <div class="jieshao clear_b">
        	<div class="info1">
                <p>COA户外高峰论坛在业界高度的关注期待中即将拉开帷幕！旨在打造户外产业高端交流平台，共同把脉中国户外产业发展方向，由中国户外品牌联盟(简称“COA”)主办、南京宁菲国际展览有限公司承办的“COA户外产业高峰论坛”将于2015年7月24日至7月25日(亚洲户外展期间)于南京博览中心金陵会议中心开启。</p>
                <p>论坛以“探索、发展、创新”为主题，由中国户外产业行业领袖巅峰对决，并诚邀国内外专家学者、各大户外品牌商、零售商和电商代表参与现场“石城论剑”，围绕户外行业发展趋势、现状、不足及展望进行讨论交流，为亚洲户外产业发展做出前瞻性预测，推动产业健康有序发展。</p>
            </div>
            <img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/infobg.jpg"/>
        </div>
    </div>
</div>
<div class="con2">
	<div class="warpten">
    	<div class="title"><a name="q1"></a><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/title2.png"></div>
        <div class="aboutuscon clear_b">
        	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/aboutus.jpg">
            <div>
            	<b>什么是COA</b>
                <p>为了推动中国户外市场的持续发展，一群在中国户外市场里面积极支持户外产业发展的本土品牌和国际品牌因认可合作共赢的理念而发起COA组织，并将COA全力打造成为推进中国户外运动文化发展的有效平台。</p>
                <p>COA全称为中国户外品牌联盟China Outdoor Association, 并于香港正式注册成立“中国户外品牌联盟有限公司”。该公司定位于非盈利性机构，是COA的常设经营组织。</p>
                <p>COA促进产业团结、竞合发展、建立户外行业壁垒，促进全民户外运动普及。发起理事包括探路者盛发强、凯乐石钟承湛、边城体育黄耿、牧高笛陆暾峰、思凯乐曾花等。他们和她们都是中国户外市场里面积极支持户外产业发展的本土品牌和国际品牌，因为认可合作共赢的理念而发起COA。为了更好的促进产业发展，2015年底COA将扩容联盟，引进更多品牌商。</p>
                <p>COA成员现经营品牌有：ACANU、DISCOVERY、 HALTI、KAILAS、 LEKI 、LOWA、 MEINDL、 MOBI GARDEN、 NORTHLAND、SCALER、TOREAD 、VAUDE。</p>
            </div>
        </div>
        <div class="titlefont">COA 大事件</div>
        <div class="biginfo clear_b">
        	<ul>
            	<li>
                	<span class="blue">
                    	<i class="mon">10月</i>
                        <i class="date">2014</i>
                    </span>
                    <p>
                    	<b>三一宣言</b>
                        2014年10月底，COA发表了“三一宣言”，声明要做好三个平台和一个标准。三个平台分别是亚洲户外用品展、COA户外高峰论坛、COA户外运动联赛，一个标准是COA户外产品质量标准。
                    </p>
                </li>
                <li>
                	<span class="blue">
                    	<i class="mon">2月</i>
                        <i class="date">2015</i>
                    </span>
                    <p>
                    	<b>理事会第一次会议</b>
                        会议在2015年2月于北京举行。会上探路者董事长盛发强当选为首届理事长，经盛发强理事长提名，会议通过钟承湛、黄耿为副理事长，张吉大为秘书长。
                    </p>
                </li>
                <li>
                	<span class="blue">
                    	<i class="mon">5月29日</i>
                        <i class="date">2015</i>
                    </span>
                    <p>
                    	<b>理事会第二次会议</b>
                        2015年5月29日，会上宣布了"中国户外品牌联盟有限公司"正式在香港注册成立。会议审议通过了COA年度工作计划；会议明确了2015年底将扩容联盟，引进更多品牌商。
                    </p>
                </li>
                <li>
                	<span class="blue">
                    	<i class="mon">6月18日</i>
                        <i class="date">2015</i>
                    </span>
                    <p>
                    	<b>"我要新鲜空气"活动</b>
                        2015年6月18日，COA正式推出"我要新鲜空气"第二版官方T恤。官方T恤将在京东、天猫等线上平台和TOREAD、KAILAS、NORTHLAND、MOBI GARDEN、SCALER等品牌的线下实体店同步发行。
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="con3">
	<div class="warpten">
    	<div class="talkbox">
        	<ul>
            	<li style="display:block">探路者将与COA同行们一起建立户外产品的联盟标准，提升专业化发展水平，确保专业运动领域对用户安全舒适的基本保障，借以建立行业边界，促进行业健康发展。我们还将在户外赛事、行业论坛等方面携手联动，推动全民健身在户外落地。在国家加快发展体育产业、促进体育消费的大背景下，让我们充分认知户外经济不同层面的发展机遇，融通资源，协作共进，自强、自律，竞争中更需合作，相信户外从业者将会迎来新的春天！</li>
                <li>"我要新鲜空气"是个伪命题，但又现实存在。希望这个命题尽快消失。</li>
                <li>因为热爱自然，所以践行环保。边城体育作为中国户外品牌联盟（COA）的成员，号召每一名户外人士都化身为环境卫士，坚持低碳、节约的绿色生活方式，为绿色户外的新风尚贡献自己的力量。拒绝污染，保护环境，为舒适自在的户外生活一起努力！</li>
                <li>当大家为生活忙碌时，却又常常忽略了汽车尾气、工业排放后空气对我们的影响。牧高笛作为中国户外品牌联盟（COA）成员，一直将绿色环保事业作为企业承担社会责任的重要使命之一，我们倡导每一个人都来到户外，和家人、朋友一起感受大自然的魅力，呼吸自由新鲜的空气。"我爱新鲜空气"，let's go！</li>
                <li>为我们共同的蓝天，思凯乐和你一起努力!</li>
                <li>作为COA重点支持的展会平台，亚洲户外展提倡和践行环保节约的工作生活理念，从自己做起，从小事做起，为现在和未来留住更多碧海蓝天，让人们享受更多美丽自然，呼吸到新鲜空气。</li>
            </ul>
        </div>
        <div class="renwulist clear_b">
        	<ul>
            	<li class="hover">
                	<span class="touxing"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/renwu1.jpg"/></span>
                    <a>TOREAD创始人、董事长兼集团CEO<br>盛发强</a>
                </li>
                <li>
                	<span class="touxing"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/renwu2.jpg"/></span>
                    <a>KAILAS总经理<br>钟承湛</a>
                </li>
                <li>
                	<span class="touxing"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/renwu3.jpg"/></span>
                    <a>边城体育集团 董事长<br>黄耿</a>
                </li>
                <li>
                	<span class="touxing"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/renwu4.jpg"/></span>
                    <a>MOBI GARDEN 总经理<br>陆暾峰</a>
                </li>
                <li>
                	<span class="touxing"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/renwu5.jpg"/></span>
                    <a>SCALER 总经理<br>曾花</a>
                </li>
                <li>
                	<span class="touxing"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/renwu6.jpg"/></span>
                    <a>亚洲户外展 项目总监<br>李皓</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="con4" style="display:none;">
	<div class="warpten">
    	<div class="title"><a name="q2"></a><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/title3.png"></div>
        <div class="jbbox clear_b">
        	<ul>
            	<li>
                	<a>
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a>
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb1.jpg"/>
                        <b>钟承湛</b>
                        <span>湛江玛雅旅游用品有限公司总经理</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>3盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>4盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>5盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>6盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>7盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>8盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>9盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>10盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>11盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>12盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>13盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>14盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
                <li>
                	<a href="#" target="_blank">
                    	<img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/jb.jpg"/>
                        <b>15盛发强</b>
                        <span>探路者创始人、董事长<br>兼集团CEO</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="zhankai"><i class="darrow"></i><em>展开更多</em></div>
    </div>
</div>
<div class="con5">
	<div class="warpten">
    	<div class="title"><a name="q3"></a><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/title4.png"></div>
        <div class="newslist">
        	<!--单挑开始-->
        	<div class="newsone clear_b">
            	<a href="http://coa.asian-outdoor.com/index.php?m=Article&a=show&id=122" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/1.jpg"/></a>
            	<div>
                	<a href="http://coa.asian-outdoor.com/index.php?m=Article&a=show&id=122" target="_blank">非一般的COA户外高峰论坛抢票啦，拼人品的时候到了！</a>
                    <p>户外高端论坛，行业前沿资讯，户外行业领袖的一场头脑风暴，没错，就在2015COA户外高峰论坛！论坛仅有300坐席，席位紧张，先来先得！还在等什么，还不赶快抢起来！</p>
                </div>
            </div>
            <!--单挑结束-->
            <div class="newsone clear_b">
            	<a href="http://coa.asian-outdoor.com/index.php?m=Article&a=show&id=119" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/2.jpg"/></a>
            	<div>
                	<a href="http://coa.asian-outdoor.com/index.php?m=Article&a=show&id=119" target="_blank">"新鲜空气" 一口怎么够！</a>
                    <p>2015年6月18日，中国户外品牌联盟（简称COA）正式推出"我要新鲜空气"第二版官方T恤。官方T恤将在京东、天猫等线上平台和TOREAD、KAILAS、NORTHLAND、MOBI等品牌...</p>
                </div>
            </div>
            <div class="newsone clear_b">
            	<a href="http://coa.asian-outdoor.com/index.php?m=Article&a=show&id=115" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/3.jpg"/></a>
            	<div>
                	<a href="http://coa.asian-outdoor.com/index.php?m=Article&a=show&id=115" target="_blank">中国户外品牌联盟集体发声：全力支持亚洲户外展</a>
                    <p>日前，中国户外品牌联盟（以下简称COA）的几大核心成员：探路者、凯乐石、边城体育、牧高笛、思凯乐均已明确表示将一如既往倾力支持亚洲户外展！</p>
                </div>
            </div>
            <div class="newsone clear_b">
            	<a href="http://coa.asian-outdoor.com/index.php?m=Article&a=show&id=114" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/4.jpg"/></a>
            	<div>
                	<a href="http://coa.asian-outdoor.com/index.php?m=Article&a=show&id=114" target="_blank">中国户外品牌联盟理事会召开会议</a>
                    <p>2015年5月29日，中国户外品牌联盟（简称COA）理事会召开会议，会议由COA理事长盛发强主持，钟承湛副理事长、黄耿副理事长、陆暾峰理事、曾花理事、张吉大秘书长等成员出席会议。</p>
                </div>
            </div>
            <div class="newsone clear_b">
            	<a href="http://coa.asian-outdoor.com/index.php?m=Article&a=show&id=116" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/5.jpg"/></a>
            	<div>
                	<a href="http://coa.asian-outdoor.com/index.php?m=Article&a=show&id=116" target="_blank">探路者董事长盛发强当选中国户外品牌联盟理事长</a>
                    <p>近日，中国户外品牌联盟（简称COA）首届理事会第一次会议在北京举行。会上探路者董事长盛发强当选为首届理事长，经盛发强理事长提名，会议通过钟承湛、黄耿为副理事长，张吉大为秘书长。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="con6">
	<div class="warpten">
    	<div class="title"><a name="q4"></a><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/title5.png"></div>
        <div class="jtbox clear_b">
        	<ul>
            	<li>
                	<b>机场至COA户外高峰论坛会场</b>
                    <p>乘坐机场大巴2号线（城西线）到万达广场下车，乘地铁2号线至元通站，4号出口</p>
                </li>
                <li>
                	<b>南京火车站至COA户外高峰论坛会场路线</b>
                    <p>乘坐地铁1号线（中国医科大学方向），到安德门站，转乘地铁10号线至元通站，4号出口</p>
                </li>
                <li>
                	<b>南京南站至COA户外高峰论坛会场路线</b>
                    <p>乘坐地铁1号线（迈皋桥方向），到安德门站，转乘地铁10号线至元通站，4号出口</p>
                </li>
                <li>
                	<b>地铁、公交</b>
                    <p>2号线或10号线，元通站4号出口，85路或92路，雨润大街站下车，步行300米左右到达展馆</p>
                </li>
                <li>
                	<b>出租车</b>
                    <p>南京国际博览中心北门——南京市建邺区白龙江西街</p>
                </li>
                <li>
                	<b>推荐酒店</b>
                    <p>南京国际博览中心酒店 地址：南京市建邺区金沙江西街16号（靠近南京国际博览中心8号门）</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="con7">
	<div class="warpten">
    	<div class="title"><a name="q5"></a><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/title6.png"></div>
        <div class="aboutusbox clear_b">
        	<ul>
            	<li>
                	<div class="namebox">
                    	<b>李皓</b>
                    	<span>项目总监</span>
                    </div>
                    <div class="telbox">
                        电话：0086-25-86891017<br>
                        传真：0086-25-86891510<br>
                        richardli@nfexpo.com
                    </div>
                	<div class="txbox"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/6.jpg"/></div>
                </li>
                <li>
                	<div class="namebox">
                    	<b>李洋君</b>
                    	<span>项目经理</span>
                    </div>
                    <div class="telbox">
                        电话：0086-25-86891512<br>
                        传真：0086-25-86891510<br>
                        leeyoung@nfexpo.com
                    </div>
                	<div class="txbox"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/7.jpg"/></div>
                </li>
                <li>
                	<div class="namebox">
                    	<b>丁利菊</b>
                    	<span>峰会服务</span>
                    </div>
                    <div class="telbox">
                        电话：0086-25-86891092<br>
                        传真：0086-25-86891510<br>
                        dingding@nfexpo.com
                    </div>
                	<div class="txbox"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/8.jpg"/></div>
                </li>
                <li>
                	<div class="namebox">
                    	<b>徐莹雅</b>
                    	<span>峰会服务</span>
                    </div>
                    <div class="telbox">
                        电话：0086-25-86891506<br>
                        传真：0086-25-86891510<br>
                        sophie@nfexpo.com
                    </div>
                	<div class="txbox"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/9.jpg"/></div>
                </li>
                <li>
                	<div class="namebox">
                    	<b>周宝玉</b>
                    	<span>媒体服务</span>
                    </div>
                    <div class="telbox">
                        电话：0086-25-86891551<br>
                        传真：0086-25-868915<br>
                        olivia@nfexpo.com
                    </div>
                	<div class="txbox"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/10.jpg"/></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer">
	<div class="footercon clear_b">
		<p class="footer_l">8264 版权所有 津ICP备05004140号-10 ICP证 津B2-20110106<br>
			<a href="http://bx.8264.com" target="_blank">户外有风险，8264提醒您购买户外保险</a></p>
		<p class="footer_r"><a target="_blank" href="http://www.8264.com/about-index.html">8264简介</a> | <a target="_blank" href="http://www.8264.com/about-contact.html">联系我们</a> | <a target="_blank" href="http://www.8264.com/about-adservice.html">广告服务</a> | <a target="_blank" href="http://www.8264.com/link/">户外网址大全</a> | <a target="_blank" href="http://www.8264.com/sitemap">网站地图</a></p>
	</div>
</div>
<div class="adright"><a href="http://coa.asian-outdoor.com/index.php?m=Meeting&a=index" target="_blank"><img src="http://static.8264.com/oldcms/moban/zt/201507coa/images/rightad.jpg"></a></div>
</body>
</html>
