<!--{subtemplate common/header_8264_new}-->
<!--{eval require_once DISCUZ_ROOT.'./source/function/function_post.php';}-->
<link rel="stylesheet" href="/source/plugin/whither/css/main.css?v=1" />
<script type="text/javascript" src="http://www.8264.com/static/js/jquery-1.6.1.min.js"></script>
<script type="text/javascript">
jQuery.noConflict();
</script>
<!--{if $_G['forum']['ismoderator']}-->
	<script type="text/javascript" src="{$_G[setting][jspath]}forum_moderate.js?{VERHASH}"></script>
<!--{/if}-->

<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
<div id="ct" class="wp cl{if $_G['forum']['allowside']} ct2{/if}">
	<div class="mn">
		<!--{hook/forumdisplay_top}-->

		<!--{if $subexists && $_G['page'] == 1}--><!--{template forum/forumdisplay_subforum}--><!--{/if}-->

		<div class="drag">
			<!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
		</div>

		<!--{if !empty($_G['forum']['recommendlist'])}-->
			<div class="bm bmw">
				<div class="bm_h cl">
					<h2>{lang forum_recommend}</h2>
				</div>
				<div class="bm_c cl">
					<!--{subtemplate forum/recommend}-->
				</div>
			</div>
		<!--{/if}-->

		<!--{hook/forumdisplay_middle}-->

		<!--{if !$subforumonly}-->

			<!--{if $recommendgroups && !$_G['forum']['allowside']}-->
			<div class="bm">
				<div class="bm_h cl">
					<h2>{lang recommended_groups}</h2>
				</div>
				<div class="bm_c">
					<ul class="ml mls cl">
					<!--{loop $recommendgroups $key $group}-->
						<li>
							<a href="forum.php?mod=group&fid=$group[fid]" title="$group[name]" target="_blank" class="avt"><img src="$group[icon]" alt="$group[name]"></a>
							<p><a href="forum.php?mod=group&fid=$group[fid]" target="_blank">$group[name]</a></p>
						</li>
					<!--{/loop}-->
					</ul>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $threadmodcount}--><div class="bm bmn hm xi2"><strong>{lang forum_moderate_unhandled}</strong></div><!--{/if}-->


			<div class="mudidi_index">
				<div class="mudidi_index_section">
					<div class="sidebar" style="position:relative;z-index:2">
						<div class="mudidi_info_nav">
							<h2 class="mudidi_info_title">出行目的地</h2>
							<dl class="mudidi_info_list">

								<dt><a href="#" onclick="return false;">国内出行</a></dt>
								<dd>
									<div class="mudidi_info_dropdown_index">
										<ul class="dropdown_list">
											<li>
												<h6>都市</h6>
												<p>
													<a href="/thread-892114-1-1.html">北京</a>
													<a href="/thread-892139-1-1.html">天津</a>
													<a href="/thread-892137-1-1.html">上海</a>
													<a href="/thread-892144-1-1.html">重庆</a>
													<a href="/thread-892147-1-1.html">台湾</a>
													<a href="/thread-892145-1-1.html">香港</a>
													<a href="/thread-892146-1-1.html">澳门</a>
												</p>
											</li>
											<!--{eval $navChinaRegionTids = array(
												'四川' => '892138',
												'西藏' => '892140',
												'新疆' => 892141,
												'云南' => '892142',
												'浙江' => '892143',
												'安徽' => '892113',
												'内蒙古' => '892131',
												'宁夏' => 892132,
												'福建' => '892115',
												'甘肃' => 892116,
												'黑龙江' => '892123',
												'辽宁' => 892130,
												'湖北' => 892125,
												'湖南' => '892126',
												'吉林' => 892127,
												'江苏' => '892128',
												'江西' => '892129',
												'青海' => '892133',
												'山东' => '892134',
												'山西' => 892135,
												'陕西' => 892136,
												'广东' => '892117',
												'广西' => '892118',
												'贵州' => '892119',
												'河北' => 892121,
												'河南' => 892122,
												'海南' => '892120',
											);}-->
											<!--{loop $navChinaRegionTids $regionName $tid}-->
											<!--{eval $navChinaRegionData = $forumoption_mudidi->getSubScapeareaByTid($tid, 15);}-->
											<li>
												<h6><a href="/thread-$tid-1-1.html">$regionName</a></h6>
												<p>
													<!--{loop $navChinaRegionData $region}-->
													<a href="/thread-{$region['tid']}-1-1.html">$region['name']</a>
													<!--{/loop}-->
												</p>
											</li>
											<!--{/loop}-->
										</ul>
									</div>
								</dd>
								<dt><a href="#" onclick="return false;">国外出行</a></dt>
								<dd>
									<div class="mudidi_info_dropdown_index">
										<ul class="dropdown_list">
											<!--{eval $navWorldRegionTids = array(
												'亚洲' => '892106',
												'欧洲' => '892108',
												'非洲' => '892109',
												'大洋洲' => '892110',
												'南美洲' => '892111',
												'北美洲' => '892112',
											);}-->
											<!--{loop $navWorldRegionTids $regionName $tid}-->
											<!--{eval $navWorldRegionData = $forumoption_mudidi->getSubRegionByTid($tid, 15);}-->
											<li>
												<h6><a href="/thread-$tid-1-1.html">$regionName</a></h6>
												<p>
													<!--{loop $navWorldRegionData $region}-->
													<a href="/thread-{$region['tid']}-1-1.html">$region['name']</a>
													<!--{/loop}-->
												</p>
											</li>
											<!--{/loop}-->
										</ul>
									</div>
								</dd>
								<dt><a href="/forum-ski.html">滑雪场</a></dt>
								<dt><a href="/forum-392-1.html">山峰查询系统</a></dt>
							</dl>
						</div>
						<script type="text/javascript">
							jQuery('.mudidi_info_nav dt').mouseover(function(){
								if (!jQuery(this).next().is('dd')) return;
								jQuery(this).children('a').addClass('with_dropdown');
								jQuery(this).next('dd').show();
							}).mouseout(function(){
								if (!jQuery(this).next().is('dd')) return;
								jQuery(this).children('a').removeClass('with_dropdown');
								jQuery(this).next('dd').hide();
							});

							jQuery('.mudidi_info_nav dd').mouseover(function(){
								jQuery(this).prev('dt').children('a').addClass('with_dropdown');
								jQuery(this).show();
							}).mouseout(function(){
								jQuery(this).prev('dt').children('a').removeClass('with_dropdown');
								jQuery(this).hide();
							})
						</script>
						<div class="index-sidebar-ad">
							<!--{ad/custom_77}-->
						</div>
						<div class="mudidi_button2">
							<h4 class="item2">
								<a href="http://bx.8264.com/?from=mudidi_index" target="_blank">户外保险</a>
							</h4>
							<h4 class="item3">
								<a href="http://bbs.8264.com/forum-440-1.html" target="_blank">旅舍预定</a>
							</h4>
						</div>

						<div id="pt">
							<!--{if $_G['setting']['search']}-->
								<!--{eval $slist = array();}-->
								<!--{if $_G['fid'] && $_G['forum']['status'] != 3 && $mod != 'group'}--><!--{block slist[forumfid]}--><li><input type="radio" id="mod_curform" class="pr" name="mod" value="curforum" checked="checked" /><label for="mod_curform" title="{lang search_this_forum}">{lang search_this_forum}</label></li><!--{/block}--><!--{/if}-->
								<!--{if $_G['setting']['search']['portal']['status'] && ($_G['group']['allowsearch'] & 1 || $_G['adminid'] == 1)}--><!--{block slist[portal]}--><li><input type="radio" id="mod_article" class="pr" name="mod" value="portal"{if CURSCRIPT == 'portal'} checked="checked"{/if} /><label for="mod_article" title="{lang search}{lang article}">{lang article}</label></li><!--{/block}--><!--{/if}-->
								<!--{if $_G['setting']['search']['forum']['status'] && ($_G['group']['allowsearch'] & 2 || $_G['adminid'] == 1)}--><!--{block slist[forum]}--><li><input type="radio" id="mod_thread" class="pr" name="mod" value="forum"{if CURSCRIPT == 'forum' && !$_G['fid']} checked="checked"{/if} /><label for="mod_thread" title="{lang search}$_G['setting']['navs'][2]['navname']">$_G['setting']['navs'][2]['navname']</label></li><!--{/block}--><!--{/if}-->
								<!--{if $_G['setting']['search']['blog']['status'] && ($_G['group']['allowsearch'] & 4 || $_G['adminid'] == 1)}--><!--{block slist[blog]}--><li><input type="radio" id="mod_blog" class="pr" name="mod" value="blog"{if CURSCRIPT == 'home' && $do != 'album'} checked="checked"{/if} /><label for="mod_blog" title="{lang search}{lang blog}">{lang blog}</label></li><!--{/block}--><!--{/if}-->
								<!--{if $_G['setting']['search']['album']['status'] && ($_G['group']['allowsearch'] & 8 || $_G['adminid'] == 1)}--><!--{block slist[album]}--><li><input type="radio" id="mod_album" class="pr" name="mod" value="album"{if CURSCRIPT == 'home' && $do == 'album'} checked="checked"{/if} /><label for="mod_album" title="{lang search}{lang album}">{lang album}</label></li><!--{/block}--><!--{/if}-->
								<!--{if $_G['setting']['groupstatus'] && $_G['setting']['search']['group']['status'] && ($_G['group']['allowsearch'] & 16 || $_G['adminid'] == 1)}--><!--{block slist[group]}--><li><input type="radio" id="mod_group" class="pr" name="mod" value="group"{if CURSCRIPT == 'group' || $_G['basescript']=='group'} checked="checked"{/if} /><label for="mod_group" title="{lang search}$_G['setting']['navs'][3]['navname']">$_G['setting']['navs'][3]['navname']</label></li><!--{/block}--><!--{/if}-->
								<!--{block slist[user]}--><li><input type="radio" id="mod_user" class="pr" name="mod" value="user" /><label for="mod_user" title="{lang search_user}">{lang users}</label></li><!--{/block}-->
								<!--{if $slist}-->
								<div id="sc" class="y">
									<form id="scform" method="post" autocomplete="off" onsubmit="searchFocus($('srchtxt'))" action="$_G[siteurl]search.php?searchsubmit=yes" target="_blank">
										<input type="hidden" name="formhash" value="{FORMHASH}" />
										<input type="hidden" name="srchtype" value="title" />
										<input type="hidden" name="srhfid" value="$_G[fid]" />
										<table cellspacing="0" cellpadding="0">
											<tr>
												<td style="display:none;"><a href="search.php" target="_blank" id="sctype" class="showmenu" onclick="showMenu(this.id);return false;">{lang search}</a></td>
												<td><input style="width:177px;" type="text" name="srchtxt" id="srchtxt" class="px z" value="{lang enter_content}" autocomplete="off" onfocus="searchFocus(this);" onblur="searchBlur(this);" /></td>
												<td><button id="search_submit" name="searchsubmit" type="submit" value="true" class="xw1">{lang search}</button></td>
											</tr>
										</table>
										<div id="sctype_menu" class="p_pop cl" style="display: none">
											<ul>
												<!--{echo implode('', $slist);}-->
											</ul>
										</div>
									</form>
									<script type="text/javascript">initSearchmenu();</script>
								</div>
								<!--{/if}-->
							<!--{/if}-->
						</div>
							<div class="index-sidebar-ad">
								<!--{ad/custom_58}-->
							</div>
							<div class="index-sidebar-ad">
								<!--{ad/custom_49}-->
							</div>
							<div class="index-sidebar-ad">
								<!--{ad/custom_123}-->
							</div>
							<!--{eval $commercectivityData = $forumoption_mudidi->getCommercectivityData(10);}-->
							<!--{if $commercectivityData}-->
							<div class="sidebar_box">
								<div class="sidebar_box_title">
									<a href="http://bbs.8264.com/forum-5-1.html" class="more">更多</a>
									<h5>商业活动</h5>
								</div>
								<div class="sidebar_box_content">
									<ul class="list2">
										<!--{loop $commercectivityData $activityeid $activity}-->
										<li>
											<div class="image">
												<a href="/thread-{$activity['tid']}-1-1.html">
													<!--{eval echo avatar($activity['authorid'], 'small');}-->
												</a>
											</div>
											<div class="text">
												<h6><a href="/thread-{$activity['tid']}-1-1.html">{$activity['subject']}</a></h6>
												<p class="color_gray">
													<span style="float:right;">
														<a href="/thread-{$activity['tid']}-1-1.html" title="查看">{$activity['views']}</a>/<a href="/thread-{$activity['tid']}-1-1.html" title="回复">{$activity['replies']}</a>
													</span>
													<a href="http://u.8264.com/home-space-uid-{$activity['authorid']}-do-profile.html">
														{$activity['author']}
													</a>
												</p>
											</div>
										</li>
										<!--{/loop}-->
										</script>
									</ul>
								</div>
							</div>
							<!--{/if}-->

						<div class="mudidi_button">
							<h4 class="item1">
								<a href="/forum-52-1.html" target="_blank">游记攻略</a>
							</h4>
							<h4 class="item2">
								<a href="/forum-187-1.html" target="_blank">路线大全</a>
							</h4>
							<h4 class="item3">
								<a href="/forum-39-1.html" target="_blank">户外摄影</a>
							</h4>
							<h4 class="item4">
								<a href="/forum-56-1.html" target="_blank">我秀我户外</a>
							</h4>
						</div>

					</div>

					<div class="section_right" style="width:692px;">
						<div class="" style="margin-bottom:10px;">
                            <div id="map">
                                <object width="692" height="351" data="/source/plugin/whither/images/newmap.swf" type="application/x-shockwave-flash">
			                    	<param value="/source/plugin/whither/images/newmap.swf" name="movie">
			                        <param value="transparent" name="wmode">
		                        </object>
                            </div>
						</div>
						<div style="margin-bottom:10px;overflow:hidden;width:692px;">
							<!--{ad/custom_83}-->
						</div>
							<div style="margin-bottom:10px;overflow:hidden;width:692px;">
							<!--{ad/custom_97}-->

						</div>
							{eval $guideData = $forumoption_mudidi->getLastedGuide(8);}
							{eval $guide_title = '最新攻略列表';}
							{eval $pub_guide_link = 'http://bbs.8264.com/forum-post-action-newthread-fid-52.html?mtid=892106';}
							{subtemplate forum/mudidi_guide}

							<!--{eval $activityData = $forumoption_mudidi->getLastedActivity('a.applynumber DESC', 6);}-->
							<!--{if $activityData}-->
							<div class="bm vw pl" id="comment" style="width:690px;">
							<table class="ralateActivety">
								<thead>
									<tr>
										<th class="tl" width="55%">最新活动&nbsp;|&nbsp;<a href="http://bbs.8264.com/forum-5-1.html" target="_blank"><font color="#0000FF">更多</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://bbs.8264.com/home-space-do-activity-view-all-order-hot-date-default-class.html?from=mudidi" target="_blank"><font color="#0000FF">发布新活动</font></a></th>
										<th class="tl" width="20%">发起者</th>
										<th width="15%">回复/查看</th>
										<th width="10%">报名</th>
									</tr>
								</thead>
								<tbody>
								  <!--{loop $activityData $activity}-->
									<tr>
										<td class="tl">
											<span class="dot"></span>
											<a href="/thread-{$activity[tid]}-1-1.html" class="ralateActivetyTitle" target="_blank" title="{$activity[subject]}">{$activity[subject]}</a>
										</td>
										<td class="tl">
											<div class="userFace">
												<!--{eval echo avatar($activity['authorid'], 'small');}-->
												{$activity[author]}
											</div>
										</td>
										<td>{$activity[replies]}/{$activity[views]}</td>
										<td><a href="/thread-{$activity[tid]}-1-1.html" class="hlink" target="_blank">报名</a></td>
									</tr>
								  <!--{/loop}-->
								</tbody>
							</table>
							</div>
							<!--{/if}-->
					</div>
					<div class="clear"></div>
				</div>

				<!--{subtemplate forum/mudidi_footer}-->
			</div>

		<!--{/if}-->
		<!--[diy=diyfastposttop]--><div id="diyfastposttop" class="area"></div><!--[/diy]-->

		<!--{hook/forumdisplay_bottom}-->
		<!--[diy=diyforumdisplaybottom]--><div id="diyforumdisplaybottom" class="area"></div><!--[/diy]-->
</div>

<!--{if $_G['forum']['allowside']}-->
	<div class="sd">
		<!--{if !$subforumonly}-->
			<div class="bm">
				<div class="bm_h">
					<h2>{lang their}: <!--{eval echo cutstr($_G['cache']['forums'][$_G['forum']['fup']]['name'], 22, '')}--></h2>
				</div>
				<div class="bm_c">
					<ul class="xl xl2 cl">
					<!--{loop $_G['cache']['forums'] $bforum}-->
						<!--{if $bforum['fup'] == $_G['forum']['fup'] && $bforum['status']}-->
							<li><a href="forum.php?mod=forumdisplay&fid=$bforum[fid]">$bforum['name']</a></li>
						<!--{/if}-->
					<!--{/loop}-->
					</ul>
				</div>
			</div>

			<!--{if $recommendgroups}-->
			<div class="bm">
				<div class="bm_h cl">
					<h2>{lang recommended_groups}</h2>
				</div>
				<div class="bm_c cl">
					<ul class="ml mls cl">
					<!--{loop $recommendgroups $key $group}-->
						<li>
						<a href="forum.php?mod=group&fid=$group[fid]" title="$group[name]" target="_blank" class="avt"><img src="$group[icon]" alt="$group[name]"></a>
						<p><a href="forum.php?mod=group&fid=$group[fid]" target="_blank">$group[name]</a></p>
						</li>
					<!--{/loop}-->
					</ul>
				</div>
			</div>
			<!--{/if}-->

			<!--{if !($_G['forum']['simple'] & 1) && $_G[setting][whosonlinestatus]}-->
				<div class="bm">
					<!--{if $detailstatus}-->
					<div class="bm_h cl">
						<span class="o y"><a href="forum.php?mod=forumdisplay&fid=$_G[fid]&page=$page&showoldetails=no#online"><img src="{IMGDIR}/collapsed_no.gif" alt="" /></a></span>
						<h2>{lang forum_activeusers} ($onlinenum)</h2>
					</div>
					<div class="bm_c">
						<ul class="ml mls cl">
						<!--{loop $whosonline $key $online}-->
							<li>
							<a href="home.php?mod=space&uid=$online[uid]" class="avt"><!--{avatar($online[uid],small)}--></a>
							<!--{if $online['uid']}-->
								<p><a href="home.php?mod=space&uid=$online[uid]">$online[username]</a></p>
							<!--{else}-->
								<p>$online[username]</p>
							<!--{/if}-->
							<span>$online[lastactivity]{LF}</span>
							</li>
						<!--{/loop}-->
						</ul>
					</div>
					<!--{else}-->
					<div class="bm_h cl">
						<span class="o y"><a href="forum.php?mod=forumdisplay&fid=$_G[fid]&page=$page&showoldetails=yes#online" class="nobdr"><img src="{IMGDIR}/collapsed_yes.gif" alt="" /></a></span>
						<h2>{lang forum_activeusers} ($onlinenum)</h2>
					</div>
					<!--{/if}-->
				</div>
			<!--{/if}-->
		<!--{/if}-->
		<div class="drag">
			<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
		</div>
		<!--{hook/forumdisplay_side_bottom}-->
	</div>
<!--{/if}-->
</div>
<!--{if $_G['group']['allowpost'] && ($_G['group']['allowposttrade'] || $_G['group']['allowpostpoll'] || $_G['group']['allowpostreward'] || $_G['group']['allowpostactivity'] || $_G['group']['allowpostdebate'] || $_G['setting']['threadplugins'] || $_G['forum']['threadsorts'])}-->
	<ul class="p_pop" id="newspecial_menu" style="display: none">
		<!--{if !$_G['forum']['allowspecialonly']}--><li><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]">{lang post_newthread}</a></li><!--{/if}-->
		<!--{if $_G['group']['allowpostpoll']}--><li class="poll"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&special=1">{lang post_newthreadpoll}</a></li><!--{/if}-->
		<!--{if $_G['group']['allowpostreward']}--><li class="reward"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&special=3">{lang post_newthreadreward}</a></li><!--{/if}-->
		<!--{if $_G['group']['allowpostdebate']}--><li class="debate"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&special=5">{lang post_newthreaddebate}</a></li><!--{/if}-->
		<!--{if $_G['group']['allowpostactivity']}--><li class="activity"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&special=4">{lang post_newthreadactivity}</a></li><!--{/if}-->
		<!--{if $_G['group']['allowposttrade']}--><li class="trade"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&special=2">{lang post_newthreadtrade}</a></li><!--{/if}-->
		<!--{if $_G['setting']['threadplugins']}-->
			<!--{loop $_G['forum']['threadplugin'] $tpid}-->
				<!--{if array_key_exists($tpid, $_G['setting']['threadplugins']) && @in_array($tpid, $_G['group']['allowthreadplugin'])}-->
					<li class="popupmenu_option"{if $_G['setting']['threadplugins'][$tpid][icon]} style="background-image:url($_G[setting][threadplugins][$tpid][icon])"{/if}><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&specialextra=$tpid">{$_G[setting][threadplugins][$tpid][name]}</a></li>
				<!--{/if}-->
			<!--{/loop}-->
		<!--{/if}-->
		<!--{if $_G['forum']['threadsorts'] && !$_G['forum']['allowspecialonly']}-->
			<!--{loop $_G['forum']['threadsorts']['types'] $id $threadsorts}-->
				<!--{if $_G['forum']['threadsorts']['show'][$id]}-->
					<li class="popupmenu_option"><a href="forum.php?mod=post&action=newthread&fid=$_G[fid]&extra=$extra&sortid=$id">$threadsorts</a></li>
				<!--{/if}-->
			<!--{/loop}-->
		<!--{/if}-->
	</ul>
<!--{/if}-->

<!--{if $_G['setting']['visitedforums'] || $oldthreads}-->
	<div id="visitedforums_menu" class="{if $oldthreads}visited_w {/if}p_pop blk cl" style="display: none;">
		<table cellspacing="0" cellpadding="0">
			<tr>
				<!--{if $_G['setting']['visitedforums']}-->
					<td id="v_forums">
						<h3 class="mbn pbn bbda xg1">{lang viewed_forums}</h3>
						<ul>
							$_G['setting']['visitedforums']
						</ul>
					</td>
				<!--{/if}-->
				<!--{if $oldthreads}-->
					<td id="v_threads">
						<h3 class="mbn pbn bbda xg1">{lang viewd_threads}</h3>
						<ul class="xl">
						<!--{loop $oldthreads $oldtid $oldsubject}-->
							<li><a href="forum.php?mod=viewthread&tid=$oldtid">$oldsubject</a></li>
						<!--{/loop}-->
						</ul>
					</td>
				<!--{/if}-->
			</tr>
		</table>
	</div>
<!--{/if}-->

<!--{if $_G['setting']['forumjump']}-->
	<div class="p_pop" id="fjump_menu" style="display: none">
	$forummenu
	</div>
<!--{/if}-->

<!--{if $_G['setting']['threadmaxpages'] > 1 && $page && !$subforumonly}-->
	<script type="text/javascript">document.onkeyup = function(e){keyPageScroll(e, <!--{if $page > 1}-->1<!--{else}-->0<!--{/if}-->, <!--{if $page < $_G['setting']['threadmaxpages'] && $page < $_G['page_next']}-->1<!--{else}-->0<!--{/if}-->, 'forum.php?mod=forumdisplay&fid={$_G[fid]}&filter={$filter}&orderby={$_G[gp_orderby]}{$forumdisplayadd[page]}&{$multipage_archive}', $page);}</script>
<!--{/if}-->

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

<div style="display:none;">
	<script src="http://s84.cnzz.com/stat.php?id=3496107&web_id=3496107&show=pic1" language="JavaScript"></script>
</div>
<!--{subtemplate common/footer_8264_new}-->
