<div class="float-guide"><a href="http://www.8264.com/list/842" target="_blank" class="photoDay">每日一图</a><a href="http://www.8264.com/pp/" target="_blank" class="steelRose">铿锵玫瑰</a><a href="http://www.8264.com/list/881" target="_blank" class="lineRec">线路推荐</a><a href="http://www.8264.com/list/880" target="_blank" class="braveFirst">勇者先行</a><a href="http://www.8264.com/list/842" target="_blank" class="equipRec">装备推荐</a> 
<script type="text/javascript">
$(document).ready(function(){ 
	var width=$(window).width();
	var csswd = (width-960)/2+960;
	$('.float-guide').css("left",csswd);
});
</script>
<style type="text/css">
/* 右侧固定导航 */
.float-guide { width: 110px; padding: 5px; float: left; position: fixed; top: 35%; _position: absolute; _bottom: auto; _top:expression(eval(document.documentElement.scrollTop));
_margin-top: 20%; border: 1px solid #e9e9e9; background-color: #fdfdfd; border-radius: 3px; }
.float-guide a { display: block; height: 36px; text-indent: 40px; font: 14px/36px "Microsoft YaHei"; color: #637a94; background-color: #FFF; border-radius: 3px; }
.float-guide a:hover { color: #FFF; background-color: #637a94; }
.float-guide .photoDay { background: url(/template/8264/css/moban/glxz/images/ico-guide.png) no-repeat 11px 9px;}
.float-guide .photoDay:hover { background-position: 11px -181px; }
.float-guide .steelRose { background: url(/template/8264/css/moban/glxz/images/ico-guide.png) no-repeat 11px -31px;}
.float-guide .steelRose:hover { background-position: 11px -222px; }
.float-guide .lineRec { background: url(/template/8264/css/moban/glxz/images/ico-guide.png) no-repeat 11px -67px;}
.float-guide .lineRec:hover { background-position: 11px -258px; }
.float-guide .braveFirst { background: url(/template/8264/css/moban/glxz/images/ico-guide.png) no-repeat 11px -103px;}
.float-guide .braveFirst:hover { background-position: 11px -293px; }
.float-guide .equipRec { background: url(/template/8264/css/moban/glxz/images/ico-guide.png) no-repeat 11px -137px;}
.float-guide .equipRec:hover { background-position: 11px -327px; }
</style>
</div>
