
<script src="http://www.8264.com/static/js/jquery-1.6.1.min.js" type="text/javascript"></script> 
<style>
.index_bottom_zh:after,.index_bottom_2_down:after { content: ""; display: block; clear: both; visibility: hidden;}
.index_bottom_zh,.index_bottom_2_down { zoom: 1; }
img{ border:0;}
.index_bottom_zh{ width:960px; border: 1px solid #d4d4d4; box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2); background: #FFF; padding:10px 0px; font-family:"Microsoft YaHei",Tahoma,Helvetica,SimSun,sans-serif;}
.yzxx{ width:205px; height:300px; float:left;margin:0px 0px 0px 10px; display:inline; position:relative; overflow:hidden;}
.yzxx img{ width:205px; height:300px;}
.index_bottom_2{ width:250px; float:left; margin:0px 0px 0px 10px; display:inline;}
.index_bottom_2_up{ width:250px; height:140px;  position:relative; overflow:hidden;}
.index_bottom_2_up img{ width:250px; height:140px;}
.index_bottom_2_down{ margin-top:10px;}
.zb1{ width:120px; height:150px; float:left; position:relative; overflow:hidden;}
.zb2{ width:120px; height:150px; float:right; position:relative; overflow:hidden;}
.zb1 img{ width:120px; height:150px;}
.zb2 img{ width:120px; height:150px;}


.zb3{ width:120px; height:150px; float:left; position:relative; overflow:hidden;}
.zb4{ width:120px; height:150px; float:right; position:relative; overflow:hidden;}
.zb3 img{ width:118px; height:148px; border:#ccc solid 1px;}
.zb4 img{ width:118px; height:148px; border:#ccc solid 1px;}

.tan23{ width:100%; height:100%; background:url( http://image.8264.com/oldcms/moban/zt/index_bottom/images/imgbg.png) bottom left no-repeat; position:absolute; bottom:0; left:0; display:none;}
.tan23 a{ display:block; color:#fff; text-decoration:none; line-height:1.2;}
.tan23 a:hover{ text-decoration:none;}

.tan23 .one{ padding:274px 0px 0px 10px; font-size:14px;}
.tan23 .two{ padding:114px 0px 0px 10px; font-size:14px;}
.tan23 .three{ padding:119px 0px 0px 6px; font-size:12px;}

</style>
<div class="index_bottom_zh">
	<div class="yzxx tanchu"><img src="http://image.8264.com/album/201305/17/1140268ik1nl1g18iko2xa.jpg"/><div class="tan23"><a href="http://www.8264.com/list/880" target="_blank" class="one">勇者先行：刘永邦</a></div></div>
    <div class="index_bottom_2">
    	<div class="index_bottom_2_up tanchu"><img src="http://image.8264.com/album/201305/17/114527sch68qhjwofaix9j.jpg"/><div class="tan23"><a href="http://www.8264.com/list/842" target="_blank" class="two">每日一图：沙漠激情</a></div></div>
        <div class="index_bottom_2_down">
        	<div class="zb3 tanchu"><img src="http://image.8264.com/album/201305/17/11532708zfmmo4joxpfnyj.jpg" /><div class="tan23"><a href="http://bbs.8264.com/forum-480-1.html" target="_blank" class="three">装备推荐<br>布来亚克皮肤风衣</a></div></div>
            <div class="zb4 tanchu"><img src="http://image.8264.com/album/201305/17/115957nrmu3kkj83mdc8wv.jpg" /><div class="tan23"><a href="http://bbs.8264.com/thread-1729558-1-1.html" target="_blank" class="three">装备推荐<br>JULBO太阳镜</a></div></div>
        </div>
    </div>
    <div class="index_bottom_2">
    	<div class="index_bottom_2_up tanchu"><img src="http://image.8264.com/album/201305/17/1145276oifiyfoookegy98.jpg"/><div class="tan23"><a href="http://bbs.8264.com/thread-1731182-1-1.html" target="_blank" class="two">每日一图：射日者</a></div></div>
        <div class="index_bottom_2_down">
        	<div class="zb1 tanchu"><img src="http://image.8264.com/album/201305/17/12043865diihae52h7e3ig.jpg"/><div class="tan23"><a href="http://www.8264.com/list/881" target="_blank" class="three">推荐线路<br>巴松措</a></div></div>
            <div class="zb2 tanchu"><img src="http://image.8264.com/album/201305/17/1204380um87vuvt2ev3mu3.jpg"/><div class="tan23"><a href="http://bbs.8264.com/thread-1671246-1-1.html" target="_blank" class="three">推荐线路<br>东甸子梁茶山</a></div></div>
        </div>
    </div>
    <div class="yzxx tanchu"><img src="http://image.8264.com/album/201305/17/120744thdzutpsgottwods.jpg"/><div class="tan23"><a href="http://www.8264.com/pp/" target="_blank" class="one">铿锵玫瑰：娜位小姐</a></div></div>
</div>

<script type="text/javascript">
jQuery(".index_bottom_zh .tanchu").mouseover(function(){
    jQuery(".tan23",this).show();
}).mouseout(function(){
    jQuery(".tan23",this).hide();
});
</script>			
