<?php foreach ((array)$greetings as $hv) : ?>
<li class="li_dzh <?php if(! $hv['isfriend']) : ?>dzh<?php endif;?>" id="poke_body_<?php echo $hv['fromuid']; ?>">
	<a href="home.php?mod=space&uid=<?php echo $hv['fromuid']; ?>" class="tx">
		<?php echo avatar($hv['fromuid'], 'middle'); ?>
		<?php if($hv['new']) : ?><i class="wd"> </i> <?php endif; ?>
	</a>
	<div>
		<span class="graydb"><?php echo dgmdate($hv['dateline'],'u'); ?></span>
		<span class="fl blueall">
			<a target="_blank" href="home.php?mod=space&uid=<?php echo $hv['fromuid']; ?>"><?php echo $hv['fromusername']; ?></a>
			<?php if($hv['iconid']){ echo $icons[$hv['iconid']]; }else{ echo lang('home/template', 'say_hi'); } ?>
			<?php if($hv['note']) { echo lang('home/template', 'say') . ': ' . $hv['note'];}?>
		</span>
		<span class="fr">
			<a href="home.php?mod=spacecp&ac=poke&op=reply&uid=<?php echo $hv['fromuid']; ?>&handlekey=pokereply" id="a_p_r_<?php echo $hv['fromuid']; ?>" 
				onclick="showWindow('pokereply', this.href, 'get', 0);">回招呼</a>
			<?php if(! $friends_list[$hv['fromuid']]) : ?>
			<a href="home.php?mod=spacecp&ac=friend&op=add&uid=<?php echo $hv['fromuid']; ?>&handlekey=afrfriendhk_<?php echo $hv['uid']; ?>" 
				id="afr_<?php echo $hv['fromuid']; ?>" onclick="showWindow(this.id, this.href, 'get', 0);">关注</a>
			<?php endif; ?>
			<a href="home.php?mod=space&do=notice&type=greeting&action=delete&uid=<?php echo $hv['fromuid']; ?>" id="a_p_i_<?php echo $hv['fromuid']; ?>" class="hlsq remove_greeting">忽略</a>
		</span>
	</div>
</li>
<?php endforeach; ?>
<?php if($greetings) : ?>
<script type="text/javascript">
jQuery(document).ready(function() {
	var totalPage = 1;
	var curPage = 1;
	if(jQuery('span.mulitpage').length == 1) {
		if(jQuery('span.mulitpage strong').length == 1) {
			curPage = parseInt(jQuery('span.mulitpage strong').text());
		}
		if(jQuery('span.mulitpage *:last').prop("tagName") != 'STRONG') {
			totalPage = parseInt(jQuery('span.mulitpage a[class!=nxt]:last').text().replace(/[^0-9]/gi, ''));
		}
		else {
			totalPage = curPage;
		}
	}
	var pageCount = <?php echo count($greetings); ?>;
	jQuery('a.remove_greeting').click(function() {
			var sure = dconfirm('忽略打招呼', '确定忽略招呼吗？', function(src) {
				if(! src) return;
				src = jQuery(src);
				var url = src.attr('href');
				if(! url) return false;
				jQuery.get(url, function(data) {
					if(data == 'success') {
						var li = src.parents('li:first');
						var ul = li.parents('ul:first');
						if(li.length == 1) {
							li.remove();
							showDialog("<p>删除成功</p>", 'notice', '','' , 0, '', '', '', '', 2);
						}
						pageCount--;
						if(pageCount == 0) {
							if(totalPage == 1) {
								ul.html('<li id="more_tips_new" style="text-align:center;"><div style="font-size:14px; text-align:center; padding:10px 0px;"><img src="http://static.8264.com/static/images/no_new_notice.png"/><span style="padding-top:10px; display:block;"><p>您当前没有 <em>招呼</em> 可以显示</p></span></div></li>');
							}
							else {
								var page = curPage < totalPage ? curPage : (totalPage - 1);
								window.location.href = "home.php?mod=space&do=notice&type=greeting&action=show&page=" + page + "&refresh=" + new Date().getTime();
							}
						}
					}
					else {
						alert('删除出错, 麻烦报告我们, 我们将会立即处理!');
					}
				});
			}, this);
			return false;
	});
});
</script>
<?php endif; ?>