<!--{subtemplate common/header_8264_new}-->
<link rel="stylesheet" type="text/css" href="http://static.8264.com/static/css/portal/index2017.css">
<script src="http://static.8264.com/static/js/index_2017.js?{VERHASH}" type="text/javascript"></script>
<style id="diy_style" type="text/css"></style>
</head>

<body>
    <div class="w1100 mt20">
    	<!--头部广告开始-->
		<div class="clear_b">
        	<div class="adleft">
            	<!--首页8264logo下小方框SCARPA width="230" height="170" -->
            	<script type='text/javascript'><!--//<![CDATA[
               var m3_u = (location.protocol=='https:'?'https://stats.8264.com/www/delivery/ajs.php':'http://stats.8264.com/www/delivery/ajs.php');
               var m3_r = Math.floor(Math.random()*99999999999);
               if (!document.MAX_used) document.MAX_used = ',';
               document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
               document.write ("?zoneid=11");
               document.write ('&amp;cb=' + m3_r);
               if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
               document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
               document.write ("&amp;loc=" + escape(window.location));
               if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
               if (document.context) document.write ("&context=" + escape(document.context));
               if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
               document.write ("'><\/scr"+"ipt>");
            //]]>--></script>
                <span class="adtag"></span>
            </div>
            <div class="adright">
            	<div class="adbox">
                    <!--850_80-->
                    <script type='text/javascript'><!--//<![CDATA[
				   var m3_u = (location.protocol=='https:'?'https://stats.8264.com/www/delivery/ajs.php':'http://stats.8264.com/www/delivery/ajs.php');
				   var m3_r = Math.floor(Math.random()*99999999999);
				   if (!document.MAX_used) document.MAX_used = ',';
				   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
				   document.write ("?zoneid=57");
				   document.write ('&amp;cb=' + m3_r);
				   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
				   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
				   document.write ("&amp;loc=" + escape(window.location));
				   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
				   if (document.context) document.write ("&context=" + escape(document.context));
				   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
				   document.write ("'><\/scr"+"ipt>");
				//]]>--></script>
                	<span class="adtag"></span>
                </div>
                <div class="adbox mt10">
                    <!--850_80-->
                    <script type='text/javascript'><!--//<![CDATA[
                   var m3_u = (location.protocol=='https:'?'https://stats.8264.com/www/delivery/ajs.php':'http://stats.8264.com/www/delivery/ajs.php');
                   var m3_r = Math.floor(Math.random()*99999999999);
                   if (!document.MAX_used) document.MAX_used = ',';
                   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
                   document.write ("?zoneid=19");
                   document.write ('&amp;cb=' + m3_r);
                   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
                   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
                   document.write ("&amp;loc=" + escape(window.location));
                   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
                   if (document.context) document.write ("&context=" + escape(document.context));
                   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
                   document.write ("'><\/scr"+"ipt>");
                //]]>--></script>
                	<span class="adtag"></span>
                </div>
            </div>
        </div>
        <!--头部广告结束-->
        <div class="clear_b mt20">
        	<div class="ztbox">
            	<div class="zttitle">
                	<a href="http://www.8264.com/topic_list/" target="_blank"><i></i>活动专题</a>
                </div>
                <div class="ztlist">
                	<ul>
                        <!--{block/7111}-->
                    </ul>
                </div>
            </div>
            <div class="adright gray">
            	<div class="fontad clear_b">
                	<ul>
                        <li><!--{ad/custom_274}--></li>
                        <li><!--{ad/custom_275}--></li>
                        <li><!--{ad/custom_276}--></li>
                        <li><!--{ad/custom_277}--></li>
                        <li><!--{ad/custom_278}--></li>
                        <li><!--{ad/custom_279}--></li>
                        <li><!--{ad/custom_280}--></li>
                        <li><!--{ad/custom_281}--></li>
                    </ul>
                    <span class="adtag"></span>
                </div>
                <div class="adbox plr50 mtb10 clear_b" style="margin:18px 0px 0px 0px; padding:0px;">
                    <div style="float:left; display:none">
                        <!--{ad/custom_453}-->
                    </div>
                    <div style="float:right; display:none;">
                        <!--{ad/custom_454}-->
                    </div>
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://stats.8264.com/www/delivery/ajs.php':'http://stats.8264.com/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=87");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script>
                    <span class="adtag"></span></div>
            </div>
        </div>
        <!--资讯开始-->
        <div class="mt20">
            <div class="bigtitlebox clear_b">
            	<b class="bigtitle">推荐</b>
                <div class="taglist">
                	<a href="http://www.8264.com/list/751/" target="_blank">资讯</a>
                	<a href="http://www.8264.com/list/204/" target="_blank">装备</a>
                    <a href="http://www.8264.com/list/489/" target="_blank">业界</a>
                    <a href="http://www.8264.com/list/733/" target="_blank">国际</a>
                    <a href="{$_G[config][web][forum]}forum-12-1.html" target="_blank">户外大厅</a>
                    <a href="http://www.ispo.com.cn/" target="_blank" rel="nofollow">来ISPO.看更多</a>
                </div>
                <a href="http://www.8264.com/list/751/" target="_blank" class="morelink">更多</a>
            </div>
            <div class=" clear_b">
            	<div class="w740">
                  <!--资讯开始-->
                  <div class="">
                 		<!--{block/6997}-->
                    <!-- 户外学校广告 -->
                    <!--{ad/custom_475}-->
                  </div>
                  <!--资讯结束-->
                </div>
                <div class="w300">
                	<div class="righttitle mt27" style="display:none;">装备资讯</div>
                    <div class="zbzxbox" style="display:none;">
                        <div class="zbzxcon">
                            <!--装备单条开始-->
                            <!--{loop $article204_array $artcle204_date $article204_item}-->
                            <div class="zbone">
                                <div class="zbtimebox">
                                    <span class="zbtimecon">{$artcle204_date}</span>
                                    <div class="zbconlist">
                                         <!--{loop $article204_item $val}-->
                                        <a href="http://www.8264.com/viewnews-{$val['aid']}-page-1.html" target="_blank">{$val['title']}</a>
                                        <!--{/loop}-->
                                    </div>
                                </div>
                            </div>
                            <!--{/loop}-->
                            <!--装备单条结束-->

                        </div>
                	</div>
                    <div class="adbox" style="margin-top:27px;">
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://stats.8264.com/www/delivery/ajs.php':'http://stats.8264.com/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=83");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script>
                        <span class="adtag"></span>
                    </div>
                    <div class="adbox" style="margin-top:15px;">
                        <!--{ad/custom_461}-->
                    </div>
                </div>
            </div>
        </div>
        <!--资讯结束-->
        <div class="adbox mt10">
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://stats.8264.com/www/delivery/ajs.php':'http://stats.8264.com/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=90");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script>
            <span class="adtag"></span>
        </div>
        <!--游记开始-->
        <div class="mt25">
        	<div class="bigtitlebox clear_b">
            	<b class="bigtitle">经典</b>
                <div class="taglist" style=" width:685px;">
                	<a href="http://www.8264.com/youji/list-370976926840480-2-1.html" target="_blank">四川</a>
                    <a href="http://www.8264.com/youji/list-370866516119456-2-1.html" target="_blank">云南</a>
                    <a href="http://www.8264.com/youji/list-371031142404000-2-1.html" target="_blank">西藏</a>
                    <a href="http://www.8264.com/youji/list-371010400521888-1-1.html" target="_blank">尼泊尔</a>
                    <a href="http://www.8264.com/list/881" target="_blank" class="xialudownload">100条线路攻略下载</a>
                    <a href="http://bbs.8264.com/forum-post-action-newthread-fid-52.html" target="_blank" style="float:right;border-left:none 0;">发布游记</a>
                </div>
                <a href="http://www.8264.com/youji/" target="_blank" class="morelink">更多</a>
            </div>
            <div class=" clear_b">
            	<div class="w740">
                    <div>
						<!--{block/7113}-->
                    </div>
                </div>
                <div class="w300">
                	<div class="righttitle mt27">热门旅行地<a href="http://www.8264.com/youji/" target="_blank" class="alllink">全部</a></div>
                    <div class="hotmudidibox clear_b">
                        <ul>
                            <!--{loop $place_array $place_name}-->
                            <li>
                                <a href="http://www.8264.com/youji/list-{$place_result[$place_name]['placeid']}-{$place_result[$place_name]['level']}-1.html" target="_blank">
                                    <span>{$place_name}</span>
                                    <em>{$place_result[$place_name]['actnum']}篇</em>
                                </a>
                            </li>
                            <!--{/loop}-->
                        </ul>
                    </div>
                    <div class="adbox" style="margin-top:15px;">
                    	<!--{ad/custom_462}-->
                    	<span class="adtag"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--游记结束-->

         <div class="adbox mt30">
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://stats.8264.com/www/delivery/ajs.php':'http://stats.8264.com/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=15");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script>
            <span class="adtag"></span>
        </div>


         <div class="adbox mt10">
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://stats.8264.com/www/delivery/ajs.php':'http://stats.8264.com/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=81");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://stats.8264.com/www/delivery/ck.php?n=ab2c2fb4&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://stats.8264.com/www/delivery/avw.php?zoneid=81&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=ab2c2fb4' border='0' alt='' /></a></noscript>
            <span class="adtag"></span>
        </div>










        <div class="mt25">
            <div class="bigtitlebox clear_b">
            	<b class="bigtitle">户外学校</b>
                <div class="taglist">
                	<a href="http://www.8264.com/list/242" target="_blank">徒步</a>
                    <a href="http://www.8264.com/list/919" target="_blank">滑雪</a>
                    <a href="http://www.8264.com/list/931" target="_blank">急救</a>
                    <a href="http://www.8264.com/list/917" target="_blank">骑行</a>
                    <a href="http://www.8264.com/list/952" target="_blank">潜水</a>
                </div>
                <a href="http://www.8264.com/list/238/" target="_blank" class="morelink">更多</a>
            </div>
            <div class=" clear_b">
            	<div class="w740">
                	<div class="">
						<!--{block/7114}-->
                    </div>
                </div>
                <div class="w300">
                	<div class="righttitle mt27">户外考试</div>
                    <div class="mt20">
                    	<style>
							#kaoshiadbox{ width:300px; height:247px; display:block; position:relative;}
							#kaoshiadbox span{ display:none;}
							#kaoshiadbox:hover span{ position:absolute; display:block; top:0px; left:0px; right:0px; bottom:0px; width:100%; height:247px; display:block;}
						</style>
                    	<a href="http://www.8264.com/xuexiao/" target="_blank" id="kaoshiadbox">
                        	<img src="http://static.8264.com/static/images/moban/indexnew/images/kaoshiad_1.jpg">
                            <span><img src="http://static.8264.com/static/images/moban/indexnew/images/kaoshiad_1_h.png"></span>
						</a>
                    </div>
                    <div class="kaoshilist mt20 clear_b" style="display:none;">
                    	<ul>
                        	<li><a href="#"><span>安全急救</span><em>8</em></a></li>
                            <li><a href="#"><span>安全急救</span><em>23</em></a></li>
                            <li><a href="#"><span>安全急救</span><em>123</em></a></li>
                            <li><a href="#"><span>安全急救</span><em>123</em></a></li>
                            <li><a href="#"><span>安全急救</span><em>123</em></a></li>
                            <li><a href="#"><span>安全急救</span><em>123</em></a></li>
                            <li><a href="#"><span>安全急救</span><em>123</em></a></li>
                            <li><a href="#"><span>安全急救</span><em>123</em></a></li>
                            <li><a href="#"><span>安全急救</span><em>123</em></a></li>
                            <li><a href="#"><span>安全急救</span><em>123</em></a></li>
                        </ul>
                    </div>
                    <div class="kaoshilist clear_b" style="display:none;">
                    	<ul>
                        	<li><a href="http://www.8264.com/kaoshi/type-exam-cat-1.html" target="_blank"><img src="http://static.8264.com/static/images/moban/indexnew/images/xuicon1.png"><span>户外基础</span></a></li>
                            <li><a href="http://www.8264.com/kaoshi/type-exam-cat-2.html" target="_blank"><img src="http://static.8264.com/static/images/moban/indexnew/images/xuicon2.png"><span>安全急救</span></a></li>
                            <li class="end"><a href="http://www.8264.com/kaoshi/type-exam-cat-9.html" target="_blank"><img src="http://static.8264.com/static/images/moban/indexnew/images/xuicon3.png"><span>滑雪</span></a></li>
                        </ul>
                    </div>
                    <div class="righttitle" style="margin-top:36px;">线下培训</div>
                    <div class="trainbox">
						<!--{ad/custom_455}-->
                    </div>
                </div>
            </div>
        </div>
        <!--线路开始-->
        <div class="mt25">
            <div class="bigtitlebox clear_b">
            	<b class="bigtitle">线路</b>
                <a href="http://hd.8264.com/" class="hdad" target="_blank"><img src="http://static.8264.com/static/images/moban/indexnew/images/hdad.png"/></a>
                <a href="http://hd.8264.com/" class="morelink" target="_blank">更多</a>
            </div>
            <div class="clear_b">
            	<div class="w740">
                    <div class="hdtop clear_b">
                    <!--{loop $xl_result_left_one $id $item}-->
                    	<div class="hdtopone {if $id>0} hdtoponeright {/if}">
                            <!--{if $item['goods_id']}-->
                                <div class="hdbigimg"><a href="http://hd.8264.com/xianlu-{$item['goods_id']}" target="_blank"><img src="{$item['default_image']}" /></a></div>
                                <div class="hdtopinfobox">
                                    <a href="http://hd.8264.com/xianlu-{$item['goods_id']}" target="_blank">{$item['title']}</a>
                                    <div class="didian_datebox clear_b">
										<span class="didianleft">
                                        	<b><i>&yen;</i>{$item['price']}</b>
                                            <em class="begin" style="display:none">{$item['start_place']}</em>
                                            <em class="end" style="display:none;">{$item['end_place']}</em>
                                        </span>
                                        <span class="dateright">{$item['start_place']}出发</span>
                                    </div>
                                </div>
                            <!--{else}-->
                                <div class="hdbigimg"><a href="{$item['url_pc']}" target="_blank"><img src="{$item['default_image']}" /></a></div>
                                <div class="hdtopinfobox">
                                    <a href="{$item['url_pc']}" target="_blank">{$item['title']}</a>
                                </div>
                            <!--{/if}-->
                        </div>
                    <!--{/loop}-->
                    </div>
                    <div class="hdlistbox">
                        <!--{loop $xl_result_left_two $id $item}-->
                            <div class="hdlistone">
                                <div class="hdlistimg">
                                        <a href="http://hd.8264.com/xianlu-{$item['goods_id']}" target="_blank"><img src="{$item['default_image']}"></a>
                                </div>
                                <div class="newsinfo">
                                    <div class="hdtitlebox clear_b">
                                        <h2><a href="http://hd.8264.com/xianlu-{$item['cate_id']}-0-0-0-1" class="channel" target="_blank">{$item['cate_name']}</a><a href="http://hd.8264.com/xianlu-{$item['goods_id']}" target="_blank" alt="{$item['title']}" title="{$item['title']}">{$item['title']}</a></h2>
                                    </div>
                                    <div class="hdinfocon">由{$item['store_name']}提供服务</div>
                                    <div class="hdinfobox clear_b">
										<span class="didianleft" style="display:none;">
                                            <em class="begin">{$item['start_place']}</em>
                                            <em class="end">{$item['end_place']}</em>
                                        </span>
                                        <em class="timeicon">{$item['goods_spec']['m']}-{$item['goods_spec']['d']}</em>
                                        <span class="liulan">{$item['start_place']}出发</span>
                                        <b><i>&yen;</i>{$item['price']}</b>
                                    </div>
                                </div>
                            </div>
                        <!--{/loop}-->
                    </div>
                </div>
                <div class="w300">
                    <div class="righttitle mt27">周末活动<a href="http://hd.8264.com/xianlu-0-0-0-{$xl_result_right['placecode']}-0-3-1?start=1" class="mudidi" target="_blank">{$xl_result_right['city']}</a></div>
                    <div class="weektitlebox" id="weektitlebox" style="display:none;">
                        <!--{loop $xl_result_right['data'] $id $item}-->
                            <a href="#" class="{if $id == 0} act {/if}">{$item['date']}月</a>
                        <!--{/loop}-->
                    </div>
                    <div id="weekbox">
                        <!--{loop $xl_result_right['data'] $id $item}-->
                        <div class="weekbox" >
                            <!--单条开始-->
                            <div class="weekcon">
                                <div class="weekdate">
                                    <b>{$item['date']}</b>
                                    <em><!--{if $item['month']}-->{$item['month']}月<!--{else}-->日期<!--{/if}--></em>
                                </div>
                                <div class="weekinfo">
                                    <a href="http://hd.8264.com/xianlu-{$item['goods_id']}" target="_blank">{$item['title']}</a>
                                    <div class="weektxgz clear_b">
                                        <span>{$item['store_name']}</span>
                                    </div>
                                </div>
                            </div>
                            <!--单条结束-->
                        </div>
                        <!--{/loop}-->
                    </div>
                    <div class="righttitle mt40">热门玩法</div>
                    <div class="hotmudidibox clear_b" style=" margin-top:30px;">
                        <ul>
                            <!--{loop $xl_result_right_bottom $item}-->
                            <li>
                                <a href="http://hd.8264.com/xianlu-{$item['cate_id']}-0-0-0-0-0-2-1" target="_blank">
                                    <span>{$item['cate_name']}</span>
                                    <em>{$item['count']}条</em>
                                </a>
                            </li>
                            <!--{/loop}-->
                            <li>
                                <a href="http://hd.8264.com/xianlu-0-0-0-0-0-0-2-1" target="_blank">
                                   <i>全部</i>
                                </a>
                            </li>
						</ul>
                    </div>
                </div>
            </div>
        </div>
        <!--线路结束-->
        <!--值得买循环开始-->
        <!--{eval include_once(DISCUZ_ROOT.'./source/plugin/skiing/hd_zw.php');}-->
        <!--{eval $zhidemai_list = ForumOptionHuoDong::pianyi_sidebar(6, 'top', 'jiu', '10027');}-->
        <!--{if $zhidemai_list}-->
        <div class="mt30">
          <!--{subtemplate common/zhidemai}-->
        </div>
        <!--{/if}-->
        <!--值得买循环结束-->

        <!--问答点评开始-->
        <div class="mt25">
            <div class="bigtitlebox clear_b">
            	<b class="bigtitle">问答·点评</b>
                <div class="taglist" style="width:620px;">
                	<a href="http://www.8264.com/wenda/list-0-10000062-1.html" target="_blank">户外运动</a>
                    <a href="http://www.8264.com/wenda/list-0-10000015-1.html" target="_blank">徒步</a>
                    <a href="http://www.8264.com/wenda/list-0-10000007-1.html" target="_blank">户外安全</a>
                    <a href="http://www.8264.com/wenda/list-0-10000034-1.html" target="_blank">骑行</a>
                    <a href="http://www.8264.com/wenda/list-0-10000064-1.html" target="_blank">登山</a>
                    <a href="http://www.8264.com/wenda/list-0-10000020-1.html" target="_blank">滑雪</a>
                    <a href="http://bbs.8264.com/forum-post-action-newthread-fid-12.html" target="_blank" style="float:right;border-left:none 0;">我要求助</a>
                </div>
                <a href="http://www.8264.com/wenda/" target="_blank" class="morelink">更多</a>
            </div>
            <div class=" clear_b mt25">
            	<div class="w740">
                	<!--问答开始-->
                	<div class="askbox clear_b">
                    	<div class="askcon">
                            <!--单条开始-->
                            <!-- {loop $question_list $question_one} -->
                            <div class="askone">
                                <div class="asktop">
                                    {$question_one['textauthoravatar']}
                                    <div class="askinfo">
                                        <span>{$question_one['textauthor']}</span><em>回答了该问题</em>
                                        <a href="http://www.8264.com/wenda/{$question_one['topicid']}.html" target="_blank">{$question_one['title']}</a>
                                    </div>
                                </div>
                                <div class="answerbox">
                                    <div class="answercon">
                                        {$question_one['textrcontent']}
                                    </div>
                                </div>
                            </div>
                            <!-- {/loop} -->
                            <!--单条结束-->
                        </div>
                    </div>
                    <!--问答结束-->
                </div>
                <div class="w300">
					<div class="dianpinglist">
                    	<div class="dianpingtitle" id="dianpingtitle">
                            <a href="http://www.8264.com/xianlu" class="act" target="_blank">线路</a>
                            <a href="http://www.8264.com/zhuangbei" target="_blank">装备</a>
                            <a href="http://www.8264.com/shanfeng" target="_blank">山峰</a>
                            <a href="http://www.8264.com/xuechang" target="_blank">滑雪场</a>
                        </div>
                        <div id="dianpingcong">
                            <div class="dianpingcon">
                                <!-- {loop $linediList $k $v} -->
                                <div class="dianpingone">
                                	<em class="fenshu">{if $v['price'] < 10}{$v['price']}{else}{echo intval($v['price'])}{/if}</em>
                                    <div class="dianpininfo">
                                    	<a href="http://www.8264.com/xianlu-{$v['tid']}" title="{$v['name']}" target="_blank">$v['name']</a>
                                        <span class="score-value score-value-{echo floor($v['price'])}">
                                        	<em></em>
                                        </span>
                                    </div>
                                </div>
                                <!-- {/loop} -->
                            </div>

                            <div class="dianpingcon" style="display:none">
                                <!-- {loop $eqdiList $k $v} -->
                                <div class="dianpingone">
                                	<em class="fenshu">{if $v['price'] < 10}{$v['price']}{else}{echo intval($v['price'])}{/if}</em>
                                    <div class="dianpininfo">
                                    	<a href="http://www.8264.com/zhuangbei-{$v['tid']}" title="{$v['name']}" target="_blank">$v['name']</a>
                                        <span class="score-value score-value-{echo floor($v['price'])}">
                                        	<em></em>
                                        </span>
                                    </div>
                                </div>
                                <!-- {/loop} -->
                            </div>

                            <div class="dianpingcon" style="display:none">
                                <!-- {loop $mountainList $k $v} -->
                                <div class="dianpingone">
                                	<em class="fenshu">{if $v['price'] < 10}{$v['price']}{else}{echo intval($v['price'])}{/if}</em>
                                    <div class="dianpininfo">
                                    	<a href="http://www.8264.com/shanfeng-{$v['tid']}" title="{$v['name']}" target="_blank">$v['name']</a>
                                        <span class="score-value score-value-{echo floor($v['price'])}">
                                        	<em></em>
                                        </span>
                                    </div>
                                </div>
                                <!-- {/loop} -->
                            </div>

                            <div class="dianpingcon" style="display:none">
                                <!-- {loop $skidiList $k $v} -->
                                <div class="dianpingone">
                                	<em class="fenshu">{if $v['price'] < 10}{$v['price']}{else}{echo intval($v['price'])}{/if}</em>
                                    <div class="dianpininfo">
                                    	<a href="http://www.8264.com/xuechang-{$v['tid']}" title="{$v['name']}" target="_blank">$v['name']</a>
                                        <span class="score-value score-value-{echo floor($v['price'])}">
                                        	<em></em>
                                        </span>
                                    </div>
                                </div>
                                <!-- {/loop} -->
                            </div>



						</div>
                    </div>
                </div>
            </div>
        </div>
        <!--问答点评结束-->
        <!--活动开始-->
        <div class="">
            <div class="bigtitlebox clear_b">
            	<b class="bigtitle">8264活动</b>
                <a href="http://www.8264.com/link/marketing.html" target="_blank" class="morelink">更多</a>
            </div>
            <div class=" clear_b mt25">
				<!--{ad/custom_458}-->
            </div>
            <div class="clear_b bbstschannel">
            	<a href="http://www.8264.com/list/842/" target="_blank"><img src="http://static.8264.com/static/images/moban/indexnew/images/mryt.jpg"></a>
                <a href="http://www.8264.com/pp" target="_blank"><img src="http://static.8264.com/static/images/moban/indexnew/images/kqmg.jpg"></a>
                <a href="http://www.8264.com/list/880/" target="_blank"><img src="http://static.8264.com/static/images/moban/indexnew/images/yzxx.jpg"></a>
                <a href="http://www.8264.com/list/912/" target="_blank"><img src="http://static.8264.com/static/images/moban/indexnew/images/hwsys.jpg"></a>
                <a href="http://www.8264.com/list/871/" target="_blank"><img src="http://static.8264.com/static/images/moban/indexnew/images/sfc.jpg"></a>
            </div>
        </div>
        <!--活动结束-->
    </div>
    <div class="difangbanbox">
    	<!--地方开始-->
    	<div class="w1100 clear_b pb26">
        	<div class="dfbone first">
            	<div class="dfbtitle">综合版</div>
                <!--{block/7132}-->
            </div>
            <div class="dfbone middle">
            	<div class="dfbtitle">专业版</div>
				<!--{block/7133}-->
            </div>
            <div class="dfbone end">
            	<div class="dfbtitle">地方版</div>
                <!--{block/7134}-->
            </div>
        </div>
        <!--地方结束-->
    </div>
    <div class="friendLinkbox">
    	<div class="w1100 border_t">
        	<div class="border_t_linght clear_b pt26">
            	<!--{hook/global_friendlylink}-->
            </div>
        </div>
    </div>
    <!--底部开始-->
    <div class="footerbox">
    	<div class=" w1100 clear_b">
        	<div class="footleftbox">
            	<div class="foot_left_top">
                	户外有风险，8264提醒您购买<a href="http://bx.8264.com/?8264com" target="_blank">户外保险</a>
                    <a target="_blank" href="http://bbs.8264.com/member-clearcookies-formhash-d64f4f90.html" rel="nofollow">清除COOKIE</a>
                    |
                    <a target="_blank" href="http://bbs.8264.com/misc-stat.html" rel="nofollow">站点统计</a>
                    |
                    <a target="_blank" href="http://www.8264.com/about-contact.html" rel="nofollow">联系我们</a>
                    |
                    <a href="http://www.8264.com/about-contact.html#q4" rel="nofollow">8264招聘</a>
                    |
                    <a href="http://bbs.8264.com/misc-faq.html" rel="nofollow">帮助</a>
                    |
                    <a href="http://bbs.8264.com/thread-2317569-1-1.html" style="color:#00b4f9;">8264手机触屏版</a>
                </div>
                <div class="foot_left_bottom"><a href="http://www.miitbeian.gov.cn/" target="_blank">津ICP备05004140号-10</a>&nbsp;&nbsp;&nbsp;ICP证 津B2-20110106&nbsp;&nbsp;&nbsp;天津信一科技有限公司版权所有</div>
            </div>
            <div class="footrightbox">
            	<a class="qdcionbottom" href="http://na3.tjaic.gov.cn/netmonitor/query/ScrNetEntQuery/Display.do?show=1&id=6eb59bd37f0000011ec3c0e5a59f7891-1-v-e-r-&ztLOID=8b4b03e47f0000012b8f0a26c9a87e67" target="_blank"><img src="http://static.8264.com/static/images/moban/indexnew/images/guohui.png" width="49px"></a>
            </div>
        </div>
    </div>
    <!--底部结束-->

<!-- 广告位：首页右下角骆驼广告开始 -->
<style>
	.bottomclosebox{ height:15px;border:1px solid #e1e1e1; margin:0;padding:0;overflow:hidden; background:#f0f0f0;}
	.closeltbutton{ background:url(http://static.8264.com/static/images/moban/index2013/images/closecamle.gif) 0 0 no-repeat; cursor: pointer;float: right;height: 13px; margin: 2px 5px 0 0;width: 39px;}
	.closeltbutton:hover{ background:url(http://static.8264.com/static/images/moban/index2013/images/closecamle.gif) 0 -20px no-repeat; }
	.smallcamelbox{ width:200px; height:217px; overflow: hidden; z-index: 2147483647; right: 0px; bottom: 0px; position: fixed!important; position: absolute;}
</style>
<div class="smallcamelbox" style="display:none;">
	<!-- 广告位：骆驼双11首页右下角（小）390  -->
	<script type='text/javascript'><!--//<![CDATA[
       var m3_u = (location.protocol=='https:'?'https://stats.8264.com/www/delivery/ajs.php':'http://stats.8264.com/www/delivery/ajs.php');
       var m3_r = Math.floor(Math.random()*99999999999);
       if (!document.MAX_used) document.MAX_used = ',';
       document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
       document.write ("?zoneid=7");
       document.write ('&amp;cb=' + m3_r);
       if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
       document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
       document.write ("&amp;loc=" + escape(window.location));
       if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
       if (document.context) document.write ("&context=" + escape(document.context));
       if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
       document.write ("'><\/scr"+"ipt>");
    //]]>--></script>
    <div class="bottomclosebox">
        <span class="closeltbutton"></span>
        <div style="clear:both; font-size:0px; line-height:0px; height:0px;"></div>
    </div>
</div>
<script type="text/javascript">
jQuery(function(){
	jQuery(".closeltbutton").click(function(){
		jQuery(".smallcamelbox").hide();
	});
});
</script>
<!-- 广告位：首页右下角骆驼广告结束 -->



<!--{ad/custom_449}-->

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F49299785f8cc72bacc96c9a5109227da' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- 链接自动推送 -->
<script type="text/javascript">
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<!-- //链接自动推送 -->

</body>
</html>
<!--{eval output();}-->
