<!--{subtemplate common/header_8264_new}-->
<!--[name]资讯频道页专用[/name]-->
<!--{eval $list = array();}-->
<!--{eval $isrightlist = $cat['catid']  == 201 ? 1 : 0;}-->
<!--{eval $cat['subs'] = 1}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->
<link href="http://static.8264.com/static/css/portal/list8264_style.css" rel="stylesheet" type="text/css">
<style id="diy_style" type="text/css"></style>

<div class="header">
	<div class="layout">
		<div class="icoHill">&nbsp;</div>
		<div class="headerL">
			<h1><span class="country">资讯频道</span></h1>
			<div class="site">
				<a href="$_G[config][web][portal]">首页</a>
				> <a href="http://www.8264.com/list/201">资讯频道</a>
			</div>
		</div>
		<div class="headerR">
			<div class="colNameList">
				<a href="http://www.8264.com/list/201/">综合资讯</a>
				<a href="http://www.8264.com/list/224/">登山资讯</a>
				<a href="http://www.8264.com/list/232/">攀岩资讯</a>
				<a href="http://bbs.8264.com/forum.php?mod=viewthread&tid=2101382">我要提供新闻</a>
			</div>
		</div>

	</div>
</div>
<div class="wrapper" style="padding:20px 0px 30px 0px;">
	<div class="listMain clearfix">
		<div class="listLayoutLeft shadowBlack">
			<div class="list_wz">
				<div class="mySite">
					<div style="float:left;">
						<!--{loop $cat[ups] $value}-->
						<a href="{echo getportalcategoryurl($value[catid])}" style="font-size:12px;">$value[catname]</a>
						<!--{/loop}-->
						&nbsp;&nbsp;
						<a href="{echo getportalcategoryurl($cat[catid])}" style="color:#2A85E8; font-weight:bold; font-size:12px">$cat[catname]</a>
					</div>
					<div style="float:right;">
						<a href="http://www.8264.com/" target="_blank">返回首页</a>
					</div>
				</div>
			</div>
			<div class="list">
				<!--{loop $list['list'] $value}-->
				<!--{eval
						$datearr1 = explode(" ",$value[dateline]);
						$datearr2 = explode("-",$datearr1[0]);
						$value['summary'] = str_replace("　　","",$value['summary']);
					}-->
				<div class="artListShortExp">
					<div class="date"> <b>$datearr2[1]月</b>
						<br>
						<span>$datearr2[2]</span>
					</div>
					<h2>
						<a href="portal.php?mod=view&amp;aid=$value[aid]" title='$value[title]' target='_blank'>$value[title]</a>
					</h2>
					<div class="author"> <em>作者：
							<!--{if $value[author]}-->
							$value[author]
							<!--{else}-->
							$value[username]
							<!--{/if}-->
							&nbsp;|&nbsp;来源于：
							<!--{if $value[from]}-->
							$value[from]
							<!--{else}-->
							8264
							<!--{/if}--></em>
						<!--{if $value['commentnum']}-->|
						<span class="comment">$value['commentnum']</span>
						人评论<!--{/if}-->
					</div>
					<div class="cont">
						<a target="_blank" href="portal.php?mod=view&amp;aid=$value[aid]">
							<img src="$value[pic]"></a>
						$value[summary]
					</div>
				</div>
				<!--{/loop}-->
			</div>
			<!--左侧文章列表循环结束-->
			<!--{if $list['multi']}-->
			<div class="listPageBox">
				<div class="pg">{$list['multi']}</div>
			</div>
			<!--{/if}-->
		</div>
		<div class="listLayoutRight">
			<div class="rightAd shadowBlack" style="margin-bottom:40px;">
			<!--{ad/custom_313}-->
			</div>
			<div class="sideRightBars shadowBlack">
				<div class="tab">
					<a>资讯点击排行</a>
				</div>
				<ul class="artListNor">
					<!--[diy=djph-box]-->
					<div id="djph-box" class="area"></div>
					<!--[/diy]-->
				</ul>
			</div>
			<div class="sideRightBars shadowBlack">
				<div class="tab">
					<a>资讯评论排行</a>
				</div>
				<ul class="artListNor">
					<!--[diy=plph-box]-->
					<div id="plph-box" class="area"></div>
					<!--[/diy]-->
				</ul>
			</div>
		</div>
	</div>
	<div class="wap_960">
		<div style="border-bottom: 1px solid #CCC; background: #FFF;">
			<iframe width="100%" scrolling="no" height="450" frameborder="0" marginwidth="0" marginheight="0" src="plugin.php?id=tuaninvoke:block2831
"></iframe>
		</div>
	</div>
</div>
<!--{subtemplate common/float_guide}-->
<!--{subtemplate common/ewm_l}-->
<!--{subtemplate common/footer_8264_new}-->
