<!--{subtemplate common/header_8264_new}-->
<!--[name]户外网址大全[/name]-->
<style id="diy_style" type="text/css"></style>
<style>
/*清除浮动开始*/
.linktitle:after { content: ""; display: block; clear: both; visibility: hidden; }
.linktitle { zoom: 1; }
/*清除浮动结束*/
.linkwarpten{ width:980px; margin:auto; font-family:"Microsoft YaHei",Tahoma,Helvetica,SimSun,sans-serif; color:#555; padding-bottom:20px;}
.linktitle{ padding:20px 0px 10px 0px;}
.linktitle span{ float:left;}
.sm { border-bottom: #fff solid 1px; border-top: #D9E0D5 solid 1px; }
.sm_n { border-top: #fff solid 1px; border-bottom: #D9E0D5 solid 1px; line-height: 1.5; font-size: 13px; padding: 10px 0px 10px 10px;}
.sm_n b{ display:block; padding:10px 0px 0px 0px;}
.bigtitle{ font-size:16px; padding:8px 0px; border-bottom:#CCC solid 1px; border-radius:3px; font-weight:bold; text-indent:12px; color:#6E8FB5; margin:10px 0px; }
.linklist b{ display:block; margin:0px 10px 10px 0px; font-size:14px; text-indent:12px;}
.linklist a{ display: inline-block; margin:0px 10px 10px 0px; font-size:14px; color:#555; text-decoration:none; text-indent:12px;}
.linklist a:hover{  font-size:14px; color:#6E8FB5;  }
</style>
<div class="header">
	<div class="layout">
		<div class="icoHill">&nbsp;</div>
		<div class="headerL">
			<h1><span class="country">户外网址大全</span></h1>
			<div class="site">
				<a href="$_G[config][web][portal]">首页</a>
				> <a href="http://www.8264.com/list/885">户外网址大全</a>	
			</div>			
		</div>		
		<div class="headerR">
			<div class="colNameList">
				
			</div>
		</div>
		
	</div>
</div>

<div class="warpten clearfix" id="pic_list">
	<div class="linkwarpten">
		<div class="linktitle">
			<span>
				<!-- Baidu Button BEGIN -->
				<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
					<a class="bds_tsina"></a>
					<a class="bds_qzone"></a>
					<a class="bds_tqq"></a>
					<a class="bds_renren"></a>
					<span class="bds_more"></span>
					<a class="shareCount"></a>
				</div>
				<!-- Baidu Button END -->
			</span>
		</div>
		<!--[diy=linkdiy]-->
		<div id="linkdiy" class="area"></div>
		<!--[/diy]-->
	</div>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!--主体结束-->
<!--{subtemplate common/footer_8264_new}-->