@charset "gb2312";
body,ul,li,form,label,h1,h2,h3,h4,h5,h6,p,div,dl,dd,dt,button { margin:0; padding:0;}
img,button { border:0;}
ul,ul li,dl ,dt,dd { list-style:none;}
em {font-style:normal;}



input,select,body { font-family:Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
h2 { font-size:14px;}
.fl { float:left}
.fr { float:right}
.clearfix,#qiaoqiao_ls dl,#qiaoqiao_cate ul,#qiaoqiao_content{zoom:1;}
.clearfix:after,#qiaoqiao_ls dl:after,#qiaoqiao_cate ul:after,#qiaoqiao_content:after{content:"\0020";display:block;clear:both;height:0;}
ul.clearfix li{ float:left;}


.red { color:#f00;}
.green{ color:#178517;}
.blue { color:#00F;}
.black { color:#000;}
.recommend { display:none;}

a { text-decoration:none; color:#000; cursor:pointer;}

#qiaoqiao-wrap { margin: 0 auto; font-size:14px; line-height:1.5em; color:#000;}
#qiaoqiao_bm ul,#qiaoqiao_bm li, #set li,#qiaoqiao_sm li ,#qiaoqiao_q_int,#qiaoqiao_qs b,.tg-ms,#cal .clock,#qiaoqiao_qs-btn,#skinlist a,#qiaoqiao_topsite em,.setting a,#settingBox .h2,#qiaoqiao_cate ul#tool-tab,#tool-tab li,.tsbox .arrow,#qiaoqiao_q_int .button-wrap{ background:url(images/images.gif?20101101) no-repeat;}
#qiaoqiao_sb,#header .qiaoqiao_box,#top,#qiaoqiao_q_int{ background:url(images/repeat.gif) repeat-x;}



.qiaoqiao_box,#tool-tab,#qiaoqiao_bm ul,#top{ border:1px solid #ace;}
#qiaoqiao_cate li,#qiaoqiao_ls dl,#qiaoqiao_fm li,#qiaoqiao_qs-result li {line-height:30px; height:30px;}

	#qiaoqiao_date {   font-size:12px; text-align:left; line-height:21px;}
			#qiaoqiao_date .date a{ font-weight:bold; color:#015BAB; font-size:12px;} 
	
			
.qiaoqiao_hot3 a{margin:0 5px; font-size:12px;}
.qiaoqiao_hot,#qiaoqiao_hot2 {line-height:28px; font-size:12px;}
.qiaoqiao_hot a,#qiaoqiao_hot2 a {margin:0 5px;}
#qiaoqiao_hot2 { text-align:center; line-height:24px;}
#qiaoqiao_hot2 a { color:#015BAB}


#qiaoqiao_search {}
	#qiaoqiao_ex,#qiaoqiao_sm li { height:21px; line-height:21px; }
	#qiaoqiao_ex { float:right; font-size:12px;}
		#qiaoqiao_ex span{ padding-left:5px;}
		#qiaoqiao_ex a.fb { background-position:0 -268px; color:#666;}
		#qiaoqiao_ex a.desk { background-position:0 -242px}
		#qiaoqiao_ex a.exTitle,#qiaoqiao_ex a.saishi { background:url(images/extitle.gif) no-repeat left center; color:#f00; padding-left:18px;}
		#qiaoqiao_ex a.saishi { background-image:url(images/saishi.gif); color:#178517}
	#qiaoqiao_sm {}
		#qiaoqiao_sm { margin-left:35px;}
		#qiaoqiao_sm ul,#qiaoqiao_sm li { float:left; display:inline;}
		#qiaoqiao_sm li { background-position:-64px -99px;cursor:pointer; margin:0 1px; font-size:12px; text-align:center; width:62px;}
		#qiaoqiao_sm li.active { background-position:0 -99px; font-weight:bold; color:#fff; height:26px; margin-bottom:-6px; position:relative;}

		#ms_pu li{ position: relative; z-index:2;}
		.tg-ms { display:block; background-position:42px -480px; text-align:left; padding-left:10px; margin-left:2px; position:relative; top:999}
		#ms { position:absolute; left:0; width:60px; border:1px solid #ccc; background:#fff; border-bottom-width:2px;}
			#ms a { display:block;}
		
	#qiaoqiao_sb { background-position:0 -240px;}
	.qiaoqiao_search-box{background:#fff;border:1px solid #B9D4E2;}

		
		.qiaoqiao_sf {width:100%;background-position:0 -753px; overflow:hidden;padding-left:20px;margin-bottom:5px;}
		.qiaoqiao_sf .int {width:60%; line-height:21px; height:21px; padding:4px 3px; *padding-bottom:3px; margin:0 6px 0 4px; font-family:Arial; font-size:16px;}
		.qiaoqiao_sf .int:focus {outline: none;}
			.qiaoqiao_sf .searchint{ width:88px; height:32px; line-height:28px;}
			.qiaoqiao_sf a img,.qiaoqiao_sf .searchint,.qiaoqiao_sf .int { vertical-align:middle; margin-top:7px; }
			.qiaoqiao_sf a img { margin-top:6px; vertical-align:bottom !important; *vertical-align:top;}
			#s_int { background:none;}
				#qiaoqiao_suggest { width:350px; *width:352px;  border:1px solid #666; background:#fff; position:absolute; margin: 40px 0 0 130px; z-index:10;}
					#qiaoqiao_suggest li { cursor:default; height:22px; line-height:22px;color:#000;  padding:0 5px;}
					#qiaoqiao_suggest .close { text-align:right; padding:0 5px;}
					#qiaoqiao_suggest .close a { color: #36c;}
		.qiaoqiao_sf .qiaoqiao_ctrl { font-size:12px; padding-left:105px;}
		.qiaoqiao_sf .qiaoqiao_ctrl input,.qiaoqiao_sf .qiaoqiao_ctrl label { cursor:pointer;}
		
		.qiaoqiao_sw {   height:100%; width:100%; overflow:hidden; padding:0 8px; background-position:right -819px;text-align:center;}
			.qiaoqiao_sw a { color:#000; font-size:14px; font-family:'\5b8b\4f53'; margin:0 6px;}
		.qiaoqiao_sw1 {  height:100%; width:100%; overflow:hidden; padding-right:0 8px; background-position:right -819px;text-align:center;}
			.qiaoqiao_sw1 a { color:#000; font-size:14px; font-family:'\5b8b\4f53'; margin:0 6px;}
			
		

#qiaoqiao_content { margin-bottom:5px;}
	#qiaoqiao_cate {  float:left; margin-right:5px; background:#FAFCFD;}
		#qiaoqiao_cate h2,#tool-tab { padding-left:16px; height:28px; line-height:28px; color:#015BAB;}
		#qiaoqiao_cate h2 { height:26px; line-height:26px;}
		#qiaoqiao_cate ul { padding:0 0 5px 18px;}
		#qiaoqiao_cate li { float: left; width:31%; padding-left:2px; height:30px;overflow:hidden}
	#qiaoqiao_main { float:left; width:100%;}
		#qiaoqiao_bm .rc-tp { z-index:9;}
		#qiaoqiao_bm li,#tool-tab li { background-position:right 0;color:#015BAB;}
		#qiaoqiao_bm li{ cursor:pointer; height:28px; line-height:28px; width:75px; text-align:center;}
		#qiaoqiao_bm li.active,#tool-tab li.active{position:relative; margin:0 0 -1px -1px; font-weight:bold; }
		#qiaoqiao_bm li.active { width:76px; height:29px; background-position:0 -644px; }
		#qiaoqiao_bm li#qiaoqiao_bm-def.active { width:75px; margin-left:0;background-position:right -28px;}
		#qiaoqiao_bm ul ,#qiaoqiao_cate ul#tool-tab { background-position:0 -60px; background-repeat:repeat-x;}
		#qiaoqiao_bm ul { border-bottom:none; height:29px;}
	
		#qiaoqiao_qs { height:24px; float:right; margin-top:-27px; overflow:hidden; width:151px;}
			#qiaoqiao_qs b{ height:23px; width:3px; overflow:hidden; background-position:-30px -325px;}
			#qiaoqiao_qs b.r { background-position:-33px -325px; margin-right:5px;}
			
			#qiaoqiao_q_int,#qiaoqiao_q_int input,#qiaoqiao_qs b,#qiaoqiao_q_int { float:left;}
			#qiaoqiao_q_int{  background-position: 0 -208px}
			#qiaoqiao_q_int .button-wrap {height:23px; overflow:hidden; width:138px;background-position: -15px -354px}
			#qiaoqiao_q_int input, #qiaoqiao_q_int input:focus { font-family:Arial; float:left; outline:none; margin:0; border:none; background:none; font-size:12px; padding:4px 2px; width:122px; *line-height:12px;*margin-top:2px;line-height:1; }
			#qiaoqiao_q_int.n input { color:#666; *margin-top:3px;}
			#qiaoqiao_qs-btn { height:18px; width:17px; overflow:hidden; position:absolute; margin: -20px 0 0 120px; background-position:0 -291px; background-color:#fff;}
			a#qiaoqiao_qs-btn:hover { background-position:0 -331px}
			
			#qiaoqiao_qs-result {background-color:#fff; top:0; position:absolute; height:272px; width:763px; overflow:hidden; padding:2px 5px 0;}
			#qiaoqiao_qs-result ul { height:272px;}
			#qiaoqiao_qs-result a span { color:#f00;}
			#qiaoqiao_qs-result a:hover span { color:#fff;}
			
		#qiaoqiao_bb {}
			#qiaoqiao_bb .qiaoqiao_box {  border-top:none; overflow:hidden; position:relative; z-index:1;}
			#qiaoqiao_fm {padding:4px 0 0;}
			#qiaoqiao_fmsite li,#qiaoqiao_qs-result li { overflow:hidden; width:16.6%; text-align:center;}
			#qiaoqiao_topsite li { position:relative; width:16.6%; text-align:center;}
			#qiaoqiao_topsite em { display: inline-block; width:16px; height:16px;zoom:1; vertical-align:middle; padding:7px 0; margin-left:5px; cursor:pointer;}
				#qiaoqiao_topsite em.baidu { background-position:-84px -511px;}
				#qiaoqiao_topsite em.n163 { background-position:0 -511px;}
				#qiaoqiao_topsite em.sohu { background-position:-21px -511px;}
				#qiaoqiao_topsite em.qq { background-position:-63px -511px;}
				#qiaoqiao_topsite em.taobao { background-position:-107px -511px;}
				#qiaoqiao_topsite em.sina { background-position:-45px -511px;}
				
				.tsbox { border:2px solid #A6C9EE; position:absolute; background-color:#fff; padding:1px; right:10px; top:30px; display:none;}
					.tsbox a{ display:block; line-height:24px; width:90px; text-align:center;}
					.tsbox .arrow{ position:absolute; height:5px; width:9px; overflow:hidden; top:-6px; right:5px; background-position:-140px -111px;}
			.loading { font-size:12px; text-align:center; width:100%; height:272px; line-height:302px; background:url(images/loading.gif) center center no-repeat;}
	
		#qiaoqiao_ls .qiaoqiao_box { padding:2px 0;}
		/*#qiaoqiao_ls dl { font-family:'\5b8b\4f53'; font-size:13px}*/
		#qiaoqiao_ls dl,#qiaoqiao_ls dt,#qiaoqiao_ls dd{ height:30px; line-height:30px; text-align:center; overflow:hidden; }
		#qiaoqiao_ls dl.alt { background:#f1f7fc;}
		#qiaoqiao_ls dt,#qiaoqiao_ls dd { float:left;}
		#qiaoqiao_ls dt{ width:60px; text-align:center;}
		#qiaoqiao_ls dd.m { width:60px; text-align:right;}
		#qiaoqiao_ls dt a { color:#970200;}
		#qiaoqiao_ls dd.l { width:83.8%;overflow:hidden}
		dd.l a { margin:0 12px;*margin:0 10px;}
		#qiaoqiao_ls dd.m { font-size:12px;}
		#qiaoqiao_ls dd.m a{ margin-left:1px;}
		.qiaoqiao_cool {float:left;text-align:left;width:14.2%;height:28px;  overflow:hidden;}
#qiaoqiao_meta { font-size:12px;}

	#qiaoqiao_meta .qiaoqiao_box { padding:4px 8px;}
	#qiaoqiao_meta li,#qiaoqiao_meta li span { height:24px; overflow:hidden;line-height:24px;}
	#qiaoqiao_meta li span { display:block; *float:right; text-align:right; margin-top:-24px; margin-right:3px; *margin-right:2px;}
	#qiaoqiao_meta li a { margin:0 12px 0 0;}
	#qiaoqiao_meta li strong a {color:#970200; font-weight:normal}
	#qiaoqiao_meta li span a,#qiaoqiao_meta li strong a { margin-right:0}
	

#fs { }
	#fs .qiaoqiao_box { background:#EAF4FF; border-top:none; padding:4px;}
		#f_label { line-height:28px; padding-left:4px; *line-height:32px;}
		#f_int input{ width:280px; font-size:16px; padding:4px; *padding:3px 2px; margin-right:5px;height:18px; *height:20px;}
		#f_btn input { height:30px; *height:32px; font-size:14px; width:88px; text-align:center; margin-right:5px;}
		#f_radio { float:left; display:inline; margin-top:-28px; margin-left:450px; line-height:28px; *margin-top:-30px; _margin-top:-27px;}
		#f_radio label { margin:0 10px;}
		#f_radio input,#f_radio label{ cursor:pointer;}


/*hover*/
.qiaoqiao_sw a:hover { text-decoration:underline ;color:#f00;} /*ËÑË÷¹Ø¼ü´Êhover*/

#qiaoqiao_fm a,#qiaoqiao_meta a,.qiaoqiao_hot a,#qiaoqiao_ls a { padding:1px;}
#qiaoqiao_fm a:hover,#qiaoqiao_meta a:hover,#qiaoqiao_cate a:hover,#qiaoqiao_ls a:hover,#ms a:hover,#footer .link a:hover,#qiaoqiao_qs-result a:hover,.qiaoqiao_hot a:hover,#qiaoqiao_suggest .close a:hover,#qiaoqiao_suggest li.hover { background-color:#36c; color:#fff;}
#qiaoqiao_qs-result a:hover em { color:#fff;}
#qiaoqiao_hot2 a:hover { background:#ff0; color:#f00;}

html.right #qiaoqiao_cate { margin-right:0; margin-left:5px; float:right;}

/*body:nth-of-type(1) #s_int input {
	padding:4px 0 4px 3px;
}
body:nth-of-type(1) #f_btn input {
	height:33px;
}*/


#qiaoqiao_cate1 {}
#qiaoqiao_cate1 h3 { padding:0 10px; height:26px; line-height:26px; border-left:none; border-right:none;color:#333;}
#qiaoqiao_cate1 h3{ color: #000;border-bottom:1px solid #B9D4E2;border-top:1px solid #B9D4E2; background:#FAFCFD url(images/titlebg.png)}

#qiaoqiao_cate1 { border-top: none}
#qiaoqiao_cate1 ul { margin: 5px; }
#qiaoqiao_cate1 li { margin: 0px 1px 0 0; padding-left: 22px; width:164px; overflow:hidden; white-space:nowrap;text-overflow:ellipsis; float: left; height: 30px; line-height: 30px; }
#qiaoqiao_cate1 li a:hover { color:#F00;}
.qiaoqiao_bd1 { border:1px solid #B9D4E2;background:#FFF}

#index_nv a{ font-size:12px;}
#index_nv td{ padding-left:10px; text-align:right}
#index_nv img{ padding-right:2px;}
#qiaoqiao_content table td { vertical-align:top;}