/* 论坛精选 list_881 开始 */
body { color: #333; font-size: 12px; font-family: "Microsoft Yahei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti; }
a { text-decoration: none; color: #555; }
a:hover {text-decoration: none;}
em { font-style: normal; }
li { list-style: none outside none; }
div,ul,h2{ margin:0; padding:0;}
/* Global 全局样式 End */
/* Clear Start */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:before, .clearfix:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/* Clear End */
.mian_list{ width:1200px; padding-left:2px;}
.listPageBox { text-align:right;}
.listPageBox .pg { margin: 0 15px 10px; }
.listPageBox .pg a, .listPageBox .pg strong { float: left; display: block; font-size: 15px; font-weight: 400; color: #999999; height: 24px; padding: 6px 7px 4px; margin-left: 5px; font-family: "Microsoft YaHei"; background:none; border:0; }
.listPageBox .pg a:hover, .listPageBox .pg strong { border:0;border-bottom: 2px solid #00A6FC; color: #141414; text-decoration: none; background:none; }
/* 分页结束*/
.wap_960{ width:988px; margin:auto; overflow:hidden;}
.glxz_tit h2 {font: bold 20px 微软雅黑; margin:10px 5px;}
.glxz_tit h2 .tips { font-size: 13px; margin-left: 20px; font-weight: 700;}
.list_box { box-shadow: 0 2px 2px #D4D4D4; background: white; margin: 10px 38px 10px 2px; border-radius: 5px; float:left; text-align:center; width:215px;}

.list_boxImg img { width:215px; height:290px;}
.list_boxTxt {font-weight:600; border-bottom:1px solid #ccc; padding-bottom:8px; margin-top:8px; font-size:14px; display:none;}
.list_boxTxt a { display:block; color:#3C9DFE;}
.list_boxBtn { padding:10px 0;}
.list_boxBtn a { display:block; width:103px; height:34px; background:url(/template/8264/css/moban/glxz/images/xzgl_Bg.png) 0 -71px no-repeat; margin:auto;}
.list_boxBtn a:hover { display:block; width:103px; height:34px; background:url(/template/8264/css/moban/glxz/images/xzgl_Bg.png) 0 0 no-repeat;}
.list_boxShu { padding-bottom:10px; color:#a1a1a1;}
.list_boxShu span { color:#3c9dfe;}

